{
  "printWidth": 120,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
