<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta property="og:title" content="Metsavennad" />
    <meta property="og:url" content="https://www.metsavennad.ee" />
    <meta property="og:image" content="https://www.metsavennad.ee/images/misso/maletamas.jpg" />
    <meta property="og:description" content="Metsavennad ja nende saatused Võrumaa lõunaosas 1944-1953." />

    <title>Metsavennad - Misso</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/vendor/lightgallery/css/lightgallery-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />

    <script defer src="/js/alpine.min.js"></script>
    <script src="/js/lightgallery.bundle.min.js"></script>
  </head>
  <body>
    <nav x-data="{ mobileOpen: false }" class="fixed top-0 left-0 right-0 bg-nav-bg text-white z-50">
      <div class="relative px-4">
        <!-- Brand - positioned left -->
        <a href="/" class="nav-brand font-semibold text-lg hover:text-gray-300">Metsavennad</a>

        <div class="nav-wrapper flex justify-between items-center h-12">
          <!-- Spacer for mobile (where brand would be) -->
          <div class="md:hidden"></div>

          <!-- Mobile hamburger -->
          <button @click="mobileOpen = !mobileOpen" class="md:hidden p-2 hover:bg-nav-bg rounded">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                x-show="!mobileOpen"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
              <path
                x-show="mobileOpen"
                x-cloak
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>

          <!-- Desktop nav -->
          <ul class="hidden md:flex space-x-6 items-center text-base">
            <li><a href="/misso/sissejuhatus" class="hover:text-forest-light">Sissejuhatus</a></li>
            <li><a href="/misso/lugu" class="hover:text-forest-light">Lugu</a></li>
            <li><a href="/misso/pildid" class="hover:text-forest-light">Pildid</a></li>
            <li><a href="/misso/kaardid" class="hover:text-forest-light">Kaardid</a></li>
            <li><a href="/misso/isikud" class="hover:text-forest-light">Isikud</a></li>
            <li><a href="/misso/rjm" class="hover:text-forest-light">RJM</a></li>
            <li><a href="/misso/agendid" class="hover:text-forest-light">Agendid</a></li>
            <li><a href="/misso/malestus" class="hover:text-forest-light">Mälestus</a></li>
            <li><a href="/misso/lingid" class="hover:text-forest-light">Lingid</a></li>
          </ul>
        </div>

        <!-- Mobile nav -->
        <div x-show="mobileOpen" x-transition x-cloak class="md:hidden pb-4">
          <ul class="space-y-2 text-base">
            <li>
              <a @click="mobileOpen = false" href="/misso/sissejuhatus" class="block py-2 hover:text-forest-light">
                Sissejuhatus
              </a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/lugu" class="block py-2 hover:text-forest-light">Lugu</a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/pildid" class="block py-2 hover:text-forest-light">Pildid</a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/kaardid" class="block py-2 hover:text-forest-light">
                Kaardid
              </a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/isikud" class="block py-2 hover:text-forest-light">Isikud</a>
            </li>
            <li><a @click="mobileOpen = false" href="/misso/rjm" class="block py-2 hover:text-forest-light">RJM</a></li>
            <li>
              <a @click="mobileOpen = false" href="/misso/agendid" class="block py-2 hover:text-forest-light">
                Agendid
              </a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/malestus" class="block py-2 hover:text-forest-light">
                Mälestus
              </a>
            </li>
            <li>
              <a @click="mobileOpen = false" href="/misso/lingid" class="block py-2 hover:text-forest-light">Lingid</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container bg-white">{{{body}}}</div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="/js/region-map.js"></script>
  </body>
</html>
