<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <meta property="og:title" content="Rõuge metsavennad" />
    <meta property="og:url" content="https://www.metsavennad.ee/rouge" />
    <meta
      property="og:image"
      content="https://www.metsavennad.ee/images/rouge/henn_kirbits_helmut_sarapuu.jpg"
    />
    <meta
      property="og:description"
      content="Rõuge ja Viitina piirkonna metsavenna Auleid Toomsaluga seostatud inimesed ja sündmused."
    />

    <title>Metsavennad - Rõuge</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" />
    <link
      rel="stylesheet"
      href="/vendor/justified-gallery/justified-gallery.css"
    />

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/justified-gallery/justified-gallery.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
      !function(t,e){var
      o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function
      g(t,e){var
      o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var
      u=e;for(void
      0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var
      e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+="
      (stub)"),e},u.people.toString=function(){return u.toString(1)+".people
      (stub)"},o="init capture register register_once register_for_session
      unregister unregister_for_session getFeatureFlag getFeatureFlagPayload
      isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment
      getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys
      getActiveMatchingSurveys renderSurvey canRenderSurvey identify
      setPersonProperties group resetGroups setPersonPropertiesForFlags
      resetPersonPropertiesForFlags setGroupPropertiesForFlags
      resetGroupPropertiesForFlags reset get_distinct_id getGroups
      get_session_id get_session_replay_url alias set_config
      startSessionRecording stopSessionRecording sessionRecordingStarted
      captureException loadToolbar get_property getSessionProperty
      createPersonProfile opt_in_capturing opt_out_capturing
      has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing
      debug getPageViewId captureTraceFeedback captureTraceMetric".split("
      "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_yQhy5MsO2GL4VLTaGrNjthV15fDXXQOD4gkMBPatFzV', {
      api_host: 'https://us.i.posthog.com', person_profiles: 'identified_only',
      // or 'always' to create profiles for anonymous users as well })
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button
          type="button"
          id="navbar-collapse"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#metsaven-navbar-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a target="_self" class="navbar-brand" href="/">Metsavennad</a>
      </div>
      <div class="collapse navbar-collapse" id="metsaven-navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- Sissejuhatus -->
          <li>
            <a href="/rouge/sissejuhatus">Sissejuhatus</a>
          </li>
          <!-- Olud -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Olud
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/rouge/metsavennad">Metsavennad</a></li>
              <li><a href="/rouge/parteilased">Parteilased</a></li>
            </ul>
          </li>
          <!-- Elukäigud ja sündmused -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Elukäigud ja
              sündmused
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/rouge/elukaigud_metsaelu_alguseni">Elukäigud
                  metsaelu alguseni</a></li>
              <li><a href="/rouge/sundmused_uurimistoimikutes">Sündmused
                  uurimistoimikutes</a></li>
              <li><a href="/rouge/elukaigud_metsaelu_lopuni">Elukäigud metsaelu
                  lõpuni</a></li>
            </ul>
          </li>
          <!-- RJM ja propaganda -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">RJM ja propaganda
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/rouge/julgeoleku_tegutsemine">Julgeoleku tegutsemine</a></li>
              <li><a href="/rouge/propaganda_vs_toimikud">Propaganda vs toimikud</a></li>
            </ul>
          </li>
          <!-- Muu -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Muu
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/rouge/pildid">Pildid</a></li>
              <li><a href="/rouge/kaardid">Kaardid</a></li>
              <li><a href="/rouge/isikud">Isikud</a></li>
              <li><a href="/rouge/lingid">Lingid</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row" style="background: #fff">
        <div class="col-xs-12">
          {{{body}}}
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () { $('.dropdown-toggle').dropdown();
      $(".dropdown-menu li a").click(function(event) { // check if window is
      small enough so dropdown is created
      $(".navbar-collapse").removeClass("in").addClass("collapse"); });
      $('.magnific-popup-image').magnificPopup({ type: 'image' // other options
      }); $('.magnific-popup-gallery').magnificPopup({ delegate: 'a', type:
      'image', gallery:{ enabled:true } });
      $('.image-full-size').magnificPopup({ type: 'image', callbacks: { resize:
      changeImgSize, imageLoadComplete:changeImgSize, change:changeImgSize } });
      $("#pictures-page-gallery").justifiedGallery({rowHeight:150,
      captions:false}); }); function changeImgSize(){ var img =
      this.content.find('img'); img.css('max-height', '100%'); img.css('width',
      'auto'); img.css('max-width', 'auto'); }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-98448877-1', 'auto'); ga('send', 'pageview');

    </script>
  </body>
</html>