---
layout: layouts/rouge-layout.liquid
permalink: /rouge/aksel_sprenki_paevik/
---
<h1>Aksel Sprenki päevik</h1>

<p class="p"><a href="/rouge/aksel_sprenki_paevik_umberkirjutis">Ümberkirjutatud kujul lugemiseks vajuta siia</a></p>

<div class="lg-gallery">
  <img src="/images/rouge/paevik_1.jpg" alt="Leht 1">
  <img src="/images/rouge/paevik_2.jpg" alt="Leht 2">
  <img src="/images/rouge/paevik_3.jpg" alt="Leht 3">
  <img src="/images/rouge/paevik_4.jpg" alt="Leht 4">
  <img src="/images/rouge/paevik_5.jpg" alt="Leht 5">
  <img src="/images/rouge/paevik_6.jpg" alt="Leht 6">
  <img src="/images/rouge/paevik_7.jpg" alt="Leht 7">
  <img src="/images/rouge/paevik_8.jpg" alt="Leht 8">
  <img src="/images/rouge/paevik_9.jpg" alt="Leht 9">
  <img src="/images/rouge/paevik_10.jpg" alt="Leht 10">
  <img src="/images/rouge/paevik_11.jpg" alt="Leht 11">
  <img src="/images/rouge/paevik_12.jpg" alt="Leht 12">
  <img src="/images/rouge/paevik_13.jpg" alt="Leht 13">
  <img src="/images/rouge/paevik_14.jpg" alt="Leht 14">
  <img src="/images/rouge/paevik_15.jpg" alt="Leht 15">
  <img src="/images/rouge/paevik_16.jpg" alt="Leht 16">
  <img src="/images/rouge/paevik_17.jpg" alt="Leht 17">
  <img src="/images/rouge/paevik_18.jpg" alt="Leht 18">
  <img src="/images/rouge/paevik_19.jpg" alt="Leht 19">
  <img src="/images/rouge/paevik_20.jpg" alt="Leht 20">
  <img src="/images/rouge/paevik_21.jpg" alt="Leht 21">
  <img src="/images/rouge/paevik_22.jpg" alt="Leht 22">
  <img src="/images/rouge/paevik_23.jpg" alt="Leht 23">
  <img src="/images/rouge/paevik_24.jpg" alt="Leht 24">
</div>
