---
layout: layouts/rouge-layout.liquid
permalink: /rouge/elukaigud_metsaelu_lopuni/
---
<h1>Metsavendade elukäigud metsaelu lõpuni</h1>

<h2>Auleid Toomsalu</h2>

<p>
  Pärast haarangut Pulli talus Edgar Pettai juures 23. juulil 1949 pidas Toomsalu õigemaks salgana tegutsemine peatada
  ja tegutseda üksteisest sõltumatult. Ise suundus ta esialgu ühte punkrisse soo serval, kus tema kui haavatu eest
  kandsid hoolt Simo Pihlapuu ja Heino Uibo. Peagi lahkus ta sealt edasi Rõugesse August Kõivu juurde. Oktoobris tegid
  talle pakkumise enda juures varjata Eduard Pechter koos abikaasa Bertaga (Eduard Pechter oli kompartei liige ja
  kolhoosi esimees). Nende majas viibis samal ajal veel teinegi varjaja.
</p>

<blockquote>
  Pärast ema lahkumist tuli tuppa Pechter Eduard ja tema kannul võõras. Tuues kaasa 0,5l viina, asetas ta selle lauale
  ja andis mulle käe, öeldes oma nime, kuid lausus seda nii kiiresti, et ma ei saanud aru. Ka mina andsin kätt ja
  ütlesin: „Nime mul ei ole“. Pärast sellist tutvust istus võõras laua taha minu vastu, Pechter Eduard külje peale.
  Võõras avas pudeli ja pakkus juua. Pechter Eduard tõi sakuskat ja sugenes jutuajamine päevakajalistel teemadel. Mina
  ei huvitunud võõrast ega võõras minust. Jutuajamise käigus sain aru, et mees töötab turbatöödel Lehtses, kus elab
  Pechter Berta õde Ella (s Austa). Mulle tundus kahtlane, et võõras püüdis end jutus näidata lihttöölisena, kuigi samal
  ajal oli ilmne, et ta oli haritud ja välimuselt kultuurne inimene.
  <br>
  Sama päeval pärastlõunal teatas Pechter Berta mulle, et ta on kohalikelt elanikelt kuulnud, et metsavendadele on
  oodata haarangut. Sellest olevat purjuspäi rääkinud hävituspataljonlane Kõiv Armor. Pechter Berta soovitas mul metsa
  varjuda, sest „kui sind kinni võetakse, siis see pole midagi, aga kui võõras arreteeritakse, siis läheb kinni sadu
  inimesi“.
</blockquote>

<p>
  Pechteri juurest edasi liikudes vahetas Toomsalu sageli kohta, varjates end Viitina ümbruses Saia Emilie, Markvardt
  Ida, Lepp Alfredi, Kirbits Edgari, Leies Minna jt juures. Toiduga varustasid Auleidi ta enda vanemad. Konrad Pärlile
  viis Auleid pärast Simo Pihlapuu hukkumist tema raadiovastuvõtja Rodina. 1949. a lõpuni korraldasid metsavennad veel
  nii kaupluserööve kui kallaletunge, 1950. a oli tegutsemise osas vaikne, hoiduti tegutsemisega enesele tähelepanu
  tõmbamast.
  <br>
  Üksildases paigas Papimäe talus elav Alma Kibena (48a) oli Toomsalu sugulane, tema isa juures oli Toomsalu Auleid
  olnud nooremana 2 aastat sulaseks. Alma Kibena oli paljude metsavendade abistaja, tema Saksa armeesse mobiliseeritud
  mees oli surnud pärast sõda sõjavangilaagris. Auleid Toomsalu, kes oli varjanud end jaanuaris Minna Leiesi (73a)
  juures Palli külas, liikus 7. veebruaril sealt edasi Alma Kibena poole. Ümbruskonnas leidus äraandjaid, kes kandsid
  sellest ette võõrvõimu organitele. Agent "Tammiste" ja "Vähi" pealekaebustest said alguse enam kui poolesaja inimese
  kannatused.
</p>

<p>
  Vastavalt agentidelt saadud andmetele viis ENSV RJM operatiivgrupi ülem major Mägi koos pataljonikomandöri asetäitjaga
  poliitalal major Nazaroviga allüksusest 3205 ja sõjaväelaste grupiga läbi tšekistlik-sõjaväelise operatsiooni Toomsalu
  kinnipidamiseks. 9. veebr. 1951 kell 9 hommikul tungisid sõdurid Alma Kibena tallu Papimäel Luutsniku k/n. Toomsalu
  saadi seal kätte ja temalt võeti kinnivõtmisel ära automaat PPS 4 salvega, milles olid lahingpadrunid. Toomsalu
  arreteerimisorder väljastati 19. veebruaril 1951. a, 10 päeva pärast tegelikku kinnivõtmist 9. veebruaril 1951.
</p>

<p>
  Sel ajal end metsas varjavale Aaro Pihlapuule oli Auleid Toomsalu kinnikukkumine selle üksikasjades teada juba 3 päeva
  hiljem, 12. veebruaril 1951. Siis oli ka selge, et ülekuulamistel oli Toomsalu lõhki löödud ja temalt oli kätte saadud
  palju abistajate ja metsavendade nimesid. Kõik nimed olid julgeolekule ette teada aastaid kogutud informaatorite
  ettekannetest.
  <br>
  Aaro Pihlapuu kirjeldab oma päevikus ka Toomsalu kinnivõtmist. Alma Kibena oli läinud hommikul lauda juurde, kui
  julgeolek alustas talule haarangut. Sõdurid tungisid majja, kus Kibena tütar taganes nurka, Auleid peitis end sängi
  alla (või otsa taha). Esimese hooga haarangulised teda ei leidnudki ja lahkusid mujale, kuid üks venelane oli jäänud
  tuppa vargile, kummutisahtleid segi pöörama (kust ta varastas Alma Kibena kuldkäevõru). Mingil hetkel märkas ta kedagi
  voodi varjus ja kutsus ka teised tagasi. Automaadikaba löök tabas Toomsalut näkku. Koolilapsed nägid seotud kätega
  verise näoga metsameest autokastis ära viidavat.
</p>

<p>Sama aasta oktoobris mõistis sõjatribunal Auleid Toomsalu surma.</p>

<h2>Valter Pallo</h2>

<p>
  Valter Pallo koos Paul Liitiga jäid pärast Pulli talus toimunud haarangut elama metsa punkrisse.
  <br>
  1949. a varjus Viitina lähedal metsa ka Pallosse kiindunud Valve Lepp, kelle venna Viidrik Lepa juures oli Valter
  Pallo end varjanud 1948. a talvel. Koos läksid nad edasi Kellamäe soo (praegu Luhasoo) Läti ossa, kuhu ehitasid punkri
  ja kus varjasid kahekesi kuni 1949. a lõpuni.
  <br>
  Valve Lepa ja Valter Pallo punkrist u 600 m kaugusel asus Heino Uibo ja Linda Tatriku punker, kus viimased elasid koos
  oma kevadel sündinud pojaga. Valter Pallo kaaslane jäi samuti lapseootele ja lahkus 1950. a alguses seetõttu punkrist
  tagasi inimasustusse, varjates end edasi Palli külas Juhansoni juures.
  <br>
  Veebruaris 1950, ajal kui Valter Pallo viibis üksinda oma Luhasoo punkris, tehti punkrile haarang. Sõdureid
  õigeaegselt silmates varjus Pallo metsa enne, kui teda märgati. Ta põgenes üle soo. Järgnenud pakaseline öö tuli tal
  veeta ilma varjualuseta, lumes lahtise taeva all. Põgenemisel soos märjaks saanud jalad külmusid läbi. Hommikul läks
  ta metsast välja Kellamäele tallu, mille peremeheks oli Heino Uibo hea sõber Eduard Allas. Heino Uibo oli seda meest
  iseloomustanud kui väga usaldusväärset inimest.
  <br>
  Nii saabuski Valter Pallo 1950. a veebruaris Eduard Allase poole, kes elas koos tütre Nataliaga, kes töötas kohalikus
  medpunktis. Natalia kirjeldas:
</p>

<blockquote>
  Tuli üks võõras, roheka sineli ja mütsiga, jalas vaid kalossid ja sokid, mille ümber oli mässitud puuvillast riiet.
</blockquote>

<p>
  Valter Pallo ütles neile, et on metsavend ja põgeneb jälitavate sõdurite eest. Oma nime ta esimesel kohtumisel ei
  öelnud. Talle anti süüa ja jalga kuivad vahetussokid ning ta lahkus tagasi metsa. 3-4 päeva pärast ilmus ta tallu
  tagasi, tal oli tõusnud kõrge palavik, tugev valu jalgades muutis liikumisvõimetuks ning ta palus luba end veidi aega
  talus varjata. Natalia Allas rääkis:
</p>

<blockquote>
  Üldse oli ta mingis erutusseisundis, mis tulenes sellest, et tal oli tõusnud väga kõrge palavik. Ma ei küsinud Pallo
  käest kordagi, kui ta meil elas, kes ta selline on. Arvasin siis, et ju ta on mingi jumalakartlik inimene, sest ta
  sonis kogu aeg jumalast.
</blockquote>

<p>
  Pallo rääkis neile, et oli ööbinud lumes, kus jalad külmusid läbi. Ta rääkis sedagi, et oli sõja ajal olnud
  sõjaväearst. Talle anti süüa ja elamiseks köeti saun.
  <br>
  Ärakülmunud varvastesse tekkis gangreen, mis nõudis kiiret tegutsemist. Hoolimata kõrgest palavikust opereeris ta end
  ise, eemaldades oma vasakul jalal kolm varvast. Valter Pallo kirjutas ise endale välja ravimite retseptid ja Natalia
  Allas käis nende alusel talle Rõuge apteegist rohtusid välja ostmas. Nii põdes haige saunas nädalat-paar, pärast
  palaviku alanemist elas kuni 1950. a aprilli lõpuni Allase talus edasi, vahel koos pererahvaga toas, vahel saunas,
  ravides veel pikalt oma jalgu. Kord pärast paranemist käis ta öösel metsas ja tõi sealt automaadi, mille andis Eduard
  Allasele. Teist automaati hoidis ta alati enda läheduses. Aprilli lõpus 1950 lahkus ta Allaste juurest ja rohkem neid
  ei külastanud.
</p>

<p>
  Valter Pallo liikus edasi Krabi k/n Suulätte külla Edgar Kattai juurde, kus varjas end lühikest aega, liikudes juba
  juunis sealt edasi Tsooru k/n Luhametsa külla Adeele (Teele) Jürisoo poole, kus varjas end kuni augustini 1950. Selles
  talus varju leides ehitas Pallo endale punkri talu vanasse mahajäetud kaevu. Samas talus oli ta end paari kuu kaupa
  varjanud juba ka varem, 1947. ja 1948. a. Siis oli ta suhelnud ka Võru Keskkooli õpilase Heldur Hüvatoga, kes 1941. a
  alaealisena Venemaale küüditatuna (kuna isa oli üks Kaitseliidu juhte), oli 1947 tagasi Eestisse pääsenud. Koos õdede
  Adeele ja Aliide Jürisooga käis ta siis isegi Tsooru rahvamajas tantsuõhtutel. Ta küll puikles vastu, sest dokumentide
  kontrolli korral oleks võinud kinni kukkuda, kuid õed veensid teda, et ohtu pole. Adeele Jürisooga sai Pallo hiljem
  tütre.
  <br>
  1950. a juunis tegi julgeolek haarangu Piiri talule Tsooru k/n. Pallo ööbis sel ajal Teele Jürisoo talus kaevu
  ehitatud punkris. Haarangust sai ta Jürisoode käest teada alles hiljem.
</p>

<p>
  Ükskord suvel 1950 teatas Adeele Jürisoo, et süüa pole enam midagi. Nad leppisid kokku röövida koorevankrit, mis viis
  koort Käreta koorepunktist Kikkaoja meiereisse. Järgmisel öösel viis Eduard Jürisoo Valter Pallo Vana-Roosa kalmistu
  juurde. Pallo jäi sinna, Eduard pöördus hobusega koju tagasi. Kell 10 hommikul tuligi koorevanker. Pallo peatas selle,
  sidus koorevedaja Švartsi kinni ning käskis kahe tunni vältel paigal püsida. Ta võttis vankri üle ja sõitis teed mööda
  Jürisoole. Enne talu juurde jõudmist tassis ta koorepütid metsa ja lasi hobuse metsa lahti. Eduard ja Teele Jürisoo
  tõid pütid metsast ära. Neli koorepütti viis Pallo endale punkrisse ja kloppis koorest võid. Osa sellest lasi ta turul
  maha müüa, osa jättis endale.
</p>

<p>
  Jätkuvalt ravis ta nii ümbritsevaid inimesi kui ennast. Ravimeid sai Pallo Antsla apteegi medõelt Inga Feinastelt (?).
  1947-1949 pidas ta sidet ka Tartu raudteehaigla ukrainlasest arsti Ivan Gavrilovitš Potanenkoga, kelle käest ostis
  samuti vajaminevaid ravimeid.
</p>

<p>
  Igal pool, kus Pallo liikus, püüdis ta kõigisse sisendada usku, et nõukogude võim Eestis ei püsi kaua, peagi
  kuulutavad Inglismaa ja Ameerika NL-le sõja, ameeriklased oma parema relvastusega võidavad NL-i ning selle käigus
  vabanevad ka Baltimaad kommunismist ja Eestis taastatakse kodanlik valitsus.
</p>

<p>
  1950. a augustis varjas Valter Pallo end 2 nädalat Karl Juhalo juures, nädal või paar Jaan Puuki juures, Litsmetsas
  Kristjan Liiberti juures ja oma kauge sugulase Karl Küti heinaküünis. Maikuus 1951 oli ta parajasti Roosi ja Karl Küti
  juures, kui märkas külas sõdureid. Ta lahkus kiiresti talust metsa ning liikus edasi Antsla suunas. Nädal hiljem, 15.
  mail 1951 võeti ta Valtinas ühes metsatalus kinni. Temalt saadi automaat PPŠ salvega ja ravimid ning ta viidi Antsla
  julgeolekuosakonda.
</p>

<p>
  Tundub, et Valter Pallole oli nõukogude võimu julm ja toores nägu korduvalt kogetud ja sügavalt vastuvõtmatu. Valter
  Pallo saadeti augustis 1951 psühhiaatrilisse ekspertiisi, kuna:
</p>

<blockquote>
  Ta teatab, et on näinud ja kuulnud ühel korral Jumalat ja seitsmel korral Kristust ning et ta näeb hingi ruumis
  jumalike punktidena. Ta küsib paberit ja kirjutab sinna: „Kommunism tähendab hävingut“. Samuti räägib ta, et need, kes
  seda ei kuulda ei võta, hukkuvad. Ise peab ta end psüühiliselt terveks. Ta teatab, et läks illegaaliks, kuna selline
  oli Jumala tahtmine.
</blockquote>

<p>Ekspert kinnitas: teadvus on selge ja orienteeritud õigesti</p>

<p>
  Sõjatribunali kohtuistungi lõppsõnas keeras Valter Pallo valitsevale nõukogulikule elule lõplikult selja, eelistades
  sellele surma.
  <br>
  Ta määrati mahalaskmisele.
  <br>
  Valter Pallost jäi maha 3 tütart.
</p>

<h2>Paul Liit</h2>

<p>
  Paul Liit arreteeriti 28. märtsil 1950 oma venna Alo Liiti pool Haanjas. 30. märtsil 1950 käskis julgeolekuministri
  asetäitja Pastelnjak hoida teda operatiivsetel vajadustel üksikkambris kuni erikorralduseni. 2-N osakonna ülem lasi
  panna ta 12 tunniks piinamiskappi, kus polnud võimalik istuda ega lamada.
  <br>
  Paul Liit oli üks vintskemaid julgeolekuuurijate survele vastu panijaid. Ta pidas toorele murdmisele vastu tervelt
  aasta ja ühe kuu vältel, eitades järjepidevalt oma seotust Toomsalu rühmaga. Tema uurimistähtaega pikendati
  kaheteistkümnel korral. Julgeolekul oli tema vastu kaudseid tõendeid, kuid otsest tõendit ehk enese süüditunnistamist
  ei suudetud ka aastaga temalt välja peksta.
  <br>
  Ta pandi korduvalt kambritesse, kus tal tuli end kambrikaaslaste vastu kaitsta. Tema juurest leiti teravaks ihutud
  lusikas. Enda eest seismise pärast pandi ta mitmel korral kartserisse, küll kolmeks, küll viieks päevaks. Ikka ja
  jälle kordus ülekuulamistel küsimus: „Kas täna annate tõeseid tunnistusi?“ Vastus oli alati: „Mul pole rohkem
  millestki rääkida.“
</p>

<p>
  Pärast Toomsaluga vastandamist 27. aprillil 1951, kui teda oli seadusvastaselt eeluurimise all kinni peetud juba
  rohkem kui aasta, võttis ta omaks, et astus vabatahtlikult politseipataljoni, ei soovinud minna nõukogude armeesse ja
  läks seetõttu 1. dets. 1944 illegaaliks. Kuulus kuni 1946. aastani relvastatud gruppi, seejärel legaliseerus. 1949. a
  liitus Toomsalu salgaga, kus tegutses hüüdnime all Juhan.
</p>

<p>Ka Paul Liitile määrati augustis 1951 kohtu-psühhiaatriline ekspertiis, kuna ta ülekuulamisel</p>

<blockquote>
  žestikuleerib, sageli naerab ilma põhjuseta, esineb ülajäsemete närvilist tõmblemist. Ta teatab avameelselt
  küüniliselt, et vihkab nõukogude korda ja toimepandud kuritegusid ei kahetse. Ei ole haletsenud ega kavatse haletseda
  tapetuid. Ka oma ema ei haletse.
</blockquote>

<p>Ekspertiisi arvamus oli, et Paul Liit tajub maailma adekvaatselt.</p>

<p>
  Sõjatribunali istungil ei lasknud ta tunnistajatel üritadagi oma süüdistust kuidagi pehmendada. Ta tuletas neile ise
  meelde, et läks punaste vastu võitlema alaealisena, seega teadlikult ja vabatahtlikult. Avaldas, et kaitses oma venda
  arreteerijate vastu relva kasutades, kuni vend suutis varjuda. Viimasest sõnast kohtupidamisel ta keeldus.
  <br>
  Ka Paul Liit määrati mahalaskmisele.
  <br>
  Paul Liitist jäi maha tütar.
</p>

<p>
  Auleid Toomsalu, Valter Pallo ja Paul Liit mõisteti kõik mahalaskmisele. Surmaotsus viidi täide 5. veebruaril 1952.
  <br>
  Surmanuhtlus määrati neile tegevuse eest ajavahemikul 1947-1949, mil Nõukogude Liidu karistusseadustikus surmanuhtlus
  puudus.
</p>

<h2>Aksel Kirbits ja Eduard Kirbits</h2>

<p>
  Pärast Toomsalu otsust laiali minna läksid vennad Eduard ja Aksel Kirbits koos Henn Kirbitsaga Eduard Pihu heinamaale
  küüni, kus nad elasid kuni detsembrini 1949. Nendega ühines Elmar Pärli.
  <br>
  Kord Richard Pihlapuu talu külastades tõi Eduard Kirbits 1949. a augustis sealt endaga metsa kaasa talus ajutiselt
  varju leidnud Leida Pettai, Pulli talu haarangul tapetud Elmar Pettai õe, kelle julgeolek oli lahti lasknud nõudega
  otsida üles metsavendade asukohad.
  <br>
  Novembris ehitasid Eduard Kirbits ja Elmar Pärli endale eraldi punkri. Leida Pettai koos Aksel Kirbitsaga läksid
  talveks (novembri lõpust kuni aprillini 1950) end varjama Leida koju Pulli tallu. Aksel Kirbits käis tihti paari päeva
  kaupa ära. Talvel külastasid neid pidevalt Eduard Kirbits ja Elmar Pärli ja said Emilie Pettai käest süüa.
  Aastavahetuse 1949/1950 võtsid Pulli talus üheskoos vastu Leida Pettai, tema ema Emilie Pettai, Aksel Kirbits ja end
  Rõuges varjanud Auleid Toomsalu.
</p>

<p>
  Kevadel, 1950. a aprilli lõpus, ehitasid Aksel Kirbits ja Leida Pettai endale punkri 2 km Leida kodust Pulli talust ja
  elasid seal kuni 1950. a septembrini. Eduard Kirbits ja Elmar Pärli käisid neil sageli külas ja veetsid seal vahel
  päevi.
  <br>
  Septembris 1950 vahetasid Aksel Kirbits ja Leida Pettai uuesti varjamiskohta, asudes ümber suure kuuse alla Valgemäel
  Viitina k/n-s (viidatud ka kui kohta Ivaski metsas Matsi küla lähedal ja Marjamäe metsas, 500 m Mardi külast). Nad
  pidasid endiselt tihedalt sidet Eduard Kirbitsa ja Elmar Pärliga.
  <br>
  1950. a oktoobris tõi Eduard Kirbits nende juurde „Joonase“ ehk Heino Uibo (26a) ja tema elukaaslase Linda Tatriku
  (26a) Viitinast Matsi külast, kes hakkasid end varjama koos Leida ja Akseliga. Vaid mõni kuu varem, 30. juunil 1950,
  olid Heino Uibo ja Linda Tatrik kaotanud tapetuna oma aastase poja, kelle julgeolekusõdurid surmasid punkris Roobi
  metsas. 1950. a kevadel jäi lapseootele Leida Pettai, kes 5. novembril 1950. a sünnitas tütre, kes jäi ametlikult
  registreerimata, kuid ristiti Milviks.
  <br>
  Kui Eduard Kirbitsa kaaslane Elmar Pärli oktoobris 1950 Pillardi külas haarangul tapeti, siirdus üksi jäänud Eduard
  Kirbits tagasi oma venna Akseli ja Leida Pettai juurde.
  <br>
  Hilissügisel Linda Tatrik haigestus ja lahkus koos Heino Uiboga end ravima Matsi külla, kus Linda kunagises kodus
  hoolitses tema eest ta tädi Emilie Saia (Linda Tatriku ema-isa olid Venemaale vangilaagrisse viidud ja vend Eduard
  Tatrik teadmata kohas metsas). Tervenenult pöördusid mõlemad jaanuaris 1951 tagasi vanasse punkrisse Valgemäele. Vaid
  kuu aega hiljem, 10. veebruaril 1951, tegi Julgeolek sellele punkrile haarangu ja hävitas selle. Koolilapsed nägid
  punkrit põlemas. Heino Uibo ja Linda Tatrik olid pääsenud põgenema.
  <br>
  Leida Pettai koos Aksel ja Eduard Kirbitsaga olid sellest punkrist vahetult enne jõule kolinud ära uude punkrisse Haki
  külas (Kuremetsas, 2 km Karba külast), mis jäi neile viimaseks punkriks.
</p>

<p>Veebruaris 1951 oli Julgeolekule teada, et</p>

<blockquote>
  üks Toomsalu rühma liikmetest varjab end kolhoosi Tulevik metsas Vastseliina rajoonis, ülejäänud Hakiküla
  metsamassiivis asuvas punkris.
</blockquote>

<p>
  Esimene varjaja oli Juhan Mõttus, teised Eduard Kirbits, Aksel Kirbits ja Leida Pettai koos oma paarikuuse lapsega.
  Aruandlusest ei selgu, kas Juhan Mõttus viibis punkri ründamise ajal vendade Kirbitsate punkris või rünnati tema
  punkrit eraldi.
</p>

<p>Julgeoleku raport:</p>

<blockquote>
  22-23. veebr 1951 avastas tšekistlik-sõjaline rühm punkri. Ettepanekule alla anda vastati automaaditulega,
  tulevahetuses tapeti 2 bandiiti, kaks (Mõttus Juhan s. 1900, Pettai Leida s. 1933) võeti kinni. Operatsiooni käigus
  haavati 260 RJM laskurpolgu reamehi Sõtšov Ivan Feodorovitšit ja Polõgalov Mihhail Grigorjevitši. Vendade Kirbitsate
  hävitamisega ja Mõttuse ning Pettai kinnivõtmisega on täielikult likvideeritud Toomsalu terroristlik bande.
  <br>
  Julgeolekuministri asetäitja Vedejev 8. märts 1951
</blockquote>

<p>
  Punkrit ründas RJM operatiivgrupp ülem major Mägiga ja RJM Võru rajooniosakonna ülema Zamorozoviga ning jaokomandör
  ltn Fomenkole alluva väeosa nr 3205 sõduritega.
</p>

<p>
  Johannes (Juhan) Mõttus sai tulevahetuses raskelt haavata ja arreteeriti. Tema punkrist saadi 1 automaat, 2 vintpüssi,
  2 püstolit ja üle 3000 padruni. Kirbitsate punkrist saadi:
  <br>
  Saksa vintpüss 1940a väljalase, Saksa vintpüss 1941a, vintpüssi lukk, automaat PPŠ, püstol Walther, padrunid
  Waltherile 9 tk, vintpüssi padruneid 414 tükki, TT padruneid 105 tk
</p>

<p>Leida Pettai:</p>

<blockquote>
  23. veebruari hommikul 1951 u kl 8 märkasid Kirbits Aksel ja Kirbits Eduard, et sõdurite ahelik piirab punkrit. Nad
  äratasid mind ja me tormasime kõik punkrist välja, 3 kuune laps jäi punkrisse maha. Jooksime metsas vastassuunda, kui
  meie pihta avati tuli. Kirbits Aksel ja Kirbits Eduard avasid vastutule, mina jäin neist maha ja mind võeti kinni.
</blockquote>

<p>
  Eduard ja Aksel Kirbitsa laibad kästi metsast suurele teele vedada ühel kohalikul viieteistaastasel poisil. Laipu ei
  lubatud tõsta ree peale, need kästi metsast välja lohistada ree järele seotuna. Maantee äärde välja veetud laipu nägid
  hommikul tööle minevad inimesed.
</p>

<p>Eduard ja Aksel Kirbitsa, nagu kõigi teistegi tapetud Toomsalu salga metsavendade matmiskohad on teadmata.</p>

<p>
  Emilie Pettai (46a) ja ta tütar Leida Pettai (18a) määrati 25+5 aastaks Venemaale vangilaagrisse ja asumisele. Aksel
  Kirbitsa ja Leida Pettai neljakuune tütar Milvi võeti emalt ära ja pandi lastekodusse.
</p>

<p>
  Sama saatus sai osaks ka Valve Lepa (20a) ja surmamõistetud Valter Pallo pisitütrele, kes samuti eraldati emast
  lastekodusse. Valve Lepp saadeti 25+5 aastaks vangilaagritesse ja asumisele.
</p>

<h2>Metsavendade abistamises kahtlus- ning süüalused ja nende karistused:</h2>

<p>
  1.
  <b>Lett Eduard</b>
  , Pauli p , Rõuge vald, 25a
  <br>
  2.
  <b>Pihlapuu Richard</b>
  Jakob(?)1888, Metsamäe talust Viitinas hüüdnimi „Peremees“, Rõuge vald, 5a
  <br>
  3.
  <b>Juhanson August</b>
  Viidriku p 1911 Palli külast, 25+5
  <br>
  4.
  <b>Juhanson Elfriide</b>
  Juhani t 1912 Rõuge vald Palli küla, 25+5
  <br>
  5.
  <b>Lepp Valve</b>
  Augusti t 5. aug. 1929,25+5
  <br>
  6. Juhanson Viidrik,
  <br>
  7. Leies Minna, 73a, Palli küla (Toomsalu varjas end kuni Kibena juurde minekuni)
  <br>
  8. Masul Voldemar, Karli p 1890 Palli küla
  <br>
  9. Masul Rosalie (neiup Kirbits), Toomsalu tädi
  <br>
  10. Uibo Richard Otto p 1906 (ema küüd),
  <br>
  11.
  <b>Linnas Rudolf</b>
  Peetri p 1902 Viitina k/n Haki k, 25+5
  <br>
  12.
  <b>Rästas (Linnas) Adele</b>
  Peetri t1907 Rõuge, 25+5
  <br>
  13.
  <b>Kirbits Oskar</b>
  Peetri p 1904, Viitina k/n Üügumetsa talu, 25+5
  <br>
  14. Kirbits Agate (Ilves),
  <br>
  15.
  <b>Kevvai Alfred</b>
  , Abel 1901 Viitina vald Savimäe 25+5, vab 1956
  <br>
  16. Kevvai Meliita,
  <br>
  17.
  <b>Saia Emilie</b>
  Peetri t 1893 pärit Varstu vallast, elas õemehe Tatrik Augusti majas Matsi külas 25+5
  <br>
  18.
  <b>Markvardt Ida</b>
  Ludvigu t 1904 Viitina vald Haki küla (Mäe-Haki), 25+5, vab 1956
  <br>
  19.
  <b>Kütt Georg</b>
  Pauli p 1927 Novoselski raj Pihkva obl, 25+5, vab 1956
  <br>
  20. Jantra Alfred,
  <br>
  21. Kanter Karla,
  <br>
  22. Raat Karla,
  <br>
  23.
  <b>Kirbits Maimu</b>
  Oskari t 1931, Rõuge vald, 25+5
  <br>
  24.
  <b>Lepp Alfred</b>
  Juhani p 1906, Rõuge vald, 25+5
  <br>
  25.
  <b>Pettai Emilia</b>
  Jaan 1905, Viitina k/n Haki küla Pulli talu25+5, vab 1956
  <br>
  26.
  <b>Pettai Edgar</b>
  Jaan Viitina Haki küla Pulli talu, 10 a
  <br>
  27. Markvart Ida
  <br>
  28.
  <b>Kirbits Edgar</b>
  Jaani p 1917, Viitina k/n, 25+5, vab
  <br>
  29.
  <b>Kütt Jaan</b>
  , Paul 1929, Viitina Haki küla 25+5
  <br>
  30.
  <b>Linnas Eri (Rästas)</b>
  , Adele 1929 Rõuge, 25+5, vab 1954
  <br>
  31. Kroon Jakob, Suure-Ruuga küla, Jakobi talu
  <br>
  32.
  <b>Kuklane Nikolai</b>
  , Jakob 1899, Rõuge vald, arr, 1950/25+5, surn vabanemise järel 1967
  <br>
  33. Lepp Viidrik Juhani p, Viitina k/n
  <br>
  34. Mõttus Juhan Jaani p,
  <br>
  35.
  <b>Kevvai Aliide</b>
  , Abel 1905 25+5, vab 1957
  <br>
  36. Siidra Elli,
  <br>
  37.
  <b>Allas Aleksander</b>
  , Jaani p 1894, Lepistu vald, arr. 1951/25a, vabanes 1956
  <br>
  38.
  <b>Saal Arnold</b>
  , Arnold 1915, Rõuge vald, arr. 21.05.51, 25+5, vab 1957
  <br>
  39. Kõiv August,
  <br>
  40. Rebane Leo, Jaani p 1910
  <br>
  41. Ruus Voldemar,
  <br>
  42. Kroon Juhan,
  <br>
  43. Saia Rudolf,
  <br>
  44.
  <b>Sarapuu Herman</b>
  Gustavi p 1904, Viitina vald, sepp, 25+5
  <br>
  45.
  <b>Pärli Konrad</b>
  , Peetri p 1907 arr. 11.04.51/25+5
  <br>
  46. Järv Eduard, (47),
  <br>
  47.
  <b>Pilt Amanda</b>
  Karli t 1922, Ruusmäe, 25+5, vab 1956
  <br>
  48.
  <b>Kasak Kalju</b>
  4. okt 1923 Krabilt Hinnimäelt Antsla raj, isa Gustav surn 1945, vend Eduard vangis (6a), vanem vend Edgar tapetud
  metsavennana 1945, hoidus punaarmeesse minemast,/25+5,
  <br>
  49.
  <b>Allas Eduard</b>
  11. märts 1894 Uigu talust Kogre külast Viitina k/n/25+5,
  <br>
  50.
  <b>Allas Natalia</b>
  20. sept 1922 Rõugest Viitina k/n/25+5,
  <br>
  51.
  <b>Rebane Liidi</b>
  Reinu t (neiup.
  <b>Siidra Liidi</b>
  )10. dets 1922 Pillardilt Luutsniku k/n/ 25+5,
  <br>
  52.
  <b>Jürisoo Eduard</b>
  , Juhan 1923, Tsooru, Luhametsa küla, 25+5, vab 1956
  <br>
  53.
  <b>Kirbits Harri</b>
  Oskari p 1928, Viitina k/n, 25+5
  <br>
  54.
  <b>Siidra Enn</b>
  Reinu p s 1919, Luutsniku arr. 29.03.51 Pillardil, 25+5, surn. 1956
  <br>
  55.
  <b>Kibena Alma</b>
  Karli t 1902 Ruusmäe vallast, 25+5
  <br>
  56.
  <b>Kevvai Aksel</b>
  Alfred Rõuge1929 25+5, side metsavendadega
  <br>
  57.
  <b>Kevvai Eduard</b>
  , Abel 1897 Rõuge 25, vab 1956
  <br>
  58.
  <b>Kevvai Maimu</b>
  , Alfred Rõuge 25+5, vab 1956
  <br>
  59.
  <b>Pettai Maimu</b>
  Edgar 1929 Rõuge 10 a vab 1957
  <br>
  60.
  <b>Kuklane Hugo</b>
  Nikolai 1929 Rõuge vald 10a, vab 1956
  <br>
  61.
  <b>Kuklane Valter</b>
  Nikolai 1928 Rõuge vald 25a, vab 1956
  <br>
  62.
  <b>Kuklane Viktor</b>
  Nikolai 1924 Rõuge vald 10 a vab 1956
  <br>
  63.
  <b>Mõttus Sulev</b>
  Juhan 1930 Ruusmäe, arr. 49 juuni, arreteeritud, 10+3, side metsavendadega, vabanes 1956, 19a
</p>
