---
layout: false
permalink: /rouge/lingid/
---
<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/rouge/lisad/">
  <link rel="canonical" href="/rouge/lisad/">
  <title>Suunamine...</title>
</head>
<body>
  <p>Suunan lehele <a href="/rouge/lisad/">/rouge/lisad/</a></p>
</body>
</html>
