---
layout: layouts/rouge-layout.liquid
permalink: /rouge/metsavennad/
---
<h1>Metsavennad</h1>

<p>
  Auleid Toomsalu tegutses koos paljude kohalike metsavendadega Rõuge-Viitina-Ruusmäe-Luutsniku, aga ka Varstu ümbruses
  aastatel 1948-1950. Noortel meestel oli kodukandis väga palju toetajaid. Rohkem kui poolesajalt elanikult said nad
  jooksvalt informatsiooni julgeoleku ja miilitsa liikumise kohta enda tegutsemispiirkonnas ning vajadusel nii süüa kui
  peavarju. Enamuses kahekümnendates eluaastates metsavennad ei olnud veel loonud oma peret, mis oleks sundinud neid
  hoidma alalhoidlikumat joont. Noored mehed tegutsesid otsusekindlalt, mõningase kuraasika jultumusega, põhjustades
  võimuesindajates raevu, ängi ja hirmu.
  <br>
  Toomsalu salgana käsitles julgeolek 10 metsavenda (vanused 1949. a): Auleid Toomsalu (27a), Kalju Kirbits (19a),
  Herbert Virk (25a), Vambola Kuklane (18a), Elmar Pettai (21a), Eduard Kirbits (30a) ja Aksel Kirbits (25a), Paul Liit
  (23a), Valter Pallo (42a) ja Henn Kirbits (16a). Piirkonna metsavendade autoriteediks tõusis Auleid Toomsalu 1949. a,
  kui ta oli metsas tegutsenud üle aasta. (Ainu)juhiks olemist on ta ise eitanud:
</p>

<blockquote>
  Eeluurimisel rääkisin samuti, et ma ei olnud rühma juht, kuid uurija väitis, et ma pidin juht olema, ja nii kõigisse
  protokollidesse kirjutatigi.
</blockquote>

<p>
  Veel samal, 1949. a sügisel võttis Toomsalu toimunud sündmusi ja ohtu hinnates vastu otsuse suure salgana tegutsemine
  peatada ja varjata edasi väiksemates kooslustes.
</p>

<p>
  Toomsalut hinnati võimaliku juhina tõenäoselt tema laia suhtlusringkonda, konsolideerimis- ja koostöövõimet, sidemete
  loomise oskust ning ettevaatlikkust silmas pidades. Tulevahetustes osutus ta pigem tagasitõmbujaks kui tuleliinile
  tormajaks. Tema rivaaliks oli Heino Uibo, kes näib olevat olnud karmima tegutsemisliini pooldaja ja pidas neist vabana
  vastu ka kõige kauem: kuni hukkumiseni tulevahetuses 1955. a Läti pinnal.
</p>

<p>
  Metsadesse koondunud noored mehed korraldasid pidevalt ühiseid varustus- ja ähvardusretki brutaalse võimu teostajate
  vastu. Tegutsemiseks koonduti eelneval kokkuleppel, igale teole järgnes kohene laiali hajumine erinevatesse
  asukohtadesse. Tegutsemise tippajal (1948-1949) oli Toomsalu salga meestel metsapunkreid suhteliselt vähe, hilisemal
  varjamisperioodil (1950) rohkem. Metsavennad paiknesid peamiselt üksi või paarikaupa ümberkaudsetes taludes või nende
  läheduses, asukohta vahetati sageli. Ohu korral ööbiti metsas. Selliselt suudeti end suhteliselt väikesel maa-alal
  varjata aastaid.
  <br>
  Kooperatiividest hangitud kraamiga hoiti endal hinge sees, seda peideti vajalikuks varuks eri paikadesse ja sellega
  tasuti ülalpidamise eest abilistele. Rünnakute sihiks oli lisaks varustuse hankimisele ka vastupanuvaimu kinnitamine
  võõrvõimu kahepalgelisuse, vale ja vägivalla vastu.
</p>

<p>
  Koos rahvusvahelise olukorra pingestumisega neljakümnendate lõpus kasvas lootus nõukogude võimu maharaputamiseks uue
  riikidevahelise konflikti puhkemise korral. Organiseeritud välisabi saabumiseks püüti olla ettevalmistatud. Mehed
  metsades hoidsid omavahel sidet joonel Meremäe-Misso-Rõuge. Ühendusepidajatena on ära nimetatud August Mumma (Edgari
  p) ja Elmar Kripasson. Toomsalu proovis ettevaatlikult kombata ühendust väidetava väliskontaktisikuga Rootsist,
  kellegi Valgas paikneva „kapteniga“, kuid katse luhtus (või oli julgeoleku sööt).
</p>

<p>
  Võõrvõim, tundmata siinset keelt, olusid ja inimesi, toetus oma hävituslikes ettevõtmistes kohalikele
  kaasajooksikutele-keelekandjatele. Seetõttu sattusid metsavendade löögi alla enim just nemad kui stalinistliku
  jõhkruse silm, kõrv ja osutav näpp.
  <br>
  Kollaboratsionistide otsustava rolli tõttu elanikkonna lõhestamisel ja ettesöötmisel repressiivorganitele pidasid
  mitmed metsavennad nende füüsilist hävitamist paratamatuks. Selliste inimeste hingel teati olevat kaasmaalasi
  hävitavad rängad teod. Pärast 1949. a märtsiküüditamist levisid rahva seas pidevad paanikalained uute küüditamiste ees
  (eestlaste ja lätlaste küüditamine Pihkva oblastiga liidetud endistelt Eesti ja Läti aladelt sai teoks 1950. a
  maikuus, mis näitab, et hirm polnud ka põhjendamatu). Metsavend Aaro Pihlapuu on metsas olles kirjutanud oma
  päevikusse 6.09.50:
</p>

<blockquote>
  Ütlesin, et kadunud venna Simu ja teiste truude eesti poegade viimaste jäänuste ülesotsimine ja ümber matmine on
  teadagi hea ja vajalik töö ja ülesanne, aga veel vajalikum on leida ja otsida võimalusi kuidas päästa inimesi, elavaid
  inimesi – mehi, naisi ja lapsi – eelolevast, ettevalmistatavast küüditamisest ja hukkumisest.
</blockquote>

<p>
  Seega võib mitmete kohalike küüditamisorganisaatorite hukkamises tajuda lisaks kättemaksule märtsiküüditamise eest ka
  kordusrepressioonide pärssimise püüdu, mis oli jätkuva küüditamishirmu otsene tulemus.
</p>

<p>
  Kohalike kollaboratsionistide surmanuhtlusega karistamisele eelnes enamasti näost-näkku edastatud korduv hoiatus ja
  inimesele anti kuu-kaks aega meeleparanduseks. Omakohtu korras tapmise vajaduse arutasid metsavennad omavahel läbi,
  kaaludes selle inimese ohtlikkust metsavarjunutele ja nende toetajatele, tema osa reetmisel või keelekandmisel
  julgeolekule, aktiivsust küüditamisel või osalemist inimeste tagakiusamisel. Märgitud on üht välikohtu moodustamist,
  milleks valiti nii kohtunik, prokurör kui ka advokaat süüdistatavale (Lembit Labi juhtum). Tuli ette, et legaalselt
  elavad inimesed üritasid metsavendi ära kasutada omavaheliste tülide lahendamisel, mis aga Toomsalu ütlusel luhtus,
  kuna olukord nähti läbi ja metsavennad vältisid võõrastesse tülidesse sekkumist. Metsavendade üleskutset kohalikele,
  käituda mõistlikult, st mitte minna võõrvõimu nõutud klassiviha ässitamise, vastandumise ja üksteise ülesandmise teed,
  kinnitab ühes oma ettekandes ka valla partorg Robert Movits (vt. Olud. Parteilased).
</p>

<p>
  Tuleb tunnistada neis äärmuslikult karmides ja ebakindlates oludes tegutsenud metsameeste selget käitumisjoont ja
  distsipliini relvaga ümberkäimisel – süüta ohvreid on ilmselgelt ja kõigis olukordades püütud vältida, puuduvad ka nö
  ettevaatusest tapetud tunnistajad. Noores ja keevalises eas meeste selline enesevalitsemine ja tasakaalukus on
  imekspandav just olukorras, mis ümberringi toimuvat ränka ülekohut arvestades oli ülisoodus pinnas arutule
  kättemaksule. Vaatamata olukorra pingelisusele, võõrvõimu vägivallale ja meeste pidevale ohusolekule ei ole nad tapnud
  kedagi meeleheitest ega huupi. Toomsalu salga liikmete poolt 11 tapetust olid 6 kokkupõrke käigus otseselt nende elu
  ohustanud, paigalejäämiskäsku eiranud ja relva nende vastu suunanud hävituspataljonlased-julgeolekutöötajad, 4 olid
  metsavendadele teada-tuntud kohapealsed küüditamisorganisaatorid ja julgeolekunuhid, keda loeti ohuks paljude kohalike
  perekondade käekäigule. Julgeolekumajori elukaaslane osutus kolme tegutsemisaasta vältel ainsaks metsavendade käe läbi
  kõrvalisel põhjusel hukkunuks. Naine tulistati surnuks koos samasse kraavi viskunud elukaaslasest julgeolekumajoriga,
  kes tulistas sealt metsavendade pihta. Ülejäänud kohalviibijatele viga ei tehtud, ühe juuresolija
  tulevahetuspiirkonnast minema suunamisel sai Simo Pihlapuu ise haavata, mistõttu langes hiljem julgeolekuüksuse kätte
  ning tapeti.
  <br>
  Paljud metsavendade poolt tapetutest olid nende teda otseselt seotud inimsusevastaste tegudega: tervete perede
  küüditamisega Venemaa kaugpiirkondadesse.
</p>

<p>
  Kõige karmim kohtlemine sai metsavendade poolt osaks julgeolekunuhkidele, keda enne hukkamist peksti. Toomsalu
  tunnistas, et ta lõi Lembit Labit Kalju Kirbitsale surma toomise eest kahel korral vemblaga ja vembla murdumisel
  kolmel korral käega näkku, samuti on mainitud nuhiks peetud Eduard Valneri peksmist. Peale nimetatud kahe episoodi ei
  ole rohkem peksmisi ega piinamisi metsavendadele toimikutes omistatud. Nõukogude aktivistide olukorrakirjeldustes ei
  leidu ühtegi kaebust nende mõnitamise ega alandamise üle. Metsavennad ei ole rüvetanud ühtegi surnukeha, vastupidiselt
  julgeolekutöötajatele, kellel see näib olevat tavapäraseks roimaks.
  <br>
  Toimikutes ei leidunud ühtegi märki metsavendade kättemaksu, karistuse või hirmutamise laiendamisest kellegi lastele
  või lähedastele. Sugulaste tagakiusamine ja piinamine oli iseloomulik tšekistide tegutsemisele, kelle meetod oli
  kollektiivne karistamine.
  <br>
  Võimalus sattuda metsavendade kahtluse alla tekitas kohalikes siiski hirmu. Nii näiteks M.H., kes noore tüdrukuna
  suhtles lähemalt metsavend P.S.-ga, hoidis oma kohtumisi teiste metsavendade eest salajas, seda just kahtlustuste
  ärahoidmiseks juhul, kui P.S.-ga peaks midagi juhtuma.
  <br>
  Metsavendadele lootsid kohalikud elanikud hättasattumise korral (küüditamise eest ja julgeoleku küüsist põgenejad
  leidsid mõneks ajaks varju just metsavendade seltsist). Võimude poolt tagakiusatud inimesed lootsid metsavendadelt abi
  võimuteenrite sõgeduse ohjamisel. Selleks kasutati punategelaste hoiatamist või hirmutamist nende tegevuse
  pärssimiseks ja äärmuslikul juhul ka nende tapmist.
</p>

<p>
  Vohav riiklik vägivald inimelude ja omanduse vastu põhjustas elanike vaikiva ja tugeva toetuse metsavendade
  vastupanule. Rõuge-Viitina ümbruses ei piirdunud see sugugi üksikute „kulakute“ või „kodanlik-natsionalistide“
  peredega, nagu propaganda hiljem püüdis näidata. Toetajate ring oli äärmiselt lai, neid jagus isegi nõukogude võimu
  kohalikele ametipostidele. Inimestesse suhtumisel sai metsavendadel otsustavaks küsimus: kes läks nõukogude võimu toel
  ja ässitusel kaasinimeste hävitamise teed ja kes mitte. Metsavendadega suhtlesid paljud, kes ei kiitnud heaks kohaliku
  rahva lõhestamist ja selle ühe osa massilist hävitamist. Nädal enne 1949. a märtsiküüditamist sai Auleid Toomsalu
  Viitina k/n (külanõukogu) aseesimehelt, kohalikult ALMAVÜ instruktorilt Viidrik Lepalt küüditatavate nimekirja, mille
  alusel käisid metsavennad küüditamisele kuuluvaid peresid ette hoiatamas. Enamik neist peredest varjus vägivaldse
  Venemaale viimise eest. Koos Viidrik Lepaga, kes oli olnud Toomsalu allohvitserist kompaniikaaslane 20. SS diviisis,
  arutasid nad vajadust panna salga liikmed isikliku eeskujuga endale kuuletuma ja kujundada meestest range
  distsipliiniga löögirühm.
  <br>
  Üheks metsavendade toetajaks osutus Rõuge valla täitevkomitee esimehe asetäitja Eduard Lett, keda Toomsalu oli seni
  pidanud nõukogudemeelseks. Samuti pakkus haavatud Toomsalule ise oma kodus varjamiskohta kommunistliku partei liige,
  kolhoosi „Kommunist“ esimees Eduard Pechter. Mõnevõrra kahtlusi tekitab asjaolu, et Pecherit ei näi pärast Toomsalu
  tunnistusi olevat ülejäänud arreteeritute hulgas.
</p>

<p>
  Suure hulga kohalike inimeste poolehoid, abivalmidus ja sageli ka halastus metsavendade vastu väärivad eriti imetlust
  just abistajaid ähvardanud ränkade repressioonide taustal. Vangistamisohust hoolimata toetati neid paljudes taludes.
  Metsavennad omakorda aitasid talutöödel: tegid heina, panid vilja kokku, aitasid metsanormi täita, peksid reht jms.
  Metsamehi söödeti ja joodeti, pesti nende pesu ja tehti sauna, lugemiseks anti raamatuid ja ajalehti ning varjamiseks
  oma tuba. Mitmed toetajad metsavendadelt tasu selle eest vastu ei võtnudki ja abistasid neid
  „kodanlik-natsionalistlike veendumuste ja tunnete tõttu“, millega julgeoleku toimikukantseliidis tähistati kohalike
  omavahelist kokkuhoidu.
  <br>
  Toomsalu salga noortel meestel oli palju varjamisvõimalusi, kuid kõige meelsamini kogunesid nad üksildases metsaäärses
  majas ühe poolpimeda vanapoisi, Edgar Kirbitsa (hüüdnimega Peremees) juures. Seal toimusid kohtumised ja sinna jäeti
  sõnumid, seal arutati läbi oma plaanid ja tehtud vead. See koht oli meestele ka lõõgastumiseks, kus mängiti palju
  kanneldel, lauldi ja joodi veini.
</p>

<p>
  Toetus metsavendadele oli valdav, kuid ei hõlmanud kaugeltki kõiki. Paljud sulgusid neil ähvardavatel aegadel oma ellu
  ja püüdsid hoiduda kõrvale kõigest, mis võis tekitada probleeme võimuga. Samuti leidus neid, kes asusid teadlikult
  võõrvõimu teenistusse. Kuni ei olnud teada osalust inimeste hävitamises, seni hoidsid metsavennad neid ähvardustega
  endast eemal, vahel ka lihtsalt nöökides. Näiteks võtsid Herbert Virk, Aksel Kirbits ja Valter Kuklane vahipostil
  viibinud Rahvakaitse võitlejalt Osvald Pildilt käest vintpüssi, painutasid selle raua kahe suure maakivi vahel
  kõveraks ja ulatasid talle tagasi. Julgeolekule Pilt seda narritamist tunnistada julgenud, vaid on kaevanud, et jäi
  püssist ilma. Viitina vallas on leidunud üks salakaebuste esitaja, kes on anonüümselt ässitanud võime peamiselt just
  noorte neidude vastu.
  <br>
  Nõukogude võim õhutas klassivõitluse sildi all kohalikke lahendama omavahelisi vanu vimmasid ja ebakõlasid salajaste
  pealekaebamistega, võimaldades niiviisi kättemaksu võõrvõimu kätega. Nõukogude klassiviha kontseptsioon mingit
  rahumeelset ühiselu ei sallinud, vaid nõudis katkematut vihkamist ja vaenlase otsimist. Võimu poolt vihatavate leeri
  (kulakuks) märgistamine tõi algul kaasa suured maksud, mis ähvardasid laostumisega, hiljem tervete perede viimise
  inimeksistentsi piirile. Võimuvägivald tekitas lõhed ka lähedaste vahele. Eri pooltele, kus ühtedest said
  võimuvägivallaga leppijad ja teistest selle vastu seisjad jäi õdesid-vendi (Hilda Labi ja Edgar Pettai, Fritz Koger ja
  Ida Markvardt, Osvald ja Arvo Pilt), rääkimata inimeste kaugematest sugulastest ja tuttavatest.
  <br>
  Toetus metsavendadele oli elanikkonnas siiski sedavõrd valdav, et sellest jagu saamine võttis parteil ja riiklikul
  julgeolekul aega palju aastaid. Seda suudeti üksnes seadusetu ja räige vägivalla suunamisega metsaläinute omastele ja
  lähedastele, kasutades inimrööve, pantvangistamist, seadusetut vahistamist ja piinamisi. Võimu julmused ja seadusetu
  vägivald viisid reetmisteni, millest piisas metsavendade hukkumiseks ja poolesaja inimese paiskamiseks kodudest
  Venemaa pärapõrgusse.
</p>

<p>
  Mida rängemini rõhus nõukogude terror arreteerimiste ja tapmiste, küüditamise ja kolhoosi sundimise näol, seda enam
  üritasid metsasolijad tõrjuda ajaga üha sügavamale kohalikku kogukonda kinnistuvat ametivõimude ja julgeoleku haaret.
  1948-1950. a on märgatav viimane suur lootuste tõusulaine sõjajärgses vastupanupanuvõitluses. Nii siin- kui sealpool
  Gulagi okastraate levisid massiliselt jutud sõja puhkemisest Ameerika-Inglise bloki ja Nõukogude Liidu vahel ja veel
  polnud loobutud lootusest taastada Eesti oma riik. Metsadesse varjunud pidasid oma kohuseks hoida seda lootust üleval
  ning pidurdada olemasolevate vahenditega võõrvõimu kinnistumist. Nad keeldusid vabatahtlikult alistumast
  kahepalgelisele nõukogude Vene võimule, mis valjuhäälselt rääkis „ausalt elamisest ja töötamisest“, selle varjus
  meelevaldselt inimesi tappes, arreteerides ja küüditades, võttes neilt kogu vara, nõudes tingimusteta leppimist
  ülekohtuga ja kõige tipuks veel vägivallatsejate avalikku ülistamist.
  <br>
  Enamikule metsaläinutest jäi see pikalevenivaks viimaseks võitluseks, mis lõppes sammuga üle surma läve.
</p>
