---
layout: layouts/rouge-layout.liquid
permalink: /rouge/sundmused_uurimistoimikutes/
---
<h1>Julgeoleku uurimistoimikutes kajastatud metsavendade tegevus ajalises järjestuses</h1>

<p>
  Maikuus metsa läinud Toomsalu Auleid alustas metsavennana tegutsemist
  <b>juunis 1948</b>
  , kui Toomsalu Auleid, Virk Herbert ja Kirbits Kalju röövisid
  <b>Haanja meierei koorevedamisvankrit.</b>
</p>

<p>
  <b>Komsomol Laine Voldemari tapmine 14. augustil 1948. a.</b>
  Kohalikud elanikud rääkisid metsavendadele juba mõnda aega, et komnoor Laine Voldemar luurab nende järele. K.O. andis
  teada, et Laine Voldemar käib öösiti pidevalt talu ümbruses metsavendi jälgimas. K.N.-lt ja tema naiselt saadi samuti
  andmeid, et Laine Voldemar on RJM salajane kaastöötaja ja on pandud metsavendade järele nuhkima. Kõik hoiatasid, et
  varem või hiljem annab Laine Voldemar nad nõukogude võimuorganitele üles. Samal ajal hakkas noormees ise aktiivselt
  metsavendadega sidet otsima. Veidi aja pärast leidis aset vahejuhtum, kus ta tulistas Virk Herberti pihta.
  <br>
  Metsavendadele oli teada, et Laine Voldemar käis laupäeviti Kilk Maimu juures ja pöördus hommikul vara tagasi koju.
  Kirbits Kalju, Virk Herbert ja Toomsalu Auleid korraldasid varitsuse u 1km Kilgi majast. Enne päikesetõusu nägid nad
  Laine Voldemari jalgrattaga kodu suunas sõitmas. Kui ta varitsuseni jõudis, hüppasid metsavennad rajale, võtsid ta
  kinni ja otsisid ta läbi. Nad leidsid temalt püstoli TT ja portfelli kirjavahetusega.
  <br>
  Laine Voldemar viidi metsa, u 200 m rajast paremat kätt. Seal korraldati talle ülekuulamine (u 10-15 min), et teada
  saada, kas ta on Julgeoleku kaastöötaja ja kust ta püstoli sai.
  <br>
  Laine Voldemar eitas Julgeoleku kaastöötajaks olemist ja ütles, et metsavendadega ei ole tal üldse mingit pistmist. Ta
  tunnistas, et püstoli sai Rõuge miilitsa käest, kuid mis eesmärgil, seda ei öelnud. Ta surmati püstolilasuga pähe.
  Kaasa võeti tema püstol ja vöörihm. Surnu leiti paari nädala möödudes.
</p>

<p>
  Vaatamata Laine Voldemari kinnitusele, et tal metsavendadega mingit pistmist ei olnud, leidub toimikus vastupidine
  tunnistus. Noormees oli rääkinud kodus 12. augustil 1948. a, järelikult paar päeva enne oma surma, et käis kusagil
  Luutsniku kandis simmanil. Läbi metsa minnes oli ta näinud tihedas võsas kahte meest, kellele oli püüdnud juurde
  hiilida, kuid kes olid põgenenud tema eest. Laine Voldemar oli hakanud neid taga ajama ja tulistanud nende pihta, kuna
  tema omas taskurelva.
</p>

<p>
  Kas tal relvaluba üldse oli, seda tunnistaja öelda ei teadnud. Ühe põgenejatest oli Laine Voldemar ära tundnud, see
  oli olnud keegi „Endel“, kes oli tema tuttav ja kes oli varem elanud legaalselt. Kaks eemaldunud meest olid laskude
  peale teda ka vastu tulistanud.
</p>

<p>
  Laine Voldemari tapmist on kaheaastase vahega pandud omaks võtma koguni kaks meest. Kõigepealt, 1949. a, Meremäe
  elanik Ots Endel (27a) ja kaks aastat hiljem, 1951. a, Toomsalu Auleid. Ots Endel liikus 1948. a sageli Rõuge kandis,
  suhtles Virk Herberti, vendade Kuklaste ja paljude selle kandi noortega, süüdimõistmisel käsitleti teda Toomsalu ja
  Virgi salga liikmena. Kuna Otsa ja Toomsalu antud tunnistused ei kattu, võib vähemalt ühel juhul oletada piinamise
  teel kätte saadud valetunnistust või ülekuulaja omavoli tunnistuste kirjapanekul.
  <br>
  Ots Endeli tunnistus:
</p>

<blockquote>
  Septembri lõpus või augusti alguses 1948, täpselt ei mäleta, sain Kilk Akselilt teada, et komnoor Laine August oli
  nende talus viibides lubanud mind kui metsavenda RJM organitele üles anda. Rääkisime rühma juhi Virk Herbertiga kokku
  ja otsustasime ta tappa. Laine Voldemar oli Kilk Osvaldi tütre hea sõber, mina hakkasin teda jälitama ja ühel päeval,
  eelpool nimetatud kuupäeval, korraldasin talle Kilgi maja läheduses varitsuse, kuna sattusin enne juhuslikult nägema,
  et ta läks Kilgi majja. Kui valgenema hakkas (olin varitsuses kogu öö), nägin, et Laine sõitis Kilgi majast rattaga
  välja minu suunas. Kui ta jõudis minuni, tegin 9 meetri pealt lasu püstolist TT. Laine kukkus, nägin et kuul oli
  sattunud talle otsaette ja ta on surnud, otsisin ta läbi, võtsin temalt ära Saksa Parabellumi ja läksin Kerstna Helmi
  poole, kelle juures ma peatusin, kuid temale ma sellest midagi ei rääkinud.
</blockquote>

<p>
  Surnu ülevaatus tuvastas Laine Voldemaril vasema kõrva piirkonnast purunenud kolju, kolju põhimiku luu ja oimuluu,
  parema silma seesmise nurga juures augu. Kuuliauku otsaees surnu ülevaatus ei märgi.
</p>

<p>
  Ots Endeli süüks pandi ka miilitsavolinik Laatspera Valteri tapmine, mille Toomsalu ütlusel panid toime Pihlapuu Simo
  salga mehed. Ots võttis omaks ka koos Virk Herbertiga päise päeva ajal toime pandud Riigipanga filiaali röövi Rõuges.
  Ots Endelile määrati 25a vanglaid.
</p>

<p>
  <b>Varustuskäigud punavõimu pooldajate majapidamistesse.</b>
  <br>
  <b>Septembris 1948</b>
  puistasid Toomsalu Auleidi ja Pihlapuu Simo salk (Virk Herbert, Kirbits Kalju, Sprenk Aksel ja Uibo Heino) Pihlapuu
  Richardi osavõtul
  <b>Truija</b>
  majapidamist (sedasama Truijat käis hirmutamas näiteks ka vendade Pilvede metsavennasalk). Talu juurde mindi öösel
  jalgsi. Pihlapuu Simo lõhkus automaadiga akna, kaasa võeti vajaminevaid asju ja toitu, mis laoti Pihlapuu Richardi
  vankrile. Kaasa võetud kraam, muu hulgas 3 lammast, viidi metsa majaperemehe hobusega. Toas valvas sel ajal peremeest
  ja -naist Uibo Heino. Pärast saagi jagamist lahkusid Uibo ja Sprenk eraldi oma varjupaika.
</p>

<p>
  <b>Septembris 1948</b>
  läksid Toomsalu, Virk, Kirbits Kalju ja Kirbits Eduard neljakesi
  <b>Vahtre talu</b>
  juurde. Toomsalu koos kaaslasega sisenesid majja, kust viisid villa, kangast, toiduaineid ja muud vajalikku.
  Majaperemeest ja -perenaist hoiti sel ajal luku taga eraldi ruumis. Kogu kraam tõsteti peremehe vankrile, millega
  Toomsalu ja Kirbits sõitsid suurele teele, et kohtuda seal kahe valvesse jäetud metsavennaga, kes jälgisid ümbrust.
  Ära võetud kraami viisid nad metsa ja peitsid sinna. Metsast aga oli keegi selle omakorda minema viinud.
</p>

<p>
  <b>Septembris 1948</b>
  tühjendasid Toomsalu Auleid, Virk Herbert, Kirbits Kalju ja Pettai
  <b>Elmar Luutsniku meierei koorevankrit.</b>
  Paari päeva möödudes kohtuti Virk Herberti kaudu Pihlapuu Simoga, kelle hüüdnimi oli Vana-Jüri. Viimane ütles, et ta
  vajab mõnikord tegutsemiseks rohkem mehi ja annab siis sellest teada. Kohtumispaigaks jäi üks sihitulp soos, kuhu
  kinnitati kirjake kokkusaamise kuupäeva ja kellaajaga.
  <br>
  Virk Herbert tegi ühel sellisel kohtumisel ettepaneku hankida koort, teised nõustusid. Nad korraldasid teel varitsuse,
  peatasid hobuse ja viisid minema 6 koorepütti, mille peitsid metsa ära, hobuse lasid lahti. 3 pütti leidsid nad hiljem
  üles, ülejäänud 3 olid jälitama asunud hävituspataljonlased üles leidnud ja minema viinud.
</p>

<p>
  <b>Oktoobris 1948</b>
  suundusid Toomsalu Auleid, Virk Herbert, Kirbits Kalju, Kirbits Eduard, Pihlapuu Richard ja Pettai Elmar relvastatuna
  <b>Luutsniku kooperatiivi</b>
  . Teel lõikasid nad läbi kooperatiivi viivad telefonijuhtmed. Kohale jõudes vaatasid nad koha üle, valvet polnud näha,
  aknas paistis tuli. Nad sisenesid poehoonesse, kust leidsid eest magava poejuhataja, kelle äratasid üles ja tegid
  talle ettepaneku kaup neile loovutada. Teisest toast leidsid nad kodanik Metsa koos naisega. Viimastel palus Toomsalu
  Auleid püsida oma toas ja sealt mitte lahkuda, paremaks äraolemiseks tõi ta neile sinna veini ja küpsiseid. Poest
  võtsid mehed kaasa palju kaupa, ladusid selle kahele vankrile ja viisid Pihlapuu Richardi majja. Poehoonesse jäänud
  inimestele öeldi, et nad püsiksid kuni hommikuni toas. Toomsalu Auleid ja Kirbits Kalju viisid oma osa varudest Lepp
  Alfredi talu lähedale punkrisse.
  <br>
  Sama sündmuse kohta andis tunnistuse ka punaaktivist Mee Alma (Noortoots), keda nöögiti poeröövile kaasa kutsumisega.
  Naine tunnistas, et õhtul u kl 22 tulid tema poole relvastatud isikud, kellest 3 tulid tuppa ja käskisid tal relva
  ähvardusel anda neile hobune koos vankriga. Õuele jäänud metsavennad rakendasidki hobuse ette ja käskisid tal endaga
  poodi kaasa sõita. Tema koos kahe mehega istus vankrisse, kolmas astus ise omal jalal vankri kõrval ja nii liiguti
  Luutsniku kaupluse suunas. Poest sõideti u 500 m mööda, Kilomani küla servas peatasid mehed hobuse ja andsid viledega
  metsa märku, kuid metsast vilele vastust ei tulnud ja nad sõitsid tagasi ning jäid pidama kauplusest u 15-20 m
  kaugusele. Kohale sõitis teinegi vanker, milles istus keegi papi, väikese habemega, kasukaga (Richard Pihlapuu). Mee
  Alma sõnul kutsuti ta kooperatiivi siseruumidesse kaasa. Seal asusid juba ees ihupesu väel poe juhataja Krjukov ning
  poe varasem omanik Mets Karl oma naisega. Relvaga sihtides juhtis üks metsavendadest nad kõik Metsa korterisse, kuhu
  nad paigutati laua taha istuma. Sinna tõi Toomsalu neile kauplusest pudeli veini ja küpsiseid. Iga 5-6 minuti järel
  käis Toomsalu neid kontrollimas, seni kui teised kandsid kooperatiivist kraami vankritele. Umbes tunni aja möödudes,
  pärast kooperatiivi tühjendamist, metsavennad lahkusid ja jääjaid hoiatati, et kui nad väljuvad, siis lastakse nad
  maha, sest kooperatiivi juurde jääb valve. Hoiatuse saanud isikud istusidki neljakesi toas kuni hommikuni. Veendunud,
  et kedagi pole, teatas Mets sellest juhtumist Julgeolekule ja kell 8 hommikul sõitis kohale auto RJM-st. Oma hobuse
  leidis Mee Alma üles kolmandal päeval Plaanilt Luige juurest (kes küüditati kulakuna 1949).
</p>

<p>
  Mee (Noortoots) Almal aktiivse punategelasena oli metsavendadega korduvalt tegemist. Mee Alma elukaaslase,
  miilitsavolinik Adolf Noortootsi olid metsavennad 1945. a kättemaksuks maha lasknud, kuna viimane korraldas koos
  hävituspataljonlastega metsavendade arreteerimiseks haaranguid, millest kandis ette Võrumaa julgeolekuosakonna ülemale
  Zagrebalovile. Ettekandeid näeb
  <a href="/rouge/noortoots">SIIN</a>
</p>

<p>Mee (Noortoots) Alma tunnistas:</p>

<blockquote>
  Ükskord öösel kl 2-3 tulid minu tuppa 4 bandiiti, kellest tundsin ühte – Pärli Elmarit. Nad hakkasid mind ähvardama
  mahalaskmisega ja nõudsid, et miks ma pooldan nõukogude võimu. Üks neist ütles, et kui ma ühe kuu jooksul ei muutu,
  siis nad tapavad mu. Mind hoiti kohal relvaga ähvardades, ei lastud kuhugi minna. Alaealised lapsed – Heino 11a ja
  Koidula 13a magasid, nii et bandiite mitte keegi peale minu ei näinud. Umbes tunni aja möödudes bandiidid lahkusid.
  Nad hoiatasid, et ma nende käigust kellelegi ei iitsataks, muidu tapavad mu. Teatasin sellest juhtumist Ruusmäe
  partorgile Žilkinile.
</blockquote>

<p>
  Pärast Luutsniku kooperatiivi tühjendamist kohtus Virk Herbert Pihlapuu Richardi ja Pihlapuu Simoga. Otsustati
  tühjendada
  <b>Haanja tööstuskombinaati</b>, millega kõik olid nõus. Läksid Toomsalu Auleid, Kirbits Kalju, Sprenk Aksel, Pihlapuu
  Simo ja Pihlapuu Richard. Nad sõitsid kahel hobusel tööstuskombinaadi hoone juurde. Sealt võtsid nad kaasa villa,
  nahka, seepi jm, viisid selle metsa ja jagasid omavahel ära. Sprenk Aksel sõitis minema, teised jäid neljakesi:
  Toomsalu Auleid, Virk Herbert, Kirbits Kalju ja Pihlapuu Simo.
</p>

<p>
  <b>
    Julgeolekutöötaja Vänter Leonhardi ja hävituspataljonlase Kaljuvee Leo tapmine 5. novembril 1948 Kangsti
    kooperatiivis.
  </b>
  <br>
  Oktoobris-novembris 1948 varjas Toomsalu end koos Kirbits Kaljuga Pettai Emilie juures Pulli talus Haki külas
  Viitinas. Nad pidasid sidet Virk Herbertiga, kes varjas end Kirbits Edgari (hüüdnimega Peremees) talus, samuti
  Pihlapuu Simo, Uibo Heino ja Sprenk Akseliga, kes varjasid end Ala-Viitinas. Omavaheliseks sidepidamiseks oli neil
  punker Luha metsas, kus nad aeg-ajalt kokku said. Selles punkris töötati välja Lepistu vallas asuva Kangsti poe
  röövimise plaan. Plaani järgi pidid röövist osa võtma Sprenk Aksel ühe vankriga ja Pihlapuu Richard teisega.
  <br>
  Järgmisel päeval kokkulepitud ajal pärast päikeseloojangut kogunesid automaatidega relvastatud Toomsalu Auleid, Uibo
  Heino ja Virk Herbert ning püstolitega relvastatud Kirbits Kalju ja Pihlapuu Simo ühes tühjas majas Kogre metsa
  lähedal. Seal riietus Kirbits Kalju naistekleiti ja koos suunduti metsa, kus neid kokkulepitud kohas ootasid
  vankritega Sprenk Aksel ja Pihlapuu Richard. Pimeduse saabudes sõitsid Virk Herbert, Pihlapuu Simo ja naisteriietes
  Kirbits Kalju kahel jalgrattal ees Kangsti kooperatiivi juurde, et see enda valdusse võtta. Toomsalu Auleid Sprenk
  Akseliga ja Uibo Heino Pihlapuu Richardiga pidid pärast kaupluse kontrolli alla saamist kauba vankritele tõstma ja ära
  viima.
  <br>
  Hobustega kaupluse poole sõites tulid neile vastu jalgratastel tagasi pöördunud Pihlapuu Simo ja Kirbits Kalju, kes
  teatasid, et rööv jääb ära, kuna nad tapsid kooperatiivi ülevõtmise käigus RJM töötaja n ltn Vänteri ja kooperatiivi
  juhataja Kaljuvee. Virk Herbertist ei teadnud nad sel hetkel midagi. Jälitamisest hoidumiseks mindi kohe laiali.
  Toomsalu koos Kirbits Kaljuga pöördusid tagasi Pulli tallu Pettai Emilie juurde.
  <br>
  4-5 päeva hiljem kohtasid Toomsalu Auleid ja Kirbits Kalju Virk Herbertit ja Pihlapuu Simot ning rääkisid juhtunust
  täpsemalt. Kirbits Kalju ja Pihlapuu Simo sõnade kohaselt sisenesid RJM töötaja Vänter ja poe juhataja Kaljuvee
  juhuslikult poodi just sel ajal, kui nad kõiki poes viibinud inimesi valve alla võtsid. Mehi märgates proovisid Vänter
  ja Kaljuvee tulistada püstolitest Virk Herberti pihta, kes valvas kaupluses viibivaid inimesi, kuid samal hetkel
  tulistasid Pihlapuu Simo ja Kirbits Kalju nad mõlemad surnuks.
</p>

<img class="lg-img image-left w-[30%]" src="/images/rouge/2_kangsti.jpg">

<p>
  Tunni aja möödudes saabusid sündmuspaigale RJM Võru rajooniosakonna vanem operatiivvolinik v ltn Polunin koos RJM
  vägede 260. polgu roodukomandöri, v ltn Stipuraga, RJM Võru rajooniosakonna operatiivvoliniku ltn Sarakejeviga, RJM
  Võru rajooniosakonna kriminaaljälituse ülema ltn Palkiga, Võru Prokuratuuri uurija Pruuli ja Varstu valla partorgi
  Kuusiga. Nad tõdesid, et tapetud on:
</p>

<img class="lg-img image-left w-[22%]" src="/images/rouge/3_vanter.jpg" alt="Leonhard Vänter">

<p>
  1. n ltn Vänter Leonhard Emili p 1912, VK(b)P liige, Sõmerpalu valla elanik, eestlane. 20.07.1945-6.11.1948 töötas
  Julgeolekus. Viimane töökoht oli Põlva operatiivpunktis RJM Võru rajooniosakonnas operatiivvolinikuna. (Partorg
  Teplenkov mainib teda 1947. a tegutsemas Rõuge operatiivpunktis)
</p>

<p>
  2. Kaljuvee, Leon, s 1905, eestlane, VK(b)P liige alates 1948, hävituspataljonlane, Kangsti kaupluse juhataja Lepistu
  vallas. Kuna ta oli alati partei ja valitsuse üritustel tõlgiks, oli Kaljuveel „selle riigikorra ülesehituse
  vaenlastega halb vahekord“. Suulistes mälestustes meenutatakse Kaljuveed samuti metsavendade agara vaenajana. Sooviga
  metsavendi sisse põletada oli ta süüdanud Hernitsate heinaküüni ja põletanud selle maani maha.
</p>

<p>
  Vänteril oli rinnas 2 kuulihaava, üksteisest u 1,5 cm kaugusel, kolmas kuulihaav vasakus käes, neljas näos ninajuurel.
  Vänteri taskust leiti 0,33l pudel 40%viina.
  <br>
  Poejuhatajal oli 2 läbistavat kuulihaava paremal ja vasakul rinnas.
</p>

<p>Kaljuvee Heino kirjeldus:</p>

<blockquote>
  Olin 5. novembril kodus kuni lõunani ja müüsin kaupluses. Kui vend tuli, läksin korterisse teise tuppa, kus asusid
  minu ema, vennad ja õed, Morozova ja isa sugulane M. E. Umbes kell 5 õhtul hakkas koer ões haukuma. Vaatama minnes
  kohtasin mulle tundmatut jalgrattal meest, kes tuli rattalt maha ja kamandas mul käed üles, ise relvaga sihtides. Ma
  ehmusin, jooksin varjupaika otsides pööningule, kuid pöördusin siiski tagasi kööki. Tundmatu kamandas mul uuesti käed
  üles, otsis mu läbi ja küsis: “Kus on su vanem, 17 aastane vend, kes õpib linnas?“ Vastasin, et ta on linnas. Tundmatu
  käskis mul minna tuppa, ise läks ta püstol peos köögi keskele, jälgides samal ajal uksi, mis viisid kauplusse,
  tänavale ja meie tuppa. Hetkel, kui ma üle läve köögist tuppa astusin, avas isa kauplusest kööki viiva ukse ja
  tundmatu kamandas tal käed üles. Isa sulges ukse, proovides samal ajal vöölt püstolit haarata. Sel hetkel tulistas
  võõras isa pihta. Ma jooksin kohe kauplusse ja pugesin leti taha, kaupluses toimus samal ajal tulevahetus, kes keda
  tulistas, ma ei näinud. Kui ma tulistamise lõppedes leti tagant välja tulin, küsis üks teine võõras mees minult, kes
  ma selline olen. Vastasin, et Kaljuvee Leo poeg. Seesama mees läks mu tapetud isa juurde ja tiris teda poolkasukast,
  aga kolmas, naiseriietes mees läks Vänteri juurde ja tonksas teda jalaga, arvatavasti tahtis veenduda, et ta on
  surnud. Vänteri juurest eemaldudes ütles naiseriietes tundmatu, et sai oma osa. Mis ta sellega mõtles, ei tea. Enne
  lahkumist hõikas naiseriietes tüüp: „Nii tapetakse kommuniste!“ Võõraste majast lahkudes kiirustasin kohe teisele
  korrusele ja vaatasin aknast välja. Rattaga tundmatu kiirustas metsa poole, tema järel jooksis see naiseriietes,
  kolmandat ei näinud. Läksin kiiresti alla vintpüssi järele ja leides selle, uuesti kiiruga üles, kuid kedagi polnud
  enam näha.
</blockquote>

<p>Kaljuvee Heino lisas, et kahtlustab tapmises Kallus Kaljut:</p>

<blockquote>
  Kalluse pere suhtus mu isasse vaenulikult erinevatel põhjustel, Kallus Kalju vend varjab end, kus, ma ei tea.
</blockquote>

<p>Kaljuvee Ülo (s.1931):</p>

<blockquote>
  10 min enne isa tulekut, umbes kell 17 tulid poodi 3 alaealist Linderbergi, 14 aastased ja Kiviste August u 14 a. Olin
  sel ajal kooperatiivis leti taga, ema läks korterisse. 6-8 min pärast tulid veel 2 inimest, nägupidi täiesti võõrad.
  Üks neist oli pikk mees, u 30a, pikliku näoga, halli mantliga, teine keskmist kasvu, ümmarguse näoga, šatään, mustas
  mantlis, mustade pükstega, rätik pähe seotud. Nad ostsid taskulambile 5 patareid ja hakkasid vaatama kangaid. Sel
  hetkel astus kooperatiivi mu isa, tervitas, läks leti taha ja suundus ukse poole, mis viib kooperatiivist meie korteri
  kööki. Temaga oli kaasas veel üks mees, mulle tundmatu.
  <br>
  Ukse avanud, hakkas mu isa sisenema kööki. Sel hetkel tehti köögist isa pihta lask. Isa haaras parajasti taskust
  püstolit, mis oli temal kui hävituspataljoni võitlejal kaasas, kui kohe kõlaski lask. Kaupluses viibinud alaealised
  jooksid ära õue, mina ka. Õues seisis kooperatiivi lähedal Morozova ja karjus kõva häälega naabreid appi. Kooperatiivi
  lähedal seisis vanker, milles istus Keem Hilda, viimane ütles, et ma võtaksin vankrist automaadi, mille isa oli sinna
  jätnud, ja asuksin kaitsesse.
  <br>
  Haarasin automaadi ja jooksin kraavi, 15m kaugusel kooperatiivist. Kooperatiivist olid kuulda üksikud lasud. Sel ajal
  tuli kooperatiivist välja veel üks isik, kelle pihta ma ka tulistasin. Ta kukkus ja rohkem ma teda ei näinud, kas ta
  varjus kuhugi või läks tagasi kooperatiivi, kas ta oli bandiit või koos isaga tulnud inimene, sellest ma aru ei
  saanud. Siis jooksis naisteriides inimene kooperatiivi juurde, haaras maast jalgratta ja varjus sellega hoone taha.
  Kuhu nad läksid, seda ma ei näinud.
</blockquote>

<p>Keem Hilda tunnistus:</p>

<blockquote>
  Poe uks oli lahti, õues tolmu sees lebas jalgratas, mulle tundus, et poes juuakse. Samal hetkel kuulsin lasku, kohe
  seejärel jooksis poest välja Morozova, karjudes kõva häälega: „Appi, appi, bandiidid!“, tema kannul bandiit, kes tegi
  kaks lasku õhku. Ma keerasin vankriga tee peale, aga bandiit pöördus kööki tagasi. Bandiit tulistas üles, mitte
  Morozova pihta. Kui Morozova räägib, et ta tema pihta tulistas, siis ta valetab. Kui ta oleks Morozova pihta
  tulistanud, oleks ta tema kohe tapnud, sest oli temast vaid mõne sammu kaugusel. Teel kohtasin Kaljuvee poega Ülot,
  kellele ütlesin, et ta võtaks vankrist automaadi. Ta võttiski ja viskas kraavi pikali. Ma seisin vankriga tee peal,
  köögiaknalt vehkis Kaljuvee naine käega, et ma lahkuksin ja ma sõitsin ära koju.
</blockquote>

<p>Morozova:</p>

<blockquote>
  5. nov. 1948 umbes kell 16 olime mina ja Kaljuvee naine lastega toas, kui toa uksele ilmus u 23-24 a inimene. Kaljuvee
  naine tahtis just toast väljuda, kuid tundmatu, kes seisis näoga ukse poole, võttis püksitaskust püstoli ja käskis
  toast mitte lahkuda. Möödus 5-10 minutit, kui kaupluse juhataja Kaljuvee astus kauplusest kööki, bandiit seisis toa ja
  köögi uksel, pöördus kohe köögi poole ja tegi Kaljuvee pihta ühe lasu, misjärel ta jooksis kohe teisest uksest
  tänavale, mina jooksin tema järel ja karjusin talle, et mina sind, bandiit, tunnen! Bandiit peatus ja tulistas minu
  pihta, kuid ei tabanud, pärast laskmist bandiit jäigi seisma kaupluse kõrvale. Ma jooksin Võru-Valga tee peale ja
  hakkasin karjuma: „Karauul!“, sel hetkel jooksis kaupluse uksele naiseriietes isik ja tulistas mind, hüüdes ise
  seejuures: „Mis sa kurat karjud!“. Kohe, kui see naiseriietes isik tegi 3 lasku, tulistas teda Kaljuvee poeg
  maanteekraavist automaadist, ma ise nägin. Bandiit kukkus kohe maapinnale, püstol selles suunas, kus lamas Kaljuvee
  poeg automaadiga, seejuures tegi ta Kaljuvee poja suunas mõned lasud, mis ei tabanud, vahemaa oli vast 20m. Bandiit
  tõusis kiiresti ja jooksis poehoone nurga taha. Samal hetkel hakkas Kaljuvee poeg automaadist tulistama, kuid
  bandiidil õnnestus põgeneda.
  <br>
  Üks päev enne Vänteri ja Kaljuvee tapmist 5. nov 1948 nägin sedasama bandiiti, kes Kaljuvee tuppa tuli. Nimelt 4. nov
  1948 sõitsime koos Kaljuveega autoga Krabile, Varstu valda, müüma Kangsti poest seepi, komme ja riiet. Kui ma müüma
  hakkasin, tuli mu juurde üks inimene, nii umbes 23 a vana, ja küsis: Kas ma saaksin osta seepi?“ Vastasin, et palun,
  mille peale ta lausus, et seepi pole tal vaja, et soovib hoopis komme ja ostis Kaljuveelt 500 g komme. Ta läks
  Kaljuveest 5 m kaugusele ja hakkas komme sööma, seisis seal ligi 15 min, aga siis lahkus kuhugi. Kui ta 5. nov
  Kaljuvee tuppa astus, tundsin kohe ära, et see oli sama mees, kes 4. nov ostis Krabil komme.
  <br>
  Ka päev varem, 4. nov. 1948, toimus Kangsti kaupluses tulistamine.
  <br>
  Kui me Krabilt tagasi tulime, u kl 19, koputas keegi uksele ja ütles, et me avaksime talle ukse, mille peale kaupluse
  juhataja Kaljuvee tulistas Nagaanist lasu ukse pihta. Meie läksime kohe pööningule, et vaadata, mis inimesed need olid
  ja kuhu nad lähevad. Nägin isiklikult kahte inimest, kes läksid poe juurest metsa poole, kaupluse juhataja tulistas
  nende pihta veel 3 korda, mille peale 2 inimest varjusid metsa.
</blockquote>

<p>
  <b>Teedeosakonna kassiirilt raha röövimine 8. dets. 1948 kell 13.</b>
  <br>
  Kui kassiir oli Rõuges palgad ära maksnud, sõitis ta edasi Luutsniku osakonda. Kirbits Kalju sai teada, millist teed
  mööda auto sõidab.
  <br>
  Kaassõitja tunnistus:
</p>

<blockquote>
  Umbes 10 km Rõugest edasi seisis teel mees. Kui me mööda sõitsime, võttis ta mütsi peast ja vehkis sellega. Kohe
  jooksid metsast välja 3 relvastatud meest ja nõudsid, et autojuht peatuks. Röövlid otsisid läbi minu, kassiiri ja
  autojuhi. Autojuht oli ühel pool autot, mina ja kassiir teisel pool. Nägin, kui röövlid võtsid kassiirilt kasti
  rahadega ja lubasid meil seejärel edasi sõita. Pöörasime auto ringi ja sõitsime tagasi Rõugesse, kus teatasime
  teemeistri juurest telefonitsi Võrru. Pärast kontrolli ütles kassiir, et raha võeti summas 16000 rbl. Kõik röövlid
  olid noored ja mulle tundmatud. Kassiir Jakovlev Vladimir Andrejevitš on Teedeosakonnast vallandatud 18.11.1949. Ta
  lahkus vabariigist ja jäi kassasse võlgu 700 rbl.
</blockquote>

<p>Toomsalu tunnistus:</p>

<blockquote>
  Saime Kirbits Kaljult teate, et seda teed pidi peaks autoga sõitma MVD teedeosakonna kassiir. Korraldasime teel
  varitsuse ja jälgisime, kuna ilmub auto, mille number oli meile eelnevalt teada. Varitsuses olles ütles Pihlapuu Simo
  mulle, et ma läheksin teele ja kui tuleb see masin, mida me ootame, annaksin märku – lehvitaksin oma nokamütsi.
  Nägingi seda masinat lähenemas ja andsin märku. Kõik metsavennad tulid teele ja koos peatasime masina. Küsisime
  sõitjatelt kohe, kelle käes on riigi raha. Kassiir vastas, et temal on 16 tuhat rubla riigi raha. Tegime kassiirile
  ettepaneku see raha meile anda, mida ta ka tegi, seejärel varjusime metsa. Summa jagati röövist osavõtnute vahel.
</blockquote>

<p>
  <b>Jaanuaris 1949 Valner Eduardi hukkamine.</b>
  <br>
  Valner oli olnud metsavend aastatel 1944-1948 ja varjanud end koos Pihlapuu Simo ja Uibo Heinoga. 1948. a ta
  legaliseerus. Veetsman Helmi, kellega koos ta end vahetult enne legaliseerumist varjas, teadis öelda vaid seda, et ta
  varjas end süüdistuse tõttu, et oli Saksa võimudele välja andnud ühe nõukogude aktivisti. Kui naine oli täpsemalt
  uurinud, vastanud Valner üksnes, et pole sinu asi. Detsembris 1948 legaliseerusid nad üheskoos ja asusid jaanuaris
  elama Valner Eduardi poole. Pihlapuu Simol oli aga andmeid, et Julgeolek oli legaliseerumisel värvanud Valneri
  metsavendade ülesandjaks. Pihlapuu ja Uibo kinnitasid, et nad nägid oma silmaga, kuidas Valner oli neid jälitanud.
  <br>
  Valneri tallu suundusid seepeale 5 relvastatud metsavenda, kellest naine tundis vaid kahte: Pihlapuu Simot ja Uibo
  Heinot. Teisi (Sprenk Akselit, Kirbits Kaljut ja Toomsalu Auleidi) nägi ta esimest korda. 3 talle tundmatut metsavenda
  suundusid magamistuppa, kus teatasid elanikele, et need on arreteeritud. Neil kästi riietuda ning ühes minna. Majast
  eemal istuti hobuvankrile ja sõideti Pihlapuu Simo punkrisse Allase metsa Rõuge vallas. Sealsamas viidi järgmisel
  päeval läbi ülekuulamine. Valneri küsitlemisest võtsid osa kõik metsavennad. Temalt uuriti, miks ta metsast välja läks
  ja mis ülesande ta selle käigus Julgeolekult sai. Neid huvitas ka naise varjumise põhjus ning kõik tema ja Valneri
  legaliseerumisega seotud asjaolud. Jõuti otsusele, et Valner tuleb hukata. Uibo soovitas maha lasta ka Valneri naise,
  kuid et kõik ülejäänud olid selle vastu, lasti ta vabaks. Pärast otsuse vastu võtmist viisid Kirbits Kalju ja Uibo
  Heino Valneri 2-3 km kaugusele ja lasid maha ühes vanas punkris, mis pidi kevadel ära lammutatama. Vabaks lastud naine
  kuulis lahkumisel u 2 km eemal lasku, millest tegi järelduse, et Valner lasti maha. Naiselt võeti vanne, et ta
  võimudele asjast teatama ei lähe.
</p>

<p>Auleid Toomsalu tunnistus:</p>

<blockquote>
  Jaanuaris 1949 tuli meie punkrisse Lepp Alfredi talu lähedal Pihlapuu Simo ja pöördus minu poole abi saamiseks, et
  hukata metsavendade reetja ja äraandja Valner. Mina ja Kirbits Kalju andsime nõusoleku. Läksime samal päeval Pihlapuu
  Simo punkrisse, mis asus Krabi metsas, kus kohtusime Uibo Heino ja Sprenk Akseliga, viiekesi otsustasime võimalusel
  Valner leida ja kinni võtta. Järgmisel päeval läksime Varstusse Põdra tallu, lootes sealt Valnerit leida, kuid teda
  polnud. Võtsime kodanik Põdralt hobuse ja sõitsime Valneri tallu Varstu valda, mis külla, ei mäleta. Mina ja Kirbits
  Kalju läksime sisse ja teatasime Valnerile, et ta on arreteeritud koos oma seadustamata naise Põdraga, nime ei mäleta.
  Suundusime õue ja panime nad vankrisse koos Pihlapuu, Uibo ja Sprenkiga ning viisime metsa. Sealt läksime jalgsi edasi
  Pihlapuu Simo punkrisse, kus järgmisel päeval korraldasime ülekuulamise ja süüdistasime teda eesti rahva reetmises.
  Kirbits Kalju ja Uibo Heino viisid Valneri vanasse lagunenud punkrisse, mis asus läheduses ja lasid ta seal maha, aga
  Põdra lasime lahti, võttes talt vande, et ta nõukogude võimuorganitele sellest teatama ei lähe.
</blockquote>

<p>
  <b>Haarang Kuklase Nikolai talus.</b>
  6. veebruaril 1949 olid Toomsalu Auleid, Pihlapuu Simo ja Kirbits Kalju koos paljude teiste noortega kutsutud
  Ortumäele Kuklase Nikolai tallu sünnipäevale. Kokku oli tulnud ligi kolmkümmend inimest, ka Pettai Edgar oma
  pereliikmetega ja metsavendadega. Tantsiti kuni hommikuni. Kella nelja paiku varahommikul piiras julgeolekuüksus talu
  sisse ja toimus haarang. Metsavendadel olid kaasas vaid taskurelvad. Sõjaväelaste operatiivgrupi lähenemisel Kuklase
  majale panid metsavennad oma relvad laskevalmis ja püüdsid taanduda metsa. Kirbits Kalju langes tulevahetuses.
  Toomsalu varjus, algul peldikusse, kriitilisemal hetkel väidetavalt isegi lampkasti. Maja kammiti läbi tunde, kuid
  üles teda ei leitud. Haarangu käigus võeti peolt noori kinni ja viidi Julgeolekusse ülekuulamisele.
  <br>
  Toomsalule teadaolevalt käis organitele toimuvast peost keelt kandmas Kuklaste naaber Labi Lembit.
</p>

<p>RJM ettekanne haarangust:</p>

<blockquote>
  5. veebr ööl vastu 6. 1949 u kl 24 teatas major Mirošnitsenko mulle telefoni teel Rõuge operatiivpunkti, et u 10 km
  Rõuge operatiivpunktist Ruusmäe poole Kuklase talus või Kuklase nimelise inimese juures peetakse pidu, kus peaks
  osalema ka grupp bandiite. Ma
  <i>(loetamatu)</i>
  autosse ja koos 9 inimesest koosneva sõjalise grupiga ja RJM vägede leitnandi P
  <i>(loetamatu nimi)</i>
  sõitsin kohta, kus bandiidid pidid asuma, võttes eelnevalt kaasa Rõuge elaniku Helmes Karli, kes on
  <i>(loetamatu sõna)</i>
  informaator „Klas“. Tõlki mul
  <i>(loetamatu)</i>
  ei olnud ja kasutasin oma eestikeelset sõnavara. Helmes Karl näitas mulle Kuklase talu ja ma saatsin ta koju tagasi,
  ise hakkasin läbi viima operatsiooni, mille tulemusena selgus, et me olime sattunud Kuklase sugulase talu juurde,
  mitte selle talu juurde, kus olid bandiidid. Selles talus ei olnud kedagi kodus, isegi pererahvast mitte, pärast talu
  läbiotsimist ja ülevaatamist mina ja ltn P
  <i>(loetamatu nimi)</i>
  tahtsime täpsemate andmete saamiseks tagasi pöörduda, kuid üks sõduritest tegi ettepaneku kontrollida ühte talu, mis
  asus meist u 200-250m kaugusel. Mina ja sõjaline grupp läksime tallu. Sel ajal kui me sõjalise grupiga talu
  blokeerisime, jooksis talust välja inimene, tulistasin isiklikult püstolist tema pihta, kuid ta ei peatunud ja jooksis
  edasi. Umbes 100-150m kauguselt talust tapeti ta sõjalise grupi poolt. See oli bandiit Kirbits Kalju, talu oli Kuklase
  Nikolai oma, nagu sain teada hiljem. Tõepoolest peeti selles talus noorte pidu ja seal oli u 30 inimest, kellest 5 ma
  pidasin kinni ja viisin kaasa Võru RJM osakonda. Mingeid muid andmeid peale selle, et u 10 km Rõuge operatiivpunktist
  Ruusmäe valla suunas toimub pidu Kuklase talus (talu või peremehe nimi), mitte Kuklase Nikolai talus, kus peaksid
  olema ka bandiidid, ma ei teadnud, sõitsime välja operatsioonile RJM Võru osakonna ülema asetäitja major sm
  Mirošnitšenko poolt telefonitsi saadetud teate peale. 23. mail 49, Võru maakonnaosakonna operatiivpunkti ülem Antonov.
</blockquote>

<p>
  Oma onupoja Kirbits Kalju surma järel varjas Toomsalu end kuni märtsini 1949 üksi. Ta kohtus aeg-ajalt Pettai
  Elmariga, vahel ühines nendega Kirbits Aksel. Ühel sellisel kohtumisel ütles Kirbits Aksel, et temal lõppesid otsa nii
  raha kui söök. Tagavarasid otsustati hankida Luutsniku kauplusest.
  <br>
  <b>Aprillis 1949</b>
  viis Toomsalu salk
  <b>Luutsniku kooperatiivist</b>
  kaupa u 20-30 000 rbl väärtuses.
  <br>
  Mindi mitmekesi: Toomsalu Auleid, Pettai Elmar, Kirbits Aksel ja Pihlapuu Richard. Viimane sõitis hobusel ees, teised
  läksid kooperatiiivi juurde jalgsi. Täitevkomitee juurde jõudes nägid nad läbi akna, et toas asuvad kooperatiivi
  öövaht ja kooperatiivi juhataja koos naisega. Nad kõik võeti poe juurde kaasa. Pood osutus tabalukuga suletuks, lukk
  lõhuti automaadiga ja siseneti kauplusesse, kus kinnipeetud paigutati eraldi ruumi. Neile viidi kostiks veini ja
  küpsiseid ning kästi hommikuni kohalt mitte lahkuda. Metsavennad ise pakkisid kauba, mida oli sel korral väga palju.
  Tuli välja, et kooperatiivi oli vahetult enne röövi varustatud. Kaup laaditi algul ühele vankrile, seejärel võeti
  kasutusele ka poe juhataja vanker. Niiviisi viidi see kahe vankriga Viitinasse metsa, kus jaotati.
</p>

<p>
  Samal perioodil täiendasid Pihlapuu Simo mehed oma varusid Sänna, Krabi, Varstu ja Mõniste kooperatiivist, rööviti
  Rõuge maksuinspektorit ja Krabi meiereid.
</p>

<p>
  1949. a märtsiküüditamine tõi rahvale ränga leina ja kestva hirmu uute küüditamiste ees. Järgnevatel kuudel levisid
  pidevalt oletatavad uued küüditamiskuupäevad ja meeleolu püsis pingeline. Selle ärevuse taustal tehti ots peale
  mitmele märtsiküüditamise kohalikule aktivistile, kes olid küüditamise eel avalikult ässitanud rahvast „kulakute“
  vastu.
</p>

<img class="lg-img image-left w-[30%]" src="/images/rouge/4_viso_skeem.jpg">

<p>
  Enne Toomsalu salgaga liitumist 1949. a juulis pani Liit Paul
  <b>27. aprillil 1949</b>
  kättemaksuks märtsiküüditamise eest toime Haanja partorgi Viso tapmise.
  <b>Partorg Viso Hugo tapmise</b>
  põhjuseks tõi Liit, et viimane tegutses väga aktiivselt nõukogude võimu kasuks, 1945. a võttis ta sageli osa
  haarangutest metsavendadele.
  <br>
  Märtsis 1949 organiseeris Viso „kulakute“ ja nende perede väljasaatmist Venemaale ning sundis inimesi kolhoosi. Liit
  Paul tõdes: „Arvestasin selle kõik kokku ja otsustasin aprilli lõpus Viso maha lasta.“
  <br>
  27. aprillil 1949 sai Liit Paul teada, et Haanja valla partorg Viso Hugo tuleb kolhooside moodustamiseks koosolekut
  pidama. Liit võttis oma automaadi ja läks öösel kella ühe ajal metsa, et vältida juhuslikke nägijaid, ja jäi tee
  lähedale Visot ootama. Ta teadis, et Viso sõitis sageli seda teed pidi Võrru ja arvestas, et kui partorg kuni lõunani
  kuhugi ei sõida, liigub ta keskpäeval selle tee äärde, kustkaudu Viso sõidab koju lõunale ja viib igal juhul oma
  otsuse täide.
  <br>
  Hommikul ta nägi, kuidas partorg sõitis mootorrattal täitevkomiteesse. Mõne aja pärast sõitis ta tagasi mööda teed,
  mille ääres Liit Paul varitsuses istus. Viso lähenedes sihtis Liit teda automaadist ja kui partorg oli peaaegu temaga
  kohakuti, tulistas valangu. Viso lasi mootorratta lenksud lahti, pöördus vasakule ja kukkus koos mootorrattaga
  vasakule teeserva. Liit Paul otsis tapetu läbi ning võttis talt ära 9mm püstoli Parabellum ja masinkirjas poliitloengu
  teksti. Ta püüdis mootorratast käivitada, et sündmuskohalt minema sõita, kuid see ei käivitunud. Ta jättis sõiduriista
  sinnapaika ning suundus tagasi metsa.
</p>

<img class="lg-img image-left w-[30%]" src="/images/rouge/5_teder_o_vaiksem.jpg" alt="Õilme Teder">

<p>
  <b>Komsorg Teder Õilme tapmine 5. mai 1949.</b>
  Krabilt pärit Teder Õilme (25a) oli enne Rõuge valla komsomolisekretäriks suunamist olnud Varstu vallas
  põllumajandusosakonna juhataja.
  <br>
  Noore naise ideoloogiline üliagarus, kalduvus jõhkrale tagakiusamisele ja „terav esinemine kulakliku elemendi vastu“
  tekitas paljudes kummastust ja viha. Reipa entusiasmiga hävitas ta inimeste elusid, vaenates „kulakuperesid“ ja käies
  Julgeolekus arreteerimisi taotlemas. Tema julmus jäi mällu ka küüditamiseks kokku aetud inimestele, kelle sõnul ta ei
  lubanud anda janustele nutvatele lastele laual olevast karafinist joogivett ega lasknud lapsi ruumist välja oma
  loomulikke vajadusi rahuldama (Hans Sissas. „Meenutused II osa“ lk 36).
  <br>
  Metsavendade teada oli just Teder Õilme olnud ka Kütt Jakobi lese ja laste küüditamise taga (perepea oli aasta varem
  surnud). Nende tühjaks jäänud elukohta Jaanipeebul täitevkomitee kõrval asus Teder ise elama.
</p>

<p>
  Tederi võimuka õeluse all kannatasid paljud inimesed ja pöördusid mitmel korral metsavendade poole küsimusega, kas ei
  anna ometi selle sõgeda Tederi asjus midagi ette võtta. Mõned täitevkomitee töötajadki püüdsid komsorgi kuidagi
  ohjeldada, mis ei jäänud ka partorg Movitsal kahe silma vahele:
</p>

<blockquote>
  17. aprillil
  <i>(1949)</i>
  s.o. viibides Ristemäe MTK-s
  <i>(mittetäielikus keskkoolis)</i>
  valla komsorg sm Teder suusõnalisel ettekandel märkis, et ilmunud kooli ruumidesse valla TK aseesimees Lett ning
  räägib, et olevat 3-4 relvastatud bandiiti väljas, ning tahavat tappa komsorgi. Kuna komsorg peitis ennast ära, kuni
  hommikuni, ning kedagi ei näinud ega midagi ei juhtunud. See võib olla aseesimehe Leti ja ühe Saksa pooldaja
  Lillemetsa keda kolhoosi vastu ei võetud nende töö ja ähvardus.
</blockquote>

<p>
  Oma võimu proovis Teder Õilme kehtestada ka Toomsalu Auleidi üle, kelle suhtes ta polnud vist päris ükskõikne. Kui
  Toomsalu end mõjutada ei lasknud, läks Teder Julgeolekule tema peale kaebama ning hakkas taga kiusama tema vanemaid,
  et sundida neid poega üles andma.
  <br>
  Ehkki Toomsalu lahkus 1948 veebruari lõpus Läänemaale, käis Teder aprilli alguses omal algatusel Julgeolekus tema
  peale kaebust vormistamas.
</p>

<p>
  Protokoll Tederi küsitlemisest Julgeolekus:
  <br>
  (Küsitleja on operatiivvolinik Panikovski Nikolai)
</p>

<blockquote>
  K: Kas teate kodanik Toomsalu Auleidi, Juliuse p? Kui, siis mis ajast ja millised on teie suhted?
  <br>
  V: Jah, tean Auleid Toomsalut hästi umbes märtsikuust 1947 ja meie suhted olid normaalsed.
  <br>
  K: Iseloomustage Toomsalu Auleidi ja tema suhtumist nõukogude võimu?
  <br>
  V: Minevikust, st Saksa okupatsiooni ajast ei tea ma kodanik Toomsalu kohta midagi, sest sel ajal ma selles vallas ei
  elanud, aga alates minu saabumisest 1947 märtsis tunnen Toomsalu Auleidi kui isikut, kes on nõukogude võimu vastu
  vaenulik.
  <br>
  31. jaanuaril 1948. a olin koos teistega kodanik Kroon Viia sünnipäeval, kes on Rõuge elanik, kohal viibis ka Auleid
  Toomsalu. Ta laulis seal kõigi kuulajate juuresolekul nõukogudevastaseid laule, praegu ma neid laule tervikuna ei
  mäleta, kuid mõned salmid mäletan ja kirjutan need eesti keeles üles ning palun lisada sellele protokollile. Kui
  Toomsalu seda laulu alustas, hoiatasin mina kui Rõuge komsorg teda, et praegusel ajal selliseid laule laulda ei tohi,
  mille peale Toomsalu vastas mulle, et tema seda ei tunnista, ja laulis ikka kogu laulu tervikuna lõpuni. Peale minu
  kuulsid Toomsalu nõukogudevastast laulu laulmas järgmised isikud: Saar Leili Rudolfi t, praegusel hetkel töötab Rõuge
  kooperatiivis müüjana, Kaan Helju Karli t töötab Rõuges ja Täht Heldur, Võru elanik, töötab autojuhina.
  <br>
  Veebruari viimastel päevadel 1948. a peol Rõuge rahvamajas võttis Auleid Toomsalu mind tantsima ja küsis tantsu ajal,
  kas ma olen sellest laulmisest kellelegi teatanud, ja ma vastasin, et ei ole. Ta ütles mulle, et kui ma sellest
  kellelegi ette kannaksin, siis ta tapaks mu ja et kui ta oleks mind kohanud paari nädala eest, siis ta oleks mu ka
  maha löönud. Ma oletan, et ta jälgis mind eesmärgiga ära tappa. Teistest Toomsalu Auleidi kuritegudest ma teadlik ei
  ole.
  <br>
  K: Kus Toomsalu praegu asub ja millega ta tegeleb?
  <br>
  V: Märtsis 1948 kodanik Toomsalu sõitis Tallinna ja kuuldavasti asus seal tööle, kuid kuhu täpselt, seda ma ei tea.
  <br>
  Mina, kodanik Teder, andsin oma allkirja RJM organitele selle kohta, et mulle on selgitatud, et minuga toimunud
  jutuajamisest, mis puudutas kodanik Auleid Toomsalu, ma mitte mingil juhul mitte kellegi ei räägi. Siinkirjutatu
  levitamist käsitletakse kui riigisaladuse levitamist
  <br>
  Allkiri: Õ. Teder
</blockquote>

<p>
  Teder Õilme ei unustanud Toomsalule viidata ka oma salajases ettekandes Julgeolekule ja Võrumaa parteikomiteele 1948.
  a novembris, milles ta nõudis Elstein Arveti arreteerimist.
  <br>
  Kroon Viia, kelle sünnipäeval Toomsalu Auleid rahvalikku laulu laulis, küüditati Siberisse koos perega.
</p>

<p>Toomsalu Auleidi tunnistus Tederi tapmise kohta:</p>

<blockquote>
  6. mail 1949 oli ilus ilm, otsustasime Pettaiga jalutama minna, võtsime automaadid ja veini kaasa ning suundusime
  Rõugesse. Seal viibides tuli mul mõte minna komsorg Tederi juurde. Kui ma majja astusin, nägi Teder mind ja hakkas
  karjuma, et ma teda ei tapaks. Ta tahtis õue joosta, kuid Pettai ei lasknud. Rahustasin Tederit ja ütlesin, et ta ei
  karjuks. Läksin teise tuppa ja võtsin sineli seljast. Kui hakkasin esimesse tuppa tagasi tulema, nägin aknast õuel
  kolme automaatidega vene sõdurit
  <i>(täitevkomitee oma relvastatud valvega asus sellest majast vaid 48m kaugusel)</i>
  . Jooksin teise tuppa ja tulistasin automaadist läbi akna õue. Tahtsin minna kööki, kuid uksel seisis Pettai, kes
  hoidis kinni komsorg Tederit. Ma tegin otselasu Tederi pihta ja tapsin ta, haavates seejuures Pettaid kätte. Hüppasime
  kohe õue, kus sõdureid polnud näha, ja jooksime metsa suunas. Tapsin komsorg Tederi selle eest, et ta käis Julgeolekus
  keelt kandmas selle kohta, et ma ühel peoõhtul olin laulnud keelatud (nõukogudevastaseid) laule. Sellega pani ta minu
  perekonna löögi alla. Hiljem kiusas Teder taga minu vanemaid – tegi neile takistusi kolhoosi astumisel, mu vanematelt
  hakati nõudma minu väljaandmist. Seetõttu kandsin ma Tederi peale viha.
</blockquote>

<p>Tederi tapmise asjus andis järgmisel päeval tunnistuse ka julgeolekunuhiks hakanud „kulaku“ poeg Labi Lembit:</p>

<blockquote>
  Mis puutub komsorg Teder Õilme tapmisse, siis ma tean, et komsorg Õilme Tederi tappis metsavend Auleid Toomsalu. Tean
  seda seetõttu, et tapmise toimepaneku ajal asusin mina, Labi Lembit, Teder Õilme korteris. Viibisin kõrvaltoas ja
  valmistusin magama minema, Teder Õilme pesi teises toas pesu. Mehed tulid komsorgi tuppa, st eraldasin kõne järgi, et
  seal oli kaks meest – ja kohe hakkas Teder Õilme paluma: “Auleid, ära lase, Auleid, ära lase!“ Vaatamata sellele
  tapeti ta samal hetkel tulirelvast kahe-kolme lasuga.
  <br>
  K: Miks te olete kindel, et komsorgi tappis just Toomsalu?
  <br>
  V: Esiteks sellepärast, et Auleidi nimelisi Rõuges rohkem ei leidu, teiseks sellepärast, et Teder Õilmel oli Toomsalu
  Auleidi vanematega halb läbisaamine ja nagu ma olen kohalikelt kuulnud, on Toomsalu Auleid komsorg Tederit juba ammu
  sellel pinnal ähvardanud.
</blockquote>

<img class="lg-img image-right w-[30%]" src="/images/rouge/6_tederi_tapmiskoht.jpg">

<p>
  Sündmuspaiga ülevaatus toetab pigem Toomsalu tunnistust: metsavennad viibisid toas tükk aega, enne kui läks
  tulistamiseks, teise tuppa oli jäetud sinel, mille taskus oli kotike padrunitega ja Saksa vintpüssi puhastamise
  varras. Tulistatud oli mitu kuuli aknast välja ja üks kuul aknast sisse (seda tegi 18 m kauguselt täitevkomitee juures
  postil seisnud sõdur, kuuldes majas tulistamist). Tulistajad lahkusid kiiruga ja maha oli tilkunud verd:
</p>

<blockquote>üks neist oli kas haavatud või jooksis tal nina verd.</blockquote>

<p>
  Oma tunnistust esitades andis Labi Julgeolekule üles kõik talle teadaolevad metsavennad ja nende abilised, teiste
  hulgas ka oma onu Pettai Edgari. Kuigi vahepeal kaldus jututeema kõrvale, avaldas Labi küsitluse lõpus ise soovi
  täiendavalt metsavendi ja nende abilisi nimetada, loetledes lisaks veel kümmekond nime. Ta tutvustas Julgeolekule ka
  metsavendade asukohta:
</p>

<blockquote>
  Kohalike elanike jutu järgi jääb see metsamassiivi, mis asub Rõuge, Ruusmäe ja Haanja valla piiril. Seejuures
  kasutavad nad tugipunktidena oma sugulasi ja abilisi, kes on vaenulikud nõukogude võimu vastu.
</blockquote>

<p>
  Järgmisel päeval, 6. mail 1949, korraldas Julgeolek haarangu, mille käigus arreteeriti Labide naabri Kuklase Nikolai
  pojad Valter ja Hugo. 9. mail röövisid julgeolekutöötajad koolipingist ka kolmanda venna Viktori, keda prooviti
  edutult sundida metsavendade äraandjaks. Valter saadeti Venemaale vangilaagrisse 25, Hugo ja Viktor mõlemad 10
  aastaks. Haarangu tarvis andis Julgeolekule andmed Labi Lembit.
  <br>
  Toomsalu palus kätte haavatud Pettai Elmarit ravima varasema sõjaväearsti Pallo Valteri, kes seejärel nende rühmaga
  liitus.
</p>

<blockquote>
  Pettai Elmar sai Rõuge komsorgi tapmisel haavata ja ravis end Linnas Rudolfi talus. Pallo Valter ravis ka Linnase
  naist ja poega, aitas haigeid hambaid välja tõmmata jne.
  <br>
  Linnas palus võtta ka oma poeg Linnas Erich meie salka seoses sellega, et ta oli saanud detsembris või 1950. a alguses
  kutse nõukogude armeesse. Otsustasin, et ta oli liiga noor, vaikse iseloomuga, mistõttu ma ei tahtnud teda võtta. Sel
  perioodil korraldasid organid pidevalt haaranguid ja arreteerimise oht oli suur.
</blockquote>

<p>
  <b>Labi Lembitu tapmine.</b>
  Labide pere (Ortumäe Tootsi talust) oli „kulakutena“ kuulunud 1948. a Venemaale väljasaatmisele, kuid jäänud siiski
  viimata. See-eest arreteeriti perepea ja pandi aastaks vangi, suutmatuse eest tasuda ülikõrgeid põllumajandusmakse.
  Nõukogude võimu silmis armu otsides hakkas osa pereliikmeid julgeolekunuhkideks. Kuuekümnendatel aastatel endale
  personaalpensioni nõutades kinnitas Labi Lembitu ema, et nad tegid Julgeolekuga koostööd ja said selle eest tasu.
</p>

<p>
  Märtsi algul 1949, pärast Kirbits Kalju surma veebruarikuises haarangus, käis Toomsalu külas Sarapuu Heljutil. Seal
  kirjeldas Toomsalu haarangut täpsemalt ja ütles kõigi pereliikmete juuresolekul, et metsavendade asukohta käis üles
  andmas Labi Lembit. Toomsalu lisas, et kui ta Labi kätte saab, siis õiendab temaga arved. Labide jalgealune läks
  pärast reetmisi kodukülas sedavõrd tuliseks, et kogu pere lahkus hirmuga Võrru. Labi Lembit asus Võrru elektrijaama
  turbatööliseks.
</p>

<p>
  Labi Lembitu hirmu reeturimaine ees ja soovi võimudele meele järgi olla kinnitab oma informatsioonilises teadaandes ka
  Rõuge valla partorg Movits Robert:
</p>

<blockquote>
  Eile hommikul, s.o. 19 aprillil vara hommikul ilmus minu korterisse küüditamise ajal ära põgenenud metsa kulak Labi
  poeg Lembit küsima nõu kuidas meie peale vaadatakse ja mis tuleb teha edasi. Siis lõpuks jutustas et tema kodust 2,5
  km Ruusmäe valla piiri peal metsas on palju bandiite, inimesi relvastatud umbes 10 inimest ja peab olema selles metsas
  punker. Samuti varjab koos perekonnaga seal metsas Kirbits Oskar kes põgenes ära küüditamise ajal, ning tema poeg üks
  kui bandiit on tapetud. 20.04.49.
</blockquote>

<p>
  Mai alguses 1949. a võtsid metsavennad kinni L.V. talu lähedal luusinud Labi Lembitu ning neil kinnistus kahtlus, et
  viimane oli saadetud neid jälitama.
</p>

<p>Labi Lembit kandis Julgeolekule ette:</p>

<blockquote>
  See oli kell 8 1. mail, kui mina, Labi, asusin 1. mai tähistamise pidulikul koosolekul kodanik L.R. majas. Samal ajal
  saabusid sinna metsavennad Kuklane Vambola ja Virk Herbert, kellel olid püstolid TT. Kui metsavennad mind nägid,
  viisid nad mu relva ähvardusel kaasa lähimasse metsa – ähvardades seejuures mind maha lasta selle eest, et minu antud
  andmete tõttu olevat tapetud nende rühma liige Kirbits Kalju. Kui metsavennad mu kaasa viisid, nägid nad Mandeli talus
  Viitina k/n esimeest Mark Kaljut, mistõttu küsisid nad mind mahalaskmisele konvoeerides, kas Markil on relva. Ma
  kavatsesin ära põgeneda ja ütlesin neile, et Mark Kaljul on püstol. Nad jäid uskuma ja mind ühes võttes läksid Mark
  Kalju juurde, kuid viimasel oli õnnestunud juba varjuda ja kuna nende tähelepanu oli Markil, siis kasutasin juhust ja
  põgenesin nende käest ära.
</blockquote>

<p>
  Samal kuul sai Toomsalu salk teate Savioru elanikult L.A.-lt, et Labi Lembit on koos julgeolekusõduritega käinud
  metsas ja näidanud kätte metsavendade võimalikud varjamiskohad.
</p>

<img class="lg-img image-left w-[30%]" src="/images/rouge/7_labi_tapmiskoht.jpg">

<p>
  Maikuu 17. päeval 1949 viibisid metsavennad sepp Sarapuu talus, jõid seal veini ja heitsid seejärel heinaküüni
  puhkama. Mõni aeg hiljem tuli nende juurde Sarapuu noorem poeg ja teatas, et tallu on oma asjadele järele tulnud Labi
  Lembit, lisades ühtlasi, et tema suhtes peab olema ettevaatlik. Ta soovitas metsavendadel märkamatult lahkuda.
  Toomsalu äratas seepeale üles Pallo Valteri ja Pettai Elmari ning koos otsutasid nad Labi Lembitu kinni võtta. Nad
  tõusid kõik kiiresti üles ja piirasid maja sisse, et Labi kinni püüda. Labi väljus koos vanaperemees Sarapuuga majast,
  kuid metsavendi silmates jooksis majja tagasi ja peitis end ära. Mehed asusid ootama, et ta ise majast välja tuleks,
  kuid Labi ei tulnud. Seepeale otsisid metsavennad talu läbi, leidsid ta pööningult üles ning viisid õuele. Nad sidusid
  Labil käed kinni, võtsid ära dokumendid, raha ja käekella, mille andsid Labi palvel üle vanaperemees Sarapuule. Pärast
  seda juhtisid nad Labi relvatoru ees Kirbits Edgari majja (mis tribunali dokumentides on märgitud Kirbits Oskari
  majaks). Sinna kogunesid kokku kõik salga liikmed. Talle korraldati ülekuulamine, kus nõuti, kelle ta on üles andnud
  ja kas ta töötab Julgeoleku heaks. Kui Labi valetas, et ta pole metsavendadele kunagi midagi halba teinud, lõi
  Toomsalu teda kaks korda vemblaga ja pärast vembla murdumist 3 korda käega näkku.
  <br>
  Moodustati välikohus.
  <br>
  Kohtunikuks valiti Pallo Valter, prokuröriks Toomsalu Auleid, advokaadiks Kirbits Aksel. Kõik osapooled ära kuulanud,
  mõistis kohtunik Pallo Valter Labi Lembitu reeturina surma. Otsus - surm poomise läbi - kuulutati välja üksmeelselt,
  teisi ettepanekuid ei nimetatudki. Otsusega nõustusid ka Toomsalu Auleid ja Kirbits Aksel. Koos suunduti kilomeeter
  eemale metsa, kus ülesandja poodi kuuse külge. Pärast alla võtmist tegi arst Pallo Valter kindlaks Labi surma, surnu
  pandi hauda ja haud aeti kinni. Kohtumõistmises Labile osalesid Toomsalu Auleid, Virk Herbert, Kuklane Vambola, Pettai
  Elmar, Kirbits Aksel, Kirbits Henn ja Pallo Valter.
  <br>
  Pärast Labi hukkamist läksid metsavennad igaüks iseteed.
</p>

<p>
  <b>22. juunil 1949</b>
  enne koitu lasti automaadist maha hävituspataljoni võitleja
  <b>Kasakas Oskar</b>. Virk Herbert, Kuklane Vambola ja Kirbits Aksel rääkisid, et nad olid läinud tantsupeole,
  automaadid kaasas. Purjus hävituspataljonlasest kauplusevalvur Kasakas Oskar oli nad ära tundnud ja üritanud nende
  pihta tule avada.
  <br>
  Tunnistaja Tiks Aksel:
</p>

<blockquote>
  Umbes kell pool 4 öösel väljusime Luutsniku koolimajast tantsupeolt ja hakkasime kodu poole astuma. Kooli ja rahvamaja
  vahel lähenes meile tundmatu relvastatud mees ja käskis meil kolmel minna eemale, rahvamaja ukse juurde. Valgenes
  juba. Rahvamaja ukse juurde minnes märkasin, et nurgas seisid kaks relvastatud meest ja hävituspataljonlane Kasakas,
  aga u 10 m eemal seisis ilma relvata hävituspataljonlane Dubovski, kes oli kolhoosi valvur ja kelle majapidamine asus
  rahvamaja kõrval. Kohe, kui me olime rahvamaja ukse juurde jõudnud, kuuldus tundmatute juurest kaks automaadilasku ja
  nägime, et Kasakas kukkus, siis tõusis ja püüdis eemalduda. Meie kolmekesi ja bandiit läksime teisele poole,
  Dubovskile lähemale. Üks kahest bandiidist lausus: „Anna talle!“ ja kohe kostis kolmas lask, mille järel Kasakas enam
  ei tõusnud. Bandiit, kes oli olnud meie juures, ühines oma kaaslastega ja kõik kolmekesi lahkusid suurt teed pidi
  Rõuge suunas. Kuhu Dubovski kadus, ma ei tea.
</blockquote>

<p>Surmatõend:</p>

<blockquote>
  Suri kuulihaavadesse. Lasud tehti kaugema vahemaa pealt tagant paremalt. Surmahetkel oli tapetav purjus. Surm saabus
  minutite jooksul pärast haavatasaamist sündmuskohal.
</blockquote>

<p>
  Kirjeldus: kõik kolm metsavenda olid olnud paljajalu. Esimene – keskmist kasvu kõhna näoga, heledate juustega, u 26 a,
  mustas mantlis, musta mütsi, pruunide pükstega
  <br>
  teine, kes tulistas Kasakast - keskmist kasvu, habeme ja vuntsidega, 40 a, mustas mantlis ja hallide pükstega
  <br>
  kolmas – keskmist kasvu, u 36 a halli mantliga, mustade pükstega
</p>

<p>
  <b>Juuni lõpus 1949 omastasid metsavennad Krabi meierei koore</b>
  6 km Rõugest.
  <br>
  Metsavendade käitumist on kirjeldanud partorg Movits Robert:
</p>

<blockquote>
  <i>(Nad)</i>
  olid rääkinud seniks, kui koort maha laaditi: teame küll, et teil on ka halb, aga midagi teha pole, meile riik palka
  ei maksa. Siis veel, et järgmine kord saatke venelased, saab rohkem nalja nendega. Olid rääkinud, et valitsus varsti
  muutub ja olge
  <i>(te)</i>
  ka nii mõistlikud...
  <br>
  Piimaühistu esimees Tiks oli küsinud, et andke karradki tagasi, oli vastanud, et suurel kodumaal on plekki küllalt.
  Metsas autojuhi käest pärisid, et kui palju on Rõuge kooperatiivis kaupa, ning lubanud varsti tulla külastama.
</blockquote>

<div class="lg-gallery">
  <img src="/images/rouge/8_kooreroov_1.jpg">
  <img src="/images/rouge/9_kooreroov_2.jpg">
</div>

<p>
  Juulis 1949 liitus Toomsalu rühmaga
  <b>Liit Paul. Koos Virk Herbertiga viisid nad Haanjast hukkamisele Koke k/n esimehe Koger Fritsu</b>, põhjuseks
  viimase tegevus märtsiküüditamisel ja inimeste kolhoosi sundimisel.
</p>

<p>
  Liit Paul koos Virk Herbertiga suundusid 4. juulil 1949 kell 11 päeval Koke külanõukokku. Algul tahtsid nad siseneda
  majja peaukse kaudu, kuid et neid ei märgataks, otsustasid siseneda läbi elutoa, kus nägid istumas kaht naist ja üht
  meest. Sisse astudes käsutasid nad Kogeril käed üles ja viisid ta koridori, kus otsisid ta läbi ja võtsid ära
  külanõukogu pitsati. Kogerile midagi ei selgitatud, viimane aimas põhjust ja palus, et teda maha ei lastaks. Liit
  vastas, et täna viime ühe, homme ülejäänud. Koger ei vastanud seepeale midagi. Juuresolnud naistele ütles Liit Paul,
  et kui küsitakse, kes Kogeri ära viis, siis öelgu, et Läänemaa mehed.
</p>

<img class="lg-img image-left w-[30%]" src="/images/rouge/10_jugu_mets.jpg">

<p>
  Koger juhiti külanõukogust 6-7 km kaugusele metsa, liikudes mööda metsaradu või metsaserva Viitina mõisast Plaani
  poole, 4 korral ületati maantee. Möödaminnes küsiti ühest talust kaasa labidas. Jugu metsa jõudes lasid nad Kogeril
  seal endale haua kaevata ja käskisid palvetada. Kui Koger oli palve lugemise lõpetanud, tulistas Liit Paul talle
  automaadist 3 lasku südame piirkonda ja Koger suri silmapilkselt. Laip maeti maha u 1 m sügavusele.
  <br>
  Kogeri tapmise põhjuseks nimetati tema teeneid nõukogude võimu ees. Kogerist u 1,5 km kaugusel elanud Liit Paul
  kinnitas, et 1946. a hävituspataljoni kuuludes käis Koger metsavendi haaramas ja arreteerimas, k/n esimehena ajas
  inimesi kolhoosidesse ja oli olnud ka üks küüditajaist.
</p>

<p>Majas viibinud naiste tunnistus:</p>

<blockquote>
  4. juulil 1949 umbes kell 10 hommikul istusime mina, mu ema T.M. ja vanaema T.J. köögilaua taga ja sõime hommikust.
  Õuest astusid meie juurde kööki 2 automaatidega relvastatud meest ja ütlesid: „Tasa, püsige paigal, me oleme
  Läänemaalt.“ Seejärel läksid nad läbi meie toa k/n esimehe Kogeri kabinetti.
  <br>
  Koger istus oma kabinetis laua taga. Sinna sisse astudes käsutasid nad tal käed üles, mille peale Koger ebalevalt
  naeratas. Otsinud Kogeri kiirelt läbi, tõid nad ta kööki ja ütlesid: „Sinu tund on tulnud“. Ärevuses Koger küsis neilt
  midagi, mille peale mehed vastasid: „Sa tead ise, mis sa oled korda saatnud“. Köögis otsisid nad Kogeri põhjalikult
  läbi. Pärast seda küsis üks teiselt: „Kas telefonitoru võtsid ära?“ Viimane ütles ei, mille peale küsija läks ja rebis
  telefonitoru juhtme otsast lahti. Ülestõstetud kätega Koger viidi õue ja sealt läbi aia põõsaste taha.
</blockquote>

<p>
  Üks naistest jooksis kohe juhtunust teatama A. H.-le, kes eemal heina niitis. Seejärel jooksis ta Tammsaare kolhoosi,
  mis asub u 30m Koke k/n-st ja helistas sealt Haanja valla täitevkomitesse.
  <br>
  Kommunistliku noore C.H. tunnistus:
</p>

<blockquote>
  Kui bandiidid olid meie talust lahkunud, jooksin kohe hävituspataljoni komandöri Selja Manfredi juurde ja rääkisin
  sellest ning palusin tal oma üksus kokku kutsuda ja organiseerida bandiitide jälitamine, kuid viimane ei võtnud midagi
  ette. Pärast seda, kui ma helistasin Haanja komsorgile Kattaile, kutsus see Võrust välja RJM, kuid siis oli juba hilja
  ja Selja juhatas nad hoopis vastassuunas sellele, kuhu bandiidid koos Kogeriga olid läinud, mistõttu otsimine oli
  asjatu. Kui Selja oleks nad viinud õigesse suunda, oleks bandiidid kätte saadud. Julgeolek jõudis kohale u 2 tundi
  pärast seda, kui Koger oli minema viidud ja neil oli kaasas jälituskoer, kuid see kaotas jälje. Üks bandiitidest
  varjas oma nägu, kuid tundus mulle kuidagi tuttav.
</blockquote>

<p>Liit Paul oli Koke külast pärit.</p>

<p>Tunnistus Koger Fritsu kohta:</p>

<blockquote>
  sündinud Pindi vallas, metsavahi poeg, Koke k/n-s Tallimäe külas uusmaasaaja, 16 ha, sellest põldu 6 ha. Töötas Koke
  k/n esimehena alates 1947. Oli nõukogude inimene.
</blockquote>

<p>
  <b>Labide tagaotsimine.</b>
  <br>
  Pärast ülesandja Labi Lembitu nö „kadunuks jäämist“ jätkas metsavendade vaenamist tema perekond.
  <br>
  Pihlapuu Richard andis nädal pärast Labi Lembitu hukkamist teada, et Labid lähevad oma sugulaste pulma Haanja lähedal
  Purka külas. Toomsalu Auleid ja Virk Herbert teadsid seda kohta. Lepiti kokku, et metsavennad piiravad kohale jõudes
  talu ümber. Nad teadsid, et pulmaliste hulgas võib olla ka hävituspataljonlasi, seetõttu võtsid nad tarvitusele kõik
  abinõud, et keegi ei saaks talust märkamatult lahkuda.
  <br>
  Talule lähenedes oli seal aga kõik vaikne, tuled olid kustus, magati. Metsavennad otsustasid siiski talus viibijaid
  kontrollida.
  <br>
  Labide sugulase P.L. pulmapäeval, 25. juunil 1949, umbes kell 23 õhtul magas pruut meheisa talu pööningul oma mehe
  kõrval, kui öösel ilmusid sinna mingid tundmatud isikud, näitasid neile taskulampidest tuld näkku ja vabandasid siis
  väga noorte ees häirimise pärast. Seejärel soovisid, et magage rahulikult, ning lahkusid. Hommikul küsis naine meheisa
  käest imestunult, kes need öised külalised olid. See vastas, et käisid mingid korteri kontrollid ja otsisid Labi
  perekonda. Tema oli öelnud, et Labid on ära Võrru elama kolinud ja sugulasi ei külasta. Mehed olid seepeale lahkunud.
</p>

<p>
  Labisid leidmata külastasid metsavennad Haanjas Liit Pauli abilisi, kus neid kostitati, ning lahkusid tagasi Viitina
  k/n alale. Teel Viitinasse kohtasid nad 60 aastast J-d, kellel Liit Paul teadis olevat Saksa kuulipilduja MG.
  Metsavennad vestlesid mehega ja mõne aja pärast naases viimane koos pojaga, kes kandis kuulipildujat ja andis selle
  üle metsavendadele. Jutuajamise järel liiguti edasi, Kirbits Edgari tallu jõudes asuti saadud kuulipildujat puhastama.
</p>

<p>
  <b>Haanja kooperatiivi rööv 28. juunil 1949.</b>
  Haanja kauplust tühjendasid ümbruskonna metsavennad 1947-1949. a kokku kolmel korral.
  <br>
  Esmalt pandi paika tegutsemisplaan. Kavatseti jaguneda 2 gruppi: esimesed pidid kauba valmis panema, teised saabuma
  kohale hobuvankritel kraami ära viimiseks.
  <br>
  Järgmisel päeval pärast päikseloojangut suundusid Haanja poole kaheksa meest: Toomsalu (automaadiga), Virk Herbert
  (püstoliga), Pettai Elmar (automaadiga) ja Liit Paul (automaadi ja püstoliga Parabellum) läksid jalgsi ees, neile
  järgnesid veidi aja pärast kahel hobuvankril Kirbits Aksel (automaadiga), Kirbits Henn (automaadiga), Kuklane Vambola
  (automaadiga) ja Pallo Valter (automaadiga). Umbes 1km Haanja kooperatiivist oodati hobuvankritel tulijaid järgi. Liit
  Paul ja Virk Herbert läksid Haanja valla täitevkomiteesse ja lõhkusid telefoniside, seejuures veristas Liit Paul
  kogemata aknaklaasiga sõrme. Ülejäänud, st Toomsalu Auleid, Pettai Elmar, Kirbits Aksel, Kirbits Henn ja Kuklane
  Vambola suundusid kooperatiivi juurde ja piirasid selle ümber. Veidi hiljem saabusid ühel hobuvankril Pallo, teisel
  Virk ja Liit. Et valvet ei paistnud olevat, püüdsid Toomsalu Auleid, Liit Paul ja Kuklane Vambola siseneda akna,
  ülejäänud aga ukse kaudu. Äkki avas teisele korrusele varjunud valvur automaadist tule, metsavennad andsid tuld vastu.
  Seejärel tulistamine katkes. Akent ega ust avada ei õnnestunud, mistõttu Liit Paul lõhkus peldiku akna ja sisenes
  sealtkaudu koridori. Sees tundus talle, et keegi koridoris liigutas ja ta tulistas sinna paar lasku. Ta avas
  seestpoolt ukse. Paar meest jäid välja valvama. Sisenejad otsisid läbi poe juhataja korteri ja hakkasid lõhkuma
  vaheust, mis viis sealt edasi kaupluseruumidesse.
  <br>
  Samal ajal kui nad ust lõhkusid, piirasid julgeolekusõdurid õues maja sisse. Esimesena sisenenud Liit Paul, Virk
  Herbert ja Kirbits Henn süütasid sees lambi, Pettai Elmar oli parajasti läinud välja vankrite juurde kottide järele,
  Toomsalu remontis oma automaati, mille oli ust lõhkudes katki löönud, kui ootamatult avati kaupluse pihta igast
  küljest tuli. Tulistati kuulipildujatest ja automaatidest. Läbi lae tulistas poeruumi ülakorrusele taandunud valvur,
  haavates Virk Herbertit rinda ja näkku ja Kirbits Hennu kätte. Metsavennad andsid vastu paar valangut läbi katkilöödud
  peldikuakna. Mehed haarasid kaasa mõned šokolaaditahvlid, suitsupakid, Virk Herbert ka pudeli likööri, millega
  kostitas hiljem Liit Pauli (operatsiooni juht Burakov kinnitab oma ettekandes, et metsavennad olid kaupluses olles 2-3
  pudelit likööri ära joonud). Vältimaks endi täielikku ümberpiiramist, tormasid mehed Toomsalu märguande peale välja.
  Kõigil õnnestus viga saamata uksest välja joosta ja metsa varjuda, sest nagu kõik tunnistajad hiljem väitsid,
  vihisesid kuulid kõrgelt üle pea.
  <br>
  Rünnaku algul vankrite juures olnud Pettai Elmar hüppas hobuse selga, et sellega minema sõita, kuid hobune tema all
  tulistati surnuks. Metsavennad jätsid vankrid maha ja varjusid. Toomsalu koos Palloga liikusid läbi metsade Viitinasse
  Pihlapuu Richardi tallu, kus kohtusid Virk Herbertiga, sealt edasi Pettai Emilie juurde. Teel said nad kokku Kuklane
  Vambola, Pettai Elmari ja Kirbits Akseliga, kellel samuti oli õnnestunud pääseda, Liit Pauli ja Kirbits Hennu kohta
  neil esialgu teateid ei olnud. Toomsalu Auleid, Pettai Elmar ja Pallo Valter suundusid Pettai tallu, Kuklane Vambola,
  Virk Herbert ja Kirbits Aksel aga läksid Markvardt Ida poole. Järgmisel päeval kohtusid kõik kuuekesi Markvardt Ida
  juures, kuhu peagi saabus ka Liit Paul koos Kirbits Hennuga. Nad olid varjunud viimastena ja suundunud Haanja elaniku
  Rebase Leo poole, kus nad sidusid kinni Kirbits Hennu käehaava ja veetsid öö. Liit Paul ütles, et ta lõhkus poodi
  sisse murdes oma automaadi ja viskas selle minema, püstol jäi poodi laua peale. Vankritesse jäid Pallo Valteri kott
  ravimitega, 1 paar alaealise kummikuid, üks pintsak, mõned jahukotid ja Kirbits Hennu kingad.
</p>

<p>
  Haanja kooperatiivi valvanud Bandiitide hävitamise pataljoni liikmete, Meremäe elanike Luht Aleksanderi (1927) ja
  Plaks Elmari tunnistus:
</p>

<blockquote>
  Viibisime 2. korrusel nagu alati. Nägin koos Plaksiga kell 1-2 öösel, et teed pidi ligineb vanker, millel istuvad 2
  meest. Läksin 1. korrusele ja jäin tagaukse ning kaupluse juhataja Rätsepa korteri juurde. Ukse juures seistes
  kuulsin, kuidas vanker keeras teel ringi ja jäi poe juurde seisma. Sellest ronisid välja 2 meest, kes lähenesid uksele
  ja koputasid, nõudes müüjat, täpsemalt kaupluse juhatajat.
  <br>
  Küsisin, kes koputab, ja sain vastuseks: „Mol, ne vaše delo“. Sain aru, et need on röövlid. Kuulsin, kui nad rääkisid,
  et tapame poe juhataja ja kõik kõrvalised isikud. Ma jooksin teisele korrusele oma paarimehe juurde ja tulistasin
  hoiatuseks õhku. 5 min pärast tuli üles poe juhataja Rätsep, kes ütles, et röövlid proovivad tema aknast sisse
  tungida. Tagaukse pihta andsid nad sel ajal, kui juhataja üles tuli, paar valangut automaadist. Röövlid sisenesid
  majja samaaegselt julgeolekusõdurite kohalejõudmisega. Nad said kaupluses olla u 8 minutit, kui algas tulistamine,
  mille ajal, nagu ma aknast märkasin, suundusid Ruusmäe poole lähima metsa suunas 3 kuju. Samas märkasin ka neile
  järele jooksvaid sõdureid. Ära ma neist ühtegi ei tundnud, pime oli.
</blockquote>

<img class="lg-img image-left w-[22%]" src="/images/rouge/burakov_grigori_gerassimovits.jpg" alt="Burakov G.G">

<p>
  Sellest röövist oli Julgeolekule aegsalt ette teatatud. Ühe RJM ettekande teatel oli Haanja kooperatiivi juhataja
  Rätsep lülitanud metsavendade kauplusse sisenemisel sisse Julgeolekuga ühendust pidava raadiojaama. Selle märguande
  peale saabus sõjalis-tšekistliku operatsiooni läbiviimiseks kohale operatiiv-sõjaline rühm RJM Võrumaa osakonna ülema
  asetäitja Burakov G. G. juhtimisel. Täpsemalt on operatsiooni kirjeldatud RJM operatiiv-agentuur ettekandes:
</p>

<blockquote>
  Agendilt „Rätsep“ saime teate, et Toomsalu Auleidi juhitud salk kavatseb röövida Haanja vallas kooperatiivi,
  arvatavalt 27. juunil või 1. juulil 1949.
  <br>
  Nende andmete alusel moodustasime operatiivgrupi. 27.06.49 paigutasime kooperatiivi juhi (meie kaastööline) korterisse
  raadiosignalisatsiooni saatja ja panime paika salajased varitsused, eesmärgiga lasta bandiidid kooperatiivile
  lähenemisel esmalt mööda, seejärel nad sõjaväelise üksuse vanema märguande peale kinni võtta või vastuhakkamise korral
  füüsiliselt hävitada. Käsuandjaks määrati RJM vägede jaokomandör Manin, kes viidi eelnevalt ümbrusega kurssi.
  <br>
  27.6.49 Toomsalu bandet kooperatiivi juurde ei ilmunud. 28.6.49 kell 04.40 liikus sõjaväeline üksus varitsuspiirkonda,
  üksuse vanem Katkov (ltn Manin oli samal ajal hõivatud Veriora vallas) asus varitsussalga vanematele ülesannet
  selgitama. U kell 1 öösel 28. juunil vastu 29. juunit kuuldus kooperatiivi juurest laske, tulistas kooperatiivi
  valvur.
  <br>
  Varitsussalgad sööstsid oma määratud kohtadele. Varitsussalkade vanematele oli antud käsk lasta läbi kõik kooperatiivi
  suunas minejad, enda asukohta reetmata ja tulevahetusse astumata. Kui varitsussalk vasakul tiival lähenes teele
  eesmärgiga see ületada ja võtta sisse algpositsioon kaupluse edelaküljes, kostis kaupluse juurest vile ja Ruusmäele
  viiva tee suunast ilmus nähtavale hobune vankriga, millel istus 2 bandiiti. Vasaku tiiva varitsussalk täitis saadud
  ülesande ja lasi vankri kaupluse juurde läbi.
  <br>
  Varitsussalk paremal tiival, mida juhtis snt Lebed, oli sel momendil ületanud tee ja laskus väiksesse lohku
  kavatsusega võtta sisse varitsuse algpositsioon kooperatiivi loodeküljel. Kui grupp oli jõudnud teest 25-30 m
  kaugusele, ilmus teel nähtavale inimene, kes liikus kaupluse suunas. Snt Lebed, selle asemel, et täita käsku ja lasta
  inimene läbi kaupluse juurde, näitas üles distsiplineerimatust, astudes temaga esmalt tulevahetusse ja seejärel heites
  granaadi, millega paljastas bandiitidele operatiivgrupi kohalolu enne selle varitsuspaigale jõudmist. Kaupluse poole
  suunduv inimene osutus Rahvakaitse rühmaülemaks Sels’iks
  <i>(Selja?)</i>, kes, kuulnud laske, oli minemas kaupluse juurde olukorda uurima.
  <br>
  Bandiidid, kuulnud automaadivalangut ja granaatide lõhkemist, hakkasid jooksma just selles suunas, kuhu varitsusgrupp
  polnud veel kohale jõudnud. Seepeale oli snt Katkov sunnitud avama vintpüssist tule kaupluse ukse pihta, et sundida
  bandiite püsima hoone sisemuses kuni varitsusgrupi jõudmiseni määratud kohta, kuid vintpüss osutus väheefektiivseks ja
  bandiidid suutsid kauplusest välja joosta, haaranud sealt enne kaasa u 600-700 rbl raha, mõned pakid paberosse,
  šokolaadi ja mõned pudelid likööri.
  <br>
  Tulevahetusse sattunud bandiitidest jäi maha automaat, alaealise kummikud, kott medikamentidega ja hobune vankriga,
  teine hobune oli tapetud.
  <br>
  Tulevahetuses said 2 bandiiti haavata (nähtavasti kergelt, kuna suutsid joosta), mida kinnitab veri ukselävel. Teisel
  korrusel asunud poejuhataja ja poe valvur kuulsid pealt bandiitide juttu haavatasaamisest Katkovi laskude läbi
  poeuksel, püüdes kauplusest minema joosta.
  <br>
  Organiseeritud jälitamine tulemust ei andnud, koer võttis jälge u 5 km, kuid sohu jõudes kaotas jälje.
</blockquote>

<p>Toomsalu Auleidi salga purustamine aga äpardus ja kõigil metsavendadel õnnestus põgeneda.</p>

<p>
  <b>Juuli alguses 1949</b>
  puistasid Liit Paul, Virk Herbert, Kuklane Vambola, Pettai Elmar ja Pallo Valter nõukogude aktivisti
  <b>Alma Mee (Noortootsi)</b>
  majapidamist.
</p>

<p>
  <b>Juuli keskel</b>
  samal aastal võtsid metsavennad oma valdusse taas koorepütid
  <b>Luutsniku meierei koorevankrilt.</b>
</p>

<p>
  <b>Haarang Pulli talus 23. juuli 1949.</b>
</p>

<img class="lg-img image-left w-[22%]" src="/images/rouge/11_pettai_ed.jpg" alt="Edgar Pettai">

<p>
  Pulli talus Pettai Edgari ja Emilie juures viibisid metsavennad sageli. 18. juunil oli perepoja Pettai Elmari
  sünnipäev, kuhu kogunesid alati ka metsavennad.
  <br>
  Toomsalu:
</p>

<blockquote>
  Ükskord Pettai Elmar kutsus mind ja Kirbits Kaljut oma sünnipäevale, juuni algul 1948. Seal tutvusingi Pettai Emiliega
  ja Elmari õdede Maimo, Linda, Leida ja Tiiuga, venna Lembituga ja lähemalt Elmari isa Edgariga. Seal tutvusin ka
  Kuklane Viktori, Kuklane Vambola, Kuklane Valteri ja Kuklane Hugoga, keda olin varem kohanud Kirbits Oskari talus.
  Hiljem hakkasin Emilie talu külastama regulaarselt ja sain sealt kõik illegaalseks eluks vajaliku.
</blockquote>

<img class="lg-img image-left w-[22%]" src="/images/rouge/12_pettai_em.jpg" alt="Emilie Pettai">

<p>
  Juulis 1949. a teatas Pulli talu peremees Toomsalule, et umbes 20. kuupäeva paiku on tema talule oodata haarangut.
  Pikemalt talus viibinud metsavennad lahkusid metsa. Oodanud metsas haarangut umbes 3 päeva, tuldi kuuekesi (Toomsalu
  Auleid, Pallo Valter, Liit Paul, Virk Herbert, Pettai Elmar ja Kuklane Vambola) 23. juulil 1949 siiski sauna.
  Perenaine küttis parajasti sauna, metsavennad kogunesid tuppa, kui Elmar vahipostil märkas äkki, et talu piiratakse
  ümber. Mehed hüppasid akna kaudu välja aeda, kus sõjaväelased avasid põgenejate pihta tule ja põgenejad vastasid
  samaga. Tulevahetus kestis u 10-15 minutit. Tapeti Pettai Elmar, Virk Herbert ja Kuklane Vambola. Teinud kindlaks, et
  talu on ümber piiratud ja välja murda pole võimalik, õnnestus tulevahetuse alguses kubemesse haavata saanud Toomsalu
  Auleidil ja Liit Paulil peita end aida alla. Pallo Valter kaevus heinaküünis heintesse, kus sai läbi seina tunginud
  juhuslikust kuulist pähe haavata. Vahistatud perenaiselt Pettai Emilielt nõudsid tallu tunginud sõjaväelased pingsalt,
  mitu metsavenda rünnaku alguses talus oli. Perenaise kinnitus, et vaid kolm surma saanut, päästis ülejäänud kolme mehe
  elu. Ehkki haarangu järel oli osa sõdureid jäetud ka järgmiseks päevaks tallu valvele, õnnestus ellujäänud
  metsavendadel järgmise päeva lõuna ajal märkamatult talust lahkuda.
  <br>
  Kolm päeva pärast haarangut said nad lõpuks ühenduse Pihlapuu Simo ja Koemets Augustiga, kelle punkris kohtusid nad
  päev hiljem ka Pallo Valteriga. Pihlapuu Simo ja Koemets August kohendasid haavatud Toomsalu Auleidi tarvis korda
  punkri soo servas ja kandsid tema eest hoolt. Liit Paul ja Pallo Valter lahkusid tuttavate juurde Sadra külla, kuid
  olid juba järgmisel öösel tagasi, kuna Sadras oli keegi tapetud ja seal käisid haarangud ning oli oht juhuslikult
  kinni kukkuda. Toomsalu lahkus punkrist edasi Rõugesse.
</p>

<p>Julgeoleku raport tšekistlik-sõjalise operatsiooni kohta Pulli talus Viitinas, Võru rajoonis:</p>

<img class="lg-img image-left p250" src="/images/rouge/13_surnud_koik.jpg">

<blockquote>
  Tuginedes saadud andmetele, et Pulli talu Viitina k/n-s Võru rajoonis, kus elab bande liikme Pettai Elmari isa Pettai
  Edgar, külastavad aeg-ajalt Toomsalu Auleidi bande liikmed, loodi nende kinnivõtmiseks või füüsiliseks hävitamiseks
  operatiiv-sõjaline grupp, mis sõitis 22. juulil 1949 kell 20 Saarlase metsa varitsusse.
  <br>
  Talu ümbrusse, mida bandiidid külastavad ja mis asub Saarlase metsast 1,5 km kaugusel, saadeti luuregrupp eesmärgiga
  fikseerida bandiitide saabumine Pulli tallu. 23. juulil 1949 kell 17 fikseeris luuregrupp ühe bandiidi, Pettai Elmari,
  saabumise metsa piirile 50 m talust. Bandiit Pettai, varjudes põõsastesse, jälgis talu ümbrust 2 tunni vältel. Pärast
  seda, kell 19, sisenes ta metsa, kust mõne minuti pärast väljusid 2 bandiiti: Virk Herbert ja Kuklane Vambola, kes
  ületasid kiire kõnniga metsaäärse tee ja oru ning sisenesid aia kaudu majja. Samal ajal ilmus bandiit Pettai uuesti
  metsa piirile ja püsis seal varjatult 20 minutit, jätkates talu ümbruse vaatlemist. Pärast seda ületas ta samuti tee
  ja tõusis talu vastasküljel olevat orgu pidi üles ning istus maha rukkipõllu kõrvale, jäädes sinna talu jälgima. 10
  min hiljem läks ka Pettai orust läbi ja sisenes aia kaudu tallu. Saanud märguande bandiitide majja kogunemisest,
  lähenes sõjaline grupp varjatult majale, seda käigu pealt ümber piirates.
  <br>
  Kui täielikust ümberpiiramisest jäi puudu vaid 50-70m, märkas sõdureid bandiit Pettai, kes seisis jälgimispostil oma
  talu aias. Sinna oli ta asunud u 5-7 min pärast esmast majja sisenemist ja seisis seal kuni hetkeni, mil märkas
  operatiiv-sõjalist gruppi, mille peale andis ülejäänud kahele bandiidile märguande hüüdega: “Sõdurid!“, ise aga tormas
  majja. Signaali peale hüppas Kuklane Vambola välja maja aknast, mille lõi enne katki, ja jooksis automaadist
  tulistades talust läände jäävasse orgu, kus ta sõdurite poolt tapeti.
  <br>
  Pettai Elmar, kes jooksis automaadist tulistades majast välja, jooksis üle õue teise oru suunas, mis asus 300m talust
  põhjas. Üle õue joostes, u 20m kaugusel kuurist, tapeti ta sõdurite poolt.
  <br>
  Virk Herbert, kes hüppas automaadist tulistades aknast välja kohe Vambola Kuklase järel, jooksis üle õue samasse orgu,
  kuhu Pettai, kuid nähes seal surnud Pettaid, pöördus tagasi õuele ja jooksis orgu kahe kuuri juures, kus sõdurid ta
  samuti tapsid.
  <br>
  Läbiviidud operatiiv-sõjalise operatsiooni tulemusel tapeti 3 bandiiti:
  <br>
  <b>Virk Herbert</b>
  (26a), (13.04.1924) Kokemäe küla elanik Haanjast, kelle relvaks oli automaat PPŠ, püstol TT ja käsigranaat RG.
  Deserteerunud nõukogude armeest. Miilits oli ta 1947. a arreteerinud, kuid ta oli kinnipidamiskohast põgenenud.
  <br>
  <b>Pettai Elmar</b>
  Edgari p 18.06.1928 (21a) Pulli talust Viitinast Võru rajoonist, relvaks automaat.
  <br>
  <b>Kuklane Vambola</b>
  Akseli p 1930 (19a), Aabra külast (talust) Viitinast Võru rajoonist, relvaks automaat PPS ja Brauning kaliibriga 7,65
  mm
</blockquote>

<p>
  Pettai Emilie saatis oma noorimad lapsed teele, astuma omapead 12 km kaugusele Krabile vanaema juurde. Ülejäänud
  pereliikmed viidi kõik Võrru Julgeolekusse. Pettai Emilie lasti mõne aja möödudes koos Leidaga koju, Pettai Edgar koos
  kahe vanema tütrega saadeti Siberisse vangilaagreisse. Noorem tütar Pettai Leida lasti koju vaid ühel eesmärgil: et ta
  reedaks metsavennad. Tüdruk aga põgenes ja hakkas elama koos metsavend Kirbits Akseliga.
  <br>
  Toimunud haarangu järel ei külastanud Toomsalu Auleid Pulli talu kuni talveni. Detsembris 1949 lõi Pettai Emilie
  uuesti Markvardt Gustavi kaudu Toomsaluga ühenduse ja kutsus teda enda poole. Aastavahetuse 1949/1950 võtsid Pulli
  talus koos vastu Toomsalu Auleid, Pettai Emilie, Kirbits Aksel ja Pettai Leida.
</p>

<p>
  Pulli talu haarangu järel hindas Toomsalu salgana tegutsemise jätkamist ohtlikuks ja võttis vastu otsuse varjata
  eraldi:
</p>

<blockquote>
  Selle haaranguga seoses läks Pallo Valter Pihlapuu Simo salka, aga Liit Pauliga kadus meil side. Detsembris 1949
  ühinesid minu rühma allesjäänud liikmed Uibo Heino rühmaga, kes sai pärast Pihlapuu Simo hukkumist tema rühma juhiks.
  Jaanuaris 1950 lahkusin salgast ja varjasin üksi kuni arreteerimiseni. Pallo Valter, Kirbits Aksel ja Kirbits Eduard
  läksid Uibo Heino rühma, Kirbits Henn legaliseerus detsembris 1949. Liit Paul ja Pärli Elmar eraldusid pärast
  haarangut Pettai Edgari talus. Hiljem, 1950. a, kuulsin oma abilistelt, ei mäleta kellelt, et Liit Paul arreteeriti,
  aga Pärli Elmar tapeti. Pettai Leida tuli minu juhitud rühma 1948 sügisel ja läks koos Kirbits Akseliga detsembris
  1949 Uibo Heino rühma. Lepp Valvega ma tema varjamisaja jooksul ei kohtunud. Detsembris 1949 oli mul side
  üksikmetsavendade Kuklane Akseli ja Mõttus Juhaniga, viimased kohtusid minu juuresolekul ka Uibo Heino salgaga.
</blockquote>

<p>
  <b>23. septembril 1949</b>
  tapeti
  <b>RJM Harjumaa osakonna ülema asetäitja major Sisas</b>
  Eduard ja tema elukaaslane
  <b>Vildo</b>
  Aliide. Julgeolekumajor Sisas Eduard oli augusti lõpust kuni 23. sept. 1949 puhkusel oma venna Sisas Aleksandri juures
  Sadra külas Rõuges.
</p>

<p>
  22. septembril 1949 viibisid Toomsalu Auleid, Pihlapuu Simo, Uibo Heino ja Sprenk Aksel Rõuge vallas Sadra küla juures
  metsas ja tahtsid sõita Tsooru, kuid ühtegi masinat teel ei tulnud. Pihlapuu Simo ja Uibo Heino suundusid seepeale
  Sadra külla juttu ajama. Toomsalu koos Sprenkiga jäid metsa, olles eelnevalt Pihlapuuga kokku leppinud kohtumiskoha.
  Umbes kell 1 öösel tulid Pihlapuu ja Uibo külast tagasi ja rääkisid, et Sadra külas oma venna talus on parajasti
  puhkusel julgeolekumajor Sisas. Pihlapuu Simo teadis talu asukohta ja julgeolekumajor Sisas otsustati järgmisel päeval
  sihikule võtta.
  <br>
  Hommikul suundusid kõik neljakesi Sisase venna talu juurde (NB! kõik tunnistajad räägivad 3-st, mitte 4-st ründajast).
  Nad lähenesid talule läbi põõsastiku, veendumaks, et julgeolekumajoril ei ole valvet välja pandud. Kiiresti peeti
  plaani anda valang kuulipildujast, et sundida Sisast jt majast välja jooksma. Arvestati, et maja ühte külge tulistades
  jooksevad elanikud välja teiselt poolt, kus siis metsavendade välja pandud varitsus saab Sisase maha võtta.
</p>

<img class="lg-img image-right p250" src="/images/rouge/15_sisas_surnu.jpg" alt="Tapetud Eduard Sisas">

<p>
  Olukord muutus käigupealt kiiresti ja kujunes omasoodu.
  <br>
  Parajasti sel ajal, kui metsavennad plaani pidasid, väljus major Sisas koos paari sugulasega majast ja suundus vana
  talumehe juurde, kes pani tee ääres vilja rõuku. Pihlapuu Simo vaatas binoklist ja tundis Sisase ära. Ajanud hulk aega
  vanamehega juttu, hakkasid kõik neli inimest tulema mööda teed otse metsavendade suunas. Kui tulijad olid lähedale
  jõudnud, tulistas Pihlapuu Simo Sisase pihta automaadist lasu, kuid padrun kiilus salve kinni. Selle heli peale ütles
  üks tulijaist, et põõsastes miski krabistab, vist lind. Märganud inimesi, viskusid mõned teelolijaist kraavi ja üks
  tulistas sealt metsavendade pihta. Viivitamatult jooksis Uibo Heino metsast välja tee peale ja avas nende pihta tule.
  Toomsalu võttis samal ajal valve alla Sisase sugulase, küsides, kas tal relva on, millele sai eitava vastuse. Ta
  käsutas mehe pikali ja käskis maas püsida. Samal ajal jooksis Pihlapuu Simo omakorda rõuku teinud vanamehe juurde ja
  ütles midagi vanamehele, mille peale viimane pöördus tagasi Sisase majja. Metsavennad ei kuulnud, mida Pihlapuu
  vanamehele ütles, kuid et koer haukus ja ründas Pihlapuud, arvasid nad, et ta palus koera ära viia.
  <br>
  Uibo jooksis veelkord üle tee, hüppas kraavi teisele poole Sisast ning tulistas 3-4 valangut, tappes kraavis Sisase ja
  tema elukaaslase (tunnistaja andmetel tulistas Uibo umbes 3 meetri pealt, kuid arstlik ülevaatus kinnitab, et surmavad
  lasud on tehtud mitte lähemalt kui 20m)
  <br>
  Surnud Sisaselt võttis Uibo ära tema püstoli.
  <br>
  Keset seda segadust tulistas keegi ootamatult Pihlapuu Simot jalga. Metsavennad varjusid arvatava tulistaja suunas
  tuld andes külateest põhja jäävasse metsa. Selle käigus kaotati Pihlapuu Simo silmist. Kui Simo puudumine ilmsiks
  tuli, jäädi teda järele ootama, kuid teda ei tulnud. Aeg läks ja lõpuks oldi sunnitud lahkuma ilma temata. Eemaldudes
  hõikas Uibo Heino Simot palju kordi, kuid vastuseks oli vaikus. (Tunnistaja sõnul hõigati kedagi Aadu-nimelist.
  Toomsalu ainukesena tunnistas, nagu oleks Simo pärast haavata saamist lahkunud teest teisele poole vastassuunas. Kõigi
  ülejäänud tunnistajate sõnul lahkus haavatu koos varjuvate metsavendadega samas suunas).
</p>

<p>Sisas Aleksander Jakobi p tunnistus:</p>

<blockquote>
  Vildo Aliide hakkas hommikusööki valmistama, meie major Sisasega vestlesime u tund aega. Kell 11 või 12 tõin oma
  majast 150g, mille võtsime enne hommikusööki hinge alla. Umbes kell 2 päeval tegi major Sisas ettepaneku minna tema
  õemehe Rump Karli ja Sisas Richardi poole, mina pidin minema tagasi Pungard Hilda poole kartuleid võtma. Hakkasime
  kolmekesi minema Rump Karli talu suunas. Umbes 300m kaugusel Sisas Eduardi venna majast töötas tee ääres põllul Rump
  Karl. Läksime tema juurde ja ajasime umbes pool tundi juttu. Seejärel hakkasime kõik koos jalutama tema maja suunas.
  Meie major Sisasega astusime ees, tema teel vasakul, mina paremal pool. Vildo Aliide ja Rump Karl tulid meie taga
  umbes 2-3 meetrise vahega, Rump Karl paremal, Vildo vasakul pool teeservas. Tee servast paremale poole jäi mets, aga
  vasakul umbes 70 m kaugusel algas põõsastik ja selle taga mets. Äkki teatas Vildo Aliide, et metsas krabistab keegi.
  Hakkasime kõik metsa silmitsema. Major Sisas ütles, et vaadake, kotkas metsas, aga ise tõmbas samal ajal püstolit
  välja, ning parandas end kohe, et inimene metsas. Samal hetkel, kui ta ütles „inimene“, avati metsast tuli. Hüppasime
  kõik neljakesi kraavi
  <i>(teise tunnistuse kohaselt jäid 2 inimest teele)</i>
  . Major Sisas hakkas vastu tulistama, ronides ise mööda kraavi Rump Karli maja suunas, tema lähedale viskunud Vildo
  Aliide liikus vastupidises suunas. Üks bandiit suundus metsast Rump Karli juurde, öeldes sellele: „Mis sina siin veel
  kõnnid?“ Rump Karl vastas: „Lähen koju sööma.“ Bandiit käskis tal kohe koju ära minna. Rump pöördus tagasi Sisase
  venna majja ning teatas viimasele juhtunust. See haaras vintpüssi, jooksis lähemale ja avas umbes 150m pealt
  bandiitide pihta tule. Samal ajal jooksis metsast välja teine bandiit ja tappis major Sisase ja tema naise Vildo
  Aliide. Mõlemad mehed tulid minu juurde, tulistamine jätkus. Samal hetkel, kui üks ütles, et mõlemad on tapetud,
  kukkus ta ka ise maha, st sai jalga haavata ja hakkas liikuma teest vasakule metsa. Tema järel kadus metsa ka teine
  bandiit ja sellest metsast, kust nad olid avanud tule meie pihta, väljus veel kolmaski bandiit ja läks neile järele.
  <br>
  See, kes tappis major Sisase ja tema naise, oli keskmisest pikem, keskmise kehaehitusega, 25-30a, hallis ülikonnas,
  halli soniga, relvastatud automaadiga ja major Sisaselt võttis ta ära püstoli.
  <br>
  Teine, kes rääkis Rump Karliga ja minuga, oli pikka kasvu, tugeva kehaehitusega heledapäine 30-35a , Punaarmee
  sinelis, peas vana hall soni. Relvaks oli tal ümmarguse salvega PPŠ automaat ja püstol.
</blockquote>

<p>Sisas Eduardi venna tunnistus:</p>

<blockquote>
  23. sept 1949 u kell 2 päeval väljus mu vend major Sisas oma naise Vildo Aliidega ja Sisas Aleksandriga minu majast,
  et minna oma õemehe Rump Karli ja sugulase Sisas Richardi juurde, mina jäin oma majja. Umbes poole tunni pärast
  kuulsin Rump Karli maja suunast tulistamist, haarasin vintpüssi ja jooksin sinnapoole. Teel põrkasin kokku Rump
  Karliga, kes ütles mulle, et bandiidid tapsid mu venna, julgeolekumajor Sisase. Hakkasin jälgima Rump Karli poolt
  osutatud suunas ja märkasin ühte bandiiti, kelle pihta tulistasin lasu vintpüssist. See kukkus kohe pärast esimest
  lasku ja liikus Rump Karli metsa suunas. Koos temaga jooksid sinna metsa veel 2 bandiiti, kelle pihta ma samuti
  tulistasin, kuid rohkem mul kedagi haavata ega tappa ei õnnestunud. Jooksin Sisas Richardi tallu, võtsin tema hobuse
  ja sõitsin teemeister Hussari juurde, kust andsin juhtunust telefoni teel Julgeolekule teada.
</blockquote>

<img class="lg-img image-left p250" src="/images/rouge/16_pihlapuu_surnud.jpg" alt="Tapetud Simo Pihlapuu">

<p>
  Kohale saabunud julgeolekuesindajad küsitlesid sündmuskohal viibinuid. Selgus, et ründajateks olid olnud 3 tundmatut
  relvastatud meest, kes kõik varjusid pärast tapmist teeäärsest kuusistikust põhjasuunda jäävasse metsa. Neid koeraga
  jälitades leidis operatiivgrupp 1 km kauguselt tihedast metsaalusest põõsastikust haavatuna ühe kolmest ründajast.
  Lähenemisel ja ümber piiramisel avas haavatu püstolist tule Julgeoleku koeraajaja seersant Vedernikovi pihta. Viimane
  tappis haavatu automaadivalanguga.
</p>

<p>
  Tapetu juurest leiti automaat 3 padrunipidemega ja püstol „Walther“.
  <br>
  Operatiivgrupp viis tapetu fotografeerimiseks ja tuvastamiseks ENSV RJM maakonnaosakonda. Võrru julgeolekusse kutsutud
  naaber tundis surnus ära Pihlapuu Danieli poja Pihlapuu Simo ehk Samueli, kes oli metsavend alates 1944. a.
</p>

<p>Sündmuskoha ülevaatus Sisase tapmise paigas:</p>

<blockquote>
  150m Nurme talust lõunas külavahetee vasakul pool, 2,5m laiuses kraavis, lebab peaga põhja suunas, nägu allapoole,
  ettepoole poolkõverdatud kätega Sisas Eduardi (s 1898) laip. Riietuseks kaitsevärvi kalifeed, tumesinine pintsak,
  jalas kroomsaapad, peakate puudub, näha kuulijäljed ja veidi verd pea kuklaosas. Pintsaku vasakus taskus on
  parteipilet no 0362709 Sisas Eduard Jaani p nimele, RJM töötaja isikutunnistus no NS 2094 major Sisas E.J, väljaantud
  ENSV RJM nr 487 25. 8. 1949, samasugune tõend nr 675 30.12. 1948 Sisas E.J. nimele, sõjaväelase raudteepilet nr 584957
  õigusega edasi-tagasi sõidule Tallinn-Võru rongiga ja märkmik. Paremas pintsakutaskus väike peegel, kamm ja 38 kop
  raha. 10cm Sisase laibast kraavis on 9mm hülss, 1m kaugusel teine, relva pole. Külavahetee pinnal on näha
  kuulikriimustusi. 35m eemal samas kraavis näoga allapoole peaga lõunasse ettesirutatud parema käega lebab läbilastud
  peaga naisterahva laip. Naine on hallis sportlikus pluusis ja hallis seelikus, jalas sportlikud jalanõud ilma
  sukkadeta. Paremas rinnataskus on pass Vildo Aliide Jaani t nimele s 1921 ja 75 rbl raha 50 ja 25 rublases kupüüris.
  <br>
  Lasud on tehtud tugevajõulisest tulirelvast mitte vähem kui 20 meetri pealt, kokku on tulistatud 6 lasku. Pähe tabanud
  lasud on tulistatud esimestel minutitel pärast surma saabumist, vöö ümbruse ja vasaku käe haavad aga tekitatud enne
  surma.
</blockquote>

<p>
  Sisas Eduard töötas julgeolekuorganites alates 27.11.44. Mõnedel andmetel oli ta 1946. a RJM Võrumaa osakonna ülema
  asetäitjana (ülemaks sellal Vassiili Zagrebalov) seotud Võru kooliõpilaste vabadusvõitluse mahasurumisega, mille
  käigus paljud koolilapsed saadeti Siberisse sunnitööle. Võru kooliõpilaste vabadusvõitlusega olid Toomsalu
  metsavendadest rohkem või vähem seotud Kuklane Valter ja Kirbits Kalju.
  <br>
  <a href="http://ugandi.eu/%D5pilasvabadusv%F5itlus%20V%F5rus%201944-1950.pdf">PDF</a>
</p>

<p>Pärast Sisase tapmist läks Toomsalu Auleid ligi nädalaks elama Pihlapuu Aaro punkrisse.</p>

<p>
  <b>1949. a 22. septembril</b>
  röövisid Kirbits Henn, Kirbits Aksel, Kirbits Eduard ja Pärli Elmar kella 16.30 ja 17.00 vahel
  <b>Luutsniku kauplust</b>. Metsavennad astusid poodi ja käsutasid kõigil kohalviibijatel käed üles.
  <b>Kasak Richard</b>
  sööstis uksest välja ja tapeti samal hetkel lasuga pähe. Ülejäänud kohalviibijad koos poemüüjaga viidi kuuri ja pandi
  sinna luku taha. Tühjendati kaubariiulid, millel olid kummikud, kangarestid, paberossid, pesu ja rahalaegas.
  <br>
  Vankri kraamivedamiseks võtsid nad ühelt külamehelt. A. V.:
</p>

<blockquote>
  Üks mees pidas mu vankri kinni, küsis kaugele lähen. Ütlesin, et Saarlase veskisse. Ta lasi sõita metsa sisse 50-100m,
  käskis viljakotid vankrist maha tõsta, ise aitas ka kaasa. Seejärel tulistas õhku, mille peale ilmus kohale teisi
  mehi, kes käskisid mul 2h paigal püsida, et muidu tapetakse. Nad sõitsid minu vankriga minema Luutsniku suunas.
</blockquote>

<p>
  Mööduvad traktoristid vabastasid kuuri kinnipandud inimesed. Side oli lõhutud ja Julgeolekule helistamiseks tuli sõita
  Ruusmäele.
</p>

<p>
  <b>7. dets. 1949 Kangsti kaupluse rööv.</b>
  Uibo Heino küsis Toomsalu Auleidilt kolme meest endaga poeröövile kaasa. Järgmisel päeval läks Toomsalu Auleid koos
  Kirbits Eduardi ja Kirbits Akseliga kohta, kus nad videvikus kohtusid Uibo Heino ja Koemetsaga. Hobuvankriga saabus
  kohale Kasak Kalju, kelle vankris istus Uibo Heino elukaaslane Tatrik Linda. Sõitnud umbes 3 km, tulid neile vastu 2
  tundmatut purjus inimest. Metsavennad hüppasid vankrilt maha ja liikusid Kangsti poe juurde jalgsi. Kasak Kalju sõitis
  üksi hobusega edasi. Enne kooparatiivi jõudmist visati traat üle telefonijuhtmete ja maandati see telefoni rivist
  välja viimiseks. Kohale jõudnud, nägid nad kohapeal ees teist vankrit, milles ootas Lett Eduard. Mehed pakkisid poes
  kokku kõik, mis neil vaja oli. Seejärel sõitsid vankrid poe kõrvale, asjad laoti vankrisse ja sõideti Sännasse, sealt
  edasi ühte heinaküüni, kuhu kraam maha laoti. Hiljem jagati see küünlavalgel, kõik oli hästi nähtav. Valmis saanud,
  umbes kell 7 või 8, tõstis Kasak Kalju oma kraami vankrile ja lahkus koos Uibo Heino ja Tatrik Lindaga. Lett Eduard
  koos Koemetsa ja oma kraamiga lahkusid oma teed. Toomsalu Auleid koos Kirbits Eduardi ja Kirbits Akseliga viibisid
  küünis kuni õhtuni, pimeduse saabudes läksid tagasi Viitinasse.
  <br>
  Kangsti poest saadud petrooleumlambi tahist õmbles Toomsalu endale padrunitasku.
</p>

<p>Kooperatiivi valvuri, Bandiitiide hävitamise pataljoni liikme Ermel Augusti tunnistus:</p>

<blockquote>
  6. dets. 1949. a umbes kell 19.20 seisin vintpüssiga postil ja nägin, et üks mees jalutas Võru-Valga teed pidi poe
  uksest mööda. Esialgu ei märganud ma midagi erilist, aga kui ta minuni oli jõudnud, hüppas ta kraavi ja sihtis mind
  automaadist. Samal hetkel jooksis poe nurga tagant välja teine automaadiga relvastatud mees ja haaras kinni minu
  vintpüssist, mida ma ei tahtnud ära anda. Tema järel tulid veel 2 meest, kes ähvardasid mind ära tappa, kui ma
  vintpüssi ei loovuta. Andsin püssi ära ja nad käskisid end poodi juhatada. Ütlesin, et ma ei saa, sest uks on lukus.
  Nad kamandasid mul käed üles ja viisid köögi ukse juurde, kus käskisid mul lasta poe juhatajal endale uks avada. Üks
  röövlitest otsis mu taskud läbi ja leidis võtme, millega avas ukse ning nad sisenesid kööki, sealt edasi poe juhataja
  korterisse. Toas käsutasid nad poe juhatajal Juhanson Peetril ja selle naisel
  <i>(Kangsti kooperatiivi eelmise juhataja Kaljuvee naine)</i>
  käed üles. Algul tulid tuppa 2 röövlit, hiljem ülejäänud 2. Üks otsis poe juhataja läbi ja küsis, kes veel majas
  viibivad. Vastasime, et mitte kedagi. Poe juhataja taskust leidis röövel kaupluse võtme. Ta küsis, kas see on poe
  võti, millele juhtaja vastas eitavalt. Röövel röögatas, et valetad, ja avas võtmega poe ukse. Kolm neist sisenesid
  koos kottidega poodi. Üks
  <i>(Kirbits Aksel)</i>
  jäi automaadiga tuppa valvama. Varsti kuuldus juttu ja vankrikolinat. Üks röövel
  <i>(Toomsalu)</i>
  tuli poest pooleliitrisega, lonksas ise ja pakkus meile ka, aga me ei võtnud. Pärast seda, kui nad olid koos meie
  valvuriga viina võtnud, jätsid nad pudeli ülejäänud viinaga lauale. Enne äraminekut tuli üks püstoliga röövel meie
  juurde ja ütles, et me hommikuni kuhugi ei läheks. Kui röövlid lahkusid, oli kell umbes 23. Nad olid asju pakkinud ja
  välja kandnud umbes kaks tundi. Kus suunas nad lahkusid, ma ei tea.
</blockquote>

<p>
  Krabilt Külluse kolhoosist viidi 1949 sügisel septembris minema üks küüditatule kuulunud siga ja oktoobris üks lehm.
</p>

<p>
  <b>4. nov 1949</b>
  käidi
  <b>Tiks Edgari</b>, Rõuge piimaühistu esimehe ja Säde kolhoosi juhatuse liikme majapidamisest varustust hankimas:
  <br>
  4. nov 1949 u kl 19 koputati talu uksele Viitinas Suure-Mäel. Kasutütar läks uksele vastu ja küsis, kes seal on.
  Järgnes vastus tugeva aktsendiga vene keeles, et öine kontroll. Sisse tulid 2 tundmatut relvastatud meest, kes nõudsid
  elanikelt majaraamatut. Need esitasid majaraamatu, tulijad silmitsesid seda ja teatasid siis, et majaelanikud on
  arreteeritud. Üks neist hakkas toast nööri otsima. Leidnud pika nööri, võttis ta oma taskust noa ja lõikas nööri
  kolmeks väiksemaks jupiks, millega sidus mehel, naisel ja nende kasutütrel käed selja taha. Pika nööri ühe otsa sidus
  käte nööride külge, teise aga voodiotsa külge. Tegutsejat kirjeldatakse kui pikka, tugeva kehaehitusega, u 45 a, ümara
  näoga meest, kes vene keelt rääkis tugeva aktsendiga. Mõnesid venekeelseid sõnu ta ei teadnud ja asendas need
  eestikeelsetega. Kui Tiks Maria (kes oli pärit Pihkva rajoonist) hakkas temaga rääkima eesti keeles, tegi mees näo,
  nagu ei ei saaks aru. Teine mees vaikis. See oli u 25 a, kahvatu näoga, kõhn. Lisaks oli kuulda, kuidas köögis
  rääkisid vaikselt veel mõned mehed ja naised. Nemad olid tõenäoselt Tiksile tuttavad, sest kinnihoitavate juurde nemad
  ei tulnud.
  <br>
  Mees istus toas ja võttis Tiks Mariaga üles jutu poliitilistel teemadel. Ta ütles, et hiljemalt pooleteise kuu pärast
  algab sõda. Röövi lõpus küsis mees petrooleumi. Köögist petrooleumi võttes imestas ta, et seda nii vähe oli ja läks
  sellega teise tuppa. Kaasa ta seda ei võtnud, järelikult määriti sellega taldu, et koer jälge üles ei võtaks. Kaasa
  viidi: hobuse rakmed, raadiovastuvõtja, naiste talvemantel, naiste plüüsmantel, meeste ülikond, käekellasid ja
  äratuskell, tekk, meeste kummikuid 2 paari, sealiha, jahu, õunu ja mett. Kogu kraam viidi minema Tikside hobusega.
</p>
