<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta property="og:title" content="Metsavennad" />
    <meta property="og:url" content="https://www.metsavennad.ee" />
    <meta property="og:image" content="https://www.metsavennad.ee/images/misso/maletamas.jpg" />
    <meta property="og:description" content="Metsavennad ja nende saatused Võrumaa lõunaosas 1944-1953." />

    <title>Metsavennad</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="index-background">
    <div class="container">
      <div class="px-10 py-8 space-y-10 bg-forest-dark rounded-md text-white [text-shadow:2px_1px_1px_black]">
        <div class="text-xl leading-[1.7] rounded-lg">
          Metsavennad olid võõrvõimu repressioonide eest varjunud ja selle vastu võidelnud inimesed. Siit lehelt leiate
          ühe osa metsavendade elust Võrumaa lõunaosas sõjajärgsel ajal. Vaadatud on kolmes piirkonnas tegutsenud
          inimesi ja nende saatusi.
        </div>

        <div class="space-y-6">
          <div>
            <a
              class="text-3xl text-white no-underline hover:text-[#b2d1ab] [text-shadow:2px_1px_1px_black]"
              href="/misso"
            >
              Misso, Haanja ja Ruusmäe ümbruses
            </a>
          </div>

          <div>
            <a
              class="text-3xl text-white no-underline hover:text-[#b2d1ab] [text-shadow:2px_1px_1px_black]"
              href="/rouge"
            >
              Rõuge ja Viitina ümbruses
            </a>
          </div>

          <div>
            <a
              class="text-3xl text-white no-underline hover:text-[#b2d1ab] [text-shadow:2px_1px_1px_black]"
              href="/sangaste"
            >
              Linnamäe, Urvaste ja Sangaste ümbruses
            </a>
          </div>
        </div>
      </div>
    </div>
    <video
      playsinline
      autoplay
      muted
      loop
      class="fixed inset-0 min-w-full min-h-full w-auto h-auto -z-[100] object-cover"
    >
      <source src="metsavennad.mp4" type="video/mp4" />
    </video>
  </body>
</html>
