<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:title" content="Metsavennad">
	<meta property="og:url" content="https://www.metsavennad.ee"/>
	<meta property="og:image" content="https://www.metsavennad.ee/images/misso/maletamas.jpg"/>
	<meta property="og:description" content="Metsavennad ja nende saatused Võrumaa lõunaosas 1944-1953."/>

	<title>Metsavennad</title>

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/stylesheet.css">
	<!-- <script src="/vendor/jquery/jquery.min.js"></script> -->
	<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
		posthog.init('phc_yQhy5MsO2GL4VLTaGrNjthV15fDXXQOD4gkMBPatFzV', {
			api_host: 'https://us.i.posthog.com',
			person_profiles: 'identified_only', // or 'always' to create profiles for anonymous users as well
		})
	</script>
</head>
<body class="index-background">
	<div class="container">
		<div class="index-green-box row">
			<div class="col-xs-12">
				<div class="introduction text-black-shadow">
					Metsavennad olid võõrvõimu repressioonide eest varjunud ja selle vastu võidelnud inimesed. Siit lehelt leiate ühe osa metsavendade elust Võrumaa lõunaosas sõjajärgsel ajal. Vaadatud on kahes piirkonnas tegutsenud inimesi ja nende saatusi.
				</div>
				<a class="main-link text-black-shadow" href="/misso" style="text-decoration: none">
					<span class="glyphicon glyphicon-tree-conifer"></span>
					Misso, Haanja ja Ruusmäe ümbruses
				</a>
				<a class="main-link text-black-shadow" href="/rouge" style="text-decoration: none">
					<span class="glyphicon glyphicon-tree-conifer"></span>
					Rõuge ja Viitina ümbruses
				</a>
				 {{!-- <a class="main-link text-black-shadow" href="/sangaste" style="text-decoration: none"> 
					<span class="glyphicon glyphicon-tree-conifer"></span> 
					Linnamäe-Urvaste-Sangaste ümbruses 
				 </a>  --}}
			</div>
		</div>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-98448877-1', 'auto');
		ga('send', 'pageview');

	</script>
	<video playsinline autoplay muted loop id="bgvid">
		<source src="metsavennad.mp4" type="video/mp4">
	</video>
</body>
</html>
