<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:title" content="Metsavennad">
	<meta property="og:url" content="http://www.metsavennad.ee"/>
	<meta property="og:image" content="http://www.metsavennad.ee/images/misso/pildid/maletamas.jpg"/>
	<meta property="og:description" content="Metsavennad ja nende saatused Võrumaa lõunaosas 1944-1953."/>

	<title>Metsavennad</title>

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/stylesheet.css">
	<!-- <script src="/vendor/jquery/jquery.min.js"></script> -->
</head>
<body class="index-background">
	<div class="container">
		<div class="index-green-box row">
			<div class="col-xs-12">
				<div class="introduction text-black-shadow">
					Metsavennad olid võõrvõimu repressioonide eest varjunud ja selle vastu võidelnud inimesed. Siit lehelt leiate ühe osa metsavendade elust Võrumaa lõunaosas sõjajärgsel ajal. Vaadatud on kahes piirkonnas tegutsenud inimesi ja nende saatusi.
				</div>
				<a class="main-link text-black-shadow" href="/misso" style="text-decoration: none">
					<span class="glyphicon glyphicon-tree-conifer"></span>
					Misso, Haanja ja Ruusmäe ümbruses
				</a>
				<a class="main-link text-black-shadow" href="/rouge" style="text-decoration: none">
					<span class="glyphicon glyphicon-tree-conifer"></span>
					Rõuge ja Viitina ümbruses
				</a>
			</div>
		</div>
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-98448877-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
