<!-- Desktop nav (hidden on mobile) -->
<ul class="hidden md:flex gap-6 text-base">
  <li><a href="/misso/">Sissejuhatus</a></li>
  <li><a href="/misso/lugu/">Lugu</a></li>
  <li><a href="/misso/pildid/">Pildid</a></li>
  <li><a href="/misso/kaardid/">Kaardid</a></li>
  <li><a href="/misso/isikud/">Isikud</a></li>
  <li><a href="/misso/rjm/">RJM</a></li>
  <li><a href="/misso/agendid/">Agendid</a></li>
  <li><a href="/misso/malestus/">Mälestus</a></li>
  <li><a href="/misso/lisad/">Lisad</a></li>
</ul>
