<!doctype html>
<html lang="et">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Võrumaa lõunaosa metsavennad sõjajärgsel ajal.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:title" content="Sangaste metsavennad">
    <meta property="og:url" content="https://www.metsavennad.ee/sangaste">
    <meta property="og:image" content="https://www.metsavennad.ee/images/sangaste/fotod/felix_hobe.jpg">
    <meta
      property="og:description"
      content="Linnamäe-Urvaste-Sangaste piirkonna metsavendade lood ja saatused."
    >

    <title>Metsavennad - Linnamäe-Urvaste-Sangaste</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext"
      rel="stylesheet"
      type="text/css"
    >

    {% if isProd %}
      <link rel="stylesheet" href="/css/styles.min.css">
    {% else %}
      <link rel="stylesheet" href="/css/styles.css">
    {% endif %}
    <link rel="stylesheet" href="/vendor/lightgallery/css/lightgallery-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="">

    <script defer src="/js/alpine.min.js"></script>
    <script src="/js/lightgallery.bundle.min.js"></script>
    {% include 'posthog' %}
  </head>
  <body>
    <nav x-data="{ mobileOpen: false }" class="fixed top-0 left-0 right-0 bg-nav-bg text-white z-50 px-4">
      <div class="nav-grid">
        <a href="/" class="font-semibold text-lg">Metsavennad</a>

        <!-- Desktop nav -->
        <ul class="hidden md:flex gap-6 text-base">
          <li><a href="/sangaste/">Sissejuhatus</a></li>
          <li><a href="/sangaste/olud/">Olud</a></li>
          <li x-data="{ open: false }" class="relative">
            <button @click="open = !open" @click.away="open = false" class="flex items-center">
              Elukäigud ja sündmused
              <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
            <ul x-show="open" x-transition x-cloak class="absolute left-0 mt-2 w-40 bg-nav-bg rounded shadow-lg py-2">
              <li><a href="/sangaste/elukaigud_enne_1944/" class="block px-4 py-2">Enne 1944</a></li>
              <li><a href="/sangaste/elukaigud_1945_1946/" class="block px-4 py-2">1945-1946</a></li>
              <li><a href="/sangaste/elukaigud_1947_1948/" class="block px-4 py-2">1947-1948</a></li>
              <li><a href="/sangaste/elukaigud_1949_1953/" class="block px-4 py-2">1949-1953</a></li>
              <li><a href="/sangaste/elukaigud_1954_1959/" class="block px-4 py-2">1954-1959</a></li>
            </ul>
          </li>
          <li><a href="/sangaste/rjm/">RJM</a></li>
          <li><a href="/sangaste/pildid/">Pildid</a></li>
          <li><a href="/sangaste/kaardid/">Kaardid</a></li>
          <li x-data="{ open: false }" class="relative">
            <button @click="open = !open" @click.away="open = false" class="flex items-center">
              Muu
              <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
            <ul x-show="open" x-transition x-cloak class="absolute left-0 mt-2 w-40 bg-nav-bg rounded shadow-lg py-2">
              <li><a href="/sangaste/isikud/" class="block px-4 py-2">Isikud</a></li>
              <li><a href="/sangaste/lisad/" class="block px-4 py-2">Lisad</a></li>
            </ul>
          </li>
        </ul>

        <!-- Mobile hamburger -->
        <button @click="mobileOpen = !mobileOpen" class="md:invisible p-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path
              x-show="!mobileOpen"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
            <path
              x-show="mobileOpen"
              x-cloak
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!-- Mobile nav -->
      <ul x-show="mobileOpen" x-transition x-cloak class="md:hidden pb-4 space-y-1 text-base">
        <li><a @click="mobileOpen = false" href="/sangaste/" class="block py-2">Sissejuhatus</a></li>
        <li><a @click="mobileOpen = false" href="/sangaste/olud/" class="block py-2">Olud</a></li>
        <li class="border-t border-gray-700 pt-2 mt-2">
          <span class="block py-1 text-gray-400 text-sm">Elukäigud ja sündmused</span>
          <a @click="mobileOpen = false" href="/sangaste/elukaigud_enne_1944/" class="block py-2 pl-4">Enne 1944</a>
          <a @click="mobileOpen = false" href="/sangaste/elukaigud_1945_1946/" class="block py-2 pl-4">1945-1946</a>
          <a @click="mobileOpen = false" href="/sangaste/elukaigud_1947_1948/" class="block py-2 pl-4">1947-1948</a>
          <a @click="mobileOpen = false" href="/sangaste/elukaigud_1949_1953/" class="block py-2 pl-4">1949-1953</a>
          <a @click="mobileOpen = false" href="/sangaste/elukaigud_1954_1959/" class="block py-2 pl-4">1954-1959</a>
        </li>
        <li class="border-t border-gray-700 pt-2 mt-2">
          <a @click="mobileOpen = false" href="/sangaste/rjm/" class="block py-2">RJM</a>
        </li>
        <li><a @click="mobileOpen = false" href="/sangaste/pildid/" class="block py-2">Pildid</a></li>
        <li><a @click="mobileOpen = false" href="/sangaste/kaardid/" class="block py-2">Kaardid</a></li>
        <li class="border-t border-gray-700 pt-2 mt-2">
          <span class="block py-1 text-gray-400 text-sm">Muu</span>
          <a @click="mobileOpen = false" href="/sangaste/isikud/" class="block py-2 pl-4">Isikud</a>
          <a @click="mobileOpen = false" href="/sangaste/lisad/" class="block py-2 pl-4">Lisad</a>
        </li>
      </ul>
    </nav>

    <main class="container min-h-screen bg-white">{{ content }}</main>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="/js/region-map.js"></script>
  </body>
</html>
