<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Elukäigud 1947-1948</h1>

	<div class="p">
		Järgnevaks kaheks aastaks, kuni 1948. a. detsembrini, sai  Ants Aunveri alaliseks paopaigaks tema onu Jaan Luksepa talu (Mälu-Oti talu) Sangaste vallas Laokülas. 1947. a märtsis asus sinna elama ka Johannes Heeska, alates septembrist 1947 viibis punkris vahel ka Robert Heeska. Ants Aunver oli ehitanud puukuuri puuriida alla punkri kahele inimesele. Koos Johannes Heeskaga tõid nad sinna kaasa ka relvatagavara: kolm kuulipildujat, 10 vinti, 2 automaati, kolm püstolit, padruneid ja granaate, Utita veski punkrist toodi ära kirjutusmasin Concordia. Kolmele mehele osutus punker kitsaks ja Robert Heeska lahkus  punkrisse kunagise kodu lähedale Utsalisse.
	</div>	
	<div class="quote">
	LJ: Ants Aunver kaevas maa sisse kahe meetri pikkuse, pooleteise meetri laiuse ja paari meetri sügavuse augu ja ehitas sinna punkri 2-3-le inimesele. Seal olid narid, riiul, lauake, raketimürsu kestast tehtud tilluke ahi, mida ta küttis. Punkrit maskeeris puuriit, mille taga oli sissepääs punkrisse.	
	</div>	
	<div class="p">
	Ratast kasutasid mehed sissepääsuluugi avamiseks ja väikse generaatori ringiajamiseks, et raadioakut käivitada.	
	</div>	
	<div class="p">
	Sangastes elades peeti sidet Urvaste ja Sõmerpalu kandi metsavendade Feliks Hõbe, Artur Tellingu, Kalju Visnapuuga ning vendade Valter ja Edgar Jeegeriga, lisaks legaalselt elavate inimestega sõprade, tuttavate ja lähedaste näol. Ants Aunver leidis vaimset  tuge KL Võrumaa maleva endise juhi Jaan Heljuste usaldusest, kes toetas mehi nõu ja jõuga, vaatamata oma haigusseisundile (insuldijärgsed liikumisraskused). Johannes Heeska lävis ka Linnamäe ja Kooraste metsavendadega (Karl Kaur, August Kängsepp jt) .	
	</div>	
	<div class="p">
	Aastaid kestev tapmisohus elamine, pidev kaaslaste langemine ja arreteerimine sundis tegudele, tekitas kramplikke lootusi ja sõi närve. Sõja puhkemise ootuses võeti sihikule nõukogude  riigi raha ja toiduvoorid, jõhkramad punavõimu esindajad ja pealekaebajad.	
	</div>	
	<div class="p">
	Täitevkomitee esimeestele ja partorgitele saadeti hoiatuskirju talude kulaklikeks kuulutamise vastu, need elasid pidevas kättemaksuhirmus.	
	</div>	
<div class="p">
Linnamäe partorg Plekksepp 16. sept 1948: 	
<br>
<div class="quote">
Valla Täitevkomitee esimees Sokk Elmar ÜK(b)P liige, septembrikuu algusest saadik ei ole veel kordagi TK olnud. Põhjuseks on see, et Sokk E sai ühe hirmutuskirja seoses uute kulaklike majapidamiste juurde kinnitamisega ja sellest tingituna ei julgenud enam öösi kodus magada. Oli kuulduste järgi Tallinna sõitnud praegu on siiski kodus. Minu kutsetele valla Täitevkomiteesse tulla ei ole reageerinud. Seoses varumisvoliniku brigaadi käitumisega vallas on kulaklikud majapidamised ärevil. Kulak Kallist esitas küsimuse: „Kas nüüd asutakse kulaklike majapidamiste lõplikule likvideerimisele ja kas viiakse kõik Siberisse?“	
</div>
</div>
<h3>JULGEOLEKU TÄHELDATUD JUHTUMID 1947-1948 SÕMERPALU JA SANGASTE VAHEL</h3>
<div class="p"></div>
<b>7. 01.1947 võeti ära riigi raha Sõmerpalu sovhoosi raamatupidajalt.</b>
<div class="quote">
KK: Jaanuari alguses 1947 tuli minu juurde jälle Johannes Heeska ja ütles, et talle on teada, kelle käest, ei tea, et Sõmerpalu sovhoosist viiakse järgmisel päeval suur summa raha. Ta kutsus mind raharöövis osalema. 	
</div>
<div class="p">
Sõmerpalu sovhoosi raamatupidaja TE: 	
<br>
<div class="quote">
töötades raamatupidamise praktikandina Sõmerpalu sovhoosis, komandeeriti mind Võru riigipanka sovhoosile 1946. a detsembrikuu palkade väljamaksmiseks raha tooma. Saanud selle raha summas 28 277 rbl , sõitsin u kl 2-3 päeval sovhoosi autoga tagasi sovhoosi. U 2 km enne sovhoosi jõudmist peatasid mind automaatide ja vintpüssidega relvastatud 5 tundmatut inimest, neist 1 naine. Mõnedel meestel olid maskid, mõned näod olid kaetud mingi musta võidega. 
<br>
Auto peatanud tundmatud ütlesid minu nime, kuid veidi segaselt, mistõttu ma istusin ja ei reageerinud. Lisaks mulle  istus autos teisi imeie sovhoosi inimesi. Üks neist nimetas tundmatule mu õige nime. Pärast seda kogunesid kõik 5 inimest auto juurde ja hakkasid minult küsima, kas ma sain raha, üks neist võttis mul käest ära koti, milles olid pangast toodud sovhoosi raha.
<br>
Üks bandiitidest istus kabiini, ülejäänud kasti, ja nad viisid meid Antsla linna suunas. Sõitnud 4 km sovhoosist mööda, kästi kõigil reisijatel kastist väljuda ja paluti siseneda ühte tallu, kus kästi oodata, kuni auto koos juhiga tagasi tuleb. Ise sõitsid nad meie autoga veel edasi. Istunud talus 40-50 min, läksin ma koos ühe teise sovhoositöötajaga sovhoosi, et juhtunust teatada. Sovhoosi lähedal jõudis meile järele ka sovhoosi autojuht. Minu küsimusele, kui kaugele ta bandiidid viis, keeldus autojuht vastamast, öeldes, et vastab ainult uurimisorganitele.
</div>
</div>
<div class="p">
<b>Kevadel 1947 </b>tapeti Sõmerpalu hävituspataljoni komanör Kõvatu, kes saatis võivoori Sõmerpalu võitööstusest
</div>		
<div class="p">
<b>16.04.1947</b>rööviti Sõmerpalus munade kogumispunkti.
</div>	
<div class="quote">Kella 2 paiku tungis umbes 6-7 relvastatud bandiiti läbi akna, purustades 2 ruutu, Kuldre k/n „Miku“ tallu, mille omanik on Jõõras Hans, kus asub munade kokkuostupunkt. Bandiidid nõudsid mune ja riigi raha. Kuid munad olid juba ära viidud 12. aprillil ja kohapeal ei olnud rohkem kui 100-150 muna ja 150 rbl raha. Nii vähe mune ja raha nad ei tahtnud. Siis käskisid bandiidid peremehel  hobune ette rakendada, öeldes, et neil on tarvis kusagilt kraami peale panna. Lahkumisel  ei lubanud bandiidid ametivõimudele enne teatada kui peale lõunat. Lahkudes käskisid munad ära keeta ja ära süüa ja süü nende peale ajada. Kui vankrimürin talust eemaldus, jooksis Jõõras Hans kõrvaltallu, kus asub RK liige ja teatas temale sündmusest, see jooksis ja teatas omakorda miilitsa rajoonivolinikule, kes omakorda helistas Antsla. Antslast tuli autoga abi 4 meest. 8 mehega mindi jälgi ajama. 7 km eemal Urvaste MTK juures oli hobune kinniseotud kuuse heki külge, kuid bandiite ei leitud.
</div>
<div class="p">
<b>02.1947</b>Veebruari alguses 1947 Karl Kuus, Johannes Heeska, Karl Pommer, Kängsepp ja veel 5 metsavenda viisid Püksi talust uusmaasaaja Piirsonilt ära seemnevilja ja toiduaineid.
</div>		
<div class="p">		
<b>5. 04.1947 </b>		
<div class="quote">Käesoleva aasta 5. aprillil pani 9 liikmest koosnev jõuk Võrumaal Linnamäe vallas toime kallaletungi grupile Nõukogude armee Leningradi sõjaväeringkonna sõjaväelastele, kes puhkasid ühe talumehe talus. Bandiidid võtsid tunnimehelt relva, samuti võtsid relvad, mundrid ja dokumendid sõjaväelastelt ning kadusid sõjaväelastele kuuluva autoga, auto oli hiljem jäetud metsa maha. 
</div>
</div>
<div class="p">
<b>1947 </b>	
<div class="quote">
Antsla miilitsa poolt oli kinni peetud üks kahtlane isik, dokumendid sel isikul puudusid, isik oli ilma valveta jäetud miilitsa osakonda ja taskurelv mis temal oli see ei võetud ka ära, seesama isik varastas jaoskonnast veel ühe automaadi ka ära ja läks jooksu, kätte teda pole saadud.	
</div>
</div>



		<br>




<b></b>	
</div>		
		Testing
	</div>
</div>