<div class="content">
	<div class="p">
	</div>
	<div class="p">
</div>
	<h1>Elukäigud 1949-1953</h1>
<div class="p">
Sangastest pääsenud metsavendade ellujäämine sel talvel sõltus abilistest. Senine abiliste võrgustik oli arreteerimistelaine, piinamiste ja salajaste sundvärbamiste tõttu hõre ja murdumisohtlik. Metsavendade sugulasi arreteeriti ja piinati massiliselt kõigi järgnevate kuude vältel. 40 inimest metsavendade lähedastest mõisteti Venemaa vangilaagritesse 1949. a alguskuudel. Ülejäänud veeti Venemaale suurküüditamisega 1949. a märtsis. Inimkaotused metsavendade ümber olid koletud. Kodukoha elanikke varitses ja terroriseeris Julgeolek järjepidevalt. Külaelanikelt võeti saladuskatte varjus allkirjad kohustusele metsavendi kohates nad üles anda. Kummatigi oli ligimese aitamise tava Eesti külas visa hävima isegi sellise terrori tingimustes. Hädasolijale anti abi vaatamata enda ja oma pere ohtu seadmisele. Nõukogude võim kasutas julmust käsikäes meelitamisega: äraandmise kiusatuseks oli lubadus rahule jätta. Võikast julmusest säästmise, rahule jätmise lubadus oli reetmise hind.		
</div>
<div class="p">
<b>Ants Aunver</b> saabus Sangastest tagasi kodukohta 1948. a jõulude paiku. Talv piiras liikumist, puudus peavari ja toit. Sugulasi ja sõpru vangistati üksteise järel. Lähedased olid pingsa jälgimise all. Meeleheitlikus olukorras otsis Ants Aunver üles oma sõbra Rein Märdimäe. Ka Märdimäe perekond oli teravdatud valve all. Pereisa oli Julgeoleku pideva surve all, olles samal aastal sundvärvatud "agendiks" "Ivan", ja laveeris oma sõpra aidates noateral.
</div>
<div class="p">
<div class="quote">
MR: Jaanuari algul 1949 tuli öösel mu tallu Heeska salga liige Jaan Aunver, u 35a, koputas aknale. Ma ei maganud veel ja läksin akna juurde. Küsisin, kes seal on, akna tagant vastati, et mina, Aunver. Ta tuli ukse juurde, ma avasin selle ja lasin ta tuppa. Ta rääkis, et punker on purustatud ja temal ja Johannes Heeskal õnnestus põgeneda. Ta palus mult luba varjata end minu talus või soovitada kedagi oma sugulastest või tuttavatest, kus ta võiks varjata. Ütlesin, et minu juures ei saa, siin käib liiga palju kohalikke inimesi. Soovitada ei osanud, sest nii usaldusväärseid inimesi mu sugulaste või tuttavate hulgas mul ei olnud. Umbes kahe tunni pärast läks Aunver minu juurest Brikkeri poole. Nädala pärast tuli Brikker minu juurde. Küsisin, kus Aunver on. Brikker ütles, et Aunver on heas kohas.
</div>
</div>
<div class="p">
Rein Märdimäe naaber Eduard Brikker (s 1898) Koidu talust Linnamäelt sai järgnevatel aastatel  eraldi varjuvate metsavendade ühenduslüliks. Brikker tundis Ants Aunverit juba Saksa ajast, kui ta istus Võru vanglas jahirelva omamise pärast ja Ants Aunver oli samas vangivalvuriks.	
</div>
<div class="p">
Järgmised 15 päeva varjas Ants Aunver end tema heinaküünis. Eduard Brikkeriga kahasse ehitasid nad maa-aluse punkri  1 km kaugusele talust,  viimasesse väiksesse  kuusetukka. Külmunud maasse kaevati auk 2x1,5 m ja vooderdati seest laudadega. Pealt maskeeriti sambla ja kuuskedega. Punkrit sisustas üksnes ühele inimesele mõeldud 71 cm kõrgune lavats. Muud sisustust, isegi mitte ahju, punkris ei leidunud. Punkri sissepääsuava oli kõigest 31x31 cm. Peidik sai Ants Aunveri varjupaigaks läbi talve, kuni 1949. a aprillini. Selle aja sisse jäi märtsiküüditamine. Aunveri kodust veeti Siberisse tema ema ja õde koos pojaga. Eluküllane suurtalu jäi seisima elutu ja hüljatuna. Sügisepoole 1949 kolis sinna sisse üksik kolhoosnikust naispensionär. 1949/1950 a talvel saadeti üks kolhoositööline Keema-Mihkli talu kõrvalhoonet lammutama.	
<br>
Toitu sai Ants Aunver nii Brikkeri kui Märdimäe perelt.
</div>
<div class="p">
<div class="quote">
BS: Esimesel kohtumisel 1948. a detsembris tutvustati teda (Aunverit ) mulle kui Kuusik Villit, koos temaga tuli meile naaber Märdimäe Rein. Hiljem tuli ta veel mitmel korral meile, enamasti koos Märdimäega, kes oli tema sõber. 1949. a jõulude ajal valmistasime laua, kuhu kutsusime ka Aunvere ja Märdimäe koos naisega. Pärast seda käis Ants Aunver meil jaanuaris 1950. a õhtul ja lahkus kell 24 öösel, nad olid mu isaga eraldi toas, millest nad vestlesid, ma ei tea. Viimast korda nägin Aunverit aprillis 1950. Ta tuli õhtul meile ja küsis isa järele, nad läksid kohe koos teise tuppa ja vestlesid seal hilise õhtuni, millest, ma ei tea. Siis läksid nad kahekesi toast välja, kuhu, ma ei tea. Kui isa tagasi tuli, küsis ema: „Kas läks ära?“ Isa vastas: „Jah“.	
</div>
<div class="quote">
BM: Isa viis toitu metsa, mis asus u 100-150 m meie talust. Kui küsisin, kellele, vastas ta, et Aunvere Jaanile, millest tegin järelduse, et Ants Aunver varjab end meie metsas. Toitu viis ta sinna 3-4 kuud, kuni aprilli alguseni 1949. Toitu valmistasime me alati rohkem kui meie endi perele vaja oli. Aprilli algusest 1949 lõpetas isa toiduviimise ning me ema ja õdede Salme ja Silviga mõistsime, et Aunver on meie talust lahkunud. Kuhu, seda isa ei öelnud.	
</div>
</div>
<div class="p">
Järjekordne massiküüditamine lõi meelekindlatel meestelgi vaimu vankuma.	
</div>
<div class="p">
Agendiks värvatud OE kandis Julgeolekule ette:
<div class="quote">
Aunver varjas üksi ja oli sedavõrd närvivapustuse mõju all, et kavatses lõpetada oma elu enesetapuga. Aprillis k.a. tuli Märdimäe juurde Johannes Heeska ja teatas, et võtab Aunveri endaga kaasa, kuna üksi ta oma närvidega enam varjata ei tohi.	
</div>
<div class="quote">
BE: Aprillis 1949 ühel hilisõhtul tuli minu juurde Heeska ja küsis, kuidas Ants Aunveri tervis on. Vastasin, et elus ja terve, siis läksin koos Heeskaga punkrisse, kus nad said kokku. Nad ööbisid punkris ja hommikul teatasid mulle, et jätavad punkri ja külastavad mind edaspidi harva. Punkri jätsid nad maha seetõttu, et Kurenurme k/n hakkasid sageli ilmuma Vene sõdurid, kes tapsid seal ka metsavend Kängsepa (Arnold Kängsepp).	
</div>	
</div>
<div class="p">
Aunver koos Heeskaga lahkusid 1949 kevadel Pätsimäe peretütre Aino Reinumäe (s 1921) juurde, kes varjas end kodutalus. Kogu Reinumäe pere oli küüditatud või arreteeritud.	
</div>
<div class="quote">
AA: Aino Reinumäega tutvusin Johannes Heeska kaudu Urvaste vallas. Nende perest oli 1945. a arreteeritud Aino vend ja ta suhtus metsades varjavatesse metsavendadessse kaastundega. 1949. a küüditati Aino ema, isa ja vennanaine. Ta ise põgenes väljasaatmise eest ja varjas metsas oma talu lähedal. Kohtasin teda metsas ja sellest ajast peale varjame koos ja aitame üksteist. Kuni 1953 talveni varjasime koos metsapunkrites, varusime talveks toitu, võtsime kolhoosi põllult kartuleid ja juurvilja. Üldiselt teadis Reinumägi kõigist minu tegudest peale tapmiste. Neist ei rääkinud ma lihtsalt seetõttu, et arvasin, et neist, kui halbadest asjadest, on raske rääkida.	
</div>
<div class="p"></div>
<div class="p">
<b>Aino Reinumäe</b>	
</div>
<div class="p">
<div class="quote">
RA: Ükskord veel enne mu vanemate äraviimist (st küüditamist) tulid vara hommikul laudalakka, kus ma tavaliselt magasin, kaks meest. Üks neist oli Heeska Johannes, teine oli mulle tundmatu.  Kui mina läksin tööle, jäid nad mõlemad minu asemele puhkama. Hiljem tuli see võõras mees veel mitmel korral minu tallu, nii üksi kui koos metsavendadega. Jutust sain teada, et ta on Ants Aunver. Kui ma 1949. a kolhoosis töötasin, külastas Ants Aunver jätkuvalt minu talu ja meil tekkisid lähedased suhted. 	
</div>	
</div>
<div class="p">
Aino vend oli vangistatud 1944. a, vennanaine Leida Reinumägi 1948. a lõpus. Aino ema ja isa (78a) küüditati märtsis 1949 Irkutskisse (P.S. Peeter Reinumägi Siberipäevik on Rahvaluule arhiivis). Ainogi oli koos vanematega väljasaatmisele mõistetud, kuid oli küüditamise päeval viimas toidupakki oma vennanaisele Tallinna vanglas. Koju jõudes varjus ta  võimude eest kodu lähedale metsa. Tühjaks jäänud kodutallu tuli koduhoidjaks Aino õde Vastseliina kandist. Varjamispaine osutus liig karmiks katsumuseks ja Aino tegi katse legaliseeruda. 	
</div>
<div class="p">
<div class="quote">
Aino õde SL: Läksin temaga koos Võru linna, kus ta ilmus julgeolekuosakonda. Kui Reinumägi Aino lahti lasti, rääkis ta, et tal lubati minna koju oma tallu „kuni erikorralduseni“. Mida see tähendas, ma ei tea. Kodus elas Reinumägi Aino mõned kuud minuga koos isatalus ja töötas kolhoosis. Sel ajal rääkis Aino mulle, et teda ähvardatakse Eestist välja saata. Mõne aja pärast lahkus ta kodust ja kadus. Rohkem ma teda ei näinud ja pole temast midagi kuulnud. Samuti ei tea ma tema kadumise põhjust.	
</div>	
</div>
<div class="p">
Julgeolekuagent „Tihhomirov“, varasem kohalik politseinik, korraldas Aino kohtumise julgeolekutöötajatega. "Tihhomirovilt" saadud andmed võimaldasid Julgeolekul sundida Ainot omaks võtma kohtumised Johannes Heeska, Robert Heeska, Feliks Hõbe, Kalju Visnapuu, Artur Tellingu ja Karl Kuusiga ja nende aitamist söögi ja peavarjuga.	
</div>
<div class="p">
<div class="quote">
RA: Kui metsavennad käisid minu juures, siis nad peatusid u mõni tund. Millest nad rääkisid, ma ei mäleta. Nad olid alati lõbusad ega kurtnud millegi üle. Tean, et üks olevat töötanud Saksa politseis ja teised vist hoidsid sõjaväest kõrvale.	
</div>	
</div>
<div class="p">
Julgeolekuministri asetäitja Pastelnjaki sanktsiooniga sundvärbas Julgeolek Aino Reinumägi oma agendiks ja suunas „Heeska salga“ otsingutele. 	
</div>
<div class="p">
<div class="quote">
RA: Pärast kojutulekut ja tööleasumist pidasin sidet varjaja Ants Aunveriga. Ants Aunverist ma julgeolekuorganitele ei teatanud ega kavatsenudki seda teha. 	
</div>	
</div>
<div class="p">
Talve 1949/1950 elas Aino Reinumägi kodus ja käis kolhoosis tööl. 1950. a kevadel suurendas Julgeolek survet reetmise saavutamiseks, jõhkrate ähvarduste tõttu jättis naine oma kodu ja läks metsa Ants Aunveri kaaslaseks. Ants Aunver oli ehitanud uue maa-aluse punkri kõrgele Puumiskaldale (kirjakeeli Poomisjärsak), kust üle põldude oli näha tema tühi kodutalu. Teineteise eest hoolt kandmine andis mõlema varjaja elule uue mõtte ja tasakaalu. See punker sai neile koduks olla umbes aasta, siis olid Julgeoleku nuhid taas neil kannul.	
</div>
<div class="p">
Plaan  Kaart
</div>
<div class="p">
<div class="quote">
RA: Umbes 1951. a  sügisel, olles Ants Aunveriga punkris, kuulsime oma pea kohal samme ja  hääli. Need inimesed rääkisid midagi meie punkrist ja lahkusid siis. Meie punker asus maa sees ja oli väljast väga hästi maskeeritud. Meile oli selge, et punker on avastatud ja sinna edasi jääda ei tohi. Veel samal päeval läksin koos Ants Aunveriga Kooraste valda suurde metsa, kus me juba varem olime alustanud tagavarapunkri ehitamist. Ehitasime punkri lõpuni ja asusime end seal varjama. Punker asus soosaarel, ümberringi laius soo.
</div>	
</div>
<div class="p">
<div class="quote">
AA: Koos Reinumägi Ainoga läksime Vaabina valda, kuhu ehitasime Keema küla lädedale (Puumiskaldale) metsa maa-aluse punkri. See asus mu isakodust umbes 800 m kaugusel. Seal hakkasime end varjama. 1951. a sügisel juhtus selline lugu. Kord õhtupoolikul olime Reinumäega punkris, mis oli hästi maskeeritud. Kuulsime, kui katusele, mis oli maapinnaga tasa, tulid mingid inimesed. Kuulsime kaht meest omavahel rääkimas. Nad ütlesid, et punker peab asuma selles kohas, kus nad seisavad. Mõistsime, et jutt käib meie punkrist. Kes need olid, seda me ei tea ja ei näinud. Me saime aru, et meie punker on teada, ehkki need inimesed ei püüdnud sisse tungida ja lahkusid. Seoses sellega lahkusime koos Reinumägi Ainoga Kooraste valla maadele punkrisse, mille ehitasime endale igaks juhuks 1950-1951. a. Ehitasime selle tagavaraks, juhuks kui kodulähedane punker tuleb maha jätta. 	
</div>	
</div>
<div class="p">
<div class="quote">
AA: Teine punker, kus varjasin end Reinumäega kuni asumiseni Kose rajooni 1953. a, asus vanal sooalal Koorastes. Punker asus u 300 m Kulli talust soometsas sooseljandikul. Mis külla talu kuulus ja kes seal elas, ma ei tea. Selle talu elanikud ei teadnud meie punkri olemasolust midagi. Punker oli u 2x2 m suur, seest puitplaatidega kaetud. Ka Kooraste punker oli maa-alune ja hoolikalt maskeeritud. Seal punkris elasime Reinumägi Ainoga kuni 1953. a sügiseni. Okt. 1953, pärast endale passi tegemist, sõitsin Kose rajooni, kus hakkasin  teedeehitusel tööle. Umbes kolme nädala pärast tõin enda juurde ka Reinumägi Aino, kes seni elas edasi punkris Kooraste vallas. Sellest ajast peale olen elanud Kariste nime all.  	
</div>	
</div>
<div class="p">
Punkri kirjeldus aastast 1958, ehk 5a pärast selle mahajätmist:
Teed mööda, mis viis Urvaste mõisast Nahakülla, ristiga X märgitud järve juures asuvast punktist mindi metsarada mööda punkri juurde, mis asus metsas, u 200m Kuldi talust  idas. Topokaardil on teekond punkri juurde märgitud punase punktiirjoonega ja punker ise tähega (vene keelne B (bee) täht). Maapinnaga maskeeritud puust punkriluuk on suurusega 70x63 cm. Punker ise kujutab maa-alust auku pikkusega 2.20 cm laiusega 2m. Punkri seinad ja lagi on valmistatud ümarpalgist. Punkris on väike telliskivipliit ümara raudtoruga, mille ava lõpeb maapinnal sissepääsuluugiga samal kõrgusel. Punkris on puudevaru, vana roostetanud petrooleumlamp ja 3 kuiva elektripatareid. Seina- ja laepalgid, samuti luugilauad, on mädanenud. Hinnalisi esemeid punkrist ei leitud ja midagi kaasa ei võetud.
</div>
<div class="p">
	Skeem 2 punkri asukoht
</div>
<div class="p">
<div class="quote">
RA: Ma kartsin vangistamist ja see oli metsa mineku põhjus. Teadsin, et Aunver oli olnud Omakaitses, Kaitseliidus, kuid et ta oleks röövinud ja tapnud, ma ei teadnud. Kui ta seda tegigi, siis selle peaks unustama. Elus oli ta asendamatu kaaslane. Aunver andis mulle raha, kuid ma ei teadnud, et see oli riisutud. Käisin kolhoosipõldudelt juurikaid toomas ja ma ei pidanud seda varguseks, sest et ma elasin täpselt nagu metsloom – jänes, kits või mõni teine, kes hangib endale ülalpidamist ja ise ei vastuta. Minu passi muutis ära Aunver, nägin seda ise pealt. Mina seda tööd ei tunne. Minu passi tegi ta ümber „Kaljumägi“ nimele. Vanglas olles sain teada, et mu vanemad on surnud. Ajakirjandust ma lugenud ei ole. Amnestiast ma ei ole teadlik olnud, isegi kui lugesin, siis ei mäleta. 	
<br>
Metsapunkrites elades käisin koos Ants Aunveriga poes sisseoste tegemas kohtades, kus meid nägupidi ei tuntud. Mina käisin Osulas või Sulbi külas. Püüdsin võimalikult vähe inimestega kokku puutuda, et keegi mind ära ei tunneks. Ühtegi tuttavat ma seal ei kohanud. Vahel käis poes sisseoste tegemas Ants Aunver. Kas ta kedagi tuttavat kohtas,  sellest ta ei rääkinud. Poes käisime enamasti jalgsi, vahel ka Ants Aunveri jalgrattaga. Ostsime hädavajalikku: süüa, riideid, jalatseid. Mitmel korral ostis Ants Aunver patareisid punkris olnud raadiole „Rodina“. Raadiost kuulas Ants Aunver põhiliselt muusikasaateid, et ei oleks nii igav. Vahel kuulasime ka piiritaguseid saateid, Ameerika Häält.
<br>
Ants Aunveriga koos punkris varjates kogusime talvetagavaraks kartuleid ja juurvilja kolhoosi põldudelt. Samuti püüdsime järvedel kala.
</div>	
</div>
<div class="p">
Kooraste ja Vaabina valla kolhooside tõendite kohaselt pole mingit juurvilja kadumist täheldatud. 	
</div>
<div class="p">
Relvadest oli Ants Aunveril püstol kaliibriga 7,65 ja püstolautomaat, mille ta ostis enda sõnul Pihkvas ühelt Saksa sõdurilt. Metsavend Lindsaar Juhani (Karli?MP) püstoli TT oli ta andnud  Pruus Avole. Enne Kosele elama asumist plaanis Aunver oma püstolautomaadi Uhtjärve visata, kuid peitis selle lõpuks Verevasaare talu teeäärsesse sauna, u 3 km Urvaste koolimajast Uhtjärve poole.	
</div>
<div class="p">
<div class="quote">
AA: Püstoli jätsin enesekaitseks alles selleks puhuks, kui mind püütakse kinni pidada või äärmisel juhul enesetapuks, kuna ei kavatsenud elavana julgeolekuorganite kätte sattuda.	
</div>	
</div>
<div class="p">
1953. a väga vesisel suvel kinnistus punkrielu lõpetamise otsus. Ants Aunver valmistas punkris valepassid (Julgeolek tunnistas käsitöö erakordselt oskuslikuks ja nõudis passide säilitamist õppeotstarbel). Ühe võimalusena oli arutluse all liikuda üle piiri Venemaale. Sellest loobuti, kuna nad ei osanud vene keelt. Aunver võttis ajalehekuulutuse peale ette sõidu Kose valda Aino Reinumägi lapsepõlvekaaslasest naabripoisi Ernst Kärblase juurde, et töö osas maad kuulata. Ernst Kärblane oli rindelt langenud Tudu kandis sõjavangi ja saadetud Novosibirski kaevandusse sunnitööle, kust oli 1946. a. põgenenud.  Põgenemise eest sai 7 lisa aastat sunnitöölaagrit, kust vabanedes töötas teemeistrina Kosel. Novembris 1953. a võttis ta Ants Aunveri kui Aino elukaaslase enda juurde tööle Reinhold Kariste nime all. Aino Reinumägi (Anna Kaljumägi nime all) järgnes Aunverile 1953. a lõpus.	
</div>
<div class="p">
<div class="quote">
RA: Teadsin, et kuskil Kose rajoonis elab minu ühekülamees Ernst Kärblane ja lootsin võimalusel kasutada legaliseerumiseks tema abi. Sügisel 1953 sõitis Aunver Ants jalgrattaga Kose rajooni (linnulennult u 180km!) ja asus seal tööle. 2-3 nädala pärast tuli ta mulle punkrisse järele. Lahkusin koos Ants Aunveriga Kose rajooni, kus hakkasin tema tehtud valepassiga Anna Kaljumägi nime all illegaalselt elama.	
</div>	
</div>
<div class="p">
Pärast Ants Aunveri 8 ja Aino Reinumäe 4 aastat kestnud elu maa-alustes punkrites oli neil taas inimlik elukoht majas ja töö teiste inimeste hulgas. Kuid tagaaetavad olid nad endiselt.	
</div>
<div class="p"></div>
<div class="p">
Johannes Heeska suundus Sangaste haarangu tulemusel esialgu Osulasse Valter Jeegeri punkrisse. Märtsiküüditamisel veeti Venemaale tema ema koos tütrega, abikaasa oli vangistatud varem. Kevadest 1949 liikus Johannes Heeska end varjama oma sõbra lese Salme Sari juurde Loosu-Navi k/n. Kevadel 1949. a ehitas ta sinna Mihkli talu lambalauta maa-aluse punkri. 	
</div>
<div class="p">
<div class="quote">
HJ: Minu varjamise ajal kutsuti Salme Sari korduvalt minu asjus ülekuulamistele ja ühel korral korraldati talule haarang, kuid asusin punkris ja mind ei avastatud. Kui Salme Sari sai kutse ilmuda julgeolekusse, rääkisin temaga enne igat korda ja õpetasin, kuidas vastata uurija küsimustele. Keelasin tal kategooritliselt rääkida sellest, et varjan end tema talus. Hoiatasin, et kui ta ütleb, kus ma asun, siis minu saatus saab olema väga halb ja tema saatus saab olema samasugune. Ta ei rääkinud minust ülekuulamistel kunagi midagi.  	
</div>	
</div>
<div class="p">
Pärast seda, kui 1949. a aprillis oli Johannes Heeska viinud Eduard Brikkeri juurest endaga kaasa hingeliselt raskes seisus ja enesetapumõtetega Ants Aunveri, külastasid metsavennad Johannes Heeska, Ants Aunver ja Valter Jeeger Brikkerit  1949. a suvel paaril korral pisteliselt. Peremehe toidupakkumisele vastas Aunver tänades, et süüa on tal piisavalt. 	
</div>
<div class="p">
<div class="quote">
BE: 1949 juulis kutsuti mind vilega metsa, nägin seal Aunverit, Heeska Robertit ja Jeeger Valterit. Nad küsisid, kas läheduses on sõjaväelasi, vastasin, et ei. Siis küsisid, kas kõik on vaikne, vastasin jah. Rohkem nad ei küsinud ja lahkusid, kuhu, ei tea. Suvel 1949 tulid minu juurde Aunver ja Jeeger koos Märdimäe Reinu ja tema naise Maiega, nad tõid viina ja olid minu juures 2 tundi.	
</div>	
</div>
<div class="p">
Paraku hoidis Julgeolek nuhkideks värvatute abil suvi läbi metsavendadel silma peal, varitsedes sobivat momenti nende korraga hävitamiseks. Sellest hoolimata kukkus 3 ööd-päeva kestnud sõjaline operatsioon koos otsustava rünnakuga 19.augustil 1949 Brikkeri talule läbi. Ümber piiratud talus kindlaks tehtud metsavennad olid justkui õhku haihtunud.	
</div>
<div class="p">
End Ants Aunverist eraldi varjav Johannes Heeska kaalus 1949. a septembris ühinemist Kooraste metsavendadega. Üksteise punkrite asukohti ei teatud, kohtuti väljaspool punkreid. Septembris 1949. a oli Johannes Heeska, Aunver Ants jt metsavennad Ants Talfeldi ja selle õe Linda Altpõderi (õige – Allpõder MP) pool Sõmerpalu vallas. Johannes Heeska pidas sidet Aplein Eduardi ja viimase naise Nataliaga, kes oli talle sugulane. Vennad Heeskad olid end seal ka varem ajutiselt varjanud. Veidi hiljem olid nii Talfeld kui Aplein Julgeoleku poolt salaja kinni võetud ja töödeldavad.	
</div>
<div class="p">
Mitmel korral kohtusid metsavennad Tartus. 20. okt 1949. a põrkas üks tuttav linnas juhuslikult kokku Valter Jeegeri, Ants Aunveri ja Feliks Hõbega, kellele mehed lubasid olla tagasi kodumail  7. või 8. novembril ja võimaluse korral võtta oktoobripidustuste ajal kolhoosist mõni veis lihaks.	
</div>
<div class="p">
1950. a juulis kohtas Eduard Brikker taas Ants Aunverit oma talu juures metsatukas. Aunver andis teada, et kõik sõbrad on elus ja nõukogude võimuesindajad pole neist ühtegi kätte saanud. Kuu aega hiljem kutsus Aunver uuesti Brikkerit metsa. Sel korral oli ta üksi ja ütles, et astus lihtsalt möödaminnes läbi. Brikker teatas sõbrale, et Julgeolek tegi tema talus läbiotsimise ja viis ta Võrru ülekuulamisele.  Selle peale lubas Ants Aunver  tema juurde rohkem mitte tulla ja avaldas lootust kommunistide peatse väljaajamise kohta Eestist. Sama aasta sügisel külastas Brikkeri talu ka Robert Heeska oma naisega. Oktoobris 1950. a. vangistas Julgeolek Eduard Brikkeri.	
</div>
<div class="p">
Kuni suveni 1951 hoidis Johannes Heeska kõigi kaaslastega püsivat sidet. Venna Robert Heeska ja Ants Aunveriga pidas ta sidet Valter Jeegeri kaudu. Ta kohtus ka Valteri venna Edgar Jeegeriga augustis 1949 või 1950. 	
</div>
<div class="p">
Põhiline varjamispaik  1948.a lõpust alates oli Johannes Heeskal Sari Salme juures, kus ta varjas end kuni kinnivõtmiseni 1953. a märtsis. Seda varjamiskohta ei teadnud ei tema vend Robert Heeska ega Ants Aunver, kõik nad kohtusid väljaspool üksteise varjamiskohti.	
</div>
<div class="p">
<div class="quote">
SS: Tahtsin Johannes Heeskat aidata kui oma mehe sõpra.	
</div>	
</div>
<div class="p">
Johannes Heeska võeti kinni 26. märtsil 1953. a. Salme Sari talus. Temalt saadi: 2 püstolit: Parabellum kal 9mm ja 29 selle padrunit ning „Brauning“ kal 7,65 ja 3 selle padrunit; 10 üherublalist tsaari hõberaha ja 3 hõbe 50-kopikalist, nõukogude raha 175 rbl ning isetehtud metsavendade embleem pealuu, kolme lõvi ja kuuse kujutisega. 	
</div>
<div class="p">
<div class="quote">
HJ: Märki, mis mult ära võeti, (kodanliku eesti vapp ja pealuu selle peal ), säilitasin kui mälestuseset Ants Aunverilt, kes kinkis selle märgi mulle.  Ants Aunver pidas seda märki "Eesti partisanide märgiks“, nagu ta väljendas, ja ütles, et teeb sellise märgi kõigile metsavavendadele ja peame seda märki kandma.	
</div>	
</div>
<div class="p">
Juulis 1953 mõisteti kinnisel sõjatribunali istungil Tartus (justiitsmajor Moskvenkov, kaasistujad major Kožakin, miilitsa nltn Pihla) talle talle 25a sunnitöölaagreid. Kandis karistust Karaganda obl. Kamõšlagis; Irkutski obl. Ozjorlagis; Mordva ANSV Dubravlagis, vabanes 10.12.71.	
</div>
<div class="p">
Vanglajuhtkond on kirjeldanud teda suhtlemisel viisaka, samas iseloomult kergesti ägestuvana. 1958 on ta tööst keeldumise eest pandud kartsa ja 1968. a algatanud mitmeid kaklusi kinnipeetavate ja vabade töötajate vahel. Ägedaloomulisena istus ta juba 1936. a 2 kuud kartsas kehavigastuste tekitamise eest.	
</div>
<div class="p">
Johannes Heeska vabanes II grupi invaliidina 10.12.71, suri 7.06.91.	
</div>
<div class="p"></div>
<div class="p">
Robert Heeska oli juba enne suurhaarangut lahkunud Laukülast ja varjas end Lanna metsas punkris. Ülekuulamistele viidud omaste jõhkra piinamise ja vangistmise eest varjus 3.01.49 metsapunkrisse ka tema naine.  Naise ema koos nende tollal 10 aastase tütrega küüditati 25. märtsil Siberisse. Helmi (Julie) Heeska talu kuulutas Võru TK kulaklikuks oktoobris 1949. a. Naine lapsega oli oma kodust sunnitud lahkuma juba 1945. a, kui jõhkrutsedes tungis sinna elama hilisem TK esimees Aleksander Ragul, kes saatis naise lapsega elama sealauta.	
</div>
<div class="p">
<div class="quote">
HR: Luksepp Jaani talus varjasime end kuni haaranguni, kus meil õnnestus varjuda. Mind seal ei olnud, olin juba mõnda aega varem sealt lahkunud. Selle haarangu järel läksime lahku ja ei kohtunud tükk aega. Uuesti saime kokku Linnamäe vallas Brikker Eduardi juures. Läksin sinna koos naisega sellest punkrist, kus mind kinni võeti (Lanna metsa punker). Brikkeri juurde jõudes ootas mind ees Ants Aunver. Kelle juures Ants Aunver end varjas, seda ta ei öelnud, ta pidas end alati ülal kinniselt,  ei rääkinud kunagi, kellega ja missuguses sidemetes oli.	
</div>	
</div>
<div class="p"></div>
<div class="p">
Valter Jeeger, s 1921, hdn „Bevin“. Tema isataluks oli Kodassaare talu Sõmerpalu vallas, elukoht Vaabina vallas Lümatü mõisa lähedal. Kirjelduse järgi keskmist kasvu, tugeva kehaehitusega, blond, ovaalse näoga, sirge ninaga. Riietus: kõrged kroomnahast saapad, hall pintsak ja püksid, hall palitu, vasakus käes peenike kuldsõrmus. Valter Jeegeri isa küüditasid kommunistid 1949. a märtsis Venemaale. Ema, kes küüditamise ajal kodus ei viibinud, varjas end hiljem võimude eest Vaabinas erinevates taludes. 	
<br>
Valter Jeeger oli Saksa ajal olnud Kollino mõisa haldaja (upravljajuštšii). 1944. a mobiliseeriti ta Saksa armeesse. Metsavennaks läks ta pärast Saksa sõjaväest koju naasmist, kui võimuesindajad olid käinud teda kodus taga otsimas, et arreteerida. Hävituspataljonlane Daniel Kängsepp näitas omavoli, pidades kinni ja pinnides Valter Jeegeri naistuttavaid, nuhkides neilt taga tema varjamiskohti. Metsavennad, kellele sellest kohe ette kanti, hoidsid omakorda meest kirbul, nii et see pideva hirmu all ei julgenud kodus eladagi. 
</div>
<div class="p"></div>
<div class="p">
Valteri vend Edgar Jeeger (s 1922) asus varjama märtsiküüditamise tõttu ja sügisel 1949. a varjas ta end Sõmerpalu mõisa lähedases metsapunkris. Enne küüditamist elas ja töötas Edgar Jeeger legaalseid dokumente omades Harjumaal Saida sovhoosis. (HJ andmetel hakkas varjama 1950.a)	
</div>
<div class="p">
Nii Valter kui Edgar Jeeger on koolipoistena olnud usinad Urvaste kohapärimuse huvilised: 
<br>	
Lümandus Talliku asutalu põllul on suur kuhilataoline põllukivi, nn katoliku usu kivi. Vanasti käinud rahvas seal ohverdamas ja palvetamas. (V. Jeeger. Lnm (31.)) http://www.folklore.ee/pubte/ajaloolist/urvaste/urvaste.html
<br>
Linnamäe mõisa ja Maydellite kalmistu vahel on väike ümarik kinguke, mille ümber kasvavad vanad puud. Praegugi on veel näha seal alusmüüri jäänuseid: kive, lupja ja kelder. Mõisa endise omaniku õe seletuse järele olnud seal vanasti väike piiskopi- (või krahvi-) (M. Kängsep. Lnm (64.)) loss (või linn) (V. Jeeger. Lnm (31.)), mille müür ulatanud pargini. (M. Maydell. Lnm (78.)) Viimase asemel on praegu põld. Loss hävinud Põhjasõjaga. (S. Hurt. Vbn (30.)) Rääkija on ise varaotsimise eesmärgiga sõja ajal varel kaevanud. Kahekordse liivaga täidetud müüri (nähtavasti valli osa) vahelt leidnud inimese lõualuu. Muidu tulnud palju süsi välja. (V. Jeeger. Lnm (78.)) http://www.folklore.ee/pubte/ajaloolist/urvaste/urvaste.html
</div>
<div class="p">
Valter Jeegeril oli metsamehena palju toetuspunkte Sõmerpalu ja Urvaste ümbruses. Üks punkritest asus kodutalu mail, kodust u 1 km kaugusel. Sügisel 1948 oli tal punker Tammesilla metsas, kus ta varjas end koos Lepistu vallast pärit Daniel Petersoniga. 1949. a varjas ta end Kodassaares, majaelaniku Leida Saariku teadmisel ehitatud punkris. Algul varjas ta end seal üksi, hiljem koos kahe kaaslasega. Osulas Hilda Laugassoni (1900) ja selle tütre, Sõmerpalu kooliõpetaja Rolaine Laugassoni (1926) talus sauna all oli tal punker, sissepääsuga sauna eesruumist. Sissepääs oli mullaga hoolikalt varjatud. Selle 3-inimese punkri ehitas Valter Jeeger endale 3-4 ööpäeva jooksul septembris 1950. a. Valter Jeeger elas selles talus ajutiselt paari nädala kaupa, lahkus enamasti  Mällipalu punkrisse. Edgar Jeeger pidas 1950. a sügisel sidet ka Laugassonide naabri Elfriede Värega. Aunveri ja Heeskadega pidas Valter Jeeger ühendust Eduard Brikkeri vahendusel. 	
</div>
<div class="p">
<div class="quote">
BS: Töötasin oma ema Brikker Anna ja õe Meetaga aias, kui nägime üht tundmatut minemas maja poole. Meie juurde jõudes tutvustas ta end kui „Bevin“ ja küsis, kas siin elab Eduard Brikker.  Me ütlesime et  jah, minge sisse, ta on kodus. „Bevin“ oli meil 2-3 tundi, siis väljus ja läks Kurenurme suunas. Järgmine kord tuli ta meile maikuus 1950. Me isaga töötasime põllul, ta tuli metsast, läks isa juurde ja hakkas temaga juttu ajama ja naerma. Pool tundi vestelnud, läks „Bevin“ koos isaga metsa, kust isa tuli tagasi alles hilja õhtul. Kus ta käis, ma ei tea. Mind hakkas see võõras huvitama ja ma otsustasin ema kaudu teada saada, kes ta selline on, kuid ema ütles: „Uuri ise isa käest“. Aga mina ei julgenud küsida ja siis ema küsis ise. Isa vastas vaid: „Pole sinu asi, kes ta on.“ Kuulujuttude järgi ja vestlusest kohalike tüdrukute ja õe Meetaga uurisime välja, et Sõmerpalu vallas otsitakse taga metsavend Jäägerit ja jõudsime järeldusele, et tundmatu mees „Bevin“ ongi tagaotsitav Jääger.	
</div>
<div class="p">
Novembri lõpus 1949. a astus Valter Jeeger päise päeva ajal läbi Vaabina koolimajast ja tahtis kohtuda oma koolivenna, õpetaja Otsaga. Kokku saades uuris rahanappuses Valter Jeeger palgarahade saabumist koolimajja. Kuna nii õpetaja Ots kui koolidirektor Lino olid värvatud julgeolekuagentideks (vastavalt agent „Peter“ ja  „Lunatik“), jõudis info sellest kohe Julgeolekusse. Juba järgmisel õhtul varitsesid Vaabina raudteepeatuse juures metsavennad, et saada rongile suunduvalt direktorilt enda kätte palgaraha. Mõnisada meetrit eemal koolimaja juures varitses samal ajal Julgeolek, et tabada kooli raha järele saabuvaid metsavendi.  Üksteist kohtamata mindi tulemusteta laiali. 	
</div>
<div class="p">
22. detsembri 1949 täiendasid Ants Aunver, Valter Jeeger ja Edgar Jeeger oma varusid Navi kaupluses. Ants Aunver külastas Sõmerpalu mõisa lähedases punkris asunud vendi Jeegereid, kes plaanisid hankida endale varustust Võru lähedasest Navi kauplusest. Aunver ise vajas saapaid või kummikuid ning nõustus kaasa minema. Võrus peeti sel päeval laata ja poes, mis asus 6 km Võrust, oli seetõttu olnud hea läbimüük. 	
</div>
<div class="p">
<div class="quote">
Kaupluse juhataja TP: Kell hakkas 6 saama ja ma pidin poe kinni panema, et rohkem ostjaid mitte sisse lasta. Kui avasin kaupluse sisemise ukse, et välisust kinni keerata, ilmus pimedusest äkki mees, sihtis mulle püstoliga rinda ja ütles: „Me tegutseme partisanidena, käed üles ja ärge vastu hakake“. Samal ajal asus lähedal veel 2 meest, ühel oli Saksa automaat ja teisel püstol. Esimesel oli Saksa püstol „Walter“. Nad lükkasid mu ukse pealt poodi sisse. Mina, mu naine, Kattai August, Haavistu Kalju ja temaga koos olnud mees ja naine pandi seina äärde, üks meestest küsis, kellel meist on relv ja otsis meid kõiki läbi. Mulle liginedes küsis ta, kas mina olen kaupluse juhataja ja kui vastasin jaatavalt, küsis ta minult kus on raha. Vastasin, et raha on kassas. Pärast seda küsis ta, kus on eilne kassa sissetulek, vastasin, et samuti kassas. Üks automaadiga mees jäi uksele valvele, kaks ülejäänut hakkasid kaupa pakkima. Alguses üks võttis riiulilt kohvri ja viskas sinna raha, teistesse riiulist võetud kohvritesse pakkisid nad kauba. Ei mäleta, mitu kotti neil endil kaasas oli, sinna laadisid nad samuti kaubad. Nad võtsid kangast, pesu, jalatseid, kalosse, kallemaid paberosse ja igasuguseid kallemaid kaupu. Samuti viisid nad kaasa kogu kaupluse viina ja likööri. Mingi aja pärast oli õuest kosta vankrirataste kolinat, uksel seisnud mees läks õue, tema asemele astus see, kes oli mu uksel kinni pidanud. Kolmas pakkis kogu aeg asju. Esimene mees püstoliga „Walter“ paistis olema vanem ja ütles, milliseid kaupu võtta ja milliseid mitte. Tema küsis minu käest, kas kaupluses patareisid ja taskulampe ka on. Ütlesin, et pole, läbi on müüdud. Ma ei tea, kuidas mul oli leti alla jäänud 6 patareid, mille ta üles leidis.  Ta rõõmustas väga ja ütles, et just neid tal vaja oligi, võttis kohe sealsamas oma taskulambist vanad patareid välja ja jättis leti peale, asendades need uutega. Röövi ajal palus invaliidi naine, et teda lastaks uksele oma hobust vaatama. Mehed vastasid, et hobuse juures on nad ise ja pärast sõidab ta niikuinii  nendega kaasa, tee on ühine. Lubas nad kuhugi sauna kinni panna,  et nad kohe pärast röövi kellelegi teatama ei saaks minna. 	
<br>
Lõpetanud pakkimise, läks automaadiga mees õue, jättes ukse praokile, ja esimene hakkas  talle ulatama kohvreid ja kotte kaupadega. Ulatanud kõik kaubad kohvrite ja kottidega õue, ütlesid mehed, et kellelgi meist ei ole kuni hommikuni õigust õuele minna ega kellelegi röövist rääkida. Neil olevat maja ümber valve välja pandud ja väljuja lastakse maha. Lahkudes küsisid nad minult, kus on luku võti, mis rippus välisukse ees, selgitades, et nad ei võta seda kaasa, vaid sulgevad meid sellega kauplusse kinni ning viskavad siis võtme ukse kõrvale maha. Andsin neile võtme, mehed läksid välja ja lukustasid meid kauplusse. Mõne aja pärast oli kuulda vankrirataste loginat, mis eemaldus Antsla suunas.
</div>	
</div>
<div class="p">
<div class="quote">
KA: Tulin Võrust laadalt, astusin mööda minnes sisse Navi kauplusse, mille valvurina ma tollal töötasin. Valvesse pidin tulema kell 19, tulin poodi 2 tundi varem. Poes olid juhataja (töötas ka müüjana) Torop Paul, tema naine ja mulle tundmatud mees ja naine. Umbes kell 17 läks Torop välja, et ust sulgeda. Kuulsin, kuidas keegi käsutas tal käed üles. Ukse poole pöördudes nägin tema lähedal relvastatud mehi. Sealsamas tõukasid nad juhataja sisse ja sisenesid ka ise. Neid oli 3: Üks pikka kasvu mustas jakis, teised kaks hallis. Pikk automaadiga asus valvama kaupluses olijaid, hallid püstoliga käes asusid poodi röövima. 

</div>
</div>









</div>



</div>

















Testing
		<br>
		Testing