<div class="content">
  <div class="p">
  </div>
  <div class="p">
  </div>
  <h1>Metsaelule järgnev aeg</h1>

  <div class="p">
    <b>Ants Aunver</b>
  </div>
  <a class="lg-single-image" href="/images/sangaste/fotod/a_reinumagi_valepass.jpg">
    <img class="image_left p200" src="/images/sangaste/fotod/a_reinumagi_valepass.jpg" />
  </a>
  <div class="p">
    1954. a võttis Ants Aunver koos Aino Reinumäega vastu Harjumaal. Ligi 10 a kestnud punkrielu Võrumaal oli jäetud
    seljataha. Nad elasid taas inimeste hulgas. Ants Aunver oli teinud ühest väidetavalt leitud passist endale valepassi
    ja sõitnud jalgrattaga Raasikule, kus ajalehekuulutuse kaudu otsiti teetöölisi. Seal võttis ta ühendust Aino
    Reinumäe lapsepõlvesõbra ja naabripoisi Ernst Kärblasega, kelle abil leidis töö Pirga saekaatris. Kirjutanud end
    Reinhold Kariste nime all valepassiga sisse, sõitis ta tagasi Kooraste punkrisse, et tuua kaasa ka Aino Reinumägi.
    Aino Reinumägi hakkas töötama metsas vaigukogujana ja kirjutas end muudetud passiga sisse Anna Kaljumäena. Nad olid
    endiselt riiklikult tagaotsitavad.
  </div>
  <div class="p">
    Teedevalitsuse ülema Rabinovitši iseloomustus Aunveri kohta:
    <div class="quote">
      Töötas Raasiku piirkonnas saeraami juhina 06.12.1953-19.12.1956 ja 30.01.1958-18.08.1958. a. Oma ülesandeid täitis
      sm. Kariste ausameelselt ja hästi. Võttis aktiivselt osa ratsionaliseerimisest, tehes ettepanekuid saeraami töö
      parendamiseks. Pidas kinni töödistsipliinist ja oli leppimatu töödistsipliini rikkujate suhtes. Oma ausa tööga
      võitis Kariste piirkonna kaastöötajate lugupidamise.
    </div>
  </div>
  <div class="p">
    Pärast Stalini surma 1953 hakkasid suuremad õudused aeglaselt taanduma. 1956. a pääsesid Siberist tagasi Aino
    Reinumäe küüditatud vanemad. 84 a vanune isa suri vabanemise aastal, 81 a ema lahkus elust kaks aastat pärast
    vabanemist, 19.10.1958, Aino vangistuse ajal. Tagasi Eestisse tulid Ants Aunveri õed ja Siberis endale elukaaslase
    leidnud abikaasa. Ants Aunveri ema suri küüditatuna Siberis. 1956. a läks Tartus Kroonulinna kooli 1. klassi Ants
    Aunveri poeg.
  </div>
  <div class="p">
    Valepass võimaldas Ants Aunveril ja Aino Reinumäel ringi liikuda: 1954. a käisid nad koos külas Antsla kandis Minna
    Jõõrasel, 1957. a käis Ants Aunver külas Pärnus õel Aliidel ja Võrumaal vendade Kärblaste õe juures. Elumuutused
    tõid tagasi kahtlusega varjutatud lootuse. Selle lootuse pani Ants Aunver paberile ja saatis kirjana, August
    Märdimäe nime all, Riga-Orjol postivaguni pitsatiga, Hruštsovile Moskvasse. Kiri säilitati kui nõukogude korra
    vastane ja kirja kirjutajat hakkas Julgeolek taga otsima.
  </div>

  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile1.jpg">
    <img class="image_left p200" src="/images/sangaste/dokumendid/kiri_hrustsovile1.jpg" />
  </a>
  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile2.jpg">
    <img class="image_left p200" src="/images/sangaste/dokumendid/kiri_hrustsovile2.jpg" />
  </a>
  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile3.jpg">
    <img class="image_left p200" src="/images/sangaste/dokumendid/kiri_hrustsovile3.jpg" />
  </a>
  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile6.jpg">
    <img class="image_right p200" src="/images/sangaste/dokumendid/kiri_hrustsovile6.jpg" />
  </a>

  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile5.jpg">
    <img class="image_right p200" src="/images/sangaste/dokumendid/kiri_hrustsovile5.jpg" />
  </a>
  <a class="lg-single-image" href="/images/sangaste/dokumendid/kiri_hrustsovile4.jpg">
    <img class="image_right p200" src="/images/sangaste/dokumendid/kiri_hrustsovile4.jpg" />
  </a>

  <div class="br"></div>
  <div class="p">

    Sel perioodil toimus Aunveril ka kummalisi kohtumisi.
  </div>
  <div class="p">
    <div class="quote">
      AA: Oma kodus Pirgas Anija vallas Kose rajoonis nägin 1955. või 1956. a tee ääres seisvat autot. Autost väljus
      naine, kes mind nähes ütles, et ta tunneb mind. Mina seda naist ei teadnud ja ütlesin talle, et mulle on ta
      tundmatu. Lühikese vestluse ajal nimetas naine end Anna Petrovaks. Ta rääkis, et oli Saksa okupatsiooni ajal
      kinnipeetav Võru vanglas, kus nägi mind töötajate hulgas. Enne lahkumist andis ta mulle oma aadressi ja palus end
      külastada, kui Tallinnasse satun. See kohtumine Petrovaga oli juhuslik, kuna ta juhtus siis autost väljuma.
    </div>
    <div class="quote">
      Aasta pärast esimest kohtumist, sõites taas mööda teed läbi Pirga küla, väljus ta jälle autost minu maja lähedal,
      kus ma sel hetkel riisusin heina. Petrova tuli minu juurde ja hakkas juttu ajama. Palusin tal korterisse sisse
      astuda, kus vestlesime u 15 min. Petrova rääkis, et kunagi peeti teda kinni Tallinna vanglas, kus kohtas Luksepp
      Helenat, kelle nõukogude võim oli arreteerinud sidemete pärast metsavendadega. Luksepp rääkis, et nõukogude
      võimuorganid otsivat mind taga.
    </div>
    <div class="quote">
      Petrova soovitas mul elama minna kuhugi suurtest teedest kaugemale, kus mind ära ei tuntaks. Petrova jutust sai
      mulle selgeks, et ta teab minu tegelikku nime. Ma ei varjanud ta eest, et elan Kariste nime all. Enne lahkumist
      palus Petrova tungivalt end Tallinnas külastada. Ma lubasin. Võtsin tema aadressi ja telefoni numbri, mille
      kirjutasin paberilehele, mis minult arreteerimisel ära võeti. Mõne aja möödudes sain Petrovalt kirja, kus ta
      päris, miks ma teda külastanud ei ole. Ta palus kirjutada endale kiri nõudmiseni peapostkontorisse Tallinnas.
      Saatsin Petrovale kirja, milles kirjutasin, et ei saa tema juurde Tallinna sõita. Rohkem mul Petrovaga sidet ei
      ole olnud. Ma ei tea täpselt, mis eesmärgiga ta mind enda korterisse kutsus. Tema jutust jäi mulje, et ta kutsus
      mind enda poole selleks, et luua intiimsuhted.
    </div>
  </div>
  <div class="p">
    Leidub üks Anna Petrova nimeline julgeolekuagent.
  </div>
  <a
    class="lg-single-image"
    href="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg"
    title="Ants Aunver arreteerituna"
  >
    <img
      class="image_right p200"
      src="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg"
      alt="Ants Aunver arreteerituna"
    />
  </a>
  <div class="p">
    18.08.1958 sisenesid saekaatrisse tavalise saetöö tellijateks maskeerunud 4 julgeolekutöötajat. Kui Ants Aunver oli
    asunud tellimust täitma, ründasid nad teda ja võtsid ta kinni. Samal päeval viidi elukohast vanglasse ka Aino
    Reinumägi.
  </div>

  <div class="p">
    KGB uurimisosakonna ülem Ljaptšihhin andis teada, et „suur terrorist Aunver“ oli kinnivõtmisel teatanud, et
    võimaluse korral oleks ta end kaitsnud, avades KGB töötatajate pihta tule. Eraldi asuvas saeraami ruumis ratta
    pakiraamil presentkotis oli tema poolautomaatne püstol Bajard. Ants Aunveri elukohast võeti tema vara: 1 meeste
    jalgratas, 1 raadiovastuvõtja „Rodina“ ja 1 vana binokkel.
  </div>
  <a class="lg-single-image" href="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg">
    <img class="image_left p200" src="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg" />
  </a>
  <div class="p">
    <div class="quote">
      RA: Aunver Ants ütles mulle korduvalt, et hoiab püstolit enda juures selleks, et meie kinnivõtmiskatsel laseb maha
      algul minu, siis teeb enesetapu. Sellele Aunveri plaanile oli minu täielik nõusolek.
    </div>
  </div>
  <div class="p">
    19.08.1958 toodi Ants Aunver Tallinna Patarei vanglasse (vangla nr.1) ja paigutati III korpusesse kambrisse nr 4.
    Kambrikaaslased olid koolipoisina vangistatud Mart Niklus ja Taido Türk. Järgmisel päeval lasi KGB 4. osakonna ülem
    Burdin kanda Aunver ja Reinumägi „poliitbandiitide“ nimekirja.
  </div>
  <div class="p">
    Ants Aunver, kellelt nõukogude võim oli võtnud kõik, keskendus siitpeale enesetapule.
  </div>
  <div class="p">
    KGB uurimisosakonna ülem Ljaptšihhin osutas võimalusele, et Aunver võib üritada enesetapukatset ja kohaldas
    tugevdatud valvet nii Aunverile kui Reinumäele.
  </div>
  <div class="p">
    Esimese enesetapukatse tegi Ants Aunver 11.09.1958 kl 10.40 veoauto kastis üleuulamisele toimetamisel. Sissepääsust
    auto tagaosas viis autokasti etteotsa koridor. Kahel pool paiknesid kongid vangide ühekaupa vedamiseks. Sissepääsust
    esimesesse kongi vasakul paigutati Aunver. Istudes kitsas kongis, toetas ta 8cm pikkuse ja 3mm jämeduse naela vastu
    seina ja püüdis taguda naela endale meelekohta. Kohale jõudes leidis vangivalvur eest verise Aunveri. Teadvus oli
    hämardunud, pulss aeglustunud. KBG polikliiniku arst süstis naha alla kamprit ja kofeiini, pulss taastus ja pupillid
    reageerisid valgusele. Vangla III korpuses tuli Aunver teadvusele närvivapustuse seisundis. Küsimustele ei vastanud.
    Taas teadvuse kaotanuna viidi ta Patarei vangla haiglasse.
  </div>
  <div class="p">
    Ülekuulamised katkestati kohtupsühhiaatrilise ekspertiisi tegemiseks. Tallinna vabariikliku haigla psühhiaatrid V.
    Grünthal ja B. Rosenfeldt tegid katsealusele läbivaatuse.
    <div class="quote">
      Ta vastas arstide küsimustele pausidega ja vastutahtmist, kuid andis siiski enesekohaseid tunnistusi. Rääkis, et
      sündis talupojaperekonnas, vanemad on surnud, 3 õde on elus ja terved. Lõpetas 6 kl algkooli ja
      põllumajanduskooli, töötas oma talus. 1942. a abiellus, suhted naisega on head, lapsi ei olevat. Üheski armees
      teeninud ei ole. Alkoholi ei tarbi. Ka järgmisel, 24.09.58 läbivaatusel oli vaatlusalune selge mõistusega,
      sonimist ja hallutsinatsioone ei esinenud, käitus rahulikult, jälgis aktiivselt ümbrust. Küsimustele vastas
      pikaldaselt, vaikse häälega. Vastused on kindlad. Enamikele küsimustele vastas: „Ei tea, ei mäleta“. Enesetunde
      osas tunnistas tugevaid peavalusid. Psühhiaatriaekspertide Karu, Grünthali ja Andersoni otsus: Võib praeguses
      psüühilises seisundis astuda kohtu ette ja kanda kohtulikku vastutust.
    </div>
  </div>
  <div class="p">
    22. 09.1958 öisel ajal märkas kongi nr 13 vangivalvur taas Aunveri tegutsemist ja võttis temalt ära 10 cm pikkuse
    naela.
  </div>
  <div class="p">
    21.12.1958 viidi Aunver tapiga Võru vanglasse, avalikule kohtufarsile, mis peeti 25.12.58. Kohtus pidas Ants Aunver
    end üleval rahulikult.
  </div>
  <div class="p">
    26.12.1958 mõisteti Antsla linnas avalikul kohtuistungil Ants Aunver surma mahalaskmise läbi.
  </div>
  <div class="p">
    Võrus kinnitas haigla arst surmamõistetu tervisliku seisundi heaks ja tema maine vara kirjutatati üles: 2
    presentkotti, vana keep, käisteta ülikonnavest, must pintsak, hallid püksid, sandaalipaar, müts.
  </div>
  <div class="p">
    02.01.59 toimetati Aunver tapiga Võrust tagasi Tallinna Patarei vanglasse.
  </div>
  <div class="p">
    Järgmise päeva õhtul 03.01.59 kl 19.30 leidis vangivalvur Ants Aunveri poonuna. Vaatamata tugevdatud valvele oli tal
    korda läinud oma elu ise lõpetada, jäämata ootama surmanuhtluse täideviimist.
  </div>

  <div class="p"></div>
  <div class="p">
    <b>Aino Reinumägi</b>
  </div>
  <div class="p">
    Aino Reinumägi (sünd 13.01.1921) tegi samuti vanglas mitu enesetapukatset.
  </div>
  <div class="p">
    Esimese katse järel:
    <div class="quote">
      Pärast arreteerimist olen korduvalt mõelnud enesetapule. Selle aja jooksul, mis ma varjasin Ants Aunveriga ja
      elasin temaga Kose rajoonis, on ta saanud mulle sedavõrd lähedaseks inimeseks, et ma ei kujuta oma elu ilma temata
      ette. Kose rajoonis elades ütlesin Ants Aunverile mitu korda, et kui Julgeolek peaks tulema teda arreteerima, siis
      lasku mind maha. Arreteerimise järel üksikkambrisse suletuna mu masendus süvenes. Mõtlesin selle peale, et kohus
      võib teda rangelt karistada, määrata talle 25 aastat vangistust. Mõtlesin sellele, et ka mind mõistetakse süüdi ja
      ma pean viibima vangistuses, kus ma Ants Aunverit enam ei näe. Nende mõtete mõjul, oma elu raskeimas seisus
      otsustasin, et ainus väljapääs on surm. Seetõttu proovisin end üles puua. Vangla tingimused ega kohtlemine
      uurimisprotsessis ei ole minu enesetapukatse põhjus. Pärast arreteerimist üksi kambris olles proovisingi end
      tappa. Püüdsin end lämmatada rätikust tehtud silmusega ümber kaela, kuid sellisel moel polnud see võimalik.
    </div>
  </div>
  <div class="p">
    Järgmise enesetapukatse sooritas Aino Reinumägi 7.10.1958 kl 10.45. Ta pani kaela sukkadest silmuse ja kinnitas
    naela külge, millel rippusid vanglakorra eeskirjad. Kambripõrandale laskudes püüdis ta lõpetada oma elu. Valvurid
    sattusid peale ja sekkusid. Talle osutati meditsiinilist abi.
  </div>
  <div class="p">
    Ka Aino Reinumägi saadeti kohtupsühhiaatrilisse ekspertiisi. Tallinna Vabariikliku psühhoneuroloogiahaigla peaarst
    Grünthal V. J. jälgis KGB uurimisosakonna nõudel tema psüühilist seisundit.
    <div class="quote">
      Uuritav annab üksikasjalikke tunnistusi, mis kattuvad juba teadaolevaga. Sündis jõukas talupojaperes, lõpetas 6
      klassi ja Antsla kodumajanduskooli, töötas oma vanemate talus. Iseloomult oli suhtlusaldis, rõõmsameelne, veidi
      ebastabiilne. Kaebusi uurijate ja vanglatöötajate halva kohtlemise kohta ei ole. Ta ei mäleta, kuidas end üles
      poos, eelnevat enesetapukavatsust ei olnud, oletab, et tegi enesetapukatse järsu masendushoo seisundis. Keskmisest
      väiksemat kasvu, sirge kehahoiakuga. Kaelal pruunikas-punane rant. Käitumine kohane. Meeleolu rahulik. Veidi
      erutatud olekus. Meelelisus elav. Mõtted loogilised, tavalise kiirusega. Kriitiliselt, kuid veidi kergekäeliselt
      suhtub enda enesetapukatsesse. Praegune psüühiline seisund võimaldab kohtu alla saatmist ja kohtuliku vastutuse
      kandmist.
    </div>
    Antsla linnas korraldatud avalikul istungil esitati Aino Reinumäele süüdistus metsavendade abistamises ja
    ühiskondliku vara riisumises. Märtsiküüditamist nimetatakse kohtumaterjalides „kuritegelike elementide
    väljasaatmiseks“. Tema talu külastanud metsavendade kohta märgib Aino Reinumägi, et nad olid alati lõbusad ja kunagi
    millegi üle ei kaevanud. Tunnistab, et kolhoosipõldudelt võttis korraga kartuleid ja kaalikaid 1 söögikorraks, 1950
    kuni 1953 detsembrini, kokku 1 rbl eest. Prokurör nõudis talle 10 a vabadusekaotust. Kohus määras 8 a vangistust
    koos kogu vara konfiskeerimisega. Otsus oli lõplik ja edasikaebamisele ei kuulunud. Aino Reinumägi keeldus vene
    keelset kohtuotsust vastu võtmast. Ülemkohtu eesistuja Afanasjev oli sunnitud saatma otsuse tõlkimiseks eesti
    keelde.
  </div>
  <div class="p">
    Aino Reinumäe järgnevad aastad möödusid vangilaagrites Siblag-is, Taišetis Ozjorlag-is ja Dubravlag-is, kust ta
    vabanes 1966. a.
  </div>
  <div class="p"></div>
  <div class="p">
    <b>Robert Heeska</b>
  </div>
  <div class="p">
    Robert Heeska lahkus 1948. a Sangastest Jaan Luksepa talust. Ta ehitas punkri oma kodu lähedusse Lanna metsa. Tema
    naine Helmi (Julia) Heeska varjus samuti tema juurde punkrisse. Sel perioodil hakkas mehel ilmnema piinav valu
    jalgades. Nelja aastaga arenes haigus tõsiseks. Tegemist oli raske, mittepäriliku ja ravimatu, invaliidistava
    närvihaigusega. Käimine muutus raskeks, põhiliselt ta lamas. Vaevasid pea- ja rinnavalud, külmetamine suurendas valu
    ja nõrkust jalgades, silmanägemine halvenes ja esines tasakaalukaotust. Metsahämaruses ei suutnud ta enam
    orienteeruda, nägemine udustus. Kui väsis, ei suutnud rääkida. Naine ravis teda soojakottide ja kampriga. Raske
    elu-olu (kevadeti ja sügiseti vesi punkris) ja halveneva tervise tõttu mõtles 43 aastane mees eluga lõpparve
    tegemisele.
  </div>
  <div class="quote">
    HH: Mees ütles mulle viimase aasta jooksul korduvalt, aga ka varem, et mingu vähemalt mina (punkrist) välja. Et kui
    ma jään, võib hukkuda kaks elu. Ta lisas, et pärast minu lahkumist lõpetab ta ise elu enesetapuga.
  </div>
  <div class="p">
    Punkris kavandasid abikaasad sugulaste abil oma 10 aastaselt Irkutski oblastisse küüditatud tütre tagasitoomist
    Eestisse. Julgeolek mõjutas sellega tegelenud sugulase agendiks, et kasutada tütart peibutisena vanematele jälile
    jõudmiseks. 1956. a juulis kohtus Eestisse saabunud tütar julgeolekuagendi teadmata punkris oma vanematega. Helmi ja
    Robert Heeska arreteeriti punkris 24.11.1956. Robert Heeskalt võeti püstol „Parabellum“ kal 9mm ja välismaist marki
    püstol kal 7,65mm koos padrunitega, katkise kabaga kaheraudne jahirelv ja binokli monokkel.
  </div>
  <div class="p">
    15.05.1957 toimus kohus. Kohtumeditsiini eksperdi iseloomustus: Ta on alati olnud lõbus, seltsiv, viina joonud
    korralikult („porjadotšno“). Rahulik, ümbritseva olukorra tunnetus on asjakohane: tema osavõtul sooritatud
    õnnestunud röövide puhul naeratab kergelt, omal ajal ümberasustatud perekonnaliikmete kannatustest rääkimine tekitab
    tundepurske, ta nutab ja virutab rusikaga vastu barjääri.
  </div>
  <div class="p">
    Robert Heeska tervisele andis kohtus hinnangu ENSV Teaduste Akadeemia eksperimentaal- ja kliinilise meditsiini
    instituudi osakonna asejuhataja, parteitu meditsiiniteaduste kandidaat Chevalier Anatoli Viktorovitš:
    <div class="quote">
      Heeska Roberti tervislik seisund vastab 2 grupi invaliidile ja see invaliidsus on kestev. Haigusel on aeglaselt
      progresseeruv iseloom. Tervislik olukord võib ajutiselt mõneks kuuks paraneda, kuid halveneb taas. Teise grupi
      invaliidsus jääb talle püsivaks.
    </div>
  </div>
  <div class="p">
    Robert Heeskale mõisteti 15 aastat vangilaagreid ja 5 aastat asumist. Ta suri vangistuses 16.07.1965.
  </div>
</div>