<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Elukäigud 1945-1946</h1>

	<div class="p">
	<b>Ants Aunver</b> asus end 1944. a varjama algul Johannes Heeska talus, mõne aja pärast Heeska naiseisa August Kivi juures Kõuhkna talus, kus küünis heinte all asus laudadest peidik. Seda peidikut oli Johannes Heeska kasutanud Saksa mobilisatsiooni eest varjumisel.  Peidikus magati öösiti, päevad veedeti talus. Pea igas talus leidus mõni selline peidukoht. Kui Kõuhkna talu ümbruses haarangud sagenesid, asusid Ants Aunver, Johannes Heeska, Aksel Pallav ja Olev Kängsepp ümber Võhandu jõekäärdu, kus kaldakoopas asuvasse punkrisse pääses vaid paadiga. Paat vinnati koopasse sisse. Jõekäär oli talvelgi jäävaba. Varjupaigas oli ruumi 12 inimesele. Kevadepoole sagenesid haarangud, ja kuna punker ei pakkunud piisavat kaitset, mindi 1945. a kevadel laiali.	
	</div>	
	<div class="p">
	Vene võimu naasmisel jagati Aunveri talu taas uusmaasaajate vahel. Tallu seadsid end kontvõõrana sisse perekond Muruoja ja üks naiskommunist. Muruojad esitasid TK-sse kaebusi Ants Aunveri ema peale, olles häiritud vanaperenaise elama jäämisest oma koju. Haarangu ettekäändel korraldasid nõukogude võimuesindajad rüüsteretki taludesse.	
	</div>	
	<div class="p">
DA, Linnamäe TK esimehe Tiituse elukaaslane:
	<br>
	
	<div class="quote">
	 Rahva hulgas liikus jutt, et Tiitus olevat ära võtnud kellegi Aunveri talust kaks siga, samuti oli ta Heeska talust viinud minema omandit, mistõttu ta lõpetas surmaga.	
	</div>
	</div>
<div class="quote">
	JH: Ants Aunver ütles, et Tiitus pidi jõhkralt suhtuma mõnedesse valla kodanikesse ja kiusas tema vanemaid taga. Aunveri õde rääkis talle, et Tiitus tuli nende majja, tegi läbiotsimise ja viis minema palju vara.
</div>

<div class="p">
	Ants Aunver, nagu ka teised metsa läinud mehed, pidasid olukorda ajutiseks ja viisid väärtuslikuma majakraami kaugemate sugulaste juurde hoiule. Et vältida omaste süüdistamist sidemetes metsavendadega, vormistasid metsavennad vahel oma vara minema viimise nö „röövina“, nagu tundub alltoodud tunnistusest. 
</div>
<div class="p">
Aunveri koju asunud uusmaasaaja Muruoja tütar PV:	
<br>
<div class="quote">
Novembris 1945 tungisid bandiitide otsimise ettekäändel meile korterisse kolm relvastatud bandiiti suvises sõdurivormis, kuid ilma paguniteta, ja võtsid 150 kg püülijahu, 12 puuda liha, 800 rbl raha, hõbesõrmuse, teki, kleidiriide jt asju. Kõik bandiidid rääkisid röövi ajal üksnes vene keelt, kuid mitte puhtalt vaid eesti aktsendiga. Mina neist ühtegi ei tea.	
</div>
</div>
<div class="quote">
	Detsembris 1946 kolm automaatidega relvastatud bandiiti, esitledes end Antsla ja Linnamäe valla miilitsatöötajatena, tungisid meie korterisse ja võtsid ära majapidamisasju, samuti toiduaineid. Samuti nagu esimesel röövimisel tegid kaks neist läbiotsimist, aga teised samal ajal röövisid, kolmas seisis uksel valves. Bandiidid olid maskides, nii et nende isikuid ma ei näinud. Kuid leidsin sarnasust ühe  pikka kasvu röövija osas, kes võttis osa nii esimesest röövist kui minu vanemate tapmisest.  Eriti viimasel ajal olid suhted meie pere ja Aunver Lotta /Ants Aunveri ema/ vahel teravad, kuna ta avaldas rahulolematust, et tema talumajapidamine temalt ära võeti ja meile valitseda anti.
</div>
<div class="p">
TK esimees August Tiitus, kes elas TK lähedases Horma talus kellegi Raudvassariga, leidis oma jõhkruse ja röövimise tõttu oma lõpu 5.02.1945.	
</div>
<div class="quote">
AA: Talvel 1944-1945 kohtusin Kivi Augusti talus Luki (Viktor Lukk), Keemi (Harald Keem) ja Avo Pruusiga, kes olid tulnud saanidega. Nad tahtsid minuga läbi rääkida, kuidas suhtuda Linnamäe valla täitevkomitee esimehesse August Tiitusesse. Nad rääkisid, et Tiitus korraldab Linnamäel jahti varjajatele, ja talusid läbi otsides omastab sealt võõrast vara. Lukk, Keem ja Pruus teatasid, et kavatsevad Tiitusele tappa anda, et teda õpetada ja sundida lõpetama varjajate tagaajamist. Nad küsisid, kas ma kiidan nende otsuse heaks. Ütlesin, et pooldan seda.
<br>
<br>
Nõupidamise tulemusena otsustasime öösel sõita Horma külla Saare tallu, kus August Tiitus asus. Sama hobusega, millega Lukk, Keem, Pruus ja desertöör olid tulnud, suundusime järgmisel ööl Saare tallu. Sisenesime viiekesi majja, so mina, Lukk, Keem, Pruus ja desertöör (Voldemar Pähn). Meie saabumisel ta magas. Tema elukaaslane oli mulle tundmatu. Desertöör ütles Tiitusele vene keeles, et oleme NKVD-st  ja meil on kohustus teha üks läbiotsimine tema kui valla TK esimehe juuresolekul. Pärast selgitust ei paistnud meie ilmumine majja öisel ajal tekitavat Tiituses mingeid kahtlusi. Meie ettepanekul istus Tiitus saani ja sõitsime koos Lauri külla Johannes Heeska tallu. (vs PV tunnistus: Tiitus riietus, võttis püstoli ja karabiini ja tuli välja. Hobuse juures käsutasin tal käed üles, teised sidusid tal käed kinni ja panid saani istuma.) Johannes Heeska oli kodus ja tuli meile vastu. Tegin Tiitusele ettepaneku vestelda keldris, et teised ei kuuleks. Keldris Tiitus rääkis mulle ära, kes on tema abilised varjajate tagaotsimisel ja  keda tema kui TK esimees on lisanud Saksa käsilaste nimekirja. (AA teisal: Ta nimetas minule nõukogude aktivistide nimed ning mina märkisin need meeldejätmiseks paberile. Ülekuulamisel Tiitus ei teadnud, et ma olen metsavend – ma arvan nii. Andmed sain temalt kätte kavalusega.) Pärast vestlusel kuuldut otsustasin Tiituse tema aktiivsuse eest hukata ja ütlesin seda ka teistele metsavendadele. Nad olid otsusega nõus.
<br>
<br>
Teatasin Tiitusele, et tal tuleb sõita koos meiega NKVD ülema juurde, kes ootab teda naaberkülas ühes talus. Koos Tiitusega istusime saani mina, Pruus Avo, Lukk, Keem ja desertöör (Voldemar Pähn). Johannes Heeska  jäi maha oma tallu. Sõitsime saaniga Võru maanteele, sealt keerasime paremale, sõitsime üle Võhandu silla ja peatusime teel, mis viib läbi soise metsa Pissi küla suunas. Desertöör jäi hobuse juurde, mina, Lukk, Keem ja Avo Pruus juhatasime Tiituse üle soo metsa. Teest u 200 m kaugusel järgmise kraavi silla juures tulistasin  August Tiitust kuklasse. Kinnitasime ta sinelihõlmad tugevalt naeltega  kokku, lükkasime lati sineliserva alt sisse ja kandsime neljakesi laiba silla alla. Hobuse juurde naasnult sõitsid  Avo Pruus, Lukk, Keem ja desertöör edasi Antsla suunas, mina läksin Johannes Heeska tallu tagasi. Ütlesin talle, et hukkasime Tiituse silla juures teel Pissi külla. Mingeid üksikasju ma talle ei rääkinud ja ta ka ei küsinud. 
<br>
<br>
Üks meist võttis Tiituselt ära revolvri Nagaan, see jäi kas Luki või Pruusi kätte. Tiituse lasin maha 7,65 kaliibriga Belgia püstolist.
</div>
<div class="p">
Märtsi lõpus 1945 lahkus Ants Aunver Pärnumaale Vihtrasse (õemehe isa dokumentidega) ja hakkas seal tööle sovhoosi brigadirina. Sovhoosi direktoriks oli tema teise õe mees, Eesti Vabariigi rahvuskomiteega seotud August Püvi, kes elas seal nime all Reet. 1945. a suvel arreteeris Julgeolek August Püvi ja sovhoosi raamatupidaja. Aunveril õnnestus metsa joostes pääseda ja ta liikus Otepääle. 1945.a suvest kuni 1946. a suveni varjas ta end Otepää ümbruses.	
</div>
<div class="p">
	1946. a  sai ta püsiva peavarju oma onu Jaan Luksepa talus Laukülas Sangaste vallas. Kuni sügiseste külmadeni magas ta küünis, hiljem toas. Uue aasta algul ehitas ta endale puukuuri riida alla maa-aluse punkri. 1946. a sai ta taas kokku Johannes Heeskaga. Kohtumise korraldas  Linnamäe TK sekretär Julius Taplane. Johannes Heeska asus varjama Ants Aunveri juurde punkrisse.
</div>
<div class="p"></div>
<div class="p"></div>
<div class="p">
Johannes Heeska varjas end koos Ants Aunveri, Aksel Pallavi, Olev Kängsepa ja Tartu maakonnast pärit „Timoga“’. 1945. a ühines nendega Robert Heeska, kes deserteerus Punaarmeest. Heeskate kolmas, noorim vend oli Venemaale 10. a  vangistusse viidud, kuna oli tudengina Tartus  Stalini pildi ära visanud.	
</div>
<div class="p">
1945. a augustis varjas Johannes Heeska end Hammaste külas Tori talus koos Avo Pruusiga. Heeskal oli vintpüss, Pruusil automaat. 	
</div>
<div class="quote">
AA: Aksel Pallavi talus oli vesiveski. Selle veski pööningule ehitasid Aksel Pallav ja Johannes Heeska salajase varjamiskoha, laudadega eraldatud ruumi veski katuse ja lae vahel ühes kaugemas nurgas. Sinna pääsemiseks oli vaja eemale tõmmata kaks kokkulöödud lauda lae peal. Käisin seal korduvalt, kui 1944. a sügisel Johannes Heeska talus varjasin. Seal oli meil patareide peal raadiovastuvõtja. Kuulasime Aksel Pallavi ja Johannes Heeskaga palju kordi raadiosaateid. Enamasti välismaiseid - Saksamaalt, Rootsist ja Soomest.  	
</div>
<div class="p">
1946. a varjas Johannes Heeska mõnda aega end punkris Karl Kuusi isakodus Ala-Põdral koos August Kängsepaga. Rein Märdimäe naiselt sai ta seal maakaardi, millelt uuris teedevõrku Tartusse. 
</div>
<div class="quote">
BE: 1946. a lõpus kutsus Märdimäe Rein mind enda poole peoõhtule. Nägin seal ühes toas metsavendi, kes istusid kaetud laua ääres, millel oli igasugust sööki ja viina. Tundsin neist Johannes Heeskat, Heeska sugulast Kängseppa, keda kutsuti Otto ja kes elas Heeska talus, üks metsavend oli Tartust. 
</div>
<div class="p">
Ala-Põdral mõrvas metsavendade koju käimist varitsev Antsla miilitsavolinik Kolberg (Kohlberg) 6. juulil 1946 piinarikkalt endise konstaabli Harri Halleri. Tulistanud Hallerile tema koduõuel valangu jalgadesse, lasi ta abi hüüdval mehel pikalt ja piinarikkalt aeglaselt verest tühjaks joosta. Laip maeti tapmiskoha lähedale metsa. 	
</div>
<div class="p">
Antsla partorg Valusk kirjeldas nõukogude miilitsat:
<br>
<div class="quote">
Antsla miilitsa operatiivvolinik Kolberg on sageli joobnud, käib joobnud olekus Antsla linna toidubaaris toidulaudadel magamas ja võtab ka söökla kaasa koera. 27. mail 47. a oli jälle Kolberg joobnud olekus ning läks Antsla linna toidubaari, kutsus omale sülle ettekandjat, kuid viimane keeldus sellest, siis Kolberg võttis laualt teeklaasi ja viskas ettekandjale järele. Hiljem jäi magama toidulauale. Sm Kolbergile on mitmel korral tehtud puhtusekomisjoni poolt märkus, kuid viimane ei mõtlegi reageerida sellele. 1. mail enne rongikäiku minekut Kohlberg lõi Antsla Linna TK esimeest sm Tsainikovi, mida nägi hulk rahvast. Kuhi seda ise ei näinud, kuid temale rääkis esimesena lihapoe müüja Lebetev. Kolberg on sõitnud Antsla kooperatiivi autoga viina järele tegelikult, kuid küsib autot, õigemini käsutab autot haarangule. Nüüd on andnud korralduse, et ilma tema (Kolbergi) loata ei tohi auto välja sõita. Samuti miilits Ermel joob ja ei käitu nii nagu nõukogude miilits, võttes ise kaklustest osa, aga ei likviteeri neid	
</div>
</div>
<div class="p">
1946. a jooksul varjas Johannes Heeska end ligi pool aastat üksi, suvel 1946 ühines temaga legaalselt elanud Karl Pommer ja Alfred Hein. Koos Alfred Heinaga ehitasid nad punkri, kuhu ühinesid ka Robert Heeska ja Karl Kuus. 1946. a liikus Johannes Heeska sageli Uhtjärve piirkonnas, Kalju Visnapuu isatalu ümbruses. Urvaste valda Pätsimäele ehitasid metsavennad punkri, kus varjasid end Kalju Visnapuu, Johannes Heeska, Feliks Hõbe ja Robert Heeska.	
</div>
<div class="quote">
HR: Kõik me varjasime nõukogude võimu eest, sest ei tahtnud minna nõukogude armeesse. Ja meid jälitasid nõukogude võimuorganid. Meil oli vaja vahendeid ellujäämiseks ja me muretsesime need vahendid relvastatud rünnakutega. 	
</div>
<div class="p">
Ülekuulaja küsimusele: “Miks te nii palju röövisite? See ületas ju teie vajadused!”, vastas Robert Heeska: 	
<br>
<div class="quote">
Sagedastel haarangutel olime sunnitud kraami maha jätma ja liikuma teise kohta. Elatusvahendite puudumine uues kohas sundis meid järgmistele röövidele. 	
</div>
</div>
<div class="p">
1946. a lõpus asus Johannes Heeska end varjama Ants Aunveri ehitatud punkris Jaan Luksepa talus (Mälu-Oti talu) Sangaste vallas Laukülas.	
</div>
<div class="quote">
HJ: Meie salgal puudus kindel juht, olime kõik võrdsed liikmed. Röövimisel oli juhiks see, kes kõige paremini tundis olusid. Meie meelest nõukogude kord röövis paljaks meid, s.t rahvast, ja meie, metsavennad, röövisime selle riigilt tagasi. Kõige suurem autoriteet meie seas oli Ants Aunveril. 	
</div>




		<br>
		
	</div>
</div>