<div class="content">
  <div class="p">
  </div>
  <div class="p">
  </div>
  <h1>Elukäigud 1945-1946</h1>
  <div class="p">
    <b>Ants Aunver</b>
  </div>
  <div class="p">
    Ants Aunver asus end 1944. a varjama algul Johannes Heeska talus, mõne aja pärast Heeska naiseisa August Kivi juures
    Kõuhkna talus, kus küünis heinte all asus laudadest peidik. Seda peidikut oli varem kasutanud Johannes Heeska Saksa
    mobilisatsiooni eest varjumisel. Peidikus magati öösiti, päevad veedeti talus. Pea igas talus leidus mõni selline
    peidukoht. Kui Kõuhkna talu ümbruses haarangud sagenesid, asusid Ants Aunver, Johannes Heeska, Aksel Pallav ja Olev
    Kängsepp ümber Võhandu jõekäärdu, kus kaldakoopas asuvasse punkrisse pääses vaid paadiga. Paat vinnati koopasse
    sisse. Jõekäär püsis talvelgi jäävaba. Varjupaigas oli ruumi 12 inimesele. Kevadepoole sagenesid haarangud, ja kuna
    punker ei pakkunud piisavat kaitset, mindi 1945. a kevadel laiali.
  </div>
  <div class="p">
    Vene võimu naasmisel jagati Aunveri talu taas uusmaasaajate vahel. Tallu seadsid end kontvõõrana sisse perekond
    Muruoja ja üks naiskommunist. Muruojad esitasid TK-sse kaebusi Ants Aunveri ema peale ja olid jätkuvalt häiritud
    vanaperenaise elamisest oma kodu ühes nurgas. Haarangu ettekäändel korraldasid nõukogude võimuesindajad rüüsteretki
    taludesse.
  </div>
  <div class="p">
    Täitevkomitee esimehe Tiituse elukaaslane:
  </div>
  <div class="quote">
    Rahva hulgas liikus jutt, et Tiitus olevat ära võtnud kellegi Aunveri talust kaks siga, samuti oli ta Heeska talust
    viinud minema omandit, mistõttu ta lõpetas surmaga.
  </div>
  <div class="quote">
    JH: Ants Aunver ütles, et Tiitus pidi jõhkralt suhtuma mõnedesse valla kodanikesse ja kiusas tema vanemaid taga.
    Aunveri õde rääkis talle, et Tiitus tuli nende majja, tegi läbiotsimise ja viis minema palju vara.
  </div>
</div>
<div class="p">
  Ants Aunver, nagu ka teised metsa läinud mehed, pidasid röövvõimu ajutiseks ja viisid oma väärtuslikuma majakraami
  sugulaste juurde hoiule. Taludest käis vara riisumas ja sööki nõudmas erinevaid võõraid, hävituspataljonlastest kuni
  metsatöödele rakendatud sõdurite ja kotipoisteni.
</div>
<div class="p">
  Aunveri koju asunud uusmaasaaja Muruoja tütar PV:
  <br />
</div>
<div class="quote">
  Novembris 1945 tungisid bandiitide otsimise ettekäändel meile korterisse kolm relvastatud bandiiti suvises
  sõdurivormis, kuid ilma paguniteta, ja võtsid 150 kg püülijahu, 12 puuda liha, 800 rbl raha, hõbesõrmuse, teki,
  kleidiriide jt asju. Kõik bandiidid rääkisid röövi ajal üksnes vene keelt, kuid mitte puhtalt vaid eesti aktsendiga.
  Mina neist ühtegi ei tea.
</div>
<div class="quote">
  Detsembris 1946 kolm automaatidega relvastatud bandiiti, esitledes end Antsla ja Linnamäe valla miilitsatöötajatena,
  tungisid meie korterisse ja võtsid ära majapidamisasju, samuti toiduaineid. Samuti nagu esimesel röövimisel tegid kaks
  neist läbiotsimist, samal ajal kui teised röövisid, seisis kolmas uksel valves. Bandiidid olid maskides, nii et nende
  isikuid ma ei näinud. Kuid leidsin sarnasust ühe pikka kasvu röövija osas, kes võttis osa nii esimesest röövist kui
  minu vanemate tapmisest. Eriti viimasel ajal olid suhted meie pere ja Aunver Lotta /Ants Aunveri ema/ vahel teravad,
  kuna ta avaldas rahulolematust, et tema talumajapidamine temalt ära võeti ja meile valitseda anti.
</div>
<div class="p">
  TK esimees August Tiitus leidis jõhkruse ja võõra vara röövimiste tõttu oma lõpu 5.02.1945.
</div>
<div class="quote">
  AA: Talvel 1944-1945 kohtusin Kivi Augusti talus Luki (Viktor Lukk), Keemi (Harald Keem) ja Avo Pruusiga, kes olid
  tulnud saanidega. Nad tahtsid minuga läbi rääkida, kuidas suhtuda Linnamäe valla täitevkomitee esimehesse August
  Tiitusesse. Nad rääkisid, et Tiitus korraldab Linnamäel jahti varjajatele, ja talusid läbi otsides omastab sealt
  võõrast vara. Lukk, Keem ja Pruus teatasid, et kavatsevad Tiitusele tappa anda, et teda õpetada ja sundida lõpetama
  varjajate tagaajamist. Nad küsisid, kas ma kiidan nende otsuse heaks. Ütlesin, et pooldan seda.
  <br />
  <br />
  Nõupidamise tulemusena otsustasime öösel sõita Horma külla Saare tallu, kus August Tiitus asus. Sama hobusega, millega
  Lukk, Keem, Pruus ja desertöör olid tulnud, suundusime järgmisel ööl Saare tallu. Sisenesime viiekesi majja, so mina,
  Lukk, Keem, Pruus ja desertöör (Voldemar Pähn). Meie saabumisel ta magas. Tema elukaaslane oli mulle tundmatu.
  Desertöör ütles Tiitusele vene keeles, et oleme NKVD-st ja meil on kohustus teha üks läbiotsimine tema kui valla TK
  esimehe juuresolekul. Pärast selgitust ei paistnud meie ilmumine majja öisel ajal tekitavat Tiituses mingeid kahtlusi.
  Meie ettepanekul istus Tiitus saani ja sõitsime koos Lauri külla Johannes Heeska tallu. (vs PV tunnistus: Tiitus
  riietus, võttis püstoli ja karabiini ja tuli välja. Hobuse juures käsutasin tal käed üles, teised sidusid tal käed
  kinni ja panid saani istuma.) Johannes Heeska oli kodus ja tuli meile vastu. Tegin Tiitusele ettepaneku vestelda
  keldris, et teised ei kuuleks. Keldris Tiitus rääkis mulle ära, kes on tema abilised varjajate tagaotsimisel ja keda
  tema kui TK esimees on lisanud Saksa käsilaste nimekirja. (AA teisal: Ta nimetas minule nõukogude aktivistide nimed
  ning mina märkisin need meeldejätmiseks paberile. Ülekuulamisel Tiitus ei teadnud, et ma olen metsavend – ma arvan
  nii. Andmed sain temalt kätte kavalusega.) Pärast vestlusel kuuldut otsustasin Tiituse tema aktiivsuse eest hukata ja
  ütlesin seda ka teistele metsavendadele. Nad olid otsusega nõus.
  <br />
  <br />
  Teatasin Tiitusele, et tal tuleb sõita koos meiega NKVD ülema juurde, kes ootab teda naaberkülas ühes talus. Koos
  Tiitusega istusime saani mina, Pruus Avo, Lukk, Keem ja desertöör (Voldemar Pähn). Johannes Heeska jäi maha oma tallu.
  Sõitsime saaniga Võru maanteele, sealt keerasime paremale, sõitsime üle Võhandu silla ja peatusime teel, mis viib läbi
  soise metsa Pissi küla suunas. Desertöör jäi hobuse juurde, mina, Lukk, Keem ja Avo Pruus juhatasime Tiituse üle soo
  metsa. Teest u 200 m kaugusel järgmise kraavi silla juures tulistasin August Tiitust kuklasse. Kinnitasime ta
  sinelihõlmad tugevalt naeltega kokku, lükkasime lati sineliserva alt sisse ja kandsime neljakesi laiba silla alla.
  Hobuse juurde naasnult sõitsid Avo Pruus, Lukk, Keem ja desertöör edasi Antsla suunas, mina läksin Johannes Heeska
  tallu tagasi. Ütlesin talle, et hukkasime Tiituse silla juures teel Pissi külla. Mingeid üksikasju ma talle ei
  rääkinud ja ta ka ei küsinud.
  <br />
  <br />
  <a class="lg-single-image" href="/images/sangaste/fotod/tiituse_laip.jpg">
    <img class="image_right p200" src="/images/sangaste/fotod/tiituse_laip.jpg" />
  </a>
  Üks meist võttis Tiituselt ära revolvri Nagaan, see jäi kas Luki või Pruusi kätte. Tiituse lasin maha 7,65 kaliibriga
  Belgia püstolist.
</div>
<div class="p">
  Märtsi lõpus 1945 lahkus Ants Aunver Pärnumaale Vihtrasse (õemehe isa dokumentidega) ja hakkas seal tööle sovhoosi
  brigadirina. Sovhoosi direktoriks oli tema teise õe mees, Eesti Vabariigi rahvuskomiteega seotud August Püvi, kes elas
  seal nime all Reet. 1945. a suvel arreteeris Julgeolek August Püvi ja sovhoosi raamatupidaja. Aunveril õnnestus metsa
  joostes pääseda ja ta liikus Otepääle. Suvest 1945 kuni suveni 1946 varjas ta end Otepää ümbruses.
</div>
<div class="p">
  1946. a sai ta püsiva peavarju oma onu Jaan Luksepa talus Laukülas Sangaste vallas. Kuni sügiseste külmadeni magas ta
  küünis, hiljem toas. Uue aasta algul ehitas ta endale puukuuri riida alla maa-aluse punkri. 1946. a sai ta Linnamäe TK
  sekretäri Julius Taplase vahendusel taas kokku Johannes Heeskaga. Heeskast sai järgnevaks kaheks aastaks Ants Aunveri
  punkrikaaslane.
</div>
<div class="p"></div>
<div class="p">
  <b>Johannes Heeska</b>
</div>
<div class="p">
  Johannes Heeska varjas end koos Ants Aunveri, Aksel Pallavi, Olev Kängsepa ja Tartu maakonnast pärit „Timoga“’. 1945.
  a ühines nendega Robert Heeska, kes deserteerus Punaarmeest. Heeskate kolmas, noorim vend oli Venemaale 10. a
  vangistusse viidud, kuna oli tudengina Tartus Stalini pildi ära visanud.
</div>
<div class="p">
  1945. a augustis varjas Johannes Heeska end Hammaste külas Tori talus koos Avo Pruusiga. Heeskal oli vintpüss, Pruusil
  automaat.
</div>
<div class="quote">
  AA: Aksel Pallavi talus oli vesiveski. Selle veski pööningule ehitasid Aksel Pallav ja Johannes Heeska salajase
  varjamiskoha, laudadega eraldatud ruumi veski katuse ja lae vahel ühes kaugemas nurgas. Sinna pääsemiseks oli vaja
  eemale tõmmata kaks kokkulöödud lauda lae peal. Käisin seal korduvalt, kui 1944. a sügisel Johannes Heeska talus
  varjasin. Seal oli meil patareide peal raadiovastuvõtja. Kuulasime Aksel Pallavi ja Johannes Heeskaga palju kordi
  raadiosaateid. Enamasti välismaiseid - Saksamaalt, Rootsist ja Soomest.
</div>
<div class="p">
  1946. a varjas Johannes Heeska end mõnda aega punkris Karl Kuusi isakodus Ala-Põdral koos August Kängsepaga. Rein
  Märdimäe naiselt sai ta seal maakaardi, millelt uuris teedevõrku Tartusse.
</div>
<div class="quote">
  BE: 1946. a lõpus kutsus Märdimäe Rein mind enda poole peoõhtule. Nägin seal ühes toas metsavendi, kes istusid kaetud
  laua ääres, millel oli igasugust sööki ja viina. Tundsin neist Johannes Heeskat, Heeska sugulast Kängseppa, keda
  kutsuti Otto ja kes elas Heeska talus, üks metsavend oli Tartust.
</div>

<div class="p">
  1946. a jooksul varjas Johannes Heeska end ligi pool aastat üksi, suvel 1946 ühines temaga legaalselt elanud Karl
  Pommer ja Alfred Hein. Koos Alfred Heinaga ehitasid nad punkri, kuhu ühinesid ka Robert Heeska ja Karl Kuus. 1946. a
  liikus Johannes Heeska sageli Uhtjärve piirkonnas, Kalju Visnapuu isatalu ümbruses. Urvaste valda Pätsimäele ehitasid
  metsavennad punkri, kus varjasid end Kalju Visnapuu, Johannes Heeska, Feliks Hõbe ja Robert Heeska.
</div>
<div class="quote">
  HR: Kõik me varjasime nõukogude võimu eest, sest ei tahtnud minna nõukogude armeesse. Ja meid jälitasid nõukogude
  võimuorganid. Meil oli vaja vahendeid ellujäämiseks ja me muretsesime need vahendid relvastatud rünnakutega.
</div>
<div class="p">
  Ülekuulaja küsimusele: “Miks te nii palju röövisite? See ületas ju teie vajadused!”, vastas Robert Heeska:

</div>
<div class="quote">
  Sagedastel haarangutel olime sunnitud kraami maha jätma ja liikuma teise kohta. Elatusvahendite puudumine uues kohas
  sundis meid järgmistele röövidele.
</div>

<div class="p">
  1946. a lõpus asus Johannes Heeska end varjama Ants Aunveri ehitatud punkris Jaan Luksepa talus (Mälu-Oti talu)
  Sangaste vallas Laukülas.
</div>
<div class="quote">
  HJ: Meie salgal puudus kindel juht, olime kõik võrdsed liikmed. Röövimisel oli juhiks see, kes kõige paremini tundis
  olusid. Meie meelest nõukogude kord röövis paljaks meid, s.t rahvast, ja meie, metsavennad, röövisime selle riigilt
  tagasi. Kõige suurem autoriteet meie seas oli Ants Aunveril.
</div>

<div class="p"></div>
<h3>Ülevaade 1945-1946. a Julgeolekus täheldatud juhtumitest Linnamäel ja naabervaldades
</h3>
<div class="p"></div>
<div class="p"><b>5.02.1945</b>
  jäi kadunuks Linnamäe TK esimees August Tiitus
  <br />
  <b>25.07.45</b>
  röövisid tundmatud Sõmerpalu vallas Sulbis kooperatiivi varustuspunkti, kaasa viidi 3 kasti mune
  <br />
  <b>17.08.45</b>
  tulistati Sõmerpalu jaama lähedal NKVD operatiivvolinikku n ltn Tšamkajevit
  <br />
  <b>18.09.45</b>
  Sõmerpalu vallas tulistasid metsavennad 22. sisevägede laskurdiviisi võitlejate gruppi, haavati 2 võitlejat, 1 jäi
  teadmata kadunuks.
  <br />
  <b>15.10.45</b>
  rüüstati Sulbi k/n
  <br />
  <b>15.10.45</b>
  tulistati metsast hävituspataljonlasi Heino Rootsi Heinot ja Ants Rosset, kes surid
  <br />
  <b>26.10.45</b>
  tappis Julgeoleku operatiivgrupp Järvere mõisa juures Sõmerpalu vallas Hamburgi elaniku Hans Voss Juliuse p, s 1914.
  Läheduses avastati vastehitatud varustatud punker.
  <br />
  <b>5.11.45</b>
  rünnati Sõmerpalu vallas Paasi talus Feodor Javorskit, kes tapeti
  <br />
  <b>6.12.45</b>
  rünnati Sõmerpalus Männa? talu, kus tapeti Aleksander Potter ja selle poeg Richard Potter
  <br />
  <b>22. 12.45</b>
  Linnamäe vallas tapeti ltn Adolf Schmidt ja Hedvig Ader.
  <br />
  Öösel sisenesid 3 Punaarmee vormis meest korterisse, kus viibisid Punaarmeest puhkusele tulnud Hugo Ader ja Hedvig
  Ader ning koos temaga ltn Schmidt. Sissetulnud võõrad kontrollisid nende dokumente ja kottide sisu. Leitnant ja Hedvig
  Ader käsutati riidesse ja õue, kus neil lasti avada aidad ja küünid, kus tundmatud tegid läbiotsimise. Ülejäänud
  toasolijaist kedagi õue ei lastud. Võõrad viisid talust kaasa kraami. Ader ja Schmidt leiti hiljem kohapeal
  mahalastutena.
  <br />
  <b>28. 12.45</b>
  langes Keretü soos asunud Lükkä punkrile tehtud haarangus 9 metsavenda: Harald Keem, Viktor Lukk, Vambola Lukk, Arnold
  Kuus, Mihkel Lõhmus, Henn Pihlapuu, Edgar Raudsepp, Kalju Rebane ja üks tundmatu metsavend. Põgenema pääsesid Arnold
  Ottan, Kristjan Tuvikene ja Erich Sepp. Punkrielanik Kalju Kirbits oli jõuluks lahkunud koju Viitina valda.
  <br />
  <b>25.01.46</b>
  tegi enesetapu Julgeolekusse korduvülekuulamisele kutsutud Vaabina kooli direktor Alfred Leok. 6.12.1945 oli Leok
  kutsutud tunnistajana Harri Verevi vastu Julgeolekusse, kus Leok eitas Verevile Nagaani andmist. 23.1.46 nõudis
  Julgeolek ta taas ülekuulamisele. 25.1.46 kell 3 öösel lahkus mees oma kodust Antsla jaama suunas, et sõita rongiga
  Võrru ülekuulamisele, pärastlõunal leidis naine ta kodusaunast pooduna. Naise kinnitusel oli mees talle viimase viie
  aasta jooksul korduvalt öelnud, et kui poleks naist ja tütart, ei tahaks ta siin ilmas enam elada.
  <br />
  <b>25.01.46</b>
  ründas Urvastes 10 liikmeline salk Urvaste k/n, osa ründajatest olid nõukogude armee ohvitseride mundris. Tapeti
  valimiseelses kampaanias osalenud ltn Polujektov ja 4 nõukogude aktivisti. Haavati hävituspataljoni jaokomandöri
  Haugi. K/n võeti lahkudes kaasa rahvakaitsele kuulunud relvad, raadioaparaat ja telefon.
  <br />
  <b>10.02.46?</b>
  Rünnati Võru rajoonis valimisjaoskonda, tapeti ja haavati mitmeid inimesi /küsimus juhtumi kohta esitati ülekuulamisel
  A.K-le, rohkem andmeid sündmusest pole/
  <br />
  <b>18.02.46</b>
  ründasid metsavennad Urvastes hävituspataljonlase Rudolf Tammemägi talu, kus elas hävituspataljonlane Rudolf Kiidron.
  Kiidroni tuppa visati granaat. Granaati tagasi heites lõhkes see Kiidronil käes, vigastades kätt ja jalgu. Rünnakul
  sai tulistamises haavata ka üks metsavend.
  <br />
  <b>8.03.46</b>
  (teisal 24.03) Uue-Antsla meierei ja piiritusetehase rööv (piiritusetehast rööviti ka 25.01.47). Algatajad olid
  Kooraste metsavennad Hann Helbre ja August Hallap. Koorastest oli 6-8 inimest, kokku oli osavõtjaid 13, teiste hulgas
  Robert Heeska, Kalju Visnapuu, Feliks Hõbe. Võitehase juurde sõideti 6 hobusel. Valvuritele esitleti end
  julgeolekutöötajatena. Ära viidi 382,5 kg (12 kasti) koorevõid ja 1400 l (2969 rbl 72 kop eest) piiritust.
</div>
<div class="quote">Kesköösel koputati uksele. Ma kohe ei avanud ja sain aru, et väljas lõhutakse telefoniliini. Seejärel
  koputati tugevamalt. Läksin ukse juurde ja küsisin: kes koputab? Mulle vastati: piiritust on vaja. Nad lubasid ukse
  lõhkuda ja ise sisse tulla. Ehmusin ja avasin ukse. Sisenesid relvastatud mehed. Relva ähvardusel läksin viinakeldri
  juurde, u 100 m mu elumajast. Ühel uksel oli lukk eest murtud, teise avasin võtmega ise. Sees hakkasid nad mult nõudma
  anumaid, kuhu piiritust valada. Leidnud nõud, valasid need täis ja kandsid õue. Üks neist ütles, et rohkem pole vaja
  võtta, küllalt juba. Mind viidi majja tagasi ja hoiatati, et ma kella kaheksani hommikul kuhugi ei läheks. Vastasel
  juhul läheb mul halvasti. Hommikul helistasin põllumajandustehnikumist miilitsasse ja varsti sõitis miilits
  sündmuskohta uurima. Piiritust võeti u 2500-3000 liitrit. Piiritusetehase sisustust nad ei lõhkunud. Palju neid oli,
  ma ei tea, tuppa tulid 4 inimest, mõned jäid õue. Relvadeks olid neil vintpüssid ja automaadid. Jah, samal ööl viidi
  ka võitehasest võid. Võitehas ja piiritusetehas asuvad sama katuse all. Nad rääkisid eesti keelt.</div>
<div class="quote">Uue-Antsla võitehase juhtaja 1944-1947 LA: Nägin õuel 5-6 vankrit, kui palju oli inimesi, ma ei tea.
  Magasin juba, kui kuulsin õues hääli. Naine avas ukse ja röövlid tulid tuppa. Osa neist tulid läbi katki löödud
  koridoriakna. Naiselt nõuti võitööstuse võtit, et kui ei anna, viskavad granaadi korterisse. Andsin võtme, nad
  käskisid mul endile järgneda. Õues võikeldri juures nägin kolme sõjaväevormis meest. Nad avasid võtmega ukse ja
  kandsid või vankritesse. Vanker täis laaditud, sõitsid nad minema. Mind hoitatati hommikuni toast lahkumast. Hommikul
  läksin piiritusetehasesse helistama, kuid telefoniliin oli lõhutud. Võid võeti u 100 kg. Ise nägin 3 röövlit, kui
  palju neid kokku oli, ei tea.</div>
<div class="p">Piiritus viidi minema 40 l kardades, karrad maeti peidukohtadesse.
</div>
<div class="quote">KR: 1947. a suvel näitasid Hõbe ja Visnapuu mulle kohta, kus neil oli üks piiritusenõu, sealt ma tõin
  neile piiritust. Samuti rääksid nad, et üks piiritusenõu on neil maha maetud Linnamäe Eesti surnuaeda, aga sealt nad
  piiritust ei võta, kuna see koht olevat võimude jälgimise all.</div>
<div class="p">
  <b>13.03.46</b>
  Nädal pärast Churchilli kõnet Fultonis raudse eesriide langemisest Euroopas toimus mitmekümne mehelise ühendsalga (sh
  2 naist) alistumatuseakt - vallakeskuse Osula hõivamine. EKP keskkomitee volinik Tallinnast saadeti võimudele sõna
  viima (põhjendusega: sina pole meile midagi kurja teinud), et Osulas nõukogude kord ei kehti. Õhtu eel lasti maha
  paikne punaaktiiv, kokku 13 inimest: külavolinik, maksuinspektor, varumisagent, rahvakaitselane, TK esimees ja
  asjaajaja jt. Pealekaebajad Rossed ja hävituspataljonlane Leevold olid surnuks tulistatud kümnetest kuulidest,
  ülejäänud paari lasuga, tapetute seas oli kaks teismelist. Miilitsavoliniku ruumist võtsid ründajad kaasa relvi: 2
  hävitajate (ehk Rahvakaitse) kergekuulipildujat, 2 automaati ja 3 vinti. Ründajad hoidsid asulat enda valduses kogu
  päeva, hommikul kl 6 kuni õhtul 19.30-ni. Ere allumatuse väljendus ajas võimud ärevaks ja see kajas Tallinnast
  Moskvani.
  <br />
  Tapetud Rossed olid tegelenud nuhkimise ja pealekaebamisega:
</div>
<div class="quote">Minu vend Heini Rosse Friedrichi pg käis minul külas Klooga sõjaväelaagris 1945 sügisel, siis vend
  rääkis minule, et käisime Johannes Ülenurme otsimas, kes varjab end metsas, kuid kätte me teda ei saanud.</div>

<div class="p"><b>1.04.46</b>
  toimus 7 tundi kestnud Julgeoleku rünnak Määritsa (Hindriku) talule Sulbis, kus sadakond sisevägede sõdurit ja
  hävituspataljonlast piirasid ja lõpuks põletasid majja sisse talu elanikud koos metsavendadega: Marta Määritsa, Liina
  Sillamaa, Erna ja Osvald Tatriku, Avo Pruusi, Karl Heeriku ja ühe tundmatu. Piiramisest väljamurdmiskatsel langesid
  Aksel Pallav ja Kalju Tiits.
  <br />
  <b>26.04.46</b>
  öösel vastu 27. ründas Julgeoleku operatiivgrupp Koidu talu (esmase teate kohaselt Sõmerpalu vallas Koidu külas Niidu
  talu), põletades 4 tunnise lahingu järel sisse 4 inimest, algsel oletusel Kark Heeriku 25-27a Sõmerpalu elaniku,
  Samuil Toropi 50-55a Sõmerpalu Niidu talu peremehe, Kalju Toropi Samuili p 25-26 a Sõmerpalust ja ühe tundmatu.
  <br />
  Tegelikult Karl Heerik oli langenud varem, Määritsa talus toimunud 7 tunnises lahingus 1.04.1946. Kalju Torop ei
  hukkunud Koidu talus, vaid pääses sellest lahingust põgenema. Ta vangistati 11. 07.47. Talus langesid peremees Samuel
  Torop, soomepoiss Arkadi Hanschmidt s 1926, Villi Kupp s 1925 ja Kalju Täht.
  <br />
  <b>26.04.1946</b>
  röövisid metsavennad Uue-Antsla võitehast.
  <br />
  <b>5.05.46</b>
  võeti agent „Hutorskoi“ teate peale kl 1 öösel Raudsepa talus Sõmerpalu vallas kinni Avo Pruusi salgast Mihkel Oras
  Pauli p ja Harald Männiste Pauli poeg, arreteeriti talu peremees Olev Männiste.
  <br />
  <b>19.06.46</b>
  püüdis MVD sisevägede 138 polgu üksus kinni pidada August Hallapit Tikerpuu salgast. Viimane osutas relvastatud
  vastupanu ja tapeti. Ära võeti püstol Walther ja granaat F-1 ning 1 padrun püstolile.
  <br />
  <b>20.06.46</b>
  võeti Sõmerpalu vallas kinni Eduard Savi, kes oli 1945 deserteerunud Eesti korpusest ja varjanud end sellest ajast
  koos metsavendadega. Võeti ära püstol TT ja sellele 15 padrunit.
  <br />
  <b>6.07.46</b>
  tapsid Antsla RJM operatiivpunkti ülem n ltn Kohlberg /vene kirjapildis Kohberg/, rahvakaitselased Joakit ning
  Väljastu piinarikkalt politseikonstaabel Harri Halleri (Haldma). Päevasel ajal varitsesid nad Ala-Põdra talu ümber
  Linnamäel, mis oli vendade Hallerite kodu. Ala-Põdra talu lähedases punkris varjasid end Harri Haller (Haldma) koos
  naise Helmiga, Hödrejärv ja teisi metsavendi. Kohlberg tulistas Harri Haldmale automaadivalangu jalgadesse ja appi
  hüüdval mehel lasti koduõuel pikaldaselt verest tühjaks joosta. Laip maeti lähedusse metsa.
  <br />
  <b>18.07.1946</b>
  ööl vastu 19. rööviti Linnamäe kooperatiivi. Valve puudumise pärast sai hävituspataljoni komandör Rudolf Lepistu
  võimudelt hoiatuse ja ähvarduse, et võetakse vastutusele.
  <br />
  Linnamäe kooperatiivi röövis 4-5 liikmeline rühm relvastatud isikuid, kellest üks oli punaarmee vormis. Kaasa võeti
  viina, komme ja u 20 pakki paberosse. Kaupluse valvur, hävituspataljonlane Veski August oli haigeks jäänud ja ei
  viibinud vahipostil.
</div>
<div class="quote">Kell 7 hommikul sai Linnamäe partorg Jaan Teplenkov teate kooperatiivi röövimise kohta, röövijad
  liikusid Urvaste suunas. Seda märkas kaupluse majas elanud Erna Siivak, kes teatas Anne Tuhkurile, viimane omakorda
  rahvakaitselasele Kalju Värtmanile, kes oli valves Linnamäe TK juures ja kes kandis ette partorg Teplenkovile. Viimane
  kutsus oma initsiatiivil kaasa 2 hävituspataljonlast ja miilits Raudsepa, kes oli kodus puhkusel, ning organiseeris
  jälitamise. Jälitanud röövijaid u 4-5 km Linnamäe TK-st, märkasid nad metsas küüni, milles kuulsid jutuhääli.
  Hävituspataljonlased soovitasid partorgil loobuda kohapeal isepäi tegutsemisest, teatada miilitsasse ja Rahvakaitse
  staapi, kuid partorg, oletades, et bandiite oli vaid 2, otsustas küüni umber piirata ja röövijad kinni võtta. Partorg
  saatis Raudsepa minema ümber küüni, jäädes ise kahe rahvakaitselasega olukorda jälgima. Samal hetkel väljus küünist
  Punaarmee ohvitseri mundrit kandev mees, pudel viina käes, ja sammus ümber küüni liikunud Raudsepa suunas, kes oli
  seisatanud, end varjamata, küünist 40 m kaugusel. Tundmatu läks talle päris lähedale, võttis tal vintpüssi käest ja
  tulistas teda teises käes olnud püstolist. Läks lahti tulevahetus, küünist avati automaadituli rahvakaitselaste pihta.
  Vasakusse kätte haavata saanud partorg käskis kahel hävituspataljonlasel taganeda. Samal ajal jooksis küünist välja 4
  tundmatut automaatidega relvastatud meest, kes heitsid küüni lähedusse pikali, jätkates tulistamist. TK-sse
  tagasijõudnud, teatas Teplenkov juhtunust miilitsasse. Sõit sündmuskohale tulemust ei andnud. Metsavennad olid
  lahkunud, jätnud oma toidu küüni maha. Küünis prahi alt leiti tapetud militsionäärile kuulunud Saksa vintpüss.
  Raudsepa laip lebas 40 m nimetatud küünist, kuuliaukudega paremas käsivarres ja peas. Uurimine tulemusi ei andnud.
  Linnamäe valla agentuurile anti käsk bande liikmed ja asukoht kindlaks teha.</div>

<div class="p"><b>29.07.1946</b>
  vastu 30.07 Tsooru kaupluse rööv
  <br />
  Kaupluses käisid Johannes ja Robert Heeska. Feliks Hõbe, Karl Pommer, Karl Kuus, Helbre e „Tarzan“, Hallap e „Pakan“
  ja Hallapi õde „Lea“ ehk „Miki“, Alfred Hein ja veel mõned Koorastest. Tsooru elanik Raivo Must kohtas röövilt tagasi
  suunduvaid metsavendi u 1 km Tsoorust Viirapalu poole. Üks oli rattaga, teised vankril ja mõned jalgsi, kokku 9-10 in.
  Nende hulgas oli ka naine.
  <br />
  Kauplusest viidi kaasa sokke, käisteta sviitreid, nahka, lõhnaõli, odekolonni, suhkrut, kõige rohkem kommi. Kraam
  viidi vankritel Mustajõe sohu, kus jagati laiali. Kahju: 11863 rbl.
  <br />
  Tsooru kaupluse juhataja Ruudi Palu:
</div>
<div class="quote">Juunis või juulis 1946 kl 24 00 koputati aknale. Tõusin üles ja mulle öeldi, et avage, riiklik
  kontroll. Ütlesin, et ma öösel ei ava kellelegi. Minu korter oli kaupluse kõrval. Aken lõhuti ja öeldi, et kui ei ava,
  viskame granaadi sisse. Olin sunnitud kaupluse ukse avama. Seitsmendana sisenes tüdruk keda nad kutsusid Marusjaks.
  Mulle suunati kohe automaat ja öeldi, et sinu kommunisti laseme maha. No ei lasknud, võtsid hoopis vahi alla.
  Taskulambi valgel hakkasid nad asju pakkima. Kui kraam pakitud, küsisid, kus on kassa. Ütlesin, et saatsin raha eile
  autoga Antslasse, kuigi tegelikult oli mul kassas üle 5000 rbl. Bandiidid jäid mind uskuma, lahkusid ja sõitsid minema
  Antsla suunas. Enne lahkumist ütlesid mulle, et nüüd keera uks lukku ja kui elu armas, siis kuni hommikuni siit ära
  lahku, meil on valve väljas. Ütlesid ka, et helistada pole mõtet, telefonitraadid on katki. Nad viibisid kaupluses u
  45 min.
</div>

<div class="p"><b>30. 07.46</b>
  öösel püüti taas Linnamäe kauplust röövida, kaasa midagi ei võetud. Sündmuskohale sõitis miilitsa van ltn Volke ja
  asus otsima rahvakaitsekomandöri Lepistut. 1. 8.46 teatas Lepistu isa, et tema poja, hävituspataljoni komandöri
  Lepistu Rudolfi koos vennaga, viisid tundmatud 31. juuli õhtul heinamaalt endaga metsa kaasa. Vendade isa "allutati
  Julgeolekus üksikasjalisele ülekuulamisele". Saadi vaid tunnistus, et ta ei tea poegade asukohta ega sedagi, kas
  kaasaviijad olid metsavennad või varjusid nad omal algatusel.
  <br />
  Magda Lepistu Kurenurme k/n-st tegi 1957. a julgeolekuorganitele avalduse, et vendade Lepistute metsa viijateks olid
  August Kängsepp, Karl Kuus, Johannes ja Robert Heeska.
</div>
<div class="quote">Läksin rahvakaitselase Oss Evaldi poole, kuid Oss keeldus, öeldes, et metsas on juba pime, kell oli
  juba üle 12. Järgmisel hommikul läksin lehmadega sinna heinamaale, kuid jälgi mehest ja mehevennast ei leidnud. Nende
  saatus on siiani teadmata. Mehevend oli rahvakaitselane ja võttis osa haarangutest metsavendadele, sealhulgas ka
  gruppidele, kuhu kuulusid Heeska Robert ja Heeska Johannes. Lepisto Rudolf oli Kurenurme Rahvakaitse ülem, mille
  pärast metsavennad kandsid viha. 1946. a ei teatanud me organitele 4 äraviija nime sellepärast, et kartsime, et nad
  saavad sellest teada ja meid tapetakse.
</div>
<div class="p">Julgeoleku uurimine nimetatud metsavendade seost vendade Lepistute kadumisega ei kinnitanud.
  <br />
  <b>2.08.46 </b>ööl vastu 3. toimus sõjaline operatsioon punkrile 1 km Sulbist Sõmerpalu vallas, kus elasid Kalju Torop
  Samuili p, Paul Metsakivi , Arvo Kirs, Viktor Mäeuibo ja viimase vend. Punkrielanikke kohal ei olnud. Punker
  purustati.
  <br />
  <b>21.08.46</b>
  avasid 2 meest püstolitest tule oma talu juures põllul töötava hävituspataljonlase Varjuni pihta. Viimasel õnnestus
  põgeneda. Punaarmeest puhkusel viibiv Varjuni poeg hakkas isa jälitavaid tundmatuid vintpüssist tulistama, mille
  tulemusel üks neist tapeti, teine jooksis haavatuna minema. Varjun tundis ühes neist ära mehe, kes talvel 1945 olid
  tallu tunginud. Tapetuks osutus Alfred Hallop Kondradi p, Punaarmee desertöör Jaan Tikerpuu salgast, milline tegi
  24.9.45 rünnaku Kooraste TK-le. Tartumaa MVD osakonna varasem teade Alfred Hallopi langemisest 13. mail 46 oli vale.
  <br />
  <b>23.8.46</b>
  ööl vastu 24 Sõmerpalu vallas Sulbi külas tapeti Olga Kets, tema tütar Liidia Kets ja Aleksander Leevold, viimane oli
  Olga Ketsi elukaaslane. Tapeti tulirelvast ja röövitud ei olnud midagi. Julgeolek pidas kinni Aliidia Pallavi.
  <div class="quote">Aliidia Pallav, kelle poeg Aksel Pallav oli metsavend ja tütar varjas end samuti nõukogude võimu
    eest, Julgeoleku andmetel koos vennaga, kes on viibinud 23.8.46 õhtul kodus. Pallavi talu asub Ketsi talu kõrval.
    Suhted perede vahel on pingelised, mis laseb kahtlustada Aksel Pallavit.

  </div>

  Aksel Pallav oli langenud juba 1.04.46, Määritsa talu lahingus väljamurdmiskatsel.
  <br />
  <b>25.09.46 </b>
  nägid julgeolekusõdurid varitsuses Utsali talu juures Linnamäel kl 23 õhtul 4 liikmelist metsavennagruppi, keda asuti
  jälitama. Tekkinud tulevahetuses MVD sisevägede 138. laskurpolgu võitlejatega tapeti 2 metsavenda, teistel õnnestus
  varjuda. Varitsejatest tapeti punaarmeelane Korjakin ja haavati jefr. Rahmatulinit ja punaarmeelast Kolinintsevit.
  Tapetud metsavendi ei tuvastatud.
  <div class="quote">
    KA: Septembri lõpus 1946. a panid Heeskad ja Kuus ette röövida võid, mis toodi Antslasse Tsooru võitööstusest
    Lepistu vallas. Mindi neljakesi, metsa ääres ootasid veel kolm meest, ühe nimi oli Janis (August Kängsepp)

  </div>
  Osavõtjad Johannes Heeska, August Kängsepp, Karl Kuus, Feliks Hõbe, Kalju Visnapuu, Kalju Torop, August Märdimäe,
  Steinbach (nime ei tea), „Väike-Tutu“.

  <div class="quote">HJ: Initsiaator oli Karl Kuus. Andsime nõusoleku ja leppisime kohtumiskoha. Kui meie kohale
    jõudsime, olid Tsooru omad juba kohal. Korraldasime maantee ääres varitsuse. Kui vankrid tulid, pidasime nad kinni,
    võtsime sealt endaga 3 inimest kaasa ja viisime metsa. Ühe vankri võikoormaga viisid Tsooru metsavennad oma
    punkrisse. Teise võtsid endale Visnapuu, Märdimäe ja Steinbach ja viisid oma punkrisse Linnamäe valda. Hiljem sain
    Kängsepa käest teada, et Visnapuu vankrit hakkas operatiivgrupp jälitama, mille tulemusel Visnapuu jättis vankri
    maha ja pistis jooksu, Märdimäe ja Steinbach olevat tapetud. Metsa viidud kolme meest valvasid teised metsavennad
    hilisõhtuni, siis lasti nad vabaks.
  </div>
  August Märdimäe langemiskohaks on teisal märgitud: Ora veski lähedal.
  <br />
  <b>10.11.46</b>
  raharööv Sõmerpalu-Võru teel.
  <div class="quote">KA: Robert ja Johannes Heeska, Karl Kuus ja Valter Jeeger kutsusid mind Sõmerpalust Võrru viiva tee
    äärde. Kui kohale jõudsime, selgitasid vennad Heeskad, et Sõmerpalust Võrru peaks minema auto, mille peame kinni ja
    teeme midagi. Sain aru, et hakkame autot röövima. Auto häält kuuldes läks Robert Heeska teele ja peatas selle. Samal
    ajal hüppasid Johannes Heeska ja Karl Kuus autokasti, kus võtsid raamatupidaja portfellist raha ära, portfelli
    dokumentidega andsid tagasi. Valter Jeeger istus autosse ja auto sõitis edasi Võru suunas. Mulle öeldi, et läheksin
    Tõnni silla juurde ja ootaksin seal. Kui ma silla juurde jõudsin, olid need 4, kes autoga sõitsid, juba seal. Kui
    palju raha kokku oli, ma ei tea, mina sain 3500 rbl, Johannes Heeska 7000. Kui palju teised said, ma ei tea. Mul
    röövi ajal relva ei olnud, minu ülesanne oli olla füüsiliselt abiks, kui autoga sõitvad inimesed peaksid osutama
    vastupanu. Robert Heeskal oli Saksa automaat, Johannes Heeskal Nagaan, Karl Kuusil revolver Nagaan, Valter Jeegeril
    oli Vene vintpüss.</div>
  <b>13.11.46 </b>kl 17 võttis 10-12 liikmeline metsavendade salk enda valdusse veoauto Võrumaa TK esimehelt Tummalt ja
  Võrumaa maanteedevalitsuse ülemalt Mägilt, kes viidi selle autoga Läti piirile, kus nad vabaks lasti.
  <br />
  <b>26.11.46</b>
  röövisid 8 metsavenda Kooraste kauplust (kahtlus Heeska salgal)
  <br />
  <img class="lg-single-image image_right p200" src="/images/sangaste/dokumendid/1946.jpg" />
  <b>2.12.46 </b>
  Antsla kooperatiivi auto rööv Muuga sillal 2 km Sõmerpalu sovhoosist Antsla poole.

  <br />
  <b>28. 12.46</b>
  Raha ülevõtmised
  <div class="quote">KK: Johannes Heeska rääkis mulle, et Sõmerpalu postitöötajad viivad suurt summat raha. Ta tegi
    ettepaneku minna koos röövile. Ma ei andnud pikka aega jaatavat vastust, mille peale Heeska ütles mulle, et ma olen
    argpüks, ise veel politseinik. Heeska veenmisel nõustusin selles röövis osalema. Leppisime kokku kohtuda järgmisel
    päeval metsas, sinna tulid Johannes Heeska, „Tarzan“ kelle nimi oli Helbre, „Mait“ , üks tüdruk hdn „Tüda“, kelle
    päris nimi oli Asta ja Kängsepp hdn „Janov“ ning Valter Jeeger. Me kõik olime relvastatud vintpüsside jm
    tulirelvadega ning läksime Sojakalu? metsa, kus panime tee äärde välja varitsuse. Sidetöötajate möödumisel ründasime
    neid ja võtsime ära 28 000 rbl, inimesed lasime lahti. Kogu salgaga läksime tagasi Tammipalu metsa, kus jagasime
    raha omavahel.</div>

  <div class="quote">PL: sõitsin hommikul kl 9 vankriga Sõmerpalu TK-s t Võrru, et viia panka raha summas 35 960 rbl.
    Sõitsin TK-st 3 km edasi, kui metsast astusid välja 5 relvastatud bandiiti, nimesid ei tea, käskisid kinni pidada,
    piirasid vankri sisse, käsutasid käed üles ja küsisid, kas mul on relva. Nad suunasid hobuse teelt kõrvale metsa,
    otsisid vankri läbi ja võtsid minu portfelli eeltoodud summa rahaga. Pärast seda üks neist ütles, et võin minna
    Võrru ja rääkida sellest kõigile miilitsas. Kui bandiidid lahkusid, sõitsin Võrru ja teatasin röövist miilitsasse.
    Sellest, et ma sõidan rahaga Võrru, teadsid rahvakaitse pataljoni komandör, kellelt ma käisin küsimas endale
    kaitsjat. Ta ei leidnud selleks inimesi, seepärast sõitsin üksi ilma kaitsjata. Teadis ka TK asjaajaja Asta Reiman,
    kes minu ettevalmistusel ärasõiduks pakkis raha ja valmistas dokumendid. Ta oli tunnistajaks minu väljasõidul
    rahaga. Reiman Asta seosest bandiitidega ei tea, kuid rahva juttudest tean, et üks tema sugulastest, Jeeger, on
    metsavend ja varjab end.
  </div>

</div>