<h1>Kaardid</h1>
<div class="lg-gallery">
  <img src="/images/sangaste/kaardid-nav/langenud.jpg" alt="TODO" />
  <img src="/images/sangaste/kaardid-nav/punkrid.jpg" alt="TODO" />
  <img src="/images/sangaste/kaardid-nav/syndmused.jpg" alt="TODO" />
</div>
