<div class="content">
  <h1>Kaardid</h1>

  <div class="lg-gallery">
    <a href="/images/sangaste/kaardid-nav/langenud.jpg"><img
        alt="TODO"
        class="image-full-size"
        src="/images/sangaste/kaardid-nav/langenud.jpg"
      /></a>
    <a href="/images/sangaste/kaardid-nav/punkrid.jpg"><img
        alt="TODO"
        class="image-full-size"
        src="/images/sangaste/kaardid-nav/punkrid.jpg"
      /></a>
    <a href="/images/sangaste/kaardid-nav/syndmused.jpg"><img
        alt="TODO"
        class="image-full-size"
        src="/images/sangaste/kaardid-nav/syndmused.jpg"
      /></a>
  </div>
</div>
