<h1>Olud</h1>
<p>
  Metsavendi ümbritsevad olud muutusid kümne aastaga tundmatuseni. Algusaegade varjajate rohkus ja tihe tegutsemine
  asendusid aja jooksul varjamisega järjest väiksemates kooslustes või üksi. Suuremahuliste sõjaväeliste haarangute oht
  asendus ajapikku üha enam omaenda lähikonnast lähtuva ohuga, teadmatusega, kes abistajatest võib olla murdunud
  vägivalla käes või pakutud kiusatuse ees. Metsavendi jahtides laiendas Julgeolek kogu julmuse ja hirmutamise
  inimestele metsavendade ümber. Kodude ja omaste häving painas kõiki.
</p>
<p>
  <b>Olud suure sõja lõpus ja järel.</b>
</p>
<p>
  1944. a august – rinde üleminek ja Nõukogude Vene sissetung koos suurte muutustega punaterrori toel. Sõda kestis,
  1944. a lõpus kuulutati Eestis taas välja sundmobilisatsioon Punaarmeesse. Maailma poliitiline ja sõjaline olukord oli
  heitlik. Metsadesse kogunesid deserteerunud mehed mõlema poole sõdivatest armeedest ja mobilisatsiooni vältijad
  kodudest. Oldi äraootaval seisukohal, millise poliitilise olukorra toob Eestile sõja lõpp.
</p>
<p>
  Keretü soos kogunes 1945. a suurem metsavendade rühm, kes pidas sidet naaberpiirkondade metsavendadega (Rõuge ja
  Tartumaa salgad). Selles nn Lükka ehk Nursi punkris asusid ka 2 raadiosaatjaga meest Haukka luuregrupist.
</p>
<blockquote>
  PA: Juunis 1945 küsis Avo Pruus minu talust möödudes, kus on Lukk ja Heeska. Ütlesin, et nad elavad Keretusoos
  Sõmerpalu vallas. Pruus ütes mulle, et neil on seal soos punkrid.
</blockquote>
<blockquote>
  AA: Kord Saksa okupatsiooni ajal sõitsin Võrust oma koju Kurenurme. Kohtasin rongis juhuslikult Pruusi, Keemi, Lukku
  ja Musta. Nende jutust ilmnes, et neil oli kaasaskantav raadiojaam ja ja nad sõitsid Tallinna. Pärast sakslaste
  lahkumist end varjates kohtusin Linnamäe elaniku August Ottaniga. Ta rääkis, et nõukogude vägede tungimise ajal Võru
  valda 1944. a Richard Keem ja Must töötasid August Ottani talu lähedal (Hansi külas) üles pandud raadiojaamas. Ottan
  rääkis, et lähedal lõhkes nõukogude mürsk, mis sundis neid kohta vahetama.
</blockquote>
<p>
  Arreteerimise oht puudutas suuri inimrühmi: Eesti varasemate poliitiliste parteide liikmeid, politseinikke ja
  omavalitsustegelasi, kaitseliitlasi ja omakaitselasi, vanglatöötajaid, Saksa sõjaväkke mobiliseerituid ja Vene armeest
  deserteerunuid jpt. Ilma varjamata oli võimalik elada üksnes omades nõukogude isikutunnistust, mille taotlemisel
  eeltoodud rühmadesse kuulunud inimesi ähvardas vangistus. Dokumendikontroll toimus pidevalt nii linnades kui maal.
  <br />
  Varjajaid arreteerides ja haarangutes tappes keelitas võim samal ajal mehi relvi loovutama ja legaliseeruma.
  Legaliseerida soovijad pidid asuma sundkorras koostööle nõukogude võimuga ja üles andma kaasvarjajaid. Hulk
  legaliseerunuid varjus selle surve eest uuesti metsa.
</p>
<p>
  Maareform tükeldas talumajapidamised, jagades maad ja loomad uusmaasaajatele. Uusmaasaajad paigutati vahel elama
  kontvõõrana taluperede elamusse, vastuteenena nõudis nõukogude võim pererahva jälgimist ja pealekaebamist.
  <br />
  Kohaliku võimu etteotsa tõi nõukogude võim tegelasi, kes haarangute kattevarjus riisusid ja kandsid endale elanike
  vara.
</p>
<p>
  Üks selline oli Linnamäe Täitevkomitee esimees August Tiitus, keda teati varasema hobusevarga ja kindlustuspetturina.
</p>
<p>
  Metsa koondunud mehed vastasid nõukogude võimu terrorile omapoolse tegutsemisega. Kõik poliitilise värvinguga juhtumid
  tähendas Julgeolek üles.
</p>
<p>
  <b>Rahva ja punase võimu suhted.</b>
</p>
<p>
  Ajalehtedes kiidetud punane "avangard" omandab salajastes teadaannetes täiesti teistsuguse näo. Tõdetakse rahva
  põlgust ja punaste asjameeste hirmu.
</p>
<p>
  <b>Kängsepp Daniel</b>
  :
</p>
<blockquote>
  Oma tegevuse tõttu metsavendade vastu rahvakaitsepataljonis alates sügisest 1944 kuni tänaseni on bandiidid püüdnud
  mind tappa kuuel korral. Viimane kallaletung mulle toimus suvel 1946 tee peal Ruhingu metsas Sõmerpalu vallas, kui ma
  veskist koju sõitsin. Mind tulistasid kaks meest, keda mul ära tunda ei õnnestunud, kuna oli juba õhtu ja hämar.
  Lisada tahan, et 1945-46 aastal ma peaaegu ei elanuki oma talus seetõttu, et bandiidid kogu aeg jälgisid mind mu maja
  lähedal eesmärgiga tappa. Sel ajal elasin rahvakaitse pataljoni staabis Sõmerpalu kooperatiivis.
</blockquote>
<p>Tema hilisemast saatusest:</p>
<!-- TODO see pilt on katkine -->
<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/kangsepa_enesetapp1.jpg" />
<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/kangsepa_enesetapp2.jpg" />
<div class="br"></div>
<p>
  <b>Partorg Teplenkov Jaan</b>
  Linnamäelt teatab juulis 1946:
</p>
<blockquote>
  TK ruumides pole relvastatud valvet. Sm Ragul ütleb, et ta on korduvalt nõudnud kuid kõik on asjata. Sm Lepistu peaks
  viivitamatult niisukuse olukorra likviteerima muidu kui on hilja. Punast nurka TK ruumides ültse pole komsorg Oss pole
  ka sellele mingit tähelepanu pööranud. On ainult paar katkist ja tolmust määrdinud pilti ahju taga. Ma palun kui teil
  on sääl võimalik siis saatke minule punast riiet loosungieid ja mõni pilt sest nagu jutu ajamisel selgus on sm Stalini
  pilt kogu raamiga ära varastatud. Komsorg Oss Ilmar on haige ja juba üle kuu puudub. See aga ei takista teda järvel
  kalu püüdmast ja pidudel käimast. Tahab vabaneda komsomoli tööst.
  <br />
</blockquote>
<p>
  <b>Sõmerpalu</b>
  detsember 1946:
</p>
<blockquote>
  Metskonna kontori ruumid olid täiesti korras – lauad linadega kaetud, neil paberid korrapäraselt laotud, põrandad
  puhtad, akendelt ja seintelt tolm pühitud jne, kuid kontori esimeses ruumis, kus istub raamatupidaja ja asjaajaja ning
  kus viibib päeva kestel kõikse rohkem rahvast olid sm sm Lenini ja Stalini pildid kaetud paksu tolmukorraga ja täiesti
  ämblikuvõrkude sisse kasvanud. Sm Lenini ja Stalini portreede taga oli nii paks ämblikuvõrkude ning tolmu kord,
  millest võis järeldada, et viimaseid oli pühitud pool aastat tagasi. Samas kohas kahe juhi portree alla oli riputatud
  seinaleht, mis oli sisustatud täiesti ebamaitsekalt, seinalehe juhtkirja osasse olid pandud stahhaanovlaste nimed
  koomiliste joonistega. Õige stahhaanovlane seda pilti vaadates tõesti võib sattuda pahasse meeleollu. Teiseks saadan
  teile joonise mis iseloomustab TK teenistujate meeleolu uue TK esimehe saabumisel. See karikatuur oli tehtud laua
  pappile järgmisel päeval. Kõik need ülalmainitud faktid ei ole juhuslikud vaid omavad teatud poliitilise tagamõtte.
  Palun informeerige sellest kõrgemalseisvaid instantse.
</blockquote>
<br />
<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/ragul_hirm.JPG" />
<p>
  <b>Kommunist Laidre</b>
  , kes saadeti EK(b)P otsusega talupidajatelt riigile saaki võtma:
</p>
<blockquote>
  Valla täitevkomitee esimees Ragul, Aleksander on 58 a vana ja halva tervisega. Tema arvates pidurdab eelkõige
  igasuguste ürituste nõukogulikku läbiviimist vallas reaktsiooniline element. Metsades varjab end veel bandiite, kelle
  käed on määritud nõukogude inimeste verega. Nende poolt toimepandud kuritöö ja ähvarused hoiavad paljuid võimelisi ja
  paremaid inimesi valla avangardist ja aktiivsest tööst vallas eemale. Sm Ragul ei kontrolli kõvakäeliselt vastuvõetud
  otsuste elluviimist. Tal endal on bandiitide vastu liiga suur hirm. Täitevkomitee istungiks ei leia ta kunagi
  sobivamat aega kui keskpäev. Muul ajal ei julgevat keegi vallas liikuda. Saboteeriva talupidaja Hellamaa Ida, kes ka
  eelmisel aastal oma norme ei täitnud tegime külanõukogus „pehmeks“. Teisel päeval täitis ta oma kartuli, villa ja
  toiduteravilja kohustuse riigi vastu.
</blockquote>
<br />
<p>
  <b>Partorg Liksmann</b>
  Sõmerpalust:
</p>
<blockquote>
  TK esimees ei suhtu oma töösse peremehelikult. Aseesimees viimasel ajal on sageli näha joobnud olekus, isegi töö ajal,
  samuti põllumajandusjuhataja asetäitja Eisen. Kes ei pea kinni töödistsipliinist, joob ja ei ilmu tööle, samuti
  varumisagent Palm istus töö ajal kõrtsis oma sõbra Leo Koostabiga, kes töötab T/K raamatupidajana. Valla komsorg Sikk
  Viktor iga päev on purjus – 9. mail oli korraldatud jooksu kross, komsorg Sikk oksendas tee peale, kus teised
  komnoored teostasid võidujooksu. 10. mail mina sain teada, et komsorg Sikk oli kõrtsus peksis akna klaasid puruks ja
  paugutas pistolist, siis mina sain kõrtsus nägema teda joobnud olekus, magas tooli peal, pistol oli avalikult külje
  peal ja vintpüssi najal magas.
</blockquote>
<br />
<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/somerpalu_48_1.JPG" />
<p>
  <b>Partorg Valusk,</b>
  Sõmerpalu valla järgmine partorg:
</p>
<blockquote>
  Valla TK tööliste distsipliin on lastud minna niikaugele, et on esile toonud rahava hulgas palju nurinat, valla
  teenistujad on olnud purjus töö ajal. Kuid on olemas ka selliseid tegelasi, kes ei taha alluda korrale, näiteks valla
  miilitsavolinik, komsorg ja veel mõned teised.
  <br />
  Praegust on Sõmerpalu valla aktiivis selliseid inimesi kes narritavad nõukogude võimu ja kes peletavad inimesi
  nõukogude võimust eemale. Sellised tegelased on Sõmerpalu valla miilitsa rajoonivolinik sm. Tikmann ja ELKNÜ
  vallakomitee sekretär sms. Ploom. Kõigi teiste ebanõukogulike käitumise hulgas esines selline juhus, kus Sõmerpalu
  valla rajooni volinik võttis valima tulnud kodanik Markvaldilt ilma loata hobuse ja peaaegu päev aega kihutas mööda
  valda ringi ise täiesti joobunud. Kui sm. Tikmann tuli valimise päeval valimise jaoskonda kus oli palju inimesi
  hääletamas siis sm. Tikmann käitus inimestega väga toorelt. Selle kohta on valla partei alg. org. teinud üksikasjalise
  informatsiooni Võrumaa miilitsaosakonnale. ELKNÜ vallakomitee sekretär sms. Ploom oli valimise päeva hommikust õhtuni
  joobunud. Ajal millal rahvamaja isetegevuse ringid esinesid kavakohaselt ettekannetega rahvale sms. Ploom oli selga
  pannud vanad riided ja olles paljajalu esines kaua rahva ees nagu kaabakas, aga mitte kui valla noorsoo juht ja
  organiseerija. Need on suured puudused, millele vaatab valla elanikkond väga halva pilguga.
  <br />
  Pole piisavalt parteilist kaadrit. Partei kandidaat sms. Gorski, kes töötab valla TK esimehena, kohtleb valla
  talupoegi väga ebarahuldavalt. Töötab nagu on tuju. Sms. Gorski ei pea mingisugust klassilist joont.
</blockquote>
<p>
  Partorg Valusk kirjeldas nõukogude miilitsat Kohlbergi:
  <br />
</p>
<blockquote>
  <p>
    Antsla miilitsa operatiivvolinik Kolberg on sageli joobnud, käib joobnud olekus Antsla linna toidubaaris
    toidulaudadel magamas ja võtab ka söökla kaasa koera. 27. mail 47. a oli jälle Kolberg joobnud olekus ning läks
    Antsla linna toidubaari, kutsus omale sülle ettekandjat, kuid viimane keeldus sellest, siis Kolberg võttis laualt
    teeklaasi ja viskas ettekandjale järele. Hiljem jäi magama toidulauale. Sm Kolbergile on mitmel korral tehtud
    puhtusekomisjoni poolt märkus, kuid viimane ei mõtlegi reageerida sellele. 1. mail enne rongikäiku minekut Kohlberg
    lõi Antsla Linna TK esimeest sm Tsainikovi, mida nägi hulk rahvast. Kuhi seda ise ei näinud, kuid temale rääkis
    esimesena lihapoe müüja Lebetev. Kolberg on sõitnud Antsla kooperatiivi autoga viina järele tegelikult, kuid küsib
    autot, õigemini käsutab autot haarangule. Nüüd on andnud korralduse, et ilma tema (Kolbergi) loata ei tohi auto
    välja sõita. Samuti miilits Ermel joob ja ei käitu nii nagu nõukogude miilits, võttes ise kaklustest osa, aga ei
    likviteeri neid
  </p>
  <p>
    Linnamäel Ala-Põdral mõrvas see miilitsavolinik Kolberg (Kohlberg) 6. juulil 1946 endise konstaabli Harri Halleri
    (Haldma). Tulistanud Hallerile tema koduõuel valangu jalgadesse, lasi ta abi hüüdval mehel piinarikkalt aeglaselt
    verest tühjaks joosta. Laip maeti tapmiskoha lähedale metsa.
  </p>
</blockquote>
<p>
  <b>Olud suurküüditamise eel ja järel.</b>
</p>
<img class="lg-img image-right" src="/images/sangaste/dokumendid/kolhoosid _vaabina 1948.JPG" />
<p>
  Suurküüditamise eel koostas nõukogude võim nimekirju "kulakute kui klassi hävitamiseks" ja ülejäänud inimeste, koos
  oma varaga, sundimiseks kolhoosi. Venemaa aladelt saabunute sõnul tähendas kolhoosikord nälga. Selle varjamiseks
  nõudsid parteitegelased, et need inimesed eraldataks kohalikest või aetaks minema.
</p>
<p>
  1948. aastaks oli metsa jäänute vastupanu kestnud juba 4 aastat. Metsavennad vajasid teavet nii mujal maailmas toimuva
  kui paiksete olude kohta. Selleks hoiti sidet üksteise, sõprade, sugulastega. Ants Aunver lõi 1948. a kontakti Jaan
  Heljustega, varasema KL Võrumaa ülemaga, kes elas Kuigatsi vallas Võitja talus. Aunver hankis Heljuste talu ümbritseva
  teedevõrgu kaardi ning käis tal külas. Insuldi järgse osalise halvatuse tõttu liikumisvaevustega Jaan Heljustelt said
  mehed nõu, moraalset tuge ja teateid maailmas toimuvast.
</p>
<p>Heljuste osutab hiljem metsavendade tegutsemistavadele:</p>
<blockquote>
  <ul>
    <li>Riigiasutuste röövimisega katavad nad oma salga vajadused söögi, jalanõude ja riiete osas.</li>
    <li>
      Osa saadud saagist kasutatakse nõukogudevastase tegevuse eest vangi mõistetud inimestele materiaalse abi
      osutamiseks ja laagris karistust kandvate eestlaste abistamiseks. /toiduaineid ja riideid saadetakse pakiga
      laagritesse/
    </li>
    <li>Osa saagist antakse metsavendade sugulastele ja abilistele, tänuks nende abistamistöö eest.</li>
    <li>
      Ülejaavad toiduaineid ja muud röövitud kraami jagatakse teiste metsavennagruppidega, kes on passiiivsemad ja rööve
      ei korralda
    </li>
  </ul>
</blockquote>
<blockquote>
  HL: Ants Aunver ja Johannes Heeska ütlesid, et on aidanud röövitud kraamiga Komi ANSV-se saadetud arreteerituid, nad
  saadavad sinna pakke oma sõbrale August Püvile, kes koos õega on arreteeritud, samuti teistele arreteeritutele. Ants
  Aunver ja Johannes Heeska ütlesid, et nendel on ülesanne kõigi Siberisse saadetud eestlaste eest kommunistidega arved
  õiendada. Salga liikmeid olevat neil päris palju ja nad elavad metsas punkrites ning kui vaja, kogunevad kokku ja
  tegutsevad ühiselt. Nad rääkisid, et neil on ühed punkrid, kus nad elavad ja teised, kus hoiavad kraami. Palju neil
  punkreid kokku on, seda nad ei öelnud. Nende tegevus on kättemaksuks eesti rahva kannatuste eest, nende eestlaste
  eest, kes kannatavad vanglates ja laagrites ja samuti isiklike kannatuste eest, kuna nõukogude võimu ajal ei lasta
  neil oma kodudes rahus elada, vaid nad on sunnitud end metsades varjama.
</blockquote>
<p>Johannes Heeska sõnastatud lähtekoht:</p>
<blockquote>
  Meie meelest nõukogude kord röövis paljaks meid, st rahvast, ja meie, metsavennad, röövisime selle riigilt tagasi. Sel
  põhjusel ei suhtunud metsavennad kaupade ning või äravõtmisse mitte kui röövidesse, vaid kui neilt endilt röövitu
  tagasi võtmisse.
</blockquote>
<blockquote>
  LH: Ants Aunver rääkis, et Jaan Heljuste on väga hea inimene, alluvatesse Kaitseliidus suhtus ta hästi ja kõik
  austasid teda. Heljuste on ka väga haritud inimene, jagab hästi rahvusvahelist olukorda, oskab kõigist paremini
  tõlgendada ajalehtes ilmuvat ja võib ära tunda puhkeva uue sõja.
</blockquote>
<blockquote>
  LL: Rahvusvahelisest olukorrast rääkis Heljuste, et mingeid teisi andmeid peale ajalehtede tal ei ole. Selle põhjal,
  mis ajalehed teatavad, arvab ta, et praegusel hetkel mingeid eriti huvitavaid sündmusi ei toimu, olukord on rahulik ja
  lähemal ajal mingit lootust uuele sõjale NL vastu ei ole. Midagi võib oodata sündmustest Saksamaal või Kreekas, kui
  seal olukord muutub raskemaks ja suhted Anglo-Ameerika bloki ja NL vahel muutuvad halvemaks. Siis võib avaneda
  võimalus, et uus sõda puhkeb. Kuulsin pealt metsavendade juttu, et nad varjavad end seni, kuni puhkeb sõda ja
  liitlasvägede abil kehtestatakse Eestis kodanlik kord. Siis algab neil vaba elu. Nõukogude võimule nad alla ei anna.
</blockquote>
<blockquote>
  AA: Võtsin ühendust, et küsida temalt nõu edasise nõukogudevastase tegevuse kohta ning rääkida mõnedel poliitilistel
  jm teemadel. Olin sel ajal veendunud peatselt puhkevas sõjas NL ja kapitalismimaade vahel. Vahetasime Heljustega
  arvamusi selle kohta, kuidas saaks sõja puhkemisel ühendada Nõukogude Liidu vastu need jõud, kes on valmis
  demokraatliku Eesti taastamise eest välja astuma. Heljuste avaldas arvamust, et minul ja teistel metsavendadel tuleb
  jätkata varjamist nõukogude võimuorganite eest, et säilitada jõudu edasiseks võitluseks kodaniku korra eest. Heljuste
  ütles, et sõja korral võib ta esineda üleskutsega maakonna elanikele ja kutsuda üles võitlusele nõukogude võimuga.
  Vestluses Heljustega avaldasin mõtet, et vaja oleks ühendada erinevate salkade tegevus tol ajal, so 1948. a.
</blockquote>
<blockquote>
  LJ: Heljuste Jaan oli varem Eesti armee polkovnik ja Võrumaa Kaitseliidu ülem, mehed kiitsid teda kui väga head
  ülemust. Heljuste ütles neile, et mingil juhul ei ole vaja metsast välja minna, vaid diversioonitööd on vaja jätkata.
  Ta ütles, et metsavennad tegutseksid vastavalt oma äranägemisele, nagu ise vajalikuks peavad, kuid rõhutas, et röövida
  võib vaid kroonu- ehk riiklikku omandit, kohalikku elanikkonda röövida ei tohi.
</blockquote>
<p>
  Heljustega oli arutlusel ka küsimus, kuidas käituda jõhkrat võimu kehtestavate TK esimeeste ja partorgidega. Eelistati
  hoiatamist ja ähvardamist, et vähendada nende pealekaebusi Julgeolekule ning inimeste kandmist „Saksa käsilaste“ ja
  „kulakute“ nimekirjadesse.
</p>
<p>
  <b>Ühendus teiste metsavendadega ja liikuvus</b>
</p>
<p>
  Ants Aunver oli suhtlejana vaoshoitum, Johannes Heeska seevastu väga suur suhtleja. Heeska pidas sidet metsavendade ja
  abilistega Koorastest ja Sõmerpalust, Urvastest ja Linnamäelt, Sangastest ja Antslast.
  <br />
  Sagedamini kohtuti Robert Heeska, Kalju Visnapuu, Feliks Hõbe, Artur Tellinguga, kes varjasid end punkrites Uhtjärve
  ümbruses Urvaste vallas, samuti Valter ja Edgar Jeegeriga Osulas. Johannes Heeska pidas sidet Kooraste metsavendadega
  ja oli enda sõnul valmis ühe naisterahva vahendusel kohtuma Ants Kaljurannaga (Hirmus Antsuga). Kohtuti sõprade,
  sugulaste ja teiste varjajatega, koos korraldati varustamist ja varjamist. Kui varjamispiirkond polnud parajasti
  operatiivlöögi all, käisid metsavennad ringi üsna avalikult ja varjamatult. Sõideti kaugemalegi: käidi Tallinnas,
  Tartus ja Elvas (ühe tunnistuse järgi olevat käidud isegi Leningradis panka röövimas, mis paraku ei ole usutav).
  Raudteesõidu loa hankisid nad Urvaste miilitsavolinikult Veskelt, kes oli Johannes Heeskaga heades suhetes. Võrus
  ravis mehi Kõre nimeline arst, kes oli valmis neid vastu võtma igal ajal, samuti olid neil tutvused Elva medõdede
  hulgas, kellelt said ravimeid.
</p>
Liiguti eri piirkondade vahel:
<blockquote>
  MA: Detsembrikuus 1947 tulid ühel õhtul minu talu juurde kaks tundmatut meest, mängisid akna all akordioni. Mõlemal
  olid ümmargused soome mütsid halli õmblusega. Nad tulid tuppa, võtsid pudelist viina ja mängisid umbes tund aega
  akordioni. Akordioni mängides nad laulsid ja naersid. Nägupidi olid mehed mulle võõrad. Ütlesid, et tulevad kaugelt ja
  lähevad Räpina poole. Kui nad laulsid, siis ma küsisin, kes nad sellised on. Nad ütlesid, et ei jää kauaks ja peavad
  varsti edasi minema, sest nad on kahtlustatavad mehed. Jõulud pidavat nad vastu võtma Lätis, kuid lubasid, et kunagi
  tulevad jälle meie tallu. Ma ütlesin neile, et mis kahtlustatavad te ikka olete, tavalised relvadeta inimesed.
  Tundmatud vastasid, et relvad neil siiski on, portfellis. Portfell oli lühema mehe käes. Akordionil mängis pikk mees.
  Rohkem neid mehi minu tallu pole tulnud.
</blockquote>
<p><b>Ühendus abikaasa ja sugulastega</b></p>
<div>
  Ants Aunver hoidis 1944. a Tallinnasse siirdunud abikaasaga sidet nii kirja kui harvade kokkusaamiste teel. 1946. a
  jooksul kohtusid nad mitmel korral.
  <blockquote>
    SA: Külastasin teda kui oma abikaasat, ta kutsus oma kirjades mind Tallinnast enda juurde, teadsin, et ta varjab end
    ja tahtsin olla temaga koos, kohtuda, sõitsin tema juurde ja olin seal kogu päeva. Illegaalses olekus Ants Aunveriga
    ma kohtusin Johannes Heeska talus ja Luksepp Jaani talus, samuti metsas kindlaksmääratud kohtades. Vahel sain Ants
    Aunverilt kirju teise inimeste kaudu või posti teel. Viimane kohtumine oli meil novembris 1948 Pühajärve vallas
    kindlaksmääratud kohas.
  </blockquote>
  Aunver kirjutas kevadel varjunime all oma naisele:
  <blockquote>
    Ma elan hästi, kõike jagub, kui O või N sulle külla tuleb, siis ütle, millest sul puudus on ja ma muretsen. Ise
    tulen Sinu juurde, kui lehed tärkavad puudel ja teed kuivavad, siis on liikumiseks paremad tingimused, tervitustega
    tädi Anna.
  </blockquote>
  <p>
    1948. a lõpu ja 1949. a alguse massiline vangistamine ja järgnenud märtsiküüditamine katkestas metsavendadel
    otsesuhtluse lähisugulastega aastateks. Abi ja tugi sõltus järgnevail aastail võõraste inimeste vastutulelikkusest
    ja nende julgusest trotsida oma elu hävimise ohtu. Usaldus sai ellujäämise küsimuseks.
    <br />
    Otsesuhtlemine Siberi vangistusest saabunud sugulastega taastus Ants Aunveril 50-ndate keskel, kui Aunver elas juba
    Kose vallas vale nime all. Samas olid sugulased Julgeoleku jälgimise ja surve all ka pärast Siberist naasmist
    50ndate teisel poolel.
  </p>
  <b>Varjamise lõpuaastad.</b>
  <p>
    Varjamise viimasel perioodil 1953-1958 tundub väheste ellujäänud ja vangi langemata metsavendade omavaheline suhtlus
    peaaegu olematu. Elukaaslased olid vähesed, kes nende minevikust teadsid ja tulevikule kaasa elasid. Ümbritsev
    ühiskond proovis lõhutud elukorraldust trotsides taas jalgu alla saada ja muutunud oludes toime tulla. Ants Aunver
    koondas oma mõtted mõistuspärasemast elukorraldusest anonüümkirja, mille läkitas 1958. a märtsis Hruštšovile.
    Stalini surmast oli möödunud juba 5 a ja isikukultus koos suure terroriga parteis hukka mõistetud. Terrorile vastu
    hakanud inimesed kuulusid aga jätkuvalt vangistamisele või hävitamisele.
  </p>
</div>
