<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Olud</h1>

	<div class="p">
	1944. a august – rinde üleminek ja Vene võimu taastamine. Punaterror asus taas hekseldama  Eesti elanikkonda.
	<br>
	Sõda kestis, 1944. a lõpus kuulutati Eestis taas välja sundmobilisatsioon Punaarmeesse. Maailma poliitiline ja sõjaline olukord oli heitlik.</div>
<div class="p">Metsadesse kogunes järjest enam deserteerunud mehi mõlema poole sõdivatest armeedest ja mobilisatsiooni vältijaid kodudest. 
<br>
Arreteerimine ohustas taas suuri inimrühmi: Eesti varasemate poliitiliste parteide liikmed, politseinikud ja omavalitsustegelased, kaitseliitlased ja omakaitselased, vanglatöötajad, Saksa sõjaväkke mobiliseeritud ja Vene armeest deserteerunud jpt.		
<br>
Varjamata oli võimalik elada vaid nõukogude isikutunnistust omades, mille taotlemisel eeltoodud rühmadesse kuulunud inimesi ähvardas vangistus. Dokumendikontroll oli pidev nii linnades kui maal. 		
<br>	
Varjajaid arreteerides ja neid haarangutes tappes keelitas võim samal ajal mehi relvi loovutama ja legaliseeruma. Legaliseerimisele ilmunud pidid sundkorras asuma koostööle nõukogude võimuga ja neid püüti ähvardustega rakendada nuhkimisel ja üles andmisel. Üksjagu legaliseeruda üritanud mehi varjus seetõttu uuesti. 	
	</div>
<div class="p">
Taaselustatud maareformiga tükeldati talumaad uusmaasaajatele. Taluperede juurde mahitati elama võõrad uusmaasaajad, kellelt nõukogude võim nõudis vastuteenena pererahva jälgimist ja keele kandmist. 
<br>
Kohaliku võimu etteotsa tõi nõukogude võim kriminaalse minevikuga tegelasi, kes asusid haarangute kattevarjus elanike vara riisuma ja endale kandma. 
<br>
Üheks näiteks oli  Linnamäe Täitevkomitee esimees August Tiitus, keda kohalikud teadsid kui hobusevarast ja kindlustuspetturit. Oma Linnamäe TK esimehena esitatud eluloos 28. jaan 1945 kirjutas 1 klassi haridusega Tiitus oma minevikust, et läks mais 1919 üle rindeliini vabatahtlikult Punaarmeesse teenima, novembris 1919 langes valgekaartlaste kätte vangi, kust ta lasti kuu aja pärast koju. 
</div>	
<div class="quote">1940. a ja kuni 1941. a pitasin oma ruumites punast nurka ja lukemis lauta, mille pärast mind ka areteriti. See oli 11 juulil 1941. a. ja paigutati Võru vankla, kus olin Punaarmee tulekuni. </div>

<div class="p">Üks suurem metsavendade rühm kogunes 1945. a Keretü sohu, kus otsiti koostöö võimalusi metsavendadega ümbritsevatest piirkondadest (Rõuge ja Tartumaa salgad). Keretü soo meestel (nn Lükka ehk Nursi punkris) oli ka raadiosaatja. </div>

<div class="p">Detsembris 1945 üle kuulatud PA:</div> 
<div class="quote">Juunis 1945 küsis Avo Pruus minu talust möödudes, kus on Lukk ja Heeska. Ütlesin, et nad elavad Keretusoos Sõmerpalu vallas. Pruus ütes mulle, et neil on seal soos punkrid. Pruus ütles, et punker Keretusoos asub mingi pere kolme talu lähedal, ei tea muud, kui et neil on kõigil kolmel üks nimi.</div>

<div class="quote">AA: Kord Saksa okupatsiooni ajal sõitsin Võrust oma koju Kurenurme. Kohtasin rongis juhuslikult Pruusi, Keemi, Lukku ja Musta. Nende jutust ilmnes, et neil oli kaasaskantav raadiojaam ja ja nad sõitsid Tallinna. Pärast sakslaste lahkumist end varjates kohtusin Linnamäe elaniku August Ottaniga. Ta rääkis, et nõukogude vägede tungimise ajal Võru valda 1944. a Richard Keem /kas peaks olema Harald?/  ja Must töötasid August Ottani talu lähedal (Hansi külas) üles pandud raadiojaamas. Ottan rääkis, et  lähedal lõhkes nõukogude mürsk, mis sundis neid kohta vahetama.</div>
<div class="p">W.Churchilli kuulsa Fultoni kõne peale Raudse eesriide langemisest Ida-Euroopas andsid piirkonna metsavennad võimudele oma ühisvastuse, näitamaks, et et võitluse ja vastupanuta end alistada ei lasta. 13.03.1946, nädal pärast kõne levimist, hõivas metsavendade mitmekümne meheline ühendsalk vallakeskuse Osula ja hoidis seda terve päeva vältel enda valduses, saates väljapoole sõnumi, et Osulas nõukogude võim ei kehti. Õhtu eel lasti nimekirja alusel maha kogu kätte saadud paikne punaaktiiv, kokku 13 inimest. Tapetutest kahe, nuhi ja hävituspataljonlase, kerest leiti kümneid kuule, tapetute seas oli ka üks teismeline. </div>
<div class="p">Kõik poliitilise värvinguga vastuhakuilmingud registreeriti Julgeolekus.</div>
<div class="p"></div>
<div class="p"></div>
<h3>JULGEOLEKU POOLT ÄRAMÄRGITUD  JUHTUMID JA KOKKUPÕRKED 1945-1946</h3>
<div class="p"></div>
<div class="p"><b>5.02.1945</b> jäi kadunuks TK esimees August Tiitus
<br>
<b>25.07.45</b> röövisid tundmatud Sõmerpalu vallas Sulbis kooperatiivi varustuspunkti, kaasa viidi 3 kasti mune
<br>
<b>17.08.45</b> tulistati Sõmerpalu jaama lähedal NKVD operatiivvolinikku n ltn Tšamkajevit
<br>
<b>18.09.45</b> Sõmerpalu vallas tulistasid metsavennad 22. sisevägede laskurdiviisi võitlejate gruppi, haavati 2 võitlejat, 1 jäi teadmata kadunuks.
<br>
<b>15.10.45</b> rüüstati Sulbi k/n 
<br>
<b>15.10.45</b> tulistati metsast hävituspataljonlasi Roots Heinot ja Rosse Antsu, kes surid 
<br>
<b>26.10.45</b> tappis julgeoleku operatiivgrupp Järvere mõisa juures Sõmerpalu vallas Hamburgi elaniku Voss Hans Juliuse p, s 1914. Samas rajoonis avastati uus ehitatud ja varustatud  punker.
<br>
<b>5.11.45</b> rünnati Sõmerpalu vallas Paasi talus Javorski Feodorit, kes tapeti
<br>
<b>6.12.45</b> rünnati Sõmerpalus Männa? talu, kus tapeti Potter Aleksandr ja selle poeg Potter Richard
<br>
<b>22. 12.45</b> Linnamäe vallas tapsid metsavennad  ltn Schmidt Adolfi ja Ader Hedvigu. 
Öösel sisenesid 3 Punaarmee vormis meest korterisse, kus viibisid Punaarmeest puhkusele tulnud Ader Hugo ja Ader Hedvig ning koos temaga ltn Šmidt. Sissetulnud võõrad kontrollisid nende dokumente ja kottide sisu. Leitnant ja Ader Hedvig käsutati riidesse ja õue, kus neil lasti avada aidad ja küünid, kus tundmatud tegid läbiotsimise. Ülejäänud toasolijaist kedagi õue ei lastud. Võõrad viisid talust kraami minema. Ader ja Šmidt leiti hiljem kohapeal mahalastutena. 
<br>
<b>28. 12.45</b> langes Keretü soos asunud Lükkä punkrile tehtud haarangus 9 metsavenda: Harald Keem, Viktor Lukk, Vambola Lukk, Arnold Kuus, Mihkel Lõhmus, Henn Pihlapuu, Edgar Raudsepp, Kalju Rebane ja üks tundmatu metsavend. Põgenema pääsesid Arnold Ottan, Kristjan Tuvikene ja Erich Sepp. Punkrielanik Kalju Kirbits oli jõuluks lahkunud koju Viitina valda.
<br>
<b>25.01.46</b> tegi enesetapu Julgeolekusse kordusülekuulamisele kutsutud Vaabina kooli direktor A. Leok. 
6. dets 1945 oli Leok tunnistajana Harri Verevi vastu kutsutud Julgeolekusse. Leok eitas Verevile Nagaani andmist kategooriliselt. 23.1.46 nõudis Julgeolek teda taas ülekuulamisele ja vastandamisele. 25.1.46 kell 3 öösel lahkus ta oma kodust Antsla jaama suunas, et sõita rongiga Võrru ülekuulamisele. Pärastlõunal leidis naine mehe kodusaunast pooduna. Naise kinnitusel olevat mees viimase viie aasta jooksul talle korduvalt öelnud, et kui poleks naist ja tütart, ei tahaks ta siin ilmas enam elada.
<br>
<b>25.01.46</b> ründas Urvastes 10 liikmeline salk Urvaste k/n, osa ründajatest olid nõukogude armee ohvitseride mundris. Tapeti valimiseelses kampaanias osalenud ltn Polujektov ja 4 nõukogude aktivisti. Haavati hävituspataljoni jaokomandöri Haugi. K/n võeti lahkudes kaasa rahvakaitsele kuulunud relvad, raadioaparaat ja telefon. 
<br>
<b>10.02.46?</b> Rünnati Võru rajoonis valimisjaoskonda, tapeti ja haavati mitmeid inimesi? /sellekohane küsimus esitati August Kängsepale ülekuulamisel/
<br>
<b>18.02.46</b>  ründasid metsavennad Urvastes hävituspataljonlase Rudolf Tammemägi talu, kus elas hävituspataljonlane Kiidron Rudolf. Kiidroni tuppa visati graanaat, püüdes seda granaati tagasi visata, lõhkes see Kiidronil käes, vigastades kätt ja jalgu. Rünnakul sai tulistamises haavata ka üks metsavend.
<br>
<b>8.03.46</b>  (ühes kohas 24. märts) Uue-Antsla meierei ja piiritusetehase rööv (piiritusetehast rööviti ka 25. jaan 1947)
Algatajad olid Kooraste metsavennad Hann Helbre ja August Hallap, Koorastest oli 6-8 inimest. Kokku oli osavõtjaid 13, teiste hulgas Robert Heeska, Kalju Visnapuu, Feliks Hõbe. Võitehase juurde sõideti 6 hobusel. Valvuritele esitleti end julgeolekutöötajatena. Ära viidi 382,5 kg (12 kasti) koorevõid ja 1400 l (2969 rbl 72 kop eest) piiritust.
</div>
<div class="quote">Kesköösel koputati uksele. Ma kohe ei avanud ja sain aru, et väljas lõhutakse telefoniliini. Seejärel koputati veel tugevamalt. Läksin ukse juurde ja küsisin: kes koputab? Mulle vastati: piiritust on vaja. Nad lubasid ukse lõhkuda ja ise sisse tulla. Ehmusin ja tegin ukse lahti. Sisse tulid relvastatud mehed. Relva ähvardusel läksin viinakeldri juurde, u 100 m mu elumajast. Nägin, et ühel uksel oli lukk eest murtud, teise avasin võtmega ise. Sees hakkasid nad mult nõudma anumaid, kuhu piiritust valada. Kohe leidsid nad ise nõud, valasid need täis ja kandsid õue. Üks neist ütles, et rohkem pole vaja võtta, võtsime juba küllalt. Mind viidi majja tagasi ja hoiatati, et ma kella kaheksani hommikul kuhugi ei läheks. Kui lähen, läheb mul halvasti. Hommikul läksin põllumajandustehnikumi ja helistasin juhtunust miilitsasse, varsti sõitis miilits sündmuskohta uurima. Piiritust võeti u 2500-3000 liitrit, täpselt ei tea. Piiritusetehase sisustust nad ei lõhkunud. Kui palju neid oli, ma ei tea, tuppa tulid 4 inimest, mõned jäid õue. Relvadeks olid neil vintpüssid ja automaadid. Jah, samal ööl võeti ka võitehasest võid. Võitehas ja piiritusetehas asuvad ühe katuse all. Nad rääkisid eesti keelt.</div>
<div class="quote">Uue-Antsla võitehase juhtaja 1944-1947 LA: Nägin õuel 5-6 vankrit, kui palju oli inimesi, ma ei tea. Magasin juba, kui kuulsin õues hääli. Naine avas ukse ja röövlid tulid tuppa. Osa neist tulid läbi katkilöödud koridoriakna. Naiselt nõuti võitööstuse võtit, et kui ei anna, viskavad granaadi korterisse. Andsin võtme, nad käskisid mul endile järgneda. Õues võikeldri juures nägin kolme sõjaväevormis meest. Nad avasid võtmega ukse ja kandsid või vankritesse. Vanker täis laaditud, sõitsid nad minema. Mind hoitatati hommikuni toast lahkumast. Hommikul läksin piiritusetehasesse helistama, kuid telefoniliin oli lõhutud.Võid võeti u 100 kg. Ise nägin 3 röövlit, kui palju neid kokku oli, ei tea. Piiritusetehast rööviti vaid üks kord.</div>
<div class="p">Piiritus viidi minema 40 l kardadega, karrad maeti peidukohtades maha. </div>
<div class="quote">KR: 1947. a suvel näitasid Hõbe ja Visnapuu mulle kohta, kus neil oli üks piiritusenõu, sealt ma tõin neile piiritust. Samuti rääksid nad, et üks piiritusenõu on neil maha maetud Linnamäe Eesti surnuaeda, aga sealt nad piiritust ei võta, kuna see koht olevat võimude jälgimise all.</div>
<div class="p">
<b>13.03.46</b> Kümnetest metsavendadest koosnenud (hulgas ka 2 naist) ühendsalga väljakutsuv alistumatuseakt -  rünnak nõukogude võimu vastu vallakeskuses Osulas. Selle käigus tapeti kogu kättesaadud punaaktiiv: külavolinik, maksuinspektor, varumisagent, rahvakaitselane, TK esimees ja asjaajaja jt. Punased pealekaebajad Rossed ja hävituspataljonlane Leevold olid surnuks tulistatud kümnetest kuulidest, ülejäänud olid tapetud paari lasuga, TK esimeest oli susatud noaga. Tapetud oli ka üks teismeline. Miilitsavoliniku ruumist võtsid ründajad kaasa 2 hävitajate ehk Rahvakaitse kergekuulipildujat, 2 automaati ja 3 vinti. Ründajad hoidsid asulat enda käes kogu päeva vältel, hommikul kl 6 kuni õhtul 19.30-ni, kusjuures sündmustesse sattunud EKP keskkomitee volinik Tallinnast saadeti võimudele teatama (põhjendades: sina pole meile midagi kurja teinud), et Osulas nõukogude kord enam ei kehti. See žest kajas ärevalt võimukoridorides Tallinnast kuni Moskvani.
<br>
Tapetud Rossed olid innukad inimjahtijad ja pealekaebajad:
 <div class="quote">Minu vend Rosse Heini Friedrichi pg käis minul külas Klooga sõjaväelaagris 1945 sügisel, siis vend rääkis minule, et meie käisime Ülenurm Johannest otsimas, kes varjab end metsas, kuid kätte meie teda ei saanud. Terroristide hulka kuulus ka arvatavasti Ülenurm Johannes, kuid täpsemad andmed tema osavõtu kohta nimetatud mõrvamisest puuduvad, kuna mina ei elanud sel ajal Sõmerpalus.</div>

<div class="p"><b>1.04.46</b> toimus 7 tundi kestnud julgeoleku rünnak Määritsa (Hindriku) talule Sulbis, kus julgeolekusõdurid piirasid ja põletasid majja sisse talu elanikud koos metsavendadega: Marta Määritsa, Liina Sillamaa, Erna ja Osvald Tatriku, Avo Pruusi, Karl Heeriku ja ühe tundmatu. Piiramisest väljamurdmiskatsel langesid Aksel Pallav ja Kalju Tiits.
<br>
<b>26.04.46</b> öösel vastu 27. ründas Julgeoleku operatiivgrupp esmase teate kohaselt Sõmerpalu vallas Koidu külas Niidu talu, tappes 4 inimest: Heerik Karli 25-27a Sõmerpalu elaniku, Torop Samuili 50-55a Sõmerpalu Niidu talu peremehe, Torop Kalju Samuili p 25-26 a  Sõmerpalust ja ühe tundmatu. 4 tundi kestnud lahingu käigus talu süüdati ja kõik alistumatud põletati sisse. 
<br>
Eeltoodud teade osutus hiljem vigaseks. Talu nimi oli Koidu talu. Karl Heerik oli langenud juba varem, Määritsa talus toimunud 7 tunnises lahingus 1.04.1946, kus inimesed põletati sisse. Kalju Torop ei hukkunud Koidu talus, vaid pääses sellest lahingust põgenema ja arreteeriti 11. 07.47. Langenute õiged nimed: peremees Samuel Torop, soomepoiss Arkadi Hanschmidt s 1926, Villi Kupp s 1925 ja Kalju Täht.
<br>
<b>26.04.1946</b> röövisid metsavennad Uue-Antsla võitehast.
<br>
<b>5.05.46</b> võeti agent „Hutorskoi“ teate peale kl 1 öösel Raudsepa talus  Sõmerpalu vallas kinni Avo Pruusi salgast Oras Mihkel Pauli p ja Männiste Harald Pauli poeg, arreteeriti talu peremees Männiste Olev.
<br>
<b>19.06.46</b> püüdis MVD sisevägede 138 polgu üksus kinni pidada Hallap Augustit Tikerpuu salgast. Viimane osutas relvastatud vastupanu ja tapeti. Ära võeti püstol Walther ja granaat F-1 ning 1 padrun püstolile.
<br>
<b>20.06.46</b> võeti Sõmerpalu vallas kinni Savi Eduard, kes oli 1945 deserteerunud Eesti korpusest  ja varjanud end sellest ajast koos metsavendadega. Võeti ära püstol TT ja sellele 15 padrunit.
<br>
<b>6.07.46</b> tapsid Antsla RJM operatiivpunkti ülem n ltn Kohlberg /vene kirjapildis Kohberg/, rahvakaitselased Joakit ning Väljastu piinarikkalt politseikonstaabel Harri Halleri. Päevasel ajal varitsesid nad Ala-Põdra talu ümber Linnamäel, mis oli vendade Hallerite kodu. Ala-Põdra talu lähedases punkris varjasid end Harri Haller (Haldma) koos naise Helmiga, Hödrejärv ja teisi metsavendi. Jaoülem (komandir vzvoda) tulistas Harri Haldmale automaadivalangu jalgadesse ja appi hüüdval mehel lasti pikaldaselt verest tühjaks joosta. Harri Halleri laip aeti kodulähedases metsas auku.  
<br>
<b>18.07.1946</b> ööl vastu 19. rööviti Linnamäe kooperatiivi. Valve puudus ja hävituspataljoni komandör Lepistu Rudolf sai võimudelt hoiatuse ja ähvarduse vastutusele võtmisega.
<br>
<b>19.07.46</b> kl 7 hommikul röövis 4-5 liikmeline rühm relvastatud isikuid, kellest üks oli punaarmee vormis, Linnamäe kooperatiivi, kust viidi viina, komme ja u 20 pakki paberosse. Kauplust valvama pidanud hävituspataljonlane Veski August oli haige ja vahipostil ei viibinud.
</div>
<div class="quote">kl 7 hommikul sai Linnamäe partorg Teplenkov Jaan teate kooperatiivi röövimise kohta, röövijad liikusid Urvaste suunas. Seda märkas kaupluse majas elanud Siivak Erna, kes teatas töötajale Tuhkur Annele, viimane omakorda rahvakaitselasele Värtman Kaljule, kes oli valves Linnamäe TK juures ja kes kandis ette partorg Teplenkovile. Viimane kutsus oma initsiatiivil kaasa 2 hävituspataljonlast ja miilits Raudsepa, kes oli kodus puhkusel, ning organiseeris jälitamise. Jälitanud röövijaid u 4-5 km Linnamäe TK-st, märkasid nad metsas küüni, milles kuulsid jutuhääli. Hävituspataljonlased soovitasid partorgil loobuda kohapeal isepäi tegutsemisest, teatada miilitsasse ja Rahvakaitse staapi, kuid partorg,  oletades, et bandiite oli vaid 2, otsustas küüni umber piirata ja röövijad kinni võtta. Partorg saatis Raudsepa minema ümber küüni, jäädes ise kahe rahvakaitselasega olukorda jälgima. Samal hetkel väljus küünist Punaarmee ohvitseri mundrit kandev mees, pudel viina käes, ja sammus ümber küüni liikunud Raudsepa suunas, kes oli seisatanud end varjamata küünist 40 m kaugusel. Tundmatu läks talle päris lähedale, võttis tal vintpüssi käest ja tulistas teda teises käes olnud püstolist. Läks lahti tulevahetus, küünist avati automaadituli rahvakaitselaste pihta. Vasakusse kätte haavata saanud partorg käskis kahel hävituspataljonlasel taganeda. Samal ajal jooksis küünist välja 4 tundmatut automaatidega relvastatud meest, kes heitsid küüni lähedusse pikali, jätkates tulistamist. TK-sse tagasijõudnud, teatas Teplenkov  juhtunust miilitsasse. Sõit sündmuskohale tulemust ei andnud. Metsavennad olid lahkunud, jättes oma toidu küüni maha. Küünis prahi alt avastati tapetud militsionäärile kuulunud Saksa vintpüss. Raudsepa laip lebas 40 m nimetatud küünist, kuuliaukudega paremas käsivarres ja peas. Uurimine tulemusi ei andnud. Linnamäe valla agentuurile anti käsk bande liikmed ja asukoht kindlaks teha.</div>

<div class="p"><b>29.07.1946</b> vastu 30.07 Tsooru kaupluse rööv
<br>
Kaupluses käisid Johannes ja Robert Heeska. Feliks Hõbe, Karl Pommer, Karl Kuus, Helbre e „Tarzan“, Hallap e „Pakan“ ja Hallapi õde „Lea“ ehk „Miki“, Alfred Hein ja veel mõned Koorastest. Tsooru elanik Raivo Must kohtas röövilt tagasi suunduvaid metsavendi u 1 km Tsoorust Viirapalu poole. Üks oli rattaga, teised vankril ja mõned jalgsi, kokku 9-10 in. Nende hulgas oli ka naine. 
<br>
Pommer käis eelnevalt kaupa üle vaatamas. Kaupluse juurde jõudmiseks ületati Mustajõe Vaabina ja Tsooru valla piiril. Kauplusest viidi kaasa sokke, käisteta sviitreid, nahka, lõhnaõli, odekolonni, suhkrut, kõige rohkem kommi. Kraam viidi vankritel Mustajõe sohu, kus jagati laiali. Kahju: 11863 rbl. 
<br>
Tsooru kaupluse juhataja Ruudi Palu:
<div class="quote">Juunis või juulis 1946 kl 24 00 koputati aknale. Tõusin üles ja mulle öeldi, et avage, riiklik kontroll. Ütlesin, et ma öösel ei ava kellelegi. Minu korter oli kaupluse kõrval. Aken lõhuti ja öeldi, et kui ei ava, viskame granaadi sisse. Olin sunnitud kaupluse ukse avama. Seitsmendana sisenes tüdruk keda nad kutsusid Marusjaks. Mulle suunati kohe automaat ja öeldi, et sinu kommunisti laseme maha. No ei lasknud, võtsid hoopis vahi alla. Taskulambi valgel hakkasid nad asju pakkima. Kui kraam pakitud, küsisid, kus on kassa. Ütlesin, et saatsin raha eile autoga Antslasse, kuigi tegelikult oli mul kassas üle 5000 rbl. Bandiidid jäid mind uskuma, lahkusid ja sõitsid minema Antsla suunas. Enne lahkumist ütlesid mulle, et nüüd keera uks lukku ja kui elu armas, siis kuni hommikuni siit ära lahku, meil on valve väljas. Ütlesid ka, et helistada pole mõtet, telefonitraadid on katki. Nad viibisid kaupluses u 45 min.

</div>
<div class="p"><b>30. 07.46</b> öösel püüti taas Linnamäe kauplust röövida, röövijad midagi kaasa ei võtnud. Sündmuskohale sõitis miilitsa van ltn Volke ja asus otsima rahvakaitsekomandöri Lepistut. 1. 8.46 teatas Lepistu isa, et tema poja, hävituspataljoni komandöri Lepistu Rudolfi koos venna Lepistu Juliusega viisid tundmatud 31. juuli õhtul heinamaalt kaasa metsa. Vendade isa "allutati julgeoleku poolt üksikasjalisele ülekuulamisele", kuid saadi vaid tunnistus, et ta ei tea, kus ta pojad asuvad ega sedagi, kas kaasaviijad olid metsavennad või varjusid nad omal algatusel. 
<br>
Magda Lepistu Kurenurme k/n-st tegi 1957. a julgeolekuorganitele avalduse, et vendade Lepistute metsa viijateks olid Lepistu sugulane August Kängsepp, Karl Kuus, Johannes ja Robert Heeska. 
<div class="quote">Läksin rahvakaitselase Oss Evaldi poole, kuid Oss keeldus, öeldes, et metsas on juba pime, kell oli juba üle 12. Järgmisel hommikul läksin lehmadega sinna heinamaale, kuid jälgi mehest ja mehevennast ei leidnud. Nende saatus on siiani teadmata. Mehevend oli rahvakaitselane ja võttis osa haarangutest metsavendadele, sealhulgas ka gruppidele, kuhu kuulusid Heeska Robert ja Heeska Johannes. Lepisto Rudolf oli Kurenurme Rahvakaitse ülem, mille pärast metsavennad kandsid viha. 1946. a ei teatanud me organitele 4 äraviija nime sellepärast, et kartsime, et nad saavad sellest teada ja meid tapetakse.
</div>
<div class="p">Julgeoleku uurimine metsavendade seost vendade Lepistute kadumisega ei kinnitanud.</div>




</div>






</div>
</div>	






<br>






</div>




</div>















</div>