<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Olud</h1>

<div class="p">Metsavendade vastupanu ümbritsevad olud muutusid kümnekonna aastaga tundmatuseni. Algusaegade metsasolijate rohkus, tihe tegutsemine ja suuremahulised sõjaväelised haarangud nende püüdmiseks asendusid aja jooksul varjamisega järjest väiksemates kooslustes või üksi. Metsavendade jahtimiseks suunas Julgeolek julmuse ümbruskonna elanikele. 
	</div>
	<div class="p">
1944. a august – rinde üleminek ja uus Nõukogude Vene tulek koos suurte muutustega punaterrori toel. 
	
	Sõda kestis, 1944. a lõpus kuulutati Eestis taas välja sundmobilisatsioon Punaarmeesse. Maailma poliitiline ja sõjaline olukord oli heitlik.</div>
<div class="p">Metsadesse kogunes deserteerunud mehi mõlema poole sõdivatest armeedest ja mobilisatsiooni vältijaid kodudest. 

Arreteerimise oht puudutas suuri inimrühmi: Eesti varasemate poliitiliste parteide liikmed, politseinikud ja omavalitsustegelased, kaitseliitlased ja omakaitselased, vanglatöötajad, Saksa sõjaväkke mobiliseeritud ja Vene armeest deserteerunud jpt.		

Varjamata oli võimalik elada vaid nõukogude isikutunnistust omades, mille taotlemisel eeltoodud rühmadesse kuulunud inimesi ähvardas vangistus. Dokumendikontroll oli pidev nii linnades kui maal. 		
<br>	
Varjajaid arreteerides ja haarangutes tappes keelitas võim samal ajal mehi relvi loovutama ja legaliseeruma. Legaliseerida soovijad pidid sundkorras asuma koostööle nõukogude võimuga ja neid püüti ähvardustega rakendada varjama jäänute nuhkimiseks ja üles andmiseks. Üksjagu legaliseeruda üritanud mehi varjus sel põhjusel uuesti. 	
	</div>
<div class="p">
Maareform tükeldas talumajapidamised uusmaasaajate kasuks. Uusmaasaajad pandi elama taluperedesse, vastuteenena nõudis nõukogude võim pererahva jälgimist ja pealekaebamist. 
<br>
Kohaliku võimu etteotsa tõi nõukogude võim tegelasi, kes asusid haarangute kattevarjus elanike vara riisuma ja endale kandma. 

Üheks selliseks oli Linnamäe Täitevkomitee esimeheks saanud August Tiitus, keda teati hobusevarga ja kindlustuspetturina. Juba 1919. a Punaarmees teeninud Tiitus iseendast: 
</div>	
<div class="quote">1940. a ja kuni 1941. a pitasin oma ruumites punast nurka ja lukemis lauta, mille pärast mind ka areteriti. See oli 11 juulil 1941. a. ja paigutati Võru vankla, kus olin Punaarmee tulekuni. </div>

<div class="p">Keretü sohu kogunes 1945. a kokku suurem metsavendade rühm, kes pidas sidet metsavendadega ümbritsevatest piirkondadest (Rõuge ja Tartumaa salgad). Keretü soo meestel (nn Lükka ehk Nursi punkris), kelle hulgas olid ka 2 meest Haukka luuregrupist, oli ka raadiosaatja. </div>

<div class="p">Detsembris 1945 üle kuulatud PA:</div> 
<div class="quote">Juunis 1945 küsis Avo Pruus minu talust möödudes, kus on Lukk ja Heeska. Ütlesin, et nad elavad Keretusoos Sõmerpalu vallas. Pruus ütes mulle, et neil on seal soos punkrid. Pruus ütles, et punker Keretusoos asub mingi pere kolme talu lähedal, ei tea muud, kui et neil on kõigil kolmel üks nimi.</div>

<div class="quote">AA: Kord Saksa okupatsiooni ajal sõitsin Võrust oma koju Kurenurme. Kohtasin rongis juhuslikult Pruusi, Keemi, Lukku ja Musta. Nende jutust ilmnes, et neil oli kaasaskantav raadiojaam ja ja nad sõitsid Tallinna. Pärast sakslaste lahkumist end varjates kohtusin Linnamäe elaniku August Ottaniga. Ta rääkis, et nõukogude vägede tungimise ajal Võru valda 1944. a Richard Keem /kas peaks olema Harald?/  ja Must töötasid August Ottani talu lähedal (Hansi külas) üles pandud raadiojaamas. Ottan rääkis, et  lähedal lõhkes nõukogude mürsk, mis sundis neid kohta vahetama.</div>


<div class="p">Linnamäe, Vaabina, Sõmerpalu ja Urvaste ümbruses vastasid metsavennad nõukogude võimu terrorile omapoolse tegutsemisega, mis registreeriti Julgeolekus poliitilise vastupanu ilmingutena.</div>
<div class="p"></div>
<div class="p"></div>
<h3>1945-1946 JULGEOLEKUS MÄRGITUD POLIITILISED JUHTUMID JA KOKKUPÕRKED  </h3>
<div class="p"></div>
<div class="p"><b>5.02.1945</b> jäi kadunuks Linnamäe TK esimees August Tiitus
<br>
<b>25.07.45</b> röövisid tundmatud Sõmerpalu vallas Sulbis kooperatiivi varustuspunkti, kaasa viidi 3 kasti mune
<br>
<b>17.08.45</b> tulistati Sõmerpalu jaama lähedal NKVD operatiivvolinikku n ltn Tšamkajevit
<br>
<b>18.09.45</b> Sõmerpalu vallas tulistasid metsavennad 22. sisevägede laskurdiviisi võitlejate gruppi, haavati 2 võitlejat, 1 jäi teadmata kadunuks.
<br>
<b>15.10.45</b> rüüstati Sulbi k/n 
<br>
<b>15.10.45</b> tulistati metsast hävituspataljonlasi Roots Heinot ja Rosse Antsu, kes surid 
<br>
<b>26.10.45</b> tappis julgeoleku operatiivgrupp Järvere mõisa juures Sõmerpalu vallas Hamburgi elaniku Voss Hans Juliuse p, s 1914. Läheduses avastati vastehitatud varustatud  punker.
<br>
<b>5.11.45</b> rünnati Sõmerpalu vallas Paasi talus Javorski Feodorit, kes tapeti
<br>
<b>6.12.45</b> rünnati Sõmerpalus Männa? talu, kus tapeti Potter Aleksandr ja selle poeg Potter Richard
<br>
<b>22. 12.45</b> Linnamäe vallas tapsid metsavennad  ltn Schmidt Adolfi ja Ader Hedvigu. 
<br>
Öösel sisenesid 3 Punaarmee vormis meest korterisse, kus viibisid Punaarmeest puhkusele tulnud Ader Hugo ja Ader Hedvig ning koos temaga ltn Schmidt. Sissetulnud võõrad kontrollisid nende dokumente ja kottide sisu. Leitnant ja Ader Hedvig käsutati riidesse ja õue, kus neil lasti avada aidad ja küünid, kus tundmatud tegid läbiotsimise. Ülejäänud toasolijaist kedagi õue ei lastud. Võõrad viisid talust kaasa kraami. Ader ja Schmidt leiti hiljem kohapeal mahalastutena. 
<br>
<b>28. 12.45</b> langes Keretü soos asunud Lükkä punkrile tehtud haarangus 9 metsavenda: Harald Keem, Viktor Lukk, Vambola Lukk, Arnold Kuus, Mihkel Lõhmus, Henn Pihlapuu, Edgar Raudsepp, Kalju Rebane ja üks tundmatu metsavend. Põgenema pääsesid Arnold Ottan, Kristjan Tuvikene ja Erich Sepp. Punkrielanik Kalju Kirbits oli jõuluks lahkunud koju Viitina valda.
<br>
<b>25.01.46</b> tegi enesetapu Julgeolekusse korduvülekuulamisele kutsutud Vaabina kooli direktor A. Leok. 
6.12.1945 oli Leok tunnistajana Harri Verevi vastu kutsutud Julgeolekusse. Leok eitas kategooriliselt Verevile Nagaani andmist. 23.1.46 nõudis Julgeolek teda taas ülekuulamisele ja vastandamisele. 25.1.46 kell 3 öösel lahkus ta oma kodust Antsla jaama suunas, et sõita rongiga Võrru ülekuulamisele, pärastlõunal leidis naine mehe kodusaunast pooduna. Naise kinnitusel olevat mees viimase viie aasta jooksul talle korduvalt öelnud, et kui poleks naist ja tütart, ei tahaks ta siin ilmas enam elada.
<br>
<b>25.01.46</b> ründas Urvastes 10 liikmeline salk Urvaste k/n, osa ründajatest olid nõukogude armee ohvitseride mundris. Tapeti valimiseelses kampaanias osalenud ltn Polujektov ja 4 nõukogude aktivisti. Haavati hävituspataljoni jaokomandöri Haugi. K/n võeti lahkudes kaasa rahvakaitsele kuulunud relvad, raadioaparaat ja telefon. 
<br>
<b>10.02.46?</b> Rünnati Võru rajoonis valimisjaoskonda, tapeti ja haavati mitmeid inimesi /küsimus juhtumi kohta esitati ülekuulamisel A.K-le, rohkem andmeid pole/
<br>
<b>18.02.46</b>  ründasid metsavennad Urvastes hävituspataljonlase Rudolf Tammemägi talu, kus elas hävituspataljonlane Kiidron Rudolf. Kiidroni tuppa visati granaat. Granaati tagasi heites lõhkes see Kiidronil käes, vigastades kätt ja jalgu. Rünnakul sai tulistamises haavata ka üks metsavend.
<br>
<b>8.03.46</b>  (teisal 24. märts) Uue-Antsla meierei ja piiritusetehase rööv (piiritusetehast rööviti ka 25. jaan 1947).
Algatajad olid Kooraste metsavennad Hann Helbre ja August Hallap, Koorastest oli 6-8 inimest. Kokku oli osavõtjaid 13, teiste hulgas Robert Heeska, Kalju Visnapuu, Feliks Hõbe. Võitehase juurde sõideti 6 hobusel. Valvuritele esitleti end julgeolekutöötajatena. Ära viidi 382,5 kg (12 kasti) koorevõid ja 1400 l (2969 rbl 72 kop eest) piiritust.
</div>
<div class="quote">Kesköösel koputati uksele. Ma kohe ei avanud ja sain aru, et väljas lõhutakse telefoniliini. Seejärel koputati tugevamalt. Läksin ukse juurde ja küsisin: kes koputab? Mulle vastati: piiritust on vaja. Nad lubasid ukse lõhkuda ja ise sisse tulla. Ehmusin ja avasin ukse. Sisenesid relvastatud mehed. Relva ähvardusel läksin viinakeldri juurde, u 100 m mu elumajast. Ühel uksel oli lukk eest murtud, teise avasin võtmega ise. Sees hakkasid nad mult nõudma anumaid, kuhu piiritust valada. Leidnud nõud, valasid need täis ja kandsid õue. Üks neist ütles, et rohkem pole vaja võtta, küllalt juba. Mind viidi majja tagasi ja hoiatati, et ma kella kaheksani hommikul kuhugi ei läheks. Vastasel juhul läheb mul halvasti. Hommikul helistasin põllumajandustehnikumist miilitsasse ja varsti sõitis miilits sündmuskohta uurima. Piiritust võeti u 2500-3000 liitrit. Piiritusetehase sisustust nad ei lõhkunud. Palju neid oli, ma ei tea, tuppa tulid 4 inimest, mõned jäid õue. Relvadeks olid neil vintpüssid ja automaadid. Jah, samal ööl viidi ka võitehasest võid. Võitehas ja piiritusetehas asuvad sama katuse all. Nad rääkisid eesti keelt.</div>
<div class="quote">Uue-Antsla võitehase juhtaja 1944-1947 LA: Nägin õuel 5-6 vankrit, kui palju oli inimesi, ma ei tea. Magasin juba, kui kuulsin õues hääli. Naine avas ukse ja röövlid tulid tuppa. Osa neist tulid läbi katki löödud koridoriakna. Naiselt nõuti võitööstuse võtit, et kui ei anna, viskavad granaadi korterisse. Andsin võtme, nad käskisid mul endile järgneda. Õues võikeldri juures nägin kolme sõjaväevormis meest. Nad avasid võtmega ukse ja kandsid või vankritesse. Vanker täis laaditud, sõitsid nad minema. Mind hoitatati hommikuni toast lahkumast. Hommikul läksin piiritusetehasesse helistama, kuid telefoniliin oli lõhutud. Võid võeti u 100 kg. Ise nägin 3 röövlit, kui palju neid kokku oli, ei tea.</div>
<div class="p">Piiritus viidi minema 40 l kardades, karrad maeti peidukohtadesse. </div>
<div class="quote">KR: 1947. a suvel näitasid Hõbe ja Visnapuu mulle kohta, kus neil oli üks piiritusenõu, sealt ma tõin neile piiritust. Samuti rääksid nad, et üks piiritusenõu on neil maha maetud Linnamäe Eesti surnuaeda, aga sealt nad piiritust ei võta, kuna see koht olevat võimude jälgimise all.</div>
<div class="p">
<b>13.03.46</b> Nädal pärast Churchilli kõnet raudse eesriide langemisest Euroopas toimus mitmekümne mehelise ühendsalga (sh 2 naist) alistumatuseakt - vallakeskuse Osula hõivamine.EKP keskkomitee volinik Tallinnast saadeti võimudele teatama (põhjendusega: sina pole meile midagi kurja teinud), et Osulas nõukogude kord ei kehti. Õhtu eel lasti maha paikne punaaktiiv, kokku 13 inimest: külavolinik, maksuinspektor, varumisagent, rahvakaitselane, TK esimees ja asjaajaja jt. Pealekaebajad Rossed ja hävituspataljonlane Leevold olid surnuks tulistatud kümnetest kuulidest, ülejäänud paari lasuga, tapetute seas oli ka üks teismeline. Miilitsavoliniku ruumist võtsid ründajad kaasa relvi: 2 hävitajate (ehk Rahvakaitse) kergekuulipildujat, 2 automaati ja 3 vinti. Ründajad hoidsid asulat enda valduses kogu päeva, hommikul kl 6 kuni õhtul 19.30-ni.  Ere ja ennastsalgav allumatuse väljendus pani võimu rapsima Tallinnast Moskvani.
<br>
Tapetud Rossed olid tegelenud nuhkimise ja pealekaebamisega:
 <div class="quote">Minu vend Rosse Heini Friedrichi pg käis minul külas Klooga sõjaväelaagris 1945 sügisel, siis vend rääkis minule, et käisime Ülenurm Johannest otsimas, kes varjab end metsas, kuid kätte me teda ei saanud.</div>

<div class="p"><b>1.04.46</b> toimus 7 tundi kestnud Julgeoleku rünnak Määritsa (Hindriku) talule Sulbis, kus sadakond sisevägede sõdurit ja hävituspataljonlast piirasid ja lõpuks põletasid majja sisse talu elanikud koos metsavendadega: Marta Määritsa, Liina Sillamaa, Erna ja Osvald Tatriku, Avo Pruusi, Karl Heeriku ja ühe tundmatu. Piiramisest väljamurdmiskatsel langesid Aksel Pallav ja Kalju Tiits.
<br>
<b>26.04.46</b> öösel vastu 27. ründas Julgeoleku operatiivgrupp Koidu talu (esmase teate kohaselt Sõmerpalu vallas Koidu külas Niidu talu), tappes 4 inimest: Heerik Karli 25-27a Sõmerpalu elaniku, Torop Samuili 50-55a Sõmerpalu Niidu talu peremehe, Torop Kalju Samuili p 25-26 a  Sõmerpalust ja ühe tundmatu. 4 tundi kestnud lahingu käigus talu süüdati ja kõik alistumatud põletati sisse. 
<br>
Tegelikult Karl Heerik oli langenud varem, Määritsa talus toimunud 7 tunnises lahingus 1.04.1946. Kalju Torop ei hukkunud Koidu talus, vaid pääses sellest lahingust põgenema. Ta vangistati 11. 07.47. Talus langesid peremees Samuel Torop, soomepoiss Arkadi Hanschmidt s 1926, Villi Kupp s 1925 ja Kalju Täht.
<br>
<b>26.04.1946</b> röövisid metsavennad Uue-Antsla võitehast.
<br>
<b>5.05.46</b> võeti agent „Hutorskoi“ teate peale kl 1 öösel Raudsepa talus  Sõmerpalu vallas kinni Avo Pruusi salgast Oras Mihkel Pauli p ja Männiste Harald Pauli poeg, arreteeriti talu peremees Männiste Olev.
<br>
<b>19.06.46</b> püüdis MVD sisevägede 138 polgu üksus kinni pidada Hallap Augustit Tikerpuu salgast. Viimane osutas relvastatud vastupanu ja tapeti. Ära võeti püstol Walther ja granaat F-1 ning 1 padrun püstolile.
<br>
<b>20.06.46</b> võeti Sõmerpalu vallas kinni Savi Eduard, kes oli 1945 deserteerunud Eesti korpusest  ja varjanud end sellest ajast koos metsavendadega. Võeti ära püstol TT ja sellele 15 padrunit.
<br>
<b>6.07.46</b> tapsid Antsla RJM operatiivpunkti ülem n ltn Kohlberg /vene kirjapildis Kohberg/, rahvakaitselased Joakit ning Väljastu piinarikkalt politseikonstaabel Harri Halleri. Päevasel ajal varitsesid nad Ala-Põdra talu ümber Linnamäel, mis oli vendade Hallerite kodu. Ala-Põdra talu lähedases punkris varjasid end Harri Haller (Haldma) koos naise Helmiga, Hödrejärv ja teisi metsavendi. Jaoülem (komandir vzvoda) tulistas Harri Haldmale automaadivalangu jalgadesse ja appi hüüdval mehel lasti koduõuel pikaldaselt verest tühjaks joosta. Laip maeti lähedusse metsa.  
<br>
<b>18.07.1946</b> ööl vastu 19. rööviti Linnamäe kooperatiivi. Valve puudumise pärast sai hävituspataljoni komandör Lepistu Rudolf võimudelt hoiatuse ja ähvarduse vastutusele võtmisest.
<br>
<b>19.07.46</b> Linnamäe kooperatiivi röövis 4-5 liikmeline rühm relvastatud isikuid, kellest üks oli punaarmee vormis. Kaasa võeti viina, komme ja u 20 pakki paberosse. Kaupluse valvur, hävituspataljonlane Veski August oli haigeks jäänud ja ei viibinud vahipostil.
</div>
<div class="quote">Kell 7 hommikul sai Linnamäe partorg Teplenkov Jaan teate kooperatiivi röövimise kohta, röövijad liikusid Urvaste suunas. Seda märkas kaupluse majas elanud Siivak Erna, kes teatas töötajale Tuhkur Annele, viimane omakorda rahvakaitselasele Värtman Kaljule, kes oli valves Linnamäe TK juures ja kes kandis ette partorg Teplenkovile. Viimane kutsus oma initsiatiivil kaasa 2 hävituspataljonlast ja miilits Raudsepa, kes oli kodus puhkusel, ning organiseeris jälitamise. Jälitanud röövijaid u 4-5 km Linnamäe TK-st, märkasid nad metsas küüni, milles kuulsid jutuhääli. Hävituspataljonlased soovitasid partorgil loobuda kohapeal isepäi tegutsemisest, teatada miilitsasse ja Rahvakaitse staapi, kuid partorg,  oletades, et bandiite oli vaid 2, otsustas küüni umber piirata ja röövijad kinni võtta. Partorg saatis Raudsepa minema ümber küüni, jäädes ise kahe rahvakaitselasega olukorda jälgima. Samal hetkel väljus küünist Punaarmee ohvitseri mundrit kandev mees, pudel viina käes, ja sammus ümber küüni liikunud Raudsepa suunas, kes oli seisatanud, end varjamata, küünist 40 m kaugusel. Tundmatu läks talle päris lähedale, võttis tal vintpüssi käest ja tulistas teda teises käes olnud püstolist. Läks lahti tulevahetus, küünist avati automaadituli rahvakaitselaste pihta. Vasakusse kätte haavata saanud partorg käskis kahel hävituspataljonlasel taganeda. Samal ajal jooksis küünist välja 4 tundmatut automaatidega relvastatud meest, kes heitsid küüni lähedusse pikali, jätkates tulistamist. TK-sse tagasijõudnud, teatas Teplenkov  juhtunust miilitsasse. Sõit sündmuskohale tulemust ei andnud. Metsavennad olid lahkunud, jätnud oma toidu küüni maha. Küünis prahi alt leiti tapetud militsionäärile kuulunud Saksa vintpüss. Raudsepa laip lebas 40 m nimetatud küünist, kuuliaukudega paremas käsivarres ja peas. Uurimine tulemusi ei andnud. Linnamäe valla agentuurile anti käsk bande liikmed ja asukoht kindlaks teha.</div>

<div class="p"><b>29.07.1946</b> vastu 30.07 Tsooru kaupluse rööv
<br>
Kaupluses käisid Johannes ja Robert Heeska. Feliks Hõbe, Karl Pommer, Karl Kuus, Helbre e „Tarzan“, Hallap e „Pakan“ ja Hallapi õde „Lea“ ehk „Miki“, Alfred Hein ja veel mõned Koorastest. Tsooru elanik Raivo Must kohtas röövilt tagasi suunduvaid metsavendi u 1 km Tsoorust Viirapalu poole. Üks oli rattaga, teised vankril ja mõned jalgsi, kokku 9-10 in. Nende hulgas oli ka naine. 
<br>
 Kauplusest viidi kaasa sokke, käisteta sviitreid, nahka, lõhnaõli, odekolonni, suhkrut, kõige rohkem kommi. Kraam viidi vankritel Mustajõe sohu, kus jagati laiali. Kahju: 11863 rbl. 
<br>
Tsooru kaupluse juhataja Ruudi Palu:
<div class="quote">Juunis või juulis 1946 kl 24 00 koputati aknale. Tõusin üles ja mulle öeldi, et avage, riiklik kontroll. Ütlesin, et ma öösel ei ava kellelegi. Minu korter oli kaupluse kõrval. Aken lõhuti ja öeldi, et kui ei ava, viskame granaadi sisse. Olin sunnitud kaupluse ukse avama. Seitsmendana sisenes tüdruk keda nad kutsusid Marusjaks. Mulle suunati kohe automaat ja öeldi, et sinu kommunisti laseme maha. No ei lasknud, võtsid hoopis vahi alla. Taskulambi valgel hakkasid nad asju pakkima. Kui kraam pakitud, küsisid, kus on kassa. Ütlesin, et saatsin raha eile autoga Antslasse, kuigi tegelikult oli mul kassas üle 5000 rbl. Bandiidid jäid mind uskuma, lahkusid ja sõitsid minema Antsla suunas. Enne lahkumist ütlesid mulle, et nüüd keera uks lukku ja kui elu armas, siis kuni hommikuni siit ära lahku, meil on valve väljas. Ütlesid ka, et helistada pole mõtet, telefonitraadid on katki. Nad viibisid kaupluses u 45 min.

</div>
<div class="p"><b>30. 07.46</b> öösel püüti taas Linnamäe kauplust röövida, kaasa midagi ei võetud. Sündmuskohale sõitis miilitsa van ltn Volke ja asus otsima rahvakaitsekomandöri Lepistut. 1. 8.46 teatas Lepistu isa, et tema poja, hävituspataljoni komandöri Lepistu Rudolfi koos vennaga viisid tundmatud 31. juuli õhtul heinamaalt endaga metsa kaasa. Vendade isa "allutati Julgeolekus üksikasjalisele ülekuulamisele". Saadi vaid tunnistus, et ta ei tea poegade asukohta ega sedagi, kas kaasaviijad olid metsavennad või varjusid nad omal algatusel. 
<br>
Magda Lepistu Kurenurme k/n-st tegi 1957. a julgeolekuorganitele avalduse, et vendade Lepistute metsa viijateks olid sugulane August Kängsepp, Karl Kuus, Johannes ja Robert Heeska. 
<div class="quote">Läksin rahvakaitselase Oss Evaldi poole, kuid Oss keeldus, öeldes, et metsas on juba pime, kell oli juba üle 12. Järgmisel hommikul läksin lehmadega sinna heinamaale, kuid jälgi mehest ja mehevennast ei leidnud. Nende saatus on siiani teadmata. Mehevend oli rahvakaitselane ja võttis osa haarangutest metsavendadele, sealhulgas ka gruppidele, kuhu kuulusid Heeska Robert ja Heeska Johannes. Lepisto Rudolf oli Kurenurme Rahvakaitse ülem, mille pärast metsavennad kandsid viha. 1946. a ei teatanud me organitele 4 äraviija nime sellepärast, et kartsime, et nad saavad sellest teada ja meid tapetakse.
</div>
<div class="p">Julgeoleku uurimine nende metsavendade seost vendade Lepistute kadumisega ei kinnitanud.
<br>
<b>2.08.46 </b>ööl vastu 3. toimus sõjaline operatsioon punkrile 1 km Sulbist Sõmerpalu vallas, kus elasid Torop Kalju Samuili p, Metsakivi Paul, Kirs Arvo, Mäeuibo Viktor ja Mäeuibo Viktori vend. Punkrielanikke kohal ei olnud. Punker purustati.
<br>
<b>21.08.46</b> avasid 2 meest püstolitest tule oma talu juures põllul töötava hävituspataljonlase Varjuni pihta. Viimasel õnnestus põgeneda. Punaarmeest puhkusel viibiv Varjuni poeg hakkas isa jälitavaid tundmatuid vintpüssist tulistama, mille tulemusel üks neist tapeti, teine jooksis haavatuna minema. Varjun tundis ühes neist ära mehe, kes talvel 1945 olid tallu tunginud. Tapetuks osutus Hallop Alfred Kondradi p, Punaarmee desertöör Tikerpuu Jaani salgast, milline tegi 24.9.45 rünnaku Kooraste TK-le. Tartumaa MVD osakonna varasem teade Hallop Alfredi langemisest 13. mail 46 oli vale.
<br>
<b>23.8.46</b> ööl vastu 24 Sõmerpalu vallas Sulbi külas tapeti Kets Olga, tema tütar Kets Liidia ja Leevold Aleksander, viimane oli Kets Olga elukaaslane. Tapeti tulirelvast ja röövitud ei olnud midagi. Julgeolek pidas kinni Pallav Aliidia.
<div class="quote">Pallav Aliidia, kelle poeg Pallav Aksel oli metsavend ja tütar varjas end samuti nõukogude võimu eest, Julgeoleku andmetel koos vennaga, kes on viibinud 23.8.46 õhtul kodus. Pallavi talu asub Ketsi talu kõrval. Suhted perede vahel on pingelised, mis laseb kahtlustada Pallav Akselit.
	
</div>

Aksel Pallav peaks selleks ajaks juba ammu surnud olema, langenud 1.04.46  Määritsa talu lahingus väljamurdmiskatsel.
<br>
<b>25.09.46 </b> nägid julgeolekusõdurid varitsuses Utsali talu juures Linnamäel kl 23 õhtul 4 liikmelist metsavennagruppi, keda asuti jälitama. Tekkinud tulevahetuses MVD sisevägede 138. laskurpolgu võitlejatega tapeti 2 metsavenda, teistel õnnestus varjuda. Varitsejatest tapeti punaarmeelane Korjakin ja haavati jefr. Rahmatulinit ja punaarmeelast Kolinintsevit. Tapetud metsavendi ei tuvastatud.   
<div class="quote"> KA: Septembri lõpus 1946. a panid Heeskad ja Kuus ette röövida võid, mis toodi Antslasse Tsooru võitööstusest Lepistu vallas. Mindi neljakesi, metsa ääres ootasid veel kolm meest, ühe nimi oli Janes? Janss? (kehvalt loetav)
	
</div>
Osavõtjad Johannes Heeska, August Kängsepp, Karl Kuus, Feliks Hõbe, Kalju Visnapuu, Kalju Torop, August Märdimäe, Steinbach (nime ei tea), „Väike-Tutu“.

<div class="quote">HJ: Initsiaator oli Kuus Karl. Andsime nõusoleku ja leppisime kohtumiskoha. Kui meie kohale jõudsime, olid Tsooru omad juba kohal. Korraldasime maantee ääres varitsuse. Kui vankrid tulid, pidasime nad kinni, võtsime sealt endaga 3 inimest kaasa ja viisime metsa. Ühe vankri võikoormaga viisid Tsooru metsavennad oma punkrisse. Teise võtsid endale Visnapuu, Märdimäe ja Steinbach ja viisid oma punkrisse Linnamäe valda. Hiljem sain Kängsepa käest teada, et Visnapuu vankrit hakkas operatiivgrupp jälitama, mille tulemusel Visnapuu jättis vankri maha ja pistis jooksu, Märdimäe ja Steinbach olevat tapetud. Metsa viidud kolme meest valvasid teised metsavennad hilisõhtuni, siis lasti nad vabaks.

</div>
Märdimäe langemise kohaks on teisal märgitud: Ora veski lähedal. 
<br>
<b>10.11.46</b> raharööv Sõmerpalu-Võru teel.
<div class="quote">KA: Robert ja Johannes Heeska, Karl Kuus ja Valter Jeeger  kutsusid mind Sõmerpalust Võrru viiva tee äärde. Kui kohale jõudsime, selgitasid vennad Heeskad, et Sõmerpalust Võrru peaks minema auto, mille peame kinni ja teeme midagi. Sain aru, et hakkame autot röövima. Auto häält kuuldes läks Robert Heeska teele ja peatas selle. Samal ajal hüppasid Johannes Heeska ja Karl Kuus autokasti, kus võtsid raamatupidaja portfellist raha ära, portfelli dokumentidega andsid tagasi.  Valter Jeeger istus autosse ja auto sõitis edasi Võru suunas. Mulle öeldi, et läheksin Tõnni silla juurde ja ootaksin seal. Kui ma silla juurde jõudsin, olid need 4, kes autoga sõitsid, juba seal. Kui palju raha kokku oli, ma ei tea, mina sain 3500 rbl, Johannes Heeska 7000. Kui palju teised said, ma ei tea. Mul röövi ajal relva ei olnud, minu ülesanne oli olla füüsiliselt abiks, kui autoga sõitvad inimesed peaksid osutama vastupanu.  Robert Heeskal oli Saksa automaat, Johannes Heeskal Nagaan, Karl Kuusil revolver Nagaan, Valter Jeegeril oli Vene vintpüss.</div>
<b>13.11.46 </b>kl 17 võttis 10-12 liikmeline metsavendade salk enda valdusse veoauto Võrumaa TK esimehelt Tummalt ja Võrumaa maanteedevalitsuse ülemalt sm Mägilt, kes viidi selle autoga Läti piirile, kus nad vabaks lasti. 
<br>
<b>26.11.46</b> röövisid 8 metsavenda Kooraste kauplust (kahtlus Heeska salgal)
<br>
<b>2.12.46 </b> Antsla kooperatiivi auto rööv Muuga sillal 2 km Sõmerpalu sovhoosist Antsla poole.
<br>
<b>28. 12.46</b> Raha ülevõtmised
<div class="quote">KK: Johannes Heeska rääkis mulle, et Sõmerpalu postitöötajad viivad suurt summat raha. Ta tegi ettepaneku minna koos röövile. Ma ei andnud pikka aega jaatavat vastust, mille peale Heeska ütles mulle, et ma olen argpüks, ise veel politseinik. Heeska veenmisel nõustusin selles röövis osalema. Leppisime kokku kohtuda järgmisel päeval metsas, sinna tulid Johannes Heeska,  „Tarzan“ kelle nimi oli Helbre, „Mait“ , üks tüdruk hdn „Tüda“, kelle päris nimi oli Asta ja Kängsepp hdn „Janov“ ning Valter Jeeger. Me kõik olime relvastatud vintpüsside jm tulirelvadega ning läksime Sojakalu? metsa, kus panime tee äärde välja varitsuse. Sidetöötajate möödumisel ründasime neid ja võtsime ära 28 000 rbl, inimesed lasime lahti. Kogu salgaga läksime tagasi Tammipalu metsa, kus jagasime raha omavahel.</div>

<div class="quote">PL: sõitsin hommikul kl 9 vankriga Sõmerpalu TK-s t Võrru, et viia panka raha summas 35 960 rbl. Sõitsin TK-st 3 km edasi, kui metsast astusid välja 5 relvastatud bandiiti, nimesid ei tea, käskisid kinni pidada, piirasid vankri sisse, käsutasid käed üles ja küsisid, kas mul on relva. Nad suunasid hobuse teelt kõrvale metsa, otsisid vankri läbi ja võtsid minu portfelli eeltoodud summa rahaga. Pärast seda üks neist ütles, et võin minna Võrru ja rääkida sellest kõigile miilitsas. Kui bandiidid lahkusid, sõitsin Võrru ja teatasin röövist miilitsasse. Sellest, et ma sõidan rahaga Võrru, teadsid rahvakaitse pataljoni komandör, kellelt ma käisin küsimas endale kaitsjat. Ta ei leidnud selleks inimesi, seepärast sõitsin üksi ilma kaitsjata. Teadis ka TK asjaajaja Reiman Asta, kes minu ettevalmistusel ärasõiduks pakkis raha ja valmistas dokumendid.  Ta oli tunnistajaks minu väljasõidul rahaga. Kes veel teadis, ei oska öelda. Reiman Asta seosest bandiitidega ei tea, kuid rahva juttudest tean, et üks tema sugulastest, Jeeger, on metsavend ja varjab end. </div>

Sõmerpalu TK rahandusinspektori abilt Laine Padarilt võeti ära 35 960 rbl riigi raha.
</div>
<div class="p">Märke rahva suhtumisest nõukogude võimu ja selle esindajatesse võib leida vaid võimude poolt salaja kogutud informatsioonilistest ettekannetest.</div>
<div class="p">
<b>Kängsepp Daniel</b>:  <div class="quote">Oma tegevuse tõttu metsavendade vastu rahvakaitsepataljonis  alates sügisest 1944 kuni tänaseni on bandiidid püüdnud mind tappa kuuel korral. Viimane kallaletung mulle toimus suvel 1946 tee peal Ruhingu metsas Sõmerpalu vallas, kui ma veskist koju sõitsin. Mind tulistasid kaks meest, keda mul ära tunda ei õnnestunud, kuna oli juba õhtu ja hämar. Lisada tahan, et 1945-46 aastal ma peaaegu ei elanuki oma talus seetõttu, et bandiidid kogu aeg jälgisid mind mu maja lähedal eesmärgiga tappa. Sel ajal elasin rahvakaitse pataljoni staabis Sõmerpalu kooperatiivis.</div> 
<br>
<b>Partorg Teplenkov Jaan</b> Linnamäelt teatab juulis 1946: <div class="quote">TK  ruumides pole relvastatud valvet. Sm Ragul ütleb, et ta on korduvalt nõudnud kuid kõik on asjata. Sm Lepistu peaks viivitamatult niisukuse olukorra likviteerima muidu kui on hilja. Punast nurka TK ruumides ültse pole komsorg Oss pole ka sellele mingit tähelepanu pööranud. On ainult paar katkist ja tolmust määrdinud pilti ahju taga. Ma palun kui teil on sääl võimalik siis saatke minule punast riiet loosungieid ja mõni pilt sest nagu jutu ajamisel selgus on sm Stalini pilt kogu raamiga ära varastatud. 
Komsorg Oss Ilmar on haige ja juba üle kuu puudub. See aga ei takista teda järvel kalu püüdmast ja pidudel käimast. Tahab vabaneda komsomoli tööst.</div>
<br>
<b>Sõmerpalu</b> detsember 1946: <div class="quote">Metskonna kontori ruumid olid täiesti korras – lauad linadega kaetud, neil paberid korrapäraselt laotud, põrandad puhtad, akendelt ja seintelt tolm pühitud jne, kuid kontori esimeses ruumis, kus istub raamatupidaja ja asjaajaja ning kus viibib päeva kestel kõikse rohkem rahvast olid sm sm Lenini ja Stalini pildid kaetud paksu tolmukorraga ja täiesti ämblikuvõrkude sisse kasvanud. Sm Lenini ja Stalini portreede taga oli nii paks ämblikuvõrkude ning tolmu kord, millest võis järeldada, et viimaseid oli pühitud pool aastat tagasi. Samas kohas kahe juhi portree alla oli riputatud seinaleht, mis oli sisustatud täiesti ebamaitsekalt, seinalehe juhtkirja osasse olid pandud stahhaanovlaste nimed koomiliste joonistega. Õige stahhaanovlane seda pilti vaadates tõesti võib sattuda pahasse meeleollu. Teiseks saadan teile joonise mis iseloomustab TK teenistujate meeleolu uue TK esimehe saabumisel. See karikatuur oli tehtud laua pappile järgmisel päeval. Kõik need ülalmainitud faktid ei ole juhuslikud vaid omavad teatud poliitilise tagamõtte. Palun informeerige sellest kõrgemalseisvaid instantse.</div>
<br>

<b>Laidre Voldemar,</b> kommunist, kes saadeti EK(b)P otsusega varuma talupidajatelt saaki riigile: <div class="quote">Valla täitevkomitee esimees Ragul, Aleksander on 58 a vana ja halva tervisega. Tema arvates pidurdab eelkõige igasuguste ürituste nõukogulikku läbiviimist vallas reaktsiooniline element. Metsades varjab end veel bandiite, kelle käed on määritud nõukogude inimeste verega. Nende poolt toimepandud kuritöö ja ähvarused hoiavad paljuid võimelisi ja paremaid inimesi valla avangardist ja aktiivsest tööst vallas eemale. Sm Ragul ei kontrolli kõvakäeliselt vastuvõetud otsuste elluviimist. Tal endal on bandiitide vastu liiga suur hirm. Täitevkomitee istungiks ei leia ta kunagi sobivamat aega kui keskpäev. Muul ajal ei julgevat keegi vallas liikuda. Saboteeriva talupidaja Hellamaa Ida, kes ka eelmisel aastal oma norme ei täitnud tegime külanõukogus „pehmeks“. Teisel päeval täitis ta oma kartuli, villa ja toiduteravilja kohustuse riigi vastu.</div>
<br>
<b>Partorg Liksmann </b> Sõmerpalust: <div class="quote">TK esimees ei suhtu oma töösse peremehelikult. Aseesimees viimasel ajal on sageli näha joobnud olekus, isegi töö ajal, samuti põllumajandusjuhataja asetäitja Eisen. Kes ei pea kinni töödistsipliinist, joob ja ei ilmu tööle, samuti varumisagent Palm istus töö ajal kõrtsis oma sõbra Leo Koostabiga, kes töötab T/K raamatupidajana. Valla komsorg Sikk Viktor iga päev on purjus – 9. mail oli korraldatud jooksu kross, komsorg Sikk oksendas tee peale, kus teised komnoored teostasid võidujooksu. 10. mail mina sain teada, et komsorg Sikk oli kõrtsus peksis akna klaasid puruks ja paugutas pistolist, siis mina sain kõrtsus nägema teda joobnud olekus, magas tooli peal, pistol oli avalikult külje peal ja vintpüssi najal magas.</div>
<br>
<b>Partorg Valusk,</b> Sõmerpalu valla järgmine partorg: <div class="quote">Valla TK tööliste distsipliin on lastud minna niikaugele, et on esile toonud rahava hulgas palju nurinat, valla teenistujad on olnud purjus töö ajal. Kuid on olemas ka selliseid tegelasi, kes ei taha alluda korrale, näiteks valla miilitsavolinik, komsorg ja veel mõned teised. 
<br>
Praegust on Sõmerpalu valla aktiivis selliseid inimesi kes narritavad nõukogude võimu ja kes peletavad inimesi nõukogude võimust eemale. Sellised tegelased on Sõmerpalu valla miilitsa rajoonivolinik sm. Tikmann ja ELKNÜ vallakomitee sekretär sms. Ploom. Kõigi teiste ebanõukogulike käitumise hulgas esines selline juhus, kus Sõmerpalu valla rajooni volinik võttis valima tulnud kodanik Markvaldilt ilma loata hobuse ja peaaegu päev aega kihutas mööda valda ringi ise täiesti joobunud. Kui sm. Tikmann tuli valimise päeval valimise jaoskonda kus oli palju inimesi hääletamas siis sm. Tikmann käitus inimestega väga toorelt. Selle kohta on valla partei alg. org. teinud üksikasjalise informatsiooni Võrumaa miilitsaosakonnale. ELKNÜ vallakomitee sekretär sms. Ploom oli valimise päeva hommikust õhtuni joobunud. Ajal millal rahvamaja isetegevuse ringid esinesid kavakohaselt ettekannetega rahvale sms. Ploom oli selga pannud vanad riided ja olles paljajalu esines kaua rahva ees nagu kaabakas, aga mitte kui valla noorsoo juht ja organiseerija. Need on suured puudused, millele vaatab valla elanikkond väga halva pilguga. 
<br>
Pole piisavalt parteilist kaadrit. Partei kandidaat sms. Gorski, kes töötab valla TK esimehena, kohtleb valla talupoegi väga ebarahuldavalt. Töötab nagu on tuju. Sms. Gorski ei pea mingisugust klassilist joont. </div>
<br>
<b>Antsla operatiivpunkti juhist Kohbergist (Kohlbergist), kes tappis Linnamäel Harri Halleri:</b>
</div>
<div class="p">1948. aastaks oli metsavendade vastupanu kestnud juba 4 pikka aastat. Suurküüditamise eel koostas nõukogude võim "kulakute" nimekirju "kulakute kui klassi hävitamiseks" ja talupidamiseks tarviliku inim- ja riistvara sundimiseks kolhoosi. Venemaa aladelt saabunud põgenikud võrdustasid kolhoosikorra näljaga. Parteilased nõudsid põgenike lahkumist või eraldamist kohalikest.  </div>

Metsavennad vajasid hädasti teavet nii mujal maailmas toimuvast kui paiksete olude kohta hetkel. Selleks hoiti sidet üksteisega, sõprade, sugulastega. 
 Ants Aunver lõi 1948. a kontakti Jaan Heljustega, kunagise KL Võrumaa ülemaga. kes elas Kuigatsi vallas Võitja talus. Aunver hankis Heljuste talu ümbritseva teedevõrgu kaardi ning käis tal külas. Insuldi järgse osalise halvatuse tõttu liikumisvaevustega Jaan Heljustelt said mehed nõu ja moraalset tuge. 
</div>
<div class="p">Heljuste osutab metsavendade panusele võimude poolt tagakiusatute toetamisel: 
<br>
<div class="quote">
<li>Riigiasutuste röövimisega katavad nad oma salga vajadused söögi, jalanõude ja riiete osas.</li>
<li>Osa saadud saagist kasutatakse nõukogudevastase tegevuse eest vangi mõistetud inimestele materiaalse abi osutamiseks ja laagris karistust kandvate eestlaste abistamiseks. /toiduaineid ja riideid saadetakse pakiga laagritesse/</li>
<li>Osa  saagist antakse metsavendade sugulastele ja abilistele, tänuks nende abistamistöö eest.</li>
<li>Ülejaavad toiduaineid ja muud röövitud kraami jagatakse teiste metsavennagruppidega, kes on passiiivsemad ja rööve ei korralda</li>
</div>
<br>

 <div class="quote">HL: Ants Aunver ja Johannes Heeska ütlesid, et on aidanud röövitud kraamiga Komi ANSV-se saadetud arreteerituid, nad saadavad sinna pakke oma sõbrale August Püvile, kes koos õega on arreteeritud, samuti teistele arreteeritutele. Ants Aunver ja Johannes Heeska ütlesid, et nendel on ülesanne kõigi Siberisse saadetud eestlaste eest kommunistidega arved õiendada. Salga liikmeid olevat neil päris palju ja nad elavad metsas punkrites ning kui vaja, kogunevad kokku ja tegutsevad ühiselt. Nad rääkisid, et neil on ühed punkrid, kus nad elavad ja teised, kus hoiavad kraami. Palju neil punkreid kokku on, seda nad ei öelnud. Nende tegevus on kättemaksuks eesti rahva kannatuste eest, nende  eestlaste eest, kes kannatavad vanglates ja laagrites ja samuti isiklike kannatuste eest, kuna nõukogude võimu ajal ei lasta neil oma kodudes rahus elada, vaid nad on sunnitud end metsades varjama.</div>
<div class="p">

Johannes Heeska sõnastatud lähtekoht: <div class="quote">Meie meelest nõukogude kord röövis paljaks meid, st rahvast, ja meie, metsavennad, röövisime selle riigilt tagasi. Sel põhjusel ei suhtunud metsavennad kaupade ning või äravõtmisse mitte kui röövidesse, vaid kui neilt endilt röövitu tagasi võtmisse.  
</div>
</div>


<div class="p">

<div class="quote">LH: Ants Aunver rääkis, et Jaan Heljuste on väga hea inimene, alluvatesse Kaitseliidus suhtus ta hästi  ja kõik austasid teda. Heljuste on ka väga haritud inimene, jagab hästi rahvusvahelist olukorda, oskab kõigist paremini tõlgendada ajalehtes ilmuvat  ja võib ära tunda puhkeva uue sõja.
</div>

<br>
<div class="quote">LL: Rahvusvahelisest olukorrast rääkis Heljuste, et mingeid teisi andmeid peale ajalehtede tal ei ole. Selle põhjal, mis ajalehed teatavad, arvab ta, et praegusel hetkel mingeid eriti huvitavaid sündmusi  ei toimu, olukord on rahulik ja lähemal ajal mingit lootust uuele sõjale NL vastu ei ole. Midagi võib oodata sündmustest Saksamaal või Kreekas, kui seal olukord muutub raskemaks ja suhted anglo-ameerika bloki ja NL vahel muutuvad halvemaks. Siis võib avaneda võimalus, et uus sõda puhkeb.  Kuulsin pealt metsavendade juttu, et nad varjavad end seni, kuni puhkeb sõda ja liitlasvägede abil kehtestatakse Eestis kodanlik kord. Siis algab neil vaba elu. Nõukogude võimule nad alla ei anna.
</div>
<br>
<div class="quote">AA: Võtsin ühendust, et küsida temalt nõu edasise nõukogudevastase tegevuse kohta ning rääkida mõnedel poliitilistel jm teemadel. Olin sel ajal veendunud peatselt puhkevas sõjas NL ja kapitalismimaade vahel. Vahetasime Heljustega arvamusi selle kohta, kuidas saaks sõja puhkemisel ühendada Nõukogude Liidu vastu need jõud, kes on valmis demokraatliku Eesti taastamise eest välja astuma. Heljuste avaldas arvamust, et minul ja teistel metsavendadel tuleb jätkata varjamist nõukogude võimuorganite eest, et säilitada jõudu edasiseks võitluseks kodaniku korra eest. Heljuste ütles, et sõja korral võib ta esineda üleskutsega maakonna elanikele ja  kutsuda üles võitlusele nõukogude võimuga. Vestluses Heljustega avaldasin mõtet, et vaja oleks ühendada erinevate salkade tegevus tol ajal, so 1948. a.
</div>
<br>
<div class="quote">LJ: Heljuste Jaan oli varem Eesti armee polkovnik ja Võrumaa Kaitseliidu ülem, mehed kiitsid teda kui väga head ülemust. Heljuste ütles neile, et mingil juhul ei ole vaja metsast välja minna, vaid diversioonitööd on vaja jätkata. Ta ütles, et metsavennad tegutseksid vastavalt oma äranägemisele, nagu ise vajalikuks peavad, kuid rõhutas, et röövida võib vaid kroonu- ehk riiklikku omandit, kohalikku elanikkonda röövida ei tohi. 
</div>
<br>
Heljustega oli arutlusel ka küsimus, kuidas käituda jõhkrate võimuesindajatega,  peamiselt TK esimeeste ja partorgidega. Eelistati hoiatamist ja ähvardamist, et vähendada nende pealekaebusi Julgeolekule ning inimeste kandmist „Saksa käsilaste“ ja „kulakute“ nimekirjadesse. 

</div>

<div class="p">
	<b>Ühendus teiste metsavendadega.</b>
	</div>
<div class="p">Ants Aunver ja Johannes Heeska pidasid mõlemad ühendust metsavendadega  naabervaldadest. 
<br>
Sagedaseks kaaslaseks Linnamäe-Sõmerpalu-Urvaste piirkonnas olid Robert Heeska, lisaks Kalju Visnapuu, Feliks Hõbe, Artur Telling, kes  varjasid end punkrites Uhtjärve ümbruses Urvaste vallas, samuti Valter ja Edgar Jeeger Osulas. Johannes Heeska pidas sidet Kooraste metsavendadega ja kaalus ühe naisterahva vahendusel võimalikku kohtumist Ants Kaljurannaga (Hirmus Antsuga). Kohtuti sõprade, sugulaste ja teiste varjajatega, koos korraldati varustamist ja varjamist. Kui varjamispiirkond polnud parajasti kestva operatiivlöögi all, käisid metsavennad ringi üsna avalikult ja varjamatult. Sõideti kaugemalegi: käidi Tallinnas, Tartus  ja Elvas (ühe väheusutava tunnistuse järgi olevat käidud ka Leningradis panka röövimas). Raudteesõidu loa hankisid nad Urvaste miilitsavolinikult Veskelt, kes oli Johannes Heeskaga  heades suhetes. Võrus ravis mehi Kõre nimeline arst, kes oli valmis neid vastu võtma igal ajal, samuti olid neil tutvused Elva medõdede hulgas, kellelt said ravimeid.
</div>
Liiguti eri piirkondade vahel:
<div class="quote">MA: Detsembrikuus 1947 tulid ühel õhtul minu talu juurde kaks tundmatut meest, mängisid akna all akordioni. Mõlemal olid ümmargused soome mütsid halli õmblusega. Nad tulid tuppa, võtsid pudelist viina ja mängisid umbes tund aega akordioni. Akordioni mängides nad laulsid ja naersid. Nägupidi olid mehed mulle võõrad. Ütlesid, et tulevad kaugelt ja lähevad Räpina poole. Kui nad laulsid, siis ma küsisin, kes nad sellised on. Nad ütlesid, et ei jää kauaks ja peavad varsti edasi minema, sest nad on kahtlustatavad mehed. Jõulud pidavat nad vastu võtma Lätis, kuid lubasid, et  kunagi tulevad jälle meie tallu. Ma ütlesin neile, et mis kahtlustatavad te ikka olete, tavalised relvadeta inimesed. Tundmatud vastasid, et relvad neil siiski on, portfellis. Portfell oli lühema mehe käes. Akordionil mängis pikk mees. Rohkem neid mehi minu tallu pole tulnud.
</div>
<div class="p"><b>Ühendus abikaasa ja sugulastega</b>
</div>
<div class="p">
Ants Aunver hoidis 1944. a Tallinnasse tööle siirdunud abikaasaga sidet nii kirja kui  harvade kokkusaamiste teel. 1946. a jooksul kohtusid nad mitmel korral. 
<div class="quote">
	SA: Külastasin teda kui oma abikaasat, ta kutsus oma kirjades mind Tallinnast enda juurde, teadsin, et ta varjab end ja tahtsin olla temaga koos, kohtuda, sõitsin tema juurde ja olin seal kogu päeva.  Illegaalses olekus Ants Aunveriga ma kohtusin Johannes Heeska talus ja Luksepp Jaani talus, samuti metsas kindlaksmääratud kohtades. Vahel sain Ants Aunverilt kirju teise inimeste kaudu või posti teel. Viimane kohtumine oli meil novembris 1948 Pühajärve vallas kindlaksmääratud kohas.
</div>
Aunver kirjutas kevadel varjunime all oma naisele: 
<div class="quote">
	Ma elan hästi, kõike jagub, kui O või N sulle külla tuleb, siis ütle, millest sul puudus on ja ma muretsen. Ise tulen Sinu juurde, kui lehed tärkavad puudel ja teed kuivavad, siis on liikumiseks paremad tingimused, tervitustega tädi Anna.
</div>
<div class="p">
1948. a lõpu ja 1949. a alguse massilise arreteerimiste ja vangistamiste laine tõttu katkes metsavendadel otsesuhtlus lähisugulastega aastateks.  Abi ja tugi sõltus järgnevail aastail võõraste inimeste vastutulelikkusest ja julgusest oma elu hävimise ohtu trotsida. Usaldus sai ellujäämise küsimuseks.
<br>
Otsesuhtlemine Siberi vangistusest saabunud sugulastega taastus Ants Aunveril 50-ndate keskel, kui Aunver elas juba Kose vallas vale nime all.  Sugulased olid Julgeoleku jälgimise ja survestamise all ka pärast naasmist. 
<br>
Varjamise viimasel perioodil 1953-1958 tundub väheste ellujäänud ja vangi langemata metsavendade omavaheline suhtlus peaaegu olematu. Elukaaslased olid ainukesed, kes nende minevikust teadsid ja tulevikule kaasa elasid.. Ümbritsev ühiskond proovis lõhutud elukorraldust trotsides taas jalgu alla saada ja masendavates oludes toime tulla.   Vaatamata kõigele läbielatule mõtles Ants Aunver stalinismi taandudes kehtiva ühiskonna mõistuspärasemale korraldusele. Mõtete kokkuvõtteks sai anonüümkiri Hruštšovile 1958. a märtsis, milles võim nägi ohtu ja säilitas kirja. Kõigist oma võitluskaaslastest viimasena vabaduse säilitanud metsavenna tee katkes vanglaoludes, kus ta surmamõistetuna läks ise vabasurma.   

</div>
</div>






</div>
</div>	













</div>




</div>















</div>