<div class="content">

	<h1>Pildid</h1>

	<div id="pictures-page-gallery" class="magnific-popup-gallery justified-gallery">

		<a href="/images/sangaste/ants_aunver1.jpg" title="Ants Aunver">
			<img src="/images/sangaste/ants_aunver1.jpg" />
		</a>
		<a href="/images/sangaste/aunver_ees_paremal_kaabuga.jpg" title="Ants Aunver ees paremal kaabuga.">
			<img src="/images/sangaste/aunver_ees_paremal_kaabuga.jpg" />
		</a>
		<a href="/images/sangaste/aunver_ees_paremal_kaabuga800.jpg" title="Aunver paremal ees kaabuga.">
			<img src="/images/sangaste/aunver_ees_paremal_kaabuga800.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
	</div>
</div>