<div class="content">

	<h1>Pildid</h1>

	<div id="pictures-page-gallery" class="magnific-popup-gallery justified-gallery">

		<a href="/images/sangaste/ants_aunver1.jpg" title="Ants Aunver. Foto: Erakogu">
			<img src="/images/sangaste/ants_aunver1.jpg" />
		</a>
		<a href="/images/sangaste/aunver_ees_paremal_kaabuga.jpg" title="Ants Aunver ees paremal kaabuga.">
			<img src="/images/sangaste/aunver_ees_paremal_kaabuga.jpg" />
		</a>
		<a href="/images/sangaste/aunver_ees_paremal_kaabuga800.jpg" title="Aunver paremal ees kaabuga.">
			<img src="/images/sangaste/aunver_ees_paremal_kaabuga800.jpg" />
		</a>
		<a href="/images/sangaste/ants_aunver2.jpg" title="Ants Aunver.">
			<img src="/images/sangaste/ants_aunver2.jpg" />
		</a>
		<a href="/images/sangaste/ants_aunver_perekond.jpg" title="Ants Aunver istub ees, tema taga vasakult isa, ema, õemees Karl Parts ja õde Helmi, taga seisavad õed Aliide ja Ena.">
			<img src="/images/sangaste/ants_aunver_perekond.jpg" />
		</a>
	
	<a href="/images/sangaste/ants_aunver_kaardimäng.jpg" title="Perekondlik kaardimäng Saksa ajal. Vasakul Ants Aunveri abikaasa, keskel õe Aliide kasutütar Luule Puussaar, paremal Ants Aunver.">
			<img src="/images/sangaste/ants_aunver_kaardimäng.jpg" />
		</a>
	<a href="/images/sangaste/aunver_linnamae_mehed.jpg" title="Linnamäe mehed. Ants Aunver ees vasakult teine.">
			<img src="/images/sangaste/aunver_linnamae_mehed.jpg" />
		</a>
	
	<a href="/images/sangaste/aunver_pulmas.jpg" title="Ants Aunver ülevalt teises reas paremalt teine.">
			<img src="/images/sangaste/aunver_pulmas.jpg" />
		</a>

		<a href="/images/sangaste/aunver_suusad.jpg" title="Suuskadega. Ants Aunver vasakult teine. Foto: Erakogu">
			<img src="/images/sangaste/aunver_suusad.jpg" />
		</a>
	<a href="/images/sangaste/ants_aunver4.jpg" title="Ants Aunver Saksa ajal. Foto Julgeoleku tagaotsitavate albumist.">
			<img src="/images/sangaste/ants_aunver4.jpg" />
		</a>

		<a href="/images/sangaste/tagaotsimisalbum.jpg" title="Lehekülg Julgeoleku tagaotsitavate albumist. Foto: Rahvusarhiiv">
			<img src="/images/sangaste/tagaotsimisalbum.jpg" />
		</a>	
	
<a href="/images/sangaste/jaan_heljuste_perega.jpg" title="Jaan Heljuste perega">
			<img src="/images/sangaste/jaan_heljuste_perega.jpg" />
		</a>

<a href="/images/sangaste/luksepa_talu_maluoti.jpg" title="Ants Aunveri punker asus tema onu Jaan Luksepa Mäluoti talus Laukülas. ">
			<img src="/images/sangaste/luksepa_talu_maluoti.jpg" />
		</a>

<a href="/images/sangaste/sissepaas1.jpg" title="Sissepääs punkrisse puurida alla suletuna.">
			<img src="/images/sangaste/sissepaas1.jpg" />
		</a>

<a href="/images/sangaste/sissepaas2.jpg" title="Sissepääs punkrisse puuriida all avatuna.">
			<img src="/images/sangaste/sissepaas2.jpg" />
		</a>

<a href="/images/sangaste/sissepaasu_avamiseks.jpg" title="Sissepääsu avamisseade.">
			<img src="/images/sangaste/sissepaasu_avamiseks.jpg" />
		</a>
<a href="/images/sangaste/sissepaas3.jpg" title="Sissepääs punkrisse.">
			<img src="/images/sangaste/sissepaas3.jpg" />
		</a>
<a href="/images/sangaste/sissepaas4.jpg" title="Sissepääs punkrisse.">
			<img src="/images/sangaste/sissepaas4.jpg" />
		</a>
<a href="/images/sangaste/punkri_seestvaade.jpg" title="Punkri seestvaade.">
			<img src="/images/sangaste/punkri_seestvaade.jpg" />
		</a>
<a href="/images/sangaste/relvatagavara.jpg" title="Mäluoti talu punkris hoitud relvatagavara.">
			<img src="/images/sangaste/relvatagavara.jpg" />
		</a>
<a href="/images/sangaste/aunveri_bajard_syst_pystol.jpg" title="Ants Aunveri püstol.">
			<img src="/images/sangaste/aunveri_bajard_syst_pystol.jpg" />
		</a>
<a href="/images/sangaste/verevasaares.jpg" title="Ants Aunveri saksa püstolkuulipilduja MP40">
			<img src="/images/sangaste/verevasaares.jpg" />
		</a>
<a href="/images/sangaste/ants_aunver_arr_mustvalge.jpg" title="Ants Aunver arreteerituna 1958. a.">
			<img src="/images/sangaste/ants_aunver_arr_mustvalge.jpg" />
		</a>
<a href="/images/sangaste/heeska_johannes_mustvalge.jpg" title="Johannes Heeska arreteerituna 1953. a.">
			<img src="/images/sangaste/heeska_johannes_mustvalge.jpg" />
		</a>
<a href="/images/sangaste/heeska_robert.jpg" title="Robert Heeska.">
			<img src="/images/sangaste/heeska_robert.jpg" />
		</a>
<a href="/images/sangaste/reinumägi_aino_1921_arr.jpg" title="Aino Reinumägi.">
			<img src="/images/sangaste/reinumägi_aino_1921_arr.jpg" />
		</a>
<a href="/images/sangaste/keema_mihkli.jpg" title="Ants Aunveri kodutalu Keema-Mihkli 1956. a.">
			<img src="/images/sangaste/keema_mihkli.jpg" />
		</a>
<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>


	</div>
</div>