<div class="content">

	<h1>Pildid</h1>

	<div id="pictures-page-gallery" class="magnific-popup-gallery justified-gallery">

		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
		<a href="/images/sangaste/test.jpg" title="Test">
			<img src="/images/sangaste/test.jpg" />
		</a>
	</div>
</div>