<div class="content">

  <h1>Pildid</h1>

  <div id="pictures-page-gallery" class="lg-gallery">

    <a href="/images/sangaste/fotod/ants_aunver1.jpg" title="Ants Aunver.">
      <img src="/images/sangaste/fotod/ants_aunver1.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/ants_aunver_perekond.jpg"
      title="Ants Aunver istub ees, tema taga vasakult isa, ema, õemees Karl Parts ja õde Helmi, taga seisavad õed Ena ja Aliide."
    >
      <img src="/images/sangaste/fotod/ants_aunver_perekond.jpg" />
    </a>
    <a href="/images/sangaste/fotod/ants_aunver2.jpg" title="Ants Aunver.">
      <img src="/images/sangaste/fotod/ants_aunver2.jpg" />
    </a>
    <a href="/images/sangaste/fotod/aunver_linnamae_mehed.jpg" title="Linnamäe mehed. Ants Aunver ees vasakult teine.">
      <img src="/images/sangaste/fotod/aunver_linnamae_mehed.jpg" />
    </a>
    <a href="/images/sangaste/fotod/aunver_suusad.jpg" title="Suuskadega. Ants Aunver vasakult teine. Foto: Erakogu">
      <img src="/images/sangaste/fotod/aunver_suusad.jpg" />
    </a>
    <a href="/images/sangaste/fotod/aunver_ees_paremal_kaabuga.jpg" title="Ants Aunver istub ees paremal kaabuga.">
      <img src="/images/sangaste/fotod/aunver_ees_paremal_kaabuga.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/aunver_pulmas2_trykiks.jpg"
      title="Ants Aunver pulmas, ülevalt teises reas paremalt teine."
    >
      <img src="/images/sangaste/fotod/aunver_pulmas2_trykiks.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/ants_aunver_kaardimäng.jpg"
      title="Perekondlik kaardimäng Saksa ajal. Vasakul Ants Aunveri abikaasa, keskel õe Aliide kasutütar Luule Puussaar, paremal Ants Aunver."
    >
      <img src="/images/sangaste/fotod/ants_aunver_kaardimäng.jpg" />
    </a>
    <a href="/images/sangaste/fotod/jaan_heljuste_perega.jpg" title="Jaan Heljuste perega">
      <img src="/images/sangaste/fotod/jaan_heljuste_perega.jpg" />
    </a>
    <a href="/images/sangaste/fotod/felix_hobe.jpg" title="Feliks Hõbe Antsla kaitseliitlasena. Foto: erakogu">
      <img src="/images/sangaste/fotod/felix_hobe.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/ants_aunver4.jpg"
      title="Ants Aunveri foto Julgeoleku poolt tagaotsitavate albumist."
    >
      <img src="/images/sangaste/fotod/ants_aunver4.jpg" />
    </a>
    <a href="/images/sangaste/fotod/tagaotsimisalbum.jpg" title="Lehekülg Julgeoleku tagaotsitavate albumist.">
      <img src="/images/sangaste/fotod/tagaotsimisalbum.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/luksepa_talu_maluoti.jpg"
      title="Ants Aunveri onu Jaan Luksepa Mäluoti talu Laukülas Sangaste vallas, kus asus punker. "
    >
      <img src="/images/sangaste/fotod/luksepa_talu_maluoti.jpg" />
    </a>
    <a href="/images/sangaste/fotod/sissepaas1.jpg" title="Sissepääs punkrisse puuriida all, suletuna.">
      <img src="/images/sangaste/fotod/sissepaas1.jpg" />
    </a>

    <a href="/images/sangaste/fotod/sissepaas2.jpg" title="Sissepääs punkrisse puuriida all, avatuna.">
      <img src="/images/sangaste/fotod/sissepaas2.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/sissepaasu_avamiseks.jpg"
      title="Sissepääsu avamisseade. Kasutati ka elektri saamiseks."
    >
      <img src="/images/sangaste/fotod/sissepaasu_avamiseks.jpg" />
    </a>
    <a href="/images/sangaste/fotod/sissepaas3_800.jpg" title="Sissepääs punkrisse.">
      <img src="/images/sangaste/fotod/sissepaas3_800.jpg" />
    </a>
    <a href="/images/sangaste/fotod/sissepaas4.jpg" title="Sissepääs punkrisse.">
      <img src="/images/sangaste/fotod/sissepaas4.jpg" />
    </a>
    <a href="/images/sangaste/fotod/punkri_seestvaade.jpg" title="Punkri seestvaade.">
      <img src="/images/sangaste/fotod/punkri_seestvaade.jpg" />
    </a>
    <a href="/images/sangaste/fotod/relvatagavara.jpg" title="Mäluoti talu punkrisse kogutud relvatagavara.">
      <img src="/images/sangaste/fotod/relvatagavara.jpg" />
    </a>
    <a href="/images/sangaste/fotod/keema_mihkli.jpg" title="Ants Aunveri pererahvata kodutalu Keema-Mihkli 1956. a.">
      <img src="/images/sangaste/fotod/keema_mihkli.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/keemamihkli_saun2.jpg"
      title="Keema-Mihkli talu saun 1956. a, ristiga märgitud Ida Muruoja tapmiskoht."
    >
      <img src="/images/sangaste/fotod/keemamihkli_saun2.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/virve_tamme_aino_niklus.jpg"
      title="Artur Tellingu kooliõed Virve Tamme, Aino Niklus ja Ursula Sisask. Tapetult võetud foto."
    >
      <img src="/images/sangaste/fotod/virve_tamme_aino_niklus.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/virve_tamme_tagakylg.jpg"
      title="Tapetud Artur Tellingult ära võetud foto tagakülg."
    >
      <img src="/images/sangaste/fotod/virve_tamme_tagakylg.jpg" />
    </a>
    <a href="/images/sangaste/fotod/kval_artur_telling_surn.jpg" title="Tapetud Artur Telling, 20 a, 28.12.1948">
      <img src="/images/sangaste/fotod/kval_artur_telling_surn.jpg" />
    </a>
    <a href="/images/sangaste/fotod/heeska_johannes_mustvalge.jpg" title="Johannes Heeska arreteerituna 1953. a.">
      <img src="/images/sangaste/fotod/heeska_johannes_mustvalge.jpg" />
    </a>
    <a href="/images/sangaste/fotod/robert_heeska_arr.jpg" title="Robert Heeska arreteerituna 1956. a.">
      <img src="/images/sangaste/fotod/robert_heeska_arr.jpg" />
    </a>
    <a href="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg" title="Ants Aunver arreteerituna 1958. a.">
      <img src="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg" />
    </a>
    <a href="/images/sangaste/fotod/aino_reinumägi_arr.jpg" title="Aino Reinumägi.">
      <img src="/images/sangaste/fotod/aino_reinumägi_arr.jpg" />
    </a>
    <a href="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg" title="Ants Aunveri püstol.">
      <img src="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg" />
    </a>
    <a href="/images/sangaste/fotod/verevasaares.jpg" title="Ants Aunveri Saksa püstolkuulipilduja MP40">
      <img src="/images/sangaste/fotod/verevasaares.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/robert_heeska_kaarman_surmavaenlase_vastu.jpg"
      title="Robert Heeska vangistuses. Foto: A. Käärman. Surmavaenlase vastu"
    >
      <img src="/images/sangaste/fotod/robert_heeska_kaarman_surmavaenlase_vastu.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/Johannes_Heeska_1960ndate_algus_hall.jpg"
      title="Johannes Heeska vangistuses 1960-ndate alguses. Foto: erakogu"
    >
      <img src="/images/sangaste/fotod/Johannes_Heeska_1960ndate_algus_hall.jpg" />
    </a>
    <a
      href="/images/sangaste/fotod/Johannes_Heeska_enda_tehtud_kandlega_1960ndate_algus_hall.jpg"
      title="Johannes Heeska vangistuses enda tehtud kandlega 1960-ndate alguses. Foto: erakogu"
    >
      <img src="/images/sangaste/fotod/Johannes_Heeska_enda_tehtud_kandlega_1960ndate_algus_hall.jpg" />
    </a>
    <a href="/images/sangaste/fotod/kunagine_keemamihkli.jpg" title="Kunagine Keema-Mihkli talu 2017. a.">
      <img src="/images/sangaste/fotod/kunagine_keemamihkli.jpg" />
    </a>

  </div>
</div>