<div class="content">
  <h1>Pildid</h1>

  <div class="lg-gallery">
    <img src="/images/sangaste/fotod/ants_aunver1.jpg" alt="Ants Aunver." />
    <img
      src="/images/sangaste/fotod/ants_aunver_perekond.jpg"
      alt="Ants Aunver istub ees, tema taga vasakult isa, ema, õemees Karl Parts ja õde Helmi, taga seisavad õed Ena ja Aliide."
    />
    <img src="/images/sangaste/fotod/ants_aunver2.jpg" alt="Ants Aunver." />
    <img src="/images/sangaste/fotod/aunver_linnamae_mehed.jpg" alt="Linnamäe mehed. Ants Aunver ees vasakult teine." />
    <img src="/images/sangaste/fotod/aunver_suusad.jpg" alt="Suuskadega. Ants Aunver vasakult teine. Foto: Erakogu" />
    <img src="/images/sangaste/fotod/aunver_ees_paremal_kaabuga.jpg" alt="Ants Aunver istub ees paremal kaabuga." />
    <img
      src="/images/sangaste/fotod/aunver_pulmas2_trykiks.jpg"
      alt="Ants Aunver pulmas, ülevalt teises reas paremalt teine."
    />
    <img
      src="/images/sangaste/fotod/ants_aunver_kaardimäng.jpg"
      alt="Perekondlik kaardimäng Saksa ajal. Vasakul Ants Aunveri abikaasa, keskel õe Aliide kasutütar Luule Puussaar, paremal Ants Aunver."
    />
    <img src="/images/sangaste/fotod/jaan_heljuste_perega.jpg" alt="Jaan Heljuste perega" />
    <img src="/images/sangaste/fotod/felix_hobe.jpg" alt="Feliks Hõbe Antsla kaitseliitlasena. Foto: erakogu" />
    <img
      src="/images/sangaste/fotod/ants_aunver4.jpg"
      alt="Ants Aunveri foto Julgeoleku poolt tagaotsitavate albumist."
    />
    <img src="/images/sangaste/fotod/tagaotsimisalbum.jpg" alt="Lehekülg Julgeoleku tagaotsitavate albumist." />
    <img
      src="/images/sangaste/fotod/luksepa_talu_maluoti.jpg"
      alt="Ants Aunveri onu Jaan Luksepa Mäluoti talu Laukülas Sangaste vallas, kus asus punker. "
    />
    <img src="/images/sangaste/fotod/sissepaas1.jpg" alt="Sissepääs punkrisse puuriida all, suletuna." />
    <img src="/images/sangaste/fotod/sissepaas2.jpg" alt="Sissepääs punkrisse puuriida all, avatuna." />
    <img
      src="/images/sangaste/fotod/sissepaasu_avamiseks.jpg"
      alt="Sissepääsu avamisseade. Kasutati ka elektri saamiseks."
    />
    <img src="/images/sangaste/fotod/sissepaas3_800.jpg" alt="Sissepääs punkrisse." />
    <img src="/images/sangaste/fotod/sissepaas4.jpg" alt="Sissepääs punkrisse." />
    <img src="/images/sangaste/fotod/punkri_seestvaade.jpg" alt="Punkri seestvaade." />
    <img src="/images/sangaste/fotod/relvatagavara.jpg" alt="Mäluoti talu punkrisse kogutud relvatagavara." />
    <img src="/images/sangaste/fotod/keema_mihkli.jpg" alt="Ants Aunveri pererahvata kodutalu Keema-Mihkli 1956. a." />
    <img
      src="/images/sangaste/fotod/keemamihkli_saun2.jpg"
      alt="Keema-Mihkli talu saun 1956. a, ristiga märgitud Ida Muruoja tapmiskoht."
    />
    <img
      src="/images/sangaste/fotod/virve_tamme_aino_niklus.jpg"
      alt="Artur Tellingu kooliõed Virve Tamme, Aino Niklus ja Ursula Sisask. Tapetult võetud foto."
    />
    <img
      src="/images/sangaste/fotod/virve_tamme_tagakylg.jpg"
      alt="Tapetud Artur Tellingult ära võetud foto tagakülg."
    />
    <img src="/images/sangaste/fotod/kval_artur_telling_surn.jpg" alt="Tapetud Artur Telling, 20 a, 28.12.1948" />
    <img src="/images/sangaste/fotod/heeska_johannes_mustvalge.jpg" alt="Johannes Heeska arreteerituna 1953. a." />
    <img src="/images/sangaste/fotod/robert_heeska_arr.jpg" alt="Robert Heeska arreteerituna 1956. a." />
    <img src="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg" alt="Ants Aunver arreteerituna 1958. a." />
    <img src="/images/sangaste/fotod/aino_reinumägi_arr.jpg" alt="Aino Reinumägi." />
    <img src="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg" alt="Ants Aunveri püstol." />
    <img src="/images/sangaste/fotod/verevasaares.jpg" alt="Ants Aunveri Saksa püstolkuulipilduja MP40" />
    <img
      src="/images/sangaste/fotod/robert_heeska_kaarman_surmavaenlase_vastu.jpg"
      alt="Robert Heeska vangistuses. Foto: A. Käärman. Surmavaenlase vastu"
    />
    <img
      src="/images/sangaste/fotod/Johannes_Heeska_1960ndate_algus_hall.jpg"
      alt="Johannes Heeska vangistuses 1960-ndate alguses. Foto: erakogu"
    />
    <img
      src="/images/sangaste/fotod/Johannes_Heeska_enda_tehtud_kandlega_1960ndate_algus_hall.jpg"
      alt="Johannes Heeska vangistuses enda tehtud kandlega 1960-ndate alguses. Foto: erakogu"
    />
  </div>
  <h3>Tänapäevased</h3>
  <div class="lg-gallery">
    <img src="/images/sangaste/fotod/kunagine_keemamihkli.jpg" alt="Kunagine Keema-Mihkli talu 2017. a." />
  </div>
</div>
