<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>RJM</h1>
<div class="p"></div>
	
	<div class="p">
	Julgeolek asendas laushaarangud 1940-ndate teisel poolel agentuurandmete toel sihitud haarangute ja metsasolijate sugulasteringi hävitamisega. See tõi kaasa suunatud, salastatud, ränga ja hävitava surve kogu ümbruskonnale. Elanikkonnalt pressiti vangistuse ähvardusel välja nuhiks hakkamist. Väljapressimist toimetati salajastel kinnipidamistel, mille käigus Julgeolekusse viidud inimesi ähvardati-meelitati-piinati, vahel omakseid pantvangiks võttes. Riigireeturiks kuulutamise ähvardusel võeti võeti allkirjaga vaikimisnõue kirjalikule kohustusele metsavennad üles anda.	
	</div>	
	<div class="p">
	<div class="quote">
	Mina, Laurits Ella Juhani t annan käesoleva allkirja ENSV Riikliku Julgeoleku organile selle üle et mina kohustun pidama tulevikus täielikus saladuses kõike seda mida on minu käest ülekuulamisel päritud ja mida olen mina näinud Võrumaa Julgeoleku osakonna ruumides. Juhul kui mina eksin antud allkirja vastu kannan karistust vastavalt seaduse ees kui riigisaladuse reetja. 
Võrus 13. jaan 1949 E Laurits	
	</div>	
	</div>	
	<div class="p">
	Metsavendade tabamatuks jäämine kümnekonna aasta keskel osutab selgelt ümbruskonna inimeste äraandmistõrksusele, mille üle kurtis Julgeolek pidevalt. ENSV KGB Jälitusosakonna vanemuurija Levtšenko: 	
	</div>	
	<div class="quote">
	Materjalidest nähtub, et bandiitidel oli palju abilisi ja informaatoreid, kellelt said materiaalset abi ja teateid sõjaväelaste gruppide ilmumise kohta, kes tegutsesid bande vastu.	
	</div>	
	<div class="p">
	Aastakümnete vältel Julgeoleku kogutud uurimismaterjale kõrvutades tõusevad esile  uurijate lansseeritud valed, mida hilisema kordamise läbi kinnistati. Valed on vastuolus tunnistajate ütlustega ja dokumentides kajastatuga. Üheks selliseks, mille uurija …. lasi käiku 1953. a, on valeväide, et Saksa ajal vangivalvurina Aunver peksis kinnipeetavaid. Kümme üle kuulatud tunnistajat on vägivalda eitanud, üks neist on maininud, et vangidel oli Aunveri kodus hea olla (Aunver tohtis omaenda vastutusel ja kontrollil viia 10 vangi oma tallu õunapuid istutama, kus vangid said vanglalobi asemel korralikku talutoitu). 1959. a-ks paisus vale järjest ulmelisemaks ja numbrid suuremaks, kui ENSV MN RJK esimees polkovnik Karpov ja 4. osak ülem polkovnik Burdin teatasid:  	
	</div>	
	<div class="quote">
	Töötades vangivalvurina, peksis Aunver metsikult kinnipeetavaid partei ja nõukogude töötajaid. Aunver kuulus 30 liikmelisse bandesse. Nimetatud bande Aunveri osalusel pani toime 35 terroriakti parteiaktiivi vastu ja 50 suuremat relvastatud riiklike ja kooperatiivsete organisatsioonide röövi.	
	</div>	
	
	
	
	<div class="p"></div>
	<div class="p">
	<b>Julgeolekutöötajad elanike vara riisumisel</b>	
	</div>	
	
<div class="p">
<b>1948. a detsembris</b> käis Sangaste TK esimees <b>Vainola</b> koos finantsinspektor <b>Käis</b>iga  valla majapidamisi „kulaklikuks“ tembeldamas, kirjutades kohapeal üles talude vara. Partorg <b>Kollo</b> teadmisel otsustasid nad minna kohalike vara kallale koos Valga julgeolekutöötajate <b>Vorobjov</b>i, kpt <b>Astahhov</b>i ja tõlk <b>Bõstrov</b>iga. Venemaa eestlane Ivan Käis pakkus julgeolekutegelastele tutvumiseks vara üleskirjutamise akte:<div class="quote"> "See käib väga lihtsalt, lähete kohale ja vaatate, mis meeldib, raha maksate hiljem isiklikult minule.“</div>  Järgmisel päeval sõitsid Vorobjov ja Bõstrov Julgeolekust koos finantsinspektor Käisiga Leena Säinase tallu. Vorobjov ja Bõstrov võtsid jõuga kumbki 25 kg põrsa, viisid minema ja tapsid järgmisel päeval enda tarbeks ära. Kapten Boris Astahhov Valga Julgeolekust, kes osales märtsiküüditamisel (tema enda sõnul „teenistuslikus komandeeringus Helme vallas kulakute ja bandiitliku elemendi väljasaatmisel“), parseldas Valgas Valgas avalikult  küüditatute vara. Küüditavate ja vangistatute vara omandasid võimukommunistid ka  läbi kooperatiivkaupluste, hind määrati ise. Ennast õigustati: „Kolhoos ja üksiktalupidajad kulakute varandust ei osta, kohapeale kulakutele seda jätta ei või, selle pärast korraldame selliselt!“.      	
</div>
<div class="p"></div>
<div class="p">Siinsetele talunikele kohaldasid partorgid samal ajal Venemaa karistuskombeid: talupidaja Juhan Mandel Sõmerpalust sai partorg Valuski pealekaebuse tõttu 8 aastat sunnitööd Venemaal selle eest, et võttis enda ülesharitud põllult üles maha pudenenud viljapäid.	
</div>
<div class="p">Talupidajate tõusva tagakiusamise ja hävitamise harjal 1948. a saatis Ants Aunver ähvarduskirja partorg Kollole, tapetud partorg Talviku järglasele:
</div>
<div class="p">
<div class="quote">
Lp. kod. Kollo
<br>
Teie eelkäia mõisteti surma süütute inimeste Siberisse nälja ja külmasurma saatmise, vägivaldselt kolhoositeele sundimise ja õigustamatult põhjuseta inimesi juutide poolt väljamõeldud kurnamismeetodi elajaliku väljapressimise teele tõukamise nn. kulakuks tegemise eest. 	
<br>
Juba kuuleme ka Teist eelpoolmainitud elajalikke tegusid Sangastes. Olge tänatud, et teeme Teile hoiatuse kättesaamise kuupäevast - kui kuuleme ühtegi kulakuks tegemist või selle tegemisega inimeste hirmutamist, Siberisse saatmist või vägivaldselt (hirmutuste ja ähvardustega) kolhoosi sundimist Teie või Te alluvate juudi käsilaste poolt - vastutate oma eluga. 
<br>
Teile elu lõpp, kuid teistele teiesarnastele Eesti rahva inimjätistele hoiatuseks ja teadmiseks, et vägivallale vastatakse vägivallaga. Olge tänatud (tänulikud), et teeme teile hoiatuse enne karistusaktsiooni. Ja teadke, et me ei ole huvitatud Te elust, vaid inimlikkudest tegudest Eesti rahva teenimisel.
</div>
<div class="p">
Riisujad
<br>
<b></b>Käis Ivan</b> Samueli p sünd 1922 Altai krais, töötas Valgamaa TK rahandusosakonnas al 24.IX 1947. Lahkus 1949 omal soovil Tuula linna.
<br>
<b>Astahhov, Boris</b> Pavlovitš 1916, organites al 1940, VK(b)P liige al 1942
</div>
<b>Vorobjov Mihhail</b> Petrovitš 1918, organites al 1940, VK(b)P liige al 1944
</div>
<b>Bõstrov Ivan</b> Pauli p 1923, organites al 1945, VK(b)P liige al 1944
</div>
<div class="p">
Nii valla esikommunistid Kollo ja Vainola kui toodud riisujatest julgeolekutegelased on ära märgitud innukate küüditajatena. https://communistcrimes.org/et/dokumendid-martsikuuditamise-salatoimikust-priboi
</div>
<div class="p"></div>
<div class="p">
<b>Metsavendade jälile jõudmine</b>	
</div>
<div class="p">
Partorg Talviku hukkamine 1948. a suvel pani Julgeoleku tegutsema. Operatiivtööd hakkas juhtima alampolkovnik Vassili Beljajev.
Nuhid kogusid andmeid külarahva suhtumisest Talvikusse:
<br>
<div class="quote">
Agent "Jablotškin": Erna Makke ütles: "Hea, et Talvik otsa leidis ja kahju, et Sirel pääses. Poleks paha, kui ka Sangaste TK esimees Vainola kuskil kuuli ette jääks." 
<br>
Nuhk "Son" teatas, et Heino Väljaots Sangaste veskist oli küsinud tuttava tüdruku käest Pühajärvelt Kotre talust: "Kust saada padruneid, ma tahan partorg Talviku ja Sangaste TK esimehe Sireli ära tappa".	
</div>
<div class="p">
Järgmiseks kahtlusaluseks sai Lembit Reiljan Tagulast Sangaste vallast. 	
</div>
<div class="quote">
Agent „Jablotškin“: „16. augustil 1948 k.a. hommikul tuli Sangaste TK-sse Tagula küla elanik Reiljan Lembit, kes nõudis tõendit, st luba sõiduks Tagulast Tartusse. Allikal polnud kavatsust Reiljanile tõendit anda, kuid viimane tuli päeva jooksul mitu korda tagasi ja nõudis tõendi andmist, et ta saaks asuda tööle Tartu tuletõrjekomandosse.  Reiljan põrkas ukselävel kokku Sangaste TK esimehe Sireliga, kes jooksis kohe pärast Reiljani lahkumist allika juurde ja küsis: “Kes see oli? See on üks neist kahest tundmatust, kes tapsid partorg Talviku ja haavasid mind 27. juuni ööl Kakulaane küla juures. See hoidis hobust valjastest, aga teine läks vankri juure ja hakkas tulistama mind ja Talvikut“. 	
</div>
<div class="p">
Reiljaniga samaaegselt tekkis Julgeolek ühe nuhi teate peale huvi kahe naise vastu Valgas, kellel oli “side kahtlaste isikutega Urvaste vallast". Lea Pihlak (1927) ja Regina Kikas (1923) võeti 24.11.48 salaja kinni ja allutati ülekuulamisele. Novembri lõpus 1948 oli Urvaste taludes õmblustöid teinud Regina Kikas Julgeoleku pihtide vahel katki murtud. 	
</div>
<div class="p">
Tegutsemisaasta 1948 lõpetuseks viisid metsavennad 01.12.1948 ellu julge ja jultunud rongiröövi. Seitsmekesi peatati reisirong ja rööviti relvastatud valvega postivagunist Sõmerpalu jaama lähedal Võru ja Valga vahel suur summa riigi raha. See jäi Heeska-Aunveri salgale viimaseks ühiseks ettevõtmiseks enne hajumist. Sündmus tekitas rahva seas suurt elevust ja võimude tigedat kättemaksu oli oodata. Vastus nii eredale etteastele ei lasknud end kaua oodata. 	
</div>
<div class="p">
Kaks nädalat pärast rongiröövi 14.12.48 viidi läbi põhjalik haarang Jaan Luksepa talus Sangaste vallas Ants Aunveri ja Johannes Heeska asupaigas.	
</div>
<div class="p">
Akt sõjalis-tšekistliku operatsiooni kohta: 
<div class="quote">
Meie, alla kirjutanud ENSV Võru maakonnaosakonna operatiivvoliniku abi n ltn Vetkin ja ENSV RJM vägede jaoülem (vzvoda voisk) ltn Sobalev avastasime operatsiooni käigus Sangaste valla Mäluotsa talu, mille peremees on Luksepp Jaan ja kus asus punker, RJM vägede 1. roodu jõududega ümber piirates avastasime punkri, mis kuulus Aunver Antsule, kes varjab end nõukogude võimu eest. 
Operatsiooni tulemusel bandiite tapetud ei ole, kinni peetud ei ole, haavatuid ei ole. Filtratsiooni jaoks kinnipeetud bandeabilisi on 1 inimene. Bandiitide poolt vastupanu ei osutatud. Operatsiooni käigus meie pool isikkooseisus kaotusi ei ole.
Operatsiooni käigus bandiitide varjamiskohast leitud relvad: 3 kuulipildujat, 9 vintpüssi, 3 püstolit, kaks automaati, 1000 padrunit, 2 granaati, 1 raadiovastuvõtja, 1 kirjutusmasin ja ...? asjad (nasilnõje vestši)	
</div>	
</div>
<div class="p">
Johannes Heeska pääses koidikul pahaaimamatult talule lähenedes napilt varitsusse kukkumast ja sattus tulevahetusse. Ants Aunver suutis puukuuri alusest punkrist vastu õhtut märkamatult jalga lasta, talu ise oli valve all ja selle elanikud vahistatud. Kuni keskpäevani  polnud  punkrit läbiotsimistel leitud, õhtuks suudeti avastada punker metsavendade esemete ja relvatagavaraga. Nädala pärast liikusid veoautokoormad julgeolekusõduritega Ants Aunveri jälgedes Kuigatsi valla taludesse. Ants Aunver sai tänu Hilda Kallise meelekindlale abistamise eitamisele väikese edumaa põgenemisel ja suutis selleks korraks Julgeoleku oma kannult maha raputada. Jõulud 1948 tulid talle peavarju ja toiduta.	
</div>
<div class="p">
Tabamata metsavendade püüdmiseks koondas Võru Julgeolekuosakond lisajõude teistest osakondadest. Algas kuudepikkune arreteerimistelaine. Kinnivõetutelt välja pekstud info põhjal tegi Julgeolek enne jõule haarangu ka Valter Jeegeri punkrile. 	
</div>
<div class="quote">
20.12.1948  kl 10.00 toimus haarang Valter Jeegeri punkrile Sõmerpalu valla metsamassiivis. ENSV RJM Võru maakonnaosakonna vanem operatiivvolinik ltn Staršii ja RJM vägede roodukomandör ltn Stepura koos RJM 1 jao sõduritega (voisk MGB 1. vzvoda) avastasid punkri, kättesaaduid ega kinnipeetuid pole, haavatuid pole, vastupanu osutanuid pole. Relvadest saadi 1 Saksa vintpüss, sellele 23 padrunit. Lisaks 2 jalgratta pedaali, 1 tekk, 1raudahi, 1 kruus, saag, kirves, labidas, haamer ja meeste vanad püksid.	
</div>
<div class="p">
Jõulu ja uue aasta vahel tappis Julgeolek Urvastes 20 aastase salgaliikme Artur Tellingu.  Artur Tellingu langemisele lisandus järellugu. Langemise järgsel kevadel uhtusid kevadveed ühe Võru tellisetehase kraavist välja tundmatu tapetud noormehe laiba. Prokuratuurist heideti julgeolekumõrvaritele ette lohakust, need ei peitvat laipu piisavalt salaja ja põhjalikult. Prokuratuurile teadaolevalt oli Julgeolek just sinna matnud detsembris 1948 Artur Tellingu laiba. Artur Tellingu saladuskatte all auku ajanud Võru julgeolekuosakonna komandant Ahmedzjanov oli  vahepealse ajaga jõudnud enesetapu teha ja matmiskoha täpsustust ei olnud kelleltki küsida. Pooleaastase uurimise järel jõuti  otsusele, et leitud mees polnud siiski Artur Telling. Põhjendus: Artur Tellingul olid tapmise ajal jalas Eesti kaitseväe musta värvi mundripüksid, tapetul aga kaitsevärvi rohelised sõjaväepüksid. Artur Telling (20a) oli surmatud 7.62 kaliibrilisest relvast, leitud tundmatu noormees (25a) aga tapetud kuklalasuga väiksemakaliibrilisest relvast. Kes oli see tundmatu Julgeoleku poolt tapetu, ei selgunud. 
</div>
<div class="p"></div>
<div class="p">
<b>Julgeolekus toimunud piinamised</b>	
</div>
<div class="p">
Võimetu tabama Aunveri-Heeska salga mehi, pööras Julgeolek süsteemse vägivalla ümbruskonna elanike peale, kes elasid seaduslikult. 1948. a lõpus 1949. a alguses viidi salaja, nii ükshaaval kui perekonniti, kinni ligi 100 inimest.	
</div>
<div class="quote">
ENSV RJM 2-N osakonna ülema asetäitja Beljajevi operatiivgrupp arreteeris 7.12.48- 21.01.49 umbes 20-30 bande kaasosalist-liiget (utšastnitsov bandõ) ja u 60 aktiivset bandeabilist. 	
</div>
<div class="p">
Märtsis mõisteti 40 neist ühekorraga Siberi sunnitöölaagritesse. Pidevalt täienesid tapivoorid Venemaale järgmiste süüdimõistetutega.	
</div>
<div class="p">
Kinnivõetud omaste kohtlemine Võru Julgeolekuosakonnas oli võigas. Inimesi on veetud vägistada ja neid on ükshaaval pekstud  jõugu julgeolekutöötajate poolt kaigaste-nuutidega.	
</div>
<div class="quote">
HA: ENSV prokurörile Tallinn
<br>
Vahialune ..... paragr. 17-59-3 Vangla nr.1 Tallinn

Avaldus
<br>
Pöördun Teie poole palvega koos abi saamiseks minu mitte õiglase kohtlemise kohta Võru Julgeolekus. Siin (Tallinnas) selgus minule, et Nõukogude seadus ei luba peksa ega piinata, kuna seal tehti minuga seda. Algul, pärisnime ei tea, öeldi et soomlane, peksis mind käega pähe ja kaela, rebis kleidil nööbid eest, siis viis mind eeskotta kiskus pükse jalast, arvatavasti vägistamise eesmärgil, hakkasin kisama, pärast viis mind tõlgi, nime ei tea, kaasabil mingisuguse kuuri alla, kus toimus samasugune töö – kuid minu kisa pääle tuli keegi välja ja kutsus nemad ära, sellega pääsin ka mina. Siis viidi mind tuppa, tõmmati põrandale mitmed korrad ja peksti kummi nuudiga, seda tegevust vaadasid päält ja aitasid kaasa major Sisupenko (Zjubenko) ja teised kellede nimesid ei tea, need olid umbes 6 isikut ning minul oli sel juhul jalad ja käed seotud rihmaga ja suu rättikuga. Seda võivad tõendada järgmised isikud: 1) Reinumäe Leida – kes viibis sel ajal Julgeolekus ja Julgeoleku masinakirjutaja ja temaga kaasas keegi teine naesterahvas kelledel lasti mind kahel korral üle vaadata. Kes esimesel korral ehmusid ja teisel korral midagi rääkisid vene keeles mida aru ei saanud. Pääle selle viidi mind Võru vangla, kus arst andis mulle rohtu valude vastu ja ütles, et seda ei tohi teha. Palun teatada minule kas see on seaduspärane või ei. 
<br>
Tallinnas 30.1.1949
</div>
<div class="p">
Reinumäe Leida mälestused samast:
<div class="quote">
Üle kuulati mind öösel. Enne oli samas ruumis pekstud üht naist – vaata, kuidas see närvidele mõjub! Selg oli tal lõhki löödud, too oigas maas, veri oli välja tulnud siniste vorpide seest, ta ainult oigas; pandi mind keset ruumi seisma, viis-kuus meest, nahknuudid käes, seisid ratasringi ümber minu, mõtlesin, jumal, nüüd hakkavad mind peksma, peksavad niisama nagu toda naist – pärast sain teada, et too oli HA – ta ei saanud üldse rääkida, hiljem sain patareis temaga kokku. Hakkasin hirmsasti kartma  ja kui nad küsisid, kas tundsin Telling Arturit, ütlesin: „Tundsin jah.“ „Leiba talle andsid?“ „Andsin jah.“ (Jaan Ellen, Võrumaa saaga)
</div>	
</div>
<div class="p">
See julgeolekukamp peksis mitmeid kinnivõetuid.	
</div>
<div class="quote">
LH : Minu asja juurdlemisel eeluurimisel tarvitatati vägivalda ja ähvardusi, et ma tunnistaksin end süüdi, nagu Võru SM ülekuulamisel mind ähvardati „tümaks teha“ ja löödi üle kühma kumminuiaga. Selleks et ähvardus hästi mõjuks, toodi uurija ruumi 6 sõjaväelast ohvitseri, kusjuures 4 mehel olid käes kumminuiad, aga kahel mehel puukepid, alles siis algas ülekuulamine. Kes need sõjaväelased olid, ma ei tea, ükski end ei nimetanud. Üks neist meestest virutas mulle kumminuiaga selga ja ütles, et ma räägiksin tõtt. Kes ta oli, ma ei tea, ta rääkis vene keeles.  	
</div>
<div class="quote">
Tamm Richard: Nägin Arturi õde (Artur Tellingu 20 aastane kaksikõde Alli) Võrus Julgeolekus, ta oli läbi pekstud, pingi all, sosistas:“Ma ütli su pääle halva sõna“. (Jaan Ellen, Võrumaa saaga)	
</div>
<div class="p">
JE ( kaebus lk 068)	
</div>
<div class="p">
Peksjate jõuk Võru Julgeolekuosakonnas:
<br>
<b>Zjubenko Andrei</b> Ivanovitš s 1905; ENSV RJM Võru maakonnaosakonna ülema asetäitja, major, organites al 1928, VKP(b) liige al 1939	
<br>
<b>Nosatšenko Vassili</b> Anastasjevitš s 1907; ENSV RJM 2-N osakonna 2 jaoskonna van oper volinik, kpt, RJM organites al 1932, VKB(b) liige al 1932
<br>
<b>Mihhaljov Konstantin</b> Jakovlevitš s 1919; ENSV RJM Võru maakonnaosakonna 2-N osakonna ülema asetäitja, VKP(b) liige al veebr 1941, RJM organites al aug 1943
<br>
<b>Andrejev Igor</b> Mihhailovitš s 1914; ENSV RJM 2-N osakonna 3. jaoskonna ülem, kpt, organites al 1940, VKP(b) liige al sept 1943
<br>
<b>Leoke Anatoli</b> Jakobi p s 1924; 2-N osakonna vanem oper volinik, ltn, VKP(b) kandidaat al 1947, RJM organites al 1943 detsember
<br>
<b>Beljajev Vassili</b> Nikita p s 1910; ENSV RJM 2. osakonna jaoskonna ülem,
<br>
Julgeoleku naistöötajad, kes vaatasid üle meeste poolt veriseks pekstud naist:
<br>
<b>Kuzmina Jevdokia</b> Grigorjevna 1922; ENSV RJM Võru maakonnaosakonna masinakirjutaja, parteitu, organites al 1948
<br>
 <b>Maasik Terese</b> Feodori t 1926 (vene kirjapildis Mazik Tereze Fedorovna); ENSV RJM Võru maakonnaosakonna sekretär, n ltn, VLKSM liige al 1943, RJM organites al 1944. a.
<br>
Soomlastest oli Võrru komandeeritud Valga RJM osakonna ülema asetäitja, karjalasoomlane <b>Teppojev Grigori</b> Fjodorovitš s 1913, VK(b)P liige al 1932.
</div>
<div class="p">
Vormitäiteks tehtud siseuurimine HA kaebuse peale alustati ja lõpetati ühel ja samal päeval, 16. mail 1949, alles 5 kuud pärast peksmist. Tulemuseks tavapärane salgamine: „ENSV RJM Võru maakonnaosakonna kaastöötjad eitasid kategooriliselt ülekuulamisel füüsilise mõjutamise fakti HA suhtes. Edasine uurimine selles asjas lõpetada, materjalid saata arhiivi.“ Oma seletuskirjades valetasid nii peksjad kui julgeolekunaised sarnaselt, et uurija Nosatšenko kabinetti külastasid nad "üksnes vahetevahel“ ja „mitte kunagi mitte mingisugust peksmist  RJM Võru maakonnaosakonna kaastöötajate poolt pole toimunud“. Nad süüdistasid pekstut "provokatsioonilises arveteõienduses RJM organitega“. Tunnistajat Leida Reinumäed ega Võru vangla arsti  selles "uurimises" ei esine. Ohver oli juba kolm kuud enne “uurimise” algatamist  teel tapiga kaugpõhja Vorkuta erilaagrisse nr 6, temale sellest 5 kuud pärast peksmist algatatud ühepäevase „uurimise“ tulemusest teada ei antudki.	
</div>
<div class="p"></div>
<div class="p">
<b>Julgeoleku värbamised</b>	
</div>
<div class="p">
Julgeolek tunnistas püsivalt agentide põuda ja 1949 võeti suund olukorra muutmiseks.  Suurendati järsult sundvärbamist, kõik seni  agendinimekirja kantud, kuid end eemale hoidvad inimesed otsiti taas üles. Suure sundvärvatute hulga kohta püsis agentuurtöö kasutegur jätkuvalt väike. Valdav osa agentuurist oli värvatud "kompromiteerivatel alustel" nende salajase kinnivõtmise järel. 	
</div>
<div class="p">
Värbamissurve alla jäid eriti 1946/1947. a legaliseerunud metsavennad, küüditamise eest varjunud legaliseeruda soovijad ka Eesti vabariigi aegsed optandid Venemaalt. Julgeolekus kurdeti, et värbamiskatse paljastas metsavendadele Julgeoleku töömeetodi ja nad kasutavad selle ära. Aastast aastasse kordus Julgeoleku kurtmine: puudub usaldusväärne agentuur. 	
</div>
<div class="p">
Dokumentides ette tulevatest värvatutest pole kõik mitte äraandjad, vaid inimesed, kelles Julgeolek nägi potentsiaali selleks. Sellest hulgast üritas Julgeolek iganädalastel kohtumistel voolida äraandjaid. Paljud värvatutest püüdsid end kuidagi päästa, andes vägivalla ähvardusel võimudele katteta lubadusi. Mitmed põgenesid selle vägivaldse survestamise eest metsa või lahkusid kodupaigast, mõned andsid moel või teisel metsavendadele oma värvatusest märku.  Noored naised on metsavendadega kokku mänginud ja vahendanud värvatud agentidena Julgeolekule metsavendade poolt sokutatud valeteateid. Ometi need, kelle senise minapildi suutis Julgeolek õuduse ja piitsa-prääniku meetodil hävitada, hakkasid tahtetute kooljatena ellu viima Julgeoleku tahet, külvates usaldust kuritarvitades oma senistele kaaslastele surma ja hävingut. 	
</div>
<div class="p"></div>
<div class="p">
<b>Agentuurvõrgu loomine Ants Aunveri, Johannes Heeska, Valter Jegeri jt ümber 1949</b>	
</div>
<div class="p">
Mõne kuu möödudes Ants Aunveri ja Johannes Heeska pääsemisest haarangust Sangaste vallas Mälu-Oti talus otsis Julgeolek nende jälgi Linnamäe vallas ja punus selleks ettevaatlikult uut agentuurvõrku. Julmade ülekuulamiste käigus 1948 lõpus 1949 alguses värvati agendiks Johannes Heeskale lähedane Elsa Orasmäe ehk agent "Ott", Heeska äsjane abistaja Horma talust. Julgeolek pitsitas ka Ants Aunveri truud sõpra Rein Märdimäed Lepiku talust, kes, olles küll  värvatud agendiks “Ivan”, aitas Julgeoleku teadmata Ants Aunveril leida talveks varjamiskoht oma naabri Eduard Brikkeri juurde Koidu talus. On märkimisväärne,1949. a suvel jälgis Julgeolek agentuurteadete abil paljusid metsavendade liikumisi nii Võrumaal kui Tartus, kuid tulemusteta. Kui palju luges agenditööle sunnitud sõprade varjatud kaasabi, kui palju metsavendade endi peen vaist või oskus olukordi ja inimesi hinnata, kui palju oli selles lihtsalt soodsat juhust või vedamist, on võimatu hinnata. 	
</div>
<div class="p">
Augustis 1949 oli siis kirves järjekordselt metsavendade pea kohale tõstetud. Julgeolek kavandas sõjalis-tšekistlikku operatsiooni Eduard Brikkeri juures Koidu talus.	
</div>
<div class="p">
02.07.49 oli Julgeolek taas kinni võtnud Ants Aunveri sõbra ja kauaaegse abistaja Rein Märdimäe (samuti Märdimäe pereliikmed), kellelt nõudis koostööle minemist. Märdimäelt hakkas Julgeolek nõudma infot  kord nädalas alates 08.07.49.	
</div>
<div class="p">
Rein Märdimäelt peilis Julgeolek välja, et metsavennad käivad öösiti lühiajaliselt Brikkeri juures, lahkudes sealt Kõrgepalu metsa või oma tuttavate juurde Sõmerpalu valda. Julgeolek andis Märdimäele ülesande taotleda kohtumist Ants Aunveriga Brikkeri pool. 12. ja 16. augustil  teataski Märdimäe Julgeolekule, et kohtumine toimub kas 19. või 20. augusti õhtul. Juba sama 16. augusti õhtul liikus operatiiv-sõjaväeline grupp valmisolekusse Brikkeri talu piirkonda.	
</div>
<div class="quote">
Julgeoleku ettekanne: Nimetatud grupp nihkus 17. augusti öösel Brikkeri maja lähedusse. Majaga piirnev mets oli põõsastikust puhastatud, mistõttu valitses oht varitsuse avastamiseks Brikkeri maja ümbrusest. Soovimata varitsuse enneaegset avastamist Brikkeri või tema naabrite poolt, taganes operatiiv-sõjaline grupp päeva ajaks sügavamale metsa. 17. augustil k.a. kl 13 päeval sattus metsnik Treial oma metsavahipiirkonda teisele metsnikule üle andes peale operatiiv-sõjalisele grupile ja avastas selle. Nimetatud isikud pidasime kinni ja viisime öösel teise kohta. Operatiivgrupp liikus ööl vastu 18. augustit k.a. Kõrgepalu metsast väiksesse 4 ha suurusesse metsa Brikkeri talu vastas. Männi otsast Brikkeri talu jälgiv valvesõdur kandis ette, et Brikkeri talu kuurist väljusid kl 11.30 kaks tundmatut meest ja sisenesid elumajja, kust nad 15 min hiljem läksid tagasi kuuri. Agendi „Ott“ kaudu tehti välise kirjelduse järgi kindlaks, et kaks tundmatut Brikkeri talus viibinut võivad olla bandiidid Jeeger ja Hõbe, kuid Aunver peaks Brikkeri tallu tulema õhtul./“Ivani“ agentuurettekanne 17.8.49/ Sellega seoses võeti vastu otsus oodata pimenemist, piirata salaja ümber Brikkeri talu, lasta varitsusest läbi või võtta kinni bandiit Aunver ja viia kohe sealsamas või koidikul talus läbi bandiitide Jeegeri ja Hõbe kinnivõtmisoperatsioon. 	
</div>
<div class="quote">
19.8.49 kl 20.00 teatas usaldusisik „Ivan“ (Märdimäe), et samal kuupäeval Brikkeri talu külastades rääkis viimane allikale metsas asuvatest julgeolekusõduritest, kes võtsid kinni kaks metsnikku. Allikale sõduritest rääkides oli Brikker väga närvis ja laskus jutuajamisse allikaga vastumeelselt. Valve fikseeris samuti, et kogu Brikkeri perekond jälgis tihti oma talu ukselt teravdatud tähelepanuga ümbrust. Pärast usaldusisik „Ivanilt“ saadud andmeid kerkis 19.8.49 kl 20.00 küsimus kohesest Brikkeri talu ümberpiiramisest, et takistada tundmatutel Brikkeri talust lahkumast. Jäämata ootama bandiit Aunveri tulekut, võtta kinni bandiidid Jeeger ja Hõbe või fikseerida nende füüsiline hävitamine. Kl. 20.30 oli Brikkeri talu ümber piiratud ja toimus talu läbiotsimine, kuid bandiite Jeegerit ja Hõbet talus ei avastatud. Brikkeri pidasime kinni, kuid ülekuulamisel ta midagi üles ei tunnistanud, misjärel lasime ta lahti. Brikkeri kinnipidamisel ja ülekuulamisel jätsime mulje, et sõjalist gruppi huvitab ümbruskond laiemalt, mitte üksnes tema talu.	
</div>
<div class="p">
Sõjalise operatsiooni läbikukkumise järel külastasid metsavennad edaspidi Brikkerit harvem ja ettevaatlikult. Julgeolek tõdes aasta hiljem:
<div class="quote">
Märdimäe Rein kuulus alates 1948 RJM Võru osakonna agentuurvõrku, kuid sidemeid Heeska bandega varjas süstemaatiliselt. Seoses sellega saime 14. aug 1950 MVD sõjaväeprokurörilt sanktsiooni ta arreteerimiseks, kuid ta varjus arreteerimise eest ja on lahkunud teadmata suunas.	
</div>	
<div class="p">
Johannes Heeska abilisest Elsa Orasmäest sai 1948/1949 arreteerimislaine julmuste järel agent „Ott“. Julgeolek suunas ta legendiga otsima kohtumisvõimalust Johannes Heeskaga, vahendajaks metsavend Arnold Kängsepp, kes varjas end koos Orasmäe onuga, kes oli varjunud küüditamise eest. Orasmäe ütlusel vaevles vanem mees varjamiselu raskuste all ja soovis legaliseeruda. Arnold Kängsepp,  Orasmäe 39a sugulane, oli deserteerunud Punaarmeest vahetult enne Saaremaale rindele saatmist ja varjas end metsas. Orasmäe kohtus Kängsepaga 15.08.49 kokkulepitud kohas Linnamäe TK lähedal. Kängsepp lubaski Orasmäe palvel korraldada talle Heeskaga kokkusaamise, millest lubas teada anda järgmisel kohtumisel 2.09.49 kl 22.30 samas kohas.  Orasmäe kandis sellest 31. 08.49 Julgeolekule ette.  Julgeolek seadis kohtumispaika üles varitsuse, naist ennast sinna ei lastud. Kohtumiskohta saabunud Arnold Kängsepp sööstis sõdureid märgates põõsastesse, kuid jõudis joosta 200m, kui  julgeolekusõdurid ta kohapeal tapsid. Julgeoleku ettekande kohaselt tapeti ta selleks, et põgenedes oleks ta paljastanud väärtusliku agendi (Orasmäe). See, et Kängsepa surmaga oli seotud Orasmäe, oli kohalikele siiski miskitkaudu kohe teada.	
</div>
<div class="quote">
Julgeoleku edasine tegevusplaan: kavatseme uuesti ilmutanud bande sidemete abil üles seada varitsused ja saata välja hävituspataljonlastest otsingugrupid, samuti salaja kinnivõetutest värvatud isikud. 	
</div>
<div class="p">
Elsa Orasmäele jätkati survet, et tema kaasabil Heeskat, Aunverit jt sõduritele tapmiseks ette sööta. Temalt sai Julgeolek tarvilikke „kompromiteerivaid“ andmeid sundvärbamiseks ümbruskonnas. Orasmäe agendiettekanded suunasid Julgeoleku Ants Taalfeldti ja Eduard Apleini (Arumäe)  peale, kelle naine Natalia oli Heeskale sugulane. 1949. a keskel uuris Julgeolek võimalust värvata Eduard Aplein (Arumäe), Hans Taalfeld, Voldemar Org ja Aleksander Haller. Värvatute nimistusse ilmuvad Alfred Anok ja August Norman. Detsembris 1949  võttiski Julgeolek Eduard Arumäe  salaja kinni ja allutas ülekuulamisele. Arumäelt saadi lubadus 15 päeva jooksul vennad Heeskad üles anda. Värvatuna suunati ta nuhina metsa. Salaja võeti kinni ja allutati ülekuulamisele Voldemar Saar Horma talust. Saar värvati samuti ja suunati legendiga kui metsavend Heeska tegevuspiirkonda, et imbuda salka ja see  operatiivlöögi alla suunata. 
</div>
<div class="p">
Veel plaanis julgeolek salaja kinni võtta märtsiküüditamise eest varjunud Linnamäe elaniku Voldemar Org’i (1928) (Brikkeri sugulane), kes varjas end küüditamise järel Põlva vallas. Temaltki taheti välja pressida ülestunnistus Heeska salka kuulumise kohta ja panna ta imbuma salka, et seada see operatiivrünnaku alla. 	
</div>
<div class="p">
Agentide nimestikust leiab ka  Aino Reinumäe Pätsimäelt, kel polnud kavatsustki mingit koostööd teha. Aino Reinumägi kuulus samuti nende hulka, kes küüditamisjärgse varjamise ohtudest kurnatuna otsisid  legaliseerumisvõimalust, kelle agent “Tihhomirov” toimetas salaja julgeolekuosakonda kus ta pandi fakti ette, et teda päästab üksnes äraandjaks hakkamine. Ministri asetäitja Pastelnjaki sanktsiooniga värvati ta agendiks ja suunati metsavendade asukohti otsima. Naine aga läks metsa ja jäi Aunveri juurde varjama, elades koos temaga 8 aastat kuni arreteerimiseni. 	
</div>
<div class="p">
Vaatamata suurele hulgale legendiga sundvärvatutele jäid metsavennad paraku endiselt tabamata. 	
</div>
<div class="p">
Ants Aunver liikus vahel ringi Valter Jeegeri seltsis. Sõmerpalu ümbruses  varjavate vendade Valter ja Edgar Jeegeri leidmiseks sõelus Julgeolek nende tutvusringkonda. Jeegeri kodutalus Kodassaares (kus asus üks tema punkritest) elava Leida Saariku jälgimiseks värbas Julgeolek talust 1km kaugusel elava agendi „Marta“. „Martalt“ kuulis Julgeolek metsavendade kavatsusest tulla Kodassaare tallu 7. või 8. nov 1949. „Marta“ abil plaaniti joota mehi uinutava viinaga. Operatsiooni tähtaja lähenedes hakkas aga „Marta“ kohtumistelt ja ülesande täitmisest eemale hoidma. Nähes „Marta“ kõhklemist, kahtlustas Julgeolek teda kahekeelsuses ja tühistas algselt planeeritud metsavendade kinnivõtmise Kodassaare talus. Kasutusele võeti teine agentuur, kelleks oli Vaabina MTK (mittetäieliku keskkooli) direktor Lino (informaator „Lunatik“) ja õpetaja Ots („Peter“), Valter Jeegeri koolivend.	
</div>
<div class="p">
Vaabina kooli agentuurilt sai Julgeolek teavet metsavendade soovist üle võtta saabuv palgaraha. Ööl  vastu 23.11.49. a asusid metsavennad  (neljakesi) varitsuses Vaabina raudteepeatuse juures, passides seal direktorit palgarahaga. Julgeolek seadis oma varitsuse üles 500m eemal Peebu koolimaja juures, et tabada raha järele tulnud metsavendi. Sel ööl teineteisega ei kohtutud. 
</div>
<div class="p">
2-N osakond hakkas looma uut agentuuri Heeska salga leidmiseks. Novembris 1949 oli Julgeolekul kasutada järgmine agentuur: agent „Ott“/Elsa Orasmäe/, informaator „Ivan“ /Rein Märdimäe/, „Marta“ (naine 1km Jeegeri kodust),  „Lunatik“/Vaabina kooli direktor Lino/, „Peter“ /Vaabina kooli õpetaja Ots/, ja „Mets“/ Turvas Karl /. Agendil „Kolhonen“ oli salgale otsene juurdepääs, kuid väärtuslikke andmeid ta ei edastanud ja arreteeriti jaanuaris 1949.	
</div>
<div class="p">
Septembris 1949 üritas agent „Grosberg“  kohtuda  Heeska salgaga Taalfeldti kaudu. Detsembris 1949 on Heeska äraandmise kohustusega ümbruskonna metsadesse  libametsavendadena suunatud Eduard Arumägi ja Voldemar Saar ning Julgeolek valmistas ette Erastveres töötava Org Voldemari (21a) salajast kinnivõtmist. 1950. a suvel kadus kohalike elanike silmist 25a Hans Taalfeldt, olevat elukohta vahetanud. 1950. a oktoobris võttis ta aga koos metsavendadega (Valter Jeeger jt) osa Sulbi kaupluse röövist. 1950. a oktoobris arreteeris Julgeolek, silmas pidades sidemeid Johannes Heeskaga, Voldemar Orgi (1927), ja Johannes Rohtla (s 1912).	
</div>
<div class="p">
Julgeolek tõi Võrumaale juurde veel lisajõude: 17. juuli 1951 kanti ette Nõukogude Liidu riikliku julgeolekuministri asetäitjale kindralmajor Pitovranovile: 
<div class="quote">
Võru, Antsla, Räpina, Põlva ja Vastseliina rajooni on suunatud RJM sisekaitsediviis. (divizion vnutrennõi ohranõ). Teie käskude täitmiseks saadetakse Võrumaale ENSV riikliku julgeoleku  ülema asetäitja kindralmajor sm Svinelupov.	
</div>
</div>
<div class="p">
Märtsi algul 1951 võttis Julgeolek Sõmerpalu vallas salaja kinni 50a Hilda Laugasoni Liivamäe talust, kus sauna all asus Valter Jeegeri punker. 2. märtsil on salaja kinni võetuna ülekuulamistel ka tema tütar, 25a Osula kooli õpetaja Rolaine Laugason. Antsla osakonna ülema asetäitja kpt Tjumin värbas Rolaine Laugasoni aprillis 1950. a informaatoriks „Virve“, kuid andmeid temalt ei saadud. Vastupidi, ta desinformeeris julgeolekuorganeid. Informaatorina anti Rolaine Laugasonile ülesanne võtta ühendust varjavate metsavendadega ja juhtida nad Julgeoleku löögi alla. Juulis 1950 Valter Jeegerit ja „Pauli“ kohates rääkis ta neile  Julgeoleku antud ülesandest. Valter Jeeger soovitas tal jätkata side pidamist Julgeolekuga. Metsavendade näpunäidetel andis Rolaine Laugason Julgelekule valeinfot. Ema Hilda Laugasoni piinasid ülekuulajad   2-N osakonna vanemleitnant Meltšakov ja Kuznetsov koos tõlkide Randma ja Suviga meelemõistuse kaotamiseni, mille tulemusel naine paigutati vangla psühhiaatriahaiglasse. ENSV julgeolekuminister Moskalenko oma kirjas erinõupidamise sekretariaadi ülemale Jesaulovile 3. maist 1951 pidas vajalikuks Laugasonide asja läbi vaadata erinõupidamisel ja mitte saata seda sõjatribunali, põhjenduseks soov vältida informaator „Virve“ tõttu julgeolekuorganite töömeetodite võimalikku paljastamist ja vältida võimalikku terroristlikku akti tunnistaja Laugason Elvira vastu, kuna kogu „bande“ polevat veel likvideeritud. Emale ja tütrele määras erinõupidamine 10 a. vangilaagreid. Ülekuulamiste järel vangla psühhiaatriahaiglas peetud Hilda Laugason saadeti tappi Inta kaevanduslaagrisse. Edasi vireles ta Kaasani närvikliinikus, Jämejalas, Tartu neuro-psühholoogilises kliinikus. 1958. a taotles tütar konfiskeeritud elumaja tagastamist emale, kuid Julgeolekust vastati (nagu tavaks, suuliselt, allkirja vastu!) eitavalt.    	
</div>
<div class="p">
Mais 1951 võttis Julgeolek Urvastes salaja kinni noore Meeta Lauritsa, kes elas isaga ja kelle ema oli hiljaaegu surnud. Nõukogude võimu käske ta ei täitnud, kolhoosist visati välja, kuna ei läinud nõutud normipäevi tegema. Teda peeti 16-18 päeva kinni ebaseaduslikult, dokumenteerimata üle kuulates. Meeta Laurits, kelle välimuse kirjeldusele lisati ankeeti “mõtliku ilmega”, teatas ülekuulajale keerutamata, et Valter Jeeger on väga armastusväärne inimene ja ta ei kavatsegi teda üles anda. Ka Meeta isa oli avameelne: “Pole päriselt rahul praeguse korraga ja ootasin mingisugustki valitsuse muutust.” Algul külastas Meeta Lauritsat koolivend Artur Telling. Pärast Tellingu langemist külastasid Laane talu Urvaste asunduses Jeeger Valter koos Ants Aunveriga.  Meeta Lauritsa viimane kohtumine Valter Jeegeriga oli  06.05.1951. Naaber Karl Simm esitas tema kohta Julgeolekule pealekaebuse 13. 02.1951.  	
</div>
<div class="p">
20.10.1951 mõisteti Meeta Lauritsale sõjatribunali istungil 25a vangilaagreid. Tema asja läbivaatamist taheti samuti suunata NSVL MGB erinõupidamisse, põhjendusega: vältimaks terroriakte tunnistajate vastu. Põhjendust ei loetud veenvaks ja karistus mõisteti sõjatribunalis.  Pealekaebaja Simm Karl kohtusse tunnistajaks ei ilmunud, vaid esitas arstitõendi südamelihase nõrkuse kohta. Antsla julgeolekuosakonna ülem palus tunnistajateks sõjatribunali mitte kutsuda operatiivtöös kastutatavaid Sööde Ellat ega Sööde Richardit.  Oja Endla oli varjunud ja Julgeoleku poolt tagaotsitav. 	
</div>

<div class="p">
06.09. 1951 langes 29a Valter Jeeger. Libametsavennast agendi „Andrei“ andmetele tuginedes, kellel oli otsesuhtlus Ants Aunveri ja Valter Jeegeriga, pani  RJM Antsla osakond välja varitsuse Osula k/n metsamassiivis asuval teel ja tappis Valter Jeegeri. Temalt võeti ära 2 püstolit lahingpadrunitega, nõukogude  armee sõjaväevorm ohvitseripagunitega, auto peatamise märk ja käärid juhtmete läbilõikamiseks.	
</div>
<div class="p"></div>
<div class="p">
<b>Nuhkimine. Avalik kohtuistung Julgeoleku nõudmisel.</b> 	
</div>
<div class="p">
1952. a teadaanne:
<div class="quote">
Heeska salk tegutseb siiani, viimasel kahel aastal pole end ilmutanud, täpset varjamiskohta pole kindlaks tehtud. Salga liikmeteks loetakse Juhan Heeska, Robert Heeska, Ants Aunver, Feliks Hõbe ja Edgar Jeeger. 	
<br>
Heeska bande otsimise ja likvideerimise ebaedu on tingitud peamiselt usaldusväärse agentuuri puudumisest, kes oleks võimeline bandiitidega kontakti looma ja juhtima nad likvideerimisele. Agenti „Andrei“, kellel on võimalus luua mõnede bande liikmetega kontakt, ei kasutatud lõpuni ja tema kaudu likvideeriti vaid üks bandiit (Valter Jeeger). Agendid „Ott“, „Rebane“, „Elmar“, „Južnõi“, „Mari“ jt lähemat juurdepääsu bandele ei oma. Bande otsimiseks ja likvideerimiseks on välja töötatud spetsiaalsed meetmed, kasutades agenti „Novikov“, kellel on lähedane juurdepääs bandele. Agente „Jakob“ ja „Andrei“ kasutatakse eesmärgiga likvideerida aktiivseid bandeliikmeid Aunveret ja Jeegerit, kellega „Andrei“ on illegaalses olekus korduvalt kohtunud ja kellega tal on võimalus sidet luua ka praegu.
<br>
Kolmest mõrvaragendist (agent-bojevikust), „Raba“, „Andrei“ ja „Jakob“, koostati legendijärgne „natsionalistlik“ grupp. Grupp lõi usaldusliku side Heeska bande aktiivsete abilistega ja on lähenemas bandiitidele. Ülejäänud osa selle kategooria agentuurist on kasutusel aktiivsete üksikbandiitide ja illegaalide otsimisel.
<br>
Aprillis-mais 1952 suunati Antsla rajoonis marsruudile Heeska bandet otsima agent „Oberst“.
<br>
</div>
Korraldused varjajate tabamiseks puudutasid ka raudteed (1952. a):
<div class="quote">
Tšekistlik-sõjaliste operatsioonide läbiviimise piirkonnas territoriaalsete organite poolt saata raudteejaamadesse ja sõlmedesse otsimisagendid „Petrova“, „Sibirjakova“ jt...(7), eesmärgiga tunda ära illegaale ja bandiite, kes püüavad varjumiseks ära kasutada raudteed. Otsimist viivad nad läbi fotode alusel. Eesti Raudtee lõpp-punktides Valgas, Petseris, Narvas ja Iklas luua püsivalt tegutsevad operatiivkoosseisud 3 inimesest, kes varustatakse fotodega tagaotsitavatest. Mitte lubada ebaseaduslikku sõitu kaubavagunitel.	
</div>	
</div>
<div class="p">
(Fotod Aunverist)	
</div>
<div class="p">
Julgeolekusse komandeeriti taas lisajõude:
<div class="quote">
Praktilist abi osutama bandiitiderohkemasse rajooni saata Võru rajooni ENSV RJM 2-N osakonna ülema asetäitja kpt Andrejev ja 3. osakonna ülema asetäitja van ltn Mürk, Vastseliina rajooni ENSV RJM 2-N osakonna ülema asetäitja major Zagrebalov, 2-N osak  3. osajaoskonna van oper vol n ltn Tillo ja ENSV RJM 2-N osak van oper vol Ütt (Jutt).	
</div>	
</div>
<div class="p">
8.05.1952 kinnitas Julgeolekuminister Moskalenko plaani "natsionalistlike gruppide, üksikbandiitide jt illegaalide likvideerimiseks ENSV territooriumil". Selleks loodi 3 eri-operatiivharu, millest 3. hakkas tegelema Antsla rajoonis 2 metsavennasalgaga: Heeska (5 liiget) ja Luhtmaa (7 liiget), samuti 7 üksikvarjaja ja 34 illegaali jahtimisega. 3. operatiivharu ülemaks nimetati RJM Antsla rajooniosakonna ülem Mihhaljov. Metsavendade otsimiseks loodi 3 operatiivgruppi: 1. Heeska salga otsimiseks ja likvideerimiseks: Operatiivgrupi vanem: RJM Haapsalu osak. ülema aset. kpt Pertsev. Operatiivkoosseis: 1. RJM Antsla osak. van. oper vol kpt Vorobjov 2. RJM Loksa osakonna oper volinik ltn Fedotov 3. RJM Hiiu osak oper vol ltn Tijev. Üksikvarjajate jt illegaalide otsimiseks: Operatiivgrupi vanem: RJM Jõhvi osak ülema aset ltn Stepanov. Operatiivkoossseis: RJM Valga osak detektiiv ltn Vainula. 2. RJM Antsla osak opervol ltn Vjalov 3. RJM Antsla osakonna opervol vanem (staršina) Übar (vk jubar). Heeska salga aktiivseks otsinguks pikendas Gavrilov ENSV RJM 2 osak ülema alampolk Peri komandeeringut.	
</div>
<div class="p">
1952. a nuhkisid metsavendi agendid „Kübar“, „Andrei“, „Raba“, „Novikov“, „Ott“, „Maret“, „Rebane“, „Jakob“. Libametsavendade salga kohta:	
<div class="quote">
 Antsla rajoonis loodi spetsgrupp agentidest „Raba“, „Andrei“ ja „Jakob“, et likvideerida Heeska Johannese bande liikmeid. Spetsgrupp tegutseb praeguseni legendi kohaselt bandena. Oma töö jooksul on spetsgrupp kindlaks teinud bandiitide elupunkri. Bandiitide kinnivõtmisoperatsioonil selgus, et nad olid punkrist lahkunud, sinna oli jäetud isiklikke asju ja varem röövitud vara. Punker lõhuti, kraam ja isiklikud asjad anti (po prinadležnosti). Praegusel hetkel koosneb spetsgrupp kahest agendist, „Raba“ ja „Andrei“, kellel on metsas oma hästivarjatud punker. Spetsgrupp on loonud usalduslikud suhted Heeska bande abilistega. Bandiidid aga ettevaatuse mõttes praegu spetsgrupiga ühendusele välja ei lähe, põhjendavad sellega, et spetsgrupi liikmetest ei ole nad isiklikult kellegagi tuttavad.	
</div>
</div>
<div class="p">
Johannes Heeska põhiliseks varjamiskohaks oli maa-alune punkrer Võru vallas Loosu-Navil Mihkli talus. Ants Aunver oli 1951. a sügisel koos Aino Reinumäega sunnitud lahkuma oma kodu lähedasest maa-alusest punkrist Puumiskaldal selle avastamise tõttu ja asunud ümber maa-alusesse punkrisse soosaarele Kooraste vallas. Robert Heeska elas Lanna metsas maa-aluses punkris.	
</div>
<div class="p">
Edgar Jeeger varjas end 1951. a Jaan Saare juures Vagula külas Navi k/n. Vahel käis ta külas Elfriede Laugasonil, lubas tema edasiõppimist rahaliselt toetada, kinnitades, et 10 000 aastas suudab ta tüdrukule õppimiseks anda küll. Vahel elas Edgar Jeeger Tartus sugulaste juures ja helistas sealt telefoniga Võru keskkooli õpetajate tuppa ja kutsus tüdrukut endale Tartusse külla, lubades Tartu bussijaama vastu tulla. 	
</div>
<div class="p">
24.10.52 langes metsavend Edgar Jeeger. 	
</div>
<div class="p">
26.03.1953 langes Loosu-Navil Mihkli talus tšekistlik-sõjalise operatsiooni käigus vangi metsavend Johannes Heeska. 	
</div>
<div class="p">
7.08.1953 tappis Julgeoleku mõrvaragent magamise pealt kirvega metsavend Feliks Hõbe. Tapja oli Edgar Henning, advokaat ja Saksa aegne Võru linnapea, agendinimega "Juri" („Jüri“).	
</div>
<div class="p">
1954. a lõpus saatis Julgeolek Võrumaale "Heeska salga" jälgedele ENSV MN juures asuva RJK kvalifitseeritud agendi „Täht“, varasema agendinimega "Välk" (Adolf Lõhmus s. 1908, kes osales vendade  Saalistete salga likvideerimise operatsioonides 1949. a Pärnumaal, kus Lõhmus mürgitas Edgar Saaliste unerohuga segatud viinaga). Võrumaale saadetuna oli ta legendi järgi metsavend ja illegaal ning ta seadis end sisse Kuldres Viiroki talus. Viirok ütles vestluses „Tähele“, et tal on sidemed Aunveri ja Heeskaga ning lubas agent „Tähele“ korraldada nendega kohtumise. 	
</div>
<div class="p">
1956. a värbas Julgeolek Robert Heeska abikaasa sugulase agendiks „Eva“, kellelt sai teada Robert Heeska ja ta abikaasa plaanist küüditatud tütre tagasi toomise kohta Irkutski oblastist. Julgeolek lasi tütre paigutada agent „Eva“ korterisse, et kindlustada agendi suhtlemine tagaotsitavatega. „Eva“ kirjaga Siberisse viidud sugulastele saatis Julgeolek Irkutski oblastisse oma 4. osakonna agendi „Mihhailova“. Tütar toodi Antsla linna „Eva“ juurde. 1956. a juulis võttis ema tütrega ühendust, tüdruk hakkas „Eva“ teadmata oma vanemaid punkris külastama. Vastavalt Julgeoleku ülesandele võitis „Eva“ Heeska abikaasa usalduse ja külastas teda 22.10.1956. Järgmiseks kokkulepitud külastusel, 24.11.1956, võttis Julgeolek ta kinni. Ülekuulamisel tunnistas Robert Heeska abikaasa, et varjab end maa-aluses punkris koos mehega. 24.11.1956 võeti tšekistliku operatsiooni käigus Rahu kolhoosi territooriumil Lanna metsas punkris kinni ka raskelt haige, liikumisraskustega Robert Heeska. Temalt saadi püstol „Parabellum“kal 9mm, võõramaist marki püstol kal 7,65 koos padrunitega ja kaheraudne jahipüss 10 padruniga. Operatsioonis osalesid KGB 4. osakonna van oper volinik Visljajevski. Kpt Rennit ja oper volinik Sarakejev.  	
</div>
<div class="p">
1956. a oli kõigist oma kaaslastest ainsana  tabamatuks jäänud Ants Aunver. 1957.a  võttis Julgeolek taas sihikule Ants Aunveri sugulased, kes olid pikkade vangistusaastate järel viimaks kodumaale tagasi jõunud.  1957. a aprillis külastas Ants Aunver Pärnus oma aasta varem asumiselt vabanenud õde. Aunveriga kohtumist taotlema sunniti detsembris 1957. a vaevalt 3 kuud varem Irkutskist vabanenud õemees August Püvi, kes sundvärvati agendiks „Kulinaar“. 	
</div>
<div class="p">
1956. a oli kõigist oma kaaslastest ainsana  tabamatuks jäänud Ants Aunver. 1957.a  võttis Julgeolek taas sihikule Ants Aunveri sugulased, kes olid pikkade vangistusaastate järel viimaks kodumaale tagasi jõunud.  1957. a aprillis külastas Ants Aunver Pärnus oma aasta varem asumiselt vabanenud õde. Aunveriga kohtumist taotlema sunniti detsembris 1957. a vaevalt 3 kuud varem Irkutskist vabanenud õemees August Püvi, kes sundvärvati agendiks „Kulinaar“. Lisaks värvati Ants Aunveri sidemeid kindlaks tegema agendid „Aksel“ ja „Pauliine“. 1958. a märtsis värbas KGB agendiks „Lennuk“ Aunveri nõo ja saatis viimase marsruudile Aino Reinumäe sugulase juurde. Sellelt sai agent teada, et 1954. a olid teda külastanud Ants Aunver ja Aino Reinumägi, kellel on fiktiivsed dokumendid, millega nad saavad vabalt elada.	
</div>
<div class="p">
Nuhkimine jätkus ja agendilt „Maret“ (värvatud 1947 Mürgi poolt, nuhkis Haljand Kooviku ja Toropi salga tabamiseks, 1948 õppis Tartus metsnike kursustel) sai Julgeolek andmed, et kohaliku rahva jutu järgi elavad Aunver ja Reinumägi Tallinna läheduses oma kunagise naabri Ernst Kärblase naabruses. Agent „Mareti“ andmeid kinnitas 31. mail usaldusisik „Laud“. Teemeistrina töötava Ernst Kärblase elukohana tehti kindlaks Kose alevik, 40 km Tallinnast. Kärblase kohta saadeti andmeid koguma agent „Ab“. Ants Aunveri ja Aino Reinumägi fotodel äratundmist kinnitas nii Kärblase lähedal elanud konspiratiivkorteri pidaja „Leht“ kui parteilasest kohaliku kolhoosi „Edu“ esimees Võrro. Passiosakonnas sai Julgeolek jälile Aino Reinumäe nimevahetusele. 	
</div>
<div class="p">
18. augustil tulid saeveskisse saeraami juurde 4 meest Julgeolekust, justkui sooviga isikliku puidu saagimiseks. Pärast Ants Aunveri kohalolu kindlakstegemist ründasid nad saeraamil töötavat Ants Aunverit ja võtsid ta kinni. Aunverilt võeti pass Kariste Reinu nimele s 1895 ja võõramaist marki püstol 40 lahingpadruniga. Elukohast võeti samal ajal kinni ka Aino Reinumägi. 	
</div>
<div class="p">
25.12.1958 korraldati KGB näpunäidetel ja parteiorganite nõusolekul Antslas avalik kohtufarss. Lähtuti korraldusest kasutada istungit propagandaks. Protokolliti mitmed eeluurimisega vastuolus valeväited: "peksis metsikult kinnipeetavaid partei- ja nõukogude töötajaid", "Pärnu Linavabriku auto röövimisel vägistati Karotamme nimeline naine", "Leo Luispuul olid sõrmeluud murtud" jne.	
ENSV Ülemkohtu kohtukolleegium (koosseisus Afanasjev, Pulga ja Väikene, sekretär Jaama, prokurör Jakobsoni ja advokaatide Reelo ja Levini juuresolekul)  Ants Aunveri surma mahalaskmise läbi. Otsus kuulutati lõplikuks ja edasikaebamisele mittekuuluvaks. Lõplik süüdistus kohtus: kodumaa reetmine, riiklike kuritegude ettevalmistamine ja organiseerimine, terrorism, propaganda või agitatsioon nõukogude võimu kukutamiseks ning riigi ja isikute vara omastamine.
</div>
<div class="p">
26.12.1958 mõistis ENSV Ülemkohus (esimees Afanasjev, rahvakaasistujad Pulga, Väikene) prokurör Jakobsoni ettepanekul Ants Aunverile kõrgeima karistusmäära, mahalaskmise koos vara konfiskeerimisega, edasikaebamisõiguseta ja Aino Reinomägile 8 aastat sunnitööd.	
</div>
<div class="p">
2. jaanuaril 1959 tapiga Tallinna vanglasse tagasi viidud Ants Aunveri leidis vangivalvur 3.01.59 kongis poonuna. 	
</div>
<div class="p">
Aunveri surmamõistmisest kohtus olid möödunud vaid mõned nädalad, kui ENSV Ülemkohtu eesistuja Afanasjev ja ENSV riiklik III klassi justiitsnõustaja ja aseprokurör Kimmel pöördusid  22. 01.1959 NSVL Ülemnõukogu presiidiumi poole, paludes tagantjärele Aunveri  surmamõistmine erandkorras heaks kiita, sest sellega eirati kehtivat NSVL Ülemnõukogu presiidiumi „seadlust 26. maist 1947 „surmanuhtluse kaotamisest““. Kaaskirjas mainiti, et süüdimõistetu sooritas enesetapu. Vastust ei tulnud.	
</div>
<div class="p">
Möödus veel 3 kuud ja taas kogunes ENSV Ülemkohtu Presiidium Ants Aunveri surmamõistmist arutama koosseisus: eesistuja Nurmela, liikmed Annus, Lepp ja Uusküla ning prokurör Simson. Märtsis 1959 oli ENSV prokurör Kimmel  prokurörijärelvalve korras ENSV Ülemkohtu langetatud surmaotsuse protestinud. Põhjendusel, et kohus polnud NSVL Ülemnõukogu Presiidiumilt küsinud ega saanud luba erandiks mitte täita „seadlust 26. maist 1947 „surmanuhtluse kaotamisest““, mis 1950. a muudatusega määras „rahuaegsete kodumaareeturite, spioonide, lõhkijate- diversantide maksimum karistusmääraks vabaduskaotuse töö- ja paranduslaagrites 25a“. Surmaotsus loeti põhjendamatuks. See paluti viia tagantjärele vastavusse NSVL Ülemnõukogude presiidumi „seadusega 26-st maist 1947 „Surmanuhtluse kaotamisest““. 	
</div>
<div class="p">
Kinnisel istungil 09.04.1959 muutiski ENSV Ülemkohtu presiidium surnu karistust. 	
</div>
<div class="p">
Surnu  määrati  25 aastaks paranduslikele töödele kolooniasse koos kogu vara konfiskeerimisega. 
</div>
<div class="p">
Juriidiline tsirkus jätkus. Ants Aunver oli juba kolmandat nädalat teises ilmas, kui surmaotsuse langetanud ENSV Ülemkohtu eesistuja Afanasjev koos ENSV prokuröri abi Kimmeliga saatsid 22.01.59 NSVL Ülemnõukogu presiidiumi esimehele Vorošilovile teadaande (predstavlenije), millega taotlesid  tagantjärele NSVL Presiidiumilt heakskiitu surmaotsusele, mis eiras kehtivat seadust ehk NSVL Ülemnõukogu presiidiumi “ukaasi 26. maist 1947 „Surmanuhtluse tühistamisest“”, mille kohaselt Ants Aunverit ei oleks tohtinud surma mõista. 
</div>
<div class="p">
Prokuratuuri järelvalve poolt tagantjärele koostatud protest kohtu otsusele: 
<div class="quote">
Kohus, eelnevalt küsimata ja saamata NSVL Ülemnõukogu presiidiumilt luba Ants Aunveri kohta käiva otsuse muutmiseks 26. maist 1947. a seadluse mittekasutamiseks, mis muudeti  1950. a ära kodumaareeturite, spioonide, lõhkijate- diversantide kohta puutuvalt – mõistis Aunver Antsu surma – mahalaskmisele - põhjendamatult.	
</div>
</div>
<div class="p">
Surnud inimese surmanuhtlus otsustati tagantjärele ümber vormistada 25 aastaks vabadusekaotuseks. 09.04.59 rahuldas taotluse ENSV Ülemkohtu presiidium (esimees Nurmela, liikmed Annus, Lepp, Uusküla, prokurör Simeoni juuresolekul). Ants Aunveri  lõplikuks karistuseks määras nõukogude võim surnuna 25 aastat töö- ja paranduslaagreid.	
</div>
<div class="p">
Aunveri surmamõistmisest kohtus olid möödunud vaid mõned nädalad, kui ENSV Ülemkohtu eesistuja Afanasjev ja ENSV riiklik III klassi justiitsnõustaja ja aseprokurör Kimmel pöördusid  22. 01.1959 NSVL Ülemnõukogu presiidiumi poole, paludes tagantjärele Aunveri  surmamõistmine erandkorras heaks kiita, sest sellega eirati kehtivat NSVL Ülemnõukogu presiidiumi „seadlust 26. maist 1947 „surmanuhtluse kaotamisest““. Kaaskirjas mainiti, et süüdimõistetu sooritas enesetapu. Vastust ei tulnud.	
</div>









</div>






		
		Testing
		
		Testing
	
</div>