<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>RJM</h1>
<div class="p"></div>
	
	
	
	

	<div class="p">
	Metsavendade pikaaegne tabamatus osutab elanikkonna toetusele, mida rõhutas ka Julgeolek: 	
	</div>
	 
	<div class="quote">ENSV KGB Jälitusosakonna vanemuurija Levtšenko: Materjalidest nähtub, et bandiitidel oli palju abistajaid ja informaatoreid, kellelt said ainelist abi ja teateid sõjaväelaste gruppide ilmumise kohta.	
	</div>	
	<div class="p">
	Okupatsiooni jätkudes asendusid massilised haarangud agentuurandmetel  põhinenevate operatiivlöökidega. See tähendas riigi suunatud, salastatud ja ränka survet legaalselt elavatele inimestele. Inimesed võeti salaja kinni ja toimetati Julgeoleku osakonda. Seal inimesi peksti, ähvardati ja piinati. Vahelduvalt kiusatusse viivate lubadustega nad rahule jätta, kui nõustuvad reetma. Elanikkonnalt võeti allkiri vaikimiskohustusele ja lubadusele metsavennad üles anda, riigireeturiks kuulutamise ähvardusel.
	</div>
	<div class="quote">
	Mina, Laurits Ella Juhani t annan käesoleva allkirja ENSV Riikliku Julgeoleku organile selle üle et mina kohustun pidama tulevikus täielikus saladuses kõike seda mida on minu käest ülekuulamisel päritud ja mida olen mina näinud Võrumaa Julgeoleku osakonna ruumides. Juhul kui mina eksin antud allkirja vastu kannan karistust vastavalt seaduse ees kui riigisaladuse reetja. 
Võrus 13. jaan 1949 E Laurits	
	</div>		
	<div class="p">
	Metsavennad sõltusid täielikult kohaliku rahva suhtumisest. Julgeoleku toimetamisi elanikkonna suhtumine ei kammitsenud, ei nende julmuse ega vara röövimiste osas.	
	</div>
	<div class="p">
	Kulakuks märgistatud pered oli ülekohtu ees kaitsetud. „Kulaklikest" taludest käis enda söötmist nõudmas ja vara endale kahmamas igasuguseid kommunistlikke tegelasi: kohalikke punaseid, julgeoleku tegelinskeid, sõdureid. Metsavennad pidurdasid punaste röövimisindu hoiatuste, ähvarduskirjade ja ülbemate kahmajate hukkamisega. Viimane saatus tabas ka Sangaste partorgi Talvikut, kes sundis talunikke ähvardustega tasuma makse rohkem kui norm ette nägi, koostas „kulakute“ nimekirju, sundis inimesi kolhoosi ja jälitas metsavendi. 	
	</div>
	<div class="p">
	<b>1948. a detsembris</b> käis Sangaste TK esimees <b>Vainola</b> koos finantsinspektor Käisiga  valla majapidamisi „kulaklikuks“ tegemas, kirjutades kohapeal üles talude vara. Partorg <b>Kollo</b> juures otsustati koos Valga julgeolekutöötajate <b>Vorobjov</b>'i, kpt <b>Astahhov</b>'i ja tõlk <b>Bõstrov</b>'iga kohalike vara röövima minna. Eelnevalt pakkus Ivan Käis julgeolekumeestele näha vara üleskirjutamise akte:	
	</div>
	<div class="quote">
	See käib väga lihtsalt, lähete kohale ja vaatate, mis meeldib, raha maksate hiljem isiklikult minule.	
	</div>
	<div class="p">
	Tegevusest oli teadlik ka partorg Kollo. Järgmisel päeval sõitsid Vorobjov ja Bõstrov Julgeolekust koos Sangaste TK finantsinspektor Käisiga Leena Säinase tallu. Vorobjov ja Bõstrov kumbki röövisid 25 kg kaaluva põrsa ja sõitsid saagiga minema. Päev hiljem olid loomad  tapetud. Boris Astahhov Valga Julgeolekust, kes osales märtsiküüditamisel ehk tema enda sõnul „teenistuslikus komandeeringus Helme vallas kulakute ja bandiitliku elemendi väljasaatmisel“, parseldas hiljum avalikult Valgas küüditatute vara.  	
	</div>
	<div class="p">
<b>Käis Ivan</b> Samueli p sünd 1922 Altai krais, töötas Valgamaa TK rahandusosakonnas al 24.09.1947. Lahkus 1949 omal soovil Tuula linna.<br>
<b>Astahhov, Boris</b> Pavlovitš 1916, organites al 1940, VK(b)P liige al 1942<br>
<b>Vorobjov Mihhail</b> Petrovitš 1918, organites al 1940, VK(b)P liige al 1944<br>
<b>Bõstrov Ivan</b> Pauli p 1923, organites al 1945, VK(b)P liige al 1944
	</div>
	<div class="p">
	Talupidajate röövimise taustal saatis Ants Aunver 1948. a ähvarduskirja ka tapetud Talviku järel pukki pandud partorg Kollole: 	
	</div>
<div class="quote">
	Lp. kod. Kollo<br>
Teie eelkäia mõisteti surma süütute inimeste Siberisse nälja ja külmasurma saatmise, vägivaldselt kolhoositeele sundimise ja õigustamatult põhjuseta inimesi juutide poolt väljamõeldud kurnamismeetodi elajaliku väljapressimise teele tõukamise nn. kulakuks tegemise eest. 
Juba kuuleme ka Teist eelpoolmainitud elajalikke tegusid Sangastes. Olge tänatud, et teeme Teile hoiatuse kättesaamise kuupäevast - kui kuuleme ühtegi kulakuks tegemist või selle tegemisega inimeste hirmutamist, Siberisse saatmist või vägivaldselt (hirmutuste ja ähvardustega) kolhoosi sundimist Teie või Te alluvate juudi käsilaste poolt - vastutate oma eluga. 
Teile elu lõpp, kuid teistele teiesarnastele Eesti rahva inimjätistele hoiatuseks ja teadmiseks, et vägivallale vastatakse vägivallaga. Olge tänatud (tänulikud), et teeme teile hoiatuse enne karistusaktsiooni. Ja teadke, et me ei ole huvitatud Te elust, vaid inimlikkudest tegudest Eesti rahva teenimisel.
</div>
<div class="p"></div>
	<div class="p">
	<b>JULGEOLEK JAHIB JÄLGE</b>	
	</div>
<div class="p"></div>
<div class="p">
Partorg Talviku surmamine 1948. a suvel tõi metsavennad võimude vaatevälja. Algas tihe sebimine kättemaksjate leidmiseks. Julgeoleku operatiivtöö ülemaks sai alampolkovnik Vassili Beljajev.
</div>
<div class="p">
Julgeolek uuris oma nuhkide kaudu rahva suhtumist partorg Talvikusse:
</div>
<div class="quote">
Nuhi "Jablotškin"ettekanne: Erna Makke ütles: "Hea, et Talvik otsa leidis ja kahju, et Sirel pääses. Poleks paha, kui ka Sangaste TK esimees Vainola kuskil kuuli ette jääks." Nuhk "Son" teatas, et Heino Väljaots Sangaste veskist oli küsinud tuttava tüdruku käest Pühajärvelt Kotre talust: "Kust saada padruneid, tapaks partorg Talviku ja Sangaste TK esimehe Sireli".
</div>
<div class="p">
Kahtluse alla jäi Lembit Reiljan Tagulast. 	
</div>
<div class="quote">
Agent „Jablotškin“: „16. augustil 1948 hommikul tuli Sangaste TK-sse Tagula küla elanik Reiljan Lembit, kes nõudis tõendit, st luba sõiduks Tagulast Tartusse. Allikal polnud kavatsust Reiljanile sellist tõendit anda, kuid viimane tuli päeva jooksul korduvalt ja nõudis tõendit, mis võimaldaks tal tööle asuda Tartu tuletõrjekomandosse.  Lahkudes kohtus  Reiljan ukselävel Sangaste TK esimehe Sireliga, kes jooksis pärast Reiljani lahkumist allika juurde ja küsis: “Kes see oli? See on üks neist kahest tundmatust, kes tapsid partorg Talviku ja haavasid mind 27. juuni ööl Kakulaane küla juures. See hoidis hobust valjastest, aga teine läks vankri juure ja hakkas tulistama mind ja Talvikut“. 	
</div>
<div class="p">
Samaaegselt tundis Julgeolek ühe nuhi teate peale huvi kahe noore naise vastu Valgas, kellel oli side "kahtlaste isikutega Urvaste vallast". Üks naistest võeti 24.11.48 salaja kinni ja allutati ülekuulamisele.
</div>
<div class="p">
Novembri lõpus 1948 oli nooruke õmblejanna Regina Kikas Julgeoleku pihtide vahel katki murtud ja Julgeolek metsavendade jälgedel. Detsembris-jaanuaris järgnes suur arreteerimiste laine Linnamäe ja Urvaste ümbruses. Võru valda koondati selleks operatsiooniks juurde lisajõude teistest Julgeolekuosakondadest.
</div>
<div class="p">
Detsembri algusse jäi metsavendade viimane ühisoperatsioon 1.12.1948, milleks oli peensusteni läbi mõeldud ja stiilselt ellu viidud riigiraha rööv reisirongi postivagunist Võru ja Valga vahel Sõmerpalu jaama lähedal. 	
</div>
<div class="p">
Kaks nädalat hiljem, 14.12.48, toimus haarang juba Ants Aunveri ja Johannes  Heeska asupaigas, Jaan Luksepa talus Sangaste vallas. Johannes Heeska pääses koidikul pahaaaimamatult talule lähenedes napilt varitsusse kukkumast, sattudes sealjuures tulevahetusse. Ants Aunver suutis oma puukuuri alusest punkrist vastu õhtut märkamatult lahkuda, ehkki talu oli valve all ja selle elanikud arreteeritud. Kuni keskpäevani toimunud läbiotsimisel punkrit ei leitud, kuid õhtuks suudeti avastada punker metsavendade esemete ja relvatagavaraga. Nädal hiljem liikusid veoautokoormad julgeolekusõduritega Ants Aunverit jälitades Kuigatsi valla taludesse. Ants Aunver sai tänu oma abistaja Hilda Kallise õigeaegsele hoiatusele napilt põgenema ja raputas seekord Julgeoleku oma kandadelt. 	
</div>
<div class="p">
Sõmerpalu vallas tegi Julgeolek haarangu  Valter Jeegeri punkrile. 
</div>
<div class="quote">
20. dets 1948  kl 10.00 toimus haarang Valter Jeegeri punkrile Sõmerpalu valla metsamassiivis. ENSV RJM Võru maakonnaosakonna vanem operatiivvolinik ltn Staršii ja RJM vägede roodukomandör ltn Stepura koos RJM 1 jao sõduritega (voisk MGB 1. vzvoda) avastasid punkri, kättesaaduid ega kinnipeetuid pole, haavatuid pole,
vastupanu osutanuid pole. Relvadest saadi 1 Saksa vintpüss, sellele 23 padrunit. Lisaks 2 jalgratta pedaali, 1 tekk, 1raudahi, 1 kruus, saag, kirves, labidas, haamer ja meeste vanad püksid.	
</div>
<div class="p">
Võimetu tabama mehi, asus Julgeolek toore jõhkrusega hävitama nende lähiringkonda. 1948. a lõpus ja 1949. a alguses võeti salaja, nii ükshaaval kui perekonniti, kinni ligi 100 inimest ja toimetati Võru Julgeolekuosakonda. 	
</div>
<div class="quote">
ENSV RJM 2-N osakonna ülema asetäitja Beljajevi operatiivgrupp arreteeris 7.12.48- 21.01.49 umbes 20-30 bande kaasosalist-liiget  ja u 60 aktiivset bandeabilist. 	
</div>
<div class="p">
Märtsis mõisteti neist 40 inimest ühekorraga süüdi ja saadeti Siberi vangilaagritesse, pidevalt täienesid tapivoorid järgmiste süüdimõistetutega.	
</div>
<div class="p">
Kinnivõetute kohtlemine Võru Julgeolekuosakonnas oli sealsete tavade kohaselt ebainimlik. Inimesi on veetud vägistada ja pekstud jõugu julgeolekutöötajate poolt kumminuiade-nuutidega.	
</div>
<div class="p">
HA järelpärimine, kes võeti kinni 3.01.1949:	
</div>
<div class="quote">
ENSV prokurörile Tallinn<br>
Vahialune ..... paragr. 17-59-3 Vangla nr.1 Tallinn<br>
Avaldus<br> 
Pöördun Teie poole palvega koos abi saamiseks minu mitte õiglase kohtlemise kohta Võru Julgeolekus. Siin (Tallinnas) selgus minule, et Nõukogude seadus ei luba peksa ega piinata, kuna seal (Võrus) tehti minuga seda. Algul, pärisnime ei tea, öeldi et soomlane, peksis mind käega pähe ja kaela, rebis kleidil nööbid eest, siis viis mind eeskotta kiskus pükse jalast, arvatavasti vägistamise eesmärgil, hakkasin kisama, pärast viis mind tõlgi, nime ei tea, kaasabil mingisuguse kuuri alla, kus toimus samasugune töö – kuid minu kisa pääle tuli keegi välja ja kutsus nemad ära, sellega pääsin ka mina. Siis viidi mind tuppa, tõmmati põrandale mitmed korrad ja peksti kummi nuudiga, seda tegevust vaatasid päält ja aitasid kaasa major Sisupenko (Zjubenko) ja teised kellede nimesid ei tea, need olid umbes 6 isikut ning minul oli sel juhul jalad ja käed seotud rihmaga ja suu rättikuga. Seda võivad tõendada järgmised isikud: 1) Reinumäe Leida – kes viibis sel ajal Julgeolekus ja Julgeoleku masinakirjutaja ja temaga kaasas keegi teine naesterahvas kelledel lasti mind kahel korral üle vaadata. Kes esimesel korral ehmusid ja teisel korral midagi rääkisid vene keeles mida aru ei saanud. Pääle selle viidi mind Võru vangla, kus arst andis mulle rohtu valude vastu ja ütles, et seda ei tohi teha. Palun teatada minule kas see on seaduspärane või ei. 
<br>
Tallinnas 30.1.1949	
</div>
<div class="p">
Reinumäe Leida meenutus:
</div>
<div class="quote">
Üle kuulati mind öösel. Enne oli samas ruumis pekstud üht naist – vaata, kuidas see närvidele mõjub! Selg oli tal lõhki löödud, too oigas maas, veri oli välja tulnud siniste vorpide seest, ta ainult oigas; pandi mind keset ruumi seisma, viis-kuus meest, nahknuudid käes, seisid ratasringi ümber minu, mõtlesin, jumal, nüüd hakkavad mind peksma, peksavad niisama nagu toda naist – pärast sain teada, et too oli HA – ta ei saanud üldse rääkida, hiljem sain patareis temaga kokku. Hakkasin hirmsasti kartma  ja kui nad küsisid, kas tundsin Telling Arturit, ütlesin: „Tundsin jah.“ „Leiba talle andsid?“
„Andsin jah.“ <br>(Jaan Ellen, Võrumaa saaga)	
</div>
<div class="p">
Tunnistusi peksmisest leidub mitmeid.	
</div>
<a class="magnific-popup-image" href="/images/sangaste/dokumendid/erich_jeeger_kaebus.JPG">
		<img class="image_right" src="/images/sangaste/dokumendid/erich_jeeger_kaebus.JPG">
	</a>
<div class="quote">
LH : Minu asja juurdlemisel eeluurimisel tarvitatati vägivalda ja ähvardusi, et ma tunnistaksin end süüdi, nagu Võru SM ülekuulamisel mind ähvardati „tümaks teha“ ja löödi üle kühma kumminuiaga. Selleks et ähvardus hästi mõjuks, toodi uurija ruumi 6 sõjaväelast ohvitseri, kusjuures 4 mehel olid käes kumminuiad, aga kahel mehel puukepid, alles siis algas ülekuulamine. Kes need sõjaväelased olid, ma ei tea, ükski end ei nimetanud. Üks neist meestest virutas mulle kumminuiaga selga ja ütles, et ma räägiksin tõtt. Kes ta oli, ma ei tea, ta rääkis vene keeles.  	
</div>
<div class="quote">
Tamm Richard: Nägin Arturi õde (Artur Tellingu 20 aastane kaksikõde Alli) Võrus Julgeolekus, ta oli läbi pekstud, pingi all, sosistas:“Ma ütli su pääle halva sõna“.<br>(Jaan Ellen, Võrumaa saaga)	
</div>
<div class="p">
Sellesse peksjate jõuku  Võru Julgeolekuosakonnas kuulusid:<br> 
<b>Zjubenko Andrei</b> Ivanovitš s 1905; ENSV RJM Võru maakonnaosakonna ülema asetäitja, major, organites al 1928, VKP(b) liige al 1939<br>
<b>Nosatšenko Vassili</b> Anastasjevitš s 1907; ENSV RJM 2-N osakonna 2 jaoskonna van oper volinik, kpt, RJM organites al 1932, VKB(b) liige al 1932<br>
<b>Mihhaljov Konstantin</b> Jakovlevitš s 1919; ENSV RJM Võru maakonnaosakonna 2-N osakonna ülema asetäitja, VKP(b) liige al veebr 1941, RJM organites al aug 1943<br>
<b>Andrejev Igor</b> Mihhailovitš s 1914; ENSV RJM 2-N osakonna 3. jaoskonna ülem, kpt, organites al 1940, VKP(b) liige al sept 1943<br>
<b>Leoke Anatoli</b> Jakobovitš s 1924; 2-N osakonna vanem oper volinik, ltn, VKP(b) kandidaat al 1947, RJM organites al 1943 detsember<br>
Võrru oli komandeeritud Valga RJM osakonna ülema asetäitja, karjalasoomlane <b>Teppojev Grigori</b> Fjodorovitš s 1913, VK(b)P liige al 1932.<br>
Veriseks taotud naise vaatasid üle julgeolekutöötajad:<br>
<b>Kuzmina Jevdokia</b> Grigorjevna 1922; ENSV RJM Võru maakonnaosakonna masinakirjutaja, parteitu, organites al 1948<br>
<b>Maasik Terese</b> Feodori t 1926 (vene kirjapildis Mazik Tereze Fedorovna); ENSV RJM Võru maakonnaosakonna sekretär, n ltn, VLKSM liige al 1943, RJM organites al 1944. a.	
</div>
<div class="p">
Vormitäiteks algatatud julgeolekusisene uurimine peksmise asjus alustati ja lõpetati samal päeval, 16. mail 1949, so 5 kuud pärast peksmist. Tulemus oli tavapärane:<br> 
<div class="quote">
ENSV RJM Võru maakonnaosakonna kaastöötjad eitasid kategooriliselt ülekuulamisel füüsilise mõjutamise fakti HA suhtes. Edasine uurimine selles asjas lõpetada.
</div>

Oma seletuskirjades valetasid Julgeoleku tegelased kooris, et uurija Nosatšenko kabinetti külastasid nad "üksnes vahetevahel“ ja „mitte kunagi mitte mingisugust peksmist  RJM Võru maakonnaosakonna kaastöötajate poolt pole toimunud“. Sama hingetõmbega järgnes pekstu süüdistamine "jultunud provokatsioonilises arveteõienduses RJM organitega“. Teistelt tunnistajatelt, Leida Reinumäelt ja Võru vangla arstilt, seletuskirju võetud pole. Ohver oli juba mitmu kuud varem saadetud tappi kaugpõhja Vorkuta erilaagrisse nr 6.  ja temale vastama ei vaevutudki.	
</div>

<div class="p"></div>
<div class="p">
<b>VÄRBAMISED. AGENDID</b>	
</div>
<div class="p">
Metsavendluse aegsetes Julgeoleku dokumentides tähendab värvatud agent peamiselt rängale sunnile-mõjutamisele allutatud isikut. Äraandjaks said neist mõned. Isehakanud (nö “patriootlikel alustel”) agente oli 1-2. Valdav osa agentuurist värvati "kompromiteerivatel alustel", ehk salajase kinnivõtmise järel nõuti, nende varasematele tegudele-sidemetele osutades ning Vene vangilaagrist ja karistusest pääsemise eest vastutasuks, keelekandmist ja käskude täitmist. Käsutäitmist kontrolliti teiste agentide kaudu. Paljud survealustest püüdsid end lähedaste reetmisest säästa, andes igasuguseid katteta lubadusi. Mitmed neist põgenesid selle rõhumise eest ise metsavendade juurde või vahetasid elupaika, mitmed andsid moel või teisel metsavendadele oma värvatusest märku.  Mõned naised mängisid metsavendadega kokku ja vahendasid metsavendade poolt edastatud valeteateid. Aastast aastasse kordus Julgeoleku kurtmine – puudub usaldusväärne agentuur. Samuti kurdeti, et värbamistega oli  metsavendadele paljastatud oma töömeetod ja metsavennad oskasid seda ära kasutada. 	
</div>
<div class="p">
Mõnede senise minapildi suutis Julgeolek hävitada. Nende tahe kukkus kokku ja nad hakkasid ellu viima Julgeoleku tahet ja käske, külvates senistele sõpradele vastutasuks enda usaldamise eest surma ja hävingut. Nendest said äraandjad.	
</div>
<div class="p">
Alltoodud ettekanded osutavad, kui laialt ja üksikisikupõhiselt sundis Julgeolek metsavendade ümbruskonda reetmisele. Rõhudes inimeste murele kodu ja ülalpeetavate pärast -  laste või teismeliste, invaliidide või vanurite pärast - õhutades reetjat endale sisemist õigustust leidma. Pakkudes kiusatuseks hiljem rahule jätmist.  	
</div>
<div class="p">
Järgnevate ettekannete lugemisel tasuks arvesse võtta, et tavapäraselt omistas Julgeolek ühtede metsavendade tegusid ka tema kaaslastele, et näidata üksikisiku “süüd” suuremana. Ühes alljärgnevas ettekandes on Valter Jeegerile omistatud rida tapmisi, millest ta pole osalenud üheski. Ka on dokumentides tava kasutada halvustavaid epiteete, igale metsavenna nimele eelneb reeglina nimetus bandiit. Ja bandiidiga seotud naiserahvas on Julgeoleku kantseliidis sageli armuke (любовница), ehkki ta võis olla ka lihtsalt kooliõde jne. 	
</div>
<div class="p"></div>
<div class="p">
<b>RJM 2-N OSAKONNA ETTEKANDEID AUNVERI JA HEESKA SALGA JÄLITAMISEL ALATES 1949</b>	
</div>
<div class="quote">
<b>05.1949</b> saadi agendilt <b>"Ott“</b> ettekanne, milles ta teatab, et teda külastas Linnamäe elanik Märdimäe Rein Antsu p s 1900, Sõmerpalu valla elanik Võrumaalt, parteitu, 10 kl haridust, NSVL kodanik, töötab arveametnikuna kolhoosis. Märdimäe Rein oli varem kontrrevolutsioonilistes organisatsioonides Kaitseliit ja Isamaaliit. 1935. a reetis ta nõukogude luuraja Vilsal’i, kes visati Eestisse Pihkva juhtkonna poolt. Meie allikale rääkis Märdimäe, et pärast Heeska bande punkri purustamist tuli Aunvere Ants tema  tallu  ja varjas end tema talus pikka aega. Hiljem tuli tema juurde Heeska ja teatas, et viib Aunvere endaga kaasa, kuna viimasel on närvid haiged ja ta ei tohiks end üksi varjata. 	
</div>
<div class="quote">
<b>24.05.1949</b> saadi allikalt <b>„Buhov“</b> ettekanne, milles ta teatas, et Märdimäe Rein on Heeska hea sõber, kuna ta koos Heeskaga võttis nõukogude vägede taganemisel (so 1941) osa punalipu ja Nõukogude liidu juhtide portreede purustamisest Linnamäe TK hoone lähedal, samuti võtsid nad osa Sõmerpalu TK esimehe Vilsoni arreteerimisest. 
Kavatseme kokku koguda kõik kompromiteerivad andmed, misjärel võtta Märdimäe salaja kinni, üksikasjaliselt üle kuulata ja otsustada küsimus Märdimäe arreteerimisest või värbamisest Heeska bande töötlemiseks ja otsimiseks. 	
</div>
<div class="quote">
<b></b>6.06.1949  saime agendilt <b>„Ott“</b>  ettekande, milles  teatab, et tema onu <b>Krüüner Juhan</b> varjab end väljasaatmise eest. Krüüner on meie arvestuses Heeska bande abiline, käesoleval hetkel varjab end  koos illegaal <b>Kängsepp Arnoldiga</b>.<br> 
„Ott“ kohtus mõlemaga ja Kängsepp rääkis talle, et ta varem kohtas Heeskat, kuid Heeska praegust asukohta ta täpselt ei tea.<br>
Krüüner kaebas illegaalielu vaevade üle, kuid Kängsepp hoidis teda legaliseerumast. Neid asjaolusid arvesse võttes kavatseme Krüüneri salaja kinni võtta ja pärast ülekuulamist otsustada küsimus tema värbamisest Heeska bande otsingutele. 
Lisaks kavatseme taasilmutanud bande sidemete abil seada üles varitsused ja saata välja hävituspataljonlastest otsingugrupid, samuti salaja kinnivõetutest värvatud isikud.
</div>
<div class="quote">Saanud andmeid Heeska sidemetest <b>Reinumägi Ainoga</b>, kutsusime ta agent <b>“Tihhomirovi”</b> kaudu kohtumisele meie töötajatega, kuna ta soovis legaliseeruda. Reinumägi tunnistas sidemeid Heeska salga liikmetega alates 1946. a. Ühe bandiidi kaudu tutvus ta teiste Heeska salga liikmetega, Heeska Johannese, Heeska Roberti, Hõbe Feliksi, Visnapuu Kalju, Telling Arturi ja Kuus Karliga, ning sai teada, et nad kõik tegelevad röövide ja tapmistega. Sellest teades varustas Reinumägi bandiite pidevalt söögiga ja varjas neid oma talus. Ministri asetäitja Pastelnjaki sanktsiooniga värvati Reinumägi agendiks ja suunati Heeska bandet otsima.  Agentuurtoimiku „Obretšonnõje“ andmetel on bandeabiliseks <b>Juhan Krüüner</b>, kes määrati kulakuna väljasaatmisele NSVL kaugrajoonidesse, kes põgenes väljasaatmise eest kodust ja hakkas varjama koos illegaal Kängsepaga , kes on seotud Heeska salgaga.
Käesoleval kuul (so juuni) võeti Krüüner salaja kinni ja värvati pseudonüümi all „Paul“. Kui „Pauli“ töö käigus ilmneb, et et ta ei suuda tagada täielikku plaani elluviimist, kavatseme salaja kinni võtta Kängsepa, et ta üle kuulata ja otsustada tema värbamine Heeska salga osaliste otsimiseks. 
Heeska abiliste välja selgitamiseks värvati lisaks <b>Anok Alfred</b> hüüdnime all <b>„Sarapuu“</b> ja <b>Norman August</b> hüüdnime all <b>„Ants“</b>.
</div>
<div class="quote">
<b>27.06.1949</b> korralisel kohtumisel teatas agent <b>„Ott“</b>, et kohtus illegaal Kängsepp Arnoldiga.
<br>
Kängsepp küsis allikalt, mida ta Heeska Johannesest teab , allikas vastas, et mitte midagi. Kängsepp ütles: „Heeska tuleb varsti minu juurde, kui tahad temaga kohtuda, tulen koos temaga öösel sinu juurde.“ Allikas oma nõusolekut ei andnud, teatades, et elab koolimajas ja tema juurde pregu tulla ei tohi, sest teda võidakse kahtlustada sidemetes metsavendadega. 
Kängsepp nõustus ja lubas allikale teada anda, kui Heeska tema juurde tuleb.<br> 
Allikale „Ott“ anti ülesanne pidada regulaarselt sidet Kängsepaga, tema kaudu ka Heeskaga, pärast mida kavandada Heeska jt bandeliikmete kinnipidamine.
</div>
<div class="quote">
<b>11.06.1949</b> Agent <b>“Ott”</b> kandis ette: 
Allikal oli vestlus Märdimäega – allika õe lapsepõlvesõbraga. Viimane ütles, et pärast Heeska punkri purustamist Sangastes varjas tema sõber Aunver end mõnda aega  tema juures.
Aunver varjas üksi ja oli sedavõrd närvivapustuse mõju all, et kavatses lõpetada elu enesetapuga. Aprillis 1949 tuli tema, so Märdimäe juurde Heeska ise ja teatas, et viib Aunveri endaga kaasa, kuna Aunver oma närvidega üksi edasi varjata ei saa.
</div>
<div class="quote">
<b>2.07.1949</b> võtsime Märdimäe salaja kinni ja kuulasime üle lähtuvalt olevatest materjalidest. 
Märdimäe tunnistas oma süüd nõukogude rahva ees toime pandud kuritegudes  Eesti kodanlikul perioodil ja Saksa okupatsiooni ajal ja rääkis, et tõepoolest tuli tema juurde ühel öösel  jaanuaris 1949, pärast Heeska punkri purustamist Sangastes Valgamaal, Heeska terroristliku bande liige Aunver Ants. Soovimata saada nõukogude võimuorganite poolt süüdistust seotustes bandiitidega soovitas ta Aunveril varjata end oma naabri Brikkeri juures, kuhu Aunver 2 tundi hiljem Märdimäe juurest ka lahkus. 
Hoides Brikkeriga tihedalt sidet teadis Märdimäe, et Aunver varjas end kuni aprillini k.a. Brikkeri talus. Aprillis tuli Brikkeri tallu bande juht Heeska Johannes ja viis Aunveri teadmata suunas.
Tulenevalt sellest tunnistusest värbasime <b>Rein Märdimäe</b> pseudonüümi all <b>„Ivan“</b> ja suunasime Heeska bandet otsima. 
</div>
<div class="quote">
<b>14.07.1949</b> Täites ülesannet teatas informaator <b>“Ivan”</b>:  Allikas vastavalt teie ülesandele kohtus 8. juulil Brikker Eduardiga. Vesteldes toas Brikkeriga kahekesi, huvitus allikas bandiit Aunverist ja küsis Brikkerilt, kas ta on Aunverit näinud või kus ta elab. Brikker vastas, et Aunver koos ühe metsavennaga (nime ei nimetanud) külastas hiljuti tema talu ja veenis allikat, et viimane ei muretseks, kuna nad varjavad usaldusväärses kohas ja neil on punker. Allikas küsis, kas see teine metsavend ei ole Heeska Johannes, mille peale Brikker vastas, et Heeska Johannes varjab Võru vallas, kus täpsemalt ja kelle juures, ei öelnud. Tahtmata kahtlust äratada, allikas Brikkerilt rohkem bandiitide kohta ei küsinud ja sellega jutt lõppes.
</div>
<div class="quote">
<b>21.07.1949</b> Allika<b> “Ivan”</b> ettekanne: Täites teie käsku läks allikas 17. juulil k.a. Brikkeri tallu, kus vestles temaga <b>Aunver</b>iga kokku saamisest. Brikker oli juba nädal aega voodis haige. Brikker kutsus allika enda juurde tagasi 20. juuli õhtuks k.a. , lubades organiseerida kohtumise Aunveriga. 
20. juulil k.a. kell 23 läks allikas Brikkeri tallu. Sisse astudes nägi ta Brikkerit istumas kolme bandiidiga, kellest allikas tundis ära ainult ühe – Aunveri. Kahte ülejäänut ta ei tundnud, kuna toas puudus valgus. 	
<br>
Allikas tervitas bandiite ja tegi juttu, mille käigus tegi selgeks,  et need 2 bandiiti on vanuses 25-28 a, üks neist rääkis kohalikku murrakut, teine kirjakeelt. Toanurgas märkas allikas automaati. 	
<br>
Mõne aja pärast palus allikas Aunverit õue tulla, millega see nõustus. Õues küsis allikas Aunverilt, kus asub  Heeska Johannes, tal on teda väga vaja. Aunver vastas, et Heeska olevat teises kohas, Võru maakonnas, kuid kelle juures, ei öelnud. Allikas uuris seejärel bandiitide vajaduste kohta ja pakkus Aunverile toiduaineid, millele Aunver vastas, et praegu toitu jagub, aga kui tuleb vajadus, tuleb ta ise allika juurde.
<br>
Relvaks oli Aunveril püstol, kõigil bandiitidel olid endaga kaasas väikesed kohvrid. Allikas küsis edasi, kuna ta saab jälle Aunveri ja tema teiste sõpradega kohtuda. Aunver vastas, et kohtumine tuleb augusti alguses siinsamas Brikkeri pool.
<br>
Võtsime Brikkeri aktiivseks läbitöötamiseks.	
</div>
<div class="quote">
Samaaegselt võtsime aktiivseks agentuurseks läbitöötamiseks Kängsepp Arnoldi Gustavi p 1910, kes varjab nõukogude võimu eest alates 1944.
<br>
On teada, et Kängsepp A. G., soovimata teenida nõukogude armees, deserteerus sealt 1944. a ja varjab end praeguse ajani nõukogude võimu eest oma kodu pööningul. Aastast 1945 kuni detsembrini 1948 pidas sidet bande juhi Heeskaga jt liikmetega. (agentuurmaterjal agendilt “Ott” ja illegaal Krüüneri tunnistused.)	
</div>
<div class="quote">
<b>11.07.1949</b> Agent <b>“Ott”</b> teatas, et vestluses illegaal Kängsepaga, mis toimus 10.07.1949 metsaserval Kängsepa maja lähedal, lubas viimane korraldada talle kohtumise <b>Johannes Heeska</b>ga, teades, et allikas oli varasemalt Heeska armuke.
</div>
<div class="quote">
Kavandatavad agentuur-operatiivsed meetmed agentuurtoimiku “Obretšjonnõje” likvideerimiseks:<br>
1. Informaator “Ivani” andmete kontrollimiseks ja paralleelselt Heeska bande läbitöötamiseks kavandame illegaal Kängsepa salajast kinnivõtmist, keda kavatseme sõltuvalt tema tunnistustest värvata ja viia siseagendina Heeska bandesse. Läbi tema ja informaator “Ivani” tahame teha kindlaks kogu bande täpse asukoha ja viia bande operatiivlöögi alla. Vastutavad Burakov ja Barõšnikov.
<br>
2. Informaator “Ivani” kaudu viia läbi järgmine agentuur-operatiivne kombinatsioon: Seoses sellega, et “Ivanil” on bande juhi Heeska ja selle abilise Aunveri silmis piisav autoriteet, peab ta viimasega kohtumisel veenma viimast allika vajadusest kohtuda Heeskaga. Heeskaga kohtumisel selgitada välja üksikasjad oma sugulase Märdimäe Augusti kohta (Märdimäe August on Heeska bande liige). Kui Heeska teatab, et August on tapetud, siis selgitada välja, kuna ja kelle poolt tapetud ja kuhu maetud. Pärast seda püüda korraldada Heeska ja teiste bande liikmete õhtune kohtumine Brikkeri talus, millest teatada oma poja kaudu, kokkulepitud parooliga, meie kaastöötaja Turupanovile, kuhu me saadame sõjalis-operatiivse grupi ja allika poega sidepidajana kasutades (tema on meie informaator “Mart”), viiakse läbi operatiivrünnak Heeska bande pihta Brikkeri talus.	
</div>
<div class="quote">
Brikkeri läbitöötamisel taotles “Ivan” viimaselt kohtumist Heeska bande aktiivsete liikmete <b>Aunver</b>i, <b>Hõbe</b> ja <b>Jeeger</b>iga Brikkeri elamises 20. juulil k.a. kl 23.00.
<br>
Pärast lühikest vestlust bandiit Aunveriga Brikkeri talu õuel  läks “Ivan” koju, aga Aunver tagasi Brikkeri juurde tuppa. Järgnevatel informaatori “Ivan” kohtumistel Brikkeriga vastas viimane allika küsimustele, et tema sõbrad tulevad vahel tema juurde öösiti lühikeseks ajaks ja lahkuvad kohe Kõrgepalu metsa ja tuttavate juurde Sõmerpalu valda (Bandiit Jeeger on pärit Sõmerpalu vallast).	
</div>
<div class="quote">
<b>12.08.1949</b> ja <b>16.08.1949</b> teatas <b>„Ivan“</b>, et Brikkeri poole peaksid nimetatud bandiidid tulema kas 19. või 20. augusti õhtul.  „Ivani“ andmetele toetudes koostasime plaani bandiitide kinnivõtmiseks. 16. augustil k.a. saadeti Brikkeri talu piirkonda operatiiv-sõjaline grupp.	
</div>
<div class="quote">
<b>17.8.49</b> Nimetatud grupp nihkus 17. augusti öösel Brikkeri maja juurde, kuid majaga piirnev mets oli põõsastikust puhastatud, mistõttu oli oht varitsuse avastamiseks Brikkeri maja ümbrusest. Soovimata varitsuse enneaegset avastamist Brikkeri või selle naabrite poolt, taganes operatiiv-sõjaline grupp päeva ajaks sügavamale metsa. Kl 13 päeval 17. augustil k.a., oma metsavahipiirkonna üle andmisel teisele metsnikule, sattus metsnik Treial koos teisega operatiiv-sõjalisele grupile  peale ja  avastas selle. Nimetatud isikud me pidasime kinni ja viisime öösel teise kohta. Kuid operatiivgrupp liikus ööl vastu 18. augustit k.a. Kõrgepalu metsast väiksesse 4 ha suurusesse metsa Brikkeri talu vastas. Jälgides männi otsast Brikkeri talu, kandis valvesõdur ette, et Brikkeri talu küünist väljusid kl 11.30 kaks tundmatut meest ja sisenesid Brikkeri tallu, kust 15 min hiljem pöördusid tagasi küüni. Agendi „Ott“ kaudu tehti välise kirjelduse järgi kindlaks, et kaks tundmatut Brikkeri talus viibinut võivad olla bandiidid Jeeger ja Hõbe, kuid Aunver peaks Brikkeri tallu saabuma õhtul. 
<br>
Võeti vastu otsus oodata pimenemist, piirata Brikkeri talu salaja ümber, lasta varitsusest läbi või võtta kinni bandiit Aunver ja samas või koidikul viia talus läbi bandiitide Jeegeri ja Hõbe kinnivõtmise operatsioon. 	
</div>
<div class="quote">
<b>19.8.49</b> kl 20.00 teatas usaldusisik „Ivan“, et samal kuupäeval Brikkeri talu külastades rääkis viimane allikale, et metsas asuvad julgeolekusõdurid, kes võtsid kinni kaks metsnikku. Allikale sõduritest rääkides oli Brikker väga ärevil ja laskus allikaga jutuajamisse vastumeelselt. Vaatlus fikseeris samuti, et kogu Brikkeri perekond jälgis sageli ümbrust teravdatud tähelepanuga oma talu ukselt. Pärast  „Ivanilt“ saadud andmeid kerkis kl 20.00 küsimus kohesest Brikkeri talu ümberpiiramisest, et takistada tundmatutel Brikkeri talust lahkumast, st jäämata ootama bandiit Aunveri tulekut võtta kinni bandiidid Jeeger ja Hõbe või fikseerida nende füüsiline hävitamine.
<br>
Kl. 20.30 oli Brikkeri talu ümber piiratud ja talu otsiti läbi, kuid bandiite Jeegerit ja Hõbe ei avastatud. Brikkeri pidasime kinni, kuid ülekuulamisel ta midagi üles ei tunnistanud, misjärel lasime ta lahti. Brikkeri kinnipidamisel ja ülekuulamisel tegime näo, et sõjalist gruppi huvitab mitte niivõrd tema talu, vaid ümbruskond tervikuna.
</div>
<div class="quote">
<b>6.09.1949</b> Spetsteade ENSV julgeolekuminister Kummile
<br>
Agentuur- ja uurimistegevusega on kindlaks tehtud, et Linnamäe vallas varjab end bandiit Kängsepp Arnold Gustavi p 1910, Linnamäe valla elanik, varjaja alates 1944
<br>
Kängsepp Arnold oli Eesti vabastamise järel Saksa okupantidest värvatud nõukogude armee ridadesse ja saadetud Saaremaale rindele. Kuid Kängsepp ei soovinud teenida nõukogude armee ridades ja deserteerus, läks Linnamäele ja asus end varjama, varjates end  nõukogude võimuorganite eest kuni 2.09.1949.
<br>
Illegaalina oli Kängsepp kuni 1948. a lõpuni, so kuni rajatud punkrite ja abiliste baasi purustamiseni Heeska bande liige, hoidis pidevalt sidet terroristliku bande juhi Heeska Johannesega ja omas püstolit Parabellum. 1948. a kavatses tappa Urvaste põllumajandusvolinikku Mõttust /agentuurettekanne agent „Ott“, informaator „Paul“ ja talupoeg Tsvetkovi avaldus./
<br>
Edasise agentuur-operatiivse tegevusega tehti kindlaks, et Heeska bande läks 1949 a alguses laiali, üksi varjavad liikmed proovivad luua uut toetusbaasi Linnamäe, Sõmerpalu, Urvaste ja Antsla vallas Võrumaal.	
</div>
<div class="quote">
<b>31.8.49</b> Agendi <b>„Ott“</b> ettekanne: Kängsepa edasise töötlemise käigus tehti agendi „Ott“ ja „Paul“ kaudu kindlaks, et Kängsepal on 500m kaugusel oma talust üksik punker, kuid varjab ta end mitte seal, vaid oma kodu pööningul, kus agent „Ott“ temaga aeg-ajalt kohtus. Alates  15. aug k.a. hakkas Kängsepp agendiga „Ott“ kohtuma metsaservas 150 m Linnamäe TK-st ja järgmine kohtumine „Otiga“ on määratud 2.09.1949 
<br>
Otsustasime nendest andmetest lähtuvalt agendi „Ott“ ja Kängsepa kohtumisele seada üles varitsus ülesandega ta kinni pidada ja otsustada hiljem küsimus tema otstarbekohasest värbamisest Heeska bande liikmete otsimiseks. Seejuures võeti arvesse andmeid, et ta mingil juhul legaliseerumisele välja ei lähe ja tal oli terroriplaan, et ta kinnipidamisel värbamisele ei allu, vaid püüab kinnivõtmisel osutada relvastatud vastupanu ja üritab põgeneda. 
<br>
Nende andmete põhjal koostati operatiiv-sõjaline plaan Kängsepa kinnivõtmiseks. Relvastatud vastupanu korral või põgenemiskatsel, juhul kui teda pole võimalik tabada elusalt, hävitada ta füüsiliselt. 	
</div>
<div class="quote">
<b>2.09.1949</b> Vastavalt plaanile pandi 2.09.1949 meie agendi ja Kängsepa kohtumispaigale välja varitsus, kusjuures agendile <b>„Ott“</b> anti käsk kohtumisele mitte ilmuda. Umbes kell 22.30, 2. 09.1949 lähenes bandiit <b>Kängsepp</b> kohtumispaigale. Kinnivõtmiskatsel sööstis Kängsepp põõsaste poole jooksu. Nähes, et Kängseppa elavana kinni võtta ei õnnestu (viimane jõudis haarangupaigast joosta 150-200m ja ligines metsaäärsele põõsastikule), ei soovinud me Kängseppa minema lasta ja sellega oma agenti paljastada. Oli vajadus avada jälitades tema pihta tuli, millega Kängsepp tapeti.
<br>
RJM Võru maakonnaosakonna ülem Puškarjov
</div>
<div class="quote">
<b>8.9.49</b> Agendi <b>„Peter“</b> ettekanne:
<br>
Sõmerpalu vallas, u 2 km Sõmerpalu sovhoosist elab kodanik Saarik Leida, u 30 a. Kohalike jutu järgi ja ka isiklikult on allikale teada, et Saarik Leida nii Saksa okupatsiooni ajal kui ka hiljem, on Jeeger Valteri armuke. Jeegeri hüüdnimi on „Bevin“ või ka „Kuprijanov“ („Kuperjanov“) ja võimalik, et Jeeger varjab end praegu seal. 
<br>
Saarik Leidast on allikale teada, et kui Jeeger hakkas end varjama ja tema isalt taheti kariloomi ära võtta, tõi Jeegeri isa öösel lehma ja lambad Saarik Leida poole, kelle juures need loomad asusid pikka aega. 
<br>
25. 03.1949 kulakute väljasaatmisel Jeeger Valteri isa saadeti välja, aga tema ema põgenes kodust ja varjab end praegu kusagil Linnamäe vallas Vaabina k/n ja külastab Saarik Leida talu. 
<br>
Saarik Leida kohta teatab allikas, et 1945. a tegeles ta samagonniajamisega ja pole välistatud, et ta praegu elab kokku bandiit Jeegeriga ning varustab viimast samagonniga. 
<br>
Koos Saarik Leidaga elab tema ema Saarik, u 50a, ja alates 1947. a ka üks soomlane, kelle nime allikas ei tea, kuid talle on teada, et see soomlane elab koos Saarik Leida emaga ja hiljuti sõitis kuhugi Venemaale Jeeger Valteri isale toitu viima. 
<br>
See soomlane valdab hästi vene keelt, sellepärast sõitiski  Venemaale Jeeger Valteri isa juurde. Saarik Leida elab metsa servas.
<br>
Pärast soomlase isiku kindlakstegemist otsustatakse küsimus tema värbamisest ja kasutamisest Jeeger Valteri otsimiseks. 
</div>
<div class="quote">
<b>10.09.1949</b> Agent <b>„Ott“</b>:
Mõned päevad tagasi kohtus allikas Linnamäe valla elaniku Allpõder Lindaga. Viimane teatas jutu sees allikale, et ta sõitis kaks nädalat varem oma venna <b>Taalfeld Ants</b>u juurde Sõmerpalu vallas, kuhu tulid õhtul „metsavennad“ – Heeska Johannes, Aunver Ants jt. Vend Ants tõi meile juua ja süüa. Heeska avaldas jutu sees arvamust, et peaks  ühinema Kooviku bandega. Kuidas see ühinemiskavatsus teoks võiks saada, seda Allpõder allikale ei öelnud. 
<br>
Allikale anti ülesanne võita Allpõderi sümpaatia ja jõuda tema kaudu Heeskani, kuna allikas oli tema varasem elukaaslane. Uurime võimalusi Taalfeld Antsu värbamiseks. 	
</div>
<div class="quote">
15.08.1949, 30.08.1949 ja <b>10.09.1949</b> allikas <b>“Ott”</b>: 
Urvaste vallas Urvaste k/n elab kodanik Aplein Eduard oma naise Nataliaga. Allikale on teada, et tema naine Natalia on Heeskale sugulane. Allikale on see teada Johannese enda sõnadest, kuna ta 1948. a lõpuni elas temaga kokku. Heeska sõnadest on allikal ka teada, et Eduard ja Natalia on seotud Heeska Johannese ja Heeska Robertiga. Nende juures on nad perioodiliselt end varjanud ja kohtunud oma naistega. 
<br>
1948. a õmbles Aplein Eduardi talus Heeska Roberti naine koos ühe Antslast pärit rätsepaga endale kostüümi ja palitu. Nimetatud faktid kattuvad agendillt „Jaan Toona“ ja informaatorilt „Popov“ saadud andmetega. Meil on kavas Aplein Eduard salaja kinni võtta, pärast mida, sõltuvalt tema tunnistustest, otsustada tema kasutamine Heeska bande otsimiseks. 	
</div>
<div class="quote">
<b>13.09.1949</b> Allikas „Ivan“ külastas kahel korral Brikker Eduardi talu. Vestluses Brikkeriga rääkis viimane, et ta kahtlustab Kurenurme k/n sekretäri Issakut julgeolekuorganitele keelekandmises. Naine oli kord Brikkeri juures talus, kui Brikker ütles Issaku juuresolekul: „bandiit tuleb“. Issak põgenes ära ning veidi hiljem saabusid  sõdurid talu kontrollima. 
<br>
Brikker rääkis „Ivanile“ ka, et bandiidid käivad nüüd ettevaatlikumalt. “Ivan“ teatas, et Linnamäe elanik Haller Aleksander on samuti metsavendadega seotud ja sõbrustab Brikkeriga. 
<br>
Hallerit uurime värbamise eesmärgil. 	
</div>
<div class="quote">
<b>16.09.1949</b> agent <b>„Ott“</b> teatas:
<br>
Sel nädalal kohtas allikas Linnamäe vallas kodanik Allpõder Lindat, kes teatas, et Heeska Johannes võttis nüüd juba oma sõpradega sidet. Ta teab seda Johannese jutu järgi, kuna kohtus temaga oma venna Taalfeld Hansu juures, kes on Sõmerpalu elanik. 
<br>
Allikale anti ülesanne Heeska varasema elukaaslasena saavutada Allpõderi kaudu Heeskaga kohtumine sidemete taastamiseks ja järgnevate ülesannete täitmiseks. 
<br>
Jätkame ka Taalfeldt Antsu läbitöötamist, agendi <b>„Grosberg“</b>kaudu, et saavutada Taalfeldi kaudu allika kohtumine bandeliikmetega ja edasiste kontaktide loomiseks nendega. 
<br>
Meil on kindlaks tehtud, et arreteeritud Org Akseli vend  <b>Org Voldemar</b>, kes varjus 24. märtsil küüditamise eest ja hakkas illegaaliks, varjab end praegu oma sugulase juures Põlva vallas. Kavatseme lähipäevil Org Voldemari salaja kinni võtta ja saada talt kätte tunnistus Heeska bandesse kuulumise kohta. Õnnestumise korral kavatseme ta värvata ja lasta tal Orgi sugulase Brikker Eduardi kaudu imbuda bandesse, et seada bande operatiivlöögi alla. 	
</div>
<div class="quote">
<b>20.9.49</b> „Peteri“ andmete kontrollimiseks kasutasime informaatorit <b>„Marta“</b>, kes elab Saarik Leidast 1 km kaugusel. “Marta” teatas korralisel kohtumisel, et Saarik Leida Karli t s 1921, kes elab Kodasaare talus Sõmerpalu vallas, oli  tõepoolest Saksa okupatsiooni ajal ja on ka praegu Jeeger Valteri armuke.
<br>
Meie ülesandel tegi „Marta“ oma naabri Piirman Matilda kaudu kindlaks, et praegu varjab end Saarik Leida talus 3 bandiiti, teiste hulgas Jeeger, teiste isikuid Piirman ei öelnud. 
<br>
Piirman ütles allikale, et varem varjas Saarik Leida juures õues hästi maskeeritud punkris end vaid <b>Jeeger Valter</b>, aga hetkel varjab end seal 3 bandiiti. Viimane kord nägi Piirman neid kaks nädalat tagasi metsas seenel olles Saarik Leida talu juures. Piirman Matilda ütluse peale leidsid maamõõtjad mõni päev tagasi Saariku talu lähedalt punkri. See ei muutnud bandiite rahutuks, viimased jätkavad varjamist Saariku juures. Saarik Leida on detsembris 1948 tapetud Heeska grupi  bandiidi Telling Arturi sugulane. 
<br>
Allikas „Martale“ anti ülesanne kasutada ära Piirmani usaldust  ja korraldada tema kaudu kohtumine bandiit Heeskaga, millest meile kohe teada anda sõjalise operatsiooni läbiviimiseks ja bandiitide kinnipidamiseks.
<br>
Välja on töötatud side „Martaga“. Ootame Piirman Matilda värbamisega  ja kasutamisega Heeska bande otsimiseks, sest meil pole veel teada tema võimalikku seost bandega. Kas ta on vanatüdruk, oma talus elab ta üksi. 	
</div>
<div class="quote">
<b>28.10.1949</b> Informaator <b>“Marta”</b>:
<br>
22. okt k.a. asus allikas „Marta“ oma vanemate juures Sõmerpalus ja külastas Kodasaare talu, kus elab bandeabiline Saarik Ida oma tütre tütar <b>Saarik Leida</b>ga (ka Ivani Leida), kes on Jeeger Valteri armastatu.
<br>
Kui allikas palus Kodasaare talus Leidat jalutada koos Sõmerpalu sovhoosini, jalutasid nad mööda külavaheteed ja Leida rääkis allikale, et neljapäeval, so 20. okt, sõitis ta Tartusse, kus tänaval kohtas üht naist, kes viis ta „poiste juurde“(so <b>Jeeger Valter</b>, <b>Aunver Ants</b> ja <b>Hõbe Feliks</b>).
<br>
Ta ööbis seal korteris ja hommikul sõitis koju. Sama päeva õhtul oli tal „poistega“ vestlus, kus “poisid” ütlesid, et nad tulevad tema, so Saarik Leida juurde novembris  ja jäävad sinna kuni 8. novembrini. Nad arutasid härjavärsi ära viimist „Johannes Varese“ kolhoosist. Allikas tundis huvi, kuidas nad seda saavad. Leida vastas: „Oktoobri päevadel kolhoosnikud joovad, mistõttu pole valvet. Poisid tulevad lauta, võtavad härjavärsi, viivad metsa, veristavad  ja peidavad ära. Kolme päeva pärast tuleb Tartu linnast auto, millega kere viiakse linna. Juhul kui poisid selleks autot ei leia, viiakse kere koormana  Sõmerpalu jaamast. 
<br>
Allikas märkuse peale, et see on ju ohtlik, vastas Leida: “Jaamas on meil omainimene <b>Meieorg</b>, kelle kaudu me kõik korraldame. Meieorg aitas meid ka 1948. a, kui saatis pagasina edasi võikastid, liha saadab ta sama kiiresti. (Meieorg on Sõmerpalu jaama ülema asetäitja. )
<br>
Allika kodust möödudes lausus Leida: „Kas mäletad seda pikka noormeest Aunveret, ta saatis sulle tervisi“.
<br>
Koduteede lahknedes kutsus Leida allikat pühadeks endale külla, kuna sinna tulevad selleks ajaks ka bandiidid. 
<br>
Plaan Aunveri, Jeegeri ja Hõbe kinnipidamiseks on tehtud. Heeska bande aktiivseks töötlemiseks ja sellese siseagendi saatmiseks  valmistame ette Org Voldemari Juhani p 1928 salajast kinnivõtmist, kes on varasem Linnamäe valla elanik. 	
<br>
Org Voldemar on arreteeritud bande juhi Org Akseli vend, kes oli seotud Heeska Johannesega ja võttis koos temaga röövidest osa. Vend Org Voldemar oli sellest teadlik ja hoidus väljasaatmise eest kõrvale, võttis oma mootorratta, hobuse ja lehma ning läks illegaaliks. Hetkel töötab ta ühes maakonna asutuses. Ta on bandiitide konspiratiivtalu pidaja Brikker Eduardi sugulane, kes elab Linnamäel. 
</div>
<div class="quote">
Informaator „Marta“ teatas, et lõi kontakti Saarik Leidaga, kes palus  ta oktoobris 1949 enda tallu, kus viibisid kaks meest. Ühes tundis ta ära Jeeger Valteri, Heeska bande liikme. 
<br>
Jutuajamisel huvitas Jeeger Valterit, kuna tuuakse allika töökohas tellisetehases töölistele pangast palgarahad, mis summas, kas kassiiril on relvastatud saatjaid. Allikas mõistis, et nad kavatsevad tellisetehase kassiiri röövida ja vajavad selleks allika abi. 
<br>
Allikas „Marta“ tegi kindlaks, et Heeska bande liikmed külastavad perioodiliselt Kodasaare talu ja peaksid taas sinna ilmuna 7. või 8. novembril 1949. Sinna oli kutsutud ka allikas. 
<br>
Saanud sellised andmed, koostasime plaani Heeska bande liikmete kinnivõtmiseks Saarik Leida majas. Kavatseme allikat „Marta“ kasutada Saarik Leida talus viibibvate bandiitide jootmiseks uinutava viinaga. Pärast seda pidi ta sellest hoiatama spetsiaalset selleks moodustatud operatiivgruppi. 
<br>
Operatsiooni tähtaja lähenedes hakkas „Marta“ kohtumistelt ja ülesande täitmisest eemale hoidma. Nähes, et allikas „Marta“ käitub ebasiiralt, muudeti Heeska grupi liikmete kinnivõtmise plaan Koodasaare talus  ära. 
<br>
Sellest, et Heeska bande liikmed, eriti Jeeger Valter, Hõbe Feliks ja Aunver Ants käivad läbi Saarik Leidaga, oli meile teada ka ülejäänud agentuurilt, nagu <b>„Mets“</b> ja <b>„Peter“</b>. 
<br>
Meil oli eelnevalt kindlaks tehtud, et allikas „Marta“ elab koos Kivi Gustaviga, kes töötab Sõmerpalu raudteejaamas, on bande juhi Heeska sugulane ja praegusel ajal peab sidet Heeska bande liikme Jeeger Valteriga. Seda aga on informaator „Marta“ meie eest varjanud. 
<br>
Seoses sellega kontrollime informaator „Marta“ poolt meile antud andmeid väga hoolikalt ülejäänud agentuuri kaudu, vaatamata tema lubadusele bande meile välja anda.
<br>
Oleme kasutusele võtnud profülaktilised meetmed tellisetehase kassiiiri röövimise vastu.
<br>
Seoses sellega, et informaator „Marta“ peab end ülal ebasiiralt ja on meie poolt kahekeelsuses kahtlustatav, saadeti Heeska bande liikmete sidemete töötlemiseks teine agentuur, täpsemalt informaator <b>„Lunatik“</b> ja <b>„Petr“</b>.	
</div>
<div class="quote">
<b>21.11.1949</b> informaator <b>„Lunatik“</b> teatas oma ettekandes, et kell 12 sel kuupäeval, väljudes oma kabinetist klassi, (informaator on Vaabina MTK direktor), kohtas ta koridoris tundmatut inimest, kes küsis temalt, kas koolis viibib hetkel Vaabina rahvamaja juhataja Veedler Ants või õpetaja Ots. „Lunatik“ vastas talle, et Veedlerit koolis ei ole, kuid õpetaja Ots on kohal ning kui on kiire, ta võib saata tema juurde,. 
<br>
Mõne aja pärast Ots (meie allikas <b>„Peter“</b>) kohtus tundmatuga, ja pärast omavahelist vestlust läksid nad lahku. Samal õhtul teatas allikas „Peter“, et 21.11.49 kohtus temaga endine koolivend, praegune bandiit <b>Jeeger Valter</b>.
<br>
Jeeger Valter oli jutu sees küsinud allikalt, kuna kooli raha tuuakse, milline summa ja kes konkreetselt toob  pangast raha kooliõpetajatele väljamaksmiseks. Ta lubas summast 10%, kui allikas teeb bandiititega koostööd.
<br>
Allika märkuse peale, et summa õpetajatele väljamaksmiseks on väga väike, vaid umbes 3000-4000 rbl, vastas Jeeger, et neil pole hetkel üldse raha, mistõttu on neil ükskõik, kui suur summa on. Jeeger palus endale teatada, kuna raha saabub. Pühapäeval, täpsustamata mis ajal, palus olla õhtul oma kodus Sõmerpalu vallas, et Jeegeriga kohtuda ja täpselt läbi rääkida. Pühapäeva õhtul 20.11.49 Jeeger allika juurde ei ilmunud. 	
</div>
<div class="quote">
<b>22.11.1949</b> sai Vaabina kooli direktor rahad kätte. Seoses sellega paigutati koolimaja juurde välja  varitsus, eesmärgiga Heeska bande liikmed kinni võtta, kui nad peaksid püüdma koolist raha röövida.
<br>
Varitsus tulemust ei andnud, kuna 22. vastu 23. nov 1949 Heeska bande liikmed raha röövimiseks koolimajja ei saabunud.
<br>
Heeska bande liikmete edasise otsimise käigus tehti kindlaks, et Vaabina kooli juurde pandud varitsusega samaaegselt panid bandiidid üles oma varitsuse raudtee ootepaviljoni juures, mis asub koolist u 1 km kaugusel. Bandiite oli varitsuses 4-5 inimest(“Lunatiku“ ettekanne), kes oletasid, et direktor tuleb oma tavalist teed rahadega rongile. 
<br>
Kohtamata direktorit teelahkmest raudteeni, nad koolimaja juurde minema ei hakanud.	
</div>
<div class="quote">
Oleme kindlaks teinud, et Vaabina rahvamaja juhataja Veedler on aktiivne bandeabiline ja peab süstemaatiliselt sidet Heeska Johannese bande liikmetega, peale selle omab ta illegaalselt tulirelva (püstolit).
<br>
Kasutades neid andmeid, kavatseme Veedleri salaja kinni võtta, allutada üksikasjalikule ülekuulamisele ja pärast otsustada, kas ta värvata või attereerida.
<br>
Heeska bande otsimiseks kasutame praegu agentuuri, agente „Ott“, informaatorit „Ivan“, „Marta“,  „Lunatik“, „Peter“, ja „Mets“	
</div>
<div class="quote">
Bande liikmete kiiremaks leidmiseks kavandati plaan sihipäraseks värbamiseks bandeabiliste hulgast. 
<br>
Varasemast oli teada, et aktiivseks Heeska bande abiliseks on Urvaste elanik <b>Arumägi Eduard</b>, kes varem kandis nime Aplebi ja kelle talu külastasid Heeska Johannes ja Heeska Robert koos oma naisega. 
<br>
Nende andmete põhjal ja tunnistajate ütluste  alusel tema abistamistegevuse kohta võeti Arumägi salaja kinni ja allutati ülekuulamisele. 
<br>
Ülekuulamisel tunnistas Arumägi oma abistamistegevust ja teatas, et juhul kui ta vabastatakse, annab ta 15 päeva jooksul üles mõlemad vennad: Heeska Johannese ja Heeska Roberti.
<br>
Saanud tunnistuse ja avalduse selle kohta, et ta teatab lähiajal Heeska Johannese ja tema venna Roberti asukoha, värvati Arumägi ja suunati Heeska bande liikmeid otsima. 
<br>
Samuti tehti kindlaks, et üheks Heeska sõbraks on varem Rõuge vallas elanud nõukogudevastases vastuhakus Linnamäe TL ülevõtmisel osalenud Saar (<b>Saar Voldemar</b> Karli p s. 1902 Linnamäe vald Horma talu). Kasutades andmeid Saare osavõtust 1941 relvastatud vastuhakus nõukogude võimule, võtsime viimase salaja kinni ja allutasime ülekuulamisele. 
<br>
Ülekuulamisel Saar tunnistas oma kuritegelikku sidet Heeska Johannesega ja teatas, et kasutades oma sõprussidemeid Heeska Johannesega, kasutab ta kõiki vahendeid Heeska Johannese bande ülesotsimiseks ja operaatiivlöögi alla suunamiseks. 
<br>
Heeska Johannese kiiremaks leidmiseks anti Saarele ülesanne asuda legendiga illegaaliks Heeska bande tegevuspiirkonnas ja imbuda bandesse. Ta andis oma nõusoleku. Sel alusel Saar värvati ja ta valmistub minema illegaaliks. 
<br>
Kanepi vallas Erastveres töötab <b>Org Voldemar</b>, endise bandejuhi Org Akseli vend,kes tegutses koos Heeska bandega Sõmerpalu, Linnamäe, Antsla vallas. Org Voldemar tunneb Heeskat ja bande liikmeid hästi. Küüditamise ajal varjus ta 1,5 kuuks, seejärel legaliseeus. 
<br>
Nende andmete põhjal kavatseme Org Voldemari salaja kinni võtta, allutada ülekuulamisele ja seejärel otsustada, kas teda saab värvata ja viia illegaaliks, eesmärgiga imbuda Heeska Johannese bandesse. 	
<br>
Antsla RJM  osakond värbas agent <b>“Valge”</b>, <b>Jaanimägi Ahti</b> Kristjani p s 1920, kes saadeti Heeska salka. Agent kaldus vältima meiega koostööd ja kavatses varjuda. Desinformeeris meid, soovimata metsavendi välja anda, mistõttu arreteerisime ta. 1946. a oli ta seotud Torop Kaljuga. 1947 leiti Jaanimägi talust punker röövitud kaubaga, kuid kinni ei teda võetud, kuna varjus illegaaliks. 
<br>
Sidemete tõttu Heeska bandega võeti kinni Urvaste elanik <b>Raamat Juhan</b> Märdi p. 
</div>
<div class="quote">
<b>27.01.1951</b> võttis Antsla RJM kinni Heeska bande liikme Harju Alfredi õe <b>Harju Lulli</b>, Antsla elaniku. 
Harju Lulli värvati agendiks <b>“Kaasik”</b>, et ta tooks venna salajasele kohtumisele RJM-ga. Õnnestumise korral kasutatakse Harju Alfredit Heeska bande likvideerimisel.	
</div>
<div class="quote">
<b>27.02.1951</b> Vastavalt agentuur-operatiivtöö plaanile saadeti 27.02.1951 Tuluni rajooni Irkutski oblastisse Antsla osakonna agent <b>“Maret” Ruuder Ella</b> (Elly) Jakobi t s 1926.
<br>
Ruuder ilmus 1950. a salaja julgeoleku operatiivgruppi ja teatas bandiitide laagri asukohast ühes Antsla valla metsamassiivis, mille tulemusel tapeti mitu varem Paul Antsovi salka kuulunud metsavenda. Tulenevalt  olemasolevatest edasistest võimalustest, kasutada Ruuder Ellat bandiitliku elemendi väljaselgitamises ja otsimisel. Arvesse võttes tema isiklikku soovi meiega koostööd teha, värbasime ta pseudonüümiga “Maret”. Näitas end võimekana, ausana, ja jagab konspiratsiooni. 
<br>
Märtsis 1949 saadeti “Mareti” vanemad kodanlike natsionalistena välja Tuluni rajooni Irkutski oblastisse. “Maret” oli sel ajal kinnipeetav ja jäi välja saatmata. 
<br>
On kindlaks tehtud, et “Mareti” vanemad  elavad praegusel ajal koos samasse kohta välja saadetud Heeska bande liikme <b>Hõbe Feliks</b>i vanematega. Olukorda arvesse võttes komandeerisime “Mareti” Irkutski oblastisse, ettekäändeks kohtumine oma vanematega, ülesandega: läheneda bandiit Hõbe vanematele, võita nende usaldus ja enne ärasõitu saada soovituskiri vanematelt Hõbe Feliksile. Õnnestumise korral Eesti NSVsse tagasi tulles võtab agent “Maret” tarvitusele meetmed, saavutamaks kirja abil isiklik kontakt Hõbe Feliksiga, mida motiveerib soov kiri ise üle anda. 
<br>
Juhul kui soovituskiri jääb saamata, räägib “Maret”oma Heeska bande sidemetele pärast Irkutskist naasmist  oma kohtumisest Hõbe Feliksi vanematega, jälgides sama eesmärki- saavutada isiklik kohtumine Hõbe Feliksiga. 
<br>
Sõltuvalt “Mareti” kohtumise tulemusest Hõbe Feliksiga võetakse kasutusele järgmised vahendid Heeska bande likvideerimiseks “Mareti” kaudu. Või tema kaudu Hõbe Feliksi kui bandeni juhtija kinnivõtmine.	
</div>
<div class="quote">
<b>25.02.1951</b> Vastavalt agendilt <b>“Ott”</b> saadud andmetele võeti kinni Heeska bande sideisik <b>Taalfeld Hans</b> Pauli p s 1925, Sõmerpalu valla elanik. Küsitlemisel osutus, et ta pidas 1950. a sidet Heeska Johannese, Jeeger Valteri ja Jeeger Edgariga, kellega kohtus süstemaatiliselt kuni novembrini 1950 kokkulepitud kohas metsas, 2 km Osula alevist. Kohtumisel informeeris ta viimaseid oeratiivgruppide ja RJM kaastööliste ilmumisest Rõugesse ja Osulasse, mille eest sai neilt röövitud kraami. Taalfeld nimetas  rea Heeska sidepidajaid, mitmeid tõenäoseid varjamiskohti ja ütles, et kui ta jäetakse vabadusse, kasutab ta kõiki oma võimalusi side uuendamiseks bandiitidega ja nende väljaandmiseks RJM organitele. Tulenevalt Taalfeldi võimalustest värbasime ta varjunimega “Andrei” ja suunasime Heeska bandet otsima.
</div>
<div class="quote">
<b>28.02.1951</b> võeti agent <b>“Andrei”</b>  andmete alusel kinni bandeabiline <b>Laugason Laine</b>, kelle talust leiti röövitud esemeid. Viimase arreteerimist valmistatakse ette.
<br>
Lisaks võeti käesoleval kuul salajaseks informaatoriks <b>Anton Johanna</b> Johani t s 1909, Kurenurme elanik Antsla rajoonis. Anton Johanna andis Heeska bande abilise <b>Adel Ermilda</b> palvel nõusoleku sõita koos Adeliga Leningradi, realiseerima Heeska bandele kuuluvat liha. Töötame välja viisi Antoni viimiseks Heeska salka Adel Ermilda kaudu. 
</div>
<div class="quote">
<b>23.02.1951</b> jaanuaris värvatud <b>Brikker Salme</b> (agent <b>“Õunapuu”</b>) teatas korralisel kohtumisel, et teda külastas Heeska bande liige Aunver Ants, kes tundis huvi tema arreteeritud ema, isa ja õe kohtuotsuse vastu, samuti agendi elutingimuste vastu. Agent “Õunapuu”, vastavalt saadud ülesandele, rääkis Aunverile, et pärast vanemate arreteerimist on tema olukord järsult halvenenud. Aunver väljendas seoses sellega oma süütunnet, et nemad, metsavennad olid süüdi selles, et tüdruku vanemad arreteeriti, et tüdrukul  tulid rasked ajad ja pole kellelegi toetuda. Et nüüd, kui tüdruku ainuke lootus on metsavendadel, ei tule tema juurde keegi. Aunver suhtus “Õunapuusse” kaastundega ja lubas varsti taas tema talu külastada. Selle teate peale kavandame viisi bandiit Aunveri kinnipidamiseks agent “Õunapuu” kaudu. 	
</div>
<div class="quote">
<b>02.1951</b> teatasime, et saatsime agendi <b>“Maret”</b> Tuluni rajooni Irkutski oblastisse, et ta looks side 1949. a märtsis küüditatud Hõbe Feliksi sugulastega, isa Hõbe Aleksandri ja õe Hõbe Ehaga. Agent “Maret” jõudis 11.03.1951 Tuluni linna, võttis ühendust Tuluni RJM RO-ga ning saades sealt lisaandmeid, sõitis  oma vanemate elukohta Petrovski külla, kus teda kõigi väljasaadetud eestlaste poolt hästi vastu võeti. Kohtumisel Põlv Üloga, kes on Vastseliinas varjava bandiidi Põlv'e poeg, rääkis viimane, et hoiab oma isaga sidet. Lisaks ütles ta meie allikale, et tema isa varjab end praegu Vastseliina rajoonis Kõokülas Raudsepp Eduardi pool, aga lähiajal kavatseb elukohta vahetada. Järgmistel kohtumistel tegi “Maret” kindlaks, et bandiit Põlv on elukohta vahetanud ja asus varjama Raup Eduardi juurde samas külas Vastseliina rajoonis. 	
</div>
<div class="quote">
<b>04.1951</b> külastas <b>“Maret”</b> Hõbe Feliksi vanemaid. Hõbe Feliksi õde Hõbe Eha suhtus meie agenti harukordse ettevaaatlikkusega, rääkis üksnes, et hoidis oma venna Hõbe Feliksiga sidet vaid esimesel kahel aastal, kuid tagasiaadressi ei kirjutanud vend talle kunagi, mistõttu ta üldse ei tea, kus ta praegu võiks asuda. 
<br>
Jätkates meie ülesande täitmist, lõi “Maret” side Antsla RJM osakonna poolt tagaotsitava <b>Kokk Karl</b>i õe ja vennaga, kes varjavad praegusel ajal Vastse Roosa metsas Varstu vallas Antsla rajoonis, kus neil on punker Trooda talu lähedal. Kokk peab nendega regulaarset kirjavahetust väljamõeldud nimega “Tädi. Kola” ning omab teise nimega passi, mille sai Varstu maksuülema Jallai kaudu. Agent “Maret” sai bandiit Kokk'a õelt ja vennalt viimasele soovituskirja.
<br>
Tuluni RJM RO ülema kaudu on agent “Maretile” antud teda – jätkaku tööd bandiitide sidemete ja asukohtade  ülesotsimiseks nende sugulaste kaudu. 
<br>
Kõrvuti selle ettevõtmisega oleme Heeska bande lähedaste sidemete hulgast värvanud 7 salajast informaatorit, kes on suunatud bandiitide asukohta ja abiliste baasi üles otsima. 
</div>
<div class="quote">
“Maret” oli saadetud Tuluni rajooni küüditatute sugulasi läbi töötama. Samal ajal püüti viia bandesse siseagenti ja valiti värbamiseks objekte kvalifitseeritud agentuurist.
<br>
Selleks viidi agent <b>“Andrei”</b> illegaalsesse olekusse ülesandega talle teadaolevate sidemete kaudu luua otsekontakt bandega ja imbuda sinna sisse, et viia salk operatiivlöögi alla. 
<br>
Sidepidamiseks agent “Andreiga” värbasime tema naise <b>Taalfeld Virve</b> pseudonüümiga <b>“Liidia”</b>.
<br>
18. 05.1951 teatas “Liidia”, et “Andrei” lõi side kahe Heeska bande liikmega ja tal oli nendega 2 kohtumist. “Lidia” kaudu korraldati “Andrei” kohtumine meiega, kus “Andrei” teatas, et 7. mail kohtus ta Kurenurme rajoonis metsas <b>Jeeger Valter</b>iga. Viimane, nagu jutust selgus, oli juba teadlik tema illegaaliks hakkamisest. Jeeger avaldas allika otsuse üle rahulolu ja uuris põhjalikult, kuidas allikal õnnestus miilitsaorganite eest varjuda, kui nad alliakat arreteerida püüdsid. Saanud rahuldava vastuse, huvitus Jeeger allika elust illegaalina ja tema materjaalsest varustatusest. Sellele vastates kaebas allikas üksivarjamise raskuste üle ja väljendas muret oma sugulaste külastamise ohtlikkuse üle, pidades silmas, et RJM teda aktiivselt taga otsib.

Jeeger Valter lubas allikale temaga sidet pidada ja võimaluste kohaselt kaasabi osutada. Jeeger määras järgmise kohtumise allikaga 13. maiks. 	
</div>
<div class="quote"></div>
<div class="quote"></div>
<div class="quote"></div>









<div class="p"></div>
<div class="p"></div>
<div class="p"></div>
<div class="p"></div>
<div class="p"></div>


	
	
	
	
		
	

	







</div>