<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Sissejuhatus</h1>
<div class="p">Käesolev kokkuvõte vaatleb metsavendade sõjajärgset vastupanu Võrumaal läbi Ants Aunveri käekäigu.Talupidaja Ants Aunver suutis 14 aastat üle elada kõik Julgeoleku hävitamiskatsed. Tegevuspaigaks on peamiselt Linnamäe, Urvaste, Sangaste ümbrus, osaliselt ka Sõmerpalu vald. 

</div>
<div class="p">Vaatevälja jäävad ka Ants Aunverile lähemad kaaslased Johannes ja Robert Heeska, Valter ja Edgar Jeeger, Artur Telling, Feliks Hõbe ja Kalju Visnapuu ning Aunveri elu- ja punkrikaaslane Aino Reinumägi.
</div>
<div class="p">Ants Aunveri tegevust okupatsiooni all on jälgitud 14 aasta jooksul. Selle ajaga jõudsid ootused-lootused kõvasti kõikuda ja olud muutuda tundmatuseni, vastavalt sellele ka vastupanu vorm. Inimsaatusi on vaadeldud ajalise jaotuse taustal:
	</div>
<ul>
	<li>kuni 1944 – vastupanu vahelduvatele okupatsioonidele Vene-Saksa-Vene </li>	

<li>1945-1948 –  relvastatud vastupanu kommunistlikule vägivallale</li>


<li>1949-1953 – relvavõitluse taandumine</li>

<li>1953-1959 – tavaellu naasmine varjunime all, tagaotsitavana</li>
</ul>




	<div class="p">Vene vägede toel võimu haaranud kommunistide valelikkus ühes vägivalla, tapmiste ja küüditamistega moondasid elu Eestis küüniliselt võikaks. Nõukogude võimu reipalt üllasõnaliste ülesehitusloosungite varjus kehtestati vägivald, seadusetus ja inimlik madalus: saagihimu, salatsemine, äraandlikkus ja lipitsemine julmuse ees. Ants Aunveri elukäik näitab inimest julma anastamise haardes.	</div>	
<div class="p">Metsavendadel oli otsustavust ja julgust anastamisele mitte alluda.</div>
<div class="p">Teave on pärit peamiselt Rahvusarhiivis leidunud Riikliku Julgeoleku arhiivitoimikutest fondidest  ERAF.129SM; ERAF.130SM, ERAF.1.4.834, ERAF.134SM, ERAF.401; ERAF.131SM . Samuti on kasutatud andmeid Eesti kommunismiohvrite memoriaali andmebaasist.</div>
<div class="p">Lisatud on kaardid, nimekiri metsas olnud isikutest ning fotod. Punkrikohad kaardil on enamasti ligikaudsed.</div>
<div class="p">Mari Pukkonen, jaanuar 2024</div>
<div class="p">e-kiri: maripukkonen@gmail.com</div>
<div class="p">NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe autori nõusolekul.</div>


		<br>
		
	</div>



</div>