<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Sissejuhatus</h1>
<div class="p">Käesolev kokkuvõte vaatleb metsavendade sõjajärgset vastupanu Võrumaal läbi Ants Aunveri ja teda ümbritsenud inimeste käekäigu. Talupidaja Ants Aunver suutis 14 aastat vältida kõiki Julgeoleku hävitamiskatseid. Tegevuspaigaks on peamiselt Linnamäe, Urvaste, Sangaste ümbrus, osaliselt ka Sõmerpalu vald. 

</div>
<div class="p">Vaatevälja jäävad Ants Aunveri lähemad kaaslased Johannes ja Robert Heeska, Valter ja Edgar Jeeger, Artur Telling, Feliks Hõbe ja Kalju Visnapuu ning Aunveri elu- ja punkrikaaslane Aino Reinumägi.
</div>
<div class="p">14 aasta jooksul jõudsid ootused-lootused kõvasti kõikuda ja olud muutuda tundmatuseni, vastavalt sellele ka vastupanu vorm. Inimsaatusi on vaadeldud ajalise jaotuse taustal:
	</div>
<ul>
	<li>kuni 1944 – vastupanu vahelduvatele okupatsioonidele Vene-Saksa-Vene </li>	

<li>1945-1948 –  relvastatud vastupanu kommunistlikule vägivallale</li>


<li>1949-1953 – relvavõitluse taandumine</li>

<li>1953-1959 – tavaellu naasmine varjunime all, tagaotsitavana</li>
</ul>
<div class="p">Teave on pärit peamiselt Rahvusarhiivis leidunud Riikliku Julgeoleku arhiivitoimikutest fondidest  ERAF.129SM; ERAF.130SM, ERAF.1.4.834, ERAF.134SM, ERAF.401; ERAF.131SM . Kasutatud on andmeid Eesti kommunismiohvrite memoriaali andmebaasist.</div>
<div class="p">Lisatud on kaardid, nimekiri metsas olnud isikutest ning fotod. Punkrikohad kaardil on enamasti ligikaudsed.</div>
<div class="p">
Tänu abi eest Eduard ja Madis Pukkonen, Aino Mustimets ja Endla Allas, Eerik-Niiles Kross ja mitmed teised.
</div>
<div class="p">Mari Pukkonen, jaanuar 2026</div>
<div class="p">e-kiri: maripukkonen@gmail.com</div>
<div class="p">NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe autori nõusolekul.</div>


		<br>
		
	</div>



</div>