<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Sissejuhatus</h1>
<div class="p">Käesolev  pilguheit sõjajärgsele metsavendlusele  lähtub Ants Aunveri  elust ja tegevusest. Tegu on inimesega, kes elas läbi metsavendade vastupanu kogu selle kestuses poolteist kümnendit.

</div>

<div class="p">Elukäigus  kajastuvad perioodid näitavad ajas muunduvaid ootusi-lootusi ja muutuvaid tegutsemisviise:

	</div>
<ul>
	<li>1941-1945 – vastupanu vahelduvatele okupatsioonidele Vene-Saksa-Vene </li>	

<li>1945-1948 –  relvastatud vastupanu aastad nõukogude kommunistide vägivallale</li>


<li>1949-1953 – relvavõitluse vähenemise aastad</li>

<li>1953-1959 ¬– tavaellu naasmine varjunime all riiklikult tagaotsitavana</li>
</ul>

<div class="p">Vaadeldud on Ants Aunveri lähikonnas tegutsenud metsavendi: vennad Johannes ja Robert Heeska, vennad Valter ja Edgar Jeeger, Artur Telling, Feliks Hõbe ja Kalju Visnapuu ning Aunveri elu- ja punkrikaaslane Aino Reinumägi.
</div>


	<div class="p">Ants Aunveri elukäik näitab julma anastamise olusid.  Vene vägede toel võimu võtnud kommunistide valelikkus ühes vägivalla, tapmiste ja küüditamistega moondasid elu Eestis küüniliselt võikaks. Nõukogude võimu üllasõnaliste loosungite taga soosis võim seadusetust ja inimlikku madalust: saagihimu, salatsemist, äraandlikkust ja lipitsemist julmuse ees. 
	</div>	
<div class="p">Metsavendadel oli otsustavust neile oludele vastu astuda.</div>
<div class="p">Teave on pärit peamiselt Rahvusarhiivis leidunud Riikliku Julgeoleku arhiivitoimikutest fondidest  ERAF.129SM; ERAF.130SM, ERAF.1.4.834, ERAF.134SM, ERAF.401; ERAF.131SM</div>
<div class="p">Lisatud on kaardid, nimekiri metsas olnud isikutest ning leidunud fotod. Punkrikohad kaardil on ligikaudsed.</div>
<div class="p">Mari Pukkonen, jaanuar 2021</div>
<div class="p">e-kiri: maripukkonen@gmail.com</div>
<div class="p">NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe autori nõusolekul.</div>


		<br>
		
	</div>



</div>