<h1>Agendid</h1>
<p>Üks süngemaid külgi metsavendlusega seoses puudutab äraandjaid.</p>
<p>
  Agente püüdis julgeolek värvata metsavendadele lähedaste inimeste hulgas nii ähvarduste kui šantaažiga. Agentide kohta
  leidub andmeid vähe. Nende väheste hulgas, keda dokumentides on nimetatud, leidus nii koostöö täiesti välistanuid kui
  innukaid reetureid. Igast agendist ei saanud veel äraandjat. Nendest, kes andsid enda vabaks pääsemiseks nõusoleku ja
  said agendinime ning lasti lahti, varjusid mitmed ise või muutsid elukohta, ühesõnaga tegid kõik, et ei kohtuks ei
  nendega, kelle kohta neilt infot oodati, ega kontaktisikutega. Loetud toimikutes mainiti RJM jaoks „kadunud“
  agentidena, „Küünalt“, kes varjus venna juurde metsa ja hukkus seal hiljem, samuti „Ritat“. Aruannetes said RJM
  osakonnaülemad muidugi kõiki värvatud agente esitada kui oma tulemuslikku tööd.
</p>
<p>
  Mitteinformatiivsete agentide hulka kuulus ka lätlane Peteris Kitle, kellel näis olevat mingi osa Richard Vähi
  varjamisel. Kui segaseks võib osutuda mõne agendi lugu, näitab alljärgnev.
</p>
<p>
  Ühest talust Lätis, kuhu Vastseliina RJM osakonna ülem Burakov läks haarama Saikast haavatuna põgenema pääsenud
  Richard Vähit, leiti eest Läti kodanik Peteris Kitle, keda Burakov peksis kinni võtmisel püstoliga pähe ja viis kaasa
  Vastseliina RJM osakonda, kus teda hoiti dokumente vormistamata kinni 5 päeva. Burakov peksis ning piinas teda seal ka
  elektriga. Kitle olevat sellest rääkinud ka oma värbajatele Aluksnes, kuid need eelistasid hiljem kogu loost
  distantseeruda, eitades ka vägivalla kasutamist...
</p>
<blockquote>
  <p>Kaadritele 27. mai 1952</p>
  <p>Läti RJM kindralmajor sm Novik, Riia</p>
  <p>
    Viime läbi uurimist nõukogude seaduste rikkumise kohta arreteerimisel ja kinnipidamisel Vastseliina RJM osakonna
    kaastöötajate poolt märtsis 1951.
  </p>
  <p>
    Uurimese käigus on tuvastatud, et kinnipeetud Eesti kodanike hulgas, kelle peal kasutati ebaseaduslikke ülekuulamise
    meetodeid, on ka kinnipeetud lätlane Kitle, kes osutus Aluksne RJM rajooniosakonna agendiks.
  </p>
  <p>
    Meie andmetel rääkis Kitle pärast vabanemist Vastseliina RJM-st oma kaastöölistele Aluksne rajooniosakonnas, teiste
    hulgas osakonna ülemale Karpenko Gleb Ivanovitšile, et tema, Kitle, suhtes kasutati Vastseliinas ebaseaduslikke
    ülekuulamismeetodeid. Seoses sellega, et major Karpenko töötab hetkel Riia linna miilitsaosakonna ülema asetäitjana,
    palume anda käsk saata Karpenkol omakäeline tunnistus järgmiste küsimuste kohta:
  </p>
  <p>1. Mis perioodil töötas Karpenko Aluksne raj RJM osakonna ülemana</p>
  <p>2. Kas tema ametiajal kuulus Kitle salajasse informaatorite võrku</p>
  <p>3. Kas Karpenkole on teada fakt tema kinnipidamisest märtsis 1951 Vastseliina RJM töötajate poolt</p>
  <p>4. Kas Kitle rääkis Karpenkole enda suhtes rakendatud ebaseaduslikest ülekuulamisvõtetest</p>
  <p>5. Kas Karpenkol on teada, kus praegusel hetkel asub kodanik Kitle</p>
  <p>
    Küsitletud alampolkovnik Burakov tunnistas, et tõepoolest ta isiklikult kasutas Kitle puhul lubamatuid
    ülekuulamisvõtteid ja osutas, et Kitle osutus Aluksne RJM osakonna salajaseks informaatoriks.
  </p>
  <p>Eesti julgeolekuminister polkovnik Moskalenko.</p>
</blockquote>
<p>
  <b>Karpenko</b>
  vastus oli järgmine:
</p>
<blockquote>
  <p>Riia miilitsaosakonna ülema asetäitja Karpenko</p>
  <p>Raport</p>
  <p>Eesti julgeolekuministri kirjaliku järelpärimise peale kodanik Kitle kohta:</p>
  <p>
    Kitle värvati salajaseks informaatoriks Aluksne RJM-i 1950. a lõpus tema kompromiteerivate sidemete põhjal Eesti
    bandiitide grupiga, kes tegutseb Aluksne rajooni territooriumil Lätis ja Võru maakonnas Eestis. Niipalju kui
    mäletan, Kitle käest ma mingit operatiivhuvitavat infot ei saanud ja kohtumistest operatiivtöötajatega hoidis ta
    kõrvale. 1951. a kevadel viis Vastseliina RJM läbi operatsiooni oma territooriumil, kus hävitati bande, kuid selle
    haavatud juht lahkus, haaranud kaasa tapetud sõduri relva. Juhi nimi – Richard.
  </p>
  <p>
    Mingi aja pärast tuli Aluksnesse Vastseliina RJM ülem alampolkovnik Burakov ja teatas, et temal olevate
    agentuurandmete kohaselt peaks haavatud bandepealik asuma ühes talus Aluksne rajoonis. Otsustati RJM jõududega neid
    talusid kontrollida ja ühes neist võeti kinni Kitle, kes olevat tulnud sinna külla oma naise sugulastele ja ei
    teadvat, kus haavatud eestlane asub.
  </p>
  <p>
    Tema ülekuulamine alampolkovnik Burakovi poolt viidi läbi minu juuresolekul ilma mingisuguse füüsilise vägivallata
    nagu Burakovi, nii ka teiste operatiivtöötajate poolt. Siis ma ütlesingi alampolkovnik Burakovile, et Kitle on meie
    informaator.
  </p>
  <p>Burakov küsis ta ajutiselt endale sideisikuks, mida lubasin. Talude kontroll mingeid tulemusi ei andnud.</p>
  <p>
    Mõne päeva pärast sõitis alampolkovnik Burakov öösel autoga koos Kitlega kohale ja palus mul organiseerida endale
    grupp haaranguks, sest Kitle olevat andnud talle andmeid, kus peaks asuma haavatud bandepealik. Organiseerisin grupi
    ja Burakov koos Kitlega lahkusid operatsioonile.
  </p>
  <p>
    Sellest operatsioonist ma ise osa ei võtnud ja kaasa ei sõitnud, kuna koostasin materjale Tjumš Janise bande
    likvideerimiseks. Pataljonikomandöri teatel operatsioon ebaõnnestus.
  </p>
  <p>
    Mõni aeg pärast operatsiooni sõitis Aluksnesse RJM-i alampolkovnik Burakov ja rääkis, et Kitle andis talle
    valeandmeid ja tegi operatsiooni käigus katse metsa põgeneda, kuid RJM sisevägede sõdur hakkas teda taga ajama ja
    haavas teda täägiga jalga. Burakov teatas, et Kitle asub Vastseliina haiglas, aga tema tuli Aluksnesse, et koostada
    koos pataljoniülemaga akt Kitle haavatasaamise kohta, st mis olukorras ja kelle poolt teda haavati. Kas selline akt
    koostati, pole mulle teada, kuid tundub, et koostati.
  </p>
  <p>
    Pärast seda öist Burakovi korraldatud operatsiooni pole ma Kitlet näinud ja niipalju kui mäletan, pole keegi
    operatiivtöötajatest tema kohta midagi teatanud. Minule pole ta mingitest ülekuulamistest Vastseliinas selle
    operatsioonini midagi rääkinud. Minuga kohtudes pole Burakov rääkinud, kas ja kes tema töötajatest Kitlet on üle
    kuulanud ja milliseid ebaseaduslikke võtteid on Vastseliinas kasutatud. Olin seal vaid korra, et kordineerida
    bandiitidevastast tegevust. Seoses sellega, et Aluksne rajoonis alates aprillist 1951 ja hiljem likvideeriti 2
    bandet ja mitmeid üksikvarjajaid, samuti viidi läbi bandede abistajate ja sidemeeste arreteerimisi, oli kogu
    tähelepanu suunatud Aluksne rajooni lõuna- ja idaosadele, mistõttu sidet Vastseliina RJM-ga ei pidanud.
  </p>
  <p>
    Augustis 1951 lasti mind puhkusele, pärast mida andsin Aluksne RJM üle ja tulin Riiga miilitsaosakonda. Kus Kitle
    praegu asub, seda ei tea.
  </p>
  <p>Major Karpenko 4. 6.1952</p>
</blockquote>
<p>
  Burakovi vastu algatatud süüasjas otsis RJM pingsalt tunnistajana taga Kitle Peteris Andre p 1921, Annase k/n-st
  Sprekstesi talust, kuid asjata. Mees oli Aluksne rajoonist lahkunud mujale, sealt omakorda justkui tagasi Aluksne
  rajooni, kuid sisse end ei kirjutanud ja nii julgeolek teda esialgu ei leidnudki. Hiljem on ta siiski enda piinamise
  asjas Burakovi kohta tunnistusi andnud.
</p>
<p>
  Ometi leidus ka neid, kes mõjutamise tulemusel läksid äraandmise teele. 1945. a värvati agendiks Mõniste kandis elanud
  Voldemar Karu, kelle agendinimeks sai “Mägi“. Ta võttis osa haarangust Pilv Arthuri punkrile (erinevate ütluste järgi
  1945, 1948 ja/või 1950. a). Pilve grupi mehed, kes suvel 1951 tulid Maksa metsa punkrist liha toomast, leidsid mehe
  oma laagri lähedalt jõe äärest. Nad teadsid ja ütlesid talle, et ta on agent, kuid mees eitas seda, öeldes, et kardab
  Saksa sõjaväes teenimise tõttu oma saatuse pärast nagu nemadki. Uskuma teda ei jäädud. Kuna ta ei saanud eitada ja
  tunnistas üles, et oli olnud metsavendade punkri ründajate hulgas, lasti ta kohapeal püstolist maha ja maeti
  sinnasamma mahalaskmiskohta. Hiljem korraldas julgeolek surnukeha kui kuriteotõendi otsimist, kuid seda ei leitud.
</p>
<p>
  Mõnest väga käremeelsest ja ägedast punaste vastasest, kes oli olnud mitmete koos metsavendadega ette võetud
  ähvardusaktsioonide eestvedaja, sai lõpuks metsameeste äraandja. Nii sai Arthur Pilvele ja Taisto Praksile tõenäoselt
  saatuslikuks nende kauaaegne abiline ja kaasosaline Asser Voldemar, kes oli RJM tõendi kohaselt metsavendade
  ülesotsimisega hõivatud veel 1953. a detsembriski.
</p>
<p>
  Leidus ka innukaid julgeoleku kaastöölisi nagu agent „Metla“ ehk Sepp Robert Kristjani p (1899). Ta värvati
  organitesse 1944. a kompromiteerivate materjalide alusel. Saksa okupatsiooni ajal oli ta olnud külavanemaks Polnovo
  rajoonis, teises kohas mainitakse tema töötamist Saksa ajal politseinikuna. Algul oli ta Mironovi agendiks, lahkudes
  andis Mironov ta üle Zagrebalovile. Viimane tekitas talle illegaalse varjaja identiteedi ja seejärel töötas ta
  Zagrebalovi heaks metsavendade ülesandjana. Rõuge valla metsavend Aaro Pihlapuu nimetab 1950. aastal peetud päevikus
  (Pihlapuude võitlus, Hotpress 2009) julgeoleku kaastöölisena Rõuge veski juhatajat Seppa, kes on sama isik ehk agent
  "Metla". Julgeolekuga aktiivset koostööd teinud agentidest on dokumentides nimetatud veel agente „Asta“ ja „Laut“.
  Agent "Astal" on otsustav osa August Niilo kinnivõtmisel.
</p>
<p>
  Richard Vähi grupi ümber tiirles 1951. a ka Aleksander Lotamõisa nimeline isik (olles ühe kaugema sugulase
  vabaabielumeheks). Mees viibis taksos, millega Richard Vähi naist Elsat toimetati Petseris haiglas oleku järel tagasi
  metsa. Aleksander Lotamõisa (agent "Tark") on seostatud äraandmisega, mille tulemusel toimus lahing 1946. a Sõmerpalus
  Määritsa talus.
</p>
