<div class="content">
	<h1>Arvo Pilt. Mälestused. III osa. 1950-1976.</h1>

	<div class="p">
		Arvo Pilti mälestused kajastavad 1950ndaid aastaid, selleks ajaks juba ligi kümme aastat väldanud metsavendluse
		viimset vaatust. Varjamisaastate mälestused on kirja pandud sügaval nõukogudeajal, kaheksakümnendatel. Küüditamisest
		tingitud varjamine viis ta kokku enesekaitseks relvastunud metsavennasalkadega. Kirjutaja varjamiseelne ja ka
		metsaellu mittepuutuv eraelu siin ei kajastu. Kirjapilti pole muudetud. Ümberkirjutaja täpsustused on teksti sees
		nurksulgudes ja kaldkirjas.
		Ülekuulamistoimikuid lugenuna pean vajalikuks osutatada, et etteheited kaasvangidele „lobisemises“ või millegi
		väljarääkimises on enamasti asjatud. Agentuurtöö ulatust vangistatu ei adunud. Julmusega ülekuulamistel kisti nii
		abistajate kui kaasmetsasolijate nimesid välja kõigilt kätte saadutelt, ka nende mälestuste kirjutaja ise polnud
		erand. Kaudselt kuuldud sündmuste osas leidub väikseid ebatäpsusi ja oletusi, kuid vahetud läbielamised on
		harukordselt eredad.
		<br>
		<i>Mari Pukkonen</i>
	</div>
	<hr>
	<div id="toc_container">
		<p class="toc_title">Peatükid</p>
		<ul class="toc_list">
			<li><a href="#varjamise-algus">Varjamise algus</a></li>
			<li><a href="#esimene-kohtumine-pilve-salgaga">Esimene kohtumine Pilve salgaga</a></li>
		</ul>
	</div>
	<hr>

	<h3 id="varjamise-algus">Varjamise algus</h3>
	<div class="p">
		1950. a kevad, mis oli mu teine varjamise aasta. Valmistusin üksikult
		salaja elama oma kodukülas, selles väikses ilusas kohas, metsatukkade järvede vahel, kus lapsepõlve jooksurajad,
		karjaskäigu karjamaad, jahi ja kalaojad, mida tahtsin jälle harrastada. Kodukoht tõmbas jälle ligi. Seal ümbruses
		olid ju kõik mu rahuaja head naabrid, keda mul polnud karta. Kui kehvem valla nurk, Tsiistre, oli sealt küüditatult
		ära viidud ainult 2 perekonda. Üks A. Leimanni perekond, kellel oli küll suur talu maa poolest, kuid kehv talu,
		milles ei olnud ühtki masinat, ei tarvitatud ka võõrast tööjõudu, kuid süüd loeti vist selles, et poeg oli Saksa
		sõjaväes. Mõned jälle arvasivad, et Leimann, kes 1921 a opteeris Venemaalt, oli võtnud nuhi ameti mida ei täitnud, et
		sellepärast. Poeg Endel aga pages metsa küüditatute <i>/küüditajate/</i> käest. Teda olla küll tagant lastud, kuid ei
		tabatud. Räägiti, et ta varjab end Ruusmäe kandis, õe ligidal. Teine perekond, kes viidi, oli lätlane nimega Tsereus
		/Zeerus/. Ta põdes ju ligi aasta voodis. Ta olla tõstetud voodis reele ja viidi naesega ära, aga nagu teised
		küüditatud rääkisid, olla rongil, kusagil enne Uraali, ära surnud. Olla tõstetud rongilt maha, pandud vankrile, mille
		ees olnud härjad ja viidud ei tea kuhu. Kaasreisijad andnud voodilinu, kuhu surnu sisse mässitud. Minu naabri külas
		oli ka üks minusugune varjaja Niilo /August Niilo/, kes elas vaikselt omas kodus, venna ja õe majas. Ta tegi tisleri
		tööd varem rahvale. Ta varjas sellepärast, et oli Saksa sõja ajal Omakaitses, kus küll ei teinud muud, kui käis mõne
		korra valveteenistuses. Sellega olime sõbrad ja käisin tihti tema pool. Ta peidupaik oli kuskil maja keldris, kus
		varjas haarangute eest, kus sai ära elada 5-6 aastat. Oma ümbruse eest (inimeste) ei varjanud, nagu minagi, ja teda
		teadsid kõik, nagu mindki.
	</div>
	<div class="p">
		Meie küla ja naabruse, umbes 10-12 talu kohta oli tehtud ka kolhoos ja esimesel aastal tulid tööde ja saagiga läbi,
		kuid sunniti vastutahtmist naabrikolhoosiga ühinema. Kuulsin, et naabrikülas – Kärinas on õhtul selleks koosolek.
		Läksin ka huvipärast salaja vaatama. Koos oli paarkümmet inimest. Oli tulnud rajoonist partorg Süving, kes ka
		omanurga mees. Kolhoosnikud enne omaette otsustasid küll mitteühineda, kuid koosolekul ei julgenud keegi vastu
		rääkida, ainult üks A. Sokk võttis sõna selle vastu ja partorg ütles kohe, et tuled homme vallamajja ja seegi jäi
		vait. Vastuhääli ei olnud ja oli otsustatud, sest rajoonis oli ju enne otsus tehtud. Ma vaatasin läbi akna tulega
		valgustatud ruumi, seda päält ja mõtlesin omaette, et küll on kerge praegusel valitsusel asju ajada kui rahvas on nii
		kuulekas, et kõik sünnib ühel häälel.
	</div>
	<div class="p">
		Kolhoosnikud pidid muidugi ära andma kolhoosile loomad, põllutööriistad, vankrid ja reed, kuid mõni kel neid rohkem
		oli, püüdis ka osa omale jätta ja peitsid kuhugi lakka. Rajooni mehed seda kontrollima ei tulnud, kuid oma kolhoosi
		juhatus laskis omadel kontrollida, saates mehi läbi otsima. Omad inimesed ei tahtnud vaenu teha selles ja tegid seda
		liig pääliskaudselt. Üks kolhoosnik aga oli liig agar ja otsis kõik lauda ja saunalakad läbi et peidetud välja tuua.
		See vihastas mõnda meest, kes teadis kontrollija mineviku vigu 1941. a vallamaja vallutamise asja, kus see
		kontrollija mees ka jooksis oma püssiga abiks vallutajatele, kuid oli küll hiljaks jäenud, sest oli ju vallutatud.
		Hiljem ta küll saksa ajal ei tegutsenud, ei olnud Omakaitses: kuulsin, et E. V (kontrollija) olla ära viidud,
		arreteeritud, sai 25a+5a asumisel. Kui ta oleks kontrollimisel tagasihoidlikum, ei oleks tal seda /loetamatu sõna/.
		Ta muidugi seda agarust näitas üles, et kartis omi mineviku vigu.
	</div>
	<h3 id="esimene-kohtumine-pilve-salgaga">Esimene kohtumine Pilve salgaga</h3>
	<div class="p">
		Omas kodukülas sain tihti kokku oma sõbra Augustiga, kellest juba ka kirjutasin. 1950. a kevadel tahtis ta ka viina
		keeta ja ma läksin ka talle abiks. Koha valisime mu enda kodumõtsas. Oli ilus homik, tedred laulsid kõvasti soos.
		Kuulsime oma töö juures ka pauku soos ja rääkisime, et kes see jahimees võiks olla. Istusime tule ääres ja vaatasime
		messi keemist. Korraga astus meie juure mees jahipüssiga ja käes lastud teder. Tundsime ära ja see oli M Pilv, kelle
		elukoht oli 8 klm kaugel. Teadsime, et ta oli 1940. a /1941.a?./ kommuniste arreteerija ja vallamaja võtja ja
		kuulsime hiljem, et ta oma venna Arthuriga, kes oli Saksa sõjaväes olnud, olla metsamehed ja nende vanem vend /Eduard
		Pilv/ olla ju algul arreteeritud. Tulija muidugi teadis, et mina ja mu naaber olime ka varjajad. Rääkisime natuke,
		läks ära ja pärast tuli mitme mehega tagasi, nende seas ka tema vend. Kahte võerast me ei tunnud. Ootasid kuni viin
		valmis sai ja hakkasid võtma. Mu naaber ütles ka, et seni kui viin pudelis ei ole on vaba tarvitada.
	</div>
	<div class="p">
		Pilv seletas et nemad elavad siin ligidal ja hoidke et suu peate. Ma seletasin, et ma metsas ei ela, et elan
		sugulaste pool. Kuna olid viinastatud, olid avalikud ja seletasid mõndagi. Kui küsisin M. Pilvelt, et mis sa lonkad
		siis seletas, et m.a. /möödunud aastal/ läksime Selesova kauplust üle võtma (Pihkva obl). Kaupmees ei lasknud ust
		lahti ütles ikka (otkroitke venekeeli). Läksin ise akend väljastpoolt lahti tegema. Automaat oli laetud ja vinnas
		õlal, sel ajal kui kahe käega akend kiskusin. Automaadi ots oli allpool ja see kogemata iseenesest pääses lahti ja
		lask tabas jalalabitsat jooksis kuul sellest läbi ja ma kukkusin akna pealt alla ja teised tõid mind haavatult
		hobusega tagasi ja kaupluse ülevõtmine jäi ära. Seletas et haav paranes ruttu, kuid üle kraavi hüpates tuli jalaluu
		uuesti katki ja seda põdesin terve talv ja nüüd saan juba longates käia. Tema naene on ka nende juures metsas ja see
		käis ikka Ruusmäe velskerpunktis rohtu toomas. Naene, kes elas lastega oma emakodus, pages ka metsa mehe juure, laps
		jäi vanaema juure väiksesse popsikohta, kust vanaema lapsega (kes alles pooleteise aastane) ka Siberisse viidud.
		Seletas vihaselt, et tema saab aru kui teda oleks viidud, kuid mis süüd oli mu lapsel, kes selle valitsuse ajal veel
		oli sündinud. Kõik neli meest kandsid vöö küljes revolvrit. Ütlesid, et see on enesekaitseks, et pole seni vaja
		olnud. Toidu võtame kommunistide pooldajate käest ise ja ka kauplustest. Teisi elanikke me ei puudu.
	</div>

</div>