<div class="content">

<div class="p">
</div>
<div class="p">
</div>
<h1>Kaardid</h1>

<div class="magnific-popup-gallery">
	<a href="/images/misso/punkrid.jpg">
		<img class="image-full-size" src="/images/misso/punkrid.jpg" alt="Punkrid">
	</a>
	<a href="/images/misso/tulevahetus.jpg">
		<img class="image-full-size" src="/images/misso/tulevahetus.jpg" alt="Tulevahetus">
	</a>
	<a href="/images/misso/hukkunud.jpg">
		<img class="image-full-size" src="/images/misso/hukkunud.jpg" alt="Hukkunud">
	</a>
</div>
<div class="magnific-popup-gallery">
	<a href="/images/misso/pogenemine.jpg">
		<img class="image-full-size" src="/images/misso/pogenemine.jpg" alt="Põgenemine">
	</a>
	<a href="/images/misso/o_pogenemine_rjm.jpg">
		<img class="image-full-size" src="/images/misso/o_pogenemine_rjm.jpg">
	</a>
	<a href="/images/misso/p_karu_otsimiskoht.jpg">
		<img class="image-full-size" src="/images/misso/p_karu_otsimiskoht.jpg">
	</a>
</div>


<div class="p"></div>

<div class="p">PDF-formaadis kaartidel sisaldavad objektid (punktid ja jooned) teksti- ehk atribuutinfot. Acrobat Reader'i programmis on võimalik seda näha. Võimalik, et enne tuleb kaardid oma arvutisse alla laadida ja siis seal Acrobat Reader'iga avada.</div>

<div class="p">NB! Kaartidele on hiljem tehtud mõned muudatused, PDF-kaardid on siin esialgsel kujul</div>

<a target="_self" href="/images/misso/punkrid.pdf">Punkrid</a><br>
<a target="_self" href="/images/misso/tulevahetus.pdf">Tulevahetused ja röövid</a>

<div class="p"></div>

<div class="p"><i>Kasutusjuhend: PDF formaadis kaartidel on võimalik kihte sisse-välja lülitada ning küsida tekstiinfot kaardiobjektidele klikkides. Soovitav on kasutada uuemat Acrobat Reader tarkvara (vers. 9 või uuem). Kihtide avamiseks kliki üleval vasakul servas asuvale ikoonile</i></div>

<a class="magnific-popup-image" href="/images/misso/juhend1.jpg">
	<img class="image_left" src="/images/misso/juhend1.jpg">
</a>

<div class="p"></div>

<div class="p">Objektide kohta lisainfo ehk atribuutinfo nägemiseks ava: <b>Tools->Analysis->Object Data Tool</b> ja objektile mitu korda klikkides näeb kaardi vasakus servas selle objekti lisainfot</div>

<a class="magnific-popup-image" href="/images/misso/juhend2.jpg">
	<img  class="image_full_width" src="/images/misso/juhend2.jpg">
</a>

</div>

