<h1>Kaardid</h1>
<div class="lg-gallery">
  <img src="/images/misso/punkrid.jpg" alt="Punkrid" />
  <img src="/images/misso/tulevahetus.jpg" alt="Tulevahetus" />
  <img src="/images/misso/hukkunud.jpg" alt="Hukkunud" />
  <img src="/images/misso/pogenemine.jpg" alt="Põgenemine" />
  <img src="/images/misso/o_pogenemine_rjm.jpg" />
  <img src="/images/misso/p_karu_otsimiskoht.jpg" />
</div>
<p>
  PDF-formaadis kaartidel sisaldavad objektid (punktid ja jooned) teksti- ehk atribuutinfot. Acrobat Reader'i programmis
  on võimalik seda näha. Võimalik, et enne tuleb kaardid oma arvutisse alla laadida ja siis seal Acrobat Reader'iga
  avada.
</p>
<p>NB! Kaartidele on hiljem tehtud mõned muudatused, PDF-kaardid on siin esialgsel kujul</p>
<p>
  <a target="_self" href="/images/misso/punkrid.pdf">Punkrid</a>
  <br />
  <a target="_self" href="/images/misso/tulevahetus.pdf">Tulevahetused ja röövid</a>
</p>
<p>
  <i>
    Kasutusjuhend: PDF formaadis kaartidel on võimalik kihte sisse-välja lülitada ning küsida tekstiinfot
    kaardiobjektidele klikkides. Soovitav on kasutada uuemat Acrobat Reader tarkvara (vers. 9 või uuem). Kihtide
    avamiseks kliki üleval vasakul servas asuvale ikoonile
  </i>
</p>
<img class="lg-img image-left" src="/images/misso/juhend1.jpg" />
<p class="clear-both">
  Objektide kohta lisainfo ehk atribuutinfo nägemiseks ava:
  <b>Tools->Analysis->Object Data Tool</b>
  ja objektile mitu korda klikkides näeb kaardi vasakus servas selle objekti lisainfot
</p>
<img class="lg-img w-[60%]" src="/images/misso/juhend2.jpg" />
