<div class="content">

	<h1>Kohalike muutmine illegaaliks oma kodus.</h1>

	<div class="p">
		Nõukogude võimu kehtestamise järel augustis 1944 hakati end uuesti varjama sama aasta sügisel, kui toimus mobilisatsioon Punaarmeesse. Oli neid, kes ei allunud käsule ilmuda end arvele võtma, oli neid, kes läksid, kuid arreteeriti kohapeal, aga põgenesid. Nõukogude korra aegset isikutunnistust nad ei saanud. Neist said kindla elu- ja töökohata lindpriid.
	</div>

	<div class="quote">
		KA: Umbes kuu pärast nõukogude vägede sissetungi sain kutse ilmuda tööpataljoni teenistusse nõukogude armeesse, kuid hoidusin kõrvale ja asusin end võimude eest varjama. Isikut tõendavat dokumenti ma nõukogude võimult ei saanud.
		<div class="p"></div>
		KM: 1944. aastal käis Karl Kaur end miilitsaosakonnas arvele võtmas, kuid miilits Savimägi arreteeris ta kohapeal. Karl Kaur andis mulle lubaduse ära põgeneda ja käskis oodata end metsa serval küünis, mis asus kodust u 2 km kaugusel. Läksin sinna ootama ja öösel Karl Kaur tuligi. Esimene öö ja pool päeva olime meie maja lähedal metsas. Hommikul nägime, kuidas miilits arreteeris Karl Kauri vanemad. Koju me ei läinud. Teisel päeval läksime Lätti Aluksne lähedale Malupesse mehe sugulaste juurde, seal olime mai lõpuni 1945. Mai lõpust 1945 suvi läbi olime Pauli metsas tekkidest ja okstest telgis. Talveks ehitasime punkri, kus olime sügiseni 1947. Toitu andis mehe ema, teistega ei suhelnud. Relvi meil 1949. a-ni ei olnud. 1947 talvel sõitsin külla tädile Pärnumaal, samuti sõitsin sõbranna juurde Järvamaale, õnneks viperusteta.
		<div class="p"></div>
		LE: 1944. a, kui koju jõudsin <i>(Saksa sõjaväest, ei läinud Tallinnast laevaga Saksamaale)</i>, ilmusin nõukogude võimu ette, omasin ajutise tunnistuse elamiseks ja hakkasin kodus tööle, läks üks kuu aega edasi, kui võeti mind kinni julgeoleku poolt ja viidi 15 km kaugusele Ruusmäele, kust sain ära põgeneda, kartes karistust, hakkas varjamise aeg.
	</div>

	<a class="magnific-popup-image" href="/images/misso/mv_punkrid.jpg" title="Piirkond">
		<img class="image_left" src="/images/misso/mv_punkrid.jpg" alt="Piirkond">
	</a>

	<div class="p">
		Esimesed aastad varjati end peamiselt kodus või kodu lähedal metsas, vahel ka sugulaste juures. Julgeolek noppis endiselt Saksa sõjaväes teeninuid, proovis neid värvata agendiks, metsavendade asukoha kindlakstegijaks, korraldas metsaläinute kättesaamiseks või hukkamiseks haaranguid.
	</div>

	<div class="quote">
		1945. a Alfred Erik varjas end algul kodus, siis läks metsa. Ta naine Erna Erik elas meie juures talus, suvel 1945 elasid kuu aega meie juures kodus Erik Alfred, Sikk Hartvig, Erik Vilbert, Visk Voldemar. Võõraste eest varjasid nad end küünis ja laudas.
		<div class="p"></div>
		EA: Sikk Hartvig ja Visk Voldemar olid kuulunud Omakaitsesse ja teeninud Saksa sõjaväes. Esialgu 1945. a varjasime mu isakodus (Erik Alfred, Sikk Hartvig, Erik Vilbert, Visk Voldemar), hiljem metsas, 1945 tulid metsa veel Kaur Karl ja Kaur Melanie, Liira Edgar, suvel ühinesid meiega Bibikov Harald <i>(teise nimega Talgre Ernst)</i> ja Hammas Robert. 1950. a ühinesid vennad Langid.
		<div class="p"></div>
		SH: Töötasin 1945. a Misso arstipunktis, Erik Helmi oli seal õde. 1945 suvel tuli julgeolek mind arreteerima, Erik Helmi saatis Liira Nikolai kaudu sõna ja ma asusin varjama, algul oma õe juures, siis Erik Helmi isatalus.
		<div class="p"></div>
		EA: 18. juunil 1946 tappis julgeolek haarangul mu metsavennast venna Erik Vilberti, kui ta läks Vähi Richardi tallu <i>(Samas tapeti ka Laiv Kaljo ja Vähi Nikolai)</i>. Surnu oli ööseks jäetud Vähi Richardi majja, ma varastasin ta sealt ära ja matsin maha punkri lähedale Tikka metsa.
		<div class="p"></div>
		PJ: Suvel 1946 tapeti haarangul 100m Vähi Pauli majast 2 tundmatut metsavenda ja juhuslikult tapeti ka Vähi Pauli vend Nikolai. Kaks metsavenda, kes tapeti, hüppasid välja tema maja aknast. Seda nägi pealt minu isa.
		<div class="p"></div>
		LE: 1948. a sain kutse metsast välja tulla, teised ütlesid, et ära mine, ega siis teisi ka metsa ei jäeta ja nii, teiste mõjutusel, ma välja ei läinudki, jäin metsa edasi.
	</div>

	<a class="magnific-popup-image" href="/images/misso/maletamas.jpg" title="Maletamas">
		<img class="image_left" src="/images/misso/maletamas.jpg" alt="Maletamas">
	</a>

	<div class="p">
		Küüditamine 1949. a tõi kaasa paljude inimeste metsadesse varjumise. Need olid enamasti küüditamisele määratud, kel oli õnnestunud pääseda-põgeneda, või nende sugulased. Samuti arreteeritud, keda oli piinatud ja kel õnnestus põgeneda (Lang Arnold, Lang Roland, Uibo Roland, Erik Gustav).
	</div>

	<div class="p">
		Koos varem metsas olnutega moodustasid omaette grupid: 1) Erik Alfred, Kuus August, Karl Kaur ja Kaur Melanie; 2) Vähi Richard, Tullus Lembit, Voldemar Visk, Grünthal Leida.
	</div>

	<div class="p">
		Sügisel 1949 kohtuti korduvalt Läti eestlaste grupiga, kuhu kuulusid Koemets Rudolf, Rääbis Leo ja lätlanna Inga. Hiljem, 1951. a Erik Gustavi grupiga, kuhu kuulusid Papp Jaan, Tell Kalju ja Pilt Linda.
	</div>

	<a class="magnific-popup-image" href="/images/misso/richard_vahi_pikutab.jpg" title="Richard Vähi">
		<img class="image_right" src="/images/misso/richard_vahi_pikutab.jpg" alt="Richard Vähi">
	</a>

	<div class="p">
		Sügisel 1950 ehitati uus punker Parmu metsa, kus leidsid peavarju Erik Alfred, Lang Arnold (põgenes Võru vanglast 1950. a kevadel), Kaur Karl, Kaur Melanie, Kuus August (läks veebr. 1951 üle Vähi Richardi gruppi). Teises grupis, mis paiknes Sapi-Saika metsas, elasid Richard Vähi, Voldemar Visk, Lembit Tullus, Raimond Pild, Roland Uibo (oli põgenenud Vastseliinast arestist) Rudolf Tomba, Hedvig Tomba, Evald Keir.
	</div>

	<div class="quote">
		KM: Ehitasime pärast kohtumist Liira Edgariga uue punkri Tikka metsa, kus olime kolmekesi 1949. a kevadeni, kui meie juurde punkrisse tuli Kuus August, kelle sugulased olid „kodumaa reeturitena“ küüditatud. Läksime kolmekesi (Kaur Melanie, Kaur Karl ja Kuus August) tagasi Pauli metsa punkrisse, kus varjasime end kevadeni 1950, ka suve-sügise 1950 olime kolmekesi. 1950. a sügisest 1951. a suveni olime punkris Parmu metsas Muraski küla lähedal. Sel perioodil oli meil söögiga kehvasti. 1951. a kevadel tõi Kuus August meie juurde Richard Vähi, läksime neljakesi Tikka metsa.
		<div class="p"></div>
		EA: Kuni 1949. a me röövidega ei tegelenud. Naine Erik Erna elas siis Väike-Tiilike, Marinova jt külades, töötas seal talupidajate juures.
		<div class="p"></div>
		LE: Siegert Richard sai surma heinamaal, kuhu läksime heinale, tema sai surma, minul õnnestus ära joosta, nii mitu korda otsiti mind, kuid igast paigast pääsesin eluga, haarangu meestele pole vastu hakanud.
	</div>

	<a class="magnific-popup-image" href="/images/misso/suvine_soomaaeg_pilved.jpg" title="Vendade Pilvede grupp">
		<img class="image_left" src="/images/misso/suvine_soomaaeg_pilved.jpg" alt="Vendade Pilvede grupp">
	</a>

	<div class="p">
		Vendade Pilvede grupp paiknes eri aegadel Perametsast edela pool, Kuura jõe ümbruses ja Maksa metsas. Sinna kuulus lisaks 1944. a varjavatele vendadele Milbert ja Artur Pilvele veel 1949 küüditamise järel lisandunud Milbert Pilve naine Mahti Saarniit, Endel Leimann (kes 1951. a suvel läks üle Richard Vähi gruppi), vennad Endel ja Juhan (Jaan) Tikerpuu (alates 1951), Venemaalt 13-aastase orvuna Eestisse tulnud ja illegaalina Saviojale tallu võetud ingerisoomlane Taisto Praks, ning 1952. a Nõukogude sõjaväest deserteeruja Viktor Telliste.
	</div>

	<div class="p">
		Esimene suurem lahing Vastseliina piirkonnas toimus 7.03.1951, kui julgeolek ründas suurte jõududega Kundsa külas asuvat Saika punkrit. Toimus lahing, mis kestis 4 tundi ja milles hukkus 6 metsavenda: Tomba Rudolf, Pild Raimond, Visk Voldemar, Uibo Roland, Keir Evald, Tullus Lembit. Julgeolekujõud kaotasid surnutena 5 sõdurit, neist ühe leitnandi. Kaks metsavenda, Kuus August ja Vähi Richard, suutsid end piiramisrõngast välja murda ja joosta lähedal asuva talu õuele, kust võtsid hobuse ja põgenesid kahekesi ühe hobuse seljas kaugemale ühte metsatallu. Hukkunud metsavennad pandi Vastseliinas külarahvale tunnistamiseks välja.
	</div>

	<div class="p">
		Nende matmiskohta ei ole hiljem leitud. Punkrist saadi relvad: 3 kergekuulipildujat, 5 automaati, 4 vintpüssi erinevat marki, 5 püstolit, 3 salve kergekuulipilduja jaoks, 5 erinevat salve automaatide jaoks, 300 padrunit, 2 kuulipilduja linti kuulipilduja MG-34 jaoks.
	</div>

	<div class="p">
		Põgenema pääsenud Kuus August oli julgeolekule tollal tundmatu, kuid haavatud Vähi Richardi leidmiseks käivitati tõeline inimjaht, mille käigus kammiti läbi talusid nii Eesti kui Läti pool piiri.
	</div>

	<div class="p">
		Lahingule järgnes terror külaelanike suhtes. Mitu peret arreteeriti kohe, teise ringiga viidi veel suur hulk inimesi. Ülekuulamised olid jõhkrad (Kalman Nikolai näiteks peksti eluks ajaks poolkurdiks), kasutati kaabliga ja rusikatega peksmist, elektriga piinamist, kaevu uputamist jne.
	</div>

	<div class="quote">
		Kuritegude mitte omaksvõtmisel kasutati soovitud tunnistuse saamiseks elektrivoolu rajooni sideosakonnast toodud induktor-telefoniaparaadist. Paljastatud juhtmeotsad kinnitati Agarile sõrmede külge, Eenla L-le ka varvaste külge, sundides jalgu paljaks võtma, Kitlele sõrmede ja pea külge ja Raagile kinnitati juhtmeotsad hammaste külge, misjärel anti telefoni vänta keerutades elektrilöök (max110-130 volti). Ebaseaduslikult hoiti vahi all Raagi 6 ööpäeva, Eenlat 6 ööpäeva, Eenla L-i 6 ööpäeva, Härmi 28 ööpäeva, Kitlet 5 ööpäeva, misjärel lasti vabaks, kuna nad süüd omaks ei võtnud. Agarit antud fakti kohta küsitletud ei ole, kuna ta viibib vangla psühhiaatriahaiglas Leningradis.
	</div>

	<a class="magnific-popup-image" href="/images/misso/richard_vahi_tytrega.jpg" title="Richard Vähi tütrega">
		<img class="image_right" src="/images/misso/richard_vahi_tytrega.jpg" alt="Richard Vähi tütrega">
	</a>

	<div class="p">
		1951. a varjusid ülekuulamiste metsikuse tõttu ja arreteerimise vältimiseks Saika lahingust põgenenud Vähi Richardi sugulased. Tema vend Vähi Rafael ehitas punkri Juudakunnu metsa Viitka küla taga. Samasse punkrisse asus varjama Vähi Richardi õe pere: Härm Julie, Härm Aleksander, Härm Väino (nende talus oli pärast 1949. a küüditamist kuni 1950. a suveni varjanud end Vähi Richardi naine Vähi Elsa). Härmade talu koos kogu varaga võeti kolhoosile. Arreteeriti üks Vähi Richardi vendadest ja naise õde, keda peksti ja piinati. Võru vanglast põgenenud ja Erik Alfredi gruppi kuuluva Lang Arnoldi venda Lang Rolandit piinati elektriga seni, kuni ta nõustus hakkama agendiks „Küünal“. Seejärel lasti ta lahti oma venna asukoha kohta infot hankima, kuid koostöö asemel asus ta hoopis end koos vennaga varjama. Piinamist ja peksmist pidid taluma ka Lang Arnoldi naine ja tädi, keda tõendite väljapressimiseks uputati kaevu, kuid tõendeid ei saadud.
	</div>

	<div class="p">
		Vähi Richardi püüdmiseks käivitati operatsioone ja värvati agente, kuid kõik tulemusteta.
	</div>

	<div class="p">
		1951. a toimus Tikka metsas mitmeid haaranguid ja tulistamisi. Suvel 1951 andis Kaur Melanie vend Tuvi Voldemar metsavendadele teada järjekordsest kavatsetavast haarangust. Jõuti otsusele sellest piirkonnast lahkuda ja asuda ümber Haanja kanti.
	</div>

	<div class="p">
		Suvel 1951 asusid Ala-Suhka lähedal laagrisse: Erik Alfred, Erik Erna, Lang Arnold, Vähi Richard, Vähi Elsa, Kurra August, Grünthal Leida, Kuus August, Ojamäe Lehte-Kai, Lang Roland, Kaur Karl, Kaur Melanie.
	</div>

	<div class="p">
		Sügisel 1951 jagunes see grupp kaheks: Erik Alfred koos Lang Arnoldi, Lang Rolandi ja Erik Ernaga ehitasid endale punkri Trooveri metsa, kus olid sügiseni 1952. Ülejäänud grupp oli samal ajal punkris Kergatsi vallas Kirbu järve ääres (Vähi Richard, Vähi Elsa, Kaur Karl, Kaur Melanie, Kuus August, Ojamäe Lehte-Kai, Kurra August, Grünthal Leida).
	</div>

	<div class="quote">
		KM: 2 grupi vahel oli eriarvamusi seoses konspiratsiooni, tegevuse, varustamise jms-ga. Vähi Richardi grupp oli aktiivsem, Erik Alfredi oma passiivsem ja konspiratiivsem.
		<div class="p"></div>
		EA: 1951. a lahkusime pidevate haarangute tõttu Haanjasse, Missost 20 km kaugusele. Asusime Ala-Suhka küla lähedale Kergatsi külla, Sepioru talu lähedale. Enne, kui meie 9 liikmeline rühm Haanjasse ümber asus, saatsin õe „luurele“ Haanjasse. Ta käis meie tuttava juures, kes elab Pari külas ja tema kaudu saime teada, kuidas on seal olukord, kas julgeolek tegutseb külades. Erik Helmi tuli tagasi ja ütles, et Haanja kandis on võimalik varjuda. Sama sõnumiga tulid tagasi ka luurele läinud Kaur Melanie ja Kaur Karl.
		<div class="p"></div>
		KM: <i>(1951)</i> Läksime kõik Haanja metsa, kuna meie metsas <i>(Tikka)</i> korraldati haarang. Haanja juures koondusime "kodanlike natsionalistide rühma“, kuhu kuulus 4 meest ja 4 naist. Suvel elasime telkides, talvel punkris. Mul relva polnud, meestel oli. Meestel olid automaadid ja vintpüssid, naistel püstolid. Gruppi kuuludes tegin süüa, pesin pesu, käisin marjul ja seenel. Mehed varustasid meid söögi ja riietega. Mehed käisid asustatud punktides ja korraldasid seal rööve. Nad röövisid kooperatiive ja tõid punkrisse jahu, suhkrut, viina, suitsu, riiet ja jalatseid. Autodelt röövisid hapukooremannerguid. Samuti tõid terveid lambaid, sigu jt elajaid. Kolhoosipõllult saadi kartulit ja kapsast. Kartuleid säilitati spetsiaalses koopas, kapsas soolati tünni.
		<div class="p"></div>
		Kahel viimasel nädalal oli meil hobune. See võeti Voronkinost Petseri rajoonist "1. mai" kolhoosist kapsaste ja kartulite vedamiseks. Mehed heitsid nalja, et hobune oskas vaid vene keelt, seega oli vaja varastada ka vene keelt rääkiv inimene. Selle hobusega toodi kauplusest puhvaikad, kohvi, teed, tualett- ja majapidamistarbeid, suitsu, viina, veini, meeste sokke jne. Sama hobusega toodi ka 4 siga ja 1 metallahi.
		<div class="p"></div>
		PA: Kuus Augustiga kohtusin neljandat korda 1952. a sügisel metsavendade laagris Haanja k/n-s, Võru rajoonis. Viibisin seal kaks päeva ja nägin metsavendadel ka relvi. Kokku oli metsavendi seal 7, neist 2 naist. Teisi peale Kuus Augusti ma ei tundnud. Ühte kutsuti Richardiks. Pidasin teda Vähi Richardiks. Kahe ööpäeva jooksul, mis ma seal veetsin, nimetasid nad üksteist nimepidi, kuid nende nimesid ma ei mäleta. Süüa andsid mulle metsavennad. Nad valmistasid laagris lihast kotlette, keetsid kohvi. Kust nad liha said, ei tea, kuid nägin laagris värsket lehmanahka. Arvatavasti olid nad kuskilt varastanud lehma ja teinud selle lihaks. Metsavendadel oli laagris hobune koos vankriga. Kust nad hobuse ja vankri said, ei tea ja ei küsinud ka.
		<div class="p"></div>
		Omavahel rääkisid nad kulunud pesust, sellest, et pesu on räbaldunud ning et neil on laagris röövitud koorepütid (mannergud). Üks asus sealsamas kõrval. Nägin, kuidas naisterahvas võttis sellest komme ja jagas neid tee kõrvale. Teed jõid kõik metsavennad, ka mina koos nendega. Kust poest nad komme röövisid, ei tea. Oletasin, et need on mõnest kauplusest röövitud, küsima seda ei hakanud, kartsin kahtlust äratada.
	</div>

	<div class="p">
		1951 suvel külastasid laagrit Ala-Suhkas Pilv Milbert koos Saarniit Mahti-Maimuga. Erik Alfred tegi vastukülaskäigu nende laagrisse Pari küla lähedal 1952. aasta suvel. Laagris külastasid metsavendi ka sugulased (Erik Alfredi õed, Lang Arnoldi naine, samuti teised piirkonna metsavennad). Purka laagrisse sattus (enda sõnul juhuslikult) ka üksivarjaja Pilt Arvo. 1951. a suvel liitusid Vähi Richardiga „Paul“ (Kurra August), Vähi Elsa, „Lidia“ (Grünthal Leida) ja „Irma“ (Lehte-Kai Ojamäe).
	</div>

	<div class="p">
		1. jaanuaril 1952 (kuni maini 1952) tulid Erik Alfredi punkrisse Leimann Endel ja Kiudsoo Oskar, sest arreteeriti Kiudsoo Oskari vend Elmar, kes teadis tema senise punkri asukohta Maksa metsas Läti piiri lähedal, kus ta varjas koos Läti eestlase Koemets Rudolfiga.
	</div>

	<div class="quote">
		31. dets.1951 Ossipov koos tõlk ltn Laasiga <i>(ja 20 sisevägede sõduriga)</i>, jõudes Aluksne territooriumile vendade Berkuliste talu lähedale, kes elavad Aluksne ja Vastseliina rajooni piiril Rammuka küla lähedal (Augure külas), pidasid selles talus kinni Kiudsoo Elmari. Kinnipidamist läbi viiv Ossipov ja Laas peksid poolsurnuks nii Kiudsoo Elmari kui mõlemad vennad Berkulised (Helmut ja Arvid). Võttes kaasa nii Kiudsoo kui vennad Berkulised ning võttes neilt talust ebaseaduslikult liua süldiga ja 5l samagonni, sõitsid nad Aluksne RJM osakonda, kus pidasid terve päeva joomingut. Kinnivõetuid hoiti ebaseaduslikult kinni 6 päeva, pärast mida Kiudsoo arreteeriti, kuid vennad Berkulised, kelle kuritegu ei suudetud tõestada, lasti vabadusse. Ülekuulamisel Kiudsoo tunnistas, et samal ajal, kui teda Berkuliste pool kinni võeti, asus tema vend Kiudsoo Oskar punkris Berkuliste talu lähedal.
	</div>

	<div class="p">
		Vendade Pilvede punkri elanikud võtsid 1952. aasta vastu oma punkris soos, mis asus Käbli külast põhjas.
	</div>

	<div class="magnific-popup-gallery">
		<a href="/images/misso/joulud_punkris.jpg" title="Jõulud punkris"><img src="/images/misso/joulud_punkris.jpg" alt="Jõulud punkris"></a>
		<a href="/images/misso/lootsamehed_pilve_punkrist.jpg" title="Lõõtsamehed Pilve punkris"><img src="/images/misso/lootsamehed_pilve_punkrist.jpg" alt="Lõõtsamehed Pilve punkris"></a>
	</div>

	<div class="p">
		Pärast grupi kaheks jagunemist käisid Eriku ja Vähi punkrite elanikud omavahel endiselt läbi, korraldati üheskoos varustusretki ja koguneti kurbade sündmuste puhul.
	</div>

	<div class="quote">
		KM: Läksime Grünthal Leidaga Erik Alfredi punkrisse külla juuli algul 1952. Punker asus Vänni ja Viitina küla vahel 1 km kolhoosi sigalast. Meie laager asus siis u 0,5 km Purka külast metsatukas <i>(ülestunnistuse tegemise ajal olid nii punker kui laager juba maha jäetud)</i>. Laagrist punkrisse oli u 5-6 km. Laagrist lahkusime õhtul, kohale jõudsime kell 2-3. Punkris olid: Erik Alfred, Erik Erna, Lang Arnold, Lang Roland, Kiudsoo Oskar, Sikk Hartvig. Olime punkris 3-4 tundi, tulime veel öösel tagasi oma laagrisse. Grünthal Leida oli 26-27 aastane, Erik Erna oli tema vanem kauge sugulane. Nemad eraldusid alati ja rääkisid omi jutte. Meie teistega rääkisime oma elust-olust. Oma salga röövkäikudest kellelegi rääkimine oli karmilt keelatud, seetõttu sel teemal ei rääkinud midagi.
		<div class="p"></div>
		Teist korda läksime Grünthal Leidaga juuli keskel, kahe nädala pärast. Karl Kaur ja Kuus August saatsid meid ülesandega – saada teada, kes nende salgast on nõus nendega koos kalale minema, pidime kokku leppima kalalemineku aja ja koha. Et sel päeval sadas vihma, jäime ööseks ja alles järgmise päeva õhtul jõudsime tagasi oma laagrisse.
	</div>

	<a class="magnific-popup-image" href="/images/misso/kalal.jpg" title="Kalal">
		<img class="image_left" src="/images/misso/kalal.jpg" alt="Kalal">
	</a>

	<div class="p">
		Sidet peeti nii Läti eestlastega, kellega koos (küll eraldi punkrites) oldi end kuni 1950. a varjanud Parmu metsas, kui ka vendade Pilvede punkrirahvaga, kes paiknesid Perametsa, Käbli, Laisi kandis, samuti Vähi Richardi venna Vähi Rafaeli punkris varjajatega Viglasoos Rebase metsas. Lang Arnold pidas sidet Maksa metsas varjavate Kiudsoo Oskari ja Pilt Aleksandriga. Harvem kohtuti ka piirkonnas asunud üksivarjajatega (Kallaste Arnoldi, Pilt Arvoga).
	</div>

	<div class="p">
		Kõigil gruppidel olid kindlad legaalselt elavad abilised mõnede talude või inimeste näol, keda usaldati. Neilt saadi infot ringiliikuvate sõjaväelaste ja inimeste kohta, kelle suhtes pidi olema ettevaatlik. Olid kokku lepitud teatud märguanded, kui ei olnud soovitav majale ligineda ja kui kindlasti seda teha ei tohtinud (teki aia peale viskamine, oksa murdmine teatud puul jne). Üksiolijad varjasid end periooditi mõne sugulase juures talus (Kallaste Arnold oma õemehe pool). Hädavajalikke abilisi pidi metsavendadel olema velskripunktis, kust saadi haiguste ja haavatute jaoks ravimeid. Vähi Elsal (Vähi Richardi grupist) oli näiteks 1951 augustis äge pimesoole põletik ja ta vajas statsionaarset haiglaravi. Ta organiseeriti vale nime all Petseri haiglasse, kus ta viibis 23 päeva. Sinna viis ta Vähi Richardi sugulane otse metsast „Pobeda“ taksoga, pärast tõi ta jälle taksoga metsa tagasi.
	</div>

	<div class="p">
		Taksojuht Petserisse viimisest:
	</div>

	<div class="quote">
		Sõitsime läbi Vastseliina Tsiistrest mööda, kokku Petseri linnast 40-45 km. Esimesena väljus külavaheteel naine, sisenes metsa, aga mees lasi end sõidutada 4 km edasi. Peatades auto, läks ta ühte tallu, mis asus umbes pool km vasakule pööravast teest. Oli seal 15-20 min, tuli tagasi autosse ja me sõitsime tagasi sellesse kohta, kus oli väljunud naine. Seal ootas metsavaheteel koos selle Petserist sõitnud naisega üks mees ja veel üks naine (haige), mässitud teki sisse. Peatasin nende juures auto, nad panid haige naise autosse ja me sõitsime tagasi Petseri suunas. Mees, kes oli koos haige naisega metsas, jäi tee peale.
	</div>

	<div class="p">
		Tagasi toomisest:
	</div>

	<div class="quote">
		Autos istus juba ees haige naine nimega Elsa, nägu oli tal kaetud, näha olid vaid silmad. Istusime autosse ja sõitsime. Kümme km Vastseliinast edasi keerasime paremale ja sõitsime mööda metsavahelist teed. Sõitnud umbes kilomeetrit-poolteist, väljus ta ja läks metsa, Petserist tulles paremat kätt, kuhu ta läks, ei tea. Umbes kümne minuti pärast tuli ta tagasi ja ütles, et edasi ei saa sõita, tee on vilets. Võttis oma kompsu ja tahtis lahkuda, kuid oli näha, et tal oli raske, sest ta polnud veel päris paranenud, aga kompsus oli tekk, padi ja veel midagi, ning ta palus end saata. Ma võtsin kompsu ja läksime koos. Umbes 500 meetri pärast peatus ta ja ütles: „No nüüd ma lähen sellesse majja“ ja näitas mulle talu, mille katus oli tee pealt näha, umbes 100 m metsa sees. Aitasin tal kompsu üle kraavi ja ise läksin tagasi. Umbes 60 m enne autoni jõudmist kuulsin auto lähedal kõnet, esialgu ei näinud, kes seal oli, kuna auto seisis käänaku peal. Käänaku taga nägin kolme meetri kaugusel hallis ülikonnas meest, piimakard käes, kes oli juba auto juurest lahkumas ja astus samas suunas, kuhu oli lahkunud naine. Läksin auto juurde ja küsisin, mis ta tahtis. Autojuht ütles, et mees oli küsinud, mida ta seal teeb. Ta olevat vastanud, et tõid haige. Mees oli öelnud „Ahah“ ja lahkunud.<br>Istusime autosse ja sõitsime Petserisse tagasi.
	</div>

	<div class="p">
		Julgeolekus marutati ja aeti kõik tagajalgadele, kuid hilja. Lausa nina all viibinud otsitav oli lahkunud.
	</div>



	<h2>Röövid kui varustamine, ähvardus-hoiatus ning aseaine pealesunnitud tegevusetusele</h2>

	<a class="magnific-popup-image" href="/images/misso/mehed_metsas_1.jpg">
		<img class="image_right" src="/images/misso/mehed_metsas_1.jpg" alt="Mehed metsas">
	</a>

	<div class="p">
		Pärast küüditamist ja kolhooside moodustamist 1949 muutus metsavendade toiduga varustamine neid seni toetanud talunikele raskeks, taludel endil läks toiduga kitsaks, loomad ja kogu vili võeti kolhoosile. Lisaks olid paljude omaksed Venemaale küüditatud. Metsa varjunute arv oli küüditamise tulemusel kasvanud, lisandunud oli naisi. Eluks vajaliku hankimiseks oldi sunnitud röövima kauplusi ehk kooperatiive ja kolhoosi loomi. Keeruline oli hankida leivajahu, kuna vili võeti kolhoosile ja leiba jagati kolhoosi kaudu. Kel õnnestus, tegi ja müüs mingil määral käsitööd (Sikk Hartvig ja Härm Aleksander valmistasid puitesemeid, Kaur Melanie kudus tuttavatele kampsuneid jms). Üksikvarjaja Kallaste Arnold oli rätsep ja tal oli punkris õmblusmasin, millega teenis endale elatist. Tema naine pidas sidet, tõi mõõdud ja kangad. Suures grupis olijatel tuli end varustada muul moel.
	</div>

	<div class="quote">
		KM: Pidevalt korrati, et röövida võib riiklikke ja ühisasutusi, mitte mingil juhul eraomanikke.
	</div>

	<div class="p">
		Kaupluserööve võeti ette sagedamini kui kord kuus (va talvel), sellele lisandus liha hankimine. Rööviks valmistuti, tehti luuret, selleks liitusid mitme grupi inimesed. Toime pandi rööve nii Eestis, Lätis, kui Venemaal. Nimetatud on kauplusi: 1949 sügis Luhamaa, 1950 kevad Ziemere (Lätis), august 1950 Laura Pihkva oblastis (Venemaa), 1950 sügis Kašina Katšanovo oblast (Venemaa), jaan. 1951 Laura, aprill 1951 Ruusmäe, mai 1951 Luutsniku, juuni 1951 Luutsniku, 1951 sügis Luutsniku, okt. 1951 Šumilkino Petseri rajoonis Pihkva oblastis, 1952 kevad Ziemere, 1952 sügis Veclaicene (Läti), Markalne (Läti), jne.
	</div>

	<div class="quote">
		1949. a detsembris võeti ette rööv Visikumsi kooperatiivis, 15-20 km Aluksnest läänes. Inga oli sealtkandist pärit, tundis hästi kohta, asendit, valvet. Inga ja Koemets Rudolf tegid eelnevalt luuret kaupade kohta. Röövitud kaup toodi kolhoosi hobusega Aluksnest Laura viivat teed mööda punkri piirkonda. Visikumsi mõisast mööda, umbes Kalmededze mõisa juures lasti hobune lahti ja kraam viidi seljas punkrisse, umbes 10 km kaugusele Parmu metsa.
		<div class="p"></div>
		1950. a augustis rööviti Tullus Lembitu ja Visk Voldemari initsiatiivil Veclaicene kauplust. Kuus August, Kaur Karl, Lang Arnold ja Põllu Alfred tegid enne jalgratastel luuret. See kooperatiiv varustas ka teisi kooperatiive. Kalluste Heino viis Võru Autobaasi autoga metsavennad kohale ja hiljem autoga Pihkva-Riia kiviteed mööda Käbli küla juurde, kust kaup viidi seljas laagrisse, mis asus Kunnalaane juures, kus varjasid Visk Voldemar, Tullus Lembit, Kuus August ja Grünthal Leida. Kaur Melanie, Kaur Karl, Erik Alfred ja Lang Arnold olid sel ajal Parmu metsas.
		<div class="p"></div>
		TK: 1950. a augustis rööviti Markalne kauplust. Kaup toodi ära Põllu Alfredi hobusega. Teel Markalnest Tikka metsa pidasid miilitsatöötajad nad Misso mõisa juures kinni. Et neid asuti autoga jälitama, jätsid metsavennad kraami ja põgenesid metsa.
		<div class="p"></div>
		Samast sündmusest: Varahommikul augustis 1950 istusime meie, so Tell Kalju, Pild Raimond ja Kurra August, Salundi majast Kunnalaande viiva tee ääres ja jõime samagonni, kui kohtasime Põllu Alfredit. Põllu Alfred rääkis, et keegi varastas temalt öösel hobuse ja ta läheb sellest miilitsasse teatama. Käskis meil ära metsasügavusse minna. Põllu Alfred oli väga närvis. Hiljem kuulsime, et Põllu Alfredi hobune oli Missos toidukraamiga kinni peetud. Tegime järelduse, et Vähi Richardi grupp kasutas hobust Markalne kaupluse röövimisel ja Põllu Alfred oli asjasse segatud.
		<div class="p"></div>
		EA: 1952. a mai algul kohtusime Richard Vähi salgaga Plaani-Luutsniku teel. Järgmised 3 päeva veetsime koos Maksa metsas jahil, seejärel käisime röövimas Ziemere kauplust Lätis. Kaup jaotati Maksa metsas. Igaüks sai paari jalanõusid, pluusimaterjali, kleidisitsi, pesu jm. 6-8 pudelit likööri, viina, konserve, suhkrut ja komme söödi ühiselt punkris.
		<div class="p"></div>
		1952. a mais tehti katse röövida Veclaicene kauplust. Metsavendade pihta avati tuli, nad nägid, et keegi sõitis mootorrattaga poe juurest ära. Jälitamisest hoidumiseks taganeti metsa.
		<div class="p"></div>
		PH: 24. juuli õhtul 1952. a sain käsu sõita hommikul Laura laadale. Laadisime õhtul auto täis ja jätsime autobaasi õuele. Kell 4 hommikul läksime viiekesi minu autoga Laura, seal olime u kell 6. Kell 11 oli kala müüdud ja pöördusime tagasi koju. Umbes kell 1 päeval pöörasime Pihkva-Riia kiviteelt Vastseliina poole ja sõitnud u 200m, ilmusid tõusul teele viis relvastatud meest, kaks auto ette ja 3 külgedele. Mehed panid relvad laskevalmis, automaadid ja püstolid, peatasid masina ja sundisid relvaga sihtides sõitma teelt kõrvale metsa u 80 m. Seejärel võtsid nad meilt kalade müügist teenitud raha 1500 rbl, kontrollisid kviitungit, millise summa eest kala müüdi, lugesid raha üle ja ja keelasid surma ähvardusel kahe tunni vältel kuhugi minna. Mehed võtsid automootorilt süütejagaja ja lahkusid. Kahe tunni pärast läksime jalgsi Vastseliina ja teatasime juhtunust julgeolekusse.
	</div>

	<div class="p">
		(NB! Tarbijate kooperatiivi tõend: autojuht P.-lt 25. juulil 1952 röövitud 9983 rbl 85 kop)
	</div>

	<div class="p">
		Rasked tagajärjed olid 16.9.1952 ette võetud Veclaicene kaupluseröövil. Selle tulemusel said haavata kolm meest, Vähi Rafael õlga, Erik Alfred jalga ja Lang Roland õla-kaela piirkonda.
	</div>

	<div class="quote">
		Augusti algul 1952 toimus Kõrgesilla kooperatiivi rööv Katšanovo rajoonis Pihkva oblastis. Utsitajad olid Rääbis Leo ja Ivanovitš Jaan, kes tundsid paikkonda, osavõtjad: Vähi Richard, Kuus August, Kaur Karl, „Paul“, Vähi Rafael, Rääbis Leo, Ots Ferdinand, Ivanovitš Jaan. Kraam viidi hobusega Rääbise laagri juurde, kus saak jagati. Meie laager sai 2-3 kasti viina, erinevaid puuvillakangaid iga inimese jaoks 20 meetrit, sukki, sokke, komme üks-kaks kasti, 10 karpi konservi. Kõik peale konservide ja kommide jagati üksnes röövist osavõtnute vahel.
		<div class="p"></div>
		Pärast Kõrgesilla röövi hakati valmistuma uueks. Sel eesmärgil läksime augusti algul 1952 (Karl Kaur, Kaur Melanie, Rääbis Leo, „Paul“ ja Grünthal Leida) Erik Alfredi juurde, et leppida kokku koostööks Veclaicene mõisas asuva kooperatiivi röövis Lätis. Meie, Kaur Melanie ja Grünthal Leida, läksime kaasa vaid selleks, et mehed ise ei teadnud teed Erik Alfredi punkrisse. Et meestel oli kaasas viina ja nad hakkasid seal viina võtma, kästi meil Grünthal Leidaga laagrisse tagasi pöörduda, mida ka tegime.
		<div class="p"></div>
		Järgmisel õhtupoolikul tulid Karl Kaur, Rääbis ja „Paul“ tagasi laagrisse. Nende jutust võis mõista, et röövis oli kokku lepitud ja see pidi toimuma ühel puhkepäeval.
		<div class="p"></div>
		Mäletan, et sel päeval sadas vahetpidamata vihma, mistõttu rööv otsustati edasi lükata, milles polnud aga Erik Alfredi salgaga kokku lepitud ja Lang Roland nende juurest tuli sellepärast õhtul meie laagrisse, Rääbisele aga jäigi sellest teatamata. Augusti keskel 1952 korraldasid kaks salka, kellega seltsis kaks üksikut metsavenda, röövi Veclaicene kooperatiivis.
		<div class="p"></div>
		Kõigepealt mindi Pihkva-Riia kiviteele Murati mõisa juurde, kus peeti oma plaanide elluviimiseks kinni üks veoauto. Seal olnud mehel ja naisel kästi ronida autokasti. Rooli istus Vähi Rafael, kes sõitis koos metsavendade, kinnivõetud autojuhi ja selle naisega Veclaicene kaupluse juurde. Seal lukustati juht ja selle naine kooperatiivi keldrisse, murti kooperatiivi sisse ja võeti suures koguses söögi- ja muud kraami, laoti autole ja sõideti minema. Olles sõitnud kooperatiivi juurest mõnikümmend meetrit, avati nende pihta tuli. Roolis olnud Vähi Rafael sai õlga haavata ja polnud võimeline autot edasi juhtima. Auto jäeti maha ja joosti laiali. Ka Lang Roland sai haavata õlga ja Erik Alfred kergemalt jalga.
		<div class="p"></div>
		Ebaõnnestunud röövi järel saabusid kõigepealt laagrisse Vähi Richard, Vähi Rafael ja Sikk Hartvig. Alles kolmandal öösel tulid laagrisse Kaur Karl, Kuus August, „Paul“ ja Leimann Endel Pilv Milberti rühmast, kes ka sellest ebaõnnestunud röövist osa võttis. Lang Roland oli raskelt haavatud ja kanti teiste poolt Erik Alfredi punkrisse. Kes nende pihta tule avas, ei teadnud keegi.
		<div class="p"></div>
		Siiski, käisin tõesti punkris veel ühel korral. 3-4 päeva pärast läksime mina, Karl Kaur ja Kuus August Erik Alfredi punkrisse haavatutele hangitud ravimeid viima. Alates 1951 pidasime sidet Ruusmäe ämmaemanda ja velskripunkti velskri Teasega. Saadud ravimid viisime Erik Alfredi punkrisse, kus lebasid haavatud. Saime penitsiliini, streptotsiidi, glükoosi, rivanooli, hematogeeni, joodi, sidet jm. Tease juures ravimite järel käis Leimann Endel ja tõi need meie laagrisse, paludes need punkrisse edasi viia. Ta ütles, et on öö läbi magamata ja äärmiselt väsinud. Kaur Karl ütles mulle, et võib-olla tuleb mul Erik Ernat aidata, kuna nende rühmas oli Erik Erna ainus naine. Viibisime seal punkris paar tundi ja läksime oma laagrisse tagasi. Jutt ei laabunud, kõigil oli suur mure Lang Rolandi tervise pärast, mis Sikk Hartvigi sõnutsi päev-päevalt halvenes. Sikk Hartvig oli elukutselt velsker ja ravis haavatuid. Rohkem ma seal punkris ei käinud.
	</div>

	<div class="p">
		26 aastane Lang Roland suri saadud haavadesse punkris Trooveri metsas kaks nädalat hiljem, 30.9.1952. Ta maeti punkrist 20m kaugusele, matustest võtsid osa mõlema grupi liikmed ning metsavendade abistajad.
	</div>

	<div class="p">
		1950. a oktoobris röövisid Tell Kalju, Kurra August, Koemets Rudolf, Rääbis Leo, Ivanovitš Jaan ja Inga Ruusmäe poodi. Nad läksid öösel jalgsi, lõhkusid side, võtsid valvuri kinni ja panid kuuri luku taha, lõhkusid välisukse. Võtsid riiet, jalatseid, tubakatooteid, konserve, suhkrut. Kraami viisid seljas metsa.
	</div>

	<div class="p">
		1951. a aprillis jälle Ruusmäe poes. Vähi Richard, Kaur Karl, Kurra August, Kuus August, Erik Gustav. Lõhkusid side, valvurit jt hoiti röövi ajal ühes toas. Pärast röövi pandi nad aita kinni. Kolhoosi hobusetalli uks võeti maha, kraam jaotati kahte koormasse, kolhoosi hobusega viidi osa Ruusmäele, osa Ritsiko metsa (Misso lähedal). Võeti riiet, jalatseid, tubakat, suhkrut, konserve.
	</div>

	<div class="p">
		Loomi rööviti liha tarvis, liha soolati mannergutesse. Sügiseti varuti liha ka talveks. 1951. a sügisel Saaluse kolhoosist 3 siga, Tammemäe kolhoosist kartuleid jne.
	</div>

	<div class="p">
		Kolhoosi sigu oli röövitud ka Vokki külas Tsolli k/n-s 2 okt. ööl vastu 3. oktoobrit 1952.
	</div>

	<div class="quote">
		Aknaraam oli tõstetud eest, akna all olid jäljed, ukse kõrval veri. Uks sigade kandmiseks oli põrandal. Põrandal olid ka 5 sea sisikonnad ja õlilamp. Elanik Hussar koos naise ja 10a tütrega olid aita kinni pandud. Nende majast oli võetud õlilamp ja 2 plekkpange, mis olid jäetud lauta.
		<div class="p"></div>
		H: Öösel kell pool 1 koer haukus õues. Väljas olid 2 meest, üks neist vaigistas koera. Mehed küsisid, kas kõrvalisi isikuid on. Siis küsisid võõrad nuga, lampi ja 2 ämbrit. Noa asemel ulatasin saksa täägi. Üks neist väljus, teine jäi kööki. Välja läinud mees küsis tagasi tulles, kas teil on keldrit vms lukustatavat kohta. Vastasin, et keldrit pole, aga on ait. Võõrad palusid meil soojalt riietuda ja aita minna. Meid pandi sinna kinni. Kuulsin väljas lasku ja sea kisa. Õuele sõitis hobune. 20 min pärast sõitis hobune minema. Üks võõrastest tuli aida juurde ja küsis, kellele kuulub raudahi kuuri kõrval. Ütlesin, et mulle. Pärast seda seal polnud.
		<div class="p"></div>
		Küsitleja: Miks te täägi andsite?
		<div class="p"></div>
		Vastaja: Röövlid küsisid nuga, aga ütlesin, et mul nuga pole. Küsisid siis, et millega ma ise siga tapan. Ütlesin, et täägiga ja andsin selle.
		<div class="p"></div>
		Küsitleja: Kust selle ahju saite?
		<div class="p"></div>
		Vastaja: Leidsin talu lähedalt 1944. aastal. Talvel kasutasin, suveks tõstsin õue.
		<div class="p"></div>
		EA: Sead viisime hobusega metsa, sealt kandsime punkri juurde.
	</div>

	<div class="p">
		Üksivarjajad, kellel oli võimalik lahendada varustusküsimus abilise abil, hoidusid röövidest.
	</div>

	<div class="p">
		Vendade Pilvede grupi varustamine oli Vähi grupist erinev. Kooperatiivide rööve neil vist ette ei tulnudki, see-eest ühendasid nad varustamise punategelaste ähvardamisega. Nende röövide ja ähvarduste alla langesid selliste inimeste majapidamised, kelle kohta oli neil andmeid nende seotuses RJM-ga või kes olid näidanud end punaaktivistina. Tavaliselt mindi öösel, koputati uksele ja nõuti avamist miilitsa passikontrollile. Kui ust ei avatud, mindi akna kaudu majja, ähvardati omanikke, lukustati nad keldrisse või sahvrisse, saadi aida võti ning seni, kui üks hoidis majaelanikke kirbul ja üks oli õuel valves, korjasid ülejäänud eluruumidest ja aidast seda, mida neil vaja läks.
	</div>

	<div class="magnific-popup-gallery">
		<a href="/images/misso/pilv_evertson_1.jpg"><img src="/images/misso/pilv_evertson_1.jpg"></a>
		<a href="/images/misso/pilv_evertson_2.jpg"><img src="/images/misso/pilv_evertson_2.jpg"></a>
		<a href="/images/misso/pilv_evertson_3.jpg"><img src="/images/misso/pilv_evertson_3.jpg"></a>
	</div>

	<div class="magnific-popup-gallery">
		<a href="/images/misso/pilv_sead_1.jpg"><img src="/images/misso/pilv_sead_1.jpg"></a>
		<a href="/images/misso/pilv_sead_2.jpg"><img src="/images/misso/pilv_sead_2.jpg"></a>
		<a href="/images/misso/pilv_sead_3.jpg"><img src="/images/misso/pilv_sead_3.jpg"></a>
	</div>

	<div class="p">
		Inimesed, keda nad pidasid äraandjateks, peksti läbi, vahel päris korralikult. Arstitõendid hindasid hiljem vigastusi siiski kergeteks. RJM jagas aktiivile püstoleid. Kui selline püstol leiti, oli läbipeksmine kindel. Reeturiteks peetud meestel pügati vahel maha vuntsid, naistel juuksed.
	</div>

	<div class="p">
		Mõned Pilvede, Erik Alfredi ja Vähi Richardi meestest hirmutasid sügisel 1949 Mürki, 1949 Juppetsit, Hummalit, kevadel 1952 Haanja komsorgi Tamme (kellel Tikerpuu Endel pügas pea paljaks), kevadel 1952 Perametsa k/n esimeest Puuseppa, sügisel 1952 ülemnõukogu saadikut Gutvest, kellelt võeti asju, raha ja 2 Lenini ordenit, seinalt rebiti maha ja virutati jalaga Stalini pildile.
	</div>

	<div class="p">
		Pikk ja painav metsaelu mõjus mõnele mehele laastavalt. Metsasolijate endi hulgas toimus aja jooksul sikkude eraldumine lammastest. Rasketes oludes jäeti nõrgema närvikava tõttu joomisele kalduvad mehed ajapikku distsiplineeritud rühmadest kõrvale või hukkusid nad oma mõtlematu tegevuse tagajärjel.
	</div>

	<div class="quote">
		LE: 1949 rahva väljasaatmisel osa mehi tuli metsa juurde. Tuli ka Kuus August, hakati eraldi käima ja kuidagi nagu teistmoodi, oldi vihased. Kõik algas nimelt Kuus Augusti seletustega kuidas abikaasa ära viidi ja minule ka üteldi, et kui metsas elad, siis metsas. Kui tahad kodus olla siis meie ei nõustu sellega. Nii juhtuski, et nemad jätsid mind maha, jäin üksinda.
		<div class="p"></div>
		TK: 1951 mais röövisime (Tell Kalju, Ivanovitš Jaan, Erik Gustav) Ponkuli kauplust Lätis. Läksime öösel jala. Valvet polnud, sidet lõhkuma ei hakanud. Kraami viisime seljakottidega metsa. Enne lahkumist tuli sinna üks venelane. Võtsime kinni, sidusime käed seljataha ja panime poodi kinni. Võtsime tarbekaupu, alkoholi, tubakatooteid, konserve.
		<div class="p"></div>
		1951 juulis läksime uuesti Ponkulisse. See oli juhuslik, plaanitsemata rööv. Päise päeva ajal läksime (Tell Kalju, Erik Gustav, Papp Jaan ja Pilt Linda) Ponkuli poodi. Jõime seal ja jäime purju. Papp Jaan ja Pilt Linda lahkusid ennelõunal ja kutsusid ka meid äraminekule. Kui nad olid läinud, pani Erik Gustav ette raha ja kaupu röövida. Röövi algul hakkasime purjus peaga lärmama. Võtsime püstolid välja, müüjannad pistsid kriiskama ja jooksid välja. Erik Gustav ütles, et läheb otsib lahkumiseks hobuse. Käskis mul poes oodata ja läks ise küla peale. Ootasin 20 minutit. Siis otsustasin lahkuda. Võtsin kauplusest 500 rbl raha, 2 paari kirsasaapaid, panin taskusse paar pakki žilette habeme ajamiseks. Hakkasin minema külast välja üle põllu metsa. Teel hakkasid mingid mehed mind jälitama ja pidin jooksu pistma. Peitsin end jälitajate eest metsa, kirsad viskasin tee peale. Erik Gustav pärast seda punkrisse ei naasnud. Hiljem kuulsime, et ta oli külas kinnivõtmisel põgenemiskatsel tapetud.
	</div>

	<div class="p">
		Metsasolijate iseloomud olid üksteisele hästi teada. Kaur Karl näiteks hoiatas üksi varjavat Kallaste Arnoldit Liira Edgari suhtes, et viimane kaldub end purju jooma ja norib siis tüli. Labiilse käitumisega inimestest hakati hoidma eemale, isegi kui need olid eluaegsed naabrid või koolivennad.
	</div>

	<div class="p">
		Suurt ohtu kujutasid metsasolijate jaoks varasemate metsaametnike asemele värvatud riigitruud aktivistid. Üksivarjaja Kallaste Arnold jättis talvel oma punkri maha ja asus uut varjamiskohta valmistama, kuna tema punkrisuitsu oli märganud Lõokese nimeline metsavendade ülesandjast metsaametnik-aktivist. Samanimelise mehe tappis 1950. a purupurjus Liira Edgar püstolilasuga pähe. Sellele vaatamata legaliseerus ta 3 aastat hiljem tollase RJM osakonnajuhataja Lembit Ahermaa loal. RJM osakonnaülem Burakov kandis selle tapmise 1951. a Saika punkri meeste arvele, kuigi kõik juures olnud tunnistajad olid aasta varem nimetanud teo toimepanijana Liirat.
	</div>

	<div class="p">
		Kui metsast saadi kätte RJM kaastöötajast metsavendade ülesandja, lõppes lugu sellele kuuliga. Nii tapeti Kuura jõe ääres augustis 1951 ühe lasuga Mõnistes elanud Karu Voldemar, kes oli 1945 (teistel andmetel 1948 ja/või 1950) osalenud koos RJM jõududega haarangul Artur Pilve punkrile ja oli RJM värvatud agent „Mägi“.
	</div>

	<div class="p">
		Vähi Richardi ja Erik Alfredi grupi metsavendade arvel toimikuis tapmisi pole (üks nimekiri küll viskab õhku küsimuse nende seotusest Võrumaa varumisvoliniku Piksaar Raimondi tapmisega märtsis 1950, kuid sellest pole hiljem kuskil juttu).
	</div>

	<div class="p">
		12.7.1952 lasi üksikvarjaja Kallaste Arnold lühikese kahekõne järel metsas maha varasema kolhoosiesimehe Lind Augusti, kes oli eelnevalt proovinud teda märgates varjuda. Varjuja osutus aktivistiks, kes oli varem ähvardanud Kallaste Arnoldi kui metsavenna kinnivõtmisega ja tema 80 aastase ema Siberisse saatmisega.
	</div>

	<div class="p">
		Lang Arnold (Erik Alfredi grupist) oli enne arreteerimist 1950. a olnud metsaülem Mõniste kandis, kus agent Hundi-Juku (Juhan Mäetalu) ta üles andis kui metsavendade asukoha teadja. Lang Arnoldit töödeldi punkrikohtade teadasaamiseks Võrus vanglas kuu aega. Teda oli pekstud, piinatud. Ta põgenes Võru vanglast ja ütles, et elusana ta sinna tagasi ei lähe. Varjama hakkas ta end Erik Alfredi grupis.
	</div>

	<div class="p">
		Metsavendade eesmärk oli hoida end elus ja võitlusvalmina selleks puhuks, kui avaneb võimalus jõudude vahekorda enda kasuks muuta. Selleks oodati pikisilmi muutusi rahvusvahelises olukorras.
	</div>

	<div class="quote">
		EA: Kuni asusime Tikka metsas, käisime Niilo Elmari juurde uudiseid kuulamas, sest endal meil raadiot polnud. Niilo Elmar kuulas BBC-d soome keeles ja Soome raadiot. Hiljem oli meil 2 raadiovastuvõtjat ja kuulasime punkris välissaateid, eriti „Ameerika Häält“.
	</div>

	<div class="p">
		Arreteeritud metsavendadele esitatud küsimusele nende tegevuse eesmärkidest on toimikutes kirja pandud vastused:
	</div>

	<div class="quote">
		Eesmärk oli relvastatud võitlus nõukogude võimu vastu, lootus 3. maailmasõja puhkemiseks ja nõukogude võimu kukutamiseks. Neid püüdlusi õhutasid nõukogudevastased välismaised raadiosaated.
		<div class="p"></div>
		Eesmärk oli kahjustada nõukogude korda majanduslikult, teha nõukogudevastast agitatsiooni elanikkonna hulgas ja varjata end viimase võimaluseni. Ootasime sõda NL ja Ameerika vahel. Pidevalt korrati, et röövida võib riiklikke ja ühisasutusi, mitte mingil juhul eraomanikke.
	</div>

	<div class="p">
		Mõne vastuse asemel on kirjas pigem ülekuulaja arvamus:
	</div>

	<div class="quote">
		Eesmärk oli materiaalselt kahjustada nõukogude võimu, desorganiseerida nõukogude kaubandust, terroriseerida kohalikku elanikkonda ja tekitada paanikat ning saada materiaalset kasu, kuna grupis olid peamiselt poliitilised kurjategijad, nõukogude korra vaenlased.
	</div>

	<a class="magnific-popup-image" href="/images/misso/melanie_kaur_suurem.jpg" title="Melanie Kaur">
		<img class="image_right" src="/images/misso/melanie_kaur_suurem.jpg" alt="Melanie Kaur">
	</a>

	<div class="p">
		Haanja kandis ilmutas oht end jälle teravalt 1952. a sügisel. 7.10.1952 toimus samal päeval 2 arreteerimist. Üks neist Plaani-Luutsniku tee ääres metsas (üksikvarjaja Kallaste Arnold), teine Ruusmäe velskripunktis (punkrist sinna läinud Kaur Melanie).
	</div>

	<div class="p">
		Kohe pärast Kaur Melanie arreteerimist tulid Erik Alfredi juurde punkrisse Kuus August ja Kaur Karl ja teatasid, et Kaur Melanie on kas arreteeritud või maha lastud. Veidi hiljem tulid nad tagasi teatega, et on kindlalt arreteeritud. See sundis Erik Alfredit, Lang Arnoldit ja Erik Ernat oma punkrit maha jätma ja asuma laagrisse teisele poole Viitina-Plaani teed. Vähi Richard ja Vähi Elsa lahkusid Vastseliina poole Vähi Rafaeli otsima. Kurra August ja Grünthal Leida suundusid uut punkrikohta otsima. Kuus August ja Lang Arnold suundusid samal eesmärgil Rõugesse. 2 päeva pärast tulid Kuus August ja Lang Arnold Rõugest tagasi eitava vastusega, Kuus August läks omade juurde. Erik Alfrediga leppisid nad kokku, et kui Kurra August („Paul“) ja Vähi Richard Vastseliina kandist tagasi tulevad, liigutakse ühiselt uude paika talvituma. Seejärel gruppide omavaheline side katkes. Lumi tuli maha.
	</div>

	<div class="p">
		Nädal hiljem, 15.10.1952 teatatakse julgeoleku aruandes, et Kergatsi vallas on kell 16.30 tulistatud täitevkomitee esimeest ja „Tasuja“ kolhoosi brigadiri. Väljasõitnud jälituskoerad võtsid jälje üles Tsolli suunas. 6. kilomeetril "Tasuja" kolhoosi metsamassiivis avastati punker, sellest 100 m eemal teine, kust peale relvade, asjade ja hobuse kedagi ei leitud. Koertega hakati jälitama kahes suunas lahkunuid, kuid pimedus tuli peale ja jälg kaotati. Punkrist leitud asjad viidi vangistatud Kaur Melaniele äratundmiseks.
	</div>

	<div class="p">
		Vähi Richardi grupp ehitas endale talvitumispaiga Lindora metsa Puutlipallu.
	</div>

	<div class="p">
		Erik Alfredi grupp (Erik Alfred, Erik Erna, Lang Arnold, Tell Kalju, Pilt Linda) ehitas talveks hästivarjatud punkri Paadikõrtsi järve äärde Härämäe metsa.
	</div>

	<div class="quote">
		Sügisel 1952 ehitasime uue punkri Härämäe metsa. Sellest punkrist ma õdedele ei rääkinud, sidet pidasime Sikk Hartvigi kaudu, kes teadis meie punkri asukohta ja külastas meid viimati 24. veebruaril 1953 ja tõi toidupaki õelt Helmilt.
	</div>


	<h2>Metsavennaelu lõpp 1953</h2>

	<div class="p">
		28.2.1953 ründas julgeolek Härämäe punkrit, toimus tulevahetus. Erik Erna ja Lang Arnold said surma, Erik Alfred, Tell Kalju, Pilt Linda arreteeriti. Punkris olnud relvastus: Saksa kergekuulipilduja ja lint 34 padruniga, automaat PPS ja salv 60 padruniga, 2 Saksa vintpüssi, püstol Parabellum ja selle padrunipide, 9mm Inglise süsteemi püstol koos ühe pidemega, püstol Walther koos 1 padrunipidemega, Nagaan, üks 16 kaliibrine jahirelv „Suhl“, 143 vintpüssi padrunit, 68 9mm püstoli padrunit. Seal oli ka üks raadiovastuvõtja „RET“ ja 1 Saksa raadiovastuvõtja.
	</div>

	<div class="p">
		Arreteeriti Sikk Hartvig ja teda varjanud õde, samuti Erik Alfredi õed.
	</div>

	<div class="p">
		15.3.1953 asus julgeolek ründama punkrit Vossa metsas, kus asusid Pilv Milbert, Saarniit Mahti-Maimu, Pilv Artur, Tikerpuu Endel, Tikerpuu Juhan, Telliste Viktor ja Praks Taisto. Viis päeva varem, 10.03.1953 oli julgeolek saanud ühelt öördajalt kirja koos juurdelisatud skeemiga, mis juhatas punkri juurde.
	</div>

	<div class="quote">
		PT: 15. märtsi hommikul umbes kella 8 ajal ärkasin selle peale, et teised meie grupi liikmed haaravad relvi selga ja asuvad kiiruga punkrist lahkuma. Haarasin ka relva ja jooksin nendega kaasa. Hiljem sain teada, et Saarniit Mahti oli metsas 100-150 m kaugusel meie punkrist näinud liikumas sõdureid.
		<div class="p"></div>
		Jooksime kogu grupiga umbes 2 km Tikka metsa poole. Et meil kõigil polnud suuski, siis neil, kel need olid, kandsid neid õlal. Tikka metsas puhkasime ligi tunni. Siis nägi Pilv Milbert koeraga meid jälitavat sõdurit ja osa meist jooksis edasi, kuna teised, kellel olid suusad, Tikerpuu Juhan, Pilv Milbert, Pilv Artur, jäid maha, et katta meie taganemist ja sõdureid kinni pidada. Sel hetkel, kui me edasi jooksime, kuulsin, kuidas Pilv Milbert ja Tikerpuu Juhan tule avasid. Esimesena tulistas metsast väljuvat sõdurit Milbert Pilv. Hiljem ta ütles, et sõdur kukkus ja tõenäoliselt ta tappis tema. Pilve järel hakkas tulistama Tikerpuu ja siis tulistasid sõdurid. Veidi hiljem jõudsid vennad Pilved ja Tikerpuu Juhan meile järele ja kogu grupiga liikusime Tikka metsavahi Viiand Jaani maja juurde. Tema talust võtsime ühed suusad ja hobuse, kelle rakendasime sealsamas saani ette. Seda kõike nägi pealt vaid metsavahi naine, metsavaht ise magas. Jätkasime põgenemist hobusega.
		<div class="p"></div>
		Sõitsime Tikka külast läbi ja peatusime talus, mis jääb Tikka ja Pältre vahele. Mina selle peremeest ei tea, kuid Milbert ütles, et teab teda hästi, see oli tema kunagine sõber ja tema käest võib küsida, ega teel sõdureid ei ole. Ühest talust teel Pältresse haarasin kaasa veel  ühed suusad. Läbi Pältre küla sõitsime Luhamaa suunas, kus ühest talust võtsime leiba. Edasi jätkasime Vungi poole. Tikerpuu arvas, et põgeneda tuleb Laura ja otsustasime keerata Laura poole.
		<div class="p"></div>
		Kuid Pabra järve ääres lõppes tee ära. Jätsime hobuse maha, küsisime võõrast naabertalust teed ja jätkasime põgenemist edasi suuskadel. Ühel hetkel märkas Pilv Milbert teel kaht veoautotäit sõdureid. Põgenesin esimesena suuskadel üle soo metsa. Pilv Milbert ja teised jäid taha, kuna Saarniit Mahtil olid halvad suusad ja ta ei saanud kiiresti sõita. Kui olin jõudnud teistest umbes saja meetri kaugusele, algas tulistamine, mõne aja pärast jõudis mulle järgi Telliste Viktor, kohe tema jälgedes Pilv Artur, kes ütles, et kõik ülejäänud on tapetud. Jätkasime kolmekesi jälitajate eest põgenemist suuskadel. Selle tulevahetuse ajal sai Pilv Artur puusa haavata, minul läbistas kuul kuue vasaku rinnatasku. Tulevahetuse järel liikusime kolmekesi umbes 3 km, kui meid jälitanud sõdurid said kätte meist maha jäänud Telliste. Mis temast sai, ma ei tea, kuid kuulsin sealt, kuhu ta jäi, ägedat tulistamist.
		<div class="p"></div>

		<a class="magnific-popup-image" href="/images/misso/mv_pogenemine.jpg" title="Põgenemine">
			<img class="image_right" src="/images/misso/mv_pogenemine.jpg" alt="Põgenemine">
		</a>

		Edasi liikusime Pilv Arturiga kahekesi kogu öö mööda mulle tundmatuid kohti. Hommiku saabudes jõudsime Hino külla, sealt mööda Pihkva-Riia maanteed Misso ning sealt edasi Maksa metsa oma tagavarapunkrisse, kus veetsime öö. Järgmisel ööl asusime Pilv Arturiga ümber oma vanasse punkrisse, kus lebasin ligi viis nädalat külmavõetud jalaga ja Pilv Artur ravis ise oma puusahaava. Süüa tõi Pilv Artur.
		<div class="p"></div>
		Nii elasime Pilv Arturi vanas punkris, mis asub Kõo külas Perametsas, 500 m Pilv Arturi kunagisest kodust. Kevadel 1953 lahkusime sealt ja asusime, pidevalt kohti vahetades, elama metsas.
	</div>

	<div class="p">
		Pabra järve juures hukkusid Pilv Milbert, Saarniit Mahti, Tikerpuu Juhan, Tikerpuu Endel. Julgeolekujõud kaotasid ühe sõduri ja jälituskoera. Telliste Viktor langes vangi. Praks Taistol ja Pilv Arturil õnnestus pääseda.
	</div>

	<div class="p">
		27.3.1953 ründas julgeolek Viglasoo punkrit, kus asusid Vähi Rafael ja tema õe pere. Punkrini jõuti järgmiselt: kõigepealt oli julgeolek teada saanud, et metsavennad kohtuvad oma sugulastega Ilmade juures. Üks selle pere liige võeti kinni ja see osutas, et rohkem teab metsavendadest tema õde Margarita Vähi (s. Ilm). Naine kutsuti "selgitavale vestlusele", kus temalt saadi kätte Rafael Vähi punkri asukoht ja tunnistus, et Richard Vähi punkri asukohta teab Joosep Piholaan. Sealsamas palus Margarita Vähi julgeolekut hoida oma mehe Osvald Vähi eest saladuses, et info saadi temalt. Rafael Vähi punkrini viis julgeoleku Margarita Vähi. Selles punkris said surma Vähi Rafael ja tema 17-aastane õepoeg Härm Väino, arreteeriti õde Härm Julie ja õemees Härm Aleksander. Punkrisolijail oli relvadest kasutada 1 karabiin, 1 vintpüss ja 2 püstolit. Alles eelmisel päeval olid punkrit külastanud Vähi Richard ja Leimann Endel Puutlipalu punkrist, kes olid veetnud seal päeva ja lahkunud õhtul tagasi oma punkrisse.
	</div>

	<div class="p">
		29.3.1953 ründas julgeolek Puutlipalu punkrit. Punkri asukohta sunniti eelmisel päeval piinamisega avaldama Joosep Piholaant. Operatsioon punkri leidmiseks algas 29. märtsil varavalges. Noor mees juhatas julgeoleku kahel korral punkrist eemal asuvatesse metsasektoritesse, kus ala ümberpiiramisele ja otsimisele kulutati aega, punkrit leidmata. Selle peale viidi ta veel kord "eritöötlemisele" kapten Kalikovi poolt. Kolmandal korral viis ta operatiivgrupi punkri lähedusse ja punker avastati kell 15.30. Metsavennad keeldusid alla andmast ja võtsid lahingu vastu. Lahing kestis 3 tundi. Kõik punkrisolnud hukkusid. Surma said Vähi Richard, Kuus August, Kurra August, Kaur Karl, Leimann Endel, Vähi Elsa, Ojamäe Lehte-Kai, Grünthal Leida. Julgeolekujõududest tapeti automaatur, haavati kuulipildurit ja snaiprit. Punkrist saadi relvad: 2 automaati PPŠ, Saksa vintpüss „Mauser“, 2 karabiini, 2 püstolit TT, 3 püstolit Walther, Nagaan, Belgia püstol, püstol Parabellum, 6,85 kaliibriline püstol, kaheraudne jahirelv Insevka, erinevaid padruneid 72.
	</div>

	<div class="p">
		1.7.1953 toimus äraandja teate peale haarang Kuura silla läheduses Haavistu metsas. Praks Taisto märkas metsas sõdureid ja tal õnnestus koos Pilv Arturiga põõsaste varjus laagripaigast eemalduda. Nad proovisid ahelikust läbi lipsata, kuid neid märgati ja tõmmati tuli peale. Praks Taisto sai kohe jalga (puusa) haavata ja nägi veel Pilv Arturit jooksmas teda jälitavate sõdurite eest ja oma PPŠ automaadist neid vastu tulistamas. Pilv Artur tapeti, Praks Taisto langes haavatuna julgeoleku kätte. Laagripaigast saadi relvadest revolver Nagaan, Saksa vintpüss, Inglise vintpüss, 29 padrunit, 1 lahingpadrun Inglise vintpüssile, Nagaani padruneid.
	</div>

	<div class="p">
		Erik Alfred oli varjamisaastate jooksul matnud oma tapetud venna (varastas tema surnukeha julgeolekutöötajatelt tagasi ja mattis Tikka metsa) ja punkrikaaslase Lang Rolandi, kelle mattis Trooveri metsa, ning kaotanud 6 kaaslast langenutena naaberpunkris Saikas. Nüüd tuli tal vangilangenuna läbi teha ülejäänud tapetud kaaslaste äratundmine:
	</div>

	<div class="quote">
		mulle näidatavas surnus tunnen ära Lang Arnoldi, umbes 30-31 aastase eestlasest Misso valla elaniku, abielus, endise Mõniste valla elaniku
		<div class="p"></div>
		näidatavas naise surnukehas tunnen ära oma naise Erik Erna, 52 aastase eestlase, endise Misso valla elaniku
		<div class="p"></div>
		surnud mehes valges triibulises särgis ja hallides kalifeepükstes tunnen ära relvastatud grupi juhi Vähi Richardi, umbes 33-34 aastase endise Vastseliina valla elaniku
		<div class="p"></div>
		surnud naises sinise valgetäpilise jaki ja musta seelikuga tunnen ära Vähi Richardi naise Vähi Elsa, 27-28 aastase endise Vastseliina valla elaniku.
		<div class="p"></div>
		hallitriibulises särgis ja hallides mustade paikadega kalifeepükstes surnus tunnen ära Vähi Richardi grupi liikme Vähi Rafaeli, umbes 30-32 aastase endise Vastseliina valla elaniku. Vähi Rafael on Vähi Richardi vend.
		<div class="p"></div>
		helesinise sportsärgi ja siniste aluspükstega surnus tunnen ära Kuus Augusti, umbes 28-29 aastat vana endise Linnamäe valla elaniku.
		<div class="p"></div>
		punase ruudulise särgiga surnus tunnen ära Kaur Karli, umbes 32-33 aastat vana endise Läti elaniku.
		<div class="p"></div>
		halli särgi ja tumehallide pükstega surnus tunnen ära Härm Väino, umbes 17-18 aastase endise Vastseliina valla elaniku.
		<div class="p"></div>
		rohelise ruudulise särgiga surnus tunnen ära Kurra Augusti, hüüdnimega „Paul“, umbes 36 aastase endise Läti elaniku.
		<div class="p"></div>
		hallides pükstes surnus tunnen ära Leimann Endeli, umbes 36 aastase endise Vastseliina valla elaniku.
		<div class="p"></div>
		halli sviitriga naisterahva surnukehas tunnen ära Grünthal Leida, umbes 26-27 aastase endise Vastseliina valla elaniku.
		<div class="p"></div>
		halli puhvaikaga surnus tunnen ära Ojamäe Lehte-Kai, umbes 22-23 aastase endise Vastseliina valla elaniku
		<div class="p"></div>
		tumesinises pintsakus, pruunides kalifeedes ja viltides surnus tunnen ära Pilv Milberti, endise Vastseliina valla elaniku (40)
		<div class="p"></div>
		naise surnukehas tunnen ära Pilv Milberti naise Pilv Maimu (28).
	</div>

	<div class="p">
		Oktoobris 1952 arreteeritud Kallaste Arnold lasti maha 17.2.1953 Moskvas Butõrkas.
	</div>

	<div class="p">
		Omastele tapetutest teada ei antud, kõigi nende matmiskoht on teadmata.
	</div>

	<div class="p">
		Enamikule metsavendade abilistest mõisteti 25+5 aastat Siberis koos kogu vara konfiskeerimisega.
	</div>

	<div class="p">
		Hukkunuid jäid mäletama nende lähedased Eestis ja Siberis. Ja muidugi kodumetsad, mis neid olid aastaid varjanud.
	</div>

	<a class="magnific-popup-image" href="/images/misso/puutlipalu_1.jpg" title="Puutlipalu">
		<img class="image_full_width" src="/images/misso/puutlipalu_1.jpg" alt="Puutlipalu">
	</a>

	<div class="p">
		Aastal 2013, 60 aastat hiljem, on lugu leidnud järje.
	</div>

	<div class="p">
		2011. a augustis otsis sõjahaudade uurija Arnold Unt Võru lähedal Reedopalos julgeolekutöötajate poolt salaja maetud metsavendade matmispaika. Esimeses leitud hauas, mis avati koos Kaitsepolitsei töötajatega, olid 10 inimese skeletid.
	</div>

	<a class="magnific-popup-image" href="/images/misso/uhishaud.jpg" title="Ühishaud">
		<img class="image_full_width" src="/images/misso/uhishaud.jpg" alt="Ühishaud">
	</a>

	<div class="p">
		Foto: Delfi
	</div>

	<div class="p">
		DNA proovide abil tehti kindlaks, et skeletid kuuluvad Puutlipalu ja Viglasoo punkris tapetud metsavendadele. Vigastused osutasid, et surnukehi oli enne tugevalt moonutatud, neid oli tulistatud läheda maa pealt pähe ja rindu, pekstud tömbi esemega (oletatavalt püssipäradega) näkku, purustatud olid ka vaagnaluud. Maetud surnutele oli hauda peale kallatud ehitusjäätmed.
	</div>

	<div class="p">
		Prügi peale oli kasvama hakanud üksik punaste marjadega lodjapuu.
	</div>

	<div class="p">
		Lisaks nimetatud ühishauale leiti veel 4 hauda 5 skeletiga. Neist 2 isikud on tuvastatud kui julgeoleku poolt 1950. a augustis tapetud Helmi Pikk (25a) ja Eduard Kandver (17a). Kõigil leitutel olid laskevigastused peas ja rinnus, naisel lisaks paranemistunnusteta lõualuu- ja ninaluumurrud, mis viitavad inimese peksmisele enne tapmist. 
	</div>
</div>
