<div class="content">

	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Mälestus</h1>

	<div class="p">
		Puutlipalu punkris hukkunutele püstitatud mälestusmärk avati 1989. a 20. mail.
	</div>

	<a class="magnific-popup-image" href="/images/misso/malestused_puutlipalu_mm.jpg">
		<img class="image_left image_full_width" src="/images/misso/malestused_puutlipalu_mm.jpg">
	</a>

	<div style="clear: both"></div>

	<div class="p">
	</div>
	<div class="p">
		Kunagise punkri asukoht jääb mälestusmärgist mõnesaja meetri kaugusele sügavamale metsa sisse.
	</div>

	<a class="magnific-popup-image" href="/images/misso/malestused_puutlipalu_punkriauk.jpg">
		<img class="image_left image_full_width" src="/images/misso/malestused_puutlipalu_punkriauk.jpg">
	</a>

	<div style="clear: both"></div>

	<div class="p">
	</div>
	<div class="p">
		Saika punkris langenutele avati mälestuskivi 2007. a jaanipäeval. Nii Puutlipalu kui Saika mälestusmärgi juures toimuvad
		igal aastal Kaitseliidu mälestusüritused.
	</div>

	<div class="p">
		Saika mälestuskivi talveõhtu hämaras.
	</div>

	<div class="magnific-popup-gallery">
		<a href="/images/misso/malestused_saika_kivi.jpg">
			<img src="/images/misso/malestused_saika_kivi.jpg">
		</a>
		<a href="/images/misso/malestused_saika_kivi_2.jpg">
			<img src="/images/misso/malestused_saika_kivi_2.jpg">
		</a>
	</div>

	<div class="p"></div>

	<div class="p">
	</div>
	<div class="p">
		Metsavendade ärasaatmine Vastseliina kirikust 21. september 2013
	</div>

	<div class="p">
		<a href="http://www.spordilinn.ee/metsavennad_matus/" target="_blank">PILDID</a>
	</div>

	<iframe class="video" src="//www.youtube.com/embed/7cM_379tkro" frameborder="0" allowfullscreen></iframe>

	<div class="p"></div>

	<div class="p">
	</div>
	<div class="p">
		21. septembril 2014 avati Vastseliina kalmistul mälestusmärk kõigile langenud metsavendadele.
		<br> Autor Mati Karmin.
	</div>

	<a class="magnific-popup-image" href="/images/misso/vastseliina_malestusmark.jpg">
		<img class="image_left image_full_width" src="/images/misso/vastseliina_malestusmark.jpg">
	</a>

	<div class="p"></div>
	<div class="p">Lätis Virgulica punkrikohas avati 12. oktoobril 2018 mälestuskivi lätieestlase Rudolf Koemetsa salgale: Velta Kromule, Leons
		Rabuzis (ehk Leo Rääbis), Rudolfs Koemec
	</div>
	<div class="magnific-popup-gallery">
		<a href="/images/misso/virgulica_malestuskivi.jpg">
			<img src="/images/misso/virgulica_malestuskivi.jpg">
		</a>
		<a href="/images/misso/virgulica_malestuskivi_asukoht.jpg">
			<img src="/images/misso/virgulica_malestuskivi_asukoht.jpg">
		</a>
	</div>

</div>