<div class="content">
  <h1>Mälestus</h1>
  <p>Puutlipalu punkris hukkunutele püstitatud mälestusmärk avati 1989. a 20. mail.</p>
  <img class="lg-img w-[70%]" src="/images/misso/malestused_puutlipalu_mm.jpg" />
  <p>Kunagise punkri asukoht jääb mälestusmärgist mõnesaja meetri kaugusele sügavamale metsa sisse.</p>
  <img class="lg-img w-[70%]" src="/images/misso/malestused_puutlipalu_punkriauk.jpg" />
  <p>
    Saika punkris langenutele avati mälestuskivi 2007. a jaanipäeval. Nii Puutlipalu kui Saika mälestusmärgi juures
    toimuvad igal aastal Kaitseliidu mälestusüritused.
  </p>
  <p>Saika mälestuskivi talveõhtu hämaras.</p>
  <div class="lg-gallery">
    <img src="/images/misso/malestused_saika_kivi.jpg" />
    <img src="/images/misso/malestused_saika_kivi_2.jpg" />
  </div>
  <p>Metsavendade ärasaatmine Vastseliina kirikust 21. september 2013</p>
  <p>
    <a href="http://www.spordilinn.ee/metsavennad_matus/" target="_blank">PILDID</a>
  </p>
  <p>
    <iframe
      class="w-full aspect-video"
      src="//www.youtube.com/embed/7cM_379tkro"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </p>
  <p>
    21. septembril 2014 avati Vastseliina kalmistul mälestusmärk kõigile langenud metsavendadele. Autor
    <b>Mati Karmin</b>
    .
  </p>
  <p>
    <img class="lg-img w-[70%] clear-both" src="/images/misso/vastseliina_malestusmark.jpg" />
  </p>
  <p>
    Lätis Virgulica punkrikohas avati 12. oktoobril 2018 mälestuskivi lätieestlase Rudolf Koemetsa salgale: Velta
    Kromule, Leons Rabuzis (ehk Leo Rääbis), Rudolfs Koemets
  </p>
  <div class="lg-gallery">
    <img src="/images/misso/virgulica_malestuskivi.jpg" />
    <img src="/images/misso/virgulica_malestuskivi_asukoht.jpg" />
  </div>
</div>
