<div class="content">

	<h1>Pildid</h1>

	<div id="pictures-page-gallery" class="magnific-popup-gallery justified-gallery">

		<a href="/images/misso/joulud_punkris.jpg" title="1951. a jõulud punkris Käbli küla lähedal. Vasakult: Endel Tikerpuu, Taisto Praks, Juhan Tikerpuu.">
			<img src="/images/misso/joulud_punkris.jpg"/>
		</a>
		<a href="/images/misso/kalal.jpg" title="1951. a suvel kalal Vaidava jõe ääres. Vasakult: Milbert Pilv, Endel Tikerpuu, Taisto Praks. Pildistas Artur Pilv umbes pool km Laisi külast lõunas.">
			<img src="/images/misso/kalal.jpg" />
		</a>
		<a href="/images/misso/lootsamehed_pilve_punkrist.jpg" title="Aastavahetusel 1951/1952 lõõtsa mängimas.Vasakult: Endel Tikerpuu, Taisto Praks ja Milbert Pilv">
			<img src="/images/misso/lootsamehed_pilve_punkrist.jpg"/>
		</a>
		<a href="/images/misso/maletamas.jpg" title="1950. a kevadel Parmu metsas. Vasakult: August Kuus, Karl Kaur, Raimond Pild, Voldemar Visk, Alfred Erik.">
			<img src="/images/misso/maletamas.jpg" />
		</a>
		<a href="/images/misso/mehed_metsas_1.jpg" title="Ees vasakult: Karl Kaur, Raimond Pild, taga: Alfred Erik, Voldemar Visk, August Kuus">
			<img src="/images/misso/mehed_metsas_1.jpg" />
		</a>
		<a href="/images/misso/mehed_metsas_2.jpg" title="Parmu metsas 1950. a. Vasakult: August Kuus, Karl Kaur, Raimond Pild, Voldemar Visk, Alfred Erik.">
			<img src="/images/misso/mehed_metsas_2.jpg" />
		</a>
		<a href="/images/misso/mehed_metsas_pilv.jpg" title="1951. a. Vasakult: Taisto Praks ja Artur Pilv istuvad, taga: Juhan Tikerpuu, Milbert Pilv, Endel Tikerpuu. Pildistas Mahti Saarniit punkri juures, mis asus 1, 5 km Laisi külast põhjas.">
			<img src="/images/misso/mehed_metsas_pilv.jpg" />
		</a>
		<a href="/images/misso/melanie_kaur_suurem.jpg" title="Melanie Kaur Parmu metsas 1950. a.">
			<img src="/images/misso/melanie_kaur_suurem.jpg" />
		</a>
		<a href="/images/misso/milbert_pilv_mahti_saarniit_endel_tikerpuu.jpg" title="Vasakult: Milbert Pilv, Mahti-Maimu Saarniit, Endel Tikerpuu">
			<img src="/images/misso/milbert_pilv_mahti_saarniit_endel_tikerpuu.jpg" />
		</a>
		<a href="/images/misso/punkri_ees.jpg" title="Vasakult: Taisto Praks vintpüssi ja padrunilindiga, Endel Tikerpuu Degtjarjovi kergekuulipildujaga, Mahti-Maimu Saarniit, Milbert Pilv vintpüssiga. Pildistas Artur Pilv punkri ees Käbli külast u 1km soos.">
			<img src="/images/misso/punkri_ees.jpg" />
		</a>
		<a href="/images/misso/richard_vahi_pikutab.jpg" title="Parmu metsas 1950. Richard Vähi pikutab, naiseriietes ja püstoliga Raimond Pild.">
			<img src="/images/misso/richard_vahi_pikutab.jpg" />
		</a>
		<a href="/images/misso/suvine_soomaaeg_pilved.jpg" title="Milbert Pilve sünnipäev suvel 1951. Vasakult: Artur Pilv, August Niilo (mängib kannelt), Mahti Saarniit, Juhan Tikerpuu, Milbert Pilv, Taisto Praks. Pildistas Endel Tikerpuu.">
			<img src="/images/misso/suvine_soomaaeg_pilved.jpg" />
		</a>
		<a href="/images/misso/leida_grunthal_suurem.jpg" title="Leida Grünthal">
			<img src="/images/misso/leida_grunthal_suurem.jpg" />
		</a>
		<a href="/images/misso/richard_vahi_tytrega.jpg" title="Richard Vähi koos tütre Üviga. Foto tegemise ajal elab ta metsavennana.">
			<img src="/images/misso/richard_vahi_tytrega.jpg" />
		</a>
		<a href="/images/misso/richard_vahi_elsa_vahi.jpg" title="Richard ja Elsa Vähi">
			<img src="/images/misso/richard_vahi_elsa_vahi.jpg" />
		</a>
		<a href="/images/misso/rafael_vahi_suurem.jpg" title="Rafael Vähi">
			<img src="/images/misso/rafael_vahi_suurem.jpg" />
		</a>
		<a href="/images/misso/roland_lang_suurem.jpg" title="Roland Lang">
			<img src="/images/misso/roland_lang_suurem.jpg" />
		</a>
		<a href="/images/misso/arnold_kallaste_poeg_kaljuga.jpg" title="Arnold Kallaste poeg Kaljuga 1935. aastal">
			<img src="/images/misso/arnold_kallaste_poeg_kaljuga.jpg" />
		</a>
		<a href="/images/misso/evald_keir_suurem.jpg" title="Evald Keir">
			<img src="/images/misso/evald_keir_suurem.jpg" />
		</a>
		<a href="/images/misso/roland_uibo_suurem.jpg" title="Roland Uibo">
			<img src="/images/misso/roland_uibo_suurem.jpg" />
		</a>
		<a href="/images/misso/rudolf_tomba_suurem.jpg" title="Rudolf Tomba">
			<img src="/images/misso/rudolf_tomba_suurem.jpg" />
		</a>
		<a href="/images/misso/pilv_saarniit_pilt.jpg" title="Milbert Pilv, Mahti-Maimu Saarniit ja Arvo Pilt 1950. a Saviojal.">
			<img src="/images/misso/pilv_saarniit_pilt.jpg" />
		</a>
		<a href="/images/misso/kiudsoo_vangilaagri_foto.jpg" title="Vangilaagris viiekümnendate keskel. Oskar Kiudsoo teises reas äärmine parempoolne. Fotol peaks olema teisigi Võrumaa metsavendi.">
			<img src="/images/misso/kiudsoo_vangilaagri_foto.jpg" />
		</a>

	</div>

</div>
