<div class="content">

<h1>Valdur Raudvassari ülestähendused kohtumiselt Alfred Erikuga 25.6.1996</h1>

<div class="magnific-popup-gallery">
	<a href="/images/misso/raudvassar_erik1.jpg"><img src="/images/misso/raudvassar_erik1.jpg"></a>
	<a href="/images/misso/raudvassar_erik2.jpg"><img src="/images/misso/raudvassar_erik2.jpg"></a>
	<a href="/images/misso/raudvassar_erik3.jpg"><img src="/images/misso/raudvassar_erik3.jpg"></a>
	<a href="/images/misso/raudvassar_erik4.jpg"><img src="/images/misso/raudvassar_erik4.jpg"></a>
</div>

</div>
