<div class="content">

	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Riiklik Julgeolekuministeerium</h1>

	<div class="p">
		Mida on teada nende võõraste kohta, kes tulid koos nõukogude võimuga ja lõhestasid võimupositsioonilt külaelanikud rahvaks ja rahvavaenlasteks, eluõigusega ja eluõiguseta inimesteks? Nende tegevus jääb tavaliselt täiesti varju ja kurjategijana püüavad nad toimikutes näidata ülekuulatavaid. Mõned episoodid Riikliku Julgeolekuministeeriumi (edaspidi RJM) kaadrite eriosakonna toimikutest paotavad veidi katet ka julgeolekutöötajate endi tegevuselt, käitumiselt ja loomuselt. Tuli välja, et Saika punkrilahing põhjustas RJM Vastseliina osakonnas järellainetuse, mille käigus nõukogude võimu importijad omavahel purelema pöörasid.
	</div>

	<div class="p">
		RJM Vastseliina osakonna ülemaks oli Saika punkri sündmuste ajal alampolkovnik Burakov Grigori Gerassimovitš. Tema kohta koostasid teised töötajad mitmeid kaebekirju RJM kaadrite eriosakonnale. Kaebuste sisu seisnes nurisemises tema laia elustiili üle RJM osakonna arvel. Küll lasi ta viia osakonna küttepuud ära ämmale Võrru ja kui osakonnas jaanuaris küte otsa lõppes, lasi küttepuude ostmiseks kaastöötajate palgast selleks raha kinni pidada, küll saatis Vastseliinast osakonna autojuhi transportima Leningradist saabunud naise sugulasi Võru raudteejaamast Võru korterisse. Käidi autoga Stalini nimelises kolhoosis põrsast ostmas ja viidi see Võrru ämmale jne. Kõik operatiivsõitude nime all. Kaevati juhtumi üle, kus Burakovi naine käskis hävituspataljoni staabis korrapidajal minna ja murda endale lilli maja eest lillepeenrast. Kui korrapidaja keeldus, läks Burakova koju mehe juurde ja kaebas ära. See tuli kohe staapi kohale, viskas korrapidaja staabist välja ja vallandas ta.
	</div>

	<div class="p">
		Ltn <b>Laas</b>, RJM Vastseliina osakonna tõlk, kaebab <b>Burakovi</b> peale julgeolekuminister Moskalenkole:
	</div>

	<div class="quote">
		Burakov viis RJM osakonna puid Vastseliinast Võrru, 25-30 kuupmeetrit kasepuid. Kui jaanuaris ja veebruaris 1952 RJM osakonnas küte lõppes, lasi ta sekretäril nende kaastööliste palgast, kellel olid osakonnas korterid, raha maha võtta, et osta osakonna jaoks küttepuid. Tean seda Ossipovi, Školnikovi, Tederi käest. Pärast seda puud tõesti osteti. Mulle meenub, et puud Võrru viimiseks ladusid peale Petrovski, Baikov, Pilt. Burakov on kasutanud ametiautot isiklikuks otstarbeks. Burakov tegutseb vaid isiklikes huvides.
	</div>
	<div class="p">
		Asjas ülekuulatud autojuht:
	</div>

	<div class="quote">
		Oktoobri alguses 1951 sõitsin Burakoviga Petserisse, kus ta ostis turult kurgihapendusnõud, kapsast jm, koos meiega sõitis sinna RJM osakonna koristaja Slavina Maria, kes oli Burakovi majapidajanna Vastseliinas. Kevadel 1951 sõitis Burakov naise ja Slavinaga Stalini nimelisse kolhoosi, selleks et osta Burakovile põrsas. Vahemaa on u 35-40 km. Sinna sõideti kahel korral, esimesel sõitis Burakovi naine eelnevalt põrsaid vaatama. Põrsas osteti ja viidi tema elukohta Võrus. Põrsa eest maksis ta 300 rbl, u 50 kilone põrsas. Kord sõitsin Burakovi käsul Vastseliinast Võrru raudteejaama vastu tema Leningradist saabuvale naiseõele ja selle mehele, kelle pidin viima Võru raudteeejaamast Võru korterisse (2 km), aga selleks pidin Võrru sõitma Vastseliinast (25 km). Korduvalt sõitsin maakohtadesse ostma Burakovi jaoks kartuleid, samuti sööda ja heina ostmiseks Burakovi põrsale, mis tuli viia Võrru. Burakovi naine kasutas autot pidevalt sõitudeks Võrru turule ja poodi. Burakov näitas kõiki neid sõite operatiivsel vajadustel tehtud sõitudena. Võrus viietoalises korteris elavad Burakovi naise vanemad. Burakov ise elab Vastseliinas, kus tal on RJM osakonna juures tuba ja köök.
	</div>

	<div class="p">
		<b>Trusov</b> kaebab <b>Burakovi</b> peale EK(b)P juhile Käbinile:
	</div>

	<div class="quote">
		Maikuus 1951 tuli Burakovi naine hävituspataljoni staapi ja käskis hävituspataljoni staabi korrapidajal Gutškovil korjata talle lilli staabi ees olevalt lillepeenralt. Korrapidaja vastas, et ilma pataljonikomandöri loata ta seda teha ei tohi, teda võidakse selle eest karistada. Burakova läks koju, rääkis mehele, kes kohe sealsamas tuli hävituspataljoni staapi, viskas Gutškovi välja ja vallandas ta.
	</div>

	<div class="p">
		Selliste kaebuste edasise uurimise käskis RJM kaadriosakonna eriinspektsiooni uurija Kuzmin lõpetada, materjalid panna arhiivi. Kõikvõimaliku kompra kogumine ja asutusesisene kaebamine üksteise peale näib olevat igapäevane tegevus.
	</div>

	<div class="p">
		Ltn. <b>Laas</b> kannab Mironovi jt tegevusest ette eriinspektsiooni ülemale <b>Tšibisovile</b>:
	</div>

	<div class="p fourimages">
		<a class="magnific-popup-image" href="/images/misso/laas_peksmistest1.jpg">
			<img src="/images/misso/laas_peksmistest1.jpg" alt="laas peksmistest">
		</a>
		<a class="magnific-popup-image" href="/images/misso/laas_peksmistest2.jpg">
			<img src="/images/misso/laas_peksmistest2.jpg" alt="laas peksmistest">
		</a>
		<a class="magnific-popup-image" href="/images/misso/laas_peksmistest3.jpg">
			<img src="/images/misso/laas_peksmistest3.jpg" alt="laas peksmistest">
		</a>
		<a class="magnific-popup-image" href="/images/misso/laas_peksmistest4.jpg">
			<img src="/images/misso/laas_peksmistest4.jpg" alt="laas peksmistest">
		</a>
	</div>

	<div class="p">
		Kõik liigub arhiivi. Alles siis, kui RJM kaadrite eriosakonnale laekub teade EK(b)P KK-st sotsialistliku seaduslikkuse rikkumise kohta Vastseliina osakonnas, hakatakse uurima.
	</div>

	<div class="p">
		Asi sai alguse paljude kinnivõetud süütute külainimeste piinamisest ülekuulamistel Saika punkrilahingu järel. Üks piinatutest võttis süü omaks (ta abikaasat piinati tema juuresolekul) ja läks hulluks. Mõned aga  eitasid kangekaelselt lõpuni ja lasti pika piinamise järel lahti, sest nende kinnipidamiseks ei suudetud välja pigistada tõendit. Üks ülekuulamismeetoditest, nimelt elektrilöökide andmine, tõi mõnele piinajale hiljem karistuse.
	</div>

	<div class="quote">
		... kuritegude mitte omaksvõtmisel kasutati soovitud tunnistuse saamiseks elektrivoolu telefoniaparaadist, kinnitades Härmale paljastatud juhtmeotsad sõrmede külge, Eenla L-le ka varvaste ülge, sundides jalgu paljaks võtma, Kitlele sõrmede ja pea külge ja Raagile kinnitati juhtmeotsad hammaste külge, misjärel anti elektrilöök (max 110-130 v). Selleks kasutati rajooni sideosakonnast toodud induktor-telefoniaparaati. Ebaseaduslikult hoiti vahi all Raagi 6 ööpäeva, Eenlat 6 ööpäeva, Eenla L-i 6 ööpäeva, Härma 28 ööpäeva, Kitlet 5 ööpäeva, misjärel lasti nad vabaks. Teder kinnivõtmisel peksis Eenlat, samuti kuulas ta teda üle ja peksis omal algatusel rusikatega keha erinevasse piirkonda.
	</div>

	<div class="p">
		Lugu hakkas hargnema operatiivvolinik Ossipovi personaalküsimuse arutelul partei algorganisatsiooni koosolekul, kus ülemus Burakov süüdistas teda pidevas purjusolekus. Ossipov lajatas vastusüüdistusega osakonnajuhataja Burakovi aadressil, et selle käsul piinati kinnivõetuid elektriga. Seda kisklemist kuulas pealt rajoonikomitee 1. sekretär Kuld, kellel oli kohustus sellistest juhtumitest ette kanda ja ta teatas kuuldust EKP KK-sse Käbinile. Enam ei saanud see jääda vaid RJM siseasjaks.
	</div>

	<div class="p">
		Major <b>Zagrebalov</b> kandis ette julgeolekuministrile Moskalenkole:
	</div>

	<div class="quote">
		Kannan ette, et minule kui ENSV RJM esindajale tuli Vastseliina parteialgorganisatsiooni sekretariaadist sm kapten Mironovilt suuline ettekanne selle kohta, et partei koosolekul, mis toimus 5. märtsil 1952, tõstis kommunist Ossipov (töötab Türi RJM-s) üles küsimuse revolutsioonilise seaduslikkuse rikkumisest Vastseliina RJM-s. Täpsemalt, Ossipov rääkis, et kevadel 1951 pärast bandiitide punkri hävitamist võeti kinni ja toodi RJM osakonda inimesi, keda kahtlustati koostöös bandiitidega ja nendele inimestele anti osakonnaülema alampolkovnik sm Burakovi ja tema asetäitja kapten Trusovi käsul elektrilööke (selle teema tõstatas Ossipov enda personaalküsimuse arutelul) – ning see teadaanne leidis kinnitust Vastseliina osakonna töötajate operatiivvolinik Tederi ja sama osakonna tõlgi leitnant Laasi poolt.<br>Sm Ossipovi avaldusest on teadlik partei rajoonikomitee esimene sekretär sm Kuld.
	</div>

	<div class="quote">
		RJM 2N osakonna ülema asetäitja major Zagrebalov
	</div>

	<div class="p">
		Algul Burakov ja Trusov eitasid täielikult elektrilöökide kasutamist ülekuulamisel. Nad hoiatasid kaastöötajaid toimunust suud pidama, vastasel korral ähvardasid kõigile karistuse kaela tuua.
	</div>

	<div class="p">
		Kõigepealt pidid asja kohta seletuskirju kirjutama Burakov, tema asetäitja Trusov ja operatiivvolinik Teder. Elektriga piinamise asjus kuulati üle ka ülejaanud piinamisest osavõtjad: Ossipov, Laas, Kutsar.
	</div>

	<div class="quote">
		Küsitletud kaastöölised Vastseliina RJM-st, operatiivvolinikud Teder, Kutsar, Ossipov ja tõlk Laas tunnistasid, et ülekuulamisel kasutas RJM osakonnaülem alampolkovnik Burakov mõnede kinnipeetute peal ebaseaduslikke meetodeid. Kinnipeetud Härm Karoliinel, keda kahtlustati sidemetes bandiitidega, ühendas Burakov vajalike tunnistuste kättesaamiseks tema käte sõrmede külge induktortelefoniaparaadi juhtmeotsad ja selle telefoni vänta ringi ajades tekitas elektrilöögi, mis läbistas ülekuulatava. Sama tegi Burakov ka eelnenud, suulisel küsitlusel Raagi ja Agariga. Neid ebaseaduslikke meetodeid kasutas Burakov oma alluvate Teder, Laas ja Kutsar abil, kes osalesid ülekuulamisel. Härmi ja Raagi kuriteokoosseisu mitte leidmise tõttu vastutusele ei võetud. Elektrišoki kasutamise fakt leidis kinnitust. Kinnipeetu Agarit ei ole antud fakti kohta küsitletud, kuna ta viibib vangla psühhiaatriahaiglas Leningradis, kuhu saatsime järelpärimise tema võimaliku ülekuulamise kohta. Vastseliina RJM osakonna ülem Burakov on samuti küsitlemata seoses sellega, et viimane viibib Sotšis puhkusel.
		<div class="p"></div>
		julgeoleku alampolkovnik Tšibisov, RJM kaadriosakonna eriinspektsiooni ülem 29. apr. 1952
	</div>

	<div class="quote">
		Uurimise käigus on samuti selgunud, et Teder lubas endale 1951 suvel talude läbiotsimisel Luhamaal järgnevat ebaseaduslikku tegevust:
		<div class="p"></div>
		Sidus kodanik Hõbemäe ümber keha nööriga kinni ja tõukas ta koos riiete ja jalanõudega kahel korral solgiauku, mille järel konvoeeris kodaniku märjana Luhamaa külanõukokku ülekuulamisele.
		<div class="p"></div>
		10. juuli 1952 eriinspektsiooni uurija Starostenko
	</div>

	<div class="p">
		Seejärel kuulati üle piinatuid.
	</div>

	<div class="quote">
		EE: Ülekuulajaid oli korraga 3-5, nimepidi tean Kutsarit ja Tederit. Ülejäänud olid sõjaväevormis venelased. Mulle anti elektrilööke, peksti kätega näkku ja pähe. RJM rajooniosakonna ruumides pandi mind istuma toolile, mõlema käe keskmised sõrmed mässiti peenikese metalljuhtmega kokku, juhtmeotsad lükati naha alla. Kaks inimest hoidsid mind tagant õlgadest, et ma toolilt maha ei kukuks, aga kolmas läks teisele poole kirjutuslauda ja hakkas seal laua all midagi keerutama. Mis see oli, ma ei näinud. Tundsin tugevat elektrilööki kogu kehas, eriti tugev oli see kätes. Elektrilöögi tagajärjel kaotasin teadvuse ja kukkusin toolilt põrandale. Kui kaotasin teadvuse, anti külma vett ja ma tulin teadvusele. Ühel hilisemal korral, pärast üht tugevat elektrilööki tulin teadvusele hiljem, sellest, et Teder lõi mulle tugeva jalalöögi selga. Kui ma end maast üles olin ajanud, anti elektrilööke uuesti. See kordus 5-6 päeva jooksul.
	</div>

	<div class="p">
		Seda, et seaduses olid küll nõuded, kuid tegelikkuses ei täidetud neid kusagil ja valitses kontrollimatu toores omavoli, tunnistab hiljem tribunali all ka Rapla RJM osakonna ülema asetäitja Polonski:
	</div>

	<div class="quote">
		ENSV Julgeolekuministeeriumi poolt oli kuidagi nii seatud, et pärast seda, kui ministeeriumi juhtkond kinnitas tegevusplaani, viidi bandiitide abistamises kahtlustatavate talude, korterite läbiotsimised, samuti kahtlustatavate vahistamine ja vahi all pidamine läbi ilma määruste ja orderiteta. Arvatavasti ma ei eksi, kui ütlen, et mitte üheski vabariigi rajoonis ei järgita seda seadusenõuet. Tekkis vale arusaam, et kui operatiivplaani oli kinnitanud minister või tema asetäitja, on see seadus, ja muid formaalsusi, st läbiotsimiste ja kinnipidamiste kohta käivaid nõudeid, ei tule järgida.
	</div>

	<div class="p">
		Major Gavrilov koostab ülevaate <b>Burakovi tegutsemise kohta</b>:
	</div>

	<div class="quote">
		Aruanne
		<div class="p"></div>
		Tulemustest Vastseliina RJM 2. osak. tööst okt. 1950 kuni okt. 1951:
		<div class="p"></div>
		1. perioodil okt 50 - okt 51 tapeti Vastseliina rajoonis bandiite 8, arreteeriti 3, abilisi 7, lihtsalt nõukogudevastast elementi 31. Kokku arreteerituid ja tapetuid 49.
		<div class="p"></div>
		Vastseliina rajooni territooriumil varjas end 8-liikmeline bande. Läbiviidud operatsiooni tulemusel tapeti 6 bandiiti, kahel õnnestus varjuda. Meie poolelt tapeti jaokomandör, 5 sõdurit ja 1 sõdur sai haavata. Operatsiooni juhtis RJM vägede pataljoni komandöri asetäitja Burakov. Peamiseks puuduseks selle bande otsimisel oli fakt, et see tegutses Vastseliina territooriumil pikka aega, kuid selle olemasolust polnud RJM-l mingeid andmeid kuni selle likvideerimiseni. Sellest bandest teatati ja osaliselt likvideeriti mitte RJM agentuuroperatiivtöö tulemusena, vaid andmed pärinesid teistest allikatest.
		<div class="p"></div>
		2. Agentuuri värbamine
		<div class="p"></div>
		nimetatud perioodil on Vastseliina RJM osakond värvanud agente 4 ja salajasi informaatoreid 27. Burakov isiklikult värbas 2 agenti: agent „Rita“ ja agent „Küünal“. Esimene töötab praegu Vähi Richardi bande otsimisel, agent „Küünal“ asus end pärast värbamist varjama ja hetkel varjab end Nõukogude võimu eest koos oma vanema venna, endise Vähi Richardi kaaslasega, bandest, mille kohta on avatud agentuurtoimik „Polzutšie“.
		<div class="p"></div>
		Isiklike sidemetena oli Burakovil 5-8 agenti ja salajasi informaatoreid, kes peamiselt otsisid Vähi Richardi bande liikmeid ja Pilv Milberti, agentuurtoimik „Povstantsõ“, omi.
		<div class="p"></div>
		3. Operatiivtöö arvestus
		<div class="p"></div>
		Okt 1950-okt 1951 on RJM osakond avanud 2 agentuurtoimikut: „Polzutšie“ Vähi Richardi bande kohta, kuhu kuulub 8 bandiiti ja „Povstantsõ“ Pilv Milberti bande kohta, kuhu kuulub 3 bandiiti. peale selle on operatiivkoosseis avanud ja registreerinud RJM osakonnas A toimikformulari „ZZ“ ja esialgse agentuurtöö kohta „43“
		<div class="p"></div>
		Burakovi poolt isiklikult, operatiivkoosseisu abil, vormistati agentuurtoimik „Polzutšie“ Vähi Richardi bande kohta ja „Povstantsõ“ Pilv Milberti bande kohta ning 11 toimik-formulari.
		<div class="p"></div>
		Mai lõpust kuni oktoobrini 1951 võttis alampolkovnik Burakov personaalse vastutuse Pilv Milberti bande ülesotsimise ja likvideerimise eest. Sellel perioodil oli selle bande otsimiseks 2 salajast informaatorit, „Kotkas“ ja „Ader“, kes mingeid tulemusi selle bande leidmisel ei ole saavutanud. Sellega samaaegselt võttis alampolkovnik Burakov kui RJM organite ülem osa operatiiv-agentuuri tegemistest Vähi Richardi bande liikmete otsimisel. Selle bande otsimiseks värvati tema poolt agendid „Rita“ ja „Küünal“.
		<div class="p"></div>
		julgeolekumajor Gavrilov 8. mai 1952
	</div>

	<div class="p">
		Et silmapiiril terendas ootamatult kaelasadanud oht uurimise näol, hakkas iga sadist ennast õigustama ja oma saavutusi kiitma ning teiste kohta kompromiteerivaid andmeid avaldama. Selle käigus kirjeldasid nad ka üksteise jõhkraid kuritegusid. Neist kirjadest koorub välja ka julgeolekutöötaja rahvavaenlase mõiste – see, keda pole kasvatanud partei ja nõukogude võim. Järelikult valdav osa kohalikest.
	</div>

	<div class="p">
		<b>Trusov</b> koostab paluv-ahastava pöördumise ENSV julgeolekuministrile <b>Moskalenkole</b>, kui see ei mõju, ründab kirjas NSVL julgeolekuministrile <b>Ignatjevile</b> teravas toonis Moskalenkot kui peasüüdlast eeskuju näitamises.
	</div>

	<div class="p">
		Trusovi avaldus Moskalenkole
	</div>

	<div class="quote">
		NLKP ülemnõukogu saadikule, EK(b)P KK büroo liikmele
		<div class="p"></div>
		seltsimees Moskalenkole
		<div class="p"></div>
		Avaldus
		<div class="p"></div>
		Sündisin 1916. a Zabarovka asulas Zerendinski rajoonis Koktšetavi oblastis Kasahhi NSV-s kehvik-talupidaja perekonnas. Minu isa võitles 1917. a relvaga käes kapitalistliku korra tagasituleku vastu Venemaal ja kehtestas nõukogude korra. 1928. a kolhooside loomisel valiti kolhoosiesimeheks. 1932. a suri ta haiguse tõttu. Pärast isa surma asusin tööle treialiõpilasena, hiljem asusin tööle treialina OGPU nimelisse terasesulatusmehhaanika tehasesse Koktšetavis. Ise alaealisena kasvatasin haiget ema, kaht väiksemat venda ja kaht õde. Selles samas tehases astusin 1932. a leninliku komsomoli ridadesse. 1934. a sõitsin oma soovil koos perega välja ehitusele Karagandasse, kus asusin tööle treialina veduridepoosse Karaganda Sortirovotšnajas. Töötades treialina, hiljem tsehhi meistrina, läksin esimesena Kasahhi NSV-s üle mitmepingilisele teenindusele, töötasin kolmel pingil, tõstsin tööviljakuse 1500%-liseks. Mille eest mind autasustati L. M. Katsanovki <i>(loetamatu)</i> ja Kasahhi ülemnõukogu autasuga. Minu kogemus mitmel tööpingil töötamisest märgiti ära ajalehes ja sellest teatati raadios ja minu töömeetodit näidati kinožurnaalis. 1940. a astusin VK(b)P liikmeks ja samal aastal saadeti mind poliitosakonna ülema abiks Karaganda komsomoliosakonnas.
		<div class="p"></div>
		1941. a suunati  mind Karaganda partei rajooniosakonna poolt tööle RJM organitesse. Pärast Taškendi <i>(loetamatu)</i> RJM kooli lõpetamist saadeti NSVL RJM kaadriosakonnast käsukorrras Smolenski operatiivgrupi luureülesandega vaenlase tagalasse. Pärast Smolenski vabastamist Saksa okupantidest töötasin oblasti RJM-s. Kaluuga oblasti organiseerimisega viidi mind üle Kaluuga linna. 1946. a juunis tulin vabatahtlikult tööle ENSV RJM-sse. Eestis töötades olen erinevat nõukogudevastast elementi kinni võtnud üle 100 inimese. Nende hulgas üks okupeeritud Saksamaa Inglise tsooni alla visatud Inglise luure tegutsev agent bandede formeerimise ülesandega illegaalse elemendi seas, mille eest mind tänas ENSV RJM.
		<div class="p"></div>
		Vastseliina RJM osakonnas töötades tehti kindlaks bande, mille likvideerimiseks viidi 7. märtsil 1951 läbi tšekistlik- sõjaline operatsioon, kus neljatunnise lahingu tulemusel tapeti 6 bandiiti, meie poolelt oli kaotus 5 inimest.
		<div class="p"></div>
		Pärast bande likvideerimist võeti kinni rida bande abilisi, kellest neljale anti elektrilööki telefoniaparaadilt, ühest sellisest ülekuulamisest võtsin osa ka mina. Sellise meetodi ülekuulamisel kutsus esile viha meie kodumaa vaenlaste vastu, need abilised võimaldasid bandiitidel röövida ja tappa nõukogude inimesi, nad aitasid röövida kauplusi ja kolhoosi farme, nad aitasid tappa 5 nõukogude armee võitlejat. Ma tunnistan, et sooritasin suure vea, suure kuriteo. Kuid mind oli võimalik karistada arestiga ja administratiivkorras ja anda võimalus parandada oma viga vabaduses.
		<div class="p"></div>
		Mul on väga raske kanda seda, et mind on kuulutatud meie kodumaa vaenlaseks, mind kasvatas kommunistlik partei, leninlik komsomol. Kogu oma teadliku elu olen pühendanud ausale tööle, kasvatasin ja näitasin õiget teed vennale, kes 6 aastat teenis nõukogude armee sisevägedes teise mehaanikuna, õele, kes meheleminekuni töötas Smolenski oblasti RJM-s (teine vend ja õde surid). Jah, ma olen süüdi, kuid mitte vaenlane, keda pole võimalik parandada ja kes on ühiskonnaohtlik. Ma olen elanud ja kasvanud nõukogude ajastul ja pean kalliks oma kodumaad, olen valmis kodumaa eest surema. Kui partei mind välja viskab, pean vabadust surmast hullemaks. Mind kohtu alla anda, tähendab visata mind välja kui ühiskonna rämps, rikkuda mitte ainult minu ja mu pere nimi, vaid ka mu sugulaste. Väga palun teid, kui on võimalik lasta mul parandada oma viga vabaduses, vannun, et tulevikus mitte ainult mina, vaid ka mu lapsed selliseid vigu ei tee. Töötades Vastseliina RJM-s teravnesid mul algusest peale suhted Burakoviga tema taktitu käitumise pärast kaastöötajate suhtes. Eesmärgiga edasisi ebameeldivusi ära hoida kirjutasin 1950. a lõpus raporti enda üleviimiseks Vastseliina rajoonist, samuti tuletasin mitmel korral kaadrite osakonnas oma <i>(loetamatu)</i>, kuid minu palvet ei rahuldatud, kuigi see oli põhjendatud. Kukkus välja nii, et Burakovi puudumise tõttu luban mina läbi viia komsomoli koosoleku, tuleb Burakov, ajab kokkutuleku laiali. Burakov sõidab Võru linna ja jätab enda asemele käsuga kinnitamata asetäitja operatiivvolinik Tederi. Leidis aset rida teisi mittevormikohaseid omavahelisi suhteid, millest kirjutasin varem. Kõik see kokkuvõetuna tõukas mind valele eluteele Vastseliina rajoonis. Kui ei leidu võimalust lasta mul oma viga parandada vabaduses, palun anda mulle selline karistusaeg, mille ma võiksin kiiresti heastada ja jätta mind laagrisse Eestisse, kuna tunnen, et mu tervis on nõrk, aga siin asub mu naine, kellel oleks võimalus aidata mind toiduga. Palun teid mitte mu palvest keelduda.
		<div class="p"></div>
		Trusov, Aleksander 29/6 1952
	</div>

	<div class="p">
		Hoopis teises toonis on kiri Moskalenko ülemusele <b>Ignatjevile</b>, milles Trusov osutab NSVL Ülemnõukogu saadiku ja ENSV julgeolekuministri Moskalenko kuritegudele.
	</div>

	<div class="quote">
		Riikliku julgeoleku ministrile Ignatjevile, Moskva linn
		<div class="p"></div>
		Kellelt: Trusov, Aleksander Stepanovitš, 1916, Vangla nr1, Tallinn
		<div class="p"></div>
		Avaldus
		<div class="p"></div>
		28. juulil 1952 mõistis Sõjatribunal mind paragr. 193-17 p. „A“ alusel 8 aastaks Töö- ja paranduslaagrisse. Milles konkreetselt mind süüdistati? Töötades ülema asetäitjana Vastseliina RJM osakonnas, tehti rea agentuur-operatiivtöö tulemusel kindlaks bande, mille juhiks oli bandiit Richard Vähi. 7. märtsil samal aastal viidi läbi tšekistlik- sõjaväeline operatsioon selle bande likvideerimiseks. Bande ümberpiiramise ja neljatunnise lahingu järel tapeti 6 bandiiti. Kahel õnnestus põgeneda, teiste seas ka bande juhil, meie poolelt olid kaotused 5 inimest, sõdurid RJM-st, nende hulgas üks leitnant.
		<div class="p"></div>
		Bande likvideerimise järel võeti kinni ja arreteeriti bande abilised. Arreteeritud abiliste tunnistuste põhjal ja agentuurandmete alusel võeti kinni ka teine ring isikuid:
		<div class="p"></div>
		1. Härm Karolina, kes on bande pealiku Vähi Richardi sugulane. Tema vend läks pärast Vähi Richardi bande osalist hävitamist ebaseaduslikult varjama ja varjab bande koosseisus. Härm, elades bande juhi Vähi talus varjas bandiitide röövitud varandust, võimaldas talus bandiitidel varjuda. Karjatas bandiitide kolhoosidest röövitud loomi, kes lõpuks veristati ja tasuks sai Härm bandiitidelt liha ja röövitud varandust.
		<div class="p"></div>
		2. Raag August võttis bandiitide poolt kolhoosist röövitud loomadel kõri maha, teadis bandiitide röövtegudest, sai tasuks liha ja röövitud varandust.
		<div class="p"></div>
		3. Eenla Enda, bande juhi Vähi Richardi naise õde, andis oma talu bandiitidele varjamiseks, võttis bandiitidelt röövitud varandust, organiseeris bande juhi naisele valepassi ja organiseeris ta pimesooleoperatsioonile Petseri haiglasse.
		<div class="p"></div>
		4. Kitle, Peteris, Läti elanik, kelle talus ravis end haavatud juht Vähi Richard. Vastseliina RJM-s on ülesloetud abiliste kohta avatud operatiivtoimikud ja nende arreteerimiseks koostati materjal, kuid arusaamatutel põhjustel keeldus prokurör sanktsiooni andmast. Need abilised peeti kinni ja viidi ülekuulamisele. Vaatamata olemasolevatele andmetele, tunnistustele nende abistamistegevuse kohta ei andnud nad avameelseid tunnistusi, pärast mida eelmise ülemuse Burakovi poolt kirjutati RJM juhtkonna nimele raport palvega saada luba füüsiliste mõjutusvahendite kasutuselevõtuks kinnivõetud bandeabiliste suhtes ülekuulamisel, selliseid raporteid oli 7 inimese kohta 4. Nägin ise isiklikult neid raporteid RJM juhtkonna, eelneva ülemuse Burakovi loal. Ühel sellisel ülekuulamisel osalesin ka mina. Ja ikka süüdistatakse mind bande abiliste ebaseaduslikus kinnipidamises, kelle kohta ei vormistatud § 100.
		<div class="p"></div>
		Püüan selgitada, kas ma olen selles süüdi:
		<div class="p"></div>
		Esiteks, veel jaanuarikuus 1951, tegeledes materjalidega kinnipidamissanktsiooni saamiseks, kinnitas minister Moskalenko, kes andis mulle juhendeid, et on hädavajalik kinni võtta rohkem bandede abistajaid ja viia neid põhjalikule ülekuulamisele, saada kätte bandiitide asukoht, mitte anda neile rahu, kõik meetodid võitluseks bandiitide ja nende abilistega on lubatud, kui need annavad tulemusi. Neid sõnu kordas minister Moskalenko ka operatiivkoosseisu nõupidamisel, mis peeti Vastseliina RJM-s mais 1951. Täites minister Moskalenko juhtnööre pidasime kinni bande abilisi ja selle eest meid arreteeriti kui revolutsioonilise seaduslikkuse rikkujaid.
		<div class="p"></div>
		Kes meid tõukas sellele seaduserikkumisele? ENSV RJM juhtkond. Miks siis meil tuleb kanda vastutust, ei saa ma aru. Tuleb nii välja, et alati on süüdi rööpmeseadja, selle tõenduseks veel üks fakt Rapla RJM kaastöölistest. Rapla rajoonis pani bande toime diversiooniakti, peatades rongi, röövisid 205 000 rbl. Sündmuskohale sõitis minister Moskalenko, kes andis käsu kinni võtta bande raseda abilise Põldma ja viia ülekuulamisele. Kui vajalikke ülestunnistusi ei saadud, peksis ta Rapla RJM koosseisu juuresolekul selle naise poolsurnuks, pärast mida arreteeris ta. Arreteeritud Põldma sünnitas Tallinnas vanglas nr1 surnud lapse ja suri ka ise. Samas piirkonnas bande abilise talus peeti kinni bandiit Saar. Abilisena võeti kinni ka talu peremees. Pärast vajalike tunnistuste kättesaamist andis Moskalenko käsu ta üles peksta. Peksmisel oli juures ka aseminister Tšernov, samuti Rapla RJM operatiivkoosseis. Seda kõike pidas Moskalenko normaalseks käitumiseks, näidates eeskuju ja füüsiliste vahendite rakendamist ülekuulatavate kodanike peal, kuid kui Rapla RJM ülema asetäitja Polonski peksis ühte Raadiku grupi naissoost abilist, arreteeris Moskalenko ta nõukogude seaduslikkuse rikkumise pärast. Kas mina ja teised töötajad oleme õigusega arreteeritud, meie, kes me täitsime ENSV RJM juhtkonna juhtnööre ja võtsime neist eeskuju. Miks ei arreteeri Moskalenko selliseid nagu Harju RJM ülem Vassiljev, kes 1952. a jaanuaris tunnistaja Hiiot üle kuulates külvas ta üle solvangute ja ähvardustega, mille tulemusel tunnistaja Hiio lõpetas hirmu pärast vastutuselevõtmise ees elu enesetapuga. Seesama Vassiljev, selle asemel, et organiseerida agentuurtööd, otsustas tõlgiks võtta hävitusrühma komandöri Pustini, kel polnud mingit suhet agentuuriga, aga hävituspataljoni komandöri Poljakovi pani tööle osakonna sekretäri asemele, kes oli puhkusel. Poljakovi käest käisid läbi kõik salajased dokumendid, mida ta poleks pidanud teadma.
		<div class="p"></div>
		Veel enam, seesama Vassiljev sundis aruka agentuurtöö organiseerimise asemel agent Orlovat endaga kooselule, kuid pärast tegi ettepaneku tema kui ballasti kõrvaleheitmiseks, mida võib kinnitada osakonna autojuht.
		<div class="p"></div>
		Seesama Vassiljev, selle asemel, et aidata operatiivkoosseisu ja töötada eeskujulikult läbi üht juhtumit, ei hoia üldse käigus toimikuid ja kogu tema põhitöö seisnes arupärimiste esitamises ja kabemängus. Selle eest sai Vassiljev palka 4000 rbl kuus. Moskalenko peab neid rikkumisi normaalseteks, vaatamata sellele, et ta on neist teadlik. Moskalenkole on teada ka faktid ja kuue nõukogude kodaniku peksmine operatiivvoliniku Ossipovi poolt, keda on karistatud 20–ööpäevase arestiga. Kas olen mina ja on ülejäänud Moskalenko poolt arreteeritud operatiivkoosseis süüdi, kui ta täidab sellesama minister Moskalenko käske ja jälgib tema eeskuju?
		<div class="p"></div>
		Äramärkimist vajab ka RJM kaadrite ja juhtkonna suhtumine osakonna operatiivkoosseisu. 1950. a seoses rajoonide moodustamisega Eestis määrati mind asetäitjaks sellisesse rajooni, kus pole vene kooli ja kus minu lapsel pole mitte kusagil õppida. Pöördudes RJM juhtkonna poole nii suulises kui kirjalikus vormis ei suutnud ma mingeid tulemusi saavutada, peale ähvarduste, et võime saata teid saarele. Mulle tundub väga imelik, miks on ENSV RJM-s selline suhtumine kaadritesse, teistes oblastites töötades ei märganud ma sellist suhtumist nagu Eestis.
		<div class="p"></div>
		Milles asi on, jääb mulle arusaamatuks? Minister Moskalenko hoiatas mind, et kindlasti tuleb perekond viia Vastseliina, aga tuleb nii välja, et lapsel polegi vaja õppida.
		<div class="p"></div>
		Ülaltoodu põhjal pole raske teha järeldust. Küsides, kas Moskalenko oma repressioonidega operatiivkoosseisu vastu lõpetab revolutsioonilise seaduslikkuse rikkumise, siis võib täie kindlusega öelda – ei, üksnes sellepärast, et nende rikkumiste initsiaatoriks on ENSV RJM juhtkond ja järgijaid leidub palju ja kõigil on saab olema selline saatus nagu Tõrva, Vastseliina RJM töötajatel ja teistel, kes on arreteeritud.
		<div class="p"></div>
		Toon näite, kui ebaobjektiivselt on läbi viidid uurimine minu süüasjas. Enne vastandamise läbiviimist bande abistajatega valmistasid nad seda ette Tšibisoviga, kirjutasid tunnistused ebaobjektiivselt. Näiteks: abistaja Enda Eenla silm-silma vastu vastandamisel tunnistas, et ta mind ei näinud, kui tema kallal kasutati ülekuulamisel ebaseaduslikke füüsilisi mõjutusvahendeid, uurija Starostenko ja prokurör Nelipa kirjutasid, et võimalik, et ma olin seal, võimalik, et ma kasutasin ülekuulamisel füüsilisi mõjutusvahendeid. Pärast vastandamist viidi mind minema. Lisaks küsiti veel Eenlalt, justkui mina oleksin teda kinnipidamisel peksnud. Vastandamisel ta seda ei tunnistanud, kuigi talt seda küsiti, kuid hiljem, nagu näha, oli teda veendud selliseid tunnistusi andma, süüdistuse esitamisel ma ei tunnistanud, et ma olin selle ettevõtmise initsiaator, vaid elluviija, Starostenko ja Nelipa, ähvardades kartseri ja põhjaaladele laagrisse saatmisega, lisasid need tunnistused, mida polnud saanud, nii et tegelikkuses oli initsiaatoriks ENSV RJM juhtkond, mis sanktsioneeris ülekuulamisel füüsiliste mõjutusvahendite kasutamist kinnipeetud bandeabiliste peal. Paragrahv 206 esitamisel palusin uurija Starostenkol lisada iseloomustuse, mis mulle ülema asetäitjaks määramisel anti, ning raporti, mille ma kirjutasin minister Moskalenko nimele, kõike seda lubati, kuid toimikus neid dokumente pole, nagu pole ka varasema Vastseliina RJM osakonna ülema Burakovi raporteid füüsiliste mõjutusvahendite kasutamise kohta ülekuulatavate peal, mille me juurdluse käigus palusime neil lisada. Midagi paremat RJM juhtkond ja uurija Starostenko välja ei mõelnud. Nagu hiljem on selgunud, sõitsid nad külla Vastseliina, võtsid raportid koos sanktsioonidega füüsiliste mõjutusvahendite kasutamiseks ja hävitasid need. See räägib selle poolt, et ENSV RJM juhtkond oli võtnud ülesandeks meid istuma panna ja viia uurimine läbi ebaobjektiivselt. Mitte mingeid põhjendusi toomata teatas prokurör Nelipa uurimise käigus, et me Vastseliinas logelesime. Tööaasta jooksul Vastseliinas tegime järgmist:
		<div class="p"></div>
		Tapetud on 10 bandiiti, arreteeritud on bandiite ja illegaale ligi 39 inimest, mitmesugust nõukogudevastast elementi on arreteeritud u 60 inimest, kes selle töö ära tegi, vaatamata sellele, et operatiivkoosseis oli väheste kogemustega. Minu meelest kindlasti mitte Nelipa, kes ei teagi, kus Vastseliina rajoon asub, protsessil esinedes tutvustas Vastseliina külakest vabariigi pealinnana, öeldes, et operatiivkoosseis sooritas kuriteo karjeristlikel eesmärkidel, et oma kohtadel püsida. On tõestatud, et see ei ole nii. Vastseliina on tõepoolest keskus, kuid bandede rohkuse poolest, mistõttu Nelipa kardab sõita sellesse rajooni ja mingeid karjeristlikke eesmärke operatiivkoosseisul pole olnud. Kõiki fakte ei saa kirja panna, kuid töötades Smolenski RJM-s, samuti Kaluuga omas, ei ole täheldanud sellist jämedat suhtumist operatiivkoosseisu nagu Eestis, kus kaadrite poliitika pole kasvatuslik vaid karistuslik. Eestisse tulin vabatahtlikult juulis 1946, teades, et töö on raske ja ohtlik. Ma ei läinud lihtsama vastupanu teed, vaid halastamatult purustasin meie kodumaa vaenlasi. Selle perioodi jooksul olen isiklikult arreteerinud erinevat nõukogudevastast elementi rohkem kui 100 inimest, teiste hulgas Inglise luure agent, kes oli illegaalina saadetud ülesandega organiseerida bandiitlikke vastupanugruppe Eesti territooriumil, mille eest ENSV RJM juhtkond avaldas mulle tänu. Oma elu ohtu pannes olen korduvalt olnud bandiitlike kuulide all ja vot selle kõige eest olen saanud vanglakaristuse. Tuleb välja, et kes ei tööta ei eksi ja seda hinnatakse, aga kes on tööd teinud, sellel võib muidugi leida vea. Kuid see ei tähenda, et nende üle peaks kohut mõistma, on ka teisi kasvatusmeetodeid. Mind ja teisi pidas Moskalenko sotsiaalselt ohtlikeks, keda on ohtlik hoida vabaduses. Pean seda ebaõiglaseks, mind kasvatas partei ja nõukogude võim, ustavaks tööle ja vihkama rahvavaenlasi.
		<div class="p"></div>
		Alates 16. eluaastast läksin iseseisva elu peale, kasvatasin õdesid ja vendi ja suunasin neid õigele eluteele, sest isa suri 1932. a. Töötades tootmisalal täitsin tööviljakust 1500%. Esimesena Kasahhis läksin üle mitmetreipingilisele teenindamisele.
		<div class="p"></div>
		Isamaasõja ajal töötasin luure operatiivgrupis vaenlase tagalas, VK(b)P liige 1940. a maist. Kogu teadliku elu olen pühendanud ausale tööle võitluseks rahvavaenlastega, mille eest mul tuleb kanda kõige raskemat karistust. Ma pole vaenlane, kuid minust tehti vaenlane, kuid ma ei saa selleks, ehkki istun ära mulle määratud aja. Mulle on ainult solvav, et mind ja mitte ainult mind, vaid kogu mu peret ja mu sugulasi häbistati minu ausa töö tõttu, arvati, et ma olen parandamatu inimene, kuid kui analüüsida kogu mu tegevust Eestis, tõukas mind sellele ainult ENSV RJM juhatus, mis asjaliku abi ja isaliku hoolitsemise asemel kaadrite suhtes pidas võimalikuks kuuldavale tuua erinevaid ähvardusi. Loen ebaõiglaseks enda kohtu alla andmist, sest ma kasvasin üles ja minu kasvatajaks oli nõukogude võim ja minu vigadele osutamine oleks paremini mind parandanud, kui eluks ajaks vigaseks tegemine. Kui ma pole Moskalenkole vajalik, oleks võinud mind vallandada, kuid miks ma pean hülgama nüüd perekonna, kellel pole kusagilt võtta materiaalset toetust, mis tähendab mu lapse saatmist haletsusväärsesse olukorda.
		<div class="p"></div>
		Kirjutamise ma lõpetan, kuid palun vaadata ümber minu süüasi ja anda võimalus oma viga vabaduses välja lunastada. Olen niigi hinge põhjani mõistnud oma toime pandud viga. Samaaegselt palun selgitada mulle – kas mulle on ette nähtud 1952. a eest kasutamata puhkus,
		<div class="p"></div>
		Trusov 30. aug. 1952
	</div>

	<div class="p">
		Kohtuistungil püüab <b>Burakov</b> end veel päästa.
	</div>

	<div class="quote">
		Väljavõte
		<div class="p"></div>
		ENSV RJM vägede sõjatribunali otsus 30. augustist 1952
		<div class="p"></div>
		1. Eesti K(b)P KK sekretärile Käbinile
		<div class="p"></div>
		2. ENSV julgeolekuminister Moskalenkole
		<div class="p"></div>
		Sisu: Nõukogude seaduslikkuse raske rikkumise faktidest reas rajoonides kodanlik-natsionalistlike bandede otsimise ja likvideerimise ning uurimistoimingute käigus.
		<div class="p"></div>
		...Kohtuistungil teatas Burakov, justkui oleks aset leidnud fakt, et tema sai ENSV RJM sm Moskalenkolt sanktsioonid kinnipeetute füüsiliseks mõjutamiseks eesmärgiga saada hädavajalikke tunnistusi, sellepärast pidas ta võimalikuks seadusevastaseid meetodeid kasutada ka iseseisvalt.
	</div>

	<div class="p">
		Lõpuks jõuavad nad <b>sõjatribunali</b> alla.
	</div>

	<div class="quote">
		Sõjatribunali otsusega 25.-28. juuli 1952 mõisteti Burakovile ja Trusovile 8 a vabadusekaotust ja Tederile 6 a vabadusekaotust .
		<div class="p"></div>
		Justiitspolkovnik Dõtjuk 28.dets. 1952
		<div class="p"></div>
		Eriinspektsioon
		<div class="p"></div>
		8. jaan 1953
		<div class="p"></div>
		ENSV FINTDELA RJM major sm Molodtsevile
		<div class="p"></div>
		Teatan teile, et nõukogude seaduslikkuse rikkumise eest määrati ENSV RJM sõjaväelastele Burakov G.G., Trusov A.S., Teder F.J ja Polonski M.S. erineva pikkusega vabadusekaotused, koos riiklike autasude allesjätmisega. Sellega seoses nende isikute ordenid ja medalid, mis on antud teile hoiule kohtuotsuseni, kuuluvad saatmisele nendesse laagrivalitsustesse, kus nad karistust kannavad.
		<div class="p"></div>
		Meie andmetel:
		<div class="p"></div>
		1. Trusov Aleksander Stepanovitš ja
		<div class="p"></div>
		2. Teder Fjodor Juhanovitš – etappi viidud 16. sept 1952 NSVL RJM Tšernogostroi valitsusse (Tšernogorski kaevandused Krasnojarski raudteel)
		<div class="p"></div>
		3. Burakov Grigori Gerassimovitš – kannab karistust OLP no 5 NSVL RJM „BD“, Ülemiste jaam, Eesti raudtee.
		<div class="p"></div>
		4. Polonski kannab karistust Sillamäel
		<div class="p"></div>
		Trusovi palk anda välja Trusovi naisele Volkova Antonina Grigorjevnale
	</div>

	<div class="p">
		Paar sadisti oli sellega kõrvale toimetatud. Kuid ega lugu veel lõppenud. Karistada saanuid näris viha, miks vaid nemad peavad karistust kandma, teised tegid ju ka, ja uue hooga algas osutamine teiste sigatsemistele.
	</div>

	<div class="p">
		<b>Burakov</b> kaebab <b>Zagrebalovi</b> peale.
	</div>

	<div class="quote">
		Väljavõte
		<div class="p"></div>
		Kinnipeetav Burakov G.G kaebusest varasema RJM 2-N osakonna major Zagrebalovi kohta.
		<div class="p"></div>
		Kinnipeetav Burakov teatas oma avalduses, et Zagrebalov, olles teenistuslikus komandeeringus Vastseliina RJM osakonnas, tegeles väljasõitudel Võrru aitamise asemel administreerimise ja joomingutega.
		<div class="p"></div>
		Leidis aset juhtum, kui Zagrebalov jõi koos agendiga „Metla“, embas teda õllesaalis ja teatas talle “mina su ära päästsin“. Burakov oletab, et „Metla“ teenis Saksa armees (seda võivad kinnitada Mironov ja Teder).
		<div class="p"></div>
		Märtsis 1952 Zagrebalov soovitas operatiivvolinikul Tederil kasutada agent „Astat“ seksuaalselt.
		<div class="p"></div>
		Jaanuaris 1952 peksis Zagrebalov julmalt varjajat Kiudsood Vastseliina RJM töötajate juuresolekul.
		<div class="p"></div>
		Agent „Asta“ materjalide kohaselt asusid bandiidid talus TOM(?), kuid Zagrebalov ei kontrollinud.
		<div class="p"></div>
		Agent „Laut“, kes on juskui Zagrebalovi käsul välja heidetud, rääkis Tederile, et Zagrebalov kardab, et „Laut“ tapab bandiidid ja Zagrebalovil tuleb selle eest vastutada, aga kui "Laut" on välja heidetud, siis  ta tema tegevuse eest ei vastuta.
	</div>

	<div class="p">
		<b>Teder</b> võtab ette kaevata nii <b>Ossipovi</b> kui <b>Laasi</b> peale Moskalenkole ja ka Käbinile.
	</div>

	<div class="quote">
		Kannan karistust revolutsioonilise seaduslikkuse rikkumise eest, kuid tahan öelda, et kohtus esinenud tunnistajad Ossipov ja Laas ei olnud avameelsed, proovisid oma süüd teiste peale veeretada ja end õigustada.
		<div class="p"></div>
		Võin tuua rea fakte revolutsioonilise seaduslikkuse rikkumise kohta Ossipovi ja Laasi poolt, lisaks sellele, et nad tarvitasid ülekuulamisel elektrilööke telefoniaparaadilt, samuti teisi füüsilisi mõjutusvahendeid, täpsemalt:
		<div class="p"></div>
		1. Juulis 1951 saadeti Ossipov Pugola k/n Misso asulasse laulupeole korda valvama. Ossipov, selle asemel, et korra järele valvata, korraldas raske kakluse Vastseliina tarbijate ühistu autojuhi Sabitoviga, purustas sellel püstoliperaga roide, seejärel võttis auto ja püüdis sellega purjuspäi minema sõita. Kannatanu Sabitov kirjutas ja andis selle kohta avalduse tollasele RJM ülemale Burakovile, millele oli lisatud läbivaatustõend Vastseliina haiglast – toimunud kakluse tunnistus.
		<div class="p"></div>
		2. Juunis 1951 andis Ossipov purjuspäi oma isikliku püstoli TT samuti ebakaines olekus hävituspataljonlasele Petrovskile, kes avas kodus sihitult tule ja haavas omaenda isa jalga. RJM-s teatas Petrovski, et tema isa haavasid bandiidid. Hiljem sai teatavaks, et Petrovski teatas isa haavamisest bandiitide poolt Ossipovi käsul, et varjata enda ja Ossipovi kuriteojälgi.
		<div class="p"></div>
		3. Detsembris 1951, kui Ossipov oli saadetud Ruusmäe k/n valimisjaoskonda Rahvakohtu valimistele vastutavaks isikuks, jõi ta ennast seal täis, peksis läbi sel ajal korda pidanud hävitaja Vihrini, millest viimane kirjutas raporti RJM rajooniosakonna asetäitjale Mironovile.
		<div class="p"></div>
		Samal päeval peksis Ossipov valijate juuresolekul valijat Sulg, kes töötab metsavahina Pugolas Kuura silla lähedal, millest kirjutas Mironovile K(b)P instruktor Kolling, kes seda isiklikult nägi.
		<div class="p"></div>
		4. detsembril 1951 sõitis Ossipov ebakaines olekus Vastseliina meierei autojuhi järel, kes sõitis oma autoga ja kellest polnud võimalik kiiresti mööda sõita, Ossipov tuli oma autost välja, tõmbas meierei autojuhi Trolla kabiinist ja peksis teda tarbijate ühistu juhataja Žilkini juuresolekul.
		<div class="p"></div>
		5. Ööl vastu 1. jaanuari 1952 Ossipov koos ltn Laasi ja Vastseliina RJM osakonna ülema asetäitja Mironoviga saadeti vastutavana kinni pidama bandiite Aluksne rajoonis – Kiudsoo Oskarit ja Kiudsoo Elmarit.
		<div class="p"></div>
		Ossipov koos tõlk ltn Laasiga, jõudes Aluksne territooriumile vendade Berkuliste talu lähedale, kes elab Aluksne ja Vastseliina rajooni piiril Rammuka küla lähedal (Augure külas), pidasid selles talus kinni Kiudsoo Elmari. Kinnipidamist läbi viiv Ossipov ja Laas peksid poolsurnuks nii Kiudsoo Elmari kui mõlemad vennad Berkulised (Helmut ja Arvid). Võttes kaasa nii Kiudsoo kui vennad Berkulised ning võttes neilt talust ebaseaduslikult liua süldiga ja 5l samagonni, sõitsid Aluksne RJM-sse, kus purjutasid terve päeva. Seda võib kinnitada Aluksne operatiivvolinik ltn Moissejev.
		<div class="p"></div>
		Pärast seda, kui Ossipov ja Laas koos kinnipeetutega olid saabunud Vastseliina, peeti vahistatuid ebaseaduslikult kinni 6 päeva, pärast mida Kiudsoo arreteeriti, kuid vennad Berkulised, kelle kuritegu ei suudetud tõestada, lasti vabadusse. Ülekuulamisel Kiudsoo tunnistas, et samal ajal, kui teda Berkuliste pool kinni võeti, asus tema vend Kiudsoo Oskar punkris Berkuliste talu lähedal. Bandiit Kiudsoo kinnivõtmise asemel Ossipov ja Laas korraldasid joomingu ja nende isikliku kuritegeliku tegevusetuse tõttu sai bandiit uuesti varjuda.
		<div class="p"></div>
		Nägin ise kinnipeetud vendi Berkulisi ja Kiudsoo Elmarit, keda oli tugevalt pekstud.
		<div class="p"></div>
		Ossipov kutsuti tema Vastseliina RJM-s töötamise ajal kolmel korral parteikoosolekul korrale joomise ja eesti rahvusest kaastöötajate solvamise pärast rahvuspinnal, sest ta kutsus neid „tšuhnaadeks“ ja „prantslasteks“ (franzuzõ), sealjuures mitmel korral sõimas osakonna sekretäri Laas Salmet ebatsensuursete sõnadega.
		<div class="p"></div>
		Iseloomulik on asjaolu, et selleaegses Vastseliina RJM-s varasem RJM 2. osakonna ülema asetäitja major Zagrebalov mitte ainult et ei hoidnud ära ebaseaduslikke peksmisi, vaid lausa soosis neid.
		<div class="p"></div>
		Peale selle on mulle teada mõned Zagrebalovi ebaseaduslikud teod. Mulle on teada mõned juhud tema joomingutest koos agendiga „Metla“ Võru RJM-st 1952. a alguses koos kapten Mironoviga.
		<div class="p"></div>
		Oma süstemaatilistest joomingutest koos agendiga „Metla“ hoiatas Zagrebalov mind mitte kellelegi rääkima. Lisaks sellele sai Zagrebalov tema käest ebaseaduslikult villa kahe paari viltide jaoks.
		<div class="p"></div>
		Peab ütlema, et Vastseliina RJM aparaadi tööle abi osutamise asemel Zagrebalov süstemaatiliselt purjutas ja olemuslikult midagi kasulikku ei teinud.
		<div class="p"></div>
		Teatan eeltoodut Ossipovi ja Laasi vastutuselevõtmiseks, aga Zagrebalovi osas jäägu vastavalt teie äranägemisele.
		<div class="p"></div>
		Samaaegselt annan teile teada, et kui eeltoodu alusel Ossipovi ja Laasi vastutusele ei võeta, olen sunnitud selles küsimuses pöörduma NSVL RJM ja VK(b)P KK poole.
		<div class="p"></div>
		Teder
	</div>

	<div class="p">
		RJM erinspektsiooni uurimised, kogu aur ja vile, päädisid <b>ettepanekutega ja kokkuvõttega</b>.
	</div>

	<div class="quote">
		ENSV Tartu oblasti RJM osakonna kaadrite eriinspektsiooni uurimine
		<div class="p"></div>
		tegi kindlaks:
		<div class="p"></div>
		Burakov G.G. , Trusov A.S. ja Teder F.J. arreteeriti juunis 1952 NSVL RJM sanktsiooniga ja kannavad paegu nõukogude seaduslikkuse raske rikkumise pärast ENSV RJM sõjatribunali poolt määratud eri pikkustega karistust.
		<div class="p"></div>
		Kinnipanduna on Burakov, Teder ja Trusov kirjutanud ENSV RJM –i ja ENSV KP KK-le mitmeid avaldusi, milles näitavad, et peale nende on ebaseaduslikke ülekuulamismeetodeid kinnipeetud kodanike peal kasutanud ka teised RJM operatiivtöötajad – Ossipov, Laas ja Kutsar, millega seoses tuleks ka nemad kriminaalvastutusele võtta.
		<div class="p"></div>
		Arvame, et korduva uuringu läbiviimine nende faktide kindlakstegemiseks pole vajalik.
		<div class="p"></div>
		Burakovi, Trusovi ja Tederi asjas on uurimine tõendanud konkreetse süü iga nimetatud operatiivtöötaja seaduserikkumise kohta ning et põhjust Ossipovi, Laasi ja Kutsari vastutuselevõtmiseks ei leidunud, karistati neid distsiplinaarkorras rangelt ENSV RJM nr 0078 12. mail 1952.
		<div class="p"></div>
		Teiste Burakovi ja Tederi toodud faktide uurimisel tehti kindlaks järgmist:
		<div class="p"></div>
		Mina, eriinspektsiooni kaadrite osakonna uurija Tartu oblastis, van. ltn Zaporožtsev, vaadates läbi uurimismaterjalid RJM Vastseliina rajooniosakonna operatiivvoliniku ltn Ossipovi ja tõlgi ltn Laasi jt kohta,
		<div class="p"></div>
		leidsin
		<div class="p"></div>
		Ltn. Ossipov,töötades RJM rajooniosakonnas operatiivvolinikuna, ilmus korduvalt tööle ebakaines olekus, rikkus töödistsipliini ja tegeles kaklusega, mille eest ta kolmel korral võeti parteilisele vastutusele ja ta sai distsiplinaarkorras noomituse.
		<div class="p"></div>
		Nii oli Ossipov juulis 1951 vastutav ühiskondliku korra tagamise eest Misso alevi laulupeol, jõi ennast koos hävituspataljoni liikmete Petrovski V.M ja Boitsov N. N. –ga täis ja peksis Vastseliina rajooni tarbijateühistu autojuhti Sabitov S. I.-d.
		<div class="p"></div>
		Sealsamas andis Ossipov oma püstoli hävituspataljoni võitlejale Petrovskile, kes, endiselt ebakaines olekus, avas huligaansel ajendil tule, mille tulemusel haavas oma isa – Petrovski Mihhail Grigorjevitši.
		<div class="p"></div>
		Rajooniosakonna juhtkonnale teatas Petrovski, et isa sai haavata bandiitide rünnakul.
		<div class="p"></div>
		Detsembris 1951, kui toimusid Rahvakohtunike valimised, oli Ossipov valimisjaoskonnas korrapidajaks Ruusmäel, Vastseliina rajoonis.
		<div class="p"></div>
		Ossipov pidas end vääritult üleval – suure hulga valijate juuresolekul sõimas ebatsensuursete sõnadega, nõudis, et talle ostetaks alkohoolseid jooke, seejärel, tänavale minnes, võttis oma suvise vormirõiva ja virutas selle mutta.
		<div class="p"></div>
		Endiselt ebakaines olekus Ossipov hakkas kaklema hävituspataljoni võitleja Vihrin N.F.-ga, kes täitis oma teenistuskohustust ja Vastseliina meierei autojuhi Trolla A-ga ja lõi valija Sulg P-d.
		<div class="p"></div>
		Jaanuaris 1952, asudes Augure külas Aluksne rajoonis Lätis, peksis Ossipov koos RJM Vastseliina osakonna tõlgi Laasiga ja rühma sõduritega nende poolt kinnipeetud bandiit Kiudsoo Elmarit ja talu peremeest Berkulis Helmutit.
		<div class="p"></div>
		Läbiotsimise käigus Berkulise talus võtsid nimetatud RJM töötajad ja sisevägede sõdurid ära 5 l samagonni ja liua sülti. Neid toiduaineid talu peremehele ei tagastatud.
		<div class="p"></div>
		Kodanik Berkulist peeti endise RJM Vastseliina rajooniosakonna ülema Burakovi käsul ilma prokuröri sanktsioonita kinni 3 ööpäeva. Kui ta vabaks lasti, ei antud talle kätte tema passi. Dokument tagastati omanikule alles 9 kuu möödudes, so septembris 1952.
		<div class="p"></div>
		22. augustil 1952 vallandati Ossipov nõukogude seaduslikkuse rikkumise, süstemaatiliste joomingute ja töödistsipliini rikkumise pärast RJM organitest.
		<div class="p"></div>
		Oma avaldustes on süüdimõistetud Burakov ja Teder teatanud ka reast teistest kompromiteerivatest andmetest endise ENSV RJM 2-N osakonna ülema asetäitja, praeguse Tartu oblasti RJM 2-N osakonna ülema julgeoleku alampolkovnik Zagrebalov V.D. kohta, endise RJM Vastseliina rajooniosakonna ülema asetäitja, praeguse sama oblasti 2-N osakonna ülema julgeolekukapten Mironov B. P. ja teiste kaastöötajate kohta.
		<div class="p"></div>
		Uurimisel need faktid kinnitust ei leidnud.
		<div class="p"></div>
		Zagrebalovi ja Mironovi süü on kindlaks tehtud vaid niivõrd, et ühel-kahel korral nad kohtusid Võru RJM osakonna agendiga „Metla“ / kodanik Sepp Robert Kristjani poeg / olmetasandil ja purjutasid temaga koos Võru sööklas.
		<div class="p"></div>
		Võttes arvesse, et Nõukogude seaduslikkuse rikkumise eest on RJM Vastseliina rajooniosakonna operatiivvolinik Ossipov ja endine sama osakonna tõlk, praegune Tartu oblasti RJM 2-N osakonna tõlk julgeolekuleitnant Laas arreteeritud kumbki 20 ööpäevaks karauulis pidamisega, aga Ossipov vallandati pärast karistuse kandmist –
		<div class="p"></div>
		Teeme ettepaneku:
		<div class="p"></div>
		1. Kantud karistust Ossipovi ja Laasi suhtes pidada piisavaks ja piirduda sellega.
		<div class="p"></div>
		2. Tartu oblasti RJM 2-N osakonna ülemat julgeoleku alampolkovnik Zagrebalov Vassili Dmitrievitšit ja sama osakonna ülema asetäitjat julgeolekukapten Mironov Boris Pavlovitši – hoiatada olmekohtumiste lubamatusest agentuuriga ja veel enam, avalikus kohas nendega koos joomise eest.
		<div class="p"></div>
		3. joomise, huligaanse tegevuse ja oma isa haavamise eest –RJM Vastseliina osakonna hävituspataljoni võitleja Petrovski Vladimir Mihhailovitš – arvata pataljoni kooseisust välja.
		<div class="p"></div>
		Edasine uurimine antud asjas lõpetada, materjalid anda hoiule Tartu oblasti RJM kaadrite eriinspektsiooni arhiivi
		<div class="p"></div>
		uurija al. ltn Starostenko<br>
		ENSV RJM kaadriteosakonna ülem Tšibisov<br>
		Riikliku julgeoleku kaadrite minister, julgeolekupolkovnik Trapeznikov.<br>
		7. dets 1952
		<div class="p"></div>
		1. Nõukogude seaduslikkuse raske rikkumise ja kodanike süstemaatilise peksmise pärast on varasem Vastseliina RJM rajooniosakonna operatiivvolinik Ossipov Vladimir Mihhailovits ära teeninud range karistuse, kuid võttes arvesse, et RJM Tallinna piirkonna käskkirjaga nr 14 on ta organitest vallandatud – lugeda tema varasem kantud karistus (20 päeva aresti) piisavaks.
		<div class="p"></div>
		2. Varasem RJM Vastseliina rajooniosakonna tõlk (preaegune Tartu oblasti RJM 2-N osakonna tõlk) – ltn Laas Kalju Peetri p, kes ENSV RJM käskkirjaga nr 0073 12. juulist 1952 nõukogude seaduslikkuse raske rikkumise eest, mis väljendus kinnipeetud kodanike peal ebaseaduslike füüsiliste mõjutusvahendite kasutamises - arreteeriti 20 ööpäevaks töökohustustest ilmajätmisega. Karistus lugeda piisavaks ja piirduda sellega.
		<div class="p"></div>
		3. Vastseliina hävituspataljoni võitleja Petrovski Vladimir Mihhailovitši huligaanse tegevuse eest avalikus kohas, mis seisnes nõukogude kodaniku peksmises ja sihitus tulistamises tulirelvast, mille tulemusel sai haavata tema isa – arvata hävituspataljoni koosseisust välja koos kriminaalvastutusele võtmisega.
		<div class="p"></div>
		4. Varasemale RJM Vastseliina rajooniosakonna ülema asetäitjale (praegusele Tartu oblasti RJM 2-N osakonna ülema asetäitjale ) - kapten Mironov Boriss Pavlovitšile – korduva joomingu eest koos Võru rajooni agendiga „Metla“ – anda range noomitus.
		<div class="p"></div>
		Kokkuvõte tehtud 12. okt 1952 Tartus.<br>
		ENSV Tartu oblasti RJM kaadriosakonna eriinspektsiooni uurija van. ltn. Zaporožtsev<br>
		RJM kaadriosakonna eriinspektsiooni ülem julgeolekumajor Zamorozov<br>
		ENSV Tartu oblasti RJM valitsuse ülema asetäitja julgeolekumajor Djatšenko
	</div>

	<div class="p">
		Julgeolekutöötajad jätkasid ka edaspidi kinnivõetutelt tunnistuste väljapressimiseks peksmist, kaevu uputamist, jalgupidi lakke poomist, hirmutamist, seksuaalset alandamist, näljutamist jne. Vaid elektrit vist Vastseliinas piinamiseks enam ei kasutatud. Endiselt vahistati inimesi seadusetult ja piinati tunnistuste saamiseni, alles seejärel vormistati arreteerimisorder. Mõrtsukas istus EKP KK büroos edasi. Sadistid said oma ordenid uuesti rinda riputada.
	</div>

	<div class="p">
	</div>
	<div class="p">
		<u>Julgeolekutöötajaid Vastseliina RJM osakonnast perioodil 1950-1952 kevad:</u>
	</div>

	<a class="magnific-popup-image" href="/images/misso/burakov_gg.jpg">
		<img class="image_left p200" src="/images/misso/burakov_gg.jpg">
	</a>

	<div class="p">
		<b>Burakov</b>, Grigori Gerassimovitš, s 1912, venelane, sünd. Leninfeldi küla, Libknehti rajoon, Stavropoli krai, keskharidus, VK(b)P liige 1940, RJM organites al 1939, omas autasusid: „Isamaasõja“ 1 järk, Punatäht, medal „Teenete eest“ ja „Sõjaliste teenete eest“
	</div>

	<div class="p">
		1939-1947 operatiivtööl eriosakondades ja vastuluure „Smerš“ organites Nõukogude armees
	</div>

	<div class="p">
		1947-1949 töötas RJM Pärnu osakonnas
	</div>

	<div class="p">
		1949-1950 RJM Võrumaa osakonna ülema asetäitja
	</div>

	<div class="p">
		al 1950 RJM Vastseliina rajooniosakonna ülem
	</div>

	<div class="p">

	</div>

	<a class="magnific-popup-image" href="/images/misso/trusov_as.jpg">
		<img class="image_left p200" src="/images/misso/trusov_as.jpg">
	</a>

	<div class="p">
		<b>Trusov</b>, Aleksander Stepanovitš, s 1916, venelane, sünd. Zabarovka küla, Zarendinski rajoon, Koktšetavi oblast, Kasahhi NSV, haridus 7 kl, VK(b)P liige 1940, RJM organites al 1942
	</div>

	<div class="p">
		Autasu: medal „Suures Isamaasõjas saavutatud võidu eest Saksamaa üle 1941-45“, juubelimedal "30 a Nõukogude armeed ja lennuväge“.
	</div>

	<div class="p">
		1946-1949 RJM Harju osakonnas vanem operatiivvolinik
	</div>

	<div class="p">
		1949-1950 RJM Jõhvi osakonna ülema asetäitja
	</div>

	<div class="p">
		1950-1951 RJM Vastseliina rajooniosakonna ülema asetäitja.
	</div>

	<div class="p">
		1951-1952 RJM Harju osakonnas Tallinnas vanem operatiivvolinik
	</div>

	<div class="p"></div>

	<div class="p">
		<b>Laas</b>, Kalju Peetri p, s 1925, eestlane, pärit Luke külast Nõo vallast Tartu maakonnast, haridus 7kl, VK(b)P kandidaat al 1944, organites 1945, distsiplinaarvastutusele võetud arreteeritu põgenemise ja isikliku relva kaotamise pärast ja füüsiliste mõjutusvahendite kasutamise pärast kodanike peal.<br>
		RJM Vastseliina rajooniosakonna tõlk
	</div>

	<div class="p">
		<b>Ossipov</b>, Vladimir Mihhailovitš, s 1924, venelane, pärit Mjakalovo külast Kesobogorski rajoonist Kaliningradi oblastist, haridus 7kl, VK(b)P liige 1951, RJM organites august 1944-august 1952. Saanud distsiplinaarkaristuse ja kolm parteilist noomitust nõukogude seaduslikkuse jämeda rikkumise eest, süstemaatilise joomise ja teenistusdistsipliini rikkumise eest.<br>
		Vastseliina RJM rajooniosakonna operatiivvolinik. 1952 märtsis viidi üle Türi osakonda.
	</div>

	<div class="p"></div>

	<a class="magnific-popup-image" href="/images/misso/teder_fj.jpg">
		<img class="image_left p200" src="/images/misso/teder_fj.jpg">
	</a>

	<div class="p">
		<b>Teder</b>, Feodor Juhani p, s 1928 eestlane, sünd. Saaremaa, Orissaare, Pärsama, haridus 6kl, lukksepp, RJM organites 1946, VK(b)P liige 1952
	</div>

	<div class="p">
		Autasustatud ENSV ülemnõukogu presiidiumi poolt "bandiitide rühma" hävitamise eest Saare RJM osakonnas <i>(Elmar Ilp jt)</i>
	</div>

	<div class="p">
		1946-sept 1950 Saaremaal hävituspataljonis, tõlk ja operatiivvolinik.
	</div>

	<div class="p">
		Vastseliina RJM rajooniosakonna operatiivvolinik al okt 1950
	</div>

	<div class="p"></div>

	<div class="p">
		<b>Kutsar</b>, Voldemar Elmari p, s 1931, eestlane, sünd. Oparino Kirovi oblast, haridus 7 kl, VK(b)P liige 1950, RJM organites al 1949
	</div>

	<div class="p">
		<b>Mironov</b> Boriss Pavlovitš, s 1914, venelane, sünd. Iževsk, Udmurdi SSR, haridus 8kl, VK(b)P liige 1942. aastast, RJM organites 1940. Tartu oblasti RJM 2-N osakonna ülema asetäitja, varasem RJM Vastseliina osakonna ülema asetäitja
	</div>

	<a class="magnific-popup-image" href="/images/misso/zagrebalov_vassiili.jpg">
		<img class="image_left p200" src="/images/misso/zagrebalov_vassiili.jpg">
	</a>

	<div class="p">
		<b>Zagrebalov</b> Vassili Dmitrievitš, s 1910, venelane, VK(b)P liige 1937, organites al 1934<br>
		ENSV Riikliku Julgeoleku Rahvakomissariaadi Võru maakonnaosakonna ülem kuni 1946, hiljem RJM 2-N osakonna ülema asetäitja
	</div>

	<div style="clear: both">
	</div>

	<div class="p"></div>

	<div class="p">
		<b>Školnikov</b>, Vassili Semenovitš, s 1925, venelane, pärit Moskva oblastist Podolski rajoonist Romantsevo külast, VK(b)P liige juunist 1951, haridus 6 kl, Vastseliina rajooni  Bandiitide hävitamise pataljoni ülem
	</div>

	<div class="p">
		<b>Petrovski</b> Vladimir Mihhailovitš, s 1933, venelane, pärit Kuvšinovo külast Meremäe vallast Petseri maakonnast, haridus 4kl, parteitu, organites al 1950<br>
		Vastseliina osakonna hävituspataljoni võitleja
	</div>

	<div class="p"></div>

	<a class="magnific-popup-image" href="/images/misso/moskalenko.jpg">
		<img class="image_left p200" src="/images/misso/moskalenko.jpg">
	</a>

	<div class="p">
		ENSV RJM julgeolekuminister
	</div>

	<div class="p">
		<b>Moskalenko</b>, Valentin Ivanovitš, s 1908, venelane, GPU-s al 1929
	</div>

	<div class="p">
		1950-1953 ENSV RJM julgeolekuminister, EKP KK büroo liige
	</div>

	<div style="clear: both">
	</div>

	<div class="p"></div>

	<div class="p">
	</div>
	<div class="p">
		<u>Puutlipalu punkri ründamise (29. 03.1953) aktile allakirjutanud julgeolekutegelased:</u>
	</div>

	<div class="p">
		<b>Averjanov</b>, NSVL Siseministeeriumi (SM) 3. sisekaitsesalga komandör, polkovnik
	</div>

	<div class="p">
		<b>Deikin</b>, NSVL SM 3. sisekaitsesalga staabiülema abi, kapten
	</div>

	<div class="p">
		<b>Andrejev</b>, Igor Mihhailovitš, s 1914, Eesti NSV SM 2-N osakonna ülema asetäitja, RJK Keila rajooni operatiivvolinik 1959 -1962
	</div>

	<a class="magnific-popup-image" href="/images/misso/mrk_valter_portree.jpg">
		<img class="image_left p150" src="/images/misso/mrk_valter_portree.jpg">
	</a>

	<div class="p">
		<b>Mürk</b>, Valter Reinholdi p, s 1925 Kirovi oblastis, ENSV SM 2-N osakonna 1. jaoskonna ülema asetäitja, van leitnant.
	</div>

	<div class="p">
		Sõja ajal Eesti Laskurkorpuses, 1945 ENSV NKVD-s, 1946 Võru MGB-s, al 1948 Tallinnas RJM 4. ja 2. osakonnas, 1962-1965 Tartus operatiivvolinik, hiljem 2. osakonnas (1972 osakonnaülema asetäitja)
	</div>

	<div style="clear: both">
	</div>

	<div class="p"></div>

	<div class="p">
		<b>Kalikov</b>, Mihhail ENSV SM 2-N osakonna vanemoperatiivvolinik, kapten
	</div>

	<div class="p">
		<b>Mihhaljov</b>, Konstantin Jakovlevitš, s 1919,  ENSV SM Tartu oblastivalitsuse Vastseliina rajooniosakonna ülem, VK(b)P liige al 1941, RJM organites al 1943
	</div>

	<div class="p">
		<b>Mägi</b>, Johann Johani p, s 1913 Viljandimaal, ENSV SM Tartu oblastivalitsuse Tartu rajooniosakonna ülema asetäitja, major. VK(b)P liige al august 1940, julgeolekuorganites al 1940, lõpetamata juriidiline kõrgharidus
	</div>

	<div class="p">
		<b>Ahermaa</b>, Lembit Eduardi p, s 1927, Kohtla-Järve elanik, ENSV SM Tartu oblastivalitsuse Vastseliina rajooniosakonna vanem operatiivvolinik, leitnant, keskharidusega, abielus. 1953-1956 oli RJM Vastseliina osakonna ülem. 1965. a oli operatiivvolinik Paide rajoonis elukohaga Vainu tn 6-6
	</div>

	<div class="p">
	</div>
	<div class="p">
		<u>Viglasoo punkri ründamise (27.03.1953) aktile allakirjutanud julgeolekutegelased:</u>
	</div>

	<div class="p">
		<b>Mürk</b>, Valter Reinholdi p, s 1925 Kirovi oblastis, ENSV SM 2-N osakonna 1. jaoskonna ülema asetäitja, van leitnant. Sõja ajal Eesti Laskurkorpuses, 1945 ENSV NKVD-s, 1946 Võru MGB-s, al 1948 Tallinnas RJM 4. ja 2. osakonnas, 1962-1965 Tartus operatiivvolinik, siis jälle 2. osakonnas (1972 osakonnaülema asetäitja)
	</div>

	<div class="p">
		<b>Mihhaljov</b>, Konstantin Jakovlevitš, s 1919,  ENSV SM Tartu oblastivalitsuse Vastseliina rajooniosakonna ülem, VK(b)P liige al 1941, RJM organites al 1943
	</div>

	<div class="p">
		<b>Ahermaa</b>, Lembit Eduardi p, s 1927, Kohtla-Järve elanik, ENSV SM Tartu oblastivalitsuse Vastseliina rajooniosakonna vanem operatiivvolinik, leitnant, keskharidusega, abielus. 1953-1956 oli RJM Vastseliina osakonna ülem. 1965. a oli operatiivvolinik Paide rajoonis elukohaga Vainu tn 6-6
	</div>

	<div class="p">
		<b>Stepura</b>, NSVL SM 3. sisekaitsesalga komandör, kapten
	</div>

	<div class="p">
		<b>Apolenis</b>, NSVL SM 1. sisekaitsesalga komandör, nooremleitnant
	</div>

	<div class="p">
		Andmed pärinevad Riigiarhiivist, fond ERAF 134SM ja ERAF 129SM
	</div>


</div>
