<h1>Misso, Haanja ja Ruusmäe</h1>

<div id="region-map" data-region-map="misso" class="image-left" style="height: 200px; width: 300px; z-index: 0"></div>
<p>
  Huvi Eesti kagunurga metsavendade vastu tekkis vanaonu Arnold Kallaste saatust uurides, kes varjas end üksi 8 aastat,
  vaheldumisi metsas ja sugulase pool. See pani mõtlema paljudele uue riigikorra jõhkrusele jalgujäänutele, nende
  vastupanule oma väärikuse ja võimaluste piires, nende argielupainele ja pealesunnitud tegevusetusele pika varjamise
  vältel. Soovist rohkem teada saada selle maanurga nende elanike kohta, kes olid vastu tahtmist oma varasemast
  argielust välja surutud, kodudest ja omastest ilma jäetud, pidevas valvesolekus, et mitte sattuda tapmise või
  vangistamise ohvriks, vaatasin arhiivis nii vanaonu kui temaga suhelnud saatusekaaslaste toimikuid. Mind huvitas kõik
  inimeste aastatepikkusesse metsaellu puutuv, inimpsüühika vastupidavus või -pidamatus sellises olukorras. Vaadeldavaks
  jäi põhiliselt üks kooslus inimesi, mis hiljem jagunes kaheks (nn Vähi-Kuusi-Kauri ja Eriku grupiks), nendega suhelnud
  metsavennasalgad (Pilvede ja Läti eestlaste omad) ning üksikvarjajad. Kõigi nende aastatepikkune metsaelu lõppes
  lahingutes julgeolekujõududega Saikas, Härämäel, Viglasoos, Puutlipalus ja Pabra soos, Haavistu metsas ja mujal.
  Hämmastust tekitas metsavendade võime psüühilise pinge all kokku hoida ja erimeelsustega toime tulla, jagada aastaid
  väikest ühist eluruumi ja mitte kaotada selles olukorras elu mõtet ja lootust.
</p>
<p>
  Toimikutes leiduvat kokku võttes tundusin kahjuks endale mingi julgeoleku hääletoruna, kuna seal on kõik lood tõlgitud
  ja nihutatud julgeolekutöötaja üleolevasse, süüdistavasse, halvustavasse vaatepunkti. Seal kajastuvaid sündmusi
  varjajate vaatepunkti tagasi tõlkides sain mõningast aimu hävingust, mida uus riigikord oli neile kaasa toonud,
  rasketest läbielamistest, võitlusvaimust, ellujäämisstrateegiast ning painetest.
</p>
<p>
  Vaadeldes rööve, mida neile süüks pandi, kuid mille käigus juhuslikele kohalolijatele reeglina liiga ei tehtud (kui
  tegu polnud RJM ehk Riikliku Julgeolekuministeeriumi kaastöötajaga või punaaktivisti perega), tasub meenutada, et neid
  toime pannud inimestel olid varem olnud kodud, korralikud talumajapidamised ja ametid, ühelgi neist polnud eelmise
  riigikorra ajal olnud kriminaalseid kalduvusi. Eesti Vabariigis olid nad olnud talupidajad ja -töölised, rätsep,
  õpilased (üks hiljem arstitudeng Tartus), tellisevabrikutööline, vallavanemad, meierei juhataja, raamatupidaja,
  politseikonstaabel, metsaülemad, jne. Punase võimu kehtestajad jätsid neile vaid 2 valikut: kas piinatav ja ori
  Venemaal või tagaaetav, end relvaga kaitsev ja röövidega elatav metsavend (kes teadis, et tema pärast on ohus kõik
  tema sugulased ja abilised).
</p>
<p>
  Proovisin koondada toimikutes leidunud märkmeid metsavendade tegutsemiste ja liikumiste kohta. Kaartidele sai kantud
  toimikutes nimetatud punkrite ja laagrite asukoha metsamassiiv, seal elanud inimesed ja punkri kasutamise aeg,
  tulevahetused ja metsavendadele süüks pandud röövid ning rünnakud. Lisatud on nimekiri toimikutes märkimist leidnud
  metsavendadest ja varjajatest.
</p>
<p>
  Masinkirjas esitatud materjal (valikulised tõlked) ning fotod on pärit asjassepuutuvate isikute toimikutest
  Riigiarhiivi fondides ERAF 129SM, ERAF 130SM ja ERAF 134SM.
</p>
<p>
  Oma osa lehe koostamisel on Vastseliina koduloomuuseumil Kaja Tuule isikus. Erakogu fotode eest suur tänu Arnold Langi
  tütrele Tiina Tuvile ning Richard ja Elsa Vähi tütrele Üvi Kuusile. RJM töötajate kohta käiva viite eest tänu Tiit
  Noormetsale ja kontaktide eest Kalju Aaropile. Samuti Läti metsavendade uurijale Astrida Ievedniece'le.
</p>
<p>See koduleht ei pruugi olla lõplik. Juhul, kui lisandub huvitavat materjali, saab seda täiendada.</p>
<p>
  <b>Mari Pukkonen, veebruar 2011</b>
</p>
<p>
  e-kiri:
  <a href="mailto:maripukkonen@gmail.com">maripukkonen@gmail.com</a>
</p>
<p>
  <i>
    NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe
    autori nõusolekul.
  </i>
</p>
