<div class="content">

	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Sissejuhatus</h1>

	<a class="magnific-popup-image" href="/images/misso/piirkond.jpg">
		<img class="image_left" src="/images/misso/piirkond.jpg" alt="Piirkond">
	</a>

	<div class="p">
		Huvi Eesti kagunurga metsavendade vastu tekkis vanaonu Arnold Kallaste saatust uurides, kes varjas end üksi 8
		aastat, vaheldumisi metsas ja sugulase pool. See pani mõtlema paljudele uue riigikorra jõhkrusele
		jalgujäänutele, nende vastupanule oma väärikuse ja võimaluste piires, nende argielupainele ja pealesunnitud
		tegevusetusele pika varjamise vältel. Soovist rohkem teada saada selle maanurga nende elanike kohta, kes olid
		vastu tahtmist oma varasemast argielust välja surutud, kodudest ja omastest ilma jäetud, pidevas valvesolekus,
		et mitte sattuda tapmise või vangistamise ohvriks, vaatasin arhiivis nii vanaonu kui temaga suhelnud
		saatusekaaslaste toimikuid. Mind huvitas kõik inimeste aastatepikkusesse metsaellu puutuv, inimpsüühika
		vastupidavus või -pidamatus sellises olukorras. Vaadeldavaks jäi põhiliselt üks kooslus inimesi, mis hiljem
		jagunes kaheks (nn Vähi-Kuusi-Kauri ja Eriku grupiks), nendega suhelnud metsavennasalgad (Pilvede ja Läti
		eestlaste omad) ning üksikvarjajad. Kõigi nende aastatepikkune metsaelu lõppes lahingutes julgeolekujõududega
		Saikas, Härämäel, Viglasoos, Puutlipalus ja Pabra soos, Haavistu metsas ja mujal. Hämmastust tekitas
		metsavendade võime psüühilise pinge all kokku hoida ja erimeelsustega toime tulla, jagada aastaid väikest ühist
		eluruumi ja mitte kaotada selles olukorras elu mõtet ja lootust.
	</div>
	<div class="p">
		Toimikutes leiduvat kokku võttes tundusin kahjuks endale mingi julgeoleku hääletoruna, kuna seal on kõik lood
		tõlgitud ja nihutatud julgeolekutöötaja üleolevasse, süüdistavasse, halvustavasse vaatepunkti. Seal kajastuvaid
		sündmusi varjajate vaatepunkti tagasi tõlkides sain mõningast aimu hävingust, mida uus riigikord oli neile kaasa
		toonud, rasketest läbielamistest, võitlusvaimust, ellujäämisstrateegiast ning painetest.
	</div>
	<div class="p">
		Vaadeldes rööve, mida neile süüks pandi, kuid mille käigus juhuslikele kohalolijatele reeglina liiga ei tehtud
		(kui tegu polnud RJM ehk Riikliku Julgeolekuministeeriumi kaastöötajaga või punaaktivisti perega), tasub
		meenutada, et neid toime pannud inimestel olid varem olnud kodud, korralikud talumajapidamised ja ametid, ühelgi
		neist polnud eelmise riigikorra ajal olnud kriminaalseid kalduvusi. Eesti Vabariigis olid nad olnud talupidajad
		ja -töölised, rätsep, õpilased (üks hiljem arstitudeng Tartus), tellisevabrikutööline, vallavanemad, meierei
		juhataja, raamatupidaja, politseikonstaabel, metsaülemad, jne. Punase võimu kehtestajad jätsid neile vaid 2
		valikut: kas piinatav ja ori Venemaal või tagaaetav, end relvaga kaitsev ja röövidega elatav metsavend (kes
		teadis, et tema pärast on ohus kõik tema sugulased ja abilised).
	</div>
	<div class="p">
		Proovisin koondada toimikutes leidunud märkmeid metsavendade tegutsemiste ja liikumiste kohta. Kaartidele sai
		kantud toimikutes nimetatud punkrite ja laagrite asukoha metsamassiiv, seal elanud inimesed ja punkri kasutamise
		aeg, tulevahetused ja metsavendadele süüks pandud röövid ning rünnakud. Lisatud on nimekiri toimikutes märkimist
		leidnud metsavendadest ja varjajatest.
	</div>
	<div class="p">
		Masinkirjas esitatud materjal (valikulised tõlked) ning fotod on pärit asjassepuutuvate isikute toimikutest
		Riigiarhiivi fondides ERAF 129SM, ERAF 130SM ja ERAF 134SM.
	</div>
	<div class="p">
		Oma osa lehe koostamisel on Vastseliina koduloomuuseumil Kaja Tuule isikus. Erakogu fotode eest suur tänu Arnold
		Langi tütrele Tiina Tuvile ning Richard ja Elsa Vähi tütrele Üvi Kuusile. RJM töötajate kohta käiva viite eest
		tänu Tiit Noormetsale ja kontaktide eest Kalju Aaropile. Samuti Läti metsavendade uurijale Astrida
		Ievedniece'le.
	</div>
	<div class="p">
		See koduleht ei pruugi olla lõplik. Juhul, kui lisandub huvitavat materjali, saab seda täiendada.
	</div>
	<div class="p">
		Mari Pukkonen, veebruar 2011
	</div>
	<div class="p">
		e-kiri: <a href="mailto:maripukkonen@gmail.com">maripukkonen@gmail.com</a>
	</div>
	<div class="p">
		NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe
		autori nõusolekul.
	</div>

</div>