<div class="content">

  <h1>Aksel Sprenki päevik</h1>

  <p class="p"><a href="/rouge/aksel_sprenki_paevik_umberkirjutis">Ümberkirjutatud kujul lugemiseks vajuta siia</a></p>

  <div id="pictures-page-gallery" class="lg-gallery">

    <a href="/images/rouge/paevik_1.jpg">
      <img src="/images/rouge/paevik_1.jpg" />
    </a>
    <a href="/images/rouge/paevik_2.jpg">
      <img src="/images/rouge/paevik_2.jpg" />
    </a>
    <a href="/images/rouge/paevik_3.jpg">
      <img src="/images/rouge/paevik_3.jpg" />
    </a>
    <a href="/images/rouge/paevik_4.jpg">
      <img src="/images/rouge/paevik_4.jpg" />
    </a>
    <a href="/images/rouge/paevik_5.jpg">
      <img src="/images/rouge/paevik_5.jpg" />
    </a>
    <a href="/images/rouge/paevik_6.jpg">
      <img src="/images/rouge/paevik_6.jpg" />
    </a>
    <a href="/images/rouge/paevik_7.jpg">
      <img src="/images/rouge/paevik_7.jpg" />
    </a>
    <a href="/images/rouge/paevik_8.jpg">
      <img src="/images/rouge/paevik_8.jpg" />
    </a>
    <a href="/images/rouge/paevik_9.jpg">
      <img src="/images/rouge/paevik_9.jpg" />
    </a>
    <a href="/images/rouge/paevik_10.jpg">
      <img src="/images/rouge/paevik_10.jpg" />
    </a>
    <a href="/images/rouge/paevik_11.jpg">
      <img src="/images/rouge/paevik_11.jpg" />
    </a>
    <a href="/images/rouge/paevik_12.jpg">
      <img src="/images/rouge/paevik_12.jpg" />
    </a>
    <a href="/images/rouge/paevik_13.jpg">
      <img src="/images/rouge/paevik_13.jpg" />
    </a>
    <a href="/images/rouge/paevik_14.jpg">
      <img src="/images/rouge/paevik_14.jpg" />
    </a>
    <a href="/images/rouge/paevik_15.jpg">
      <img src="/images/rouge/paevik_15.jpg" />
    </a>
    <a href="/images/rouge/paevik_16.jpg">
      <img src="/images/rouge/paevik_16.jpg" />
    </a>
    <a href="/images/rouge/paevik_17.jpg">
      <img src="/images/rouge/paevik_17.jpg" />
    </a>
    <a href="/images/rouge/paevik_18.jpg">
      <img src="/images/rouge/paevik_18.jpg" />
    </a>
    <a href="/images/rouge/paevik_19.jpg">
      <img src="/images/rouge/paevik_19.jpg" />
    </a>
    <a href="/images/rouge/paevik_20.jpg">
      <img src="/images/rouge/paevik_20.jpg" />
    </a>
    <a href="/images/rouge/paevik_21.jpg">
      <img src="/images/rouge/paevik_21.jpg" />
    </a>
    <a href="/images/rouge/paevik_22.jpg">
      <img src="/images/rouge/paevik_22.jpg" />
    </a>
    <a href="/images/rouge/paevik_23.jpg">
      <img src="/images/rouge/paevik_23.jpg" />
    </a>
    <a href="/images/rouge/paevik_24.jpg">
      <img src="/images/rouge/paevik_24.jpg" />
    </a>
  </div>

</div>