<div class="content">

  <h1>Aksel Sprenki päevik</h1>

  <div class="p">Kaldkirjas on lisatud ümberkirjutaja selgitused</div>

  <div class="p">1944 a augusti kuuks oli Saksa /../riigi piiridel Põhjapool Narva /.../järve ja Pihkva ümbrusesse/.../
    tud punaste edasitungi peatada/.../et ega seegi rinne kaua püsida/.../kirjanduse pasundustele seda/.../hoida.
    Veebruarikuul oli Eesti/.../mehed kõik sõjaväeteenistusse/.../mobilisatsioonist kõrvale ja/.../ja muil vähematel
    põhjustel mille/.../vabaks sõjaväekohustusest. Mida/.../dustati omad üksused ja täi/.../svaid üksusi nagu Eesti
    Leegion/.../Narva rindel punaste peatusest tei/.../gust eesti väeosade teeneks kes siin/.../Narva rinnet otseselt
    purustada ei/.../ Hakkasid punased kõvasti peale suruma/.../rindel kui Petseri oli langenud tuli valida kahe halva
    vahel, kas lipata metsa ja oodata punaste saabumist ehk minna sõjaväkke. Otsustasin valida viimase ja augustikuu
    esimestel päevadel saadeti meid Peipsi järve äärde kust vahetati eesti rügement välja Tartu rindele, nimelt Emajõe
    joonele, kuhu olid punased välja tunginud ja kus neid suudeti väheseks peatada. Olukord oli äärmiselt kehv, kodu oli
    punaste poolt vallutatud ja liikus ringi igasuguseid õudseid jutte mis seal tehtavat. Juttu mida nii palju
    targutati, ja mida isegi hakkasin uskuma, et Hitler purustatakse ja sõda lõpeb pea. Teisi riike, kes on olnud enne
    iseseisvad nende seas ka Balti riigid, neid ehk kommunistide kätte ei jäeta. Aeti veel juttu Rootsi sõtta
    astumisest, kes pidi otsekohe saatma väed Baltimaale./.../jäid juttudeks, aga kindel/.../vallutas septembri
    lõpul/.../ime, kuni Läänemaale, kust/.../me eest sõjapõgenikke ka/.../otsustasime nendega ühineda/.../sest kaua sa
    ikke litsud ja/.../ülesaamine võimatu./.../mina Saksa sõjaväega kaasa/.../Tahtsin varjata end kodumaal/.../näha mis
    rahu toob. Kui rinne üle/.../põgenejatele teatavaks et tuleb/.../hakata seal tööle. Ise ei/.../perekonna saatusest
    midagi, sest/.../ära kiudutatud
    <i>(küüditatud)</i>
    Venemaale. /.../Hakkasin tagasi liikuma kodu/.../vahejuhtumisteta kuni Valga/.../sid naise sugulased. Siin leidis
    E...<i>(loetamatu nimi)</i>/.../ja tema jäi. Meie puhkasime ka/.../ ja hakkasime jälle liikuma. Kodulähistele
    jõudsin 4. oktoobril ja kuulsin suureks rõõmuks, et kodus on kõik käes ja terved. Siin ringi kuulates selgus, et on
    palju metsamehi, ühed niisugused nagu isegi, kes on põgenenud Saksa sõjaväest ja teised kes tõmbasid end kõrvale
    punaste mobilisatsioonist, mis siin välja oli kuulutatud otsekohe pärast komode
    <i>(kommude, kommunistide)</i>
    saabumist. Sain ühenduse sõpradega, kes olid ehitanud endale metsa maa sisse väikese punkri. Nemad seletasid, et on
    elanud juba paar kuud, komode mobilisatsioonist saadik. Nüüd olla elu lahedam, kui siis kui setusid olid kõik kohad
    täis, sest siin olla olnud sõjaväed puhkusel paar nädalat ja olid kõik talud ja metsad sõdureid täis. Siis ei võinud
    sammugi väljas liikuda ei öösel ega päeval.</div>

  <div class="p">Nägin, et metsas on tõepoolest võimalik elada, kui ehitada endale umbes sarnane punker, kuid natuke
    avaram. Sõda kestis veel edasi ja olukord selguseta, nii otsustasime ehitada talveks teise punkri ja oodata ära, mis
    tulevik toob. Ehitasime kolmekesi endale punkri, hankisime talveks toidumoona ja seadsime elu kuidagi sisse, et talv
    üle elada. Sõbral oli ka raadio, mille säädsime punkrisse üles, et kuulata sõjateateid ja vahest meelelahutuseks ka
    muusikat. Elu tikkus väga igavaks minema ehkki oli raadio ja mängisime kaarte. Raamatuid oli väga vähe saada sest ei
    tahetud palju liikuda, et neid otsida. Käisime ka vahest teiste sõprade pool külas ja nii neid päevi sai kuidagi
    mööda saadetud. Sellel talvel oli metsameeste rekordaasta. Arvestasime, et üksi Rõuge vallas oli ümber 100
    metsamehe. Suuremaid haaranguid ei olnud, välja arvatud juhud, kus miilits käis hävitajatega nuuskimas. Jaanuari
    lõpul või veebruari algul tabas metsamehi esimene suurem õnnetus. Vennad Ruus’id ja vennad Kroon’id elasid neljakesi
    ühises punkris. Ühel õhtal läinud kahekesi mehed välja, nagu kuulda Rõuge meierei puukuuri juurde, et ära tuua
    laskemoona, mis nende teades pidi sinna olema maetud. Mehi märkas miilits Hirv, kes ühe hävituspataljoni mehega
    hakkas taga ajama. Mehed said küll silmast ära, aga jälgi mööda tuli Hirv järele kuni punkrini, kuhu mehed olla
    põgenenud, ilma jälgi segamata. Miilits Hirv tulnud punkri juurde ja lubanud granaadi sisse visata, kui alla ei
    anna. Granaati Hirvel ei olnudki, nagu hiljem selgus, ainult kone ja hävitajal püss. Mehed kohkusid ära ja andnudki
    alla, kuigi olid hästi relvastatud. See oli esimene häbistav juhus, kus kaks meest võtavad neli relvastatud
    metsameest kinni. Selle vägitüki eest sai Hirv kõvad kiitused ja aumärgid ette, mis teda innustas aktiivsele
    tegevusele. Hirvega juhtus minulgi väike seiklus. Kord sügisepoole talve kui päeval olin kodus, sõitis Hirv ja
    varumisvolinik Kõiv sinna. Mina enam põgenema ei saanud, vaid ronisin pööningule, kui mehed tuppa läksid, tõmbasin
    köögilael paar lauda päält ära, kust ronisin alla ja säält metsa.
  </div>

  <div class="p">Esimene talv möödus kaunis rahuldavalt, ja elasime kõik kevadeni üle, mis tõi rohkem sündmusi. 5.
    aprillil oli suurem haarang Roobi metsas Sõjamäe ümbruses ja Roobi küla metsades. Meie saime kuidagi sellest
    haarangust haisu ninna ja jätsime punkri maha, mis oli ka selles ümbruses. Roobi küla puistati põhjalikult läbi.
    Hulk isikuid kuulati üle, et hankida andmeid metsameeste asukohtade üle. Teisel päeval korraldati haarang Saarlase
    ümbruses. Sellel haarangul juhuslikult tabati August Tatrik, kes oli ka metsamees. Haarangu ajal viibis August
    Tatrik Moasool Linnas’e talus kust tabatigi. Sellel samal päeval puistati läbi Pihlapuu talu ja lasti kuulipildujast
    läbi Toome maja. See oli esimene suurem haarang Rõuge vallas, kus oli ümber 100 punaarmeelase osa võtmas ja kestis
    2, 3 päeva. Haarangu tagajärjed olid kehvad, sest tabati ainult August Tatrik, kuna loodeti puhastada Rõuge vald
    metsameestest, igal juhul Roobi bande minuga eesotsas. Mina viibisin haarangu ajal viis päeva teises metsas. Lund
    oli veel maas, aga ilmad olid võrdlemisi ilusad, mis tõttu sai kuidagiotsa olla. See haarang näitas, et pole ennast
    võimata ka suuremate haarangute eest varjata, kui sa pole rahvaga vastuolus ja rahvas sind toetab ja abistab.
    Kuulati neid isikuid üle kes teadsid metsameestest nii mõndagi, aga valitsuse kõrvu ei läinud midagi, kõik salgasid
    kategooriliselt. Kõva salgamine osutuski kõige paremaks ka isikule endale, sest kui sa juba midagi teadsid, siis
    pinniti su käest kõik välja ja olid kadunud mees, kui pandiitide abistaja.
  </div>

  <div class="p">9. mail 1945 kapituleerus Saksamaa liitlastele ja meie lootused said tublisti kõigutatud, sest sõja
    lõpp ei toonud mingisuguseid muudatusi. Et sõda püsis edasi Jaapaniga, siis polnud lootused kõik kadunud. Suvel oli
    metsameestel elu palju parem, võisid liikuda igal pool ja ümbruse laialdased metsad pakkusid küllaldast kaitset.
    Kodus pandi küll kraam aresti alla, kuid alguses midagi ära ei võetud. Tahes tahtmata pidid kodused talu edasi
    pidama, kuigi normid olid suured. 2000 kg vilja ja 3000 kg kartulaid piim ja muu pääle. Kraami täitevkomitee küll
    õiguse järele kõike kirja panna ei tohtinud, sest see ei olnud mitte minu, vaid pärijate talu, kus olime ju kõik ühe
    õiguslised. Seda asja minu arvates olekski võinud ajada kui sõsarad oleks andnud maa saamise palve sisse, ja oleks
    seda asja kõva kostiga selgitanud, aga et seda ei tehtud ja paistis kõigest välja, et tookordsel täitevkomitee
    esimehel pr Jakobsonil ja sekr. Reiljanil oli minu vastu viha, sest tarvitasid koduste vastu alati kõige karmimaid
    abinõusid.
  </div>

  <div class="p">Mai lõpul suri vingu surma, oma punkrisse Ed Simmul, kes päris metsamees ei olnud, oli nii üks jalg
    metsas teine väljas. Päeval tegi kodus tööd, aga öösi magas metsas, sest kardeti kinnivõtmisi ja kes juba kinni
    võeti see Siberisse läks. Pärast Simmuli surma 27. mail läks kaduma miilits Hirv, sõidul kodust Matsi külast
    Rõugesse. Kolmandal päeval leidis endine konst. Mikelsoo Hirve tapetult Tõrvapalu metsast, Rooksu teelahkme kohalt.
    Selle tagajärjel korraldati kõvad otsimised aga süüdlased jäid leidmata. Hirve matused korraldati suurejoonelised ja
    haual peeti vihaseid kõnesid kus lubati kõik metsamehed ja nende toetajad ära hävitada. Mina mõne aja pärast
    hakkasin selles asjas kahtlustama Aleks Koemetsa ja S. Pihlapuud, need arvamised pärast osutusidki tõeks. Aga nendel
    oli see asi nii hästi läbi viidud, et ka lähematel sõpradel ei tekkinud nende kohta mingisugust kahtlust ja ma
    arvan, et praegugi teavad sellest õige vähesed. Paar päeva pärast Ed Simmuli matuseid arreteeriti tema vend Arnold
    Simmul. Temaga olime koos Peipsi ääres, kust jõudsime mõlemad tagasi. Tema jäi välja ja uskus, et tema pole niipalju
    kurja teinud et teda vahistatakse. Omal oli ikka hirm nahas, sest jootis ja määris tublisti kohalikke võimumehi.
    Tema valmistas mullegi ebameeldivaid asju. Praalis minu kodustele, et miks mina olen metsas, tulgu välja, keegi ei
    tee midagi, sest näete temaga ei juhtu midagi. Arnold on Arnold ja mina olen mina, naised ei teinud siin vahet ja
    sellepärast oli minul kodustega selles asjas lahkhelisid. Aga vahistati Simmul kui ka kõik teised, ühekaupa, kes
    olid lagedal ja hingel mõned väikesed patud, kas Saksa sõjavägi, Omakaitse, ehk Kaitseliit. Sedaviisi vahistati
    siitkandist Aks Pihlapuu, Br Järv, R Kaiv’il oli õnne sai kõrvale ja pärast kõva kostitamisega püsis kuidagi vee
    pääl. Suvel suuremaks sündmuseks oli Ruusmäe miilitsa Noortootsi tapmine, juuli lõpul ehk augusti algul kättetasuks
    El Pähna vangistamisele. Ühel ööl heideti Ruusmäe miilitsa Noortootsi majja granaat. Granaat ei haavanud kuigi
    tõsiselt Noortootsi ja esimest tuppa tormajat Janter’i tulistas Noortoots surmavalt. Teisel hommikul õue minnes
    tulistati Noortoots mitmest relvast surnuks. Umbes samal ajal läks kaduma Haanja miilits Rätsepp. Siis läks
    sügisepoole kaduma Sännast väga aktiivne hävitaja Uibo, kelle laip hiljem leiti üles. Uibo kadumist pean mina Lükka
    metsameeste teeneks. Meile suurem ja ohvrit nõudev haarang korraldati sügisel. 28. okt tulistati läbi akna surnuks
    Rõuge valla täitevkomitee esimehe abi Jaan Tootsen ja varumisvolinik B. Kõiv. Sellele järgnes massiline vahistamine.
    Kõik kellel midagi ühist arvati olevat metsameestega viidi Rõugesse ülekuulamisele. Nende seas ka naine ja sõsar
    Salme, kes käisid otsaga kuni Võrus. Et paljud lasti Rõuges vabaks siis tekkis arvamine ega neid enam vabastata aga
    ometigi tulid terve nahaga tagasi. 30. okt
    <i>(5. nov)</i>
    korraldati Sadrast Laatspera juhatusel haarang Koemetsa ja Pihlapuu punkrile. Haarang oli hommikul vara ja mehed
    kolmekesi punkris. Meestel läks korda energilisel vastuhakkamisel punkrist välja tulla. Põgenemisel sai surmavalt
    haavata Aleks Koemets
    <i>(Aleksei Koemets)</i>, kuna teised tõmbasid end paksu tihniku, kust neid ei läinud korda leida. Selle haarangu
    ajal elasin sõpradega 10 päeva lageda taeva all. Et ilm oli kuiv ja mitte väga külm siis ei olnud väga viga. Iga
    õhta käis üks mees väljas kuulamas, et kuidas asjad arenevad.
  </div>

  <div class="p">Üldiselt oli meeleolu väga räbal. Kodused vahistatud, A. Koemetsa langemine, talv oli käes, punkrit ei
    olnud, sest vanasse ei julgenud tagasi minna, see kõik viis meeleolu väga alla. Aga kui läks vaiksemaks läksime luha
    soosse
    <i>(Luhasoo)</i>
    kuhu ehitasime endale kiires korras punkri. Selle soo pääl elasid ka Ruusmäe metsamehed nagu hiljem selgus. Neil oli
    ehitatud väga tore punker, elasid nelja viiekesi. Ruusmäe meestega käisime hiljem, talvel, väga tihedalt läbi. Nii
    möödus esimene suvi metsameestele küllalt sündmuste rikkalt. Olid saatnud nii mõnegi verise kohaliku komo teise
    ilma, mis pani mõtlema ka ellujääjaid, sest mine tea kunas kord tema kätte tuleb. Selle tagajärjel tõmbasid end
    natuke tagasi ja ei olnud nii pääletükkivad kaebtustega. Sügisepoole tekkis Pihlapuul mõte, et oleks tarvis
    korraldada komodele üks Jüriöö, et metsavennad õiendaksid oma valla komodega ühel ajal arved. See mõte liikus tükk
    aega ringi. Sai käidud ka Lükka soos, kus oli koos mitme valla metsamehi, et nendega nõu pidada. Lükka mehed pidasid
    end nagu Võrumaa metsameeste keskuseks. Aga näis et sellest asjast ei tule midagi välja kohase juhi puudusel. Sest
    Lükkal niisugust meest ei näinud olevat ja see mõte maeti maha.</div>

  <div class="p">
    Lükka meestel oli sellel talvel suurem ja ohviterikkam põnts. 1945. a Jõululaupäeva ööl toodi äraandlikult venelased
    punkri juure kus elas palju mehi. Haarangul sai surma 9 meest kuna paaril läks korda põgeneda. See oli väga kurb
    sest sinna oli tõesti koondunud tublisi ja agaraid mehi, kellest pärast oleks võinud nii mõndagi loota. Kõige hullem
    oli veel see, et neil oli side Võru gümnaasiumiga, mille tagajärjel vangistati mitukümmend koolipoissi.
  </div>

  <div class="p">Meie elasime Luhasoo punkris kaunis rahulisti kuni veebruarikuuni. Siis hakkas tulema kuuldusi nagu
    peetakse sood silmas. Nagu juba märkisin elasid selles soos ka Ruusmäe mehed, sellepärast paistis asi tõenäolik. Et
    kuuldused ei vaikinud ja ka Ruusmäe mehed olla leidnud sool kahtlasi jälgi otsustasime minna sõprade juure kuni
    kevadeni. See punker oli küll kõigile elamiseks kitsas aga valikut ei olnud vaid kolisime veebruari lõpupäevil
    sinna. Sellel 1946. a kevadel oli ka kodus tõsiseid sündmusi. Möödunud aastal pandi küll kodus kraam kirja, kuid ära
    ei võetud midagi, peale ühe lehma, mis anti Mandel’ile. Aga nüüd võeti maa ja kraam kõik üle ja pidid koguniste
    kodused välja aetama. Jäeti armu pärast üks lehm, kuna teised hiljem viidi ära, niisama kui kõik muu kraam.
    Koemetsal ja Kevvail võeti ka üle kuid jäeti 5 ha maad ja sinna juure ka natuke vara. Kuid meiega tehti puhas töö.
    Üksnes seda väljatõstmise otsust ei viidud täide, kas sellepärast, et uus TK esim. Kroosik ei olnud nii verine, või
    millelgi muul põhjusel. Naine nägi ära et Roobil enam olla ei saa ja sellepärast kolis alguses lapsega Põdrale. Et
    vana oli ikka kartlik ja kui Ludvi Sännast Matsi külast lubas enda poole korterisse võtta, koliski aprilli kuul
    sinna. See kõik viis meeleolu väga halvaks. Tuleviku väljavaateid ei paistnud perekonnal olevat mitte mingisuguseid.
    Kui ei olnud elamisvõimalusi kodustel, siis muutuks minugi olemine küsitavaks.
  </div>

  <div class="p">Seda 46. a kevadet mäletan kui halvemat, sest kui kevadel sain juba väljas liikuda, siis olin nii läbi,
    vaimliselt kui füüsiliselt, et rappusin jalgel. Metsameeste elus oli ka kevadel sündmusi. Aprilli alguses tegid meie
    mehed koos teistega põntsu Haanja kopr.
    <i>(kooperatiivile)</i>
    Mina küll sellest saatuse tahtel osa ei võtnud. Haanja kopr. toodi ära ja vallamaja lasti kuulipildujast läbi kuid
    tee peal sattusid mehed venelastele otsa. Tekkis lahing kus Ruusmäelt Teas sai surma. Teised paisati laiali kust
    viimased paar päeva hiljem tulid tagasi ja keda peeti juba surma saanuks. Õnneks hobused kraamiga tulid teist teed,
    mille pärast need jäid terveks ja kätte. Enne seda olid ka Roosa metsamehed mõne kaupluse ära toonud. Siis veel
    kadus Krabilt ära 2 aktiivset hävitajat, mis pärast leiti surnutena. Nende sündmuste tagajärjel olid Krabi ja Roosa
    ümbruses järjest haarangud. Et meie punker oli ka lähemas ümbruses siis olime järjest alarmeeritud olukorras.
    Haarangute tagajärjel aeti selle ümbruse suurem Roosa metsameeste koondis laiali, kellel küll kaotusi ei olnud, sest
    saadi just mõni tund enne haarangut jalga lasta. Kurvem asi juhtus Ruusmäe meestega, kelle punker avastati. Tekkis
    lahing, kus sai surma 3 meest, nim. Eelsoo, Kask ja Look
    <i>(Loog)</i>, kuna üks mees
    <i>(Elmar Perli)</i>
    pääses põgenema.
  </div>

  <div class="p">Pärast neid sündmusi muutus rahulikumaks. Lumi oli pea ära läinud kui kolisime oma vana punkrisse kust
    sügisel ära läksime. Sääl ei pidanud ennast siiski kuigi julgeks, käisime ainult öösel magamas kuna päeval viibisime
    väljas. Maikuu kolisime sügavamale metsa, kuhu tegime telgi ja kus elasime suurema jao suve. Suve poole muutus elu
    vähe rahulikumaks. Ema ja õdesid ei tõstetud korterist välja ja et Kets võttis endale osa maad kasutada, siis said
    kodusedki Ketsilt omale kartulimaad. Hobuse sai endale Veski Juhan. Ühe lehma keegi Nagel Mäenurgast, teise keegi
    Sännas elav Venemaa eestlane kuna pulli võttis vist täitevkom. endale. Põhu, heinad, vilja ja sead sai laenutuspunkt
    endale, niisama muud, mis kabla
    <i>(köie)</i>
    pääl püsis. Laenutuspunkt oli nimelt asi, kuhu pandi kõik inimestelt riisutud kraam aga täis ei saanud ta kunagi.
    Naisega muutus asi halvemaks kui kodustega. Alguses kui Matsile läks lubas Albert teda toetada aga temal võttis
    haigus tõsisema pöörde ja kevadel suri ära. Nii ei olnud temal toetust palju kusagiltki loota, aga elama pidi
    niikaua kui lastakse.
  </div>

  <div class="p">Et suvel suuremaid haaranguid ei olnud ja päike ja värske õhk ei jätnud ka mõju avaldamata kosusin
    sügiseks päris hästi. Sellel sügisel hakkasid metsamehed pea massiliselt välja minema, sest oli näha et niipea
    mingit muudatust ei tule ja nii edasi elada küsitav. Minu tervis oli niivõrd paranenud et endal välja mineku mõtet
    ei tekkinud, kuigi kodused seda päris tõsiselt andsid mõista. Mina nägin ära et väljas minul mingisugust elu ei saa
    olla, kuigi nendele meestele kes välja läksid, muidugi kõva kosti ja viinaga, palju midagi ei tehtud. Minu senised
    kaaslased läksid ka lagedale ja sellepärast lõime Võhniga kokku, kes ei võtnud ka väljaminekut kõne allagi, ja
    hakkasime plaani pidama kus ja kuidas talve üle elada. Arvasime et nüüd, kus suurem jagu mehi on välja läinud ja
    metsa jäänud mõned üksikud, tulevad kõvad otsimised, et metsa päris puhtaks teha. Olime väikselt vihased ka
    teistele, kes lasksid end välja meelitada ja südame täiega tahame näidata et ka meie metsas jõuame talve üle elada.
    Punkri ehitasime Veski pallu, kuhu kolisime sisse 13. oktoobril. Selle ajani elasin mina telgis.</div>

  <div class="p">
    Sellel sügisel suuremaid põntse metsameestelt ei olnud, kus kopsamisi ette tuli. Vähematest olgu nimetatud.
    Augustikuul toodi ära metskonna sood. Siis septembris Kikkaoja meierei. Siis võeti paaril korral metskonna raha, kus
    oli vist vähemad summad. Vähemaid komode karistusi tuli ka ette, kus aktiivsetel komodel võeti ära kokku riisutud
    kraami. Jõulu vaheajal 28. dets 1946. a oli suurem põnts, kus kahe mehe pool, päeva ajal tulistati surnuks väga
    aktiivne hävitaja Kallas. Huvitav oli siin, et Kallase pool oli korteris 2 venelast, kellelt võeti ka alguses relvad
    ära. Haarangud süüdlast ei selgitanud, kuid minu arvates olid siin tegelased Helt
    <i>(Heldur Haller)</i>
    ja Heino
    <i>(Heino Uibo)</i>. See talv oli lumekehv. Püsis kuni jõuludeni paljas maa, mis oli meile elamiseks väga soodus.
    Kui tuli lume härm, siis nagu võis arvata, hakati metsamehi passima. Meil oli elamiseks kaunis avar punker, kuhu oli
    muretsetud igasugust toidukraami, nii et väljas käisime äärmiselt vähe. Teine mees muretses omale akordeoni, mida
    juba väheke oskaski mängida, nii et muusika oli omast käest, ehkki sellel talvel raadiot ei olnud. Varstu hävitajad
    olid lume tulekuga väga aktiivsed. Põdrale tegid ühe haarangu, mis ei andnud tulemusi, kuigi oli neile kaevatud, et
    Põdral tihti käib Helt, kuna väikeveli pesitses ka suuremalt jaolt Põdral. Tema küll tegi ettevalmistusi
    väljaminekuks, tal hoopis nii kaugel veel ei olnud. Teine haarang mis oli 27. jaanuaril 1947 andis komodele
    tulemusi. Kui haarang pääle tuli oli Helt parajasti Põdral, talu piirati ümber ja kaks meest läksid sisse. Heldil ei
    olnud kuhugile minna ja läks kappi. Kui setud tahtsid vaadata ka kappi, hüppas välja ja tulistas mõlemaid
    toasolijaid. Tõenäolik et tema Helt oleks surmanud need mõlemad mehed aga tema püstol 6.35 oli äärmiselt
    nõrgajõuline. Meestel olid ka seljas suured taliriided nii et ainult haavas rinna juurest. Need mehed olid küll
    tegevusvõimetud ja temal läks korda majast välja tungida ja u 50 meetrit majast eemal tabas teda kuul peast, mille
    tagajärjel surm silmapilkne. Liide sai jalast haavata ja ühes Heldi surnukehaga viidi Varstu. Temaga tehti seal
    igatsugust janti, siis saadeti edasi Võrru, kust pärast haava paranemist sai küll vabaks. Ka Berta viidi Varstu kus
    ta ka oma kooseri ära sai, kuid lasti siiski pärast vabaks. Nagu pärast ikka enam ja enam selgus oli selle haarangu
    põhjuseks ikka kaebtus. Kaebajateks pidi olema Tammemägide perekond. Minul isiklikult oli juba tookord kahtlus ja
    hilisem aeg kinnitas neid kahtlustusi, nii et praegu enam ei kahtle, et Tammemäed olid selles asjas tegelased. Et
    langes üks väga tüse metsamees.
  </div>

  <div class="p">Meie jalgealune läks ka tuliseks, teine mees kukkus ööseks metsa äärde välja pandud postile otsa,
    millest teda päästis äärmiselt külm veri. See näitas, et meie asukohast on neil ka hais ninas. Otse kohe sellel
    samal ööl, see oli 5. veebruaril, väga kõva pakasega panime vajalikuma kraami kokku võtsime relvad ja kolisime juba
    Saksa ajal ehitatud Peeldesaare punkrisse. Meie mahajäetud punkrisse küll põntsu ei tulnud aga tagasi elama minna ka
    ei julgenud. See vana punkri oli küll väga vilets aga need paar kuud kevadeni sai ikka kuidagi ära elatud.
  </div>

  <div class="p">1947. a kevadel hakkasid meile puhuma natuke värskemad tuuled. Välisministrite konverentsid suutsid
    küll suurte jõupingutustega kokku klopsida rahulepingud Soome, Ungari, Rumeenia ja Itaaliaga. Itaaliaga rahulepingu
    ettevalmistamisel Triesti küsimuses näis juba tõsiseid raskusi, kus Nõuk. Liit ühel ja Am. Ing. ja Prantsusmaa
    teiselt poolt olid peaaegu tülis ja ei jõutudki kõigis punktides kokkuleppele. Pariisi kokku kutsutud rahukonverents
    lahendas selle asja kuidagi ära. Pärast pidi ka ettevalmistatama rahulepingu kava Saksamaa ja Austriaga, aga siin
    tulid juba nii suured lahkarvamised, et mitmel korral katkestati istungid ja lõpuks ei suudetudki saada
    kokkuleppele. Need „sõprade“ omavahelised tülid olid palsamiks meie hingele. Paistis et siin karunaha jagamisel võis
    minna lööminguks. Kui 9. märtsil 1947. a algas Kreekas kodusõda, millega oli tõmmatud juba selge joon kapitalistliku
    ja kommunistliku ilma vahel, sest N Liit toetas ühte kuna Ameerika ja Inglismaa toetasid kindlalt teist poolt,
    tähendab Kreeka valitsust.
  </div>

  <div class="p">Neis lootustandvates arvamistes elasime suvel Vanaga, sest juba aprillikuul kolisin Luhast ära,
    ümbruskonna metsadesse. Sügisepoole hakkasid sõjalootused jälle kaduma. Ära nähes, et mingisugust muutust peatselt
    loota ei ole läks ka Vana septembrikuul välja. Sellega jäin mina üksinda siia kanti elama. Sellel sügisel oli minu
    kui ka omaste meeleolu halb. Roobil olid suvel laenutuspunkti hobused kus punkti juhataja Koobakene tegi igasugu
    mahtrat ja lubas kindlalt ikka ema õdedega välja tõsta, mis jäi küll lubaduseks, sest temal ei olnud niipalju võimu.
    Niisuguses viletsas olukorras kus ei ole mingisuguseid paremaid väljavaateid elamiseks, mis muidugi viis koduste
    tuju alla, millest minulegi anti paras osa. Kõigele halvale pani krooni pähe Salme surm 18. sept mis oli väga
    salapärane ja millel minulgi omad arvamised, mida arvan siiski paberile mitte panna. Pärast matuseid kutsuti naine
    apteki pääle
    <i>(Rõuge apteegi peal asus kohalik riikliku julgeoleku operatiivpunkt)</i>
    kus Vänter pinnis teda igakülgselt, küll ähvarduste küll meelitustega, et teada saada minu asukohta. Jäigi niisugune
    arvamine, et kodustel tuleb nüüd rohkem tegemist teha aptegi meestega. Õnneks jäi see külaskäik viimaseks ja õde ei
    pinnitud üldse. Naine elas juba talvest saadik Jorgo pool kuhu pidi kolima pärast Helduri põntsu Põdral. Vinna ei
    pidanud enam naist korteris, arvates et hakatakse pinnima ka Tassat
    <i>(Aksel Sprenki abikaasa Anastasia)</i>, sest Liide ja Berta viidi kinni, ja tema kui puhta verega komo ei tahtnud
    endale nii halva varju heita et peab korteris teda. Vinna oli inimene, kes tegi naise elamise oma igasuguste
    võimatute juttudega peaaegu väljakannatamatuks. Puudus veel, et ei läinud otseselt kaebama apteki meestele, vist
    arvas, et küll talle niigi tehakse tuul alla. Kui elu-tervist on, siis Vinnat ja tema teeneid naisele tahaks küll
    meeles pidada, et temale kord seda väikselt meelde tuletada.</div>

  <div class="p">Et metsamehi oli vähe, siis sellel suvel ei olnud suuremaid sündmusi, kuid sügisepoole liigutasid end
    ikka vähe. Väiksemaid komode karistamisi oli siin ja sääl mõned üksikud kuid septembrikuul oli põnts Haanja kopr.
    Oktoobri algul läksid neli metsameest Luutsniku meiereisse võid tooma. Selleks lasksid tapetud miilitsa naisel panna
    hobuse ette, võtsid tema ka kaasa ja sõitsid meiereisse. Sääl kolistasid uksi ja et keegi ei avanud ega polnud näha
    ka valvet kes pidi olema väljas, lõid akna sisse ja läksid meiereisse. Sääl murdsid võihoiu ruumi ukse maha ja
    leidsid eest pool kasti talu võid, mis päeval oli vastu võetud inimestelt, kes täitsid sellega piima normi. Või oli
    päeval just ära viidud, sellepärast ei olnud ka väljas valvet. Poole kasti võiga oli narr tagasi minna, siis
    otsustati võtta koperat.
    <i>(kooperatiivist)</i>
    lisa. Miilitsa naise seletuse järgi pidi olema koperatiivil valve ja ka üle tee olevas külanõukogus pidi olema
    telefoni valve. Enne otsustati minna ja külanõukogus teha telef valve kahjutuks. Alguses uksele koputamise pääle ei
    tahetud küll avada aga et tungivalt nõuti lasti siiski sisse. Osutus, et telefoni valvet ei olnudki kuna ukse avas
    majahoidja. Telefon rikuti ära ja majahoidja pandi ühte tuppa luku taha. Säält mindi kaupluste, kus ka ei avatud
    ust. Kui aken sisse löödi ja granaat järele lubati visata, avati viimati uks. Kaks meest läksid sisse kuna kolmas
    jäi välja ja neljas mees miilitsa naisega oli külanõukogu juures. Kui mehed sisse läksid kuulis kolmas mees väljas
    teisel pool maja ukse kolinat. Järgi vaadates nägi et üks mees lidus minema, kellel käskis seisma jääda, aga et mees
    lidus edasi siis saatis paugu järele, mille pääle kohe paariga vastati. Selgus et see oli kaupluse valvur kes sibas
    külanõukogu sihis, aga et külanõukogu juures olev mees tõmbas ka paar pauku, siis oli mees varsti kadunud. Parem
    kaup löödi koormasse ja hakati tulema, siis kuuldus ka kaugemalt üksikuid pauke. Arendati kiirust kuis võis, sest
    hävitajad olid juba liikumas. Ehki saadi ruttu sündmuskohale, jäid siiski kurjategijad leidmata. See oli viimane
    põnts sellel sügisel.
  </div>

  <div class="p">Minul isiklikult ei läinud midagi nii kuis kavatsetud. Hilissügiseni läks aeg ära nii et ei saanud
    teise punkri ehitamisele nagu kavatsetud. Viimati kui tuli 7. nov. esimene lumi jäi ehitamine sinnapaika. Selles
    olid süüdi sõbrad, kes pidid muretsema materjali et vajaduse korral ka neil oleks hää nina toeda. See oli siis
    sõprade teene et minul tuli talv vastu võtta vanas kehvas punkris. See oli esimene talv mis ma saatsin metsas mööda
    üksinda. Kartsin üksindust palju rohkem kui ta tegelikult sellel talvel tunda andis. Hankisin raamatuid ja igasugust
    nokitsemist, millega talv möödus kaunis jõudsalt. Märtsikuul tegid setud kodus ka haarangu, mis muidugi ei andnud
    tagajärgi. Märtsikuu möödus kõige igavamalt. Aprillil olid väga ilusad päiksepaistelised ilmad mis jätsid talve
    mured peagi seljataha.
  </div>

  <div class="p">1948. a kevad tuli jälle väga lootustandvalt, nagu kevaded ikka. Poliitiline olukord muutus Saksamaa
    osas nii pinevaks, et sõda võis puhkeda iga päev. Siis olid juulikuul suured sõjaväe liikumised, mis viis kõik nii
    pinevile, et ei kõneldudki muust kui sõjast, mis kõigi ootuste kiuste jäi tulemata. Kevadel algas juba varakult
    igasugust janti igal pool. Miilitsate munalõikamisest liikus tükk aega meelepäraline jutt rahva seas. Teati rääkida,
    et kolm miilitsat olla toodud Võru haiglasse, kus haigla arst olla ütelnud, et siin pole temal enam midagi teha, et
    töö on tehtud asjatundlikult. Kevadel varakult kopsati Lasva partorg. 8. mail juhtus metsameestel erakordne õnnetus,
    kus pikne tabas metsamees A Kuslapuud surmavalt, kes oli läinud puu alla vihmavarju. 13. juunil tulistati surnuks
    Viitina peol Rõuge partorg Teplenkov. Võis arvata suuremat haarangut, aga et laskja oli enam vähem tuntud, keegi
    venelane Kolka kes liikus siin nurgas pool metsamehena, siis väga suuri haaranguid ei tulnud, küll arreteeriti mõned
    isikud, kes olid kokku puutunud Kolkaga, hiljem lasti kõik lahti, aga Kolka kadus kui vits vette, olla veel ütelnud,
    et selle töö eest saab tema kord risti rinda. Süda suvi oli enamvähem vaikne. Aga sügis tõi väga elava metsameeste
    tegutsemise, sest kõige ootuste pääle sõda ei tulnud ja mehed vist muutusid hoolimatuks. Augusti kuul läks kaduma
    Rõuge miilitsa abi Laine. Paari nädala eest leiti laip kusagilt võsast, mille üle rahvas naljatas, et pull on pusknu
    surnuks. Augusti kuul on võetud 2 korda Krabi koor ja tühjendati Krabi kauplus. 5. septembril tulistati surnuks
    Rõuge miilits Laatspera, Sadrametsas oma kodu läheduses, enne keskpäeva. Laatspera oli paari kuu eest lõpetanud
    miilitsa kursused ja asunud koha pääle Rõugesse. Tema äraandlik tegevus paari aasta eest ei olnud veel ununenud ja
    tema leidis oma teenitud palga. Rahvas rääkis, et Koemetsa Alla olla tulnud Laatsperale järgi ja viinud enda juure.
    Ümbruses suuremat haarangut ei olnud, küll liikus mingisugune valve vist Sadra piirkonnas nädalapäevad, kuni matused
    mööda. Septembri kuul oli suuremaks sündmuseks Rõuges kolhoosi asutamine, mis oli esimeseks. Kolhoos asutati Hino ja
    Matsi küla ümbruste mille nimeks pandi Kreuks. See andis rahvale rohkesti kõneainet, et kolhoos muutis ka vähemad
    komod maal selle korra vastasteks. Et maal ei olnud pääle ametnikkude pea kedagi selle korra poolehoidjaid, sellega
    on ka seletatav, et ei suudetud ka kindlaks teha ega tabada ühtegi tapmist ega muud põntsu. Septembri lõpul viidi
    Mõniste meiereist päeva ajal 40 kasti võid, kes viis ja kuhu jäi teadmata. Oktoobri algul tulistati auto pääl
    surnuks Varstu miilits Rõõmus. See olla juhtunud nii, et miilits olla hakanud kontrollima kellegi pabereid, aga
    paberite asemele anti tuld. Tulistaja läks kellestki kaasreisijatest segamata metsa. 8. oktoobril viidi Rõuge
    pangast raha umbes 26 tuhat rubla, võtjad kaks meest jäid tabamata. 29. oktoobril tühjendati Luutsniku koperatiiv.
    5. novembril tulistati Kangsti koperatiivis surnuks, õhta enne kaupluse sulgemist, kopr. juhataja Kaljuvee ja Rõuge
    operatiivpunktist Vänter. Oli olnud kaupluses vastastikust tulistamist, kuid laskjad üks mees ja teine naisterahvas,
    läksid tervelt minema, vaatamata et neid tulistas konest ka Kaljuvee poeg. Sellel sügisel võeti mitmes kohas ära
    põllumajanduse maksu raha, kas kohapääl ehk teel Võrru. Suurem põnts oli detsembri algul Leevil, kus tulistati raha
    autot. 3 miilitsat sai surma kuna saagiks langes rahva jutu järgi 150 tuhat rubla. Ka arvatakse et rong mis peeti
    kinni Kurenurme jaama lähedal, peeti kinni raha pärast, mis langes kinnipidajatele, selles asjas puuduvad
    üksikasjad. Siis peeti veel Rõuge Ruusmäe teel kinni auto, mis viis tee töölistele palka. Saagiks langes u 18 tuhat
    rubla. Need olid siin ümbruses suuremad põntsud, kuna vähemaid oli siin ja sääl. Et põnts oli põntsu pääle siis ei
    saadudki mahti suuremaid haaranguid teha. Iseäranis agaralt, nagu oli kuulda tegutsesid ka Leevi ja Kanepi ümbruse
    mehed.
  </div>

  <div class="p">Sellel sügisel ehitasin endale uue punkri, kuhu oli kavatsus kolida sisse jõulu ümber. Et vanas punkris
    ei olnud ka viga, jäi kolimine kevadeks. See talv möödus õige jõutsalt, märkamatult ja tundmata iseäralist igavust,
    mis teistel talvedel möödapääsemata saabus märtsikuu.</div>

  <div class="p">23. märtsil 1949 oli jälle Eesti rahval mustem päev ajaloos. Võrreldes 1941. a kiudutamisega
    <i>(küüditamisega)</i>
    oli see palju laiaulatuslikum. Rõuge vallast, nagu pärast arvestasime, viidi ümber 50 perekonna. Enne kiudutamist
    hakkas kõvasti jutt ringi liikuma, et tuleb kiudutamine. Et niisuguseid jutte oli ennemgi liikunud siis ei võetud
    seda väga tõsiselt. Need kes hoidsid kõrvale ja olid nimekirjas läks korda pääseda, need olid küll üksikud, kuid
    kaunis mitmed perekonnad pääsesid ära. Kiudutamise ajal, ehkki lumi maas, olid kõik metsad inimesi täis. Taludes oli
    kas mõni haige vana inimene, või mitte kedagi. Loomi käidi söötmas hommiku vara ja õhtul hilja. Linnast põgenesid
    inimesed maale nii et tükil ajal ei saanud vabrikud ega ametkonnad kõiki oma töölisi tagasi. Igalühel oli hirm, ei
    tähendanud midagi et endal ei teadnud mingisugust süüd. Rõuges juhtus sarnane asi, et endine valla santki kiudutati
    ära. Minu perekond jäi küll seekord puutumata aga nädala päevad olid kodust väljas, enne kui julgesid tagasi minna.
    Üldse näis et kõik metsameeste perekonnad Rõuge vallas jäid puutumata, mis väga tähelepanu väärt. Pärast kiudutamist
    kasvas metsameeste pere tunduvalt. Kuid kahjuks pärastpoole lasksid mõned end välja meelitada ja läksid Kiviõlli
    tööle, kuhu neil kästi minna. Peale kiudutamist hakati ka kolhoose vorpima, sest inimesed ei julgenud vastu panna,
    ja nii läksidki aprilli mai kuul suurem jagu Rõuge valla taludest kolhoosi. Loodeti kindlasti et sellel suvel läheb
    sõjaks ja sellepärast kõik kolhoosnikud siin ümbruses töötasid oma maa pääl ja enda pärast. Aga sügisel oli kõigil
    pettumus väga suur. Üldse on näha et rahvas on muutunud selle suvega väga tuimaks ja ükskõikseks, mis on ka väga
    arusaadav, sest kõik lootused on purunenud ja kolhoos pigistab omalt poolt, nii pole ime kui inimesed lähevad
    meeleheitele ja panevad omale nööri kaela nagu kaks inimest Rõuges on juba teinud.
  </div>

  <div class="p">Metsameestelt loodeti küll hoogsamat tegevust kui möödunud aastal, aga ka siin lootused pettusid. 1949
    aasta suvi kujunes metsameestele üheks õnnetumaks. Selle aasta jaanuari keskpaiku läks kaotsi detsembri kuul
    väljatulnud metsamees Valner Metstagast. Valner kujunes metsameestele kardetavaks, sest et laskis enda välja
    meelitada ja temale midagi ei tehtud. Aga nagu võis arvata ja pärastpoole ka selgus, pidi tema olema abiks N.K.
    V.T.le metsameeste avastamisel. Valneri hingel lasus küllalt patte mis ei olnud miilitsal teadmata. Kohe pääle
    väljamineku nähti Valneri liikumas siin ja sääl metsades, et avastada metsameeste punkreid, et seda siis üles anda
    ja sellega lunastada oma süüd. Aga saatus tahtis teisiti ja Valner kadus. Üldse liikus sügise poole talve siin ringi
    igasuguseid kahtlasi päevapiltnikke ja rändkaupmehi, aga rahvas oli küllalt ettevaatlik et nende liimile minna. 5.
    veebruaril oli Mäenurgas Kuklase talus haarang, kus peeti sünnipäevapidu. Peol oli ka kolm metsameest. Kahel läks
    korda haarangust pääseda kuna kolmas metsamees Kirbits sai põgenemisel surma. Kirbits oli väga agar noor poiss,
    kellel läks korda Lükka põntsust pääseda, sest teda ei olnud sellel korral sääl. Kirbitsaga kaotasid metsamehed
    tublima mehe kellest oleks võinud tulevikus palju loota. Kirbits oli ka too naisterahvas kes võttis osa Kaljuvee ja
    Vänteri tapmisest.</div>

  <div class="p">Märtsi lõpp ja aprilli kuu möödusid kiudutamise tähe all. 25-26 aprillil avati kevadine hooaeg Haanja
    partorgi tapmisega. Samal ajal haavas ennast Kangsti kaupmees keegi naisterahvas Põldsepp. Tahtis lavastada
    metsameeste kallaletungi tee pääl ja raha röövimist. Temal näha olid kõvad puudujäägid ja sellest see jant aga asi
    tuli avalikuks ja Põldsepp pisteti pokri. Umbes siis sama tehti Luutsniku koperatiiv tühjaks. 5. mai kujunes jälle
    Rõuges suursündmuseks. Tapeti komsomol Teder kes oli väga verine komo. Isegi ametnikkude pere ei sallinud Tetre.
    Teder tulistati surnuks vasta õhtat oma korteris endises Jaanipeebu koolimajas
    <i>(tegelikult vist endise paruni von Samson-Himmelstjerna suvemajas koolimaja lähedal, koolimajas asus
      Täitevkomitee)</i>. Enne laskmist olla karjunud Auleit ära lase, millest setud tegid järelduse.</div>

</div>