<div class="content">
  <div class="p">
  </div>
  <div class="p">
  </div>
  <h1>Metsavendade elukäigud metsaelu alguseni</h1>
  <div class="p">
  </div>
  <img class="lg-single-image image_left p200" src="/images/rouge/toomsalu.jpg" />

  <div class="p">
    <b>Auleid Toomsalu</b>
    Juliuse p sündis 28. märtsil 1922. a vaeses talupojaperes Viitina vallas Tealase külas. Pere algne nimi oli Pelovas,
    see eestindati Toomsaluks. 1930-1937 õppis ta Rõuge algkoolis, pärast seda töötas 2 aastat sulasena. 1939. a asus
    õppima kalandust Pärnus, lõpetas õpingud 1941 keskharidusega. Pärnus astus ta komsomoli, mille liikmeks oli 4 kuud.
    1941. a arreteerisid sakslased ta komsomoli kuulumise pärast ja vangistasid pooleteiseks kuuks, seejärel lasid
    vabadusse. 1941. a tuli ta vanematekoju Rõugesse ja 1942. a asus tööle Võrus kontoris. Juulis 1942 töötas madrusena
    Tallinnas, sama aasta oktoobris oli ta aga tagasi Võru linnas, kus töötas sidekontoris liinitöötajana.<br />
    Veebruaris 1944 mobiliseeriti Auleid Toomsalu 20. Eesti SS Diviisi ja sama aasta aprillis saadeti Tšehhi
    õppelaagrisse, kus mobiliseeritud said sõjalist väljaõpet kuni juulini 1944. Tšehhist saadeti Toomsalu
    Sinimägedesse, lahingutesse nõukogude vägede vastu (teisal on tema osavõttu rindetegevusest ka eitatud). Tema väeosa
    patarei hävis ägedas pommirünnakus. Ta liikus Lõuna-Eestisse ja varjas end kuni Saksa vägede lõpliku taandumiseni
    Valgjärve kandis. Juba septembris 1944 sundmobiliseeriti Auleid Toomsalu uuesti, seekord nõukogude armeesse, 63.
    Narva tagavarapolku reameheks. Veebruaris 1945 viidi ta üle 10. ehituspataljoni Tallinnas, sama aasta detsembris
    saadeti tööle Aseri tellisetehasesse, kus ta algul oli tööline, hiljem vanem-raamatupidaja. Aserist viidi ta üle
    Kohtla-Järvele, kus oli ehituspataljonis raamatupidaja kuni demobiliseerimiseni 1947. a lõpus, misjärel pöördus
    tagasi vanematekoju Rõugesse.
    <br />
    Rõuges töötas ta riikliku kindlustuse kontoris raamatupidajana kuni veebruarini 1948. Ta tegutses kohalikus
    seltsielus, valiti 1947. a Rõuge Vabatahtliku Tuletõrjeühingu juhiks, laulis Rõuge meeskooris. Pidudel oli ta
    oodatud laulumees.
    <br />
    Toomsalu nõukogudevaenulikkuse tingisid ta enda sõnul võimude omavoli ja ülekohus ning nõmedad ideoloogilised
    nõudmised.
    <br />
    Metsavennaks hakkamise otseseks ajendiks sai leppimatu vastasseis kohaliku komsorgiga, mis tõi kaasa
    arreteerimisohu. 1948. a jaanuarikuus Viia Krooni sünnipäeval oli Toomsalu laulnud rahvalikke laule (toimikus on
    öeldud „kodanliku Eesti ajast pärit nõukogudevastaseid laule“), milleks tunnistuste kohaselt oli „Jää vabaks Eesti
    meri“ ja/või Eesti hümn. Samas seltskonnas viibinud Rõuge komsorg Õilme Teder proovis teda vaikima sundida, kuid see
    ei läinud korda, Auleid Toomsalu laulis kõik salmid lõpuni. Nördinud komsorg lubas julgeolekusse kaebama minna ning
    seda ta ka tegi. Üldtuntud laulu laulmise eest ähvardas Toomsalut arreteerimine. Tekkinud olukorras lahkus ta 1948.
    a veebruaris kodust ja siirdus Läänemaale Ristile, kus asus tööle põllumajandus-krediidiühistusse raamatupidajana.
    Edasi liikus ta arreteerimist vältides Piirsalu põllumajandusühistusse raamatupidajaks, peatudes oma tädimehe Järv
    Eduardi juures Rõumaal Piirsalus (Läänemaal), kus varjas end sel ajal ka tema onupoeg Kalju Kirbits.
  </div>
  <div class="p">
  </div>
  <img class="lg-single-image image_left p200" src="/images/rouge/kalju_kirbits.jpg" />

  <div class="p">
    <b>Kalju Kirbits</b>
    Oskari p (s 1929) oli kuulunud Võru keskkooliõpilaste nõukogudevastasesse põrandaalusesse ühendusse. 1945. a
    augustis oli ta osa võtnud kallaletungist miilitsavolinik Adolf Noortootsile, kes korraldas metsavendadele
    haaranguid ja arreteerimisi. 1945. a septembris ta arreteeriti, kuid vabastati ülesandega luurata teiste järgi. Ta
    liitus metsavendadega Rohelise Partisanide Pataljoni Lükkä (Nursi) punkrist. Rünnaku ajal Lükkä punkrile 28.12.1945
    ta seal ei viibinud, vaid oli jõuludeks läinud koju. Edasi varjas ta end oma vanemate talus. Ilma nõukogude
    dokumendita oli ohtlik ringi liikuda. Auleid Toomsalu töötas sel ajal veel raamatupidajana Rõuges ja Oskar Kirbits
    palus tal muretseda oma pojale pass. Auleid Toomsalu korraldas olengu, kuhu kutsus kohale ka Rõuge passilaua ülema.
    Seal õnnestuski tal passilaua ülemalt välja rääkida pass Kalju Kirbitsa nimele. Viimane lahkus selle fiktiivse
    passiga Rõugest 1948. a algul ja elas Eesti erinevais paigus. 1947. a detsembri lõpus kerkis Rõuge täitevkomitees
    kahtlus, et metsavend sai Toomsalu kaudu endale passi. Kohalik kommunistlik noor Herta Siska ähvardas, et
    metsavendadele passi andmine on kuritegu, mille eest võetakse vastutusele. Seegi oli üheks Toomsalu Läänemaale
    siirdumise ajendiks.
  </div>

  <div class="p">
    Piirsalus hakkas 1948. a maikuus ühistu esimees huvi tundma, kes on Auleid Toomsalu ja mida ta tegi enne Piirsallu
    tulemist. Sellest teada saades lahkus Toomsalu Piirsalust töölt, võttes kaasa 1400 rbl riigi raha, mille saatis
    Võrru jõudes postiga ühistule tagasi.
    <br />
    Elanud mõned päevad kodus Rõuges, otsustasid nad koos Kalju Kirbitsaga hakata end metsavendadena varjama. Mõlemad
    jagasid üldlevinud veendumust, et nõukogude kord ei püsi kaua ja Eestis taastatakse endine, kodanlik kord.
  </div>

  <div class="p">
    Läänemaalt tagasi Võrumaale saabunud Auleid Toomsalu ja Kalju Kirbits, kes olid mõlemad julgeoleku poolt otsitavad,
    läksid metsavendadeks Viitinas 1948. a mais. Varjama hakates neil relvi ei olnud. Kõigepealt tegid nad sepp Sarapuu
    juures ise endale vanast Vene vintpüssi täägist Soome pussid.
    <br />
    1948. a juunis ühinesid Auleid Toomsalu ja Kalju Kirbitsaga relvastatud üksik-metsavennad Elmar Pärli (Perli) ja
    Eduard Kirbits. 1949. a märtsis toimunud suurküüditamine sundis metsa neile kaaslaseks palju kohalikke noori mehi:
    tulid Valter Kuklane ja Hugo Kuklane, Elmar Pettai, Aksel Kirbits ja Henn Kirbits. Nendega ühinesid ka arst Valter
    Pallo ja Paul Liit.
  </div>

  <div class="p">
    Herbert Virki kaudu lõi Toomsalu ühenduse Simo Pihlapuuga. Virk ja Pihlapuu tegutsesid koos Heino Uibo,
    <a href="/rouge/aksel_sprenki_paevik">Aksel Sprenki</a>
    ja Linda Tatrikuga Rõugest Mõniste ja Varstu pool. Simo Pihlapuu punkrisse varjusid arreteerimise eest ka tema vend
    Aaro Pihlapuu ja August Koemets. Metsa läinud mehed moodustasid salgad ja varustasid end relvadega. Küüditamise eest
    oli metsadesse varjule põgenenud terveid perekondi. Sidet peeti metsa läinud vanemate meeste Juhan Mõttuse ja Aksel
    Kuklasega, Eduard, Miralda ja Harri Mõttusega ning Oskar Kirbitsa perega.<br />
    Märtsis 1949 kasvas Toomsalu salk 10 inimeseni, Simo Pihlapuu salka kuulus 6 inimest.
  </div>

  <div class="p" style="clear: both"></div>

  <img class="lg-single-image image_left p200" src="/images/rouge/pallo.jpg" />

  <div class="p">
    <div class="p">
    </div>
    <b>Valter Pallo</b>
    Adami p sündis 14. augustil 1907. a Varstu Tagakülas. Algkoolis käis ta Rõuges. Lõpetanud seal 7. klassi, pöördus ta
    tagasi isakoju, kus töötas 1925. a-ni jahuveskis möldripoisina. 1925-1928 töötas ta veskites Valgas ja Tartus.
    1928-1930 teenis ta aega Eesti sõjaväes. Edasi töötas ta Tallinnas ehitusel. 1932. a abiellus Valter Pallo Tallinnas
    majaomaniku tütre Lukk Ottiliega, kes oli Tallinna Konservatooriumis muusikaõpetajaks. 1932. a avaldas Pallo oma
    väikese
    <a href="/rouge/pallo_luule">luulevihiku</a>. Samal aastal sündis neil tütar Linda. Naise juurde elama asununa
    jätkas ta õpinguid gümnaasiumis, mille lõpetas 1936. a. Edasi õppis ta Tallinna Elektrotehnikumis, mille lõpetas
    1938. a. 1938-1940 tegi kaastööd ajalehtedele „Päevaleht“ ja „Rahva Leht“. Nõukogude korra ajal ta tööl ei käinud.
    Sõja puhkedes asus ta vabatahtlikult tööle Tartus Saksa sõjaväelaatsaretis nr 161, kuna oli Eesti sõjaväeteenistust
    läbides saanud väljaõppe velskrina. Laatsaret evakueeriti 1944. a Berliini. Saksamaal sooritas ta arsti eksamid
    Berliini Sõjameditsiini Akadeemias ja jätkas tööd sõjaväeteenistuses arsti ja assistendina leitnandi auastmes. Samas
    sõjaväehospidalis Berliinis jätkas ta töötamist ka pärast Saksamaa kapituleerumist ja sattus sealt Vene vägede kätte
    sõjavangi. Teda hoiti sõjavangina kinni Saksamaal Bernaus 2 kuud, Biesenthalis 3 kuud, Leuenburgis sõjavangilaagris
    haigestus ta tüüfusesse, mida põdes kuni 1945. a sügiseni. Paranenult saadeti ta edasi Poolasse Wrocławi, kus oli 2
    kuud, sealt Wołówi kaudu Riiga, kus ta juunis 1946 vabastati. Vabanenult tuli ta Tartusse ja asus tööle Kiidjärve
    veskis, kus töötas lihtsa möldripoisina kuni 1947. a juunini (ametiredelil tõusmine oli Saksa armees teeninutel
    tehtud võimatuks). Ta teadis, et ühes ja samas kohas töötades vahistab Julgeolek tema kui endise Saksa
    meditsiiniteenistuse ohvitseri varem või hiljem, ning ta lahkus töölt. Aastatel 1947-1949 varjas ta end Võrumaal
    Tsooru ja Viitina vahel (mingil ajal ka Läänemaal Kullamaal), liikus ühest talust teise, ravis kohalikke (ka
    metsavendi) ja sai selle eest süüa ning peavarju. Pallo ütles otse välja, et nõukogude korra heaks tema töötada ei
    taha ja ta ei hakka tööle enne, kui Eestis on taastatud vana kodanlik kord.
    <br />
    Võrumaal Sadrametsas elades rääkis majaperemees, Pallo kauge sugulane Aleksander Allas, talle talu lähedal varjavast
    kolmest metsavennast. Need olid alates 1944. a varjavad Eduard Mõttus (35a), kes Eesti Vabariigi ajal oli töötanud
    piirivalveteenistuses ja Saksa ajal politseikonstaablina, ja Miralda Mõttus (30a). Kolmandaks oli Harri Mõttus (27),
    kes oli olnud Saksa armees vabatahtlik. Hiljem tuli samasse punkrisse elama ka Voldemar (Volli) Rüütli (40), kes
    kaitseliitlasena oli metsas alates 1944. a ja oli Saksa ajal olnud Varstu vallavanema abi (Varstu vallavanemaks oli
    Saksa ajal Valter Pallo vend Ferdinand Pallo). Aleksander Allas palus, et Valter Pallo raviks Miralda Mõttust, kes
    oli juba pikemat aega verejooksudega raskelt haige. Veel samal õhtul mindi Mõttuste punkrisse, 3 km kaugusel Allase
    talust. Pallo jäigi sinna punkrisse elama kuni märtsini 1949 ning sai Eduard Mõttuselt endale relvaks automaadi.
    Ravimeid Miralda Mõttuse tarvis käidi hankimas Ape linnast Lätis. Seda tehti koos Suulätte külas elava Edgar
    Kattaiga, kelle juures Valter Pallo varjas end märtsist juunini 1949.
    <br />
    Juunis 1949 sai Valter Pallo tuttavaks Auleid Toomsaluga, kes oli tollal Simo Pihlapuu „parem käsi“. Simo Pihlapuud
    pidasid piirkonna metsavennad endi hulgast kõige kogenumaks ja autoriteetsemaks. Alates 1949. a suvest liitus
    Toomsalu rühmaga ka Paul Liit.
  </div>

  <img class="lg-single-image image_left p200" src="/images/rouge/liit.jpg" />

  <div class="p">
    <div class="p">
    </div>
    <b>Paul Liit</b>
    Aleksei p sündis 11. jaanuaril 1926 Koke külas Haanjas.
    <br />
    Seal lõpetas ta 1940. a 6 klassi. 1941. a sügisel astus ta Väimela Põllumajanduskooli, kus õppis 8 kuud. Oli enda
    sõnul nõukogude võimu vastu vaenulikult meelestatud massiliste arreteerimiste ja küüditamiste tõttu. Punaste vastu
    võitlemiseks soovis ta astuda vabatahtlikuna Saksa sõjaväkke. Ta läbis arstliku komisjoni, kuid arvati välja
    lühikese kasvu tõttu (168cm), sisse saamiseks eeldati pikkust vähemalt 172cm. Suvel 1943 (17 aastasena) andis ta
    avalduse võtta end 33. Politseipataljoni, kus ta teenis kuni 1944. a juunini. Võttis osa lahingutest nõukogude
    vägede vastu Krivasoo piirkonnas, kust ta suvel 1944 deserteerus.
    <br />
    Võimukorra vahetudes sundmobiliseeriti ta juba 1. sept. 1944. a Võrus uuesti, seekord nõukogude armeesse, ja saadeti
    Narva jalaväepolku, kus ta teenis 2. pataljonis 3. roodus 2. jaos realaskurina. Narvas läbis ta sõjalise väljaõppe
    ja saadeti oma jaoga Sõrve poolsaarele rindele. Novembris sattus Paul Liit kuulihaavaga vasakus käes Kloogale
    hospidali (mõnedel oletustel vigastas end ise). Saanud pärast paranemist 7 päeva puhkust, lahkus ta oma sugulase
    juurde Petseri rajooni Mitkovitsa valda. Rindele ta tagasi ei läinud vaid deserteerus, sõitis Palamusele ja hakkas
    seal õppima traktoristide koolis ja samas ka töötama. Detsembris 1944. a asus ta end varjama Haanja metsas, salgas,
    kuhu kuulusid Jaagart Kõiv, Värner Loos, Valmar Loos, Elmar Utsal. Koos varjati end kuni juuni-juulini 1945. 1946. a
    ta legaliseerus. Legaliseerumisel seadis julgeolek temale, nagu ka teistele legaliseeruda soovinutele, tingimuseks
    metsajäänute järel nuhkimise ja nende ülesandmise. Liit kanti läbi agentuurtoimikust nr 207 (nimi raskesti loetav,
    vist Šaakalid). Legaliseerunult töötas ta 1946-1949 isatalus, põigates vahepeal kolmeks kuuks Pärnusse, kus õppis
    mootorpaadijuhi (teisal laevamehhaanikute) kursustel. Kursused kaotati. Läks edasi Tallinna, et astuda
    merelaevastikku motoristiks, kuid ei võetud.
    <br />
    1949. a esimeses pooles liitus ta uuesti Kõivu metsavendade salgaga. Passiivne varjamine teda aga ei rahuldanud ja
    ta lahkus nende juurest aprillis. Paul Liit tahtis võõrvõimu vastu võidelda tegutsedes. Aprillis 1949 korraldas ta
    üksinda varitsuse ja lasi maha Haanja partorgi Hugo Viso, kes oli olnud märtsiküüditamise kohalik eestvedaja ja
    innukas elanike kolhoosi sundija. Järgneval kuul lahkus Paul Liit ettevaatuse mõttes Jõhvi Tammiku mõisa, kus töötas
    põlevkivikaevanduse šahtis kuni juulini 1949. Sealt lahkus ta kellelegi teatamata ja suundus tagasi Võrumaale, kus
    liitus Toomsalu metsavendadega. Salka võtmisel oli tema soovitajaks koolivend Herbert Virk. Paul Liit oli energiline
    ja nõudis salga järjepidevat tegutsemist, nõukogude kantseliidis „võitlemist terrorit kasutades nõukogude aktiivi ja
    riiklike asutuste vastu“.
  </div>
  <div class="p">
  </div>
  <img class="lg-single-image image_left p200" src="/images/rouge/pettai_el.jpg" />

  <div class="p">
    <b>Elmar Pettai</b>
    Edgari p (s 1928) elas Haki külas Viitina vallas Pulli talus. Õppis Väimela Põllumajandustehnikumis. Liitus 1949. a
    märtsis metsavendadest sõpradega, kes olid nende majas sagedasteks külalisteks.
  </div>
  <div class="p">
  </div>
  <div class="p" style="clear: both"></div>

  <img class="lg-single-image image_left p200" src="/images/rouge/e_kirbits.jpg" />

  <div class="p">
    Auleid Toomsalu salka kuulusid veel Luutsnikult pärit vennad Eduard ja Aksel Kirbits.
    <br />
    <b>Eduard Kirbits</b>
    Jaani p (s 1919) oli teeninud Eesti Leegionis, võimu vahetudes 1944. a läks metsa Bernhard Killeri metsavendade
    salka.
    <br />
    Julgeoleku vaatevälja sattus Eduard Kirbits augustis 1945 seoses rünnakuga metsavendi jahtinud miilitsavolinik
    Noortootsile. See sündmus mõjutas mitmete meeste, sealhulgas Toomsalu võitluskaaslase Kalju Kirbitsa metsavennaks
    hakkamist. Eduard Kirbits suhtles Auleid Toomsaluga tihedamalt alates 1948. a algusest, Aksel Kirbits 1949. a
    kevadest.
  </div>

  <div class="p" style="clear: both"></div>

  <img class="lg-single-image image_left p200" src="/images/rouge/a_kirbits.jpg" />

  <div class="p">
    <b>Aksel Kirbits</b>
    Jaani p (s 1924) läks metsa 1949. a märtsiküüditamise eest, kuna oli kantud küüditatavate nimekirja. Küüditamise
    eest varjus metsa ka Eduardi ja Akseli isa Jaan Kirbits. Nende talu kogu varaga akteeriti riigi omandisse.
  </div>

  <div class="p">
    Toomsalu salgale omistatud tegevustest võttis Eduard osa vaid 3 poeröövist, Aksel Kirbits oli seotud enamate
    sündmustega.
  </div>

  <div class="p" style="clear: both"></div>

  <div class="p">
    <b>Herbert Virk</b>
    Eduardi p (s 1924) sündis Vastseliina kandis. Pärast nii ema kui isa surma 1930. alguses võeti ta orvuna isa õe
    perre Haanjasse. Ta elas kasupojana Viitina vallas Richard Pihlapuu juures, oma tsõtse kodus. Ta oli deserteerunud
    nõukogude armeest ja hakanud metsavennaks 1947. a, pärast põgenemist kinnipidamiskohast.
  </div>
  <div class="p">
  </div>
  <img class="lg-single-image image_left p200" src="/images/rouge/kuklane_v.jpg" />

  <div class="p">
    <b>Vambola Kuklane</b>
    Akseli p (s 1931) Ortumäelt Viitina vallast oli metsa varjunud küüditamise eest 1949. a. Oma kodust oli metsa
    sunnitud lahkuma ka tema isa Aksel Kuklane.
  </div>
  <div class="p">
  </div>
  <div class="p" style="clear: both"></div>

  <img class="lg-single-image image_left p200" src="/images/rouge/henn_kirbits.jpg" />

  <div class="p">
    <b>Henn Kirbits</b>
    Oskari p (s 1933) varjas end küüditamise eest, nagu kogu nende pere. Tema vend Kalju Kirbits (19a) oli tapetud
    haarangul 1949. a veebruaris. Metsas oli Henn Kirbits vaid pisteliselt teistega kaasas, ehkki julgeolekutoimikutes
    on teda nimetatud Toomsalu salga liikmeks. Henn Kirbits (16a) Saksa ajal alaealisena mobilisatsiooni alla ei
    kuulunud. Ta ei elanud metsas pidevalt ja lõpetas varjamise 1949. a lõpus enne talve.
  </div>

  <div class="p" style="clear: both"></div>

</div>