<div class="content">

  <h1>Haanjamaa monumendid, Toomsalu puudutavad lõigud</h1>

  <div
    id="pictures-page-gallery"
    class="magnific-popup-gallery justified-gallery"
  >

    <a href="/images/rouge/monumendid_1.jpg">
      <img src="/images/rouge/monumendid_1.jpg" />
    </a>
    <a href="/images/rouge/monumendid_2.jpg">
      <img src="/images/rouge/monumendid_2.jpg" />
    </a>
    <a href="/images/rouge/monumendid_3.jpg">
      <img src="/images/rouge/monumendid_3.jpg" />
    </a>
    <a href="/images/rouge/monumendid_4.jpg">
      <img src="/images/rouge/monumendid_4.jpg" />
    </a>
    <a href="/images/rouge/monumendid_5.jpg">
      <img src="/images/rouge/monumendid_5.jpg" />
    </a>
    <a href="/images/rouge/monumendid_6.jpg">
      <img src="/images/rouge/monumendid_6.jpg" />
    </a>
    <a href="/images/rouge/monumendid_7.jpg">
      <img src="/images/rouge/monumendid_7.jpg" />
    </a>
    <a href="/images/rouge/monumendid_8.jpg">
      <img src="/images/rouge/monumendid_8.jpg" />
    </a>
    <a href="/images/rouge/monumendid_9.jpg">
      <img src="/images/rouge/monumendid_9.jpg" />
    </a>
    <a href="/images/rouge/monumendid_10.jpg">
      <img src="/images/rouge/monumendid_10.jpg" />
    </a>
    <a href="/images/rouge/monumendid_11.jpg">
      <img src="/images/rouge/monumendid_11.jpg" />
    </a>
    <a href="/images/rouge/monumendid_12.jpg">
      <img src="/images/rouge/monumendid_12.jpg" />
    </a>

  </div>

</div>