<h1>Julgeoleku tegutsemine</h1>

<p>
  Avalikkuse eest varjatult kinnitas EK(b)P KK 1949. a 27. augustil metsavendluse Võrumaal riiklikul tasemel
  probleemiks. Iga paari kuu tagant võeti vastu salastatud otsuseid ja meetmeid metsavendluse hävitamiseks Võrumaal.
  Kompartei esindajad Karotamm ja Anisimov väljendasid isekeskis arusaamatust ja nördimust metsavendluse visa püsimise
  pärast. Nad täheldasid julgeolekutöötajate halba mainet rahva hulgas, rõhutasid inimeste mõjutamise olulisust
  kohapeal, erinevate inimrühmade kaupa: metsnikud, kooperatiivide juhatajad, sidetöötajad. Rõhutati vajadust kaasata
  metsavendade vastasesse võitlusse komsomol (maakonnas u 2000 liiget) ja hävituspataljon (maakonnas 435 liiget).
  Kompartei 1. sekretär Karotamm sõnastas eesmärgid:
</p>

<blockquote>
  Bandiidid tuleb hävitada kõikvõimalike vahenditega. Illegaale tuleb püüda ning kui nad alla ei anna, siis tappa.
  <br />
  Iga kommunist peab looma massidega tiheda side ja sütitama vihkamist bandiitide vastu ja saadud informatsiooni
  bandiitide tegevusest viivitamatult edastama vastutavatele organitele.
</blockquote>

<p>
  Eesti elanike hävitamist kompartei käsul organiseeris Riikliku Julgeoleku Ministeerium sisevägede sõjaliste üksuste
  abil. Hävitamisele määratute otsimiseks kasutas RJM 2-N osakond värvatud agentuuri (varjunimega arvele võetud agendid,
  informaatorid, residendid). Koosseisuline agentuur koosnes Võru 2-N osakonnas 12. mai 1949 seisuga 68 isikust, kellest
  56-ga (82%) side puudus või oli katkenud. Püsivalt kasutatavat agentuuri oli 12 isikut, keda kasutasid 2-N osakonna 9
  tšekistist 4 (osakonna juhataja Zjubenko, asetäitja Mihhaljov, Panikovski ja Sotnik). Ülejäänud (Kisljakov, Polunin,
  Kuznetsov, Barõšnikov, Kuus) agentuuriga ei tegelenud.
</p>

<p>
  Anastajate avalik terror ei olnud viie sõjajärgse aastaga suutnud alistada metsavendade vastupanu. Nähtava, avaliku
  terrori kõrval suurendas julgeolekuosakond selleks järsult nähtamatut terrorit. See seisnes elanike salajastes
  kinnivõtmistes, nende hirmutamises ja piinamises. Kas kinnivõetu värvata või arreteerida, seda otsustasid
  julgeolekutöötajad järgnevate ülekuulamiste ja mõjutamiste käigus. Kellele värbamiskonks selga löödi, laveeris
  edaspidi kahe valiku vahel: hävida ise (koos omastega) või hävitada anastajate käsul kaasinimesi. Agentuuriga
  sundseisus liidetute arv suurenes järsult. Nende edastatud info tõele vastavust kontrollis julgeolek teiste
  informaatorite kaudu. Ja ikka ei saanud kaugeltki kõigist agentuuri kantutest äraandjaid. Päris paljud varjusid ise
  metsavennaks või proovisid anda kasutut infot. Mitmed tegid enesega vastuollu sunnituna ja olukorrast väljapääsu
  nägemata enesetapu. Kuid üks osa ilmselt nautis enda pääsemisvõimalust, hakates meelsasti töötama anastajate kasuks.
</p>

<p>
  Suur abiliste ring kujunes Toomsalu salga meestele üheaegselt nii õnnistuseks kui hävinguks. Julgeolek asus vahendeid
  valimata ja seadusi järgimata purustama kohalike omavahelist inimlikku ja üksteist toetavat sidet. Salaja kinnivõetud
  inimesi sunniti hakkama äraandjaks, vaatamata vastikustundele, hirmust ja õudusest enese või lähedaste saatuse pärast.
  Jõhkra šantaaži ja inimröövide, pantvangistamiste ja piinamistega püüdsid julgeolekutöötajad saada küüsi taha
  metsavendade lähedastele ja omastele. Reeglina poogiti salaja julgeolekusse toimetatud inimesele külge karmi karistust
  eeldav „ränk süü“, millest pääsemiseks pakuti võimalust end reetmise läbi „süüst vabaks osta“. Süüks võidi lugeda
  Eesti Vabariigi aegne avalik tegevus, ametikoht Saksa okupatsiooni ajal, sundmobilisatsioon Saksa armees jpm.
</p>

<p>
  Julgeolekule kõlbasid kõik infoallikad. Osale kohalikest nuhkidest said metsavennad peagi jälile ja need hukati.
  Nõukogude võimu esindajad asusid julmalt survestama just metsavendadele kõige lähedasemaid inimesi ja sugulasi. Peagi
  seisid metsavennad silmitsi vana tõega: kaitsku Jumal mind sõprade eest, vaenlastega saan ise hakkama.
</p>

<p>
  Järgnevalt vaataks lähemalt:
  <br />
  • kolme värbamisele allutatud inimese käekäiku Viktor Kuklase, Richard Pihlapuu ja Hilda Labi näitel ja Eduard Letti
  salajast kinnipidamist
  <br />
  • julgeoleku tegutsemist 1949. a, RJM 2-N osakonna operatiiv-agentuur ettekannete põhjal
  <br />
  Lõppu on lisatud Toomsalu salga liikmetega tegelenud julgeolekutöötajate nimestik (mittetäielik).
</p>

<h1>VÄRBAMISED. SEADUSETUS</h1>

<h2>Viktor Kuklane, kellest agenti ei saanud.</h2>

<p>
  Viktor Kuklane (24a) õppis pärast nõukogude armeeteenistusest vabanemist Väimela põllumajanduskoolis. 1947. a oli
  Viktor astunud isegi komsomoli, ta õppis ja elas seaduskuulekalt. Viktor Kuklasega hakkas Julgeolek tegelema 9. mail
  1949. a, tema vennad Valter Kuklane ja Hugo Kuklane olid arreteeritud kolm päeva varem.
  <br />
  Noort meest otsustas Julgeolek šantažeerida teadmisega, et ta oli Saksa okupatsiooni perioodil teeninud
  Politseipataljonis. Viktori onupoeg Vambola Kuklane kuulus Toomsalu metsavendade hulka, Viktor ise oli „kulaku“ poeg
  ning küüditamise eest end lühiajaliselt ka metsas varjanud, samuti suhtles ta Vambola Kuklase vanematega, kes olid
  küüditamise tõttu põgenikud ja varjasid end metsas illegaalidena. Nende andmete pinnalt hakkas Julgeolek noort meest
  räigelt survestama. Viktor Kuklane on seda tegevust kirjeldanud järgmiselt:
</p>

<blockquote>
  9. mail 1949 umbes kell 12 tuli klassi korrapidajaõpilane Hussar Heino ja rääkis mulle, et mind kutsub enda juurde
  õpetaja Rand. Viimane tegi ettepaneku minna tema poole korterisse. Seal ootasid ees RJM Võrumaa osakonna töötaja
  Panikovski koos
  <i>(loetamatu)</i>
  , kes võtsid mu kinni. Sõitsime kolmekesi autoga RJM maakonnaosakonda, kus mind paigutati eraldi tuppa. Umbes tunni
  aja pärast algas ülekuulamine. Ülekuulaja oli erariides, tõlk aga sõjaväevormis. Ülekuulamine kestis 3-4 tundi,
  kirjutati protokoll, millele kirjutasin alla, seejärel pandi mind jälle istuma samasse tuppa. 10. mail viidi mind
  uuesti ülekuulamisele, üle kuulasid üks pikka kasvu major ja teine leitnant, viimane tõlkis, kuid protokolli ei
  koostatud. Sama päeva õhtul tehti mulle ettepanek kirjutada kiri, et ma olen tõsiselt haigestunud ja ei saa tehnikumi
  õpingutele ilmuda. Sõitsime RJM maakonnaosakonna masinaga tehnikumi, kus andsin selle kirja õpetaja Villi kätte, sama
  masinaga sõitsime õhtul RJM osakonda tagasi. Tehnikumis käis minuga kaasas üks leitnant, kelle nime ma ei mäleta. 10.
  mai hilisõhtul viidi mind Rõuge valda, jäeti teele maha ja kästi bandiidid üles otsida. 16. mail ilmusin varem
  kindlaks määratud kohta, kus mind ootas RJM auto, viimasega sõitsime Võrru, kus mind hakati üle kuulama ja löödi
  rusikaga näkku. Ninast ja suust löödi veri välja. Lõi leitnant, kellega koos sõitsin varem tehnikumi. 17. mail kuulati
  mind uuesti üle sama leitnandi poolt ja jälle lõi ta mulle rusikaga näkku ja rindu, lisaks leitnandile oli seal ka üks
  tsiviilriietes julgeoleku kaastöötaja nimega Kuus
  <i>(Kuus Eduard)</i>
  , kes samuti peksis mind rusikaga kaela ja kõri pihta. Kolm ööpäeva, 16.-19. maini, mil mind RJM osakonnas kinni
  peeti, mulle süüa ei antud. 19. mail anti mulle tagasi mult ära võetud raha ja lubati osta süüa. 20. mail kuulati mind
  uuesti üle ja peksti rusikaga, lahtise käega lõi kaela pihta üks pikka kasvu major. Ülekuulamise järel teiselt
  korruselt alla esimesele korrusele saatev leitnant lõi mind jalaga. Pärast seda peeti mind ilma ülekuulamisteta RJM
  maakonnaosakonnas kinni kuni 25. maini, viimasel päeval viidi mind eeluurimise kinnipidamiskohta, kus hoiti ilma
  ülekuulamisteta kinni kuni 1. juunini. 1. juuni hilisõhtul viidi mind eeluurimise kinnipidamiskohast RJM osakonda
  ülekuulamisele, kus peksti rusikatega, rebiti juustest ja raputati rinnust. Peksis seesama leitnant ja väikest kasvu
  hallipäine major. Ülekuulamiste perioodil 1-4 kuupäevani mulle süüa ei antud, olin näljane, vaid kahel korral anti
  külma vett juua. Kui leitnant mind lõi, siis ütles ta mulle, et kui ma proovin sellest prokurörile kaevata, siis nad
  nülivad minult veel 10 nahka ja tapavad mu. Seepeale ei vastanud ma midagi.
</blockquote>

<p>
  Üks neist peksjatest-väljapressijatest, Võru rajooniosakonna operatiivvolinik Nikolai Andrejevitš
  <b>Panikovski</b>
  , esitab asja nii:
</p>

<blockquote>
  Pärast
  <i>(esimest)</i>
  ülekuulamist tegin mina koos ENSV RJM osakonnaülema asetäitja major
  <b>Gavrilov</b>
  iga jutuajamise käigus talle ettepaneku anda meile välja Toomsalu bande, ostes end sellega oma süüst vabaks, millega
  Kuklane Viktor nõustus ja andis lubaduse bande välja anda, kuna tal olid selleks kõik võimalused. Edasi töötasime me
  koos Kuklasega välja talle sobiva ülesande ja käitumisliini ning viisime ta ülesande täitmiseks bande
  tegutsemispiirkonda.
  <br />
  Järgmisel kokkusaamisel teatas Kuklane, et ta ei ole kedagi bandiitidest kohanud ja nende asupaika tal kindlaks teha
  ei õnnestunud, mille peale anti talle kohapeal uus instruktaaž ja saadeti uuesti bandet otsima. Temaga kohtumisele
  sõitsime mina (Panikovski) ja major Gavrilov.
  <br />
  Umbes mai keskel käesoleval aastal teatas regulaarsel kokkusaamisel agent „Okas“, kes samuti tegeleb Toomsalu bande
  otsimisega, et Rõuge vallas varjab end Kuklane Viktor, kes kohtus bande liikme Kuklane Vambolaga (tõepoolest, me olime
  Viktor Kuklase viinud ülesande täitmiseks Rõuge valda).
  <br />
  Järgmisel kokkusaamisel teatas Kuklane meile uuesti, et ta kedagi bandiitidest ei ole kohanud ja ülesannet täita ei
  suuda, varjates meie eest kohtumise fakti bandiit Kuklane Vambolaga.
  <br />
  Pärast seda vahistasime Kuklase uuesti, viisime Võrru ja vormistasime tema arreteerimise.
  <br />
  Pärast Kuklase Võrru toimetamist rääkisime koos major Gavriloviga temaga talle antud ülesande täitmisest.
  <br />
  Kuklase avaldus selle kohta, nagu oleks mina, major Gavrilov ja ltn
  <b>Skobenko</b>
  teda peksnud, ei ole õige.
</blockquote>

<p>
  Hoolimata võimuesindajate jõhkruse meelevallas viibimisest püüdis Viktor Kuklane kui Julgeoleku poolt seadusevastaselt
  salaja kinni võetud õpilane südilt endale seaduslikku kaitset otsida. Nii on ta 4. juunil 1949 kirjutanud avalduse
  prokurörile, 20. aug. 1949 erikomisjonile, veelkord erikomisjonile 7. okt 1949 ning 6. jaan 1950 ka Moskvasse
  erikomisjonile. Nendes kirjeldab ta, kuidas allkirjad tunnistustele saadakse valede ja peksmisega, ähvarduste ja ropu
  sõimamise saatel. Ülekuulajad läksid nende kirjade peale päris marru ja lubasid ta lihtsalt tappa, kui ta veel kuhugi
  peaks avaldusi esitama.
  <br />
  ENSV RJM kaadrite eriosakonna vanemuurija Sirkel, (kes ise osales vahistatute peksmises Vastseliina vallas 1952. a),
  pandi peksmise asjus formaalselt üle kuulama vanem operatiivvolinikku Nikolai Panikovskit ja operatiivvolinikku Eduard
  Kuusi. Viimased, nagu julgeolekutöötajad rutiinselt, eitasid füüsilise vägivalla kasutamist.
  <br />
  Panikovski ütles, et oli Viktor Kuklase ülekuulamisel vaid tõlgiks, ülekuulajaks oli olnud ltn Mürk. Eduard Kuus
  valetas, et pole füüsilist jõudu rakendanud ühegi ülekuulatava suhtes. Uurimine lõpetati.
</p>

<p>Viktor Kuklasest ei suudetud äraandjat teha ja ta saadeti 10 aastaks Siberi vangilaagrisse.</p>

<h2>Richard Pihlapuu, kellest sai informaator.</h2>

<p>
  1888. a sündinud Richard Pihlapuu (61a) suhtles metsavendadega väga tihedalt, ta oli kraamivedajana osa võtnud
  mitmetest metsavendade organiseeritud röövidest ja andnud neile öömaja. Richard Pihlapuu juures Metsamäe talus käisid
  Viitina metsavennad üksteisega kohtumas ja talle kuulus noorte meeste täielik usaldus.
  <br />
  1949. a kevadel võttis Julgeolek kinni tema Tartu ülikoolis õppiva poja. Richard Pihlapuu otsis võimalust poega
  vabastada. Sellest teada saades toimetati ta salaja julgeolekuosakonda. Kas pandi poja käekäik tema tegevusest sõltuma
  või hirmutati millegi muuga, kuid temast tehti agent „Rätsep“.
</p>

<blockquote>
  Kevadel 1949 kutsuti mind välja Võrru RJM osakonda. Mind hakati üle kuulama, kellega bandiitidest ma kohtun. Rääkisin,
  et kohtun oma sugulase Virk Herbertiga (naise vennapojaga), kes varjab end nõukogude võimuorganite eest relvastatud
  rühmas. Mulle tehti ettepanek koostööks RJM organitega, milleks andsin oma nõusoleku ja allkirja selle kohta, et ma
  kohustun lunastama oma süü nõukogude võimu ees bandiitidega sidepidamise pärast ja andma bande välja nõukogude
  võimuorganitele. RJM töötajad andsid mulle ülesande teatada sellisest hetkest, kui bandiidid asuvad kõik koos ühes
  asupaigas. Esimene selline juhus tuli suvel 1949, kui kogu bande kavatses röövida Haanja kooperatiivi. Mulle oli see
  ette teada ja ma teatasin sellest RJM organitele, mille tulemusel oli kauplus juba enne röövi ümber piiratud ja
  tulevahetus algas ajal, mil bande viibis kaupluse ruumides. Tulevahetuses õnnestus bandiitidel põgeneda, surma sai
  vaid üks hobune.
</blockquote>

<p>
  Metsavendade tunnistuste järgi tulistasid hoonet piiravad julgeolekusõdurid kuulipildujatest ja automaatidest, kuid
  metsavendade sõnul sihiti kõrgele üle väljatormavate meeste peade. Kõik metsavennad suutsid ümberpiiratud hoonest viga
  saamata väljuda ja metsa varjuda. Auleid Toomsalu ja Valter Pallo põgenesid tulevahetusest läbi metsade varjule ...
  Richard Pihlapuu poole Metsamäele.
</p>

<p>
  Järgmine metsavendadele saatuslik sündmustik hakkas arenema kuu aega hiljem, kui Richard Pihlapuu kohtas metsavendi
  Pulli talu lähedal, kus mehed mängisid kaarte ja jõid puskarit. Noormeeste kõne oli läinud nii valjuks, et Alfred Lepp
  käis mehi hoiatamas, et olgu vaiksemalt, nende jutt on juba suurele teele kosta.
</p>

<blockquote>
  Pikka juttu mul nendega polnud, sain teada, et nad kavatsevad laupäeval Pettai Edgari juurde sauna minna, pärast seda
  läksin Rõugesse ja rääkisin sellest RJM töötajatele.
</blockquote>

<p>
  Richard Pihlapuu äraandmise peale korraldatud haarangus langesid tulevahetuses kolm noort meest: tema enda kasupoeg
  Herbert Virk (25a), Vambola Kuklane (18a) ja Elmar Pettai (21a). Kolmel metsavennal, kellest 2 olid haavatud – Auleid
  Toomsalul, Paul Liitil ja Valter Pallol – õnnestus end ümberpiiratud talus ära peita, oodata järgmise lõunani ja
  kaduda metsa.
  <br />
  Vaatamata juba eelneval õhtul välja pandud varitsusele ei teadnud haarangu korraldajad sedagi, kui palju metsavendi
  tulevahetuse alguses talus viibis. Neil tuli leppida perenaise Emilie Pettai kinnitusega, et vaid need 3, kes said
  surma. End ära peitnud 3 metsavenda pääsesid üksnes tänu Emilie Pettai kindlameelsusele olukorras, kus ta oma poeg
  lebas sealsamas kõrval äsja tapetuna.
</p>

<p>
  Julgeolekus loeti seda operatsiooni juba teiseks järjestikuseks läbikukkumiseks. ENSV RJM 2-N osakonna ülem
  alampolkovnik A. Peregontsev ja ENSV RJM 2-N osakonna jaoskonnaülem major Vorobkalo tõdesid:
</p>

<blockquote>
  Täites oma kohust, juhtis salajane informaator „Rätsep“ 1949 suvel kahel korral Toomsalu bande operatiivrünnaku alla,
  kuid RJM operatiivtöötajate süü tõttu likvideeriti vaid 3 bandiiti.
</blockquote>

<p>
  Reetmise jubeduse ja asjade sünge käigu kõrval leidub Richard Pihlapuu tegevuse kohta märke, et ta võis püüda enda
  poolt esilekutsutud sündmusi mõjutada. Enamik Julgeoleku küüsi sattunud inimesi püüdis füüsilisest vägivallast
  hoidumiseks Julgeolekuga otsesesse vastuollu astumist vältida, lootes võimalusele käituda hiljem nii, et „hundid
  söönud ja lambad terved“. Pulli talu juhtumil oli vanaperemees Edgar Pettaile kellegi kaudu ette teada, et 20.
  kuupäeva paiku on tema talule oodata haarangut. Sellest teada saades varjusid ka seni talus viibinud metsavennad
  kaugemale metsa ja püsisid eemal. Riskides laupäeval äärmise ettevaatlikkusega metsast sauna tulla, sattusid nad
  paraku otse varitsusse.
</p>

<p>
  Millalgi pärast seda muutis Richard Pihlapuu meelt. Julgeolekust iseloomustatakse Richard Pihlapuu edaspidist
  käitumist nii:
</p>

<blockquote>
  Järgneval perioodil hakkas ta töösse suhtuma passiivselt, kohtumistele ei ilmunud, tema käitumine oli ebasiiras.
  Edaspidi, kohtudes bandiitidega, ei teatanud ta sellest RJM-i, tegi neile teatavaks, et on värvatud salajaseks
  informaatoriks, oli kahekeelne ja püüdis hakata illegaaliks
  <i>(st varjuda metsa)</i>
  .
</blockquote>

<blockquote>
  Arvestades varasemat positiivset tegevust Pihlapuu töös anti talle pärast bande pealiku Toomsalu kinnivõtmist võimalus
  oma süü välja lunastada kambriagendiks hakkamisega, osutades sellega teenet RJM organitele
  <i>(kambriagendina prooviti teda kasutada Lett Eduardi vahele võtmiseks)</i>
  . Kuid ta ei käitunud ausalt, paljastas oma värvatuse töödeldavatele objektidele ja ei täitnud temale pandud
  ülesannet.
</blockquote>

<blockquote>
  Seejärel
  <i>(1951. a)</i>
  määrati ta spetsgrupi koosseisu ja viidi täitma bandiitidevastase võitluse ülesannet ühte vabariigi kaugemasse
  piirkonda, kuid ettevalmistusprotsessi ajal tegi Pihlapuu oma värvatuse armukesele ja ka teistele isikutele teatavaks.
</blockquote>

<blockquote>
  Nähes tema käitumist tööülesannete täitmisel ja võttes arvesse tema tõsiseid kuritegusid nõukogude võimu vastu, tuleb
  ENSV RJM-l võtta Richard Pihlapuu kriminaalvastutusele.
</blockquote>

<p>
  Tundub, et just reeturi kahepaikne roll lõhestas inimese. Kui kaua ja milliste meetoditega Julgeolek teda kui enda
  jaoks väärtuslikku agenti püüdis tagasi võita ja mida see kaasa tõi, pole teada. Tema naise surmatõendil 29. dets.
  1950 on kidakeelne märge – tapetud, mainimata, kelle poolt.
  <br />
  Julgeolekutegelased oma libedat lubadust „süüst vabaks ostmisest“ loomulikult ei täitnud. Richard Pihlapuu arreteeriti
  63a vanuselt veebruaris 1951 ja talle määrati karistuseks 5a Venemaa vangilaagreid.
</p>

<p>
  Võimuvägivalla poolt puutumata ei jäänud ka need, kes lootsid jõhkra ülemvõimu armu pälvida ja päästa oma nahka
  naabreid ja kaasinimesi Julgeolekule represseerimiseks ette söötes. Nii juhtus julgeolekunuhkideks hakanud
  <b>Labide</b>
  peres.
</p>

<h2>Lembit ja Hilda Labi, kes hakkasid nuhkideks.</h2>

<p>
  Juba 1949. a algul, pärast „kulakust“ pereisa vangistamist 1948. a laostavate maksude tõttu, mida ta maksta ei
  suutnud, otsustasid mõned Labidest Julgeolekuga koostöö kasuks. Metsavendadele teadaolevalt oli just Lembit Labi (26a)
  see, kes veebruaris 1949 suunas julgeolekuüksuse haarangule Ortumäele, naabrite Kuklaste juures toimuvale peole, kus
  langes tulevahetuses metsavend Kalju Kirbits (19a). Samuti maikuus toimunud haarangule, kus arreteeriti Valter ja Hugo
  Kuklane.
  <br />
  Kõigile teenetele vaatamata saabus 25. märtsil 1949. a küüditamise operatiivgrupp ka Hilda Labi õuele, 7-liikmelist
  peret Venemaale küüditama. Operatiivgrupi vanem, Tšuvašši RJM Tšeboksarõ osakonna vanem operatiivvolinik Rakov koos
  kohaliku nõukogude aktiivi esindaja Urbi
  <i>(Urb Alfred, Viitina k/n esimees)</i>
  , ja tõlk Kalininiga tõdesid Labide elukohta Tootsimäele jõudes, et kõik elanikud olid lahkunud, uksed olid lahti,
  mööbel ära viidud ja kedagi peale kassi kodus polnud. Peret otsiti taga 3 päeva, kuni 28. märtsini (see kehtis kõigi
  puhul, keda küüditamisel kodust ei leitud), pärast mida teatas küüditamise eest vastutanud RJM Võrumaa osakonna ülem
  Puškarjov, et neid pole üles leitud ei Viitnast ega Võrust.
  <br />
  Kartes kättemaksu veebruarikuise haarangu pärast, lahkus kogu pere elama Võrru. Lembit Labi oli metsavendade teada
  käinud veel ka maikuus koos julgeolekuüksusega metsades ja näidanud ette varjajate võimalikud redupaigad. Järgmisel
  korral, kui metsavendade ja Lembit Labi teed ristusid, võeti ta kinni. Metsavennad moodustasid välikohtu, mille
  otsusega poodi Lembit Labi 17. mail 1949. a reeturina üles ja maeti seejärel maha.
  <br />
  Lembitu ema Hilda Labi, kes reetis julgeolekutöötajatele tasu eest oma küla inimesi, saadeti sellele vaatamata
  järgmisel aastal 2 aastaks vanglasse ja seejärel Siberisse asumisele, põhjenduseks küüditamise eest varjumine ja
  sissekirjutuse puudumine Võrus elades. Hilda Labi eestkostjaks palus tema pere parteitšinovniku, ülemnõukogu saadiku
  Ida Gutvese, kes Labi kiitmisel ei hoidnud kokku värvi tema naabrite Kuklaste mustamisel:
</p>

<blockquote>
  Minu mees, Jaan Gutves, autasustatud Lenini ordeni ja E. Ülemnõukogu Presiidiumi aukirjaga on Viitina vallas 15 a
  kooliõpetaja olnud ja teab kinnitada, et suurmaaomanik Kuklane oli valmis kõiki temast vaesemaid poegi ärahävitama.
</blockquote>

<p>Kättemaksuhirmus näevad äraandjad metsavendade hulka kordades suuremana:</p>

<blockquote>
  selgus oli minu venna tapjad 30 meest...
  <i>(tegelikult 7)</i>
</blockquote>

<img class="lg-img image-left w-[22%]" src="/images/rouge/i_gutves1.jpg" />
<img class="lg-img image-left w-[22%]" src="/images/rouge/i_gutves2.jpg" />
<img class="lg-img image-left w-[22%]" src="/images/rouge/i_labi1.jpg" />
<img class="lg-img image-left w-[22%]" src="/images/rouge/i_labi2.jpg" />

<div class="br"></div>

<p>Hilda Labi vabanes vangistusest 4a möödumisel.</p>

<blockquote>
  Teatame, et Labi Hilda Jaani t s. 1892 mõisteti 6. 02.1950 Võru rahvakohtu 1. osakonna poolt (UK RSFSR vene tähed)
  pragr. 192 alusel 2 a töö- ja paranduslaagrisse. Karistusaja kandis ta laagrites Narvas, Valgas ja Tallinnas.
  Karistuse lõppedes aprillis 1952 suunati ta asumisele Irkutski oblastisse, Ussuuli raj, kus ta asus kuni 17. märtsini
  1954. 17. märtsil 1954 vabastati Labi Hilda asumiselt ja 30. märtsil asus ta elama Eesti NSV-sse.
</blockquote>

<p>
  Hiljem taotles ta kaasinimeste reetmise eest ja poja kaotuse tõttu endale personaalpensioni. Taotluses kinnitas ta, et
  oli saanud koostöö eest Julgeolekuga ka tasu.
</p>

<p>
  Nagu näha, tõi võõrvõim ränga vangipõlve või surma vankumatult vastuhakanutele, kuid sama teed läks osa neistki, kes
  püüdsid lipitsemisega end päästa. Venemaale vangilaagreisse pillutati nii Viktor Kuklane, kes suutis jääda enesele
  kindlaks ja omade reetjaks ei hakanud (sai 10a), Richard Pihlapuu, kes tõi kolmele noorele mehele surma, enne kui
  pööras Julgeolekuga koostööle selja (sai 5a), kui ka Hilda Labi (sai 4a), keda ei päästnud vangipõlvest isegi
  ülesandmised ega tema nuhist poja tapmine metsavendade poolt vaevalt aasta varem.
</p>

<p>
  Vangilaagritesse saadeti väga suur hulk Toomsalu salga abistamises süüdistatud inimesi, sõltumata sellest, kes mingi
  „süü“ omaks võttis ja kes mitte. Mitmetel 25 aastaks sunnitööle saadetutel ei leitud hiljem vabastamisel olevat üldse
  mingit süüd. Jõhker kohtlemine nõukogude riiklikus ametiasutuses ei olnud siinsetele inimestele sugugi
  enesestmõistetav. Erinevail sõjatribunali istungeil on nad kõik esile toonud julgeolekutöötajate toorest vägivalda
  tõendite väljapressimisel ja omavoli protokollide koostamisel:
</p>

<blockquote>
  Kütt Georg: Uurija ähvardas mind ja kirjutas protokolli seda, mida ma ei öelnud. Ma olin sunnitud kambris magama
  seljataha seotud kätega.
  <br />
  Kirbits Henn: See on vale. Mind sunniti andma selline tunnistus uurija surveavalduse tõttu.
  <br />
  Allas Natalia: Ülekuulamise ajal meie peale karjuti ja meile avaldati survet. Mina ennast süüdi ei tunnista. Ma olin
  sunnitud valetunnistustele alla kirjutama, kuna Antsla julgeolekus mind peksti ja sunniti selleks.
  <br />
  Rebane Liidia: Võru Julgeolekus peksti mind ja sunniti valetunnistustele alla kirjutama, kohus aga minu õiget
  tunnistust ei arvestanud.
  <br />
  Liit Alo: Oma eeluurimisel antud tunnistusi ma ei kinnita.
  <br />
  Kasak Kalju: Tunnistasin valet. Tegin seda sellepärast, et ei tahtnud, et mind hakatakse uuesti peksma, peale selle
  lubasid ülekuulajad mu kohe lahti lasta, kui üles tunnistan.
  <br />
  Juhanson August: Eeluurimist Võrus viisid läbi major Mägi
  <i>(Mägi Johann Juhani p s 1913)</i>
  ja üks pikka kasvu leitnant
  <i>(Turupanov, Aleksander Nikolajevitš s 1927)</i>
  läbi peksmisega. Mind peeti ebaseaduslikult kinni 7-23. veebruarini 1951.
  <br />
  poolpime Kirbits Edgar: Riikliku Julgeoleku Võru osakonna töötajad käitusid minuga väga toorelt, sundides alla
  kirjutama paberitele, millede sisu mulle ette ei loetud vaid öeldi ainult paari sõnaga. Allakirjutamine sündis nii, et
  üks julgeoleku töötajatest talutas mu laua juurde ja võttis minu käe ilma minu nõusolekuta kirjutades mitmesugustele
  dokumentidele alla, millede sisu kohta mul puuduvad igasugused andmed.
  <br />
  jne.
</blockquote>

<p>
  Vangilaagritest ei pääsenud needki, kelle tegevuse kohta metsavendade abilistena Julgeolek ei suutnudki leida
  vettpidavaid tõendeid ja kes ise end süüdi ei tunnistanud. Sunnitööle ja asumisele 25+5 aastaks, ilma õiguseta
  inimlikule kohtlemisele ja koos kogu vara kaotusega saadeti ka ennetavalt, lihtsalt nö igaks juhuks. Ehkki tõendid
  arreteerimiseks puudusid isegi prokuröri silmis ja kuu aega kestev räige surve süü omaks tunnistamiseks tulemusi ei
  andnud, mõisteti inimene vangi ta oletatava tulevikukavatsuse eest minna metsavennaks. Selline saatus tabas näiteks
  Eduard Letti ja August Juhansoni.
</p>

<h2>Eduard Lett</h2>

<p>
  oli Viitina vallast pärit Rõuge valla täitevkomitee esimehe asetäitja. Tema vastu ei olnud Julgeolekul kuni uurimise
  lõpuni ühtegi otsest tõendit, oli vaid üks Toomsalult välja pressitud ütlus tema osavõtust kraamivedajana Kangsti poe
  röövil (mida Lett ise lõpuni eitas) ning kahe agendi kaudsed tunnistused, mille kohaselt Lett olevat kavatsenud
  ühineda metsavendadega, kui tema lähikonnas oleks hakatud inimesi arreteerima.
  <br />
  Eduard Lett rööviti salaja ja toimetati Julgeolekusse. Salaja kinnivõtmise viis läbi julgeolekumajor Mägi 24. veebr.
  1951 ilma ühegi määruse või orderita, seega seadusevastaselt. Ülekuulamistega alustati kohe pärast kinnivõtmist, 26.
  veebruaril, ülekuulajad olid RJM 2-N osakonna vanem operatiivvolinik ltn Leoke ja ltn Turupanov. Edasi proovisid Letti
  süüd omaks võtma sundida major Sbrodov, ltn Turupanov ja RJM Võru rajooniosakonna ülem Zamorozov.
  <br />
  Selleks ajaks, kui prokurörilt pressiti julgeolekuülemate otseste ähvarduste peale välja nõusolek tema
  arreteerimiseks, oli teda kordagi vabaks laskmata seadusvastaselt kinni peetud juba 33 päeva. Sellest 4-5 päeva
  uurimisosakonnas ühes ootetoas, hiljem sisevanglas.
</p>

<p>
  Letti kinnipidamise tagantjärele seadustamisel läks Julgeoleku ja prokuratuuri vahel olukord nii teravaks, et ENSV RJM
  julgeolekuministri asetäitja
  <b>Vedejev</b>
  pidi Letti arreteerimissanktsiooni prokurör
  <b>Bõkovilt</b>
  ja NSVL RJM prokuratuuri prokurör-esindajalt alampolkovnik
  <b>Kalininilt</b>
  ähvardusega välja pressima.
</p>

<p>
  Julgeolekuminister Moskalenko tunnistas hiljem Letti üle kuu aja vangis pidamise ebaseaduslikkust, kuid vangi jaoks ei
  muutnud see midagi: rajooniosakonna julgeolekuülem Zamorozov sai selle eest üksnes noomituse, Eduard Lett aga ühegi
  tõestamata süüdistuse eest 25+5a vangilaagreid ja asumist.
</p>

<p>
  Asjade käik Letti juhtumis:
  <br />
  Kõigepealt tuli RJM Võru rajooniosakonna ülemal major Zamorozovil selgitada, milles seisnes vajadus Letti
  vahistamiseks 24. veebr.1951 ja tema kinnipidamiseks eeluurimises ilma prokuröri sanktsioonita, võttes arvesse, et
  Lett elas legaalselt ja seetõttu oli võimalus dokumenteerida tema "kuritahtlikku tegevust" ka ilma tema
  kinnipidamiseta.
</p>

<p>Zamorozovi selgitus:</p>

<blockquote>
  25 a kinnipidamisele määratud Lett Eduard Peetri p, s 1902, Viitina elanik, asjus teatan järgmist:
  <br />
  Olles elusalt kinni võtnud relvastatud terroristliku bande pealiku Toomsalu, saime temalt andmeid terve rea aktiivsete
  bandeabiliste ja bande liikmete kohta. Nende hulgas oli bande liikmena ka Lett Eduard Peetri p
  <i>
    (täpsustus: Toomsalu ei nimeta Letti salga liikmena, vaid üksnes ühest röövist osavõtjana. Liikmed on üles loetletud
    ja Lett sinna ei kuulu)
  </i>
  , kes Rõuge valla täitevkomitee esimehe asetäitjana töötades võttis 1949 detsembris koos teiste Toomsalu bande
  liikmetega osa Kangsti kaupluse röövist Antsla rajoonis. Neile andmetele tuginedes valmistasime vastavalt Letti
  kuritegevuslikule tegutsemisele dokumentatsiooni, et võtta ta kriminaalvastutusele. Agent “Tammistelt”, kes töötab
  Toomsalu bande küsimusega, saime andmeid, et Lett kavatseb hakata illegaaliks ja liituda 9 liikmelise bandega, kes on
  veel vabaduses ja tegutseb selles rajoonis.
  <br />
  Saanud need andmed, pöördusin küsimusega tollase RJM ministri asetäitja polkovnik sm Vedejevi poole, kes asendas sel
  ajal minister Moskalenkot, ja sain temalt telefoni teel suulise käsu Lett kui röövist osavõtnu (faktiliselt bande
  liige) viivitamatult kinni võtta, mitte lasta tal minna illegaaliks, valmistada ette seni lõpule viimata materjalid ja
  saata need arreteerimissanktsiooni saamiseks.
  <br />
  Arreteerimismaterjali valmistasime Kangsti kooperatiivist röövitud vara konfiskeerimise abil, mille tundsid ära
  Toomsalu ning Kangsti kaupluse juhataja, ja saatsime materjali arreteerimissanktsiooni saamiseks ENSV RJM
  sõjaväeprokurörile. Teisi (st otseseid) tunnistusi peale Toomsalu oma meil ei olnud ja Lett ise kangekaelselt eitas
  oma osalust Toomsalu bandes ja osavõttu nimetatud kaupluseröövist. Seetõttu keeldus prokuratuur
  arreteerimissanktsiooni andmast.
  <br />
  Edasises materjalide valmistamise protsessis põrkusime raskusele saada otseseid tõendeid Lett Eduardi osavõtust
  kaupluseröövist, kuna teised Toomsalu bande liikmed, kes nimetatud röövist koos Lettiga osa võtsid, viibisid veel
  vabaduses. Meie poolt kinni võetud teine röövis osalenu, Mõniste elanik Kasak Kalju, varjas nimetatud fakti ja ei
  tunnistanud üles mitte midagi Lett Eduardi kuritegevuslikust tegevusest, ehkki oli sellest teadlik.
  <br />
  Nähes, et arreteerimismaterjalide vormistamine ja Letti süü üles tunnistamiseni viimine vajab rohkem aega, tahtsin
  lasta Letti vabadusse, kuid NSVL RJM esindaja polkovnik Dontsov, kes viibis sel ajal komandeeringus ENSV Võru
  rajooniosakonnas, samuti ENSV RJM esindaja uurimisosakonna ülema asetäitja major sm Morozihhin soovitasid seda mitte
  teha. Lisaks olid Letti vabastamisele kategooriliselt vastu ENSV RJM osakonnaülemad polkovnik sm Peregontsev ja major
  sm Pupõšev.
  <br />
  Letti arreteerimissanktsiooni saamisel prokuratuurist läks asi selleni, et sm Vedejev kutsus enda juurde välja
  prokurör sm Bõkovi ja NSVL RJM prokuratuuri prokurör-esindaja alampolkovnik sm Kalinini, kes viibis sel ajal
  komandeeringus ENSV RJM-s. Nende ette pandi valik – kas nad annavad sanktsiooni bande liikmete, teiste hulgas ka Letti
  arreteerimiseks, või ta pöördub sanktsiooni saamiseks MVD Leningradi sõjaväeringkonna sõjaväeprokuratuuri.
  <br />
  Pärast täiendavat tähtaega saadi lõpuks sanktsioon Letti arreteerimiseks ja pärast pikendatud tähtaega Lett Eduardi
  asja uurimises mõisteti ta 25 aastaks kinnipidamisele.
  <br />
  Seda, et Lett Eduard kavatses hakata illegaaliks ja liituda metsavendadega, võivad kinnitada agentuurandmed
  kambrisisestelt agentidelt “Aksel” – Kirbits Henn Oskari p ja “Rätsep” – Pihlapuu Richard Peetri p, mis kuuluvad
  Toomsalu bande toimiku juurde.
  <br />
  Nii teatas Lett ühes vestluses “Akseliga”, et ta oli tihedalt Toomsalu bandega seotud, võttis osa Kangsti kaupluse
  röövist Antsla rajoonis, kuid üles ta seda kunagi ei tunnista ning õpetas allikat eitama kogu oma süüd ja kõiki varem
  antud tunnistusi. Siis Lett ütleski, et kui tal õnnestub RJM-st välja rabelda, siis ta hakkab illegaaliks ja ühineb
  metsavennagrupiga.
  <br />
  Hiljem kinnitab sama ka RJM sisevangla kambrisisene agent “Vernõi”, kellele Lett 17.4.51 teatas, et tal on kodus ära
  peidetud palju toiduaineid ja raha, mis on hädavajalikud illegaaliks hakkamisel, kui tal õnnestub RJM küüsist välja
  rabelda.
  <br />
  Niisiis oli Toomsalu relvastatud terroristliku bande liikme Lett Eduardi kinnipidamine kuni arreteerimissanktsiooni
  saamiseks vajalike materjalide vormistamiseni tingitud tema soovist hakata illegaaliks ja liituda metsavendade
  rühmaga. Oleks olnud suur viga lasta Lett Eduardil pääseda karistusest oma kuritegude eest ja lasta tal hakata
  metsavennaks selles rajoonis. Selle tõttu hoiti teda kuni materjalide vormistamise ja kinnipidamissanktsiooni
  saamiseni kinni, millest ma kandsin ette ENSV RJM juhtkonnale ja milleks mul oli sanktsioon.
</blockquote>

<p>Turupanov lisab:</p>

<blockquote>
  Kes töötajatest Letti kinni võtsid, ei mäleta. Kinni võeti ta kui Toomsalu relvastatud terroristliku grupi aktiivne
  abiline ja Kõrgepalu kaupluseröövist (Antsla rajoonis) osavõtja. Ülekuulamised ja vastandamised juhi Toomsalu
  Auleidiga ülestunnistusteni ei viinud. Mina isiklikult Letti ülekuulamistest osa ei võtnud, kuid osalesin koos RJM
  uurija ltn Molokiga Letti ja pealik Toomsalu vastandamisel. Peale selle dokumenteerisin Võru rajooniosakonna ülema
  major sm Zamorozovi käsul Letti kuritegusid, kuulates üle tema naist jt pealtnägijaid. Letti ülekuulamisest võtsid osa
  julgeolekutöötajad: polkovnik Dontsov ja alampolkovnik Otvagin, Võru rajooniosakonna ülem major Zamorozov, Võru
  rajooniosakonna operatiivgrupi ülem major Mägi, Võru rajooniosakonna vanem operatiivvolinik major Sbrodov,
  uurimisosakonna ülema asetäitja major Morozihhin, n ltn Grinkov, ltn Molok jt, kuid kes nimeliselt, ei mäleta.
  <br />
  Vaatamata sellele eelloetletud seltsimehed Letti ülestunnistusi ei fikseerinud või ei tunnistanud ta ülekuulamistel
  üldse midagi üles. Vaatamata kõigile kasutusele võetud vahenditele ei õnnestunud Letti ülestunnistuseni viia. Seetõttu
  anti Lett ENSV RJM ministri asetäitja sm Vedevi, polkovnik sm Dontsovi, major sm Morozihhini ja major sm Mägi käsul
  kambrisiseste agentide töödelda, kelleks olid “Aksel” ja “Rätsep”, kuid seegi ei andnud mingeid tulemusi. Letti aga
  vahi alt vabastada ei tohtinud, sest tal oleks kõigi andmete kohaselt olnud kavatsus hakata illegaaliks, seetõttu
  ministri asetäitja sm Vedejevi, uurimisosakonna ülema alampolkovnik sm Pupõševi, tema asetäitja major sm Morozihhini
  ja ENSV RJM 2-N osakonna ülema alampolk sm Peregontsevi nõudmisel ja kokkuleppel ENSV RJM sõjaväeprokuröri
  justiitspolkovnik sm Bõkoviga Lett arreteeriti ja suunati uurimise läbiviimiseks ENSV RJM uurimisosakonda.
  Arreteerimiskäsu väljastas varasem RJM Võru rajooniosakonna vanem operatiivvolinik Grinkov. Rohkem mul asjas midagi
  selgitada ei ole. Turupanov (4. 02. 52)
</blockquote>

<p>Agent „Tammiste“ agentuurettekanne 23. veebruarist 1951:</p>

<blockquote>
  Allikas kohtas 23. veebruaril
  <i>(s.o. päev enne Letti salajast kinnipidamist)</i>
  juhuslikult varasemat Rõuge täitevkomitee esimehe asetäitjat Lett Eduardi, kes on u 50 a vana ja elab Rõuges. Algul
  vestlesid nad argiteemadel, aga siis ütles Lett allikale, et ta teab uudist, et hiljaaegu said julgeolekuorganid ühest
  talust haarangul kätte kuulsa metsavenna Toomsalu Auleidi, talu omaniku nime ta ei nimetanud. Lett ütles, et ta
  üksikasju ei tea. Siis ütles Lett allikale, et paljudel on tarvis järele mõelda ja lahkuda oma elukohast, kuni pole
  hilja, sealhulgas ka tal endal. Allika küsimuse peale “Miks?” vastas ta, et allikas ise teab, kuidas tavaliselt läheb
  ja sellega jutt lõppes, kuna tuli allikale tundmatu inimene ja hakkas Lettiga vestlema.
</blockquote>

<p>Kambriagent “Vernõi” ettekanne 17. aprillist 1951:</p>

<blockquote>
  Lett rääkis selle
  <i>(Toomsalu)</i>
  salga tegutsemisest, nagu ta kuulis väimehelt
  <i>(õemehelt? vk зят')</i>
  . Konkreetselt rääkis ta mõnedest lahingutest, mida see salk on pidanud RJM vägedega, kusjuures pärast oli mitmel
  masinal ära viidud surnud RJM võitlejaid. Lett teatas, et kui väimees
  <i>(зят')</i>
  saab tema arreteerimisest teada, siis ta oletavasti liitub koos naisega Ape metsavendade salgaga. Ta on juba varem ära
  peitnud suurel hulgal toiduaineid selleks puhuks, kui midagi peaks juhtuma, et tema ja ta väimees koos perekonnaga
  saaksid suunduda Lätti ja ühineda Läti metsavendadega. Neil on tagavaraprodukte ja suur summa nõukogude raha, mille ta
  on varem valmis pannud, käies sageli Leningradis põllumajandussaadustega kauplemas.
</blockquote>

<p>Letti ebaseadusliku kinnipidamise uurimise tulemuse edastab ENSV Julgeolekuminister polkovnik V. Moskalenko:</p>

<blockquote>
  Teatame, et uurimine kinnitab fakte nõukogude seaduslikkuse rikkumisest RJM Võru rajooniosakonnas, millele osutate oma
  määruses detsembrist 1951.
  <br />
  Nõukogude seaduslikkuse rikkumise eest, mis väljendub kodanik Lett Eduard Peetri p ebaseaduslikus vahi all pidamises,
  teenib RJM Võru rajooniosakonna ülem Zamorozov range noomituse, kuid võttes arvesse asjaolu, et Lett Eduard, Toomsalu
  rühma aktiivne abiline, kes võttis koos bandega vahetult osa Kangsti kooperatiivi röövimisest, ning et seoses bande
  juhi Toomsalu arreteerimisega oli Lett Eduardil kavatsus hakata illegaaliks, mille tulemusel tema mitteõigeaegse
  kinnipidamise korral oleks toimunud tema ühinemine vabaduses olevate Toomsalu bande liikmetega. Võttes arvesse ka seda
  asjaolu, et Letti kuritegevuse dokumenteerimise protsessis tekkisid raskused otseste tõendite kättesaamisega
  tunnistajatelt, kuna arreteeritud bandeliikmed (peale Toomsalu) Letti tegevuse vastu tunnistusi ei andnud, teised
  poeröövist osavõtnud on aga veel vabaduses, seetõttu saab major Zamorozov administratiivse karistuse – noomituse.
</blockquote>

<h1>RÕUGE METSAVENDI PUUDUTAVAD RJM 2-N OSAKONNA OPERATIIV-AGENTUUR ETTEKANDED 1949</h1>

<p>
  6. veebr 1949 toimus haarang Nikolai Kuklase talus, haarangut juhtis RJM Võru maakonnaosakonna operatiivvolinik ltn
  Antonov. Antonovi ettekanne:
</p>

<blockquote>
  5. veebr ööl vastu 6. 1949 u kl 24 teatas major Mirošnitsenko mulle telefoni teel Rõuge operatiivpunkti, et u 10 km
  Rõuge operatiivpunktist Ruusmäe poole Kuklase talus või Kuklase nimelise inimese juures peetakse pidu, kus peaks
  osalema ka grupp bandiite. Ma
  <i>(loetamatu)</i>
  autosse ja koos 9 inimesest koosneva sõjalise grupiga ja RJM vägede leitnandi P
  <i>(loetamatu nimi)</i>
  sõitsin kohta, kus bandiidid pidid asuma, võttes eelnevalt kaasa Rõuge elaniku Helmes Karli, kes on
  <i>(loetamatu sõna)</i>
  informaator „Klas“. Tõlki mul
  <i>(loetamatu)</i>
  ei olnud ja kasutasin oma eestikeelset sõnavara. Helmes Karl näitas mulle Kuklase talu ja ma saatsin ta koju tagasi,
  ise hakkasin läbi viima operatsiooni, mille tulemusena selgus, et me olime sattunud Kuklase sugulase talu juurde,
  mitte selle talu juurde, kus olid bandiidid. Selles talus ei olnud kedagi kodus, isegi pererahvast mitte, pärast talu
  läbiotsimist ja ülevaatamist mina ja ltn P
  <i>(loetamatu nimi)</i>
  tahtsime täpsemate andmete saamiseks tagasi pöörduda, kuid üks sõduritest tegi ettepaneku kontrollida ühte talu, mis
  asus meist u 200-250m kaugusel. Mina ja sõjaline grupp läksime tallu. Sel ajal kui me sõjalise grupiga talu
  blokeerisime, jooksis talust välja inimene, tulistasin isiklikult püstolist tema pihta, kuid ta ei peatunud ja jooksis
  edasi. Umbes 100-150m kauguselt talust tapeti ta sõjalise grupi poolt. See oli bandiit Kirbits Kalju, talu oli Kuklase
  Nikolai oma, nagu sain teada hiljem. Tõepoolest peeti selles talus noorte pidu ja seal oli u 30 inimest, kellest 5 ma
  pidasin kinni ja viisin kaasa Võru RJM osakonda. Mingeid muid andmeid peale selle, et u 10 km Rõuge operatiivpunktist
  Ruusmäe valla suunas toimub pidu Kuklase talus (talu või peremehe nimi), mitte Kuklase Nikolai talus, kus peaksid
  olema ka bandiidid, ma ei teadnud, sõitsime välja operatsioonile RJM Võru osakonna ülema asetäitja major sm
  Mirošnitšenko poolt telefonitsi saadetud teate peale. 23. mail 49, Võru maakonnaosakonna operatiivpunkti ülem Antonov.
</blockquote>

<p>
  Julgeolekus osutati, et operatsiooni korraldamisel puudus RJM osakonna juhtkonnal, täpsemalt juhataja asetäitjal
  Mirošnitšenkol, plaan. Operatsiooni tulemusena tapeti Kirbits Kalju, Toomsalu Auleid ja Pihlapuu Simo suutsid
  märkamatult varjuda. Kuklaste juurde oli haarangu suunanud naabertalust nuhiks värvatud
  <b>Lembit Labi</b>
  (26a) ehk agent
  <b>„Juhan“</b>
  .
</p>

<p>
  Agentuurtoimik "Šaakalid" avamise aluseks võeti tunnistused veebruarikuiselt haarangult ülekuulamisele viidud Klaas
  Heikilt (Richard Pihlapuu poja sõbralt) ja maikuus arreteeritud Kuklane Valterilt ja Kuklane Hugolt. Agentuurtoimik
  avati avati mais 1949. a.
</p>

<p>Mai 1949</p>

<blockquote>
  Tegime kindlaks, et Rõuge ja Ruusmäe vallas Võrumaal tegutseb metsavendade salk koosseisus: Toomsalu Auleid Juliuse p;
  Virk Herbert; Kirbits Aksel Jaani p; Kuklane Vambola, kes varem oli Toomsalu bande sidemees, hetkel bande koosseisus;
  Pettai Elmar, aktiivne bandeliige; Kuklane Valter.
</blockquote>

<blockquote>
  <b>Klaas Heiki</b>
  värbasime hüüdnime all
  <b>„Džimi“</b>
  . 28. veebr kuni 11. maini agent „Džimi“ näole ei andnud. Ilmudes 11. mail k.a. teatas „Džimi“, et ei täitnud saadud
  ülesannet seoses õpingutega Tartu Ülikoolis. Nimetatud kohtumiselt saatsime „Džimi“ uuesti bandiite otsima, kuid
  järjekordsele kontrollkohtumisele ta ei ilmunud. Pole välistatud, et „Džimi“ väldib uuesti saadud ülesande täitmist.
</blockquote>

<blockquote>
  Arreteerisime rea bandeabilisi: Pihlapuu Heldur Richardi p 1928, Tartu ülikooli üliõpilane; Kevvai Aksel Alfredi p
  1920 Tallinnas FRP nr 1 (vene tähed) õpilane Tallinnas, elukoht Tallinn Luise 1; Perli Kalju Augusti p 1928; Kuklane
  Viktor Nikolai p 1924.
</blockquote>

<p>Juuni 1949</p>

<blockquote>
  Värbasime:
  <br />
  1.
  <b>Koop Voldemar</b>
  Andre p 1925, Ruusmäe vallast, varjunimi
  <b>„Okas“</b>
  . Koop võeti salaja kinni ja allutati üksikasjalikule ülekuulamisele. Ülekuulamise käigus tunnistas ta üles sideme
  Kuklane Vambolaga, kelle kaudu saatis püstoli Kuklane Valterile. Tunnistas oma süüd, mille tulemusel värvati
  varjunimega „Okas“ ja saadeti bandet otsima.
  <br />
  2.
  <b>Pihlapuu Richard</b>
  Jakobi p 1888 Rõuge vallast, varjunimi
  <b>„Rätsep“</b>
  . Agendilt „Tihhomirov“
  <i>(1945. a värvatud varasem politseinik, Urvaste kandis 1946 paljastatud)</i>
  saadud andmetel pöördus metsavendade aktiivne abiline Pihlapuu tema poole soovituse saamiseks, kuidas oleks võimalik
  vabastada oma arreteeritud poeg RJM organitest. Nende andmete alusel võeti Pihlapuu salaja kinni. Ta tunnistas
  ülekuulamisel oma sidet bandiitidega, mille tulemusel ta värvati informaatoriks varjunimega „Rätsep“ ja saadeti bandet
  otsima.
  <br />
  3.
  <b>Sakk Leonhard</b>
  1922, Rõuge elanik, varjunimi
  <b>„Oel“</b>
  , värvatud patriootlike tunnete alusel
</blockquote>

<blockquote>Bandesse sissesöödetud agent puudub.</blockquote>

<blockquote>
  Agendilt
  <b>„Rätsep“</b>
  saime teate, et Toomsalu Auleidi juhitud salk kavatseb röövida Haanja vallas kooperatiivi, arvatavalt 27. juunil või
  1. juulil 1949.
  <br />
  Nende andmete alusel moodustasime operatiivgrupi. 27.06.49 paigutasime kooperatiivi juhi (meie kaastööline) korterisse
  raadiosignalisatsiooni saatja ja panime paika salajased varitsused, eesmärgiga lasta bandiidid kooperatiivile
  lähenemisel esmalt mööda, seejärel nad sõjaväelise üksuse vanema märguande peale kinni võtta või vastuhakkamise korral
  füüsiliselt hävitada. Käsuandjaks määrati RJM vägede jaokomandör Manin, kes viidi eelnevalt ümbrusega kurssi.
  <br />
  27.6.49 Toomsalu bandet kooperatiivi juurde ei ilmunud. 28.6.49 kell 04.40 liikus sõjaväeline üksus varitsuspiirkonda,
  üksuse vanem Katkov (ltn Manin oli samal ajal hõivatud Veriora vallas) asus varitsussalga vanematele ülesannet
  selgitama. U kell 1 öösel 28. juunil vastu 29. juunit kuuldus kooperatiivi juurest laske, tulistas kooperatiivi
  valvur.
  <br />
  Varitsussalgad sööstsid oma määratud kohtadele. Varitsussalkade vanematele oli antud käsk lasta läbi kõik kooperatiivi
  suunas minejad, enda asukohta reetmata ja tulevahetusse astumata. Kui varitsussalk vasakul tiival lähenes teele
  eesmärgiga see ületada ja võtta sisse algpositsioon kaupluse edelaküljes, kostis kaupluse juurest vile ja Ruusmäele
  viiva tee suunast ilmus nähtavale hobune vankriga, millel istus 2 bandiiti. Vasaku tiiva varitsussalk täitis saadud
  ülesande ja lasi vankri kaupluse juurde läbi.
  <br />
  Varitsussalk paremal tiival, mida juhtis snt Lebed, oli sel momendil ületanud tee ja laskus väiksesse lohku
  kavatsusega võtta sisse varitsuse algpositsioon kooperatiivi loodeküljel. Kui grupp oli jõudnud teest 25-30 m
  kaugusele, ilmus teel nähtavale inimene, kes liikus kaupluse suunas. Snt Lebed, selle asemel, et täita käsku ja lasta
  inimene läbi kaupluse juurde, näitas üles distsiplineerimatust, astudes temaga esmalt tulevahetusse ja seejärel heites
  granaadi, millega paljastas bandiitidele operatiivgrupi kohalolu enne selle varitsuspaigale jõudmist. Kaupluse poole
  suunduv inimene osutus Rahvakaitse rühmaülemaks Sels’iks, kes, kuulnud laske, oli minemas kaupluse juurde olukorda
  uurima.
  <br />
  Bandiidid, kuulnud automaadivalangut ja granaatide lõhkemist, hakkasid jooksma just selles suunas, kuhu varitsusgrupp
  polnud veel kohale jõudnud. Seepeale oli snt Katkov sunnitud avama vintpüssist tule kaupluse ukse pihta, et sundida
  bandiite püsima hoone sisemuses kuni varitsusgrupi jõudmiseni määratud kohta, kuid vintpüss osutus väheefektiivseks ja
  bandiidid suutsid kauplusest välja joosta, haaranud sealt enne kaasa u 600-700 rbl raha, mõned pakid paberosse,
  šokolaadi ja mõned pudelid likööri.
  <br />
  Tulevahetusse sattunud bandiitidest jäi maha automaat, alaealise kummikud, kott medikamentidega ja hobune vankriga,
  teine hobune oli tapetud.
  <br />
  Tulevahetuses said 2 bandiiti haavata (nähtavasti kergelt, kuna suutsid joosta), mida kinnitab veri ukselävel. Teisel
  korrusel asunud poejuhataja ja poe valvur kuulsid pealt bandiitide juttu haavatasaamisest Katkovi laskude läbi
  poeuksel, püüdes kauplusest minema joosta.
  <br />
  Organiseeritud jälitamine tulemust ei andnud, koer võttis jälge u 5 km, kuid sohu jõudes kaotas jälje.
</blockquote>

<p>Juuli 1949</p>

<blockquote>
  28. juunil 1949 tuli allikalt
  <b>„Metla“</b>
  <i>
    (julgeoleku poolt Rõuge veski juhataja kohale pandud agent
    <b>Sepp Robert</b>
    Kristjani p s 1899)
  </i>
  ettekanne selle kohta, et Toomsalu bande võib lähiajal kavatseda Rõuge kaupluse röövi, millest „Metlale“ rääkis selle
  auto juht, mida bandiidid röövisid. 27. 6.49 sõitis Krabilt Rõugesse koort vedav auto. 10 km enne Rõuget peatasid 6
  relvastatud bandiiti auto, võtsid kogu seal oleva koore ja varjusid metsa. Röövi ajal 1 bandiitidest viis autojuhi
  metsa ja hakkas huvi tundma, kui palju ja missugust sorti kaupa on Rõuge kaupluses. Kui autojuht ütles, et ta ei tea,
  teatas bandiit: “No, pole midagi, me tuleme ise varsti ja kontrollime.“
  <br />
  Röövi ärahoidmiseks moodustasime operatiiv-sõjalise grupi, millest panime välja salajased varitsused kuueks päevaks
  Rõuge kooperatiivi piirkonda. Operatiiv-sõjalise grupi ülesandeks oli kooperatiivi röövi katsel bandiidid kinni võtta
  või vastupanu korral füüsiliselt hävitada. Bandiite ei ilmunud ja varitsus võeti maha.
</blockquote>

<blockquote>
  Värbasime:
  <br />
  <b>Kõiv</b>
  <i>(Richard?)</i>
  , varjunime all
  <b>„Karu“</b>
  . RJM maakonnaosakond sai teate, et Haanja ja Rõuge valla piiril varjab end väljasaatmise eest kulak Kõiv, kes tunneb
  hästi bande „Šaakalid“ juhti Auleid Toomsalut. Võtsime Kõivu salaja kinni, viisime osakonda ja kuulasime põhjalikult
  üle. Kõiv rääkis avameelselt, et märtsis 1949, saades teada eelseisvast pere väljasaatmisest, läks ta illegaaliks ja
  varjas end kuni kinnivõtmiseni. Lisaks rääkis Kõiv, et ta tunneb isiklikult illegaal Toomsalu Auleidi („Šaakalite“
  juhti), kuid tema praegust asukohta ta ei tea. Võttes arvesse tema puhtsüdamlikku ülestunnistust, värbasime Kõivu
  pseudonüümi all „Karu“. Et teha kindlaks Toomsalu bandiidigrupi asukoht ja viia informaator „Karu“ nende hulka,
  lavastasime Muna talus Muna külas Haanja vallas haarangu tema kinnipidamiseks ja tema metsa põgenemise jälitava
  operatiivgrupi eest. Järgneval kohtumisel teatas informaator „Karu“, et lavastatud põgenemine läks korda. Kuuldus tema
  põgenemisest levis Haanja ja Rõuge vallas kiiresti. Elanikkond peab teda praegu illegaaliks.
  <br />
  Siiski pole informaator „Karul“ seni õnnestunud võtta ühendust Toomsalu bandiitide grupiga, mis tegutseb Rõuge, Haanja
  ja Ruusmäe vallas. Kohtumisel andis informaator „Karu“ lubaduse suunata kogu jõud selleks, et saada Toomsalu grupiga
  ühendus ja imbuda sellesse ning hiljem sobiva juhuse avanemisel juhtida grupp operatiivlöögi alla. Informaator „Karu“
  kohusetundlik suhtumine meie poolt antud ülesannete täitmisse on seletatav tema hirmuga oma perekonna saatuse ees,
  kellega ta on tihedalt seotud. Selleks andsime talle lubaduse, et Toomsalu bande eduka likvideerimise korral anname
  talle võimaluse elada oma perekonnaga rahulikult, mille üle ta väga rõõmustas ja lubas omalt poolt pingutada jõud
  Toomsalu bande otsimiseks ja suunamiseks operatiivlöögi alla.
</blockquote>

<blockquote>
  Lisaks valmistume saatma Rõuge, Haanja ja Ruusmäe rajooni bojevikku
  <b>„Välk“</b>
  <i>
    (mõrvaragent
    <b>Karl Pavlov</b>
    )
  </i>
  , keda valmistatakse üksikasjaliselt ette selleks, et suunata ta koos sobiva legendiga usaldusväärse inimese kaudu
  Toomsalu bandesse. „Välgu“ imbumise Toomsalu bandesse viime läbi kas agent „Rätsepa“ või informaator „Karu“ kaudu.
</blockquote>

<blockquote>
  4. juulil k.a. allikas
  <b>„Julius“</b>
  ja 19. juulil k.a.
  <b>„Teodor“</b>
  andsid teada, et Pannorg-Luhu metsas Liake veski rajoonis olevat Toomsalu bandiidigrupil punker. Mõlemad allikad
  läksid otsima punkri täpset asukohta. Pärast punkri asukoha kindlaks tegemist kavatseme läbi viia sõjalise
  operatsiooni ja bande kinni võtta, vastuhaku korral hävitada.
</blockquote>

<blockquote>
  12. juulil k.a. sai allikalt
  <b>„Rätsep“</b>
  teatavaks, et Toomsalu bande liikmed käivad igal laupäeva õhtul Pulli talus saunas pesemas ja viina joomas. Talu
  peremees on üks aktiivsemaid Toomsalu bande abilisi - bandiit Pettai Elmari isa Pettai Edgar. Allikalt „Rätsep“ saadud
  andmete peale korraldasime laupäeval 16. juulil 1949. a a kell 18 sõjalis-operatiivse varitsuse Pulli talu läheduses,
  ülesandega piirata bandiitide tallu ilmumisel talu ümber, võtta bandiidid kinni ja relvastatud vastuhaku korral nad
  hävitada. 16. juulil läbi viidud sõjalis-operatiivne varitsus tulemusi ei andnud, kuna bandiidid olid talus kell
  15-16, kuid lahkusid ja tagasi ei tulnud. Võttes arvesse asjaolu, et bandiidid võivad tulla Pulli tallu päeval
  lühikeseks ajaks, otsustati korraldada sõjalis-operatiivne varitsus alates reedest, 22. juulist k.a. kuni esmaspäeva,
  25. juulini k.a., eesmärk sama mis eelmisel varitsusel. 23. juulil k.a. fikseeris sõjalis-operatiivne varitsus kolme
  bandiidi saabumise Pulli tallu. Viivitamatult viidi läbi sõjaline operatsioon, mille tulemusel kõik kolm bandiiti, kes
  osutasid relvastatud vastupanu, tapeti. Tapetuteks osutusid: Virk Herbert Eduardi p 26 a Haanja Kokamäe elanik,
  illegaal 1947. a, relvaks automaat PPŠ, püstol TT ja käsigranaat RG-42; Kuklane Vambola Akseli p 1930 Aabra talust
  Viitina k/n Rõuge vallast, illegaal al märtsist 1949, relvaks automaat PPS, Brauning kal 7,65; Pettai Elmar Edgari p
  1928 Pulli talust Viitinast Rõuge vallast, illegaal al märtsist 1949, relvaks Saksa automaat. Pärast sõjalist
  operatsiooni arreteeriti Toomsalu bande aktiivsed abistajad Pettai Edgar, Pettai Maimu, Pettai Linda.
  <br />
  Bandeabiliste baasi selgitamisel ja läbitöötamisel tehti kindlaks ja võeti töötlemisele rida aktiivseid bandeabilisi:
  Luutsniku elanik Ruusmäe vallast Kevvai Alfred ja tema tütar Kevvai Maimu, viimane on bandiit Virk Herberti armsam;
  sama koha elanik Lepp Viidrik, tema vend Lepp Peeter ja nende vennatütar Lepp Valve, viimane on bandiit hüüdnimega
  „Doktor“ armsam; Annok Maria, Tialase talu elanik Luutsnikust Ruusmäe k/n; sama koha elanik Juhanson August; Vähi Jaan
  – bandiit hüüdnimega „Doktor“ sugulane, Vähi varjab enda juures vahel ka teisi bandiite.
</blockquote>

<blockquote>
  15. juulil teatas allikas
  <b>„Maimu“</b>
  korralisel kohtumisel, et tema mees Pihlapuu Aaro varjab end Riia linnas Paruni tn 192 a, selle kinnituseks oli tal
  Pihlapuu Aarolt saadud kiri. Pihlapuu, kes on illegaal, pidas sidet bandiitidega, kes figureerivad agentuurtoimikutes
  „Urodõ“
  <i>(Jaan Rootsi salk? Randmaa Pauli salk?)</i>
  , „Strelba“
  <i>(Kõiv Hugo salk)</i>
  ja „Šaakalid“
  <i>(Toomsalu Auleidi salk)</i>
  . Kavandame Pihlapuu värbamist Randmaa Pauli otsimiseks ja töötlemiseks.
</blockquote>

<p>August 1949</p>

<blockquote>
  1.aug 1949 teatas allikas
  <b>„Teodor“</b>
  , et laupäeval, 6. aug 1949 toimub Lepp Viidriku talus tema vennatütre Lepp Valve sünnipäevapidu, kes on bandiidi
  hüüdnimega „Doktor“ armsam, kelle nimi on kinnitamata andmetel Pallo Valter. Pole välistatud ka bandiitide ilmumine
  õhtul Lepp Valve juurde. Nendele andmetele toetudes viidi 6. 8. 1949 Lepp Viidriku talus läbi sõjalis-operatiivne
  varitsus eesmärgiga bandiitide ilmumisel Lepp Viidriku tallu nad kinni võtta. Sõjalis-operatiivne varitsus tulemusi ei
  andnud, kuna bandiidid Lepa juurde ei ilmunud.
</blockquote>

<blockquote>
  9. aug 1949 teatas allikas
  <b>„Rätsep“</b>
  , et bandiit hüüdnimega „Doktor“ /Pallo Valter/ sõitis Rõuge vallast Tartu maakonda Kiidjärvele, aga Toomsalu Auleid
  varjab end Leimani talus, mis asub Luha metsas. Sellest rääkis allikale Pettai Edgari naine Pettai Emma. Neile
  andmetele toetudes asuti bandiiti hüüdnimega „Doktor“ otsima Tartumaalt. Bandiit Toomsalu Auleidi on saadetud otsima
  allikas „Rätsep“ ja „Teodor“. Kahe bandiidi kindlakstegemisel viiakse läbi sõjaline operatsioon nende kinnivõtmiseks.
</blockquote>

<blockquote>
  19.aug 49 teatas allikas
  <b>„Okas“</b>
  , et vestluses Mustahamba küla elaniku Kelder Bernhardiga (elab poollegaalselt) sai allikale selgeks, et bandiidid
  külastavad Johanson Augusti talu, kus kuulavad raadiot, kuid kes bandiitidest täpselt Juhanson Augusti talu külastab,
  seda Kelder Bernhard ei öelnud. Nende andmete põhjal saadeti Juhanson Augusti tallu allikas „Okas“, et kindlaks teha,
  kes bandiitidest ja kuna Juhansoni talu külastab.
</blockquote>

<p>September 1949</p>

<blockquote>
  6. sept 1949 allikalt
  <b>„Klas“</b>
  saadud andmetel sai teatavaks, et Toomsalu osaliselt hävitatud bande liikmed varjavad end hetkel Ruusmäel Palli külas
  Luutsniku k/n Juhanson Augusti talu maadel. Sama allika andmetel koosneb Toomsalu bande praegusel hetkel 3-st
  bandiidist: Toomsalu Auleid, Perli (Pärli) Elmar ja hiljuti nendega ühinenud tundmatu bandiit Haanjast Võru
  maakonnast. Mõnikord on koos nimetatud bandiitidega ka illegaalselt elav Mõttus Juhan – varasem Mustahamba küla elanik
  Ruusmäelt, kes läks illegaaliks pärast tema poja, Toomsalu bande abilise Mõttus Sulevi arreteerimist.
</blockquote>

<blockquote>
  6. sept k.a. allikas
  <b>„Rätsepa“</b>
  andmetel sai teatavaks, et bandiit Toomsalu Auleid koos tundmatu Haanja vallast pärit bandiidiga jõid 3. sept ööl
  vastu 4. sept Küti talus /kaks venda Jaan ja Georg, kes on Viitina k/n elanikud Rõuge vallast Võru maakonnast/ ja
  olevat ao eel lahkunud Ratt Karli tallu, kes elab Küti talust 3 km kaugusel. Ratt Karlil on 2 täisealist tütart.
  Bandiitide külaskäigust Küti tallu sai allikas teada Kütt Jaanilt.
</blockquote>

<blockquote>
  9. sept 1949 allikas
  <b>„Okase“</b>
  teatel sai teatavaks, et Mustahamba küla elanikul Kelder Bernhardil on side bandiitidega, kellega ta pidevalt kohtub.
  Kelder Bernhard uuris allikalt, kuna pank Ruusmäe TK-sse raha järgi sõidab.
</blockquote>

<blockquote>
  10. sept k.a. sai allikas
  <b>„Karu“</b>
  teada, et tundmatu bandiit Haanjast on Liit Paul, 25 aastane, varasem Haanja elanik. Liit Paul rääkis allikale, et
  Toomsalu bandes tekkisid lahkhelid, mille tulemusena bandiit Pallo Valter hüüdnimega „Doktor“ eraldus bandest ja
  lahkus teadmata kuhu, kuna Toomsalu kahtlustab Pallo Valterit reetmises ja peab teda süüdlaseks oma kolme kaaslase, so
  Pettai, Kuklase ja Virki hukkumises Pettai Edgari talus läbi viidud bande likvideerimise operatsiooni käigus. Lisaks
  rääkis Liit Paul, et ka tema lahkus bandest ja varjab praegusel ajal üksikuna Haanja vallas ja Rõuges.
</blockquote>

<blockquote>
  16. sept teatas allikas
  <b>„Okas“</b>
  , et vesteldes Mustahamba küla elaniku Kelder Bernhardiga rääkis viimane, et laup. 17. sept k.a. peetakse Viitinas
  Lepp Viidriku juures tantsupidu, kuhu kutsutakse ka bandiidid, kuid kes täpselt, seda Kelder ei öelnud. Nende andmete
  alusel viidi Lepp Viidriku talus läbi sõjaline operatsioon bandiitide kinnipidamiseks. Operatsioon tulemusi ei andnud,
  kuna bandiidid tantsuõhtule ei ilmunud.
</blockquote>

<blockquote>
  23. sept kl 14 päeval tapeti Sadrametsa külas tundmatute isikute poolt RJM Harju maakonna ülema asetäitja major Sisas.
  Major Sisase tapjate otsimisel sõjalise operatsiooni käigus tapeti vastuhakkamisel tundmatu bandiit. Uurimine ja
  äratundmine tegi kindlaks, et tapetuks osutus bandiit Pihlapuu Simu Danieli p 1916 Saarlase külast Rõuge vallast,
  illegaal al 1944. a. Bandiit Pihlapuu Simu läks kevadel 1949 Toomsalu Auleidi salka hüüdnime all Vana-Jüri/Pettai
  Edgari tunnistus 25.09.1949/. Major Sisase tapjaid on saadetud otsima agent
  <b>„Karu“</b>
  , kes on illegaal. Plaan edasisteks agentuur-operatiivseteks ettevõtmisteks agentuurtoimiku „Šaakalid“ raames major
  Sisase tapjate otsimiseks on saadetud kinnitamiseks ENSV RJM-i.
</blockquote>

<p>Heino Uibot ja Voldemar Rüütlit otsib julgeolek agentuurtoimik „Tsepotška“ raames:</p>

<blockquote>
  24. sept 1949 taastati side informaator
  <b>"Napoleoniga“</b>
  , kes oli bandesse imbumise eesmärgil viidud varem illegaaliks. Kohtumisel teatas allikas, et sugulased ja teised
  allika sidemed on tema illegaaliks hakkamisse hästi suhtunud. Tema poolt soovitatud paarimees Juhanson Erik oli
  illegaaliks vaid 2 päeva, seejärel legaliseerus ja ilmus rahvakohtusse riigiraha raiskamise küsimust lahendama.
  Juhanson sai siiski „Napoleonile“ padrunid „TT“ jaoks, aga tema vend Juhanson Evald andis allikale töökorras automaadi
  PPŠ. Bandega ühenduse saamiseks saadeti „Napoleon“ marsruudile Krabi k/n, Varstu vald, kus allikas kohtus bande liikme
  Marjak Leonhardi vennaga Marjak Eduardiga /allika onu/. Viimane võttis allika hästi vastu, andis talle Saksa vintpüssi
  ja 20 padrunit selle jaoks. Marjak Eduard rääkis allikale, et tema talu külastas 1949. a talvel ja kevadel Uibo Heino,
  kes tuli tema juurde alati Rõuge valla territooriumilt. Viimati kohtusid nad mais 1949. Informaator
  <b>„Karu“</b>
  andmetel võttis Uibo koos Toomsalu Auleidi ja Pihlapuu Simmuliga
  <i>(Simoga)</i>
  /agent. toim „Šaakalid“/ osa major Sisase tapmisest. Neist andmetest nähtub, et Uibo on Varstu ja Mõniste
  territooriumil tegutsenud bandest lahkunud. Marjak lubas allikale korraldada kohtumise Uiboga, kui see tema talu
  külastab. Allikas nõustus Uiboga kohtuma, kuid et ta pole temaga tuttav ja tema ülesandeks oli pääseda ligi Varstu
  valla bandele, palus allikas Marjakult abi kohtumiseks tema venna Marjak Leonhardiga. Kuid Marjak Eduard teatas,et ta
  pole vennaga alates märtsist 1949 kohtunud ja ei tea tema asupaika. Lubades Uiboga kohtumiseks Marjaku poole tulla,
  lahkus allikas bandeabilise Rebane Ida poole. Rebane võttis allika hästi vastu ja püüab aktiivselt aidata allikal luua
  ühendus bande liikmetega. Sel eesmärgil külastas Rebane bandeabilist Kiver Peetrit ja Rüütli Nikolaid. Kiver ja Rüütli
  teatasid Rebasele, et pärast Vastse-Roosa poeröövi /21.8.1949/ hajusid bande liikmed laiali, mistõttu ajutiselt
  nendega sidet ei ole. Allika bandesse võtmise küsimuses lubati rääkida bande juhiga, kelle nime ei nimetatud. Rüütli
  Nikolai talus /bande liikme Rüütli Voldemari sugulane/elab Loode Vera, kellega elas varem abielus Marjak Leonhard.
  Sellega seoses anti „Napoleonile“ ülesanne külastada Rüütlit koos Rebane Idaga ja jõuda tema kaudu bande juhini või
  Loode Vera kaudu bande liikme Marjak Leonhardini /allika onu/.
</blockquote>

<blockquote>
  26.sept teatas
  <b>„Okas“</b>
  , et Varstu valla elanik Januars Jaan elab vabaabielus Antsov Helmiga, kes elas 1949. a märtsis kolm kuud vabaabielus
  bande liikme Marjak Leonhardiga, aga tema illegaaliks hakkamise järel läks tagasi Januarsi juurde. Elades Antsov Helmi
  tütre Antsov Lindaga sai „Okas“ viimaselt teada, et kui Januarsi kodus pole, külastab tema naist bandiit Marjak.
  „Okas“ nägi isiklikult 12. ja 23. sept k.a. Januarsi talu külastamist mehe poolt, kes põgenes kohtumise eest allikaga.
  Antsov Linda teatel see oli Marjak. Töötades välja „Okase“ sidet, on meil viimase kaudu pidev kontroll Januarsi talu
  üle, ülesandega siin bandiit Marjak Leonhard kinni võtta.
</blockquote>

<blockquote>
  Värbasime:
  <br />
  Toomsalu Auleidi bande otsimiseks ja töötlemiseks värbasime informaatoriks pseudonüümi all
  <b>„Jüri Rumm“</b>
  <b>Kelder Bernhardi</b>
  Alfredi p 1929 Jeedase külast Perametsast Vastseliinast, kes elab Mustahamba külas Ruusmäel. Informaator „Jüri Rumm“
  on Toomsalu bande abiline ja peab süstemaatiliselt sidet bande liikmetega.
  <br />
  Toomsalu bande järelejäänud liikmeid on saadetud otsima allikad
  <b>„Rätsep“</b>
  ,
  <b>„Okas“</b>
  ,
  <b>„Teodor“</b>
  ,
  <b>„Klas“</b>
  jt.
</blockquote>

<blockquote>
  Vahekokkuvõte:
  <br />
  Allikate „Karu“, „Okas“, „Rätsep“, „Teodor“, „Aksel“ jt andmetel on teada, et et Toomsalu bande osalise purustamise
  järel on bande koosseisu jäänud 3 liiget: Toomsalu Auleid, Kirbits Aksel, Pallo Valter, hüüdnimega „Doktor“, kes
  praegu varjavad üksteisest eraldi teistes bandiidigruppides.
  <br />
  1. Toomsalu Auleidi gruppi kuuluvad: Toomsalu Auleid 1922, tappis komsorg Tederi ja osales major Sisase tapmisel;
  Sprenk Aksel Jaani p, varjab al 1944, osales major Sisase tapmisel; Liit Paul, 23 a, kes allikas „Akseli“ andmetel
  tappis aprillis 1949 Haanja partorgi Villo
  <i>(Viso)</i>
  ; Uibo Heino, varasem Varstu elanik, osales major Sisase tapmisel. Nimetatud bandiitide grupp varjab Rõuge valla
  territooriumil Sadra ja Roobi metsas.
  <br />
  2. Pallo bandiidigruppi kuuluvad: Pallo (teisi andmeid ei ole), hüüdnimi „Doktor“; Lepp Valve Augusti t 1929, Haki
  külast, bandiit Pallo armsam. Lisaks varjavad Pallo bandiidigrupis veel 4 inimest, kuid kes konkreetselt, pole
  kindlaks tehtud. Nimetatud grupp varjab end Rõuge ja Varstu vallas ning Läti NSV alal Luha metsas Võru ja Läti piiril.
  <br />
  3. Bande, kuhu läks Kirbits Aksel, koosneb 4 inimesest: Pärli Elmar u 30a, hüüdnimi „Vana Pini“, varasem Palli küla
  elanik, varjab al 1944, Saksa armees teeninu; Kirbits Eduard Jaani p 1924, hüüdnimi „Jüri“, Rõuge elanik, Saksa armees
  teeninu; Kirbits Aksel Jaani p hüüdn „Ori“, Kirbits Eduardi vend; Mõttus Juhan, 52-54 a illegaal, peab sidet
  metsavendadega. Nimetatud grupp varjab Ruusmäe vallas, Luha soo piirkonnas. Otsest sidet eeltoodud bandede vahel ei
  ole kindlaks tehtud.
</blockquote>

<p>Oktoober 1949</p>

<blockquote>
  Okt 1948 legaliseerisime illegaalid Valner Eduardi ja Põder Helmi, kuid jaanuaris k.a. varjusid nad uuesti. Agent
  <b>„Tihhomirovi“</b>
  andmetel ei varjunud Valner ja Põder oma initsiatiivil. Nad viidi metsa teiste bandiitide poolt, kes lasid Põdra peagi
  lahti, kuid Valneri olevat nad tapnud. Meie poolt otsiti Põder üles ja peeti 25. okt k.a. kinni. Põder tunnistas
  ülekuulamisel üles, et sooritas 1948 koos bandiit Valneriga terve rea rööve, mille tõttu nad ka Valneriga enne
  legaliseerumist varjusid. Põder nimetas 5 punkri asukohad Rõuge ja Varstu valla metsades, mida nad varem koos
  Valneriga kasutasid. Ühes neist elasid nad ligi kuu aega koos Uibo Heino ja Pihlapuu Simuliga
  <i>(Simoga)</i>
  /tapetud sept k.a., agent. toimik „Šaakalid“/. Põder tunnistas ka, et et jaanuaris 1949 võtsid 5 bandiiti kinni tema
  ja Valneri ja viisid metsa. Punkris Kogre piirkonnas kuulati nad üle, küsiti nende legaliseerumisel antud tunnistuste
  kohta ja julgeolekuorganitelt saadud ülesannete kohta. Põder lasti pärast küsitlemist lahti ülesandega minna röövile
  kaasa voorimeheks. Sidet kästi pidada Rõuge valla Luutsniku k/n esimehe Lett Eduardi kaudu. Antud ülesannet Põder ei
  olevat täitnud, vaid lahkus Varstust Võru linna, kus läks mehele ja elab mehe nime all Veetsman. Valnerit olid Põderi
  tunnistuste kohaselt bandiidid Uibo ja Pihlapuu kõvasti peksnud, löönud tal otsaesise lõhki, mistõttu ta oletab, et
  bandiidid tapsid Valneri. Kasutades Põderit teejuhina, kavatseme kontrollida 29. ja 30. okt k.a. kõiki tema poolt
  nimetatud punkreid, ülesandega võimalusel avastada bandiitide asukoht või neid endid ja hävitada nad kohapeal.
</blockquote>

<blockquote>
  Oktoobri lõpus teatas allikas
  <b>„Okas“</b>
  , et kohtas oma talu lähedal illegaal Mõttus Juhanit, kes ütles vestluses allikale, et tuli allika juurde, kuna
  Kirbitsa bandiidigrupile on vaja otsida varjamiseks talu. Sealjuures nimetas kaht Ruusmäe elanikku, Švarts Richardit
  ja Asser Voldemari. Allikas pidi üle vaatama, kas need talud sobivad bandiitidele varjamiseks ja rääkima nende
  peremeestega, kas nad lubavad bandiite oma tallu. Pärast seda pidi allikas bandiitidele sobivast talust teada andma
  Mustahamba küla elanikule Lobin Adeelele, kelle juures tuli nõuda kohtumist Mõttus Juhaniga. Edasi andis Mõttus Juhan
  bandiidigrupi nimel ülesande kutsuda Ruusmäe partorg Žilkin kuhugi kaasa jooma, teatada sellest õigeaegselt
  bandiitidele, kelle eesmärgiks on partorg tappa, või teha kindlaks koht, kus partorg pidutseb ja sellest bandiitidele
  teada anda. Lisaks sellele sai allikas ülesande kindlaks teha, kuidas valvatakse Ruusmäe kooperatiivi ja millistel
  päevadel valvet tugevdatakse. Järgmine kohtumine bandiitidega määrati 20. novembrile, kuhu peaks ilmuma Kirbits Aksel
  või tema ise, Mõttus Juhan. Seda kohtumist ei toimunud.
</blockquote>

<p>November 1949</p>

<blockquote>
  2. nov k.a teatas allikas
  <b>„Karu“</b>
  , et 30. okt -2. nov k.a. tuli Pihlapuu Vidriku naisevenna tallu /allikas „Karu“ peamine baas/ Sprenk Aksel ja küsis
  allika järgi. Neil päevil viibis allikas Läti NSV territooriumi ja Võrumaa piiril ning ei saanud bandiit Sprenkiga
  kohtuda.
</blockquote>

<blockquote>
  10. nov. k.a. teatas allikas
  <b>„Karu“</b>
  , et kohtus 3. nov Sprenk Akseliga Saki metsas samagonni keetmise kohas /samagonni keetis Pihlapuu Vidrik/ ja rääkis
  seal üle tunni aja juttu. Bandiit Sprenk rääkis, et ta ei varja end üksi, kuid ei öelnud, kellega koos end varjab.
  Ütles, et neil pole toiduaineid, mida kavatsevad hankida pärast pühi. Palve peale võtta ka end toiduainete hankimisele
  kaasa vastas Sprenk, et tuleb 9. nov allika juurde ja lepivad siis täpsemalt kokku. Edasi teatas „Karu“, et 9. nov
  Sprenk kohtumisele ei ilmunud, kuid sel päeval tuli allika juurde Koemets August, kulak, kes varjab end, ja rääkis
  allikale, et varjab end koos ühe inimesega, kuid kellega, ei öelnud. Lisas, et kuulavad selle inimesega Soome raadiot,
  kuna see inimene oskab soome keelt. Pärast Koemets Augusti lahkumist ütles Pihlapuu Vidrik allikale, et see, kes
  Koemetsaga koos varjab, on tema arvates Pihlapuu Aaro.
</blockquote>

<blockquote>
  16. nov teatas allikas
  <b>„Okas“</b>
  , et kohtus 13. nov Mõttus Juhaniga. Viimane rääkis, et põhiliseks varjamisbaaasiks on Pärli Elmari ema Pärli Alma
  talu, abibaasideks on Ruusmäe taludest Juhanson Augusti, Lobin Adeele, Siidra Reinu talu, Rõuge valla taludest Kevvai
  Alfredi, Markvardt Kusta ja Annok Maria talu. Allika kaudu otsitavad talud on bandiidigrupile vajalikud varjamiseks
  pärast sooritatud kuritegu.
</blockquote>

<blockquote>
  18. nov. teatas allikas
  <b>„Karu“</b>
  , et Sprenk tuli 9. nov asemel 11. nov Sadra küla elaniku Lätte Eduardi juurde, kes elab Pihlapuu Vidriku lähedal ja
  küsis allika järele. Viimane viibis Haanja vallas ja Sprenkiga kohtuda ei saanud. Allikas „Karule“ andsime ülesande
  luua võimalikult kiiresti tihe side bandiitide grupiga, milles varjab end Sprenk Aksel ja Koemets August ning teha
  kiiresti kindlaks nende täpne asukoht bande likvideerimiseks.
</blockquote>

<blockquote>
  22. nov võtsime Kirbitsa bande otsimiseks agentuur-operatiivtöö käigus salaja kinni bande liikme
  <b>Kirbits Henn</b>
  Oskari p
  <i>(16a)</i>
  , kes andis tunnistusi bande kohta, misjärel värbasime ta psudonüümi all
  <b>„Aksel“</b>
  . Eelnevalt instrueerisime teda täpselt ja saatsime seejärel bandesse, eesmärgiga määrata täpselt bande asukoht ja
  suunata operatiivlöögi alla. Meie poolt antud ülesannet täites kohtus „Aksel“ Ruusmäel Pärli Elmariga, hüüdnimega
  „Tuks“ või „Pini“. Rääkides Pärliga tegi allikas kindlaks, et bandiidid Pärli Elmar, Kirbits Aksel hüüdnikega „Ori“ ja
  Kirbits Eduard hüüdnimega“Jüri“ varjavad praegusel hetkel Pillardi külas Ruusmäe vallas Siidra talus. Allikas sai
  teada, et eeltoodud bandiidid on osa talveks vajaminevast toidust juba hankinud, kuid punkrit talveks ehitada ei
  kavatse. Eesmärgiga kontrollida Pärli Elmarilt saadud andmeid saadeti allikas Pillardi külla. Pärast kinnitavate
  andmete saamist bandiitide asumisest Siidra talus viiakse läbi tšekistlik-sõjaline operatsioon bandiitide
  kinnivõtmiseks või füüsiliseks hävitamiseks.
</blockquote>

<blockquote>
  30. nov 1949 teatas allikas
  <b>„Karu“</b>
  , et bandiit Liit Paul tuli 29. nov 1949 Petseri linnast ja peatus ööpäev Järv Ludvigu Gustavi p õe Mette Gustavi t
  juures /töötab Varstu valla TK-s/, kelle perekonnanime ta ei tea, kuna ta on läinud mehele ja vahetanud nime mehe nime
  vastu. Järv Ludvigu õde elab Võrus raudteejaama vastas, maja numbrit allikas ei tea.
</blockquote>

<p>Detsember 1949</p>

<blockquote>
  1.dets taasvärvatud allikas
  <b>„Aksel“</b>
  teatab, et kohtas 30. nov k.a. Palli külas Luutsniku k/n bandiit Pärli Elmarit ja viimane rääkis, et nad, so Pärli
  Elmar, Kirbits Eduard ja Kirbits Aksel asuvad Pillardil, Luutsniku k/n Siidra juures.
</blockquote>

<blockquote>
  6. dets teatas allikas
  <b>„Okas“</b>
  , et laup 3. dets külastas ta illegaal Mõttus Juhani talu, kus kohtas Mõttus Juhanit ja Kirbits Eduardi. Nad rääkisid
  allikale, et Kirbits Eduard varjab end Palli külas Luutsnikul: Kibena Alma, Juhanson Augusti ja Pärli Alma /bandiit
  Pärli Elmari ema/ talus. Kirbits Aksel varjab end Saviorul ja Tialasel Kevvai Alfredi, Markvardt Kusta, Annok Maria ja
  Pettai Edgari taludes. Pettai Edgari tütar Pettai Leida on Kirbits Akseli pruut. Pärli Elmar varjab Pillardi külas
  Siidra Reinu juures, kellel on kaks tütart, Elli ja Liidia. Pärli Elmar elab ühega neist, kummaga, seda ei öelnud. Ta
  lisas, et kui neil on vaja kokku tulla, kasutavad nad selleks Pärli Elmari ema Pärli Almat, kes elab Palli külas. Mis
  puutub Ruusmäe kooperatiivi röövimisse, siis Kirbits Eduard ütles, et seda nad hetkel teha ei suuda, kuna neid on vaid
  3 inimest, mis on selleks liiga väike jõud. Enne kooperatiivi röövimist peaks ta ühendust võtma oma parimate sõprade
  Palloga, hüüdnimi „Doktor“, kes varjab grupis Krabi kandis Varstu vallas ja Toomsalu Auleidiga hüüdnimi „Karli“, kes
  varjab Haanja vallas. Ruusmäe kaupluse rööviks peaks nendega asja arutama ja koostama plaani ühiseks Ruusmäe kaupluse
  rööviks.
</blockquote>

<blockquote>
  9. dets teatas allikas
  <b>„Aksel“</b>
  , et kohtas Palli külas juhuslikult bandiit Kirbits Eduardi. Viimane rääkis, et Pärli Elmar läks Haanja valda Toomsalu
  Auleidi otsima, aga Kirbits Aksel läks Krabi ümbrusse Pallot otsima, kuna Kirbits Aksel teab umbkaudu Pallo punkri
  asukohta. Allika palve peale võtta teda bandesse vastas Kirbits Eduard, et peab enne teiste bande liikmetega kokku
  leppima, alles seejärel annab allikale vastuse. Vastuse järele peab allikas tulema teisip, 6. dets, Tõlaoru metsa.
  Teisipäeval 6. dets läks allikas kindlaksmääratud paika Tõlaoru metsas ja kohtus videviku ajal Kirbits Eduardiga, kes
  teatas, et pole Pärli Elmari ja Kirbits Akseliga veel kohtunud ja allika vastuvõtmist bandesse veel lubada ei saa.
  Järgmise kohtumise määras kolmapäevks 7. dets või neljapäevaks 8. dets samas kohas, videviku ajal. Kui ta mingil
  põhjusel tulla ei saa, siis toimub kohtumine laupäeval 10. dets või pühapäeval 11. dets samal ajal samas kohas.
  Kolmapäeval ja neljapäeval Kirbits Eduard kohtumisele ei tulnud.
</blockquote>

<blockquote>
  12.dets teatas allikas
  <b>„Karu“</b>
  , et asus 9. dets Sadrametsa külas ja läks kell 8 hommikul samagonikeetmise kohta, mis asub 300 m Lätte Eduardi
  Aleksandri p talust /kes on samagoniaparaadi omanik/. Seal asusid Sprenk Aksel Jaani p ja Pettai Rudolf Augusti p
  Kõgistu talust Sadrametsa külast, kes keetis samagoni. Kolmandaks tuli juurde Lätte Eduard Aleksandri p Kolga talust
  Sadrametsa külast. Sprenk Aksel ja allikas hakkasid arutama varjamisega seotud küsimusi. Sprenk Aksel ütles, et kuni
  talv on soe, peab iga varjaja ehitama endale punkri, nagu tema seda tegi. Sprenkil on praegu punker, milles ta varjab
  üksi, kuid see punker teda praegu ei rahulda, kuna on liiga väike. Ta tahab varjata koos naisega, seetõttu kavatseb
  ehitada suurema punkri. Seepeale pakkus allikas, et ta võib punkri ehitamisel aidata, kuid Sprenk ütles, et kohtub
  allikaga teisipäeval 13. dets samas kohas ja arutab siis asja täpsemalt.
</blockquote>

<blockquote>
  19. dets teatas allikas
  <b>„Okas“</b>
  , et tegi Mõttus Juhani naisega rääkides kindlaks, et viimane varjab end Leinus Senta Johani t juures, kes elab Haanja
  ja Ruusmäe valla piiril Kotka küla lähedal. Pärli Elmar ja Kirbits Eduard varjavad end Pillardil Siidra Reinu juures,
  kus arvatavasti võtavad vastu ka jõulud. Kirbits Aksel varjab Viitinas. Allika küsimuse peale, kuna ta saab kohtuda
  bandiitidega või Mõttus Juhaniga, ütles viimase naine, et mitte enne sula, kuna lumel ei tohi käia, jäljed võivad üles
  anda.
</blockquote>

<blockquote>
  23. dets teatas allikas
  <b>„Karu“</b>
  , et külastas Sadrametsa külas 21. dets Lätte Eduardi Aleksandri p, kellega vesteldes tegi selgeks, et pühapäeval 18.
  dets tuleb tema juurde Sprenk Aksel. Allikas küsis, miks Sprenk allikaga kohtuma ei tulnud, mille peale Lätte Eduard
  vastas, et Sprenk Aksel tuli kindlaksmääratud kohta, kuid allikat ei olnud seal. Ta lisas, et Sprenk Aksel tuleb tema
  juurde jõuludeks, 25. dets. Meie poolt sõjalisel operatsioonil veedetud öö 24. dets vastu 25. dets Siidra Reinu talu
  juures Pillardil, Lätte Eduardi talu juures Sadrametsas ja Leinus Senta juures Kotka külas mingit tulemust ei andnud.
</blockquote>

<blockquote>
  Meie poolt kavandatav:
  <br />
  Võtta salaja kinni Pettai Rudolf Augusti p, kuulata üle ja otsustada küsimus tema värbamisest.
  <br />
  Allikas
  <b>„Karule“</b>
  on antud ülesanne hoida sidet Sprenk Akseliga ja võtta koos temaga osa punkri ehitamisest.
  <br />
  Allika
  <b>„Okas“</b>
  kaudu teha kindlaks, millises talus Palli külas Ruusmäel varjavad praegu Kirbits ja Pärli Elmar.
  <br />
  Värvata Roosametsa metsnik Rudolf Peetri p 1914
  <i>(või metsnik nimega Roosametsa)</i>
  , kes tunneb ligikaudseid bandiitide asukohti.
  <br />
  Perekond Järve kaudu sai teatavaks, et bandiit Liit Paul läheb lähiajal mõneks ajaks Tartusse. Teha kindlaks tema
  väljasõidu päev ja võtta ta vaksalis kinni.
  <br />
  Allikas
  <b>„Kirves“</b>
  omab kaugeid sugulassidemeid Pallo armsama Lepp Valvega, viimane külastab mõnikord allika „Kirves“ talu. Allika
  „Kirves“ kaudu kutsuda Lepp Valve allikale külla, võtta ta tee peal salaja kinni ja viia ülestunnistuseni, pärast mida
  otsustada tema värbamine või arreteerimine.
  <br />
  Pärast allikas
  <b>„Akseli“</b>
  naasmist /on kopsupõletikus/ saata viimane Kirbitsa bandesse ülesandega astuda bande liikmeks ja viia see meie
  operatiivlöögi alla.
  <br />
  Rõuge ja Ruusmäe valda on suunatud RJM Võru maakonnaosakonna operatiivgrupp, mille vanemaks on 2-N osakonna
  operatiivvolinik Volkov.
  <br />
  Allikas
  <b>„Karu“</b>
  andmetel elavad Haanja vallas Toomsalu bande liikme Liit Pauli vanemad. Pärast bandiit Liit Pauli vanemate kindlaks
  tegemist ja kontrollimist viia Liit Paul nende kaudu salajasele kohtumisele, eesmärgiga ta värvata. Samaaegselt teha
  allikas „Karu“ kaudu selgeks Liit Pauli asukoht eesmärgiga ta salaja kinni võtta, viia ülestunnistuseni ja otsustada
  seejärel tema värbamine või arreteerimine. Kui Liit Paul osutab kinnivõtmisel relvastatud vastupanu, hävitada ta.
  <br />
  Teeme kindlaks Uibo Heino vanemad, läbi kelle, pärast nende kontrollimist, viia Uibo salajasele kohtumisele,
  eesmärgiga ta värvata. Allikas
  <b>„Karu“</b>
  andmetel on bandiit Uibo Heinot sageli näha Pihlapuu Viidriku talu ümbruses Sadrametsas. Seetõttu, üheaegselt Uibo
  Heino viimisega salajasele kohtumisele kavatseme läbi viia operatsiooni Pihlapuu Viidriku talu ümbruses eesmärgiga
  Uibo Heino kinni pidada, aga relvastatud vastupanu osutamisel – hävitada.
  <br />
  Salaja võtta kinni ja kuulata üle Lepp Valve Augusti t – Tialase küla elanik Viitina k/n Rõuge vallas, kellel on side
  Toomsalu bande liikmetega, misjärel vastavalt ülekuulamise tulemustele otsustada küsimus värbamisest. Allikas
  <b>„Okas“</b>
  kaudu korraldada ühes neljast meie poolt ette valmistatud talust sõjaline operatsioon Kirbitsa bandiidigrupi
  kinnivõtmiseks, relvastatud vastupanu osutamisel nad hävitada.
  <br />
  Suunasime bandiitide sugulaste ja sidemete kindlakstegemiseks ja üles otsimiseks meie Rõugest ja Ruusmäelt pärit
  allikad.
  <br />
  Edasine tegevus bandiidigruppidega toimub vastavalt plaanile, mille kinnitas 22. okt 1949 polk. Taevere.
</blockquote>

<blockquote>
  Värbasime:
  <br />
  Toomsalu bande otsimiseks värbasime informaator
  <b>„Tasuja“</b>
  , kelle talu Toomsalu salga liikmed kasutasid sageli enda varjamiseks ja söögi hankimiseks.
  <br />
  Informaator
  <b>„Plaum“</b>
  – bandeabiline
  <i>(naisterahvas)</i>
  , kelle talu Toomsalu bande pidevalt kasutas, varjas end seal ja sai toiduaineid.
</blockquote>

<h1>AULEID TOOMSALU SALGAGA TEGELENUD JULGEOLEKUTÖÖTAJAID:</h1>

<p>
  <b>Mägi</b>
  , RJM Tartu osakonna ülema asetäitja; tõlk
  <b>Kütt</b>
  ;
  <br />
  Mägi, Johann Johani p s 1913 Viljandimaal, ENSV SM Tartu oblastivalitsuse Tartu rajooniosakonna ülema asetäitja,
  major. VK(b)P liige al august 1940, julgeolekuorganites al 1940, lõpetamata juriidiline kõrgharidus
</p>

<p>
  <b>Leoke</b>
  , 2-N osakonna operatiivvolinik; tõlk
  <b>Kants</b>
  ;
  <br />
  Leoke Anatoli Jakovlevitš s 1924 VK(b)P liige 1950, RJM organites al 1943 dets
</p>

<p>
  <b>Molok</b>
  , ENSV RJM uurimisosakonna uurija;
  <br />
  Molok, Albert Jakovlevitš (1925), Kuibõševi oblastis eestlane, NLKP liige;
  <br />
  tõlgid Kütt,
  <b>Jurjev, Maasik, Klaus, Orlova</b>
  ;
  <br />
  Orlova, Jelena Voldemarovna (1918), Tartus sündinud venelanna, NLKP liige
</p>

<p>
  <b>Gartsev</b>
  , SM vägede Leningradi ringkonna sõjaväeprokuröri abi; tõlk
  <b>Jurjev</b>
  ;
</p>

<p>
  <b>Lapšin</b>
  , Nikolai ENSV RJM, uurimisosakonna ülema asetäitja, kpt; tõlk
  <b>Siion</b>
  ;
  <br />
  Siion Albert Augustovitš s 1920, parteitu eestlane Kemerovost
</p>

<p>
  <b>Tjumin</b>
  RJM Antsla rajooniosakonna ülema asetäitja, kpt;
</p>

<p>
  <b>Mihhaljov</b>
  RJM Antsla rajooniosakonna ülem, ltn;
  <br />
  Mihhaljov Konstantin Jakovlevitš s 1919, VK(b)P liige al veebr 1941, RJM organites al 1943
</p>

<p>
  <b>Peterson</b>
  , ltn;
  <b>Martõnov</b>
  , srs;
</p>

<p>
  <b>Rubtsov</b>
  , RJM Võru rajooniosakonna ülem, al polk;
</p>

<p>
  <b>Taevere</b>
  RJM 2-N osakonna ülem, polk;
  <br />
  Dmitri Taevere, s. 1905 Petrogradis, ankeedi järgi venelane, kuid ema oli eesti päritolu, OGPU-s 1928–1938, vallandati
  lühiajaliselt massiterrori ajal, naasis julgeolekusse 1939, sõja ajal vastuluure- ja Smerši ohvitser, 1945–1947
  Leningradi oblasti UNKGB 2. osakonna ülema asetäitja, Eestis 1947–1950, algul 1. osakonna, siis 2N-osakonna ülem,
  naasis Leningradi 1950. aastal
  <br />
  allikas: (Jaak Pihlau) Lehekülgi Eesti lähiajaloost: kuidas ENSV MGB välisluureülem GULAG-i arhipelaagi sattus
</p>

<p>
  <b>Bulatov</b>
  G.; ltn;
  <b>Krassilnikov</b>
  , reamees;
  <b>Karpov</b>
  , srs;
</p>

<p>
  <b>Veiker</b>
  Gennadi, Võru RJM rajooniosakonna operatiivvvolinik, ltn;
  <br />
  <b>Antonov</b>
  , operatiivvolinik;
  <b>Bubkov</b>
  (Bubnov?), RJM Võrumaa osakonna operatiivvolinik, ltn;
  <br />
  <b>Loze</b>
  , operatiivvolinik, ltn;
  <br />
  <b>Kuritski</b>
  , uurimisosakonna uurija, van ltn; tõlk Maasik (Mazik);
</p>

<p>
  <b>Pärnasalu</b>
  Aleksei, ENSV RJM uurimisosakonna töötaja;
  <br />
  <b>Pertsev</b>
  , 3. jaoskonna uurimisosakonna ülem;
  <br />
  <b>Lapšin</b>
  , uurimisosakonna vanemuurija;
  <br />
  <b>Saltõkov</b>
  , Võru rajooniosakonna vanem operatiivvolinik;
</p>

<p>
  <b>Turupanov</b>
  ; tõlk Maasik, Võru RJM;
  <br />
  Turupanov Aleksandr Nikolajevitš, s 1927 Kurbatski rajoonis Jaroslavski oblastis, venelane, VK(b)P liige 1948, haridus
  10 kl , RJM organites al 1945, ltn, abielus, Eestis al 1947, al 9. okt 1950 töötas vanem operatiivvolinikuna ENSV RJM
  Võru rajooniosakonnas
</p>

<p>
  <b>Jurjev</b>
  , Võru hävituspataljoni komandör, van srs;
</p>

<p>
  <b>Nikiforov</b>
  , ltn;
</p>

<p>
  <b>Zamorozov</b>
  , RJM Võru rajooniosakonna ülem, major;
  <br />
  Zamorozov Pavel Nikolajevitš, s 1913 Maleta külas Petrovsk-Zabaikalskii rajoonis Tšitaa oblastis, venelane, VK(b)P
  liige 1941, kõrgem haridus ajalooteaduskonnast Irkutski riiklikust instituudist, külaraamatukogu juhataja Tšitaa
  oblastis, agronoom Irkutskis ja Primorski krais, pedagoog, armees 1942-1947, MGB-s al 1948, viibinud nõukogude
  vägedega välismaal Mandžuurias 1945, sugulastest elas välismaal vend lepingu alusel Mongoolia rahvavabariigiga (po
  dogovoru v MNR), võõrkeeltest osakas prantsuse keelt, teiste NSVL rahvaste keeli ei osanud, 1948-50 MGB organite
  operatiivkoosseisu juhtide ettevalmistamise kursustel kuulaja MGB kõrgemas koolis Moskvas, al 1950 ENSV Võru
  rajooniosakonna ülem
</p>

<p>
  <b>Pupõšev</b>
  Donat, jälitusosakonna ülem;
  <br />
  <b>Tjumin</b>
  , RJM Antsla raj osakonnaülema asetäitja;
  <br />
  <b>Burakov</b>
  Grigori, RJM Võrumaa osakonna ülema asetäitja;
  <br />
  Burakov, Grigori Gerassimovitš 1912 venelane, sünd. Leninfeldi küla, Libknehti rajoon, Stavropoli krai, keskhar.,
  VK(b)P liige 1940, RJM organites al. 1939, 1939-1947 operatiivtööl eriosakondades ja vastuluure „Smerš“ organites
  Nõukogude armees, 1947-1949 töötas RJM Pärnu osakonnas, 1949-1950 RJM Võrumaa osakonna ülema asetäitja, al 1950 RJM
  Vastseliina rajooniosakonna ülem
</p>

<p>
  <b>Volkov</b>
  , ENSV RJM 2-N osakonna operatiivvolinik;
  <br />
  <b>Kisljakov</b>
  , RJM Võrumaa osakonna vanem operatiivvolinik;
  <br />
  <b>Illissoo</b>
  , ENSV RJM 2N osakonna operatiivvolinik ltn;
</p>

<p>
  <b>Grenkov</b>
  , ülekuulaja ltn; tõlk
  <b>Suvi Jaan</b>
  , hävituspataljonlane;
  <br />
  Grenkov Aleksei Afanasjevitš, s 1924, VK(b)P liige 1951, haridus 8 kl, ENSV MGB organites al 1946
</p>

<p>
  <b>Bõstrov</b>
  , hävituspataljonlane;
  <br />
  <b>Nazarov</b>
  Nikolai, major;
</p>

<p>
  <b>Barõšnikov</b>
  , RJM Võru rajooniosakonna operatiivvolinik, kpt;
  <br />
  Barõšnikov Vladimir Fedorovitš, s 1920, VK(b)P liige al sept 1947, RJM organites al 1944, kapten
</p>

<p>
  <b>Nikiforov</b>
  , RJM Võru rajooniosakonna hävituspataljoni komandori asetäitja poliitalal; Kurmansitov (SP) RJM vägede 260 roodust,
  srs;
  <br />
  <b>Marketov</b>
  , ENSV RJM Võru maakonnaosakonna uurija, ltn;
  <br />
  <b>Antonov</b>
  , ülekuulaja; tõlk
  <b>Juhanson Ivan</b>
  ;
  <br />
  <b>Primak</b>
  , ltn; tõlk Kahro;
</p>

<p>
  <b>Panikovski</b>
  , ülekuulaja;
  <br />
  Panikovski Nikolai Andrejevitš s 1918, Mitkovitsa külast, elukoht Võru Liiva tn 24, venelane, VK(b)P liige, haridus
  lõpetamata kesk, vanem oper vol ENSV RJM Võru osakonnas, päritolu – kehviktalupoeg, poissmees, jaan 1942-dets 1944
  reamees luuraja, al 1944 detsembris ENSV RJM organites, nov 1938-mai 1940 teenis kodanliku Eesti armees reamehena
</p>

<p>
  <b>Aleksandrov</b>
  , vanemuurija, kpt; tõlk Kinnes;
  <br />
  <b>Bubnov</b>
  , ülekuulaja;
</p>

<img class="lg-img image-left w-[22%]" src="/images/rouge/eduard_kuus.jpg" />

<p>
  <b>Kuus</b>
  , Eduard;
  <br />
  Kuus Eduard Emilie p s 1922 Mõniste vallas Võru maakonnas, eluk. Võru linnas, eestlane, VK(b)P liige 1945.a, har 6 kl,
  ENSV RJM Võru raj osakonna operatiivvolinik, seersant, pärit sulaste perest, abielus, naine ja poeg, Punaarmees
  1941-1946 noorem komandör. RJM organites al 1948. aastast, Varstu vallanõukogu saadik
</p>

<p class="clear-both">
  <b>Mürk</b>
  Valter;
  <br />
  Mürk Valter Reinholdi p s. 1925 Kirovi oblastis, teenis sõja ajal Eesti Laskurkorpuses, 1945 ENSV NKVD-s, 1946 Võru
  MGB-s, alates 1948 Tallinnas keskaparaadis 4. ja 2. osakonnas, 1962–1965 Tartu volinik, siis jälle 2. osak. (1972
  selle ülema asetäitja), 1980 polkovnik.
</p>
