<div class="content">

  <h1>Kaardid</h1>

  <div class="magnific-popup-gallery">
    <a href="/images/rouge/piirkond_rouge.jpg"><img
        class="image-full-size"
        src="/images/rouge/piirkond_rouge.jpg"
      /></a>
    <a href="/images/rouge/hukkunud.jpg"><img
        class="image-full-size"
        src="/images/rouge/hukkunud.jpg"
      /></a>
    <a href="/images/rouge/roovid_nr.jpg"><img
        class="image-full-size"
        src="/images/rouge/roovid_nr.jpg"
      /></a>
  </div>
  <div class="magnific-popup-gallery">
    <a href="/images/rouge/roovid_yld.jpg"><img
        class="image-full-size"
        src="/images/rouge/roovid_yld.jpg"
      /></a>
    <a href="/images/rouge/varjamiskohad_pallo.jpg"><img
        class="image-full-size"
        src="/images/rouge/varjamiskohad_pallo.jpg"
      /></a>
    <a href="/images/rouge/varjamiskohad_yld_nr.jpg"><img
        class="image-full-size"
        src="/images/rouge/varjamiskohad_yld_nr.jpg"
      /></a>
  </div>

  <iframe
    class="gis_map"
    height="500"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="http://www.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=812fe47218cf470caf70d554776a5cbc&amp;gcsextent=26.4825,57.5387,27.269,57.8186&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true&amp;displaydetails=true"
  ></iframe><br /><small><a
      href="http://www.arcgis.com/home/webmap/viewer.html?webmap=812fe47218cf470caf70d554776a5cbc&amp;extent=26.4825,57.5387,27.269,57.8186"
      style="text-align:left"
      target="_blank"
    >Ava kaart suurelt</a></small>

</div>