<div class="content">

  <h1>Kaardid</h1>

  <div class="lg-gallery">
    <a href="/images/rouge/hukkunud.jpg"><img class="image-full-size" src="/images/rouge/hukkunud.jpg" /></a>
    <a href="/images/rouge/roovid_nr.jpg"><img class="image-full-size" src="/images/rouge/roovid_nr.jpg" /></a>
    <a href="/images/rouge/roovid_yld.jpg"><img class="image-full-size" src="/images/rouge/roovid_yld.jpg" /></a>
    <a href="/images/rouge/varjamiskohad_pallo.jpg"><img
        class="image-full-size"
        src="/images/rouge/varjamiskohad_pallo.jpg"
      /></a>
    <a href="/images/rouge/varjamiskohad_yld_nr.jpg"><img
        class="image-full-size"
        src="/images/rouge/varjamiskohad_yld_nr.jpg"
      /></a>
  </div>
</div>
