<h1>A. Sprenki märkmetes mainitud haarang. Aleksei Koemetsa hukkumine.</h1>

<p>Kaldkirjas on lisatud ümberkirjutaja selgitused</p>

<h2>Enno Hernitsa meenutus:</h2>
<p>
  Meie naabruses, Mäe-Saki talus elas August Koemets. Tal oli tugev majapidamine, 18 lüpsilehma. Tema poeg Aleksei oli
  olnud Saksa väes ja hakkas pärast sakslaste lahkumist end varjama. Koos Simo Pihlapuuga tegi ta metsa punkri.
</p>
<p>
  Kuigi kaua ei õnnestunud neil ennast peita. Ja välja andis nad mees, kes oli ühes Alekseiga koolis käinud. Ta oli
  olnud Vene väes ja töötas pärat sõda Rõuges miilitsana. Kord oli too mees sattunud seenel käies punkri juurde. Aleksei
  ja Simu olid andnud talle viina, olid ajanud juttu, Aleksei oli koolivennale öelnud: “Hää, et sa oled siin miilits,
  meil ka metsas julgem olla!"
</p>
<p>
  Kuid 5. novembril 1945 juhtus see, mida varjajad ei osanud oodata. Tol ajal olid nad punkris kolmekesi: Aleksei, Simu
  ja Sõmerpalu kandist pärit Juhan Ülenurm. Ilmselt oli Võru julgeolek otsustanud tähistada oktoobripühi ühe punkri
  hävitamisega. Ja tolle päeva hommikul ilmus julgeoleku väeosa meie lähedale.
</p>
<p>Sündmuste käigust kõneles meile hiljem Juhan Ülenurm.</p>
<p>
  Juba enne koitu oli keegi kergitanud punkri luuki ja lasknud tagasi. Luuk oli meeter korda meeter, sammal peal, keskel
  kasvas kuusekene. Nemad kolmekesi ei mõistnud sellest halba arvata. Eelmisel õhtul olid nad koos kahe metsamehega, kes
  end kuskil mujal varjasid, kaua metsas puskarit pruulinud. Arvasid, et noodsamad mehed kergitasid luuki. Olid veel
  omakeskis arutanud: ei tea, miks nad sisse ei tule...
</p>
<p>
  Simu oli olnud kõige külmaverelisem, tõusnud redelit mööda üles, surunud peaga luugi lahti ja näinud siis sõduri
  jalgu...Andis valangu, lasi punkrikaane alla; nüüd oli selge, et neid on avastatud.
</p>
<p>
  Julgeolek asus punkrit hävitama. Kõigepealt visati granaat korstnasse. Aga korstnal oli jõnks sees, granaat lõhkes maa
  peal. Metsamehed olid sellist ohtu ette näinud!
</p>
<p>
  Siis kaksasid sõdurid punkri luugi kõige hingedega välja. Punkris olijad viskasid mitu granaati, puhastasid ümbruse
  ära ja ronisid ise ruttu välja. Ülenurm ja Koemets pagesid, selg ees, koos ühes suunas; seal oli paks tihnik, too koht
  oli mu isatalu metsapiirist umbes poolesaja meetri kaugusel. Sõdurid hakkasid neid jälitama. Simu tulistas
  julgeolekumehi takast
  <i>(tagant)</i>
  .
</p>
<p>
  Koemets ja Ülenurm jõudsid punkrist paarsada meetrit eemale, aga sihi peal olid venelased vastas. Aleksei kukkus maha,
  ütles kaaslasele: ma olen läbi. Ülenurmel oli ainsaks relvaks püstol. Ja kui ta Aleksei kohale kummardus, et selle
  käest automaati võtta, tabas teda kuul kintsu. Pärast ta ütles:
</p>
<p>
  „Kui kintsu paugu ära sain, oli mul sääne
  <i>(selline)</i>
  minek, et ei kaenud tagasi."
</p>
<p>
  Aleksei Koemets jäi sinna maha, kuul oli kõhust läbi läinud. Saksa väes oleku ajal oli tal kuul kopsust läbi läinud,
  tookord oli ta ellu jäänud. Kuid nüüd lõpetasid ta elu julgeolekumehed, peksid püssipäraga vastu pead, pea üks pool
  oli sinine.
</p>
<p>
  Tuli õhtu, ja siis ilmus meile Juhan Ülenurm, jalast haavatud ja sukkade väel. Sidusime tal haavu, andsime süüa, isa
  otsis tsuuad
  <i>(pastlad)</i>
  jalga. Isa ütles:
</p>
<p>
  „Matame Aleksei maha, siis ei saa julgeolek teada, et nad tapsid Koemetsa poja. Siis ei hakata vana Koemetsa kiusama."
</p>
<p>
  Sõdurid olid laibale leheprahti ja roikaid peale pildunud. Viisime ta 6. novembril teise paika; isa lõi koos Vidrik
  Pihlakuga – tema töötas meie talus – kirstukese kokku. Isa arvas:
</p>
<p>„Homme on Võrus paraad, ega nad paraadi ajal teda ikka otsima tule."</p>
<p>
  7. novembril kella 11 paiku tõstsime Aleksei vankrile – ta oli raske mees – ja viisime punkri lähedale, kuhu oli juba
  haud kaevatud. Arvati: kuskilt kaugemalt võidakse haud üles otsida, punkri kõrvalt seda vaevalt taibatakse otsida.
  Koduteel tegime haake, läksime üle oja Varstu valda, et nad ei mõistaks meile järele tulla.
</p>
<p>
  Järgmisel hommikul nägime, et kerge lumekord oli maha tulnud. Siis oli kergem tunne. Ja samal päeval oligi julgeolek
  kohal – polnud neil kedagi kaasa võtta.
</p>
<p>
  Miks nad varem ei tulnud? Nende oma mehi oli pihta saanud, oli tegemist nende äraviimisega. Tee oli halb, nad olid
  jätnud auto kuskile Pähnile, paar-kolm kilomeetrit eemale. Alles hiljem saime teada, et nad olid läinud üle oja Varstu
  valda Olga Treiali tallu, käskinud tol hobuse ette panna ja tulla metsa. Sõdurid olid kaks oma kaaslast vankrile
  tõstnud, ühel polnud enam õiget nägu peas. Arvati, et too mees ellu ei jäänud.
</p>
<p>
  Juhan Ülenurmel polnud kuskile minna, jäi meie poole. Tema õde Pärja oli Ristemäe koolis mu õpetaja. Juhan elas talv
  läbi meil. Karjaköögis oli kelder, kus hoiti juurvilja, sinna seadis ta sellise punkri, kus võis olla pikali. Peal
  olid kaalikad ja peedid, luugiks kerge aganakorv, tolle tõstis peale, kui ise alla läks. Mul on meeles, et Pärja toidu
  eest midagi maksis, ja Juhan ise ütles: ma ei tahagi muud, kui saaksin ainult liitri suppi päevas. Karjaköögis kudus
  mees korve, seal ta enamjaolt elaski, ööseks ronis punkrisse. Karjaköögis oli soe, seal oli suur pada, kus hautati
  loomadele aganaid, seal tehti puskarit.
</p>
<p>
  Muidugi käidi meid puistamas. Esimest korda tuldi keset ööd ja otsiti kõik kohad läbi. Juhan oli all, juurvili peal ja
  aganakorv ka, sealt ei mõistnud nad teda otsida. Kõik kapid puistati läbi, eriti agar oli üks Varstust pärit
  hävituspataljoni mees.
</p>
<p>Juhan Ülenurm lahkus meilt 1946. a kevadel. Kuhu? Toost saadik ei oli mul kahjuks temast midagi teada.</p>
<h4>
  Simo Pihlapuu päeviku sissekannet sellele punkrirünnakule järgnenust saab lugeda lingilt "Simo Pihlapuu
  ülestähendused", Punkrilahing 5.nov.1945.
</h4>
