<div class="content">

  <h1>Mõrv metsateel</h1>

  <div
    id="pictures-page-gallery"
    class="magnific-popup-gallery justified-gallery"
  >

    <a href="/images/rouge/morv_1.jpg">
      <img src="/images/rouge/morv_1.jpg" />
    </a>
    <a href="/images/rouge/morv_2.jpg">
      <img src="/images/rouge/morv_2.jpg" />
    </a>
    <a href="/images/rouge/morv_3.jpg">
      <img src="/images/rouge/morv_3.jpg" />
    </a>
    <a href="/images/rouge/morv_4.jpg">
      <img src="/images/rouge/morv_4.jpg" />
    </a>
    <a href="/images/rouge/morv_5.jpg">
      <img src="/images/rouge/morv_5.jpg" />
    </a>
    <a href="/images/rouge/morv_6.jpg">
      <img src="/images/rouge/morv_6.jpg" />
    </a>
    <a href="/images/rouge/morv_7.jpg">
      <img src="/images/rouge/morv_7.jpg" />
    </a>
    <a href="/images/rouge/morv_8.jpg">
      <img src="/images/rouge/morv_8.jpg" />
    </a>
    <a href="/images/rouge/morv_9.jpg">
      <img src="/images/rouge/morv_9.jpg" />
    </a>
    <a href="/images/rouge/morv_10.jpg">
      <img src="/images/rouge/morv_10.jpg" />
    </a>
    <a href="/images/rouge/morv_11.jpg">
      <img src="/images/rouge/morv_11.jpg" />
    </a>

  </div>

</div>