<div class="content">
  <h1>Pallo luule</h1>

  <div class="lg-gallery">
    <a href="/images/rouge/pallo_luule1.jpg">
      <img src="/images/rouge/pallo_luule1.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule2.jpg">
      <img src="/images/rouge/pallo_luule2.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule3.jpg">
      <img src="/images/rouge/pallo_luule3.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule4.jpg">
      <img src="/images/rouge/pallo_luule4.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule5.jpg">
      <img src="/images/rouge/pallo_luule5.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule6.jpg">
      <img src="/images/rouge/pallo_luule6.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule7.jpg">
      <img src="/images/rouge/pallo_luule7.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule8.jpg">
      <img src="/images/rouge/pallo_luule8.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule9.jpg">
      <img src="/images/rouge/pallo_luule9.jpg" />
    </a>
    <a href="/images/rouge/pallo_luule10.jpg">
      <img src="/images/rouge/pallo_luule10.jpg" />
    </a>
  </div>
</div>
