<div class="content">
	<div class="p">
	</div>
	<div class="p">
	</div>
	<h1>Parteilased</h1>

	<div class="p">
		Elanike suhtumist uute võimu näitavad partorgide ettekanded EK(b)P Võrumaa komiteele.
		<br>
		Metsavendi puudutab otseselt EKP KK esindajate Karotamme ja Anisimovi ettekanne jätkuvalt jõulisest Võrumaa metsavendlusest 1949. a.
		<br>
		Kõigi ettekannetest võetud katkete algne kirjapilt on muutmata. Kaldkirjas on segitav märge.
	</div>

	<h2>Aasta 1947, 1948</h2>

	<div class="p">
		1947. a alguses kuulus partorg Jaan Teplenkovi sõnul Rõuge valla partei algorganisatsiooni vaid 6 liiget:
	</div>

	<div class="quote">
		Teplenkov <i>(KP algorganisatsiooni sekretär ehk partorg)</i>, Reismann, Panikov <i>(Panikovski)</i>, Karäskin <i>(Goraskin)</i>, Tsugarov <i>(Zugorov)</i> ja Vänter.
	</div>

	<div class="p">
		Ükski neist ei olnud kohalik ja kõik nad olid elanud vallas vähem kui aasta. Kõrgemalt poolt nõuti partei ja komsomoli „ridade kasvu“ muu hulgas ka koolides, kuid partorg tunnistas: noored õpetajad aga ükski komsomoliks ei tule.
	</div>

	<div class="p">
		Partorg valvas riiginormide kogumist, kohustuslikku metsaraiet, põllumajandusmaksude ja riigilaenu laekumist. Lisaks kandis ta pidevalt ette põllumajanduse olukorrast ja rahva meelsusest. Oma kohustustega jäi ta vist üsna üksi, sest kurtis:
	</div>

	<div class="quote">
		Algorgi <i>(Kompartei algorganisatsiooni)</i> liikmetest on vähe abi, metsatööde abistamisel kui ka kevad külvi ettevalmistamisel, kuna nad on seotud teise tööga. Nagu sm Panikov ja Vänter töötavad Riigi julgeolekus. Sm Koräskin on  oper punkti <i>(julgeoleku operatiivpunkti)</i> juhataja. Ta tegeleb rohkem aega joomisega, samuti Tsagurov, H.M.L.P <i>(hobu-masina laenutuspunkt)</i>  töötaja ei oska sõnagi eesti keelt.
	</div>


	<div class="p">
		Vähegi toekal järjel talupidajaid käsitles võim vaenlastena (kulakutena) ja ladus neile ülejõu käivaid makse, saates mitmed neist laostunutena vangimajja:
	</div>

	<div class="quote">
		Nüüd 14. mail 1947. a valla T/K <i>(Täitevkomitee)</i>  istungil tegime nimekirjad, missugusele talule otsa panna kohustuslikke norme kuni 30% ja vastavalt ka vähendasime kehvikutel uusmaasaajatel ja punaarmeelastel.
	</div>

	<div class="quote">
		Kulaklikud majapidamised lasevad lendu jälle jutte, kelledele on tulumaks kõrgeks tõstetud, et tahetakse sihilikult majapidamisi laastada, et sellega rahvast nälga jätta.
	</div>

	<div class="p">
		Laostavalt kõrgete maksude vastu „tõrkuvad talupidajad“ käsutas partorg enda jutule, mõnede kohaletoomiseks kasutas ta hävituspataljoni mehi. Nende kohta, kes ülisuuri makse maksta ei suutnud, esitas partorg prokuratuuri materjali nende karistamiseks. Tõrkujaid ähvardas ta julgeolekuorganitega:
	</div>

	<div class="quote">
		Kui ei aita selgitustöö, võtame asja tõsisemalt ja anname üle riigi julgeolekutöötajatele vastavad materjalid. Tõrkujad on Majas Juuli ja Toode Valter, kes on esitatud kohtusse karistamiseks ja Ots Jaan, keda kohus karistas 5 tuhande rublalise raha trahviga.
	</div>

	<div class="p">
		Partorg tunnistas apokalüptilisi meeleolusid rahva hulgas:
	</div>

	<div class="quote">
		Poliitiline meeleolu kulaklikkudes majapidamistes on vaenulik, ootavad mingisugust päikese põlemist, veeuputust, sõda ja rahu.
	</div>

	<div class="p">
		Kohaliku rahva tulevikukartused seostusid üle kõige kolhooside ja küüditamisega. Juba 1948. a alguses kirjutas partorg Jaan Teplenkov:
	</div>

	<div class="quote">
		Kulakud, rahvavaenlased häirivad nüüd sellega rahulikku elu, et ajavad kuulujuttusid, nagu hakatakse rahvast küüditama. Mõned talupidajad on isiklikult minu jutule tulnud ja selle järele pärinud. Olen selle kohta andnud vastulööke aktiivi ja rahvakoosolekutel.
	</div>

	<div class="p"></div>

	<a class="magnific-popup-image" href="/images/rouge/1_viso.jpg">
		<img class="image_left" src="/images/rouge/1_viso.jpg">
	</a>

	<div class="p">
		Suurküüditamisele eelnenud aastal tegelesid partorgid valdades vaenlasekuju ehk „kulakuperede“ määramisega. Haanja valla partorg Hugo Viso näib olevat kaasinimeste vaenlasteks tembeldamisel eriti usin. Partorgi igapäevatööks oli nii enese kui elanike ajupesu. Viimast nimetati poliitmassiliseks tööks, isegi kui see võeti ette vaid 5 sulasega.
	</div>

	<div class="p">
		Märtsis 1948 oli peamiseks kõneaineks kolhooside moodustamine. Rõuge partorg Teplenkov:
	</div>

	<div class="quote">
		Paljud ajavad niisugust juttu, et normid on küll suured aga nii suured nad ikka ei ole et nendest üle ei saa ning enne kolhoosi mina ei lähe kui maksa veel jõuan. Nii rääkis Suure-Ruuga küla talupidaja Kann Karl kelle tütar on veel Rõuge M.T.K. <i>(mittetäielik keskkool)</i> õpetaja ja sama juttu ajas Koppel Elli kelle mees on Teravilja Salves Võrus raamatupidaja, ütles et nii palju pean kui saan ja kui kolhoosi aetakse siis müün kraami ära ja lähen linna.
		<br>
		Ültse jõukamate talude noorsugu räägib ainult seda et nad kolhoosi ükski ei jää et lähevad ära linna. Las vanad jäävad vaatame mis sest siis välja tuleb. Üks talupidaja laimas kolhoosi korda sellega et 16. märtsil TK ruumes kui ma linnas olin rääkis ta inspektorile et peab vist kolhoosi minema sest kõht ongi haige sealiha söömisest. Rääkis et Venemaal olevat antud suvel paljudes kolhoosides heina juuri ja veel normiga ning talvel otsi neid ise, rääkija oli Vildo August. Sooviavaldajaid on vähe kolhoosi astumiseks on näha et ootavad midagi, samuti räägivad et vaatame veel aasta. See on kõik selleks et ootavad ja sosistavad veel sõja puhkemise võimalustest.
	</div>

	<div class="p">
		Partorg jagas talunikele nõukogude võimu nimel pidulikult kätte „maa põlisepidamise aktid“. Peatselt kuulutas seesama võim need kehtetuks ja see maa võeti tagasi riigile.
	</div>

	<div class="p">
		Kehvikustaatus tõsteti kõrgeimaks ja kogemustega töötajad vahetati välja kehvikute vastu:
	</div>

	<div class="quote">
		Vahetasime vana arveametniku sakslaste sabaraku Peets Herta kommunistliku noorega sm Kriipsalu Nelliga. Sänna masinaühistu esimehe sm Vaaba - kes oli kulak - vahetasime kehvikuga sm Kaldmäega.
	</div>

	<div class="p">
		Loomade puudus kehvikuil likvideeriti nii, et neil lubati lihtsalt minna ja võtta loom ära jõukamast talust, kokku on võetud 4 lehma ja üks hobune.
	</div>

	<div class="p">
		Nii 1947 kui 1948. a partorgi ettekanded tunnistasid rahva seas püsivat sõjaootust.
	</div>

	<div class="quote">
		Üldine meeleolu vallas ei ole just väga hää. Kulakud ootavad sõda, mida ootavad rahva vaenlased.
	</div>

	<div class="p">
		Juulis 1947:
	</div>

	<div class="quote">
		Sännas oli rahva koosolek, rääkisin ise välispoliitilisest olukorrast ja uue sõja tekkimise ohust, mida rahvavaenlased ja kodanlikud natsionalistid ajavad, Ajades rahva täiesti paanikasse. Poliitiline meeleolu on vallas terav ja vaenulik kuigi sõja õhutajad on vaiksemaks jäänud. Ideelispoliitilise taseme tõstmiseks loen ÜK(b)P ajaloo lühikursust ja sm Stalini elulugu.
	</div>

	<div class="p">
		Septembris 1947:
	</div>

	<div class="quote">
		Üldine meeleolu on vallas viimasel ajal teravnenud just sellega, et nõutakse normide kiiret tasumist. Kulakud ütlesid, et kommunistid vist lähevad sügise minema kuidas muidu on nii kiire viljaga.
	</div>

	<div class="p">
		Novembris 1947:
	</div>

	<div class="quote">
		Poliitiline meeleolu on vallas teravnenud eriti märgatavalt peale sm Võšinski kõne kui sm Võšinski Ühinenud rahvaste Peaassamblee istungjärgul Ameerikas paljastas sõja õhutajad ja nende kavatsused suruda Euroopa demokraatlikutele riikidele peale Marssalli <i>(Marshalli)</i>  plaani ja Trumani doktriini. Samuti sm Staanovi <i>(Ždanovi)</i> kõne L? riigi kommunistlike partei informatsiooni püroo loomisel peetud kõne on pakund väga palju kõneainet. Kulaklikud elemendid ja kodanlikud natsionalistid ajavad juttu et sõda kindlasti tuleb ja Ameerika võidab, kuna Nõukogude riik sellele jõule vastu ei suuda panna. Nad loevad lehest välja teisiti kui nõukogude inimesed öeldes et sõda on kuude küsimus. Sellega seoses tõrguvad riiklike kohustuste täitmisest ja ei asu enne täitma kui pead sund sissenõudmist rakendama.
	</div>

	<div class="p">
		Partorg Teplenkovi tähelepanekul aktiviseerusid poliitiliste muutuste ja sõja ootuses ka metsavennad.
	</div>

	<div class="quote">
		Samuti on metsamehed läinud julgemaks. Mai lõpul rahvakaitse liige Pilt kes oli luures et  seal oli vahel nähtud kahtlast meest. Vastu Haanja valla piiri sattus kokku bandiidiga. Kokku saamine oli kella 9 ajal õhtul. Tekkis tulevahetus. Võsa takistusel õnnestus bandiidil jooksu pista ja jättis maha koti kus oli sees 200 vene lint padrunid ja 1 käsi kranaat ning 5 karpi saapa määret. Nüüd on sinna pandud valve välja. Kuid seni pole midagi näinud. Samuti sm Teder tulles Ristemäe rahvamaja poolt sattus kokku ühe võõra mehega kellel oli kaelas automaat ja Teder teda ei tunnud ja nähtavasti ei tunnud ka tema Tederit.
	</div>

	<div class="p">
		EK(b)P esindajad pidasid metsavendade vastases võitluses üheks piduriks julgeolekuorganite halba mainet rahva hulgas. Partorg Teplenkovki on kirjeldanud Rõugesse saadetud julgeoleku ametimehi:
	</div>

	<div class="quote">
		Algorgi koosolekul oli kriitikat kommunistide töös nagu sm Lauri kohta kes keelas algorganisatsiooni sekretäri töö jaoks TK kirjutus masinad ja sm Koräskini <i>(Goraskini, Rõuge julgeoleku operatiivpunkti ülema)</i> kohta kes tarvitas alkoholi ja oli joonud avalikudel rahva kogunemistel järjekindlalt.
	</div>

	<div class="quote">
		Vähe aktiivsust osutavad oma tööle julgeoleku töölised. Rõuge julgeolekupunktis Vänter küll töötab nagu näha korralikult ja ei ole avalikes kohtades kunagi olnud purjus aga uus operpunkti ülem Andoonov <i>(Antonov)</i> ühes oma abikaasaga võtavad kõvasti viina. Nii olid 6. juunil tuletõrje võistlused õhtul ja seal oli ka Andoonov ja Rõugesse komandeeritud üks major aga seda saate julgeoleku ülema käest teada kui tarvis või saan ma veel ise kuidagi teada. Tulid kooperatiivi ja nõudsid muudkui viina kui oli juba rohkem joobnud siis peksis rusikaid vastu lauda ja kärkis et davai ja davai. Pärast läksid muidugi ära kui kooperatiivi juhataja oli annud niipalju kui tahtsid ja läksid paadiga sõidma kuigi kooperatiivi juht keelas et olete purjus ja kukute sisse ütlesid ainult et lähme jah. Läksid sõitma ja kukkusid järve  õnneks kedagi ära ei uppunud kuid üks nendest olevat mütsi sinna sisse jätnud. Ja öösi kella 04 aegu tuli Antoonovi abikaasa ja tahtis jällegi viina. Kaupluse juhataja Joakiti abikaasa ütles et Joakit on purjus ja selle valega sai tast lahti. Ültse on rahva seas Antoonovi kohta ja eriti tema abikaasa suhtes niisuke jutt et on küll need <i>(alles)</i> ametnikud...
	</div>

	<div class="p">
		Julgeolekutöötajate kohatu ülalpidamine oli teemaks ka Võru julgeolekuosakonnas, kus 1948. a maikuus Võru RJM maakonnaosakonna parteibüroo (5 inimest) arutas vanem operatiivvolinike Polunini ja Marketovi käitumist, kes koos julgeolekutöötajate Mürki ja Sisasega olid purjuspäi laulnud rongivagunis vulgaarseid laule ja solvanud möödakäivaid naisterahvaid, pööramata tähelepanu vagunisaatja korralekutsuvatele märkustele. Sellega panid nad toime „ohvitserieetika ja distsipliini raske rikkumise“.
	</div>

	<div class="p">
		Polunin tunnistas end küll veidi süüdi selles, et õigel ajal ei lõpetanud purjus peaga „Stepan Razini“ laulmist koos Sisase ja Mürkiga, kuid ajas süü viimase peale, et see olevat laulnud vulgaarse sisuga tšastuškasid. Polunin:
	</div>

	<div class="quote">
		Naistele mina külge ei kleepinud, joonud olin, aga natukene.
	</div>

	<div class="p">
		Marketov ajas kogu asja samuti Mürgi kaela:
	</div>

	<div class="quote">
		Eitan fakte, et solvasime mööduvaid naisi ja laulsime vulgaarseid laule, vulgaarseid laule laulis purjus Mürk.
	</div>

	<div class="p">
		RJM Võru maakonnaosakonna ülema asetäitja Mirošnitšenko tegi kokkuvõtte:
	</div>

	<div class="quote">
		Polunin ja Marketov on meil head töötajad ja kommunistid. Loen neid süüdi selles, et nad jõid koos juba varem purjus seltsimeestega.
	</div>

	<div class="p"></div>

	<div class="p">
		Partorg nõudis niigi ülejõu käivate maksudega koormatud talunikelt ähvarduste ja hirmutamisega sisse „vabatahtlikku“ riigilaenu ja esitas tõrkujad julgeolekule karistamiseks:
	</div>

	<div class="quote">
		Eriti tegi nõukogude korda maha Viitina k/n <i>(külanõukogu)</i> kod. Palm Peeter, kes ütles kategooriliselt, et keeldun III taastamislaenu tellimast, öeldes et tema ei suuda aidata riiki – mis on põhjata kott ja kõigest on häda, vanast eesti ajal oli väikene riik aga kõike oli küllalt ja kunagi polnud riigilaenu tellimist. Propagandale pillatakse raha, seda rääkis ta valla kultuurharidus instruktorile sm Nurmele. Läksin isiklikult kohale, suur jõukas talu, tugev tööjõud, poeg, pojanaine ning veel ise naisega tööjõulised. Ise jooksis minu eest ära, poeg tuli peidust välja ja ma hakkasin tegema selgeks, miks riigile on raha tarvis ja kuhu... suure selgitustöö tulemusena tellis ainult 150 rbl ja sularahas 50 rbl. Jätsin kirja lauale ja kutsusin Palm Peetri õhtul k/n-sse kuhu ta ka ilmus. Rääkimisel selgus et ta on tõesti nõukogude korra vastane, kuigi nõukogude korra laimamist püüdis seletada oma vanaduse ja närvlikkusega. Andmed andsin edasi Rõuge julgeoleku töölistele edaspidiseks asja uurimiseks.
		<br>
		Samuti keeldus agitaatorile tellimast riigilaenu kulak Krasmani poeg, kes elab Viitina k/n-s, isa elab Rõuge k/n-s. Kuus korda käis aktivist seal enne kui tellis ainult 100 rbl ja sularaha ei annud mitte rublagi. Esines ka uusmaasaajaid, kes keeldusid riigilaenu tellimast, vaatamata selle peale, et riik on neid igati abistanud ja tasuta maa annud. Rõuge k/n kulak Eiche Aleksanderi vend isegi ei rääkinud aktivistidega, vaid ütles üle õla, et ärge käige santimas ja sammus edasi.
		<br>
		Niisukesi oli palju, kes keeldusid, öeldes, et „iga riigilaenu tellimise pärast teie kinni panna ei saa, see on vabatahtlik ja rääkige kui palju tahate, mina ei anna raha ega telli ka".
	</div>


	<div class="p">
		Partorg Teplenkov ei tunnistanud oma klassivõitluses kübetki huumorit, „paljastades nende alatud jutud“. Teiste hulgas nõudis ta hävingut ka noorukesele Kõiv Õiele:
	</div>

	<div class="quote">
		Meil Rõuges sidekontoris juhatajaks on Koppel, kes on tuntud suur riigi vastane ühes abikaasaga. Valimistel möödunud talvel hääletas ta vastu. Seal töötab üks komsomol Kriipsalu Aino kes kuulis oma kõrvaga ja teised töölised kui sakslaste sabarak Kõiv Õie küsis kommunistliku noore Aino Kriipsalu käest, et mis on see N.S.V.L. ja mida tähendab. Sm Kriipsalu ütles see on Nõukogude Sotsialistlik Vabariikide Liit. Aga see kodanlik natsionalist ütles see ei ole nii, vaid on Nälginud Sandid Vahivad Läände. Mina küll andsin selle edasi Riigi julgeoleku töölistele, kuid palun seda asja ajada EK(b)P Komitee kaudu, et see suur Nõukogude korra mustaja saaks kõrvaldatud meie ühiskonnast.
	</div>

	<div class="p">
		Partorg Teplenkovi tappis tundmatu isik, kelle dokumente ta püüdis kontrollida 1948. a juunikuu öösel. Teplenkovi asemele  pandi partorgi kohale Robert Movits.
	</div>

	<div class="p">
		Ettekandeid EK(b)P Võrumaa komiteele jätkas Robert Movits. Järjest enam tõusid teemaks metsas olevad mehed, sõjaootus kestis edasi.
	</div>

	<div class="magnific-popup-gallery">
		<a href="/images/rouge/2_varjajate_nimekiri_1.jpg"><img src="/images/rouge/2_varjajate_nimekiri_1.jpg"></a>
		<a href="/images/rouge/3_varjajate_nimekiri_2.jpg"><img src="/images/rouge/3_varjajate_nimekiri_2.jpg"></a>
		<a href="/images/rouge/4_toomsalu.jpg"><img src="/images/rouge/4_toomsalu.jpg"></a>
	</div>

	<div class="br"></div>

	<div class="p">
		Rõuge partorg Movits kurtis, et metsavendade peale inimesed kaebamas ei käinud, ehkki teadsid nende kodus viibimisest.
	</div>

	<div class="p">
		Movits märgib meeleolu langust nõukogude töötajail:
	</div>

	<div class="quote">
		Üldine valla rahvameeleolu on, et oodatakse kuna tultakse kolhoosi ajama, ja valla aktiivi meeleolu on, nagu kardaksid kulakuid puutuda, elada rohkem et mina ei puudu neid, siis nemad ei puudu mind. Mille tagajärjel langevad meeleolud nõukogude töötajail, nagu Sänna k/n esimees, Viitinas, ning sm. Vaab keda taheti esitada valla TK aseesimeheks ei andnud üldse nõusolekud just sellepärast et lihtsalt ei julge.
		<br>
		Kuna levivad kuulujutud, et see valitsus siia siiski ei jää, nagu ikka veel midagi oodatakse. Vastse-Nursi kooliõpilaste poolt on väljalastud kuulujut, et varsti tuleb sõda kuna Võrus olevad juba allalastud lendlehti. Valla rahva seas on kuulda, et Võrus põletati maha hooneid ning aedadele oli kleebitud sildit, et Kitlerit ei ole, Inglane ei tule Venelane välja ei lähe kuhu peab minema eestlane.
	</div>

	<div class="p">
		Kohati edastas partorg ka lennukat rahvaulmet:
	</div>

	<div class="quote">
		Teiseks on kuulujut vallas et Lätimaal on lastud maha üks rauane inimene, kelle juurde 50-400m keegi ligi minna ei tohi põletab ära kohe tuhaks. Samuti suurte silmadega, liigub ning omab migrofoni ja peab sidet Ameerikaga räägib Vene ja teisi keeli.
		<br>
		Siis käib veel uus jutt,  mida rääkis kod. Jaanias, et olevat kuulda rahva seas juttu, et Ameerika lennuk olevad maha lasknud terve lennukitäie koloraado mardikaid, ning nüüd söövad ära kõik vilja ja tuleb meil hirmus nälg.
	</div>

	<div class="p"></div>

	<div class="p">
		Rõuge noortega toodi tegelema komsorg Õilme Teder, kelle andmetel oli vallas 1948. a jaanuaris organiseerimata noori 14.-26 eluaastani 352 noort. Noori, kes omasid ÜLKNÜ piletid oli 29 noort, neist maanoori 12, õpilasi ei olnud, töölisnoori 6, õpetajaid 2, teenistujaid 9.
	</div>

	<div class="p">
		Rõugesse komsorgiks suunatud Õilme Teder ajas oma jämeda käitumisega suhted paljude kohalikega  väga teravaks ja käis julgeolekus inimeste arreteerimist nõudmas. Ta suutis välja vihastada isegi partorg Teplenkovi poolt edutatud inimesi, nagu teemeister Sokk. Teplenkov on kirjutanud:
	</div>

	<div class="quote">
		Rõuge teemeister Sokk Richardi kohta kirjutasin Töörahva Elu toimetusele kui ühe eeskujulisest nõukogude inimesest kes töötas üles oma töölistega 150 tm puid E.N.S.V. Ülemnõukogu Valimiste auks ja lubas üles töötada 300 tm puid selle auks et Kommunistid ja Parteitute ploki kanditaadid said nii suure häälte enamuse ja läksid läbi igas kohas. Sm Sokk on lihtsast töölisest edutatud teemeistriks eeskujuliku töö eest.
	</div>

	<div class="p">
		Seesama Sokk oli loetud  kuud hiljem Tederiga vaenujalal:
	</div>

	<div class="quote">
		Käies valdamööda ringi, ning ässitades rahvast üles, Rõuge teede meister Sokk ähvardas joobnult järgmine päev, et meil on otsus vastu võetud ja saame lahti varsti komsorgist, et otsustasime selle Tallinna keskkomitee mehega.
	</div>

	<div class="p">
		Vaen kalgisüdamelise ja jämeda käitumisega komsorgi ning kommunistide vastu lahvatas aeg-ajalt avalikult, vaatamata tagajärgedele. Komsorg Teder, esitades omapoolset nägemust ühest sellisest vastasseisust, ei unustanud kaebusse lisamast ka Auleid Toomsalut:
	</div>

	<a class="magnific-popup-image" href="/images/rouge/5_elstein_arved.jpg">
		<img class="image_left p200" src="/images/rouge/5_elstein_arved.jpg">
	</a>

	<div class="p">
		Arvet Elstein (20a) arreteeritigi 3 päeva pärast Tederi ettekannet ja ta sai 10 a vangistust Krasnojarski krais. 1948. a aasta aprillis oli Õilme Teder käinud julgeolekule pealekaebust esitamas Auleid Toomsalu ja ühe sünnipäevaseltskonna peale, kus  Auleid oli laulnud rahvalikku laulu (националистическую песню). Seejärel hakkas Õilme Teder vaenu kiskuma tema vanematega. Auleidi isa oli amputeeritud käe ja ühe silmaga invaliid.
		<br>
		Pärast korduvaid hoiatusi ja ähvardusi oma vanemate tagakiusamine lõpetada (ja teades Tederi panust küüditamisel) läks Auleid Toomsalu ühel õhtul täitevkomitee kõrvalmajja ja lasi komsorgi võimude nina all maha. Sellisest jultumusest hämmingus Võrumaa aseprokurör Pekurin teatas ENSV peaprokurör Paasile:
	</div>

	<div class="quote">
		Operatiivgruppide tegevusetust näitab seegi, et komsorg Teder Õilme tapeti 100 sammu kaugusel Rõuges asunud operatiivgrupist. Tederi tapnud bandiit lahkus sõdurite silme all, neid vastu tulistades.
	</div>

	<h2>Aasta 1949, 1950</h2>

	<div class="p">
		Märtsis 1949 toimus suurküüditamine. Rõugest küüditati 31 perekonda, kokku 81 inimest.
		<br>
		Rõuge partorg Movits oma teadaannetes suurküüditamist ei mainigi, teatades alles aprilli lõpus:
	</div>

	<div class="quote">
		Poliitiline meeleolu vallas on levinenud igasuguseid kuulujutusid ja tähtaegu kui väljakiudutamise ning sõja puhkemise kohta. Esimene tähtpäev oli kuulujutudes, et saab toimuma ära küüditamine 16 aprill sellel aastal kuna see tähtaeg möödus midagi ei toimunud siis nüüd on lükatud edasi ja oodatakse massilist väljaküüditamist.
	</div>

	<div class="p">
		Naabervalla Ruusmäe partorg Žilkin teatas, et pärast EKP algorgi kinnist ja parteiaktiivi lahtist koosolekut, millest võttis osa 57 inimest ja EK(b)P Võrumaa komitee volinik sm Eksin,
	</div>
	<div class="quote">
		teostati kulakute ja saksa käsilaste välja saatmine. Kokku oli ette nähtud ära saata 13 perekonda, võetud kinni ja ära saadetud 8 perekonda – kokku 31 inimest – kodust ära põgenenud 5 perekonda. Need perekonnad, saksakäsilased, kes ei olnud määratud väljasaatmiseks, rohkem osa olid kodust ärapõgenenud ja selle ajani (31. märts 1949) ei ole kodus Tigane Minnat, ülejäänud ilmusid tagasi, andmete järgi. Kolhooside astumisega talupidajad suurt vastupanu ei tee.
	</div>

	<div class="p">
		Nii küüditatute kui küüditamise eest metsa põgenenute kodud ja varad akteeriti kohe riigi omandisse. Kui keegi metsa lahkuma sunnitutest julges veel salaja kodus oma asjade järel käia, tembeldati ta vargaks.
	</div>

	<div class="quote">
		31. märtsil 49a Luutsniku k/n-s kod. Kirbits Jaan (kes on põgenenud oma majapidamisest) öösel on toimunud vargus, kust on ära tapetud ja ära viidud 1 siga, viidud õmblusmasin, hobune koos reega ja rakmetega, 3 villast tekki, odratangud 70kg, herneid 40 kg ja nisu 60 kg. Jälgede järel ära viidud Krabi-Viitina teed müüda. Kirbits Jaan oma perekonnaga kuulus ära küüditamiseks ja 20. märtsil juba põgenes kodust ära kodanik  Svirini seletuse järgi. Kõik varandus on akteeritud. Arvamise järgi toimunud vargus on temal isiklikult oma perekonnaga ja kelle teine poeg on bandiit.
	</div>

	<div class="p">
		Küüditamisele järgnenud suvel keelati ära omaste mälestamine surnuaiapühal. Ruusmäe valla partorgi Žilkini ettekandest:
	</div>

	<div class="quote">
		Valla rahva poolt on jutt, aga mispärast valla juhtkond keelas 28. aug 49. a pidada surnuaiapüha.
	</div>

	<div class="p">
		See-eest tuli käsukorras ja pidulikult meeles pidada Suurt Oktoobrirevolutsiooni ja Suures Isamaasõjas langenud punaarmeelasi.
	</div>

	<div class="p">
		Pärast märtsiküüditamist, mille käigus viidi Venemaale nö kulakute, natsionalistide ja bandiitide perekonnad, püsis partorgi teadaannetes 1949. a  peateemana jätkuvalt kolhoos ja kulak.
		<br>
		Kõigepealt püüdsid kommunistid meelitada külas taasavastatud „kulakud“ kolhoosi.
		<br>
		Partorg Movits:
	</div>

	<div class="quote">
		Meie teame, et talumajapidamistel on kõrgendatud normid ning tuleb ka põllumajandus maks, kuid meie peame tegema pidevalt selgitustööd, et nad astuksid kolhoosi enne oma loomade ja inventari hävitamist ja ei tohi takistusi teha nende kolhoosi võtmisel.
	</div>

	<div class="p">
		Seejärel püüdsid võimud „kulaku“ kolhoosist välja heita kui „kolhoosi pugenu“, kogu tema vara kolhoosile jättes.
		<br>
		Veel samal aastal kirjutas partorg Movits:
	</div>

	<div class="quote">
		Kohustada valla partei algorganisatsiooni ja valla täitevkomiteed paljastama kolhoosidesse pugenud kolhoosi vaenlasi, kulakuid ja kodanlik natsionaliste ning välja kihutama nad sealt. Kontroll panna sm. Movits ja Kroosikule.
	</div>

	<div class="p">
		Rahvas vist tõrkus selle kulakluse nõiajahiga kaasa minemast, sest Movits kurtis:
	</div>

	<div class="quote">
		Korduvalt on räägitud kulakluse kui klassi väljaselgitamisest, kuid sellest hiilitakse mööda.
	</div>

	<div class="p">
		Kohalik kommunist sm Vaab August:
	</div>

	<div class="quote">
		Kulakud tulevad kohe välja selgitada, sest kui nendega kaua viivitada laastavad nad kolhoose ja hävitavad oma viimase varanduse teevad sellega meie ühiskonnale kahju.
	</div>

	<div class="p">
		Küüditamine andis metsavendade vastuhakule uue hoo ja riigi tasandil tõusid 1949. a Võrumaa metsavennad tõsiseks probleemiks. Oktoobris 1949 teatas kompartei juht Nikolai Karotamm:
	</div>

	<div class="quote">
		EK(b)P KK büroo teatab, et banditismi likvideerimise abinõud Võru maakonnas on mitterahuldavad. RJM maakonnaosakonna ülem Puškarjov ei ole osanud organiseerida talle alluvat operatiivkoosseisu otsustavaks võitluseks banditismiga. Nõudlikkuse, kontrolli ja täidesaatmise kontrolli puudumine RJM maakonnaosakonna juhtkonna poolt viis selleni, et terve rida operatiivtöötajaid ei täida neile pandud ülesandeid, aga mõned neist annavad alust faktidele, mis diskrediteerivad julgeolekuorganeid. Puudulikult on kasutusele võetud abinõud bandiitide hävitamise bataljoni üksuste puhastamiseks, kus on jätkuvalt poliitiliselt ja moraalselt vääritud inimesed. Bandiitide likvideerimisse hävitusbataljoni võitlejaid peaaegu ei kaasata.
		<br>
		Teha ettepanek Võru parteikomiteele (sm Liivik), RJM-le (sm Kumm) ja Eesti Siseasjade Ministeeriumile (sm Resev) võtta tarvitusele sellised abinõud, mis võimaldaksid Võru maakonna täielikku puhastamist bandiidigruppidest  lähima 2-3 kuu jooksul.
		<br>
		Kohustada ÜLKNÜ-d (sm Tolbast) andma otsekohe käsk kõigile maakonna komsomolikomiteedele komsomoli kaasahaaramiseks aktiivsesse võitlusse banditismi vastu, eriti külas.
	</div>

	<div class="p">
		EK(b)P KK administratiivosakonna ülema Anisimovi hinnangul olid suurküüditamistest ja arreteerimistest seni puutumata jäänud kohalikud suures osas nõukogudevastased:
	</div>

	<div class="quote">
		Uurides bandiitlike formeeringute arvukuse ja jätkuvuse kasvu, on kindlaks tehtud, et maakonnas on üsna suur nõukogudevastase elemendi hulk, peamiselt endised sakslaste abilised ja erinevate kodanlik-natsionalistlike organisatsioonide liikmed, mis pakub laia pinda mitte üksnes varjamiseks ja materjaalsete vahendite hankimiseks bandiitidele vaid ka gruppide kasvuks endaks. Veel enam, kuni praeguse ajani ei ole RJM maakonna osakond isegi arvestust pidanud selle nõukogudevastase elemendi kohta.
	</div>

	<div class="p">
		Anisimov kompartei keskkomitee esindajana suges saamatuse tõttu nii RJM  kui SM jõude:
	</div>

	<div class="quote">
		Oma otsuses 25. augustist k.a. partei rajoonikomitee büroo nõudis RJM ja Siseministeeriumi osakonnaülematelt banditismi täielikku likvideerimist maakonnas 1. novembriks <i>(1949)</i>. Samasugune otsus võeti vastu RJM maakonna osakonna kommunistide poolt  oma parteikoosolekul 29. augustil. Ometi jätkavad banded enamvähem samal arvul, kui enne selle otsuse vastuvõtmist.
	</div>

	<div class="p">
		Järgnes RJM Võru maakonna osakonna ülema asetäitjate Burakovi ja Mirošnitšenko senise tegutsemise vastandamine Tartu piirkonna metsavendade hävitaja Gavrilovi tegutsemisele:
	</div>

	<div class="quote">
		Nende bandede <i>(Koovik, Piho)</i> hävitamine laseb operatiivtöötajate peajõud ja RJM sõjalised üksused paisata  nendest rajoonidest teistesse, kus bandiidirühmad on seni veel puutumata (Lasva, Leevi, Orava, Veriora, Mäe, Räpina, Saatse, Meremäe), kus tegutsevad grupid Randmaa, Võhni, Jooti, Kõivu ja Juksi juhtimisel, mille kooseisu kuulub 25-30 bandiiti ja mis näitavad viimasel ajal üles märkimisväärset aktiivsust. Tuleb tunnistada, et need operatsioonid <i>(Piho ja Kooviku salga hävitamine)</i> viidi läbi ENSV RJM Tartu osakonna jõududega. Mõlemat operatsiooni juhtis ministeeriumi vastutav töötaja major sm Gavrilov. Tema valmistas need operatsioonid ette, samal ajal kui maakonna osakonna juhtkond (Puškarjov ja Burakov) jäi  neist ettevõtmistest peaaegu kõrvale.
		<br>
		Nendesamade Randmaa, Jooti, Kõivu ja Juksi bandede (Lasva, Leevi, Orava jt valdades), Heeska (Sõmerpalu, Linnamäe, Urvaste ja Antsla vallas), Rüütli (Varstu ja Mõniste vallas), kus operatsioone olid kohustatud läbi viima RJM maakonnaosakonna töötajad ise, ei ole mingeid tulemusi saavutatud. Rüütli bandega tegeleb juba 2 kuud RJM maakonnaosakonna asetäitja Mirošnitšenko, kuid nagu nüüd selgus, ta mitte ainult ei jätnud seal operatsiooni korraldamist organiseerimata, vaid ta ei tea isegi ligilähedaselt bandiitide varjamiskohta. Oletab ainult, et bandiidid varjavad taludes, kuid millistes taludes, seda öelda ei oska. Samal ajal toimetasid bandiidid suve jooksul karistamatult, pannes toime rea relvastatud rööve Varstu ja Mõniste vallas.
		<br>
		Kohalikku komsomoli ja nõukogude aktiivi ta bandiitidevastases võitluses üldse ei kasutanud, ehkki tema sõnul on neid vallas 32 inimest. Samal ajal ei osanud ta öelda, kui palju on neis valdades (Mõniste, Varstu) komsomole, st mingit sidet tal komsomoliaktiiviga ei ole, ehkki töötab seal juba 2 kuud.
		<br>
		Teine RJM maakonnaosakonna ülema asetäitja Burakov likvideerib juba teist kuud Heeska bandet, kuid samuti edutult. Tema juhtimise all augustis läbi viidud operatsioon oli halvasti organiseeritud ja lõppes täieliku krahhiga. Ta kukutas läbi ka ühe tähtsa operatiivettevõtmise. Seda selgitab asjaolu, et Burakov istub peaaegu kogu aja Võrus, samal ajal kui tööd tuleks organiseerida gruppide tegutsemispiirkonnas kohapeal.
		<br>
		Randmaa, Toomsalu, Kõivu jpt gruppidega pole siiani üldse keegi tõsiselt tegelenud, samal ajal kui  Randmaa grupp on lühikese aja jooksul teinud terve rea relvastatud rünnakuid ja terroriakte, aga Toomsalu salk tappis 29. sept Rõuge vallas puhkusel oleva RJM Harjumaa osakonna ülema asetäitja major Sisase ja selle naise. Ühelgi neist juhtudest ei ole RJM töötajad kedagi kinni võtnud.
	</div>

	<div class="p">
		Anisimov rõhutas julgeolekutöötajate joomarlust:
	</div>

	<div class="quote">
		Terve rida operatiivtöötajaid joovad süstemaatiliselt (Semenov, Panikovski, Zbrodov <i>(Sbrodov Nikolai Feodorovitš s 1922?)</i>, Antonov ja veel mõned). Operatiivvolinik Semenov tegi aprillist septembrini 1949 5 tõsist kuriteoga piirnevat rikkumist, kuid pole siiani kandnud ei administratiivset ega parteilist karistust. Neist rikkumistest on teadlik nii ENSV RJM parteikomitee kui ENSV RJM, kuid meetmeid senini vastu võetud ei ole.
		<br>
		Partei- ja teenistusdistsipliini rikkumise juhtumeid esineb büroo liikmete endi hulgas,  sm Zbrodovi ja Mihaljovi juures. Märkuse purjutamises on saanud ka parteiorganisatsiooni sekretär sm Dementjev, hiljuti sai teatavaks fakt, et nov. 1948 Dementjev viibis restoranis ja läks  seal vaidlema operatiivtöötaja Martihhiniga (kusjuures mõlemad olid purjus), tulistas seal tema pihta püstolist 2 lasku, mis õnneks ei vigastanud Martihhinit ega ühtegi restoranikülastajat. Seda fakti asusid mõlemad varjama, alles selle aasta oktoobris olid nad sunnitud seda parteikoosolekul tunnistama.
		<br>
		Sellises olukorras ei saa juttugi olla, et parteiorganisatsioon aitaks parandada RJM maakonnaosakonna operatiivtööd.
		<br>
		RJM maakonnaosakonna operatiivnõupidamisel 12. okt täheldati, et terve rida töötajaid laiskleb ja nende tööd ei kontrolli keegi. Näiteks operatiivvolinik Larkinil pole 2 aastase töö kohta mitte mingeid operatiivseid näitajaid ette näidata. Sealjuures parteiorganisatsioon luges ta üheks paremaks töötajaks. Tuli välja, et selline positiivne hinnang anti talle ainult sellepärast, et ta ei jooberda ja peab end ülal „vaikselt ja rahulikult“. Aga et ta oma töös midagi ei saavuta, seda ei võtnud arvesse ei osakonna ülem ega parteiorganisatsioon.
	</div>

	<div class="p">
		Anisimov kurtis, et RJM maakonnaosakond (ülem Puškarjov) ja Siseministeeriumi osakond (ülem Soonda) ei suuda teha koostööd. Järgnes nurin hävituspataljonide kaasamatusest metsavendade vastasesse võitlusse ja ülevaade hävituspataljonidest:
	</div>

	<div class="quote">
		Hävituspataljon Võrumaal arvestab oma koosseisuks 435 inimest (13. okt. 1949 seisuga) Pärast EK(b)P KK büroo otsust 27. augustist on kolhoosides loodud 51 hävitajate rühma, igaühes 2-4 inimest, kokku on maakonnas gruppe 166, mis kõik on relvastatud. Uusi avaldusi pataljoni astumiseks on 139. Hävituspataljonlaste hulgas on VK(b)P liikmeid ja kandidaate 84 inimest ja sama palju komsomole, kolhoosnikke 273, üksiktalunikke 38, teenistujaid 94, töölisi 30. Pataljoni voolavus on märkimisväärne, 1. jaanuarist 13. okt-ni on välja arvatud 199 inimest, uusi on võetud 145. Välja arvatutest 10 inimest on arreteeritud, 9 bandiitide poolt tapetud, 46 on välja arvatud mittesobivuse tõttu, 4 isiklikul soovil, 49 elukoha vahetuse tõttu. Poliitilistel motiividel on välja arvatud vaid 8 inimest.
	</div>

	<div class="p"></div>

	<div class="p">
		1950. a märksõnaks Rõuge partorgi Movitsa ettekannetes oli poliitiline valvsus (mida pidi kogu aeg tõstma). Selle raames „avastatakse“, „selgitatakse välja“ ja „paljastatakse“ inimeste kõikvõimalikke sidemeid ja minevikku. Partorg kandis ette isegi „laste armee“ (!?) leidmisest Sännas.
	</div>

	<div class="quote">
		4. juunil toimunud Rõuge laulupeol avastati purjujoonud Vastse-Nursi alg. kooli õpilase Lätte kaudu 7 õpilast kes omasid laske relvad, ning see õpilane oli oma õpetajale vastanud, et neid on veel terve armee Sännas.
	</div>

	<div class="p">
		Auleid Toomsalu vanemad olid partorgil pidevalt hambus, kuni 1950. a Toomsalu ema arreteeriti ja saadeti 8a vangilaagrisse, põhjuseks toodi puskariajamine.
		<br>
		Partorg Robert Movitsa ettekanne 1950. a keskelt:
	</div>

	<a class="magnific-popup-image" href="/images/rouge/6_movits_1.jpg">
		<img class="image_left p150" src="/images/rouge/6_movits_1.jpg">
	</a>
	<a class="magnific-popup-image" href="/images/rouge/7_movits_2.jpg">
		<img class="image_left p150" src="/images/rouge/7_movits_2.jpg">
	</a>
	<a class="magnific-popup-image" href="/images/rouge/8_movits_3.jpg">
		<img class="image_left p150" src="/images/rouge/8_movits_3.jpg">
	</a>
	<a class="magnific-popup-image" href="/images/rouge/9_movits_4.jpg">
		<img class="image_left p150" src="/images/rouge/9_movits_4.jpg">
	</a>

	<div class="br"></div>

	<div class="p">
		1950. a juunis teatas Movits:
	</div>

	<div class="quote">
		Mis puudub bandiitide suhtes, siis täna s. o. vastu 30 juunit öösil julgeoleku töötajad tabasid 2 bandiiti üks pidas olema vist Šprenk Aksel ja teist veel ei tea.
	</div>

	<div class="p">
		Nimetatud haarangut kolmele punkrile metsavendade silme läbi  nähtuna on kirjeldanud Aaro Pihlapuu oma päevikus („Pihlapuude võitlus“ Tartu: Hotpress Kirjastus, 2009). Teiseks partorgi osutatud langenuks oli Aaro Pihlapuu punkrikaaslane August Koemets. Kolmas tapetu, keda partorg ei maini, oli sama operatsiooni käigus julgeolekutöötajate poolt tapetud aastane laps, Heino Uibo ja Linda Tatriku punkris maganud pisipoeg.
	</div>

	<div class="p"></div>

	<div class="p">
		Partei käsk 1949. a-st, rakendada komnoored kohustuslikus korras metsavendi jahtima, ei ole langenud kuigi viljakasse pinnasesse. Kohalik punategelane Aid Aino kurtis 1950. a, et isegi komnoored väldivad punavõimu üritusi:
	</div>

	<div class="quote">
		vallakomitee on suhtunud väga passiivselt oma töösse, eriti nõrgalt suhtusid noored kollektiviseerimise töö läbiviimisse. 1949. a kevadel oli kollektiviseerimise suurim üritus, mis meie vallas läbi viidi ning kõik kommunistlikud noored pidid sellest osa võtma, kuid sellest üritusest võtsid aktiivselt osa ainult üksikud noored nagu Pilt, Lehiste (Lehiste Linda) jt.
	</div>

	<div class="p">
		Kohalikud komparteilased arutasid:
	</div>

	<div class="quote">
		Aid Aino ettekandest revolutsioonilise valvsuse kohta selgus, et pole veel täielikult paljastatud bandiite ja nende käsilasi, kes tapavad nõukogude inimesi ja hävitavad kolhoosi vara igasuguste võtete abil, kuid komsomolid ei ole selle vastu midagi ette võtnud. Ei informeerita vallakomiteed ega Julgeolekut vaenulikest faktidest, et saaks neid paljastada, samuti ei ole komsomolid bandiitide hävitamise rühma liikmed. Vallakomitee istung otsustab: Igal kommunistlikul noorel, kes on füüsiliselt terve vormistada materjalid ja astuda bandiitide hävitamise rühma liikmeks.
	</div>

	<div class="p">
		Movits Robert:
	</div>

	<div class="quote">
		Meil on vallas olemas kulaklikke elemente, saksa käsilasi kes tuleks paljastada kuid kommunistlikud noored ei näe neid, kardavad kritiseerida neid ning see nähtub kõik sellest, et noori pole kasvatatud patriootlikus vaimus.
	</div>

	<div class="p">
		Kui 1948. a oli Rõuge vallas komnoori 29 (352 kohaliku mittekomnoore vastu), siis kolm aastat hiljem, aastal 1951, oli neid 51.
	</div>
</div>
