<div class="content">
  <h1>Pildid</h1>

  <div class="lg-gallery">
    <img src="/images/rouge/a_toomsalu_portree.jpg" alt="Auleid Toomsalu" />
    <img src="/images/rouge/v_pallo_portree.jpg" alt="Valter Pallo" />
    <img src="/images/rouge/p_liit_portree.jpg" alt="Paul Liit" />
    <img src="/images/rouge/e_pettai_portree.jpg" alt="Elmar Pettai" />
    <img src="/images/rouge/e_kirbits_portree.jpg" alt="Eduard Kirbits" />
    <img src="/images/rouge/a_kirbits_portree.jpg" alt="Aksel Kirbits" />
    <img src="/images/rouge/kuklane_v_portree.jpg" alt="Vambola Kuklane" />
    <img src="/images/rouge/kalju_kirbits.jpg" alt="Kalju Kirbits" />
    <img src="/images/rouge/henn_kirbits.jpg" alt="Henn Kirbits - passipilt 1949" />
    <img src="/images/rouge/pulli_talus_tapetud.jpg" alt="Pulli talus haarangu käigus tapetud 23.07.1949" />
    <img src="/images/rouge/h_virk_surnu.jpg" alt="Tapetud Herbert Virk, 25a,  23.07.1949" />
    <img src="/images/rouge/e_pettai_surnu.jpg" alt="Tapetud Elmar Pettai, 21a,  23.07.1949" />
    <img src="/images/rouge/kuklane_v_surnu.jpg" alt="Tapetud Vambola Kuklane, 18a,  23.07.1949" />
    <img
      src="/images/rouge/relvad_virk_kuklane_pettai.jpg"
      alt="Pulli talus tapetutelt ära võetud relvad ja laskemoon"
    />
    <img src="/images/rouge/e_pettai_surnu_2.jpg" alt="Tapetud Elmar Pettai" />
    <img src="/images/rouge/h_virk_surnu_2.jpg" alt="Tapetud Herbert Virk" />
    <img src="/images/rouge/kuklane_v_surnu2.jpg" alt="Tapetud Vambola Kuklane" />
    <img src="/images/rouge/aksel_sprenk_suur.jpg" alt="Aksel Sprenk oktoobris 1937" />
    <img
      src="/images/rouge/henn_kirbits_heljut_sarapuu.jpg"
      alt="Henn Kirbits (vasakul) ja Heljut Sarapuu 1949. a märtsis küüditamise järgsel varjamisel Edgar Tiksi talus."
    />
    <img
      src="/images/rouge/kalju_kirbits_jalgsema.jpg"
      alt="Kalju Kirbits (ees paremal) 1947 või 1948. a Jalgsema külas Järvamaal."
    />
    <img
      src="/images/rouge/perekond_pihlapuu.jpg"
      alt="Pihlapuu Simo (Simu) ja Pihlapuu Aaro perekonna keskel. Foto võetud: http://issuu.com/martinmark/docs/saarlase-ajalugu"
    />
    <img src="/images/rouge/aaro-pihlapuu-2048.jpg" alt="Aaro Pihlapuu. Foto võetud Geni'st. " />
    <img src="/images/rouge/s-a-pihlapuu-1949-kross-2048.jpg" alt="Simo Pihlapuu (vasakul) ja Heino Uibo 1949. a." />
    <img
      src="/images/rouge/s_pihlapuu_surnud.jpg"
      alt="Tapetud Simo Pihlapuu 23.09.1949. Põiki asetsevad toikad kuulusid metsavendade varustusse sügisel kõrgest heinast ja põõsastelt vee maha ajamiseks."
    />
    <img src="/images/rouge/s_pihlapuu_relvad.jpg" alt="Tapetud Simo Pihlapuu relvad ja esemed." />
    <img
      src="/images/rouge/viitina_pasunakoor.jpg"
      alt="Vasakult 1. rida: Jakob Kuklane (orkestri asutaja), Paul Kruus; August Kuklane (orkestri juht), Eduard Ait; Jaan Kirbits; Alfred Tiks. 2. rida: Vidrik Lepp; Arnold Kuklane, Juhan Tadrik; August Peterson, Aksel Kuklane (pärast 1949 metsas); Konstantin Troska."
    />
    <img src="/images/rouge/pulli_talu_kivi.jpg" alt="Mälestuskivi Pulli talus 23.07.1949 hukkunutele Haki külas." />
  </div>
</div>
