<div class="content">

  <h1>Pildid</h1>

  <div id="pictures-page-gallery" class="lg-gallery">

    <a href="/images/rouge/a_toomsalu_portree.jpg" title="Auleid Toomsalu">
      <img src="/images/rouge/a_toomsalu_portree.jpg" />
    </a>
    <a href="/images/rouge/v_pallo_portree.jpg" title="Valter Pallo">
      <img src="/images/rouge/v_pallo_portree.jpg" />
    </a>
    <a href="/images/rouge/p_liit_portree.jpg" title="Paul Liit">
      <img src="/images/rouge/p_liit_portree.jpg" />
    </a>
    <a href="/images/rouge/e_pettai_portree.jpg" title="Elmar Pettai">
      <img src="/images/rouge/e_pettai_portree.jpg" />
    </a>
    <a href="/images/rouge/e_kirbits_portree.jpg" title="Eduard Kirbits">
      <img src="/images/rouge/e_kirbits_portree.jpg" />
    </a>
    <a href="/images/rouge/a_kirbits_portree.jpg" title="Aksel Kirbits">
      <img src="/images/rouge/a_kirbits_portree.jpg" />
    </a>
    <a href="/images/rouge/kuklane_v_portree.jpg" title="Vambola Kuklane">
      <img src="/images/rouge/kuklane_v_portree.jpg" />
    </a>
    <a href="/images/rouge/kalju_kirbits.jpg" title="Kalju Kirbits">
      <img src="/images/rouge/kalju_kirbits.jpg" />
    </a>
    <a href="/images/rouge/henn_kirbits.jpg" title="Henn Kirbits - passipilt 1949">
      <img src="/images/rouge/henn_kirbits.jpg" />
    </a>
    <a href="/images/rouge/pulli_talus_tapetud.jpg" title="Pulli talus haarangu käigus tapetud 23.07.1949">
      <img src="/images/rouge/pulli_talus_tapetud.jpg" />
    </a>
    <a href="/images/rouge/h_virk_surnu.jpg" title="Tapetud Herbert Virk, 25a,  23.07.1949">
      <img src="/images/rouge/h_virk_surnu.jpg" />
    </a>
    <a href="/images/rouge/e_pettai_surnu.jpg" title="Tapetud Elmar Pettai, 21a,  23.07.1949">
      <img src="/images/rouge/e_pettai_surnu.jpg" />
    </a>
    <a href="/images/rouge/kuklane_v_surnu.jpg" title="Tapetud Vambola Kuklane, 18a,  23.07.1949">
      <img src="/images/rouge/kuklane_v_surnu.jpg" />
    </a>
    <a
      href="/images/rouge/relvad_virk_kuklane_pettai.jpg"
      title="Pulli talus tapetutelt ära võetud relvad ja laskemoon"
    >
      <img src="/images/rouge/relvad_virk_kuklane_pettai.jpg" />
    </a>
    <a href="/images/rouge/e_pettai_surnu_2.jpg" title="Tapetud Elmar Pettai">
      <img src="/images/rouge/e_pettai_surnu_2.jpg" />
    </a>
    <a href="/images/rouge/h_virk_surnu_2.jpg" title="Tapetud Herbert Virk">
      <img src="/images/rouge/h_virk_surnu_2.jpg" />
    </a>
    <a href="/images/rouge/kuklane_v_surnu2.jpg" title="Tapetud Vambola Kuklane">
      <img src="/images/rouge/kuklane_v_surnu2.jpg" />
    </a>
    <a href="/images/rouge/aksel_sprenk_suur.jpg" title="Aksel Sprenk oktoobris 1937">
      <img src="/images/rouge/aksel_sprenk_suur.jpg" />
    </a>
    <a
      href="/images/rouge/henn_kirbits_heljut_sarapuu.jpg"
      title="Henn Kirbits (vasakul) ja Heljut Sarapuu 1949. a märtsis küüditamise järgsel varjamisel Edgar Tiksi talus."
    >
      <img src="/images/rouge/henn_kirbits_heljut_sarapuu.jpg" />
    </a>
    <a
      href="/images/rouge/kalju_kirbits_jalgsema.jpg"
      title="Kalju Kirbits (ees paremal) 1947 või 1948. a Jalgsema külas Järvamaal."
    >
      <img src="/images/rouge/kalju_kirbits_jalgsema.jpg" />
    </a>
    <a
      href="/images/rouge/perekond_pihlapuu.jpg"
      title="Pihlapuu Simo (Simu) ja Pihlapuu Aaro perekonna keskel. Foto võetud: http://issuu.com/martinmark/docs/saarlase-ajalugu"
    >
      <img src="/images/rouge/perekond_pihlapuu.jpg" />
    </a>
    <a href="/images/rouge/aaro-pihlapuu-2048.jpg" title="Aaro Pihlapuu. Foto võetud Geni'st. ">
      <img src="/images/rouge/aaro-pihlapuu-2048.jpg" />
    </a>
    <a href="/images/rouge/s-a-pihlapuu-1949-kross-2048.jpg" title="Simo Pihlapuu (vasakul) ja Heino Uibo 1949. a.">
      <img src="/images/rouge/s-a-pihlapuu-1949-kross-2048.jpg" />
    </a>
    <a
      href="/images/rouge/s_pihlapuu_surnud.jpg"
      title="Tapetud Simo Pihlapuu 23.09.1949. Põiki asetsevad toikad kuulusid metsavendade varustusse sügisel kõrgest heinast ja põõsastelt vee maha ajamiseks."
    >
      <img src="/images/rouge/s_pihlapuu_surnud.jpg" />
    </a>
    <a href="/images/rouge/s_pihlapuu_relvad.jpg" title="Tapetud Simo Pihlapuu relvad ja esemed.">
      <img src="/images/rouge/s_pihlapuu_relvad.jpg" />
    </a>
    <a
      href="/images/rouge/viitina_pasunakoor.jpg"
      title="Vasakult 1. rida: Jakob Kuklane (orkestri asutaja), Paul Kruus; August Kuklane (orkestri juht), Eduard Ait; Jaan Kirbits; Alfred Tiks. 2. rida: Vidrik Lepp; Arnold Kuklane, Juhan Tadrik; August Peterson, Aksel Kuklane (pärast 1949 metsas); Konstantin Troska."
    >
      <img src="/images/rouge/viitina_pasunakoor.jpg" />
    </a>
    <a href="/images/rouge/pulli_talu_kivi.jpg" title="Mälestuskivi Pulli talus 23.07.1949 hukkunutele Haki külas.">
      <img src="/images/rouge/pulli_talu_kivi.jpg" />
    </a>
  </div>
</div>