<div class="content">
  <div class="p">
  </div>
  <div class="p">
  </div>
  <h1>Nõukogudeaegsed kirjutised vs Auleid Toomsalu toimikud.</h1>

  <div class="p">
    Avalikkusele hakkasid esimesed kirjutised Eesti metsavendadest ilmuma alles 1960. aastate lõpus, pea viisteist
    aastat pärast metsavendade võitluse lõppu. Auleid Toomsaluga seotud üksikuid sündmusi ja inimesi on käsitlenud Malev
    Kits kirjutises „Haanjamaa monumendid“ ja Hans Salm järjejutus „Mõrv metsateel“.
    <br />
    Etteantud või omaksvõetud jäik propagandaraamistik on tuntav mõlemas kirjutises.
    <br />
    Mõlemad autorid on kirjutanud enda väitel arhiiviandmetele toetudes, seega pakkus huvi avaldatu vastavus või
    mittevastavus arhiivitoimikute andmetele.
  </div>
  <div class="p">
  </div>
  <h2>I „Haanjamaa Monumendid“ Malev Kits</h2>

  <img class="lg-single-image image_left p150" src="/images/rouge/haanjamaa_monumendid.jpg" />

  <div class="p">
    Esimene trükk ilmus 1967. a ajalehes „Noorte Hääl“, teine kirjastuses „Eesti Raamat“ 1968, kolmas, viimane, 1988. a
    „Noorte Hääles“.
  </div>

  <div class="p">
    Kirjutis püüab mõjuda lugeja tunnetele paisutatud sentimentaalsusega, mustates metsavendi ja nende abilisi
    väljamõeldiste pinnalt. Selgelt joonistuvad välja propagandarelvana kasutatavad väited ja rõhuasetused, mis pidid
    hävitama lugejal igasuguse tahtmise metsavendadele kaasa elada ja kaasa tunda. Need erinevates kirjutistes
    korratavad väited on alljärgnevalt ära toodud koos tsitaatidega Malev Kitse ja Hans Salmi kirjutistest. Võrdlus
    toimikuandmetega on lisatud selgitusena.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavend oli tööpõlgur</h3>

  <blockquote>
    Bandiitide grupikesi oli neil aegadel peaaegu igas vallas, nad olid erinevate tegutsemismaneeridega, kuid
    tööpõlgurid olid nad kõigepealt.
    <br />
    Muide, kõik need seiklused
    <i>(viidatakse Toomsalu deserteerumisele Saksa sõjaväest)</i>, kui neid nii sobib nimetada, olid teada tema
    koduvallas Viitinas, neid teadsid ka nõukogude võimuorganid ning talle andestati. Ela ja tööta ausalt. Kuid tema ei
    tahtnud ausalt elada ega töötada.
    <br />
    Auleid Toomsalugi jõudis paari aasta jooksul proovida mitut töökohta Aseris, Kohtla-Järvel ja Võrumaal. Aga talle ei
    meeldinud elada palgast ja ausast tööst. Talle meeldis juua, istuda puskaripudeli taga ja laulda „Es war ein
    Edelweiss...“ Tööks oli Auleid Toomsalu lodev.
  </blockquote>

  <div class="p">
    Toimiku andmeil oli metsaminek kõigi meeste, ka Auleid Toomsalu puhul, tingitud otsesest ideoloogilisest
    tagakiusamisest ja seetõttu üles kerkinud arreteerimisohust, mitte tööpõlgurlusest. Kõik metsavennad olid enne metsa
    asumist olnud tööl kas enda või teiste talupidajate taludes, veskites, laevadel või mujal. Mitmed olid koolis
    õpilased. Ka metsavennana töötati salaja taludes. Küll oli neile vastuvõetamatu nõukogulik korralagedus
    töökorralduses, mis muutis töötegemise mõttetuks ideologiseeritud kampaaniaks.
  </div>

  <h3>Propaganda väide: metsavend oli julm ja sadistlik</h3>

  <div class="p">
    Toomsalule on M. Kitse poolt omistatud tunnistus:
  </div>

  <blockquote>
    Peksime ja piinasime, aga ühtki sõna
    <i>(Laine Voldemar)</i>
    ei öelnud.
  </blockquote>

  <div class="p">
    See tunnistus on autori väljamõeldis. Toimiku materjalide andmetel Voldemar Lainet ei pekstud ega piinatud. Toomsalu
    nimetatud tunnistust andnud ei ole.
  </div>

  <blockquote>
    Auleid Toomsalu tulistas Rõuge komsorgile rinda ja alles siis läksid nad kahekesi ja murdsid tal sõrmeluud ning
    väänasid käed liigestest välja.
  </blockquote>

  <div class="p">
    Väidetud sadism on täielik väljamõeldis ja laim. Toimiku materjalides ei leidu märkigi sellest, et Õilme Tederi
    sõrmeluid oleks murtud või käsi liigestest välja väänatud. Seda ei ole kirjas ka kohapeal koostatud sündmuskoha
    ülevaates.
  </div>

  <blockquote>
    Auleid Toomsalu ei suutnud end siiski ohjeldada ja lajatas ohvrile püstolipäraga kuklasse. Löök oli nii tugev, et
    Lembit Labi kaotas teadvuse. „Doktor“ manitses: „Ole mõistlik, poiss, ole mõistlik, muidu jääme lõbust ilma.“ Nad
    sidusid ta käed ja jalad kinni ning lohistasid Sarapuu talust Edgar Kirbitsa tallu. Siin nad toibutasid ohvri
    teadvusele ja siis algas ülekuulamine – „lõbu“, nagu Valter Pallo oli öelnud.
    <br />
    Nad piinasid inimest 3 tundi. Seda ei saa kirjeldada. Sadismi ei saagi sõnadega edasi anda. Nad tegid Lembit Labi
    kallal kõike, mida oskasid ja õppinud olid. Bandiitide nürile jõhkrusele lisandus arstiaju koolitatud peen sadism.
    Lembit Labi oli teadvuseta. Siis vedasid nad poolsurnud, vaevu hingava inimese metsa äärde ja matsid maha. Pärast
    seda tegid suitsu ja jõid. Vilistasid ja jõid. Siis vaatas Valter Pallo kella ütles: „Nüüd haud uuesti lahti!“ Kui
    laip välja võeti, konstateeris „Doktor“: „Lõpp!“ Ja lisas: „Nüüd me siis teame ka seda, kui visa on kommunisti
    hing“.
  </blockquote>

  <div class="p">
    Kirjeldus on väljamõeldis, mis ei vasta toimikus toodule. Toomsalu ei löönud ohvrile kuklasse ei püstolipära ei
    millegi muuga, Labi ei kaotanud teadvust (püstolipäraga pähe löömine kinnivõtmisel oli omane tšekistidele, seda
    leidub mitmetes tunnistustes). Mingile lõbule ei ole toimiku materjalides kordagi osutatud. Labi jalgu ei seotud
    kinni ja teda ei veetud kuhugi, vaid ta juhiti püstolitoru ees Edgar Kirbitsa tallu, toibutamist ta ei vajanud. Labi
    vale peale, et ta pole metsavendadele midagi halba teinud, lõi Toomsalu Labit kui surma toonud äraandjat kahel
    korral vemblaga, kui vemmal murdus, siis kolm korda käega näkku. Mingit vihjatud „peent sadismi“ selle kõrval ei ole
    toimunud arsti ega teiste poolt. Metsa äärde läks Labi pärast küsitlemist ja kohtupidamist omal jalal. Seal poodi ta
    puu otsa, mitte ei maetud elusalt. Samaaegsest naermisest ega joomisest pole toimikus juttu. Pallo pole käskinud
    hauda lahti kaevata (isegi autori fantaasiamängudes ilmne mõttetus, ajada hauda korduvalt lahti-kinni) ega rääkinud
    sõnagi kommunisti hingest. Pallo kui arst konstateeris u 15 min pärast poomist surma ja surnu maeti maha. Labit ei
    maetud elusalt, Labi üle kohtumõistmisel seda ka ei kaalutud. Küll on toimikutest näha, et ülekuulaja on suunatud
    küsimustega
  </div>

  <div class="quote">
    Te matsite ta elusalt, miks te sellest ei räägi?
  </div>

  <div class="p">
    püüdnud algul panna ülekuulatuid just seda versiooni omaks võtma, kuid kõik on kinnitanud, et Labi poodi ja maeti
    surnuna. Samuti on ülekuulaja püüdnud panna tunnistajaid omaks võtma Labi käsipidi laetala külge riputamist, milline
    süüdistus vajus ülekuulamiste edenedes ära.
  </div>

  <blockquote>
    Ja küllap fašistlike koonduslaagrite vangide kallal toimepandud aastatepikkused „teaduslikud ja psühholoogilised“
    katsed olid jõudnud kuidagi ka Võrumaa bandiitideni.
  </blockquote>

  <div class="p">
    Ei koonduslaagritest ega katsetest pole ülekuulamistoimikutes sõnagi. Ei leidu oletusi, rääkimata tõenditest,
    mingitest fašistlike kooduslaagrite „teaduslike ja psühholoogiliste katsete“ mõju kohta metsavendade tegevuses.
  </div>

  <blockquote>
    Bandiidil pole veendumusi, tal pole rahvust ega kodumaatunnet. Bandiit on kiskja.
  </blockquote>

  <div class="p">
    Kõigist toimikumaterjalidest ilmneb risti vastupidine, mehed on süüdi mõistetud eestlastena oma kodumaa iseseisvuse
    eest võitlemise pärast kui „kodanlik-natsionalistid“. Metsavennad lugesid end jätkuvalt Eesti Vabariigi kodanikeks,
    kuid riigi annekteerimise järel mõisteti nad süüdi naaberriigis Vene NFSVS-s vastu võetud kriminaalkoodeksi alusel
    kui NSVL kodanikud, ja sugugi mitte „kiskjatest kriminaalidena", vaid „nõukogude riigi reeturitena“.
    <br />
    Kumab läbi autori eesmärk näidata metsavendade vastupanu ehk nn poliitilist banditismi kriminaalse banditismina,
    ehkki tegelikkuses käsitlesid julgeolekuorganid poliitilisi juhtumeid kriminaalsetest lahus. Juba 1946. a, so
    metsavendluse tippajal, kehtestati EKP KK büroo otsusega (alla kirjutanud EKP KK büroo II sekretär S. Sazonov)
    metsavendade diskrediteerimise nõue. See nägi ette nende esitamist avalikkusele kriminaalidena, mitte poliitiliste
    eesmärkide nimel (võitlus kommunismi vastu) võitlejatena. Aastakümneid pärast metsavendluse lõppu söandati taas
    möönda metsavendade poliitilisi motiive, omistades need eelnevalt diskrediteeritud "kriminaalidele".
    <br />
    Sõjatribunali otsus Auleid Toomsalu ja Valter Pallo kohta tunnistab:
  </div>

  <div class="quote">
    süüdi Nõukogude kodumaa reetmises, mis väljendub teenimises Saksa fašistlikus armees ja aktiivses osavõtus
    kodanlik-natsionalistlikust relvastatud terrorirühmitusest, mis pani toime terroriakte nõukogude sõjaväelaste ja
    kodanike vastu, nõukogudevastase agitatsiooni toimepanemises kodanikkonna hulgas, riigi ühistute ja kooperatiivide
    vara riisumises ja röövellikes kallaletungides, millega kaasnes eluohtlik vägivald nõukogude kodanike elule ja
    tervisele
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavennaks jäid sõja järel metsa vaid nn „veresüüga“, SS-ga seotud tapahimulised inimesed,
    teised legaliseerusid</h3>

  <blockquote>
    Teatavasti oli pärast sõda peale bandiitide metsas ka keskmiktalupoegi, kes hoidsid end mobilisatsioonist kõrvale.
    Neil lubati metsast välja tulla. Nõukogude võim andis neile amnestia. Nad tulidki. Kõige julmemad muidugi jäid.
  </blockquote>

  <div class="p">
    Nõukogude võim ei kuulutanud välja ühtegi seaduse või seadlusena vormistatud amnestiat metsavendadele. Seda asendas
    legaliseerumine partei otsuse alusel, et keelitada mehi metsast välja tulema ja oma relvi loovutama. Vastupidiselt
    lubatule ei kindlustanud legaliseerumine kellelegi vabadust, osa legaliseerunutest arreteeriti hiljem.
    <br />
    Toomsalu salga 10-st mehest oli vaid 1 olnud metsas sõja lõpust saadik, ülejäänud 9 olid metsa sunnitud aastaid
    pärast suure sõja lõppu, rahuaegse tsiviilisikute vangistamiste ja küüditamiste tõttu. 1949. a märtsiküüditamisele
    järgnenud aastatel moodustasid Võrumaa metsasolijaist suurima osa riiklike repressioonide, eriti küüditamise eest
    peitunud inimesed. Samuti põgeneti metsa tšekistide julmuste ja reetjaks värbamise sunni eest.
  </div>

  <blockquote>
    Neljakümnendate, viiekümnendate aastate bandiit Võrumaa metsas (saanud üldhariduse kodanlikus koolis, üks vähem,
    teine rohkem, läbi immutatud kodanlikust natsionalismimürgist+“Kaitseliit“+Saksa sõjavägi, mis oli tapmise
    täiuslikuks tehniliseks kooliks,+fašistlik ideoloogia oli küllaltki komplitseeritud segu.
    <br />
    Tapmiskunsti saladustesse pühendati ta
    <i>(Toomsalu)</i>
    SS-väljaõppelaagris Tšehhoslovakkias.
  </blockquote>

  <div class="p">
    Autori ilmne siht on kleepida metsavendadele külge mingit Saksa fašismi ja SS silti. Selleks vaikib autor targu
    maha, et Toomsalu oli olnud ka Punaarmees, ta oli enne sõda töölisseltskonnas astunud isegi komsomoliks ja Saksa
    ajal selle eest 1,5 kuud vanglas istunud. Selle aastakäigu eesti meestest, kuhu kuulus Toomsalu, pidid paljud läbi
    tegema mobilisatsiooni mõlemasse okupatsiooniarmeesse: algul Saksa, hiljem rinde ülemineku järel omakorda Vene
    armeesse. Liit Paul, kes oli vabatahtlikuna teeninud Politseipataljonis, sundvärvati rinde ülemineku järel samuti
    Punaarmeesse rindele.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavend oli lisaks tööpõlgurlusele ka joodiku kalduvusega (kontrastiks alati kaine, reipa ja
    eesrindlikuna kujutatud julgeolekutöötajale)</h3>

  <blockquote>
    Aga talle
    <i>(Toomsalule)</i>
    ei meeldinud elada palgast ja ausast tööst. Talle meeldis juua, istuda puskaripudeli taga ning laulda: „Es war ein
    Edelweiss...
  </blockquote>

  <div class="p">
    Puskar ja muu alkohol oli painajalikes oludes kindlasti üks pingest vabastav vahend, puskarit aeti ja joodi Eestis
    sõjajärgsel ajal rohkem kui iial varem või hiljem. Samas ei ole mõeldav, et terve hulk end aastate kaupa vaid
    paarikümnel ruutkilomeetril varjanud tagaaetavaid saanuks endale lubada pidevat purjutamist, kinnikukkumine oleks
    olnud kiire. Samuti võiks purjakil pea puhul oletada metsavendade kontrollimatut käitumist või relvakasutust, mille
    kohta ei leidu toimikuis ühtegi märget. Küll leidub seal andmeid julgeolekutöötajate ja hävituspataljonlaste
    purjuspäi sooritatu kohta.
    <br />
    Anisimov:
  </div>

  <div class="quote">
    Esineb partei- ja teenistusdistsipliini rikkumise juhtumeid ka parteibüroo liikmete endi hulgas, näiteks sm Zbrodovi
    ja Mihaljovi juures. Märkuse purjutamises on saanud ka parteiorganisatsiooni sekretär sm Dementjev. Hiljuti sai
    teatavaks fakt, et novembris 1948 viibis Dementjev restoranis ja läks seal vaidlema operatiivtöötaja Martihhiniga.
    Mõlemad olid purjus, ja Dementjev tulistas Martihhini pihta püstolist 2 lasku, mis õnneks ei vigastanud Martihhinit
    ega ühtegi restoranikülastajat.
  </div>

  <div class="p">
    Rõuge valla partorg Teplenkov esitas salajase ettekande Rõuge julgeoleku operatiivpunkti ülema kohta:
  </div>

  <div class="quote">
    Rõuge julgeolekupunktis Vänter küll töötab nagu näha korralikult ja ei ole avalikes kohtades kunagi olnud purjus aga
    uus operpunkti ülem Andoonov
    <i>(Antonov)</i>
    ühes oma abikaasaga võtavad kõvasti viina. Nii olid 6. juunil tuletõrje võistlused õhtul ja seal oli ka Andoonov ja
    Rõugesse komandeeritud üks major aga seda saate julgeoleku ülema käest teada kui tarvis või saan ma veel ise kuidagi
    teada. Tulid kooperatiivi ja nõudsid muudkui viina kui oli juba rohkem joobnud siis peksis rusikaid vastu lauda ja
    kärkis et davai ja davai. Pärast läksid muidugi ära kui kooperatiivi juhataja oli annud niipalju kui tahtsid ja
    läksid paadiga sõidma kuigi kooperatiivi juht keelas et olete purjus ja kukute sisse ütlesid ainult et lähme jah.
    Läksid sõitma ja kukkusid järve õnneks kedagi ära ei uppunud kuid üks nendest olevat mütsi sinna sisse jätnud. Ja
    öösi kella 04 aegu tuli Antoonovi abikaasa ja tahtis jällegi viina. Kaupluse juhataja Joakiti abikaasa ütles et
    Joakit on purjus ja selle valega sai tast lahti. Ültse on rahva seas Antoonovi kohta ja eriti tema abikaasa suhtes
    niisuke jutt et on küll need
    <i>(alles)</i>
    ametnikud.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavend oli arg ja alatu</h3>

  <blockquote>
    Õilme Teder tapeti koduõues kaevu ääres. Bandiidid valisid hetke, mil tüdrukul olid veeämbrid käe otsas, sest nad
    kartsid, et tulistab vastu. Kartsid! Kas kujutate ette hirmu metslaste südameis tavalise tütarlapse ees?
  </blockquote>

  <div class="p">
    Kirjeldus on väljamõeldud vale. Õilme Tederit ei lastud maha tema koduõues kaevu ääres, vaid köögis Jaanipeebul ühes
    majas, kus ta asus korteris. Õilme Teder ei olnud Rõuge vallas väikekohapidaja, nagu autor väidab, vaid suunati
    Krabilt sinna komsorgiks. Jaanipeebult oli Teder lasknud Venemaale küüditada Jakob Küti lese koos lastega ja kolis
    ise sisse nende koju, kuna see asus vaid u 50m kaugusel relvastatud valvega täitevkomitee hoonest.
    <br />
    Mingeid veeämbreid Õilme Tederil käe otsas ei olnud.
  </div>

  <blockquote>
    Oma mälestuskangast sõrmitses ta iseendas. Ta oli üks neist, kes Õilme Tetre 1949. aasta 5. mai õhtul kodukaevu
    ääres tapetuna nägi (...) Tema nimi oli Heino Ploom.
  </blockquote>

  <div class="p">
    Eelmisele valele veenvuse lisamiseks on autor pealtnägijaks valetanud komnoore Heino Ploomi, keda polnud üldse
    sündmuskohal ja kes ei saanud kuidagi Tederit kodu(?!)kaevu ääres tapetuna näha, sest sündmus toimus mujal.
  </div>

  <blockquote>
    Lembit Labi oli Sarapuu tallu tulnud mingi teatega. Toomsalu küsis: „Kas ta on üksinda? Ega tal järsku relva ole?“
    „Paistab, et ei ole,“ vastati. Nüüd läksid nad julgeks. Valter Pallo silmis süttis too sadistlik tuluke, mida
    kaaslased olid harjunud nägema siis, kui „Doktoril“ sünnib mingi idee. „Mitte tappa, mitte mingil juhul tappa,“
    sosistas ta. Nad hüppasid kolmekesi tagant Lembit Labi peale.
  </blockquote>

  <div class="p">
    Valelik fantaasia, millele toimikuandmetes mingit katet ei leidu. Lembit Labi tuli Sarapuu juurde raha (maha müüdud
    hobuse eest) ja asjade järele, Toomsalu ei huvitunud ei ta relvast ega üksiolekust. Valter Pallole ei ole
    uurimistoimikutes omistatud mitte ühtegi sadismile viitavat episoodi. Pallo (tõenäoselt kui endine
    meditsiiniohvitser ja mittekohalikuna erapooletuim) valiti Labi juhtumil välikohtu pidamisel kohtunikuks (samas
    valiti Labile ka süüdistaja ja kaitsja), kuna ülejäänud olid süüaluse Labiga ühe- või naaberküla poisid.
    <br />
    Keegi ei hüpanud Labile peale, kinnivõtmise hoopis teistsugune kirjeldus on toimikus olemas.
  </div>

  <blockquote>
    Ülekuulamisel püüdis Auleid Toomsalu, selle elajaliku teo üks juhte ning algatajaid, meeleheitlikult tõestada: „Mina
    teda elusalt ei matnud, mina olin selle vastu. „Doktori“ sõna jäi seekord peale."
  </blockquote>

  <div class="p">
    Alatu vale algusest lõpuni. Elusalt matmise tunnistust ei leidu üheski toimikus, ehkki ülekuulaja on teinud katse
    sellele panustada. Auleid Toomsalu ei ole püüdnud süüdistusi Pallo kaela ajada, Valter Pallo ei ole elusalt matmise
    soovi kordagi ega kusagil väljendanud ja seda ei toimunud.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavend täitis kulaku käsku</h3>

  <blockquote>
    Kuid kulakule polnud tarvis teeröövleid või kauplusevargaid. Eelkõige vajas ta ikkagi tapjaid. Salgajuhile sosistas
    kulak: “Anna poisile mõni ülesanne. Pane proovi pääle.“
    <br />
    Kulak vormistas enamasti tapmiskäsud.
  </blockquote>

  <div class="p">
    Julgeks väita, et metsavennad olid suveräänid ja tegutsesid üksnes oma paremal äranägemisel, mitte ei täitnud
    kellegi käske. Vormistatud käske pole toimikuis kohanud.
    <br />
    Autor noppis teema üles tõenäoliselt ühest esmasest ülekuulamisprotokollist, kus ülekuulaja on Toomsalule omistanud
    ütluse:
  </div>

  <div class="quote">
    Kõik nad
    <i>(so Kirbits Oskar, Kuklane Nikolai ja Kuklane Olga)</i>
    ja nende pereliikmed tegid ettepaneku Laine Voldemar tappa. Nende ettepanekul mina, Virk Herbert ja Kirbits Kalju
    otsustasime Laine Voldemari tappa.
  </div>

  <div class="p">
    Paraku tuleb seda pidada ülekuulaja poolt omavoliliselt lisatud tunnistuseks, kuna Toomsalu hilisematel
    ülekuulamistel ja ka sõjatribunalis ei ole nimetatud „kulakuid“, rääkimata nende pereliikmetest (!), selles seoses
    enam esinenud ja teo motiivina on toodud hoopis komsomol Voldemar Laine ja metsavend Herbert Virki vahel varem
    tekkinud vastasseis (Voldemar Laine tulistas Herbert Virki).
    <br />
    Nn kulakuid (rõhutatult koos pereliikmetega, st koos laste ja vanuritega!) on püütud kunstlikult teha tapmiste
    initsiaatoriteks, et õigustada tervete perede küüditamist ja nende elude hävitamist, koondnimetuse all „kulakluse
    kui klassi likvideerimine“.
  </div>

  <blockquote>
    Need olid 3 bandiiti – Kalju Kirbits, Auleid Toomsalu ja Herbert Virk – ning kolm käsuandjat – Olga Kuklane, Oskar
    Kirbits ja Nikolai Kuklane. Istuti Oskar Kirbitsa talu köögis suure söögilaua taga.
    <br />
    Too, kes juttu alustas, oli naine. Too oli Olga Kuklane: „Tuu Laine Volli om nii suur punane, et tema kuluss küll
    õkva maha lüvva. Ma ei tiia, mis ma tolle iist õkva ära anass...“
  </blockquote>

  <div class="p">
    Olga Kuklasele on suhu pandud väljamõeldud sõnad ja väljamõeldis on kogu arutelu teemal, kes peaks täideviija olema.
    Küll on Olga Kuklane hoiatanud metsavendi Voldemar Laine kui komsomolist jälitaja eest, kes võib nad üles anda.
    Metsavendadel ei olnud teadaolevalt käsuandjaid mujalt ega käsuliine omavahel.
  </div>

  <blockquote>
    Peremees pani pudeli lauale ja tutvustas Kalju Kirbitsat. Ta ütles silmade särades, et see on alles mees, keda kõik
    punased kardavad ja kes oskab kõigil kommunistidel elu põrguks teha. Kalju Kirbits oli Viitina vallas läinud metsa
    koos venna Eduard Kirbitsa ja Herbert Virgiga. Neil olid relvad ning südameil juba veresüüd.“
  </blockquote>

  <div class="p">
    Kalju Kirbits oli Toomsalu onupoeg ja neid polnud vaja teineteisele tutvustada.
    <br />
    Kalju Kirbits ei olnud Eduard Kirbitsa vend ega läinud metsa koos Virkiga. Ühtegi tapmist enne metsa minemist neile
    omistatud ei ole. Leidub küll tunnistus, et Kirbits Eduard ja Kirbits Kalju koos teiste metsavendadega võtsid osa
    kallaletungist miilitsavolinik Noortootsile, kes korraldas metsameestele haaranguid.
  </div>

  <blockquote>
    Talt
    <i>(Toomsalult)</i>
    küsiti: „Miks sa just Tedre tapsid?“
    <br />
    Ta vastas: „Oleks võinud ka kedagi teist, aga öeldi, et just teda oleks vaja.“
  </blockquote>

  <div class="p">
    Sellist vastust ülekuulamistoimikutes ei leidu. Propagandistlik eesmärk näidata üht metsavenda valimatu käsutäitjast
    mõrtsukana on läbinähtav. Vastus sellele küsimusele on Toomsalu ülekuulamistoimikus täiesti olemas, iseasi kas
    ammendav, ja kõlab:
  </div>

  <div class="quote">
    Tapsin komsorg Tederi selle eest, et ta käis julgeolekus keelt kandmas selle kohta, et ma ühel peoõhtul olin laulnud
    keelatud (nõukogudevastaseid) laule. Sellega pani ta minu perekonna löögi alla. Hiljem kiusas Teder taga minu
    vanemaid – tegi neile takistusi kolhoosi astumisel, mu vanematelt hakati nõudma minu väljaandmist. Seetõttu kandsin
    ma Tederi peale viha.
  </div>

  <div class="p">
    Sarnast motiivi rõhutab ka Lembit Labi tunnistus:
  </div>

  <div class="quote">
    Küsimus: Miks te olete kindel, et komsorgi tappis just Toomsalu?
    <br />
    Vastus: Esiteks sellepärast, et Auleidi nimelisi Rõuges rohkem ei leidu, teiseks sellepärast, et Teder Õilmel oli
    Auleid Toomsalu vanematega halb läbisaamine ja nagu ma olen kohalikelt kuulnud, on Auleid Toomsalu juba ammu sellel
    pinnal komsorg Tederit ähvardanud.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: tšekistid ja kommunistid olid julged, eesrindlikud ja osavad, metsavennad arad, saamatud ja
    tigedad</h3>

  <div class="p">
    Tšekisti jutu ümberjutustus M. Kitse poolt:
  </div>

  <blockquote>
    Mul oli sel hommikul kaasas paar miilitsatöötajat. Läksime Papimäe tallu, see on Vastseliina kandis
    <i>(jääb tegelikult Ruusmäe ja Rõuge vahele)</i>. Meie küllaminek oli muidugi ootamatu. Noh, ja seal me siis ta
    tabasimegi. Ta oli pugenud voodi alla. Ma kergitasin tekiserva ja ütlesin: „Tule välja!“ Perenaine hakkas ulguma ja
    aegamööda ronis sängi alt välja villases kampsunis bandiit.
  </blockquote>

  <div class="p">
    Tšekist major Mägil oli äraandja teate peale Papimäele haarangule minnes kaasas mitte „paar miilitsatöötajat“, vaid
    kogu RJM operatiivgrupp, sõjalise rühma nr3205 poliitosakonna pataljoni ülema asetäitja Nazarov ja terve julgeoleku
    sõjaline üksus. Võru hävituspataljonlastest nimeliselt Püvi ja Kinsiko.
    <br />
    Aaro Pihlapuu päeviku märkmete järgi ei viibinud perenaine sel hetkel üldse majas, seal oli vaid perenaise tütar.
    Esialgu Toomsalut ei olevatki leitud ja mindud edasi, kuid üks sahtlitest väärisasju varastama jäänud
    julgeolekusõdur oli siiski märganud kedagi sängi all (või sängi otsa varjus) ja kutsunud sõdurid tagasi. Toomsalule
    olevat löödud püssikabaga näkku.
  </div>

  <div class="p">
    Tšekist (Mägi) tunnistab:
  </div>

  <blockquote>
    Tundsin teda fotode järgi ja eelmistel aastatel oli ta mul paaril korral peaaegu peos olnud. Kuidagi aga, näe,
    õnnestus tal kaduda.
  </blockquote>

  <div class="p">
    ENSV RJM 2-N osakonna ülem alampolkovnik A. Peregontsev ja ENSV RJM 2-N osakonna jaoskonnaülem major Vorobkalo
    möönsid oma salajastes ettekannetes, et vähemalt kahel korral oli Toomsalu salk reetmise läbi juhatatud kindlasse
    lõksu, kuid ometi pääsenud operatiivtöötajate käpardlikkuse tõttu.
  </div>

  <div class="p">
    Komsorg Õilme Tederi väidab Malev Kits hooplevat:
  </div>

  <blockquote>
    Mina neid ei pelga. Näe, siin um relv, mida ma alati üten kanna. Ma nii odavalt umma ello ei anna.
  </blockquote>

  <div class="p">
    Toimiku materjalide põhjal võib öelda vastupidist, kompleksides komsorg oli väga hirmul, sest tal puudus täielikult
    kohalike toetus. Seetõttu liikus ta rahva hulgas demonstratiivselt relvaga ringi. See „tavaline tütarlaps“ oli
    tõrjutud oma jämeda käitumise pärast, esitas repressiivorganitele pealekaebusi elanike kohta ja nõudeid nende
    arreteerimiseks.
  </div>

  <blockquote>
    Rahva esimene, spontaanne aplaus tol peoõhtul kuulus komsorgile, kelle etteastet kavas ei olnud.
  </blockquote>

  <div class="p">
    Autori väljamõeldis ja soovunelm, millele toimikuandmed ei anna alust.
  </div>

  <div class="br"></div>

  <h3>Propaganda väide: metsavennad tapsid hoolimatult kohalikke, samas kui julgeolek seisis kohalike kaitsel</h3>

  <blockquote>
    Kulak kasutas bandiiti kõige verisemaks arveteõienduseks rahva kallal.
    <br />
    Kuid rahva viha eest ei pääsenud ükski bandiit.
  </blockquote>

  <div class="p">
    Mitte kuskilt dokumentidest ei ilmne mingit rahva viha metsavendade vastu. Vastupidi, partorgid kurdavad
    ettekannetes, et rahvas aitab metsavendi ja ei anna neid välja. Ka julgeolekuosakonna ülema asetäitja Burakov G.G
    teatab:
  </div>

  <div class="quote">
    Metsavendadel on elanikkonna hulgas laialdased sidemed. Kohalikud elanikud mitte üksnes ei jäta neist
    julgeolekuorganitele teatamata, vaid varjavad metsavendi ja osutavad neile materjaalset abi, luues sellega
    metsavendadele soodsad olud varjamiseks.
  </div>

  <blockquote>
    Auleid Toomsalu hingel olid ka kooperatiivi juhataja Kaljuvee ja tšekist Vänter.
  </blockquote>

  <div class="p">
    Autor valetab teadlikult. Auleid Toomsalu ei viibinud nimetatud tulevahetuse ajal kaupluse läheduseski. Kaljuvee ja
    Vänter hukkusid Kalju Kirbitsa ja Simo Pihlapuu kuulist, kes katsid Virk Herbertit. Küll püüti eeluurimisel ja ka
    hilisemates propagandakirjutistes seostada omavahel võimalikult palju süüdistatavaid ja summeerida kõigi „süüd“
    kõigile korraga, isegi kui uurimise käigus oli eelnevalt täpselt eristatud, kes mida tegi.
  </div>

  <blockquote>
    Paljud Rõuge talud, maad ujutati verega üle.
    <br />
    Tapmised, tapmised, lausa lõputuna näiv rida.
    <i>(Viidatakse üksnes metsavendade tegudele)</i>
  </blockquote>

  <div class="p">
    Varjatud sõjas tuleks vaadelda mõlemat poolt. Toomsalu metsavendade poolt tapeti sihilikult üksnes need isikud (11
    inimest), kes kujutasid endast otsest ohtu kas metsavendade või paljudele põliselanike eludele: teati olevat nuhid
    (Labi, Valner), küüditajad (Teder, Koger, Viso), metsavendade vastu agressiivselt käitunud või relva keeranud isikud
    (Kaljuvee, Laine, Kasak, Kasakas) ja julgeolekutöötajad (Vänter, Sisas). Mittesihilikult sai surma Sisase
    elukaaslane.
    <br />
    Vaadata tuleks ka samaaegseid vägivaldseid inimkadusid, mille põhjustasid üle Vene piiri Eestisse valgunud nõukogude
    võimuesindajad koos kohalike kollaboratsionistidega. Julgeoleku sõjaväeliste üksuste poolt tapeti piirkonnas
    vähemalt 15 meest ja üks väikelaps, kelle laipu omastele välja ei antud (loetud on üksnes Toomsaluga lävinud
    metsameeste ring). Lisaks arvukatele arreteeritutele küüditati märtsis 1949 Venemaale vähemalt 232 põliselanikku,
    enamikus naised-lapsed (Toomsalu metsavendade tegutsemispiirkonnas Rõugest 81, Ruusmäelt 31, Haanjast 45 ja Varstust
    75 inimest, arvud võetud kohalike partorgide ettekannetest ja Hans Sissase „Meenutustest“). Toomsalu salga
    abistamises süüdistatuna kadus Venemaa vangilaagritesse omakorda vähemalt 47 elanikku, lisaks reetjaks värbamisele
    mitteallunud (Kuklane V, Pettai L) ning isegi värvatud informaatorid (Labi H, Pihlapuu R). Metsavendade võitlus elu
    ja surma peale käis nende vastu, kelle vägivalla tõttu kaotas metsavendade kodukant inimesi sadades.
  </div>

  <div class="p">
    „Haanjamaa monumente“ toimikumaterjalidega võrreldes on selge, et Malev Kits on kujundanud lugeja arusaama Auleid
    Toomsalust ja Viitina ümbruse metsavendadest teadlikult laimavaid valesid ja väljamõeldisi lisades. Metsavendadele
    ja nende toetajatele on tõe pähe poogitud külge ütlusi, mida nad pole öelnud ja tegusid, mida nad pole teinud, mida
    pole kirjas üheski uurimistoimikus või on need seal kirjas hoopis teistmoodi. Väljamõeldiste eesmärk oli eirata
    toimunud tegelikkust, kompromiteerida tapetuid ja õhutada viha metsavendade vastu.
  </div>

  <div class="p">
    Vihaõhutus ei jäänud kahjuks vaid paberile. Nende valedega nuuditati metsavendade sugulasi ja abilisi tegelikkusest
    vaikima, et säästa oma järeltulevat põlvkonda kogu sellest ülesklopitud vihkamisest.
    <br />
    Rõuge kandis mäletatakse, kuidas pioneerid pandi kangelasmärtriks kuulutatud Õilme Tederi hauale auvalvesse, kui
    sinna noortele propagandistlikke tõrvikutega rongkäike korraldati. Pärast luges pioneerijuht lastele ette lõike
    „Haanjamaa monumentidest“. Jõudes seal kirjeldatud Toomsalu tegudeni, pidas pioneerijuht Saare kandva pausi ja
    vaatas pikalt otsa lapsele, kes kandis Toomsalu nime. Kõigi pilgud pöördusid lapse poole, kes elas läbi süütunde ja
    kabuhirmu. Tüdruk, kes polnud metsavennaaegadel veel sündinudki, tehti psühhoterrori abil vastutavaks oma onu tehtud
    ja tegemata tegude eest, Malev Kitse väljamõeldud sadismi alusel. Võimupropaganda laimu all kannatasid ka „Haanjamaa
    monumentides“ nimeliselt ära toodud metsavendade abilised ja nende lapsed, kes olid tulnud tagasi kodumaale pärast
    pikki sundaastaid Siberis.
  </div>

  <div class="br"></div>
  <div class="p">
  </div>
  <h2>II Hans Salm „Mõrv metsateel“</h2>

  <img class="lg-single-image image_left p200" src="/images/rouge/morv_metsateel.jpg" />

  <div class="p">
    Ilmus järjejutuna väliseestlastele mõeldud ajalehes „Kodumaa“ 1985-1987. a.
  </div>

  <div class="p">
    Malev Kitse labaste lausvaledega võrreldes astub Hans Salm sammu tagasi dokumenditruuduse poole. Järjejuttu
    iseloomustab üksikasjalikkus paljudes pisiasjades, mis suunatakse propagandale vajalikku suunda lahmiv-liialdavate
    järelduste ja üldise mõnitava suhtumise abil. Tunda on ajastu kaanon, mis soosib küll ebamäärast viitamist nõukogude
    võimu „vigadele kollektiviseerimisel“ ja „vigadele kulakluse kui klassi likvideerimisel“, kuid väldib nimetamast
    otsest inimelude hävitamist, meelevaldset kodudest ilmajätmist ning Venemaale õigusteta vangiks saatmist, mille
    vastu metsavendade võitlus oli suunatud. Jättes sel viisil sujuvalt kõrvale kogu nõukogude võimu julmuse, omavoli ja
    ülekohtu kui metsavendade vastutegevuse põhipõhjuse, keskendub kirjutaja üksnes julgeoleku uurimistoimikutes
    leiduvate metsavendade tegude kajastamisele. Lähteallikaks on kirjutajal võõramaalasest ülekuulaja vaenulik tekst,
    mis igavikustab metsavendade tunnistused (sealhulgas ka välja pekstud ja omavoliliselt lisatud valetunnistused),
    kuid vaikib selleks kasutatud toorest julmusest. Tajutav on autori nauding metsavenna kui vaenlase kuju mõnitamisel,
    kelle kannatustes ta lustib.
    <br />
    Metsavennakuvandi loomisel on Hans Salm rakendatud sama eesmärgi ette kui Malev Kitski: hävitada metsavendade maine
    inimesena. Rõhuasetused ja väited on mõlemal autoril täpselt samad: väidetava metsavendade julmuse seos nende
    teenistusega Saksa relva –SS-s, sadism, joomine, alatus, argus, massiline tapmine, tööpõlgus jne. Samad on ka
    sellise kuvandi loomise võtted: eesmärki mitte toetava info mahavaikimine koos laimavate valede juurdemõtlemisega,
    mida saadab autori põlglik-üleolev toon.
  </div>

  <h3>Julmuse seostamine relva-SS-ga:</h3>

  <div class="p">
    Toomsalule julmust omistades seostab ka Hans Salm selle otse ja üksnes tema relva-SS-i minevikuga. See, et sama
    inimene oli 1941 noore töölisena jõudnud olla ka komsomol, kuulunud ÜLKNÜ-sse ja selle eest Saksa ajal 1,5 kuud
    vangis istunud ning hiljem kuulunud ka Punaarmeesse, ei sobitunud Hans Salmi propagandapilti ja ta eelistas sellest
    vaikida.
  </div>

  <h3>Väidetav sadism:</h3>

  <div class="p">
    Hans Salm lükkab ümber ühe Malev Kitse jaburatest väljamõeldistest, et Õilme Teder tapeti kodukaevu ääres, veeämbrid
    käes, kuid jätab ümber lükkamata palju mõjuvama vale - M. Kitse poolt metsavendadele selles episoodis omistatud
    sadismi. Metsavennad ei ole teinud vägivallategusid surija või surnuga, mida Malev Kits väitis (sõrmeluude murdmine
    ja liigeste välja väänamine).
    <br />
    Alusetu ja räige mustamine on pidev meelevaldne püüd seostada arst Valter Pallot vihjamisi julmuste ning Saksa
    koonduslaagri arstide inimkatsetega, seda nii Malev Kitsel kui Hans Salmil. Valter Pallo oli Saksa sõjaväes
    rindearst ja tal puudus üldse igasugune kokkupuude Saksa koonduslaagritega. Salmi huvi näib olevat luua lugejal
    mõtteline seos kurikuulsa doktor Josef Mengelega, kuuekümnendatel aastatel paljuräägitud, julmi inimkatseid läbi
    viinud Saksa koonduslaagri arstiga. Toimikutes kirjeldatud Pallo suhtumistes ja tegudes puuduvad paraku mistahes
    viited toorusele, sadismile või tundetuimusele.
  </div>

  <h3>Rõhutatav metsavendade purjutamine:</h3>

  <div class="p">
    Hans Salm esitab väljamõeldud tunnistuse metsavendade purjusoleku kohta:
  </div>

  <blockquote>
    5. mail oli ilus päikesepaisteline ilm. Olime „Jakobiga“ parasjagu puskarit joonud, tuju oli hea ja me otsustasime
    natuke jalutama minna.
  </blockquote>

  <div class="p">
    Toomsalu tunnistus Tederi juurde minekust:
  </div>

  <div class="quote">
    6. mail 1949 oli ilus ilm, otsustasime Pettaiga minna jalutama, võtsime kaasa automaadid ja veini ning suundusime
    Rõuge valda.
  </div>

  <div class="p">
    Tunnistuses ei ole sõnagi ei eelnevalt joodud rohkest puskarist ega heast tujust Tederi juurde minekul.
    <br />
    Vastandina sellele vaikib Hans Salm olematuks nii tapetud Vänteri taskust leitud viinapudeli, Sisase napsilembuse,
    kui teised julgeolekutöötajate väiksemad ja suuremad seosed alkoholiga.
  </div>

  <h3>Väidetav alatus:</h3>

  <div class="p">
    Põlastavalt tänitab Hans Salm Toomsalut oma kaaslaste alatuks ülesandjaks, soovides näidata teda innuka ja ara
    pugejana. Täiesti varjatuks jätab ta konteksti, milles inimolendit julgeolekuorganites murti – piiramatu piinamise.
    Toomsalu puhul ei ole tähtsusetu ka julgeolekutöötajate isiklik raev tema kui mehe vastu, kes neid korduvalt üle
    mängis. Fakt, et Toomsalu ülekuulamisel lõhki löödi ja temalt vajalik info kätte saadi, ei pruugi sellisel juhul
    näidata ei ülekuulatava innukust ega alatust, vaid et piinataluvusel on piirid.
    <br />
    Salm väidab, et Pallo võeti kinni Toomsalu näpunäidete alusel, mis ei ole tõsi. 1951 veebruaris kinni võetud
    Toomsalu nägi Pallot viimati 1949. a keskel ja ei teadnud tema edasisi käike ega varjamispaiku. Pallo arreteeriti
    1951. a mais hoopis Antsla lähedal.
  </div>

  <blockquote>
    Ei tea, kas oleks tragöödia Kangiste kaupluses lõppenud ainult Leon Kaljuvee mõrvamise ja kaupluse rüüstamisega.
    Mäletate, „Kusta“ küsis Heino Kaljuvee käest venna Ülo järele?
  </blockquote>

  <div class="p">
    Salm üritab selle retoorilise küsimusega jätta muljet, nagu võinuks metsavendadel olla kihk tappa asjasse
    puutumatuid sugulasi. Toimiku kirjelduse järgi oli metsavendadel majas viibivate isikute tapmiseks nii aega kui
    võimalust, kuid seda ei tehtud. Toimikus on juttu vaid kavatsusest röövida kauplust, Kaljuvee ja Vänteri tapmisegi
    põhjustas üksnes nende ootamatu ilmumine sündmuspaigale ja haaramine relva järele.
  </div>

  <h3>Väidetav metsavendade argus:</h3>

  <blockquote>
    Jalga haavata saanud „Vana Jüri“
    <i>(Simo Pihlapuu)</i>
    jäeti aga argpükstest kaaslaste poolt häbematult maanteele maha.
  </blockquote>

  <div class="p">
    <br />„Vana-Jüri“ ehk Simo Pihlapuud ei jätnud ta kaaslased maanteele maha, see on väljamõeldis. Saatuslik ja
    arusaamatu eraldumine tekkis metsa taandumisel, tee pealt olid kõik lahkunud. Pihlapuu kokkupõrge teda jälitava
    julgeolekuüksusega toimus teest (mis oli külatanum, mitte maantee) 1km kaugusel. Pihlapuu surnuks tulistajaks ei
    olnud miilitsa teenistuskoera juht, vaid julgeolekuseersandist koeraajaja.
  </div>

  <div class="p">
    Ka Pallo viimane sõna kohtus on Salmil tahtlikult või tahtmatult moonutatud. Pallo ei nuta taga mingit "valesti
    elatud elu", vaid tõdeb lihtsalt muude valikute puudumist metsamineku hetkel. Surma ei tundu ta paluvat karistuseks
    metsavennaelu eest, vaid kogemuse ja sügava veendumuse tõttu, et kommunistliku korraga käib kaasas tohutu inimsuse
    häving. Pallo lõppsõna kohtus kõlab Salmi sõnul:
  </div>

  <blockquote>
    Kõrge kohus! Minu elu on ummikusse jooksnud. Minust sai bandiit ja ma palun ennast karistada kui bandiiti. Mõistke
    mind surma!
  </blockquote>

  <div class="p">
    Pallo tunnistus sõna-sõnalt on järgmine:
  </div>

  <div class="quote">
    Olin sattunud väljapääsmatusse olukorda ja hakkasin metsavennaks. Palun kohtul kuulutada mulle välja surmaotsus.
  </div>

  <h3>Väidetav tšekisti kindlakäeline tegutsemine:</h3>

  <div class="p">
    Ülo Kaljuveele Hans Salmi poolt omistatud tunnistus:
  </div>

  <blockquote>
    Samas kõlas lask, millele Kaljuvee vastas oma taskurelvast. Hakkas tulistama ka mees, kes oli Kaljuveega kaasas.
    <br />
    Suurest kaupluse aknast oli hästi näha, kuidas köögist jooksis võõras mees õue. Isa ja tema kaaslane tulistasid läbi
    akna mehele järele.
  </blockquote>

  <div class="p">
    Heino Kaljuveele omistatud tunnistus:
  </div>

  <blockquote>
    Isa haaras vöö vahelt revolvri ja lõi ukse kinni. Enne jõudsin isa juurde poodi lipsata. Võõras tulistas isa, tema
    vastas samaga.
    <br />
    Kaljuveel oli käes Nagaan, Vänteri kõrval tema kassetita püstol TT. Tegelikult hakkas ta tühjaks lastud kassetti
    täie vastu vahetama, kui selja tagant lastuna tabas esimene vaenlase kuul.
  </blockquote>

  <div class="p">
    Vastupidiselt Salmi kirjapandule ei leidu toimikus tunnistust ei Ülolt ega Heinolt, et Vänter oleks üldse jõudnud
    tulistada. Lihtsalt Pihlapuu ja Kirbits tegutsesid kiiremini. Heino vastus uurija küsimusele, kas Vänter jõudis
    tulistada, on
  </div>

  <div class="quote">
    Ma ei näinud.
  </div>

  <div class="p">
    Ülo vastus:
  </div>

  <div class="quote">
    Mida tegi Vänter, kui mu isa pihta tehti esimene lask, seda ma ei märganud, samuti ei märganud ma tal relva, sest ma
    jooksin kiiresti välja.
  </div>

  <div class="p">
    Väljavõte sündmuskoha ülevaatusest:
  </div>

  <div class="quote">
    Vänteri püstol lebas ilma salveta, 8 padruniline salv kõrval lebas püstolist eemal. Peale selle leidus Vänteril
    taskus 0,33l pudel 40% viina. Edasi on põrandal üks väljatulistatud hülss püstol TT-st ja teine 9mm kaliibrist.
  </div>

  <div class="p">
    Salm rõhutab pidevalt, et Kaljuvee ja Vänter lasti maha selja tagant (mis pidi näitama laskja argust). Surnute
    ülevaatuse järgi on aga surmavad lasud lastud mõlemale paremalt küljelt.
  </div>

  <h3>Väidetav paljude kohalike külaelanike tapmine raskeis relvis metsavendade poolt:</h3>

  <div class="p">
    Kangstist lahkuvaid metsavendi kirjeldab Salm:
  </div>

  <blockquote>
    kuus hambuni relvastatud võsavenda, kelle kontos üle tosina külainimese tapmise, relvastatud röövimistest rääkimata
  </blockquote>

  <div class="p">
    Tegemist on autori teadliku liialdamisega. Kangstist lahkuvaid metsavendi oli 3 mitte 6 (Kalju Kirbits, Simo
    Pihlapuu ja Herbert Virk), nende relvadeks oli uurimistoimikute andmeil kolme peale 2 püstolit ja üks automaat.
    Tapmisi oli nende arvel (selleks ajaks, so1948. a novembriks Kangstis) mitte „üle tosina“, vaid üks (1) külainimene
    - komnoor Voldemar Laine, kes oli tulistanud Herbert Virki. Tahtmise korral annaks nende kontole liita ka juttude
    järgi rinde ülemineku järel 1944 Simo Pihlapuu poolt maha lastud vene sõjaväelase (olukorra kirjeldus leidub Simo
    Pihlapuu päevikus „Pihlapuude võitlus“, Hotpress 2009) ja 1945. a metsavendade poolt maha lastud mittekohaliku
    miilitsavoliniku Noortootsi. Hans Salm püüab luua muljet, et Toomsalu salga metsavennad tapsid kellessegi mitte
    puutuvaid rahumeelseid külainimesi, mida tegelikkuses ei ole toimunud.
  </div>

  <blockquote>
    Toomsalu, kel oli hingel kuus tapmist, üheksa kaupluseröövi ja hulgaliselt muid kuritegusid.
  </blockquote>

  <div class="p">
    Toomsalu arvel oli üldse kokku 2, mitte 6 tapmist (Õilme Teder ja Lembit Labi). Uurimistoimikute järgi on ta
    sündmuspaigal viibinud lisaks veel kolmel juhtumil, kuid teo toimepanijad olid seal teised: Voldemar Laine
    mahalaskmisel (Kalju Kirbits), Eduard Valneri mahalaskmisel (Heino Uibo), Eduard Sisase ja Aliide Vildo
    mahalaskmisel (Heino Uibo).
    <br />
    Kaupluseröövidest osavõtte tuleb Toomsalul kokku 4 mitte 9 (2 Luutsniku, 1 Haanja ja Kangsti).
  </div>

  <h3>Väidetav tööpõlgus:</h3>

  <div class="p">
    Metsavendade nõukogudevastasuse ja metsasoleku põhjuseks võltsib ka Hans Salm järjepidevalt nende tööpõlguse. Salm
    üritab näidata nõukogude korda metsavendade vastu ülimalt lahkena:
  </div>

  <blockquote>
    Ela ja tööta, kus tahad! Ela ja õilmitse!
  </blockquote>

  <div class="p">
    Ja metsavendade suhtumiseks näitab valiku
  </div>

  <blockquote>
    Ei tahtnud!
  </blockquote>

  <div class="p">
    Toimikuist nähtub, et metsa läksid inimesed vangistuse ja Venemaale orjaks saatmise eest. Metsamineku põhjust on
    küsitud kõigilt arreteeritutelt ja igaühe toimikus mustvalgel kirjas: selleks on nõukogude võimu vägivald,
    arreteerimised, tapmised ja küüditamised, Toomsalu nimetab lisaks ka nõmedaid ideoloogilisi nõudmisi.
    <br />
    Kirbits Henn (16a):
  </div>

  <div class="quote">
    nõukogude võimu vastu hakkasin võitlema sellepärast, et ei tahtnud, et mind saadetaks Eestist Siberisse
  </div>

  <h3>Tšekistide saavutuste suurendamine ja metsavendade õnnestumiste pisendamine:</h3>

  <blockquote>
    Järgmisel hommikul, kui varitsus talust ja talu ümbert maha võeti, hõikas Emilie, et õhk on puhas.
  </blockquote>

  <div class="p">
    Salm väldib vähimatki osutamist Julgeoleku möödalaskmistele. Vaatamata sellele, et varitsust ei võetud maha,
    õnnestus kolmel mehel end terve ööpäev peita läbi otsitud ja valvatavas Pulli talus ning sealt järgmise päeva lõuna
    paiku märkamatult lahkuda. Talu oli jäetud valve alla ka järgmiseks päevaks ja Emilie ei hõiganud midagi, sest oli
    koos ülejäänud pereliikmetega vahistatud ja viidud Võrru ülekuulamisele.
  </div>

  <blockquote>
    1950. aasta alguseks jäi suurima ja ohtlikuma bandena kirja ainult Jaan Rootsi oma.
  </blockquote>

  <div class="p">
    Salm järgib propaganda joont, mis püüdis igati pisendada metsavendade võitluse tegelikku ulatust ja jätta muljet, et
    Võrumaal saadi metsavendade vastupanust enam-vähem jagu juba 1949. a käigus. Andmed seda ei kinnita. Arutades 2.
    nov.1949 banditismist Võrumaal, kirjutab EK(b)P KK administratiivosakonna ülem Anisimov:
  </div>

  <div class="quote">
    Oma otsuses 25. augustist
    <i>(1949)</i>
    nõudis partei rajoonikomitee büroo RJM ja Siseministeeriumi osakonnaülematelt banditismi täielikku likvideerimist
    <i>(Võru)</i>
    maakonnas 1. novembriks
    <i>(1949)</i>. Samasugune otsus võeti vastu RJM maakonna osakonna kommunistide poolt oma parteikoosolekul 29.
    augustil. Ometi jätkavad banded enamvähem samal arvul, kui enne selle otsuse vastuvõtmist.
    <br />
    Maakonna territooriumil tegutseb praegu 10 relvastatud bandiidigruppi. Lisaks sellele varjab maakonna territooriumil
    arvestatav hulk väljasaatmise eest varjunud kulakuid, kelle täpset arvu RJM maakonnaosakonnal siiani pole.
  </div>

  <div class="p">
    Nimeliselt on ära toodud Randmaa, Toomsalu, Võhni, Jooti, Kõivu, Juksi, Heeska ja Rüütli metsavennagrupid. Karotamm
    teatab novembris 1949:
  </div>

  <div class="quote">
    Me ei ei saa taluda sellist olukorda, et vabariigi 10. aastapäevaks oleksid veel metsades bandiidid.
    Parteiorganisatsioonide ja kahe ministeeriumi ette on vaja panna ülesanne, et vabariigi 10. aastapäevaks oleks
    vabariik bandiitidest puhastatud. Seda on täiesti võimalik teha.
  </div>

  <div class="p">
    Paraku tuleb partei rajoonikomiteel ka 3 aastat hiljem taas tõdeda:
  </div>

  <div class="quote">
    Olukord võitluse osas banditismi vastu on tagajärgede poolest endiselt mitterahuldav.
  </div>

  <h3>Väide, et metsa olid jäänud vaid kurjad „veresüüga“ võitlejad, kuna mõistlikele anti võimalus legaliseeruda:</h3>

  <blockquote>
    Juhuslikud metsajooksjad ja väikesed okupatsiooniaegsed ametnikuhinged olid tänu valitsuse amnestiaseadusele metsast
    välja tulnud, vennatapust väsinud relvad maha pannud. Metsa oli jäänud korduvalt lastud, kaval, ettevaatlik ja julm
    vastane.
  </blockquote>

  <div class="p">
    Ühtegi amnestiaseadust metsaläinutele ei ole kunagi välja kuulutatud. EK(b)P KK administratiivosakonna ülem Anisimov
    tunnistab 1949. a:
  </div>

  <div class="quote">
    Lisaks sellele
    <i>(10-le bandiidigrupile)</i>
    varjab maakonna territooriumil arvestatav hulk väljasaatmise eest varjunud kulakuid, kelle täpset arvu RJM
    maakonnaosakonnal siiani pole.
  </div>

  <div class="p">
    Küüditamise eest varjudes oli metsavendadega ühinenud suur hulk sõjalise ettevalmistuseta taluinimesi, sh ka lapsi,
    kes kodudest lahkuma sunnitutena loeti illegaalideks. Lisaks partei seisukohale „bandiitide“ ehk metsavendade
    suhtes:
  </div>

  <div class="quote">
    bandiidid tuleb hävitada kõikvõimalike vahenditega (уничтожитъ любыми средствами)
  </div>

  <div class="p">
    avaldas kompartei ka seisukoha illegaalide suhtes:
  </div>

  <div class="quote">
    <i>(illegaale)</i>
    tuleb püüda ja kui nad alla ei anna, siis tappa.
  </div>

  <div class="p">
    Põgenikke püüdma ja tapma saatis riik Julgeoleku sõjaväelised üksused. Orjastamise eest peitunud tsiviilelanike
    tapmist korraldas nõukogude võim ka sel ajal, kui karistusseadustikus surmanuhtlus puudus (26. mai 1947-12.
    jaan.1950).
  </div>

  <div class="p">
    Eesmärk näidata metsavendi eranditult verejanuliste kurjategijatena sõnastati juba 1946. a 19. juunil EK(b)P KK
    büroo otsuses, millele eelnenud arutelul nõudis Sergei Sazonov (EK(b)P KK II sekretär, kes lisati Eesti juhtkonda
    Moskva poolt):
  </div>

  <div class="quote">
    On vaja näidata rahva ees, et bandiidid ei ole poliitiline grupp ning et neil mingeid ideid ei ole ja tegemist on
    mõrtsukate ja röövlitega. Praegu saavat mõned talupojad aru, et tegemist on poliitiliste võitlejatega kommunistide
    vastu.
  </div>

  <div class="p">
    Nii valetati Moskvast saadud käsu korras metsavennad avalikkuse ees poliitiliste eesmärkideta
    kriminaalkurjategijateks. Tegelikkuses aga eristasid julgeolekuorganid „poliitilist banditismi“ selgelt
    „kriminaalsest“. „Poliitiliste bandiitide“ ehk metsavendadega tegeles RJM (Riikliku Julgeoleku Ministeerium),
    kriminaalsete juhtumitega SM (Siseministeerium).
  </div>

  <h3>Võimude võitlust metsavendade vastu püüti avalikkusele hiljem esitada eestlaste omavahelise klassivõitlusena,
    millega tegeles kohalik miilits</h3>

  <div class="p">
    Venemaalt saabunute vägivalla organiseerimist Eesti elanikkonna vastu rahu ajal püüti esitada eestlaste endi
    vahelise (klassi)võitlusena. Hans Salmi kirjutises torkab silma, et välditud on julgeolekutöötajate venepäraste
    nimede väljakirjutamist, jättes need kas nimetamata (Vedernikov, Polunin, Stipura), asendades nimetähe (leitnant S.
    ehk Sarakejev) või varjunimega (Gavrilovi asemel gabrovlane) jne.
    <br />
    Hans Salm:
  </div>

  <blockquote>
    Verisele sündmuskohale Kangsti kaupluses saabusid Võru prokuratuuri uurija Pruuli, maakonna siseasjade osakonna
    kriminaaljälituse jaoskonnaülem nooremleitnant Palk ja Varstu valla parteiorganisatsiooni sekretär Kuus. Riiklikku
    julgeolekut esindas operatiivvolinik leitnant S., väike vilgas marilane, keda heatahtlikult „väikese mari rahva
    suureks pojaks“ nimetati.
  </blockquote>

  <div class="p">
    Uurimistoimikus on:
  </div>

  <div class="quote">
    Tunni aja möödudes saabusid sündmuspaigale RJM Võru rajooniosakonna vanem operatiivvolinik v ltn Polunin koos RJM
    vägede 260. polgu roodukomandöri, v ltn Stipuraga, RJM Võru rajooniosakonna operatiivvoliniku ltn Sarakejeviga, RJM
    Võru rajooniosakonna kriminaaljälituse ülema ltn Palkiga, Võru Prokuratuuri uurija Pruuli ja Varstu valla partorgi
    Kuusiga.
  </div>

  <div class="p">
    Nii Hans Salmi kui Malev Kitse kirjutistes on püüdlikult kõrvale vaadatud asjaolust, et tsiviilisikute püüdmiseks ja
    tapmiseks kasutas võim sõjaväelisi üksusi. Need julgeolekuüksused valetatakse miilitsaks või kasutatakse lihtsalt
    ebamäärast viitamist. Salm:
    <div>

      <blockquote>
        Vaevalt tund peale seda langeb ta ise Võru miilitsa teenistuskoerajuhi kuulist.
      </blockquote>

      <div class="p">
        Julgeoleku operatsiooniaktis nimetatakse koerajuhti RJM vägede nooremseersant Vedernikoviks.
        <br />
        M. Kitse tšekist:
      </div>

      <blockquote>
        Mul oli sel hommikul kaasas paar miilitsatöötajat.
      </blockquote>

      <div class="p">
        Oli hoopis RJM operatiivgrupp, sõjalise rühma nr3205 poliitosakonna pataljoni ülema asetäitja Nazarov ja terve
        sõjaline üksus koos hävituspataljonlastega.
        <br />
        Hans Salm on kasutanud julgeolekuüksustele viidates ähmaseid ümberütlemisi:
      </div>

      <blockquote>
        Mõni ime siis, et sünnipäevale sattusid ka kutsumata külalised.
        <br />
        Paar tundi hiljem hakkavad Emilie poole homset saunaminekut sättima ka ports pagunitega mehi.
        <br />
        Emilile tegi ründavale poolele selgeks, et ...
      </blockquote>

      <div class="p">
        Häguseid viiteid kasutab Hans Salm teisteski seostes:
      </div>

      <blockquote>
        Teine poistest tembeldati kulakuks ja tegi sundkorras sõidu sinna, kuhu nüüd vabatahtlikult tööle raske pääseda.
      </blockquote>

      <div class="p">
        Silmas peab autor Siberit ja tekitab mulje, et Gulagis polnud häda midagi, kui Siberisse aastakümneid hiljem
        vabatahtlikult mindi. Et toona viidi vangina, orjana äärmuslikesse oludesse, kus paljud hukkusid või kaotasid
        tervise, sellest autor vaikib.
      </div>

      <blockquote>
        Tänu tšekistide selgitustööle lööb 1949. a juulis „šaakalitest“ lahku veel üks mees. 22. juulil võtab ta osa
        ühisest metsavendade kokkutulekust ühel metsalagedal.
      </blockquote>

      <div class="p">
        Eufemism „tšekistide selgitustöö“ tähendab lähemal vaatlemisel vägivaldset väljapressimist, šantaaži, ka
        peksmist ja piinamist.
      </div>

      <blockquote>
        Kes oli „külakodanlus“ ja miks tuli teda „eksproprieerida“, seda saadakse tänapäeval teada ainult
        ajalooõpikuist. Aga vead, mida tehti kollektiviseerimisel ja kulakluse kui klassi likvideerimisel vanal
        Võrumaal, tuli kohati verega kinni maksta.
      </blockquote>

      <div class="p">
        Propaganda võõrterminitest kubisev sõnakasutus näitab soovi vältida võimalikku ülekohtu ja inimkannatuste
        tunnetamist.
      </div>

      <h3>Sihilik naeruvääristamine</h3>

      <div class="p">
        Suurt rõhku on Hans Salm pannud metsavendade kujutamisele naeruväärsena:
      </div>

      <blockquote>
        Kolm päeva öökis ja pesi, oksendas ning puhastas „Karli“ vedelast ja paksust läbiimbunud riideid taluperenaine
        Emilie P.
      </blockquote>

      <div class="p">
        Haarangul läbiotsimise ajal 1949. a veebruaris peitis Toomsalu end väidetavalt Kuklaste talus välipeldiku
        lampkasti ja pääses seeläbi eluga. Hans Salm ei saa olla niivõrd eluvõõras ja mitte teada, et veebruarikuine
        lampkasti sisu külmub kivikõvaks. Salmi liialdused pesemise ja öökimise kohta 3 päeva, millist tunnistust
        toimikus ei leidu, on teadlik ja madal nautlemine vastase seostamisel roojaga.
      </div>

      <blockquote>
        Üks hüppab elumaja aknast raamidega välja.
      </blockquote>

      <div class="p">
        Julgeoleku raportis on kirjas, et metsavennad purustasid akna enne sealtkaudu aeda hüppamist.
      </div>

      <blockquote>
        "Kapten“ ise saab kergelt haavata ja ta vaatab õuel ringi, kuhu seekord pugeda saaks. Berliini
        Sõja-Meditsiinikooli paberitega „Doktor“, bande „ülemkohtunik“ ja arst, jookseb kabuhirmus küüni alla.
      </blockquote>

      <div class="p">
        Metsavendadele proovib Salm meelevaldselt külge pookida naeruväärset argust, soovimata autorina süveneda
        paigalejääva vastuhaku arukusse. Üksikute meeste vastas seisis terve julgeolekusõjaväelaste üksus, mis sai
        vajadusel endale ka toetust tellida. Paigale kaitsesse jäämine tõi jõudude vahekorda arvestades kaasa vältimatu
        hukkumise, mistõttu reeglina on metsavennad proovinud vastutuld andes põgeneda ja piiramisest välja murda.
        Autorile meeldib esitada seda argusena. Mõnede metsavendade elusalt pääsemine haarangutest sütitas
        julgeolekutöötajates vaid julmust, mis väljendus piinamistes ja surnurüvetustes. Võimuvägivallale vastu hakanud
        noori mehi peeti vajalikuks sihilikult üle mustata veel isegi aastakümneid hiljem.
      </div>
      <div class="p">
      </div>
      <h3>Kokkuvõte</h3>
      <div class="p">
      </div>
      <div class="p">
        Malev Kitse ja Hans Salmi kirjutiste kohta saab pärast toimikumaterjalidega võrdlemist öelda, et need sisaldavad
        sihilikke valesid, väljamõeldisi ja moonutusi. Autorid on lähtunud arvestusest, et lugejal ei ole võimalust
        nende kirjapandut salastatud toimikuandmetega iseseisvalt võrrelda. Metsavendade maine määrimiseks ja nende
        võitluse motiivide moonutamiseks ei ole kumbki autor piirdunud üksnes ülekuulamismaterjalidega, vaid on esitanud
        faktide pähe omapoolseid laimavaid väljamõeldisi.
        <br />
        Metsavendlus kui rohujuure tasandil vastupanu võõrale võimule osutus sedavõrd mõjusaks ja kardetuks, et sellega
        tegeles riigivõimu kõrgeim tasand. Ka aastakümnete pärast ei andnud tapetud ja jäljetult maetud metsavennad
        tapjatele rahu. Surnutega võitlemiseks korrati ikka ja uuesti laimu ja valet. Laimamise näiteks võib lugeda ka
        nimetatud trükised.
      </div>

    </div>
  </div>
</div>