<div class="content">
  <h1>Simo Pihlapuu ülestähendused</h1>
  <p></p>
  <div class="p">
    Alljärgnevad Simo Pihlapuu märkmed metsavennaelu kohta leiti vihikutest, mis olid peidetud ühe talu pööningule liiva
    sisse. Vihikud sisaldavad ka metsaelule eelnenud aega, mida siin pole toodud. Kirjapilt on muutmata. Niiskusest
    loetamatuks muutunud tekstiosad on tähistatud
    <b>/.../</b>. Ümberkirjutamisel lisatud täpsustused on kaldkriipsude vahel kaldkirjas. Sisukord algselt puudub.
  </div>

  <hr />
  <hr />
  <div id="toc_container">
    <p class="toc_title">Sisukord</p>
    <ul class="toc_list">
      <li><a href="#rinde-uleminek">Rinde üleminek</a></li>
      <li><a href="#rinde-ulemineku-jarel">Rinde ülemineku järel</a></li>
      <li><a href="#kokkuporge-vene-luurajatega">Kokkupõrge vene luurajatega</a></li>
      <li><a href="#punkrilahing-5.nov.1945">Punkrilahing 5.nov.1945</a></li>
      <li><a href="#lant-latimaale">Lant Lätimaale</a></li>
      <li><a href="#haarang-varstu-vallas">Haarang Varstu vallas</a></li>
      <li><a href="#kokkuporge-latis">Kokkupõrge Lätis</a></li>
      <li><a href="#ruusmae-meeste-lahing-pillardi-juures">Ruusmäe meeste lahing Pillardi juures</a></li>
      <li><a href="#haarang-kuklase-kulas">Haarang Kuklase külas</a></li>

    </ul>
  </div>
  <hr />
  <div class="p">
    /.../
  </div>

  <h3>METSAMINEK 1944</h3>

  <h4 id="rinde-uleminek">Rinde üleminek</h4>

  <div class="p">
    Hüva, saatsin Akseli minema, see oli 6 või 7.da augusti paiku
    <i>/1944. a/</i>. Ise asusime metsa, kuhu viisime heinu külje alla ja magasime põõsastes. 10 paiku tuli Aaro
    ootamatult külla, tema oli sakslaste siinviibimise aegu ikka nende vaenuliselt häälestatud. Aaro ütles, et raadios
    olnud venelaste saates, et nemad, so. venelased, olla saavutanud lõuna pool Petseri linna 70 km laiuse sissemurru.
    Rääkis ka Vastseliina meestest, kes olla vabatahtlikena metsast redust välja tulnud, Võrru, ja ütelnud, et „nüüd
    olevat aeg välja astuda kodumaa kaitseks“. Selles oli ju omajagu õilsat patriotismi, kuid minus tekitas see vaid
    segaseid tundeid, oli vahest tunne, nagu oleksid olnud tõesti üks armetu redu. Aaro siiski meile midagi ei
    soovitanud, ega katsunud mingis suunas mõjutada, öeldes, et tehke päälegi nagu teile parem näib ja lahkus samal
    päeval. Lonkisime siis päeval metsas, ja arutasime olukorda. Ühest küljest ei olnud ju minul mõtet asuda venelaste
    rinde tagalasse, sest teadsin, et minul pole sealtpoolt mingit armu, küll aga Arturil, kel polnud mingit poliitilist
    minevikku. Nii oli minul mõeldud, et jään partisaniks seni, kui tuleb lahendus, sest mõtlesin, et on võimalik, et
    Saksamaa kapituleerub sel suvel anglosaksidele ja ühiselt asutakse hävitama kommunismi.
  </div>
  <div class="p">
    Et kommunism võiks jääda pikemaks ajaks tugevaks jõuks, seda ma ei uskunud. Võtsin metsast maaseest oma tuliuue
    püstolkuulipilduja välja, mis oli hästi pakitud ja vähimagi roostejäljeta ja seadsin selle laskekorda. Meil oli
    kavatsus punkrit ehitada ja sellejaoks varusime tööriistadega.
  </div>
  <div class="p">
    Ent paistis, et Saarlase metsas liigub rohkesti inimesi, siis läksime 12. VIII
    <i>/1944.a/</i>
    Roobi metsa, et sinna onni ehitada. Leidsimegi päris kena kohakese ja hakkasime onni tegema. Imelikul kombel, meile
    näis, hakkasid Saksa pommituslennukid lendama ida suunas, kostsid tugevad plahvatused, ja paistis, et mitte just
    väga kaugel. Laupäeval lõuna paiku läksin Vilde küüni juure, et tuua sealt magamisriideid, kui kuulsin ligidal
    metsas inimeste ja loomade hääli. Ligemale hiilides nägin, et olid tuttavad inimesed. Ühega sain kokku ja kuulsin,
    et venelased olla juba Heibri ja Matsi külas. Oli kummaline tunne. Viisin ka vennale selle uudise, nojah, ütlesime,
    meil oli ju arvestatud sellega, mis tulema peab, tulgu!
  </div>
  <h4>15.VII <i>/15.VIII.1944/</i></h4>
  <div class="p">
    Olles äsjavalminud okstest onnis, järsku kuulsime üsna ligidal püssi- ja kuulipilduja ägedat, lühikest tulistamist.
    Kuna meie onn metsas oli risttee ligidal sihitee ääres, siis pidasime seda mitte küllalt kindlaks, ja lahkusime
    kiiruga, ilma, et onnis oleks saand ühtegi ööd magada. Valisime siis kw. 124 loodepoolse nurga, lootes seal
    segamatult olla. Ent õhtupoole hakkas meie naabrusse kogunema tsiviilrahvast kogu oma rutuga kaasavõetud
    inventariga. Öösel lõin sõpradega kontakti ja saime süüa. Järgmisel päeval käisid ägedad tulistamised, sakslased
    olid asunud positsioonile Pärlijõe joonele, Sännast kuni Mikitani. Käisid õhulahingud. Me riietusime ümber, Artur
    tsiviilvormi ja mina Eesti sõjaväe vormi. Ka sakslastest hoidusime kõrvale, nägemata lahingute kestel mitte ainustki
    sakslast, ega hiljem ka venelast. Laup. öösel tuli äge äiksevihm, olime kuhja all, kuni külje all solisema hakkas.
    Öösel oli kuulda, kuidas nõukogude tankid veeresid Sänna-Lepistu suunas. Lootsime, et sõda läheb meist ruttu üle,
    kuid jäi stoppama meie nina ees. Teisipäeva õhtul juba käisid venelaste automaaturid metsas tsiviilelanike tule
    juures, ent alles neljapäeval võisid inimesed metsast kodudesse minna.
  </div>
  <div class="p">
    Vahepeal saime kuulda, et 4. päevane sõda oli nõudnud tsiviilelanikest mitmeid ohvreid. Ed. Simmul ja Ed. Liiv Matsi
    külast, ja perekond Puru’d, kes mõrvati punaarmeelaste poolt oma kodu ligidal põllukraavis. Perek. Purud olid tuntud
    muidu oma Saksavaenulise ja nõukogudesõbralikkuse poolest.
  </div>
  <div class="p">
    Mispärast venelased nad tapsid, ei ole täpselt teada; Purud ise oskasid hästi vene keelt. Tapetud oli ka Puru
    naiseema, 80 aastane, ja poeg, ca 12 aastane. See roim täitis minu jälestuse ja hirmuga. Tegelikult venelased
    katsusid jäledat mõrva veeretada sakslaste peale, ent kohalikud elanikud, isegi „roosad“, on veendunud selles, et
    seda tegid venelased. Metsnik Otto Puru ise oli toonud inimestele, J. Liivale sõna, et „hädaoht“ on möödas, sest
    „sakslased on läinud ja venelased sees“. Puru’del oli tublisti varandust, mida osalt hoidsid kodus, osalt oli
    jaotatud /.../ Kauksi perekonna kätte, kes asus naiseisa Kuslapuu juures. Võib-olla toimus mõrv ka röövi eesmärgil.
    Hiljem Joh. Kauksi talitas mõrvatud Puru varandusega oma äranägemise järgi, hoidudes punasest mobilisatsioonist,
    viis üht- teist miilitsameestele Hirv’ele ja Leis’ile meeleheaks, et need laseks rahus elada.
  </div>
  <div class="p">
    Neljapäeval, ca 17. aug, läksid rahvas kodudesse, ent öösel, kuuldes vankrikolinat, selgus, et vanemad olid tagasi
    põgenenud metsa; venelased tahtsid vägistada, tarvitades jõudu ja ähvardust, naabriperenaist ja ka minu vanematega
    toorelt käitunud. Meie kodu oli lagastatud ja paljaks varastatud; kõik, mis andis võtta, oli läind, sealhulgas 2
    raadiot (lõhutud), 3 siga, 1 lehm, 3 lammast, 20 kana ja toiduaineid, keedised, mesi, ja hea hulk, kummutitäis
    paremat pesu, jne. Muuseas olid venelased tühjendanud nisukoti keldrisse, ja terade peale musta teinud. Hiljem sai
    kuulda venelaste analoogilistest naljadest, mis nende arvates vist pidid olema väga teravmeelsed ja „kultuursed“,
    nagu nad oma eluavaldusi igal sammul toonitasid. Nii oli Sadras situtud rukkihakkide päävihkudesse ja need asetatud
    uuesti hakkidele otsa, kuskil oli koolimaja lakke loobitud inimeste mustust, viljasalved ja toidunõud olid tihti
    täissitutud jne. jne.
  </div>

  <h4 id="rinde-ulemineku-jarel">Rinde ülemineku järel</h4>
  <div class="p">
    Nagu mõeldud, nii jäime metsa. Alles, kui lahingud käisid, tegime ühel öösel „punkri“ meetrilistest halgudest,
    viisime heinad sisse ja nii oli mõnus ja soe lamada.
  </div>
  <div class="p">
    Korra toodi teade, et venelased kammivat metsa, mõned ratsanikud ka käisid ja paugutasid huupi, paar päeva oli
    siiski vaikne ja rahulik.
  </div>
  <div class="p">
    Ent siis, ühel hommikul, umb. 20.
    <i>/august 1944/</i>
    paiku, hakkas Hurda küla poolt tulema äge tulistamine kergerelvadest ja käsigranaatidest. Mis lahti? Mõtlesime, et
    mõni üksus sakslasi veel metsas pesitab. Vahtisin punkrisuust välja – laskmine tuli ligidale. Mõnekümne meetri peal
    plaksusid kuulid. Vend A. oli väga kahvatu, higi jooksis üle näo, ja minul olla jälle silmad tahtnud pealuust välja
    tungida. Kartsime, et jääme metsalahingu-jalgu. Lõpuks kostis meist juba mööda „urää“ ja siis vile, millejärele
    triangel lõppes. Saime aru, et see oli vaid õppus. Läksid päevad, ja kuna need õppused kestsid k. 10.00-18.00, siis
    hakkasid need närvidele käima. Ka toidu suhtes oli kehvavõitu – suitsurasv ja leib, mis taa/.../
  </div>
  <div class="p">
    Lõpuks tegid venelased märklauad samale kwartalile, kus olime. Otsustasime asukoha maha jätta ja otsida paremat.
    27.8. öösel tegime sääred – Luhasoo suunas. Mina olin teejuhiks. Oli õnnelik tunne, kui sai jällegi konte sirutada
    ja liigutada. Tasakesi me astusime, kotid seljas, mina ees ja vend järel. Reedesel päeval olime Mustajärve kaldal,
    sõime murakaid ja tundsime endid väga hästi, kõik oli vaikne. Siunasime endid, et kas me varem poleks võinud sinna
    minna! Soos olid tehtud „puusuurtükid“, tankitõrje suurt. ja kuulip. jne. Nende otstarve näis imelik, kas sõjaajal
    oldi tarvitatud mingit pettemanöövrit?
  </div>
  <div class="p">
    Päeva mõnusalt veetnud, läksime ööseks heinarua sisse magama. Hommikul ärgates silmasime Vanamõisa pool karja
    inimesi, raiumist ja venekeelset kõnet. Liikusime ruttu Peeltesoo suunas ja asusime ühte padrikusse. See päev siiski
    läks vaikselt. Öösel läksin üksinda kodu poole vaatama, nii tubakas kui toidupooline oli otsas. Tahtsin ka
    naabritallu sisse astuda, olin juba keldri taga, kui kuulsin väljas kahtlast köhimist ja jätsin õuele minemata.
    Selguski, et talus olid venelased. Läksin siis üle oru koju, astusin majja, mille uksed olid enamasti lahti,
    nagan-pistolit laskevalmis hoides. Maja oli õnneks tühi, kuid ma ei leidnud siiski, mida otsisin, kuigi ka pööningu
    kolistasin läbi. Kodu oli rüüstatud, ja hõbekuusk, mille kunagi istutasin, tüvest murtud. Et maanteel liikus
    venelaste patrull, siis tegin varsti minekut, võttes vaid tooreid tubakalehti kaasa.
  </div>
  <div class="p">
    Jõudsin õnnelikult sohu tagasi, heites puhkama. Pääle lõuna ärkasin. Varsti käis kauge suurtüki pauk ja siis kukkus
    kuul meist mitte kaugele sohu, nagu mütsus, sest lõhkemata. Ütlesin vennale, et laseme jalga. Vend täheldas, et
    minul olla jäänud hirm Kr.
    <i>/Krasnoje/</i>
    Selost saadik suurtükitule ees. Tuli teine kuul, mis lõhkes. Nüüd olid ka vennal „tuurid“, litsus Pillardi küla
    suunas ja jäime metsavahi lähedal sohu peatuma. Õhtul vend hankis toidupoolist ja tubakat ja mõningaid uudiseid.
    Sõime kõhu täis ja heitsime saralisse puhkama, tundes ennast hästi. Järgm. päeval nägime venelasi tulevat metsavahi
    poole. Liikusime tagasi sügavamale sohu. Ent pärast lõunat algas „kadrill“ - suurtükid tulistasid igalt poolt sohu,
    ja üks jalaväe rünnak tuli idast, teine läänest. Jäime justkui kahe tule vahele. Ka vihma tuli, oli räbal olla.
    Saime kuulda, et olla juba punane mobilisatsioon. Ütlesin vennale, et kuidas tema arvab, kas ta ei soovi metsaelu
    maha jätta, sest tal ju karta midagi poleks. Ent vend ütles, et jääme ühte, „meie saatus olgu üks“. Tehtud.
  </div>
  <div class="p">
    Pimeduses liikusime Simmeri heinaküüni poole, et seal süüa saada. Ka tööristad, saag, labidas, kirves olid meil,
    sest järgmisel päeval pidime hakkama Simmeri metsa või sinnakanti punkrit ehitama. Saime teada ka, et üks üksus,
    venelased, ca 30 meest, käivad ümbruskonnas nuuskimas. Et nad öösel ei tule, selles olime julged. Saavutasime küüni,
    sõime kõhud täis ja heitsime magama, et valgenedes sealt lahkuda. Vennal oli küll kogu aeg küünis magamise vastu,
    ent ütlesin, et kas nad paganad, nuuskurid, just täna öösel või hommikul peavad tulema, sest mõeldud oli, et see oli
    esimene ja viimane öö seal küünis. „Seletasime“ ka unenägusid; vend oli näinud unes, et tema müts, uus müts oli
    olnud roojastatud; see oli kukkunud tema käest maha; ta oli võtnud selle üles, kuid teised pole tahtnud astuda isegi
    selle kohapeale, kus müts oli lamanud.
  </div>
  <div class="p">
    Keegi tuttav naine, vana inimene oli näinud unes, et vend oli olnud mustas riides ja laulnud.
  </div>
  <div class="p">
    Ah ja; eelmine päev, olles Luhasoos, vend leidis kaelalt suure täi. Meie teada me juba hulgal ajal neid parasiite ei
    omanud. Hüva.
  </div>

  <h4 id="kokkuporge-vene-luurajatega">Kokkupõrge vene luurajatega</h4>
  <div class="p">
    Kesköö paiku uinusime mõnusasse unne soojades heintes. Ärkasime hommikul; sadas peent, tihedat vihma. Minu
    konepistol (MP) pandsin eelmisel õhtul seljakotti ja seljakotiga heintesse. 300 9mm Geco padrunit suka sees pistsin
    samuti heintesse. See öö oli ka esimene, kus mul relv ei olnud laskevalmis käepärast. Küüni ligidal oli kari. Tegime
    ühe suitsu ja ootasime, et vihm lakkaks. Simmeri talu pool oli kuulda koera haukumist. Sisimas tundsin pisut
    ebamugavust. Vihm lakkaski, ent kuna kari oli küüni juures, lamasime veel hetke vaikselt, „mõnuledes“ soojas pesas.
    Vend oli minust paar meetrit läve pool, mina kohe rööbiti tagumise seinaga. Järsku karjapoiss ütleb teisele: “Kolm
    venelast tuleb üle niidu.“ Kuulsime juba venekeelset tervitust. Kuulatasime hinge kinnipidades; minul oli juba hilja
    hakata relva otsima, mis öösel sai, nagu öeldud, pandud seljakotiga heintesse. Lootsime, et kui oleme vaikselt,
    venelased ehk lähevad mööda. Hetki pärast kuulsin juba nende juttu küüni juures. Tõmbasin käega endale heinu rinna
    ja näo peale, olles nii heintega enam-vähem kaetud. Järsku – venelane hüppas küüni lävele. Arvatavasti ta märkas
    midagi kahtlast, sest ta hüüdis. Me ei teinud häält. Venelane hüüdis uuesti. Hetke pärast Artur vastas: „Jaa“.
    Venelane tuli juure, arvatavasti otsis venda läbi, küsitles, mida see siin teeb. Vend vastas, et töötab. (Oli
    erariietuses). Kuid samas, ei tea, kas venelane leidis seljakoti (Saksa sõjaväe oma) või nagani, vist küsis, et mis
    see tähendab? Vend tõenäolikult vastas, et on põgenenud Saksa armeest. Kõneluse jooksul tundsin, et venna hääl
    ärevusest veidi värises, küllap minu pärast.
  </div>
  <div class="p">
    Venna küsitlemise lõpetanud, venelane võttis ühe puu, mis oli heinte pääl, ja paistis tavalise heinte kandepuuna,
    hakkas kõndima heintel ja puuga torkima ja kobama, tulles aegamisi minu poole. Kuulsin, kuidas teised venelased, kes
    olid Urva pool, hüüdsid, ent meie omad (3) vist vastasid, et oodaku. Tundsin, kuidas venelane ligines samm-sammult
    torkides ja kobades heinu. Mõtlesin, et olen nüüd läbi. Kuna venelane tahtis peaaegu minule komistada, astudes
    saapaninaga minu paremale käsivarrele, torkas ta mitu korda teibaga minu pää ja jalgade juure. Kartsin isegi, et ta
    lööb teibaotsaga näkku. Läbi heinte nägin, kuidas venelase konepisoli laad kõikus minu kohal. Siis astus paar sammu
    edasi; jäin avastamata! Kobades, kuni ring täis sai, lausus vennale: „Paidom“
    <i>/vene k. „lähme“/</i>. Kuulatasin hiirvaikselt, kuni hüppasid üle läve välja. Tundus imena, et ta mind ega minu
    seljakotti ei leidnud! Ka seljakoti leidmisel võis arvestada minu avastamist, sest kott asus pää juures heintes, ja
    kotis oli ju relv!
  </div>
  <a class="lg-single-image" href="/images/rouge/simo_pihlapuu_ulestahendused_skeem1.jpg">
    <img class="image_left p200" src="/images/rouge/simo_pihlapuu_ulestahendused_skeem1.jpg" />
  </a>
  <div class="p">
    Viivu pärast tõstsin pää heintest; nägin, kuidas venelased läksid vennaga üle niidu, olles juba ca 80m kaugusel.
  </div>
  <div class="p">
    Hakkasin kiiruga otsima oma asju. Leidsin seljakoti ruttu ja viisin selle läve juure. Otsisin ka nagan’i venna aseme
    juures, ent ei leidnud, küll aga tubaka-kimbu, mille peitsin põue. Viskasin ka pilgu palkide vahelt välja, kedagi ei
    näinud. Hakkasin otsima padruneid, mis suka sees öösel said pistetud heintesse, kuid ei leidnud ega leidnud.
  </div>
  <div class="p">
    Aega oli kulunud mõni minut. Järsku kuulen, venekeelne jutt ligineb, on juba üsna küüni juures. Kargasin seljakoti
    juure ja tõmbasin selle suu lahti. Õnneks oli koti nöör jooksvas sõlmes, ja nii sain avada koti väga ruttu. Kotist
    tõmbasin konepistoli välja, surusin kaseti alla – venelased olid juba küüni nurga juures – juba ilmusidki –
    vinnastasin kone, käib plõksatus, venelased vaatavad samal hetkel minu poole, kuid juba mina surun päästikule –
    ta-ta-ta-ta. Vägevalt kõlab valang, vast ainult 7-8 padrunit, veel vägevamalt karjusid venelased; kõik sündis
    silmapilgu jooksul. Venelased karjuvad, nagu ma veel pole kuulnud inimest karjuvat, pööreldes ise ringi. Paar
    sekundi pärast kukkus teine otseti kummuli, jäädes liikumata lebama, teisel oli parem käsi asetatud vastu suud, ja
    alumine näopool ning käsi nõretasid verest. Mees, venelane, ise vajus põlvili, ja konepüstol langes tema õlalt,
    vaadates ise minule üksisilmi otsa, vaikselt. Oma kone laskevalmis hoides kargasin juure ja võtsin venelase kone
    „sõjasaagiks“ ja kargasin võssa, Paltsepa talu suunas. Paarikümne meetri järele viskasin venelase kone põõsasse,
    kuna märkasin, et see nõretab verest, määrides käed. Pagan võtaks, seljakott ühes laetud kassettidega ja muu heaga
    jäid maha, aga „midägi tettä“
    <i>/pole parata/</i>, kone pihus ja heites pilgu igale poole, lasin parajat seatraavi Paltsepa talu suunas. Samas
    kuulsin ka kone või automaadi valangut Urva suunas, nagu hiljem selgus, katsus Artur minu tulistamisest tekkinud
    väikest segadust kasutada, katsudes põgeneda, too valang oligi temale saadetud; heitnud kivi taha pikali, Art.
    tõenäolikult minestus, nagu hiljem oli kuulda, ehk ta teeskles seda. Igatahes jäi ta venelaste kätte.
  </div>
  <div class="p">
    Pooljoostes liikusin siis kirde suunas, tagala suunas, sest Luhasoo poole ei usaldanud minna, sest sealpool, nägin
    küünist, liikusid venelased. Korduvalt eksisin ja sain Viitina Kaveldi teele; kõhklesin, kas katsuda liikuda kodu
    või Haanja suunas. Kuna Majas’e nurm oli lage ees, siis võtsin kursi ida suunas. Jõudsin Variku Olga kohale väikese
    sookese juure, kust maanteeni oli vast 100 m. Järsku, kuuldes vankriloginat, ja heites pilgu sinna poole, näen,
    kuidas üks eraisik, ajades hobust, liikus vankriga kiires tempos maantee suunas. Vankril lamas tõenäolikult üks
    surnu, kelle käsi rippus üle vankri parda, ja teine haavatu, olles poolistuli asendis. Vankrit saatsid kümmekond
    venelast – automaaturit, ka vaikselt, võis öelda peaaegu kikivarvul, ringi piiludes. Hiljem kuulsin, et vankris
    olnud ka Artur, niisiis 3 inimest; Artur olnud asetatud surnu alla.
  </div>
  <div class="p">
    Peatselt ilmusid nad maanteel Variku Olga kohal nähtavale; mõnigi, paistis mulle, heitis pilgu minu suunas, ent mind
    nägemata. Palju selles loos mängis minu hea kaitsevärv, Eesti sõjaväe vorm. Soost tegin hüppe maantee kaldal
    asuvasse tihnikusse, nagu skitsil näha, ja seal, oodates kuni sõjaväe masinate kolonnid olid möödunud, hüppe üle
    maantee asuvasse võssa. Selle hüppe juures ma arendasin kaunis kadestamisväärt kiirust, sest iga silmapilk võis
    mäetagant ilmuda mõni punasõdur.
  </div>
  <a class="lg-single-image" href="/images/rouge/simo_pihlapuu_ulestahendused_skeem2.jpg">
    <img class="image_left p200" src="/images/rouge/simo_pihlapuu_ulestahendused_skeem2.jpg" />
  </a>
  <div class="p">
    Metsas leidsin tüki leiva koorikut, mille pistsin kinni. Tundsin nüüd juba ennast justkui „vanajumala seljataga“.
    Ettevaatlikult liikusin põõsast-põõsasse, kuni jõudsin Jugu järve kaldale; ees oli lage, mida ületada päeval polnuks
    mõtet. Kuna oli päiksepaiste, ajasin higist märja särgi seljast ja asetasin võssa päiksepaistele kuivama. Ise sõin
    marju, vabarnaid, suitsetasin ja kirjutasin päeva sündmused päevikusse, mida ma päris korrapäraselt täitsin - (kuid
    mis hiljem siiski jäid venelaste kätte - aasta hiljem).
  </div>
  <div class="p">
    Olgu mainitud, et eelpool kirjeldatud päev oli 30. august, teisipäev, 1944. „Mõnulesin“ siis terve ½ päeva, /..../
    kaldal, olles vahest rõõmus pääsemise üle ja vahest kurb ja mures venna ja kodu saatuse pärast. Mõtlesin, et nad
    Arturi tõenäolikult lasevad maha.
  </div>
  <div class="p">
    Õhtul läksin samas asuvasse küüni magama, ent vaevalt sain uinuda, kui lähedased paugutamised hirmutasid mind välja.
    Kone seljas ja paljajalu liikusin aga ida suunas, vastu tundmatule maastikule ja tulevikule.
  </div>
  <div class="p">
    Järgmine päev veetsin Järveküla ligidal, tehes tuld metsas, oli jahedavõitu, pärast tukkusin tuleasemel. Öö magasin
    jällegi küünis. Tuttavaid ei teadnud, liikusin veelgi idapoole, katsudes õhtul ühest talust süüa saada. Ent ühes
    talus ässitati koeraga, teises löödi niisama uks nina all kinni. Ööd-päeva pikutasin rõugu all. Nii läksid
    nädalapäevad, ilma, et oleks pääle marjade ja hernekaunade midagi süüa saanud. 3. septembri õhtul tõusin rõugu alt,
    oli janu. Jooma minnes tundsin, et olen nagu purjus, tuikusin, ja värvilised rattad tantsisid silma juurest. Leidsin
    küüni ja heitsin puhkama.
  </div>

  <h3>METSAELU 1945</h3>

  <h4 id="punkrilahing-5.nov.1945">Punkrilahing 5.nov.1945</h4>
  <div class="p">
    Samas kuulsin ka, kuidas kii/.../ teise käest küsis: /... ..../ tva tšelovek“, nähtavasti arvasid nad, et meid oli 2
    meest. Tegelikult oli 3. Mis minu naabritega oli juhtunud, sellest ei olnud minul vähimatki aimu, tulistamine enam
    ei jatkunud. Tundsin ot/..../ kergendust. /.../ kükitades – paigal oli külm, eriti varvastel, ma ei liikunud terve
    päeva jooksul enam paigalt. Millal /..../jad lahkusid, sellest ma aru ei saanud. Päike vajus madalamale. Punkri
    suunast oli vahetevahel kuulda venelaste askeldamist. Saabus õhtu. Kuna kõik oli vaikseks jäänud, liikusin
    ettevaatlikult tagasi punkri suunas, kuni jõudsin punkrini. Leidsin, et venelased olid heitnud punkri luugi juure
    2-3 granaati ja ühe granaadi heitnud korstnasse, mis plahvatades oli lõhkunud korstna ja pliidi. Punkrisse oli
    tehtud tuli, söed veel hõõgusid ja tukid suitsesid. Ronisin redelit mööda sisse. Leidsin, et punker oli täiesti
    puhtaks tehtud. Lootsin, et võib-olla nad ei leidnud minu saapaid, mis mäletavasti olid lükatud pliidi alla, pliit
    oli pakkude otsas, kuid pika otsimise pääle vaatamata ma ei leidnud ei saapaid ega passi ega muud. /.../mp (...) oli
    veel seina küljes. Väljas olid ka märgan/.../ portselani purgikesed. Leidsin siiski tekiräbala, millest rebisin
    jalarätid ja tõmbasin sokinärud pääle ja lahkusin. Õhtu oli vaikne ja selge. Metsast välja saades leidsin, et
    veeloikudel oli jääkirmetus peal, ilm muutus järjest külmemaks. Kuna teed ei julgenud liikumiseks kasutada, liikusin
    nurme mööda. Keegi möödus minust ca 100 m. kauguselt, liikudes sealt oja suunas. /.../ kindlatest allikatest
    andmeid. Hiljem sain teada, et metsas oli ka järgmine päev valve, kes kimbutas teekäijaid. Samuti sain teada, et
    venelasi olla tulevahetuses 2-3 meest surma saanud (1 leitnant käsigraadi läbi, mille heitsin), /.../ saanud
    haavata, tegelikud faktid ja andmed puuduvad. Tulistamise ajal juhtus ka üks koomiline moment. Venelased, tulles
    punkrit piirama, vahistasid juhuslikult möödamineva Aug. Liiva, jättes selle juure 1 tunnimehe. Hiljem, kui
    laskmiseks läks, hakanud ka tunnimees tulistama püssist huupi padristikku, hiljem öelnud venelane A. Liivale, et
    ärgu see öelgu midagi sellest, et tema tulistas. Muide, venelased olnud 2 autoga, ca 40-50 meest kokku. Kuigi ma
    sõprade saatusest midagi ei teadnud ja ise olin viletsas seisukorras, oli süda siiski rõõmus, et sellest pöörasest
    olukorrast tervena pääsesin. Liikusin siis mööda nurmi edasi. Katmata peal hakkas külm, võtsin šalli, mis samuti
    punkrisse oli jäet ja sidusin pähe, kuna müts puudus. Nii liikusin mõned kilomeetrid. Jalad said märjaks ja muutusid
    tuimaks. Sain aru, et nii ikka ei lähe. Läksin ühte tallu ja koputasin aknale. /.../mees, see kallimeelne mees
    ütles: „Astu sisse!“ Kuigi ta kõigest teadlik oli juba, mis minuga oli juhtunud, siiski julges ta mind tuppa
    kutsuda. Mulle anti süüa, kuivad jalatsid pastaldega ja seljakott selga ja pudel viina taskus, /.../ läksin jällegi
    edasi. Ka vana jope ja talimütsi sain. Liikudes vast kilomeetri, võtsin „käraka“ pudelist ja heitsin puhkama, ühte
    küüni. Hommikul lahkusin küünist, läksin metsa ja tegin lõkke, et soojendada. Nii veetsin paar ööd- päeva, öösel
    küünis, kus heintel oli soe magada ja päeval metsas. Õhtul läksin „luurele“ ja sain kontakti oma sõpradega. Sõbrad
    olid kõik väga löödud tujus, sest olukord oli räbal – isad-emad- vennad vahistatud ja oli juba nii külm, et iga
    moment võis oodata lund. Puhus vinge põhjatuul, oli selge ja mõni kraad külma. Päeval tegime tuld ja öösel magasime
    küünis. Nii kulusid peaaegu nädalapäevad. Kuni ühel õhtul saime kuulda, et venelased on Rõugest lahkunud väga äkki.
    Kuulda olla neid mujale vajatud (Leevile, kus mõned kommunistid metsameeste poolt olla tapetud). Hingasime
    kergendatult. Varsti vabastati vahialused, lasti koju. Ainult August Koemets jäi vangi, kuna tema poeg Aleksei
    Koemetsa süüdistati J. Tootseni ja B. Kõivu tapmises. Aug. Koemetsa viidi J. Tootseni hauale matuste ajal ja
    tutvustati matuselistele kui „mõrvari isa“. Tegelikult miilitsal polnud põhjust Al. Koemetsa tapmises süüdistada,
    kuna too varsti pärast haavatasaamist suri, ega võinud õieti midagi valetadagi. Kuigi JT ja BK olid tapetud Saksa
    konepüstoliga, leidus neid relvi kõikjal. See süüdistus oligi vist rajatud paljalt sellele, et „näete, saime mõrvari
    kätte“ jne.
  </div>
  <div class="p">
    Aug. Koemets vabastati vast 1 kuu möödumisel, kuna teda ju põhjust süüdistada ei olnud, pääle asjaolu, et ta oli
    metsamehe isa. Kuuldavasti sai Aug. K /.../ta pähe, kuuldavasti „kõrgema“ miilitsa Mummi käest.
  </div>
  <div class="p">
    Nii, et lund oli oodata igapäev, hakkasime / .../mees punkrit ehitama ja korrastama, vanad punkrid jäeti maha. See
    õnnestuski pärast mõningaid raskusi. Ma sain sõprade ulu alla. 15. novembri paiku tuligi lumi, mis jäigi püsima.
    Võtsime talve külma südamega vastu, oli karta mõndagi viperust. Vahepeal olid mõned väiksed sulailmad, ent lund see
    hoopis ära ei viind, kuigi künkad mustendasid.
  </div>

  <h4 id="lant-latimaale">Lant Lätimaale</h4>
  <div class="p">
    Ah ja, saanud sõprade juure punkrisse, läksime 14. nov
    <i>/1945. a/</i>
    paiku sõpradele-eestlastele külla Lätisse. Nendel parajasti oli mõeldud teha „lant“ (röövimine) ühte VLaitsnas
    <i>/Vana-Laitsna e Veclaicene/</i>
    asuvasse kooperatiivi. Võtsime kah sellest osa. Mõisas oli küll 3 tunnimeest, ent need alistusid ilma pauguta.
    Püssid löödi puruks. Saime rikkaliku saagi: riiet, siidi jne. Sellest võttis osa 1 lätlane ja 12 eestlast. „Lant“
    toimus palja, külmunud maaga, hobusega . Meile läks see „lant“ ohuta korda, ent Lätis, kooperatiivi ümb/.../ olla
    saadud kätte ca 6 lätlast metsameest. Alles veel Lätis, hakkas sadama lund. Võtsime pambud selga ja tulime oma koju.
  </div>
  <div class="p">
    Nii hakkas talv lõbusalt. Meil oli viina, suitsu ja igasugust väärtuslikku trääni, ühe kohta ca 5-6 000 rubla
    väärtuses (1 pd.
    <i>/puud/</i>
    rukist 250 rbl). Varsti seadsime ka 5-lambilise raadio hakkama ja nii läks elu kenasti. 20. nov paiku käis 3 röövlit
    tapetud miilits Hirve naist röövimas. Röövlid olnud metsamehed ja olla küsinud miilitsa naiselt tema mehe poolt
    röövitud varandust, võttes kaasa 120 bassiga Hohner akordioni, raadio ja 3000 rbl raha. Miilitsa naine olla öelnud,
    et tapke no mind, kui tahate, aga jätke latsekesed elama“. Akordioni kohta oli kuulda muuseas järgmist: Akordioni
    oli saanud A. Hirv Võrus elunevalt lihunik Kahro’lt ähvardusega, lubades juhul, kui K. annab tema / .../le pilli,
    mitte sellesse puutuda (miilits oli varemalt Kahro juures poisiks
    <i>/sulaseks/</i>). Kahro andis küll pilli, ent hiljem siiski paigutati vanglasse (arvatavasti H. kaebusega). See
    oli tüübiline bolševistlik tegu.
  </div>
  <div class="p">
    Saabusid jõulud. Pärast pühi saime teada Lükka soos olnud metsameeste kurbmängu: venelased piirasid nad sisse öösel
    ja tapsid ca 8-9 meest, 1 sai põgenema alusriietes, õnnetuseks oli punker maa pinnale ehitatud puuonn, mis venelaste
    kuulide eest mingit varju ei pakkunud. Ah ja, 14. nov. paiku tulles värske lumega Lätimaalt, „landi“ pambud seljas,
    möödusime ühest majast metsaserval. Majast kargas mees välja, öeldes, et Sännas olla küüditatud metsameeste poolt
    kohalik hävit. pat. mees Manglus Uibu. Kevad-talvel leiti selle laip lumes, prillid ninal. Nii! Vaevalt olid
    venelased lahkunud Rõugest, kui jällegi juhtus midagi! M. Uibu pärast igatahes venelased Rõugesse enam ei tulnud.
    Sellega oli Rõugest aasta jooksul tapetud 4 aktiivset kommunisti: A. Hirv, J. Tootsen, B. Kõiv ja M. Uibu.
    Nov-detsembris 1945 juhtus aga järgmist: Rööviti Mõniste meiereid, Varstu kooperatiivi, Roosa metskonna
    kooperatiivi. Jaanuaris rööviti Pähni (Roosa) metskonna kassa, üle /.../ rubla.
  </div>

  <h4 id="haarang-varstu-vallas">Haarang Varstu vallas</h4>
  <div class="p">
    Ah ja. Novembri lõpupäevadel
    <i>/13.12.1945?/</i>
    oli Varstu v. „Tõlva“ talus Antoni pool järgmine kokkupõrge. Tallu olid ilmunud 4 metsameest öösel. Samal ööl
    juhtusid sinna tulema 12-15 Varstu hävituspataljoni meest koos 2 ülemusega. 2 hävituspataljoni juhti kloppisid
    ustele, nad lasti sisse. Tuppa saabunult nad hakkasid kärkides (küsima) nõudma metsameeste väljaandmist. Metsamehed
    olid teises, pimedas toas. Üks nendest (metsameestest) hüppas uksele ja katsus vene konepüstolist tulistada, ent see
    ei läinud lahti. Haarates sõbra käest „Parabellum“ püstoli, ta katsus uuesti tulistada, kuid ka see ei läinud
    esimese „naksuga“ lahti. „Hävitaja“ kargas juba uksele, vist samm vahet. Metsamees vajutas „Parabellumi“ päästikule,
    tabades hävitajat. See langes maha. Teine hävitaja põgenes naiste taha. Sellejärele hakanud teised hävitajad, kes
    väljas, tulistama väljast läbi akende tuppa. /..../ haaras suitsugranaadi, mis juhuslikult kaasas oli, süütas selle
    ja heitis teise tuppa. Tulistamine lakkas. Metsamehed kargasid aknast välja. Hüüdes „andke bandiitidele“ nad
    hakkasid tulistama hävitajaid. Need olid ilmsesti segaduses, karjudes –„ärge laske, omad mehed“. Mehed said
    maanteele. Üks metsameestest („Prokurör“, Harald M), kes valdas hästi vene keelt, hüüdis vene keeles, et pidage, asi
    tahab selgitamist. Talle liginesid 4 hävitajat. Jõudes mehele ligi, metsamees hüüdis: käed üles! Hävitaja tõstis
    käed, öeldes: ära lase, ja katsus metsamehe saksa konepüstoli otsa kõrvale juhtida. Samas metsamees tulistas,
    tabades hävitajat puusast. See kukkus. Teised hävitajad avasid omakorda metsamehele tule, tabades selle konepüstolit
    3-me kuuliga, nii et see muutus tarvitamiskõlbmatuks. Ent metsameeste lahkudes tulistas üks hävitajatest nähtamatust
    kohast, tabades Willi Simmulit surmavalt, haavates teist, „Juulu’t“, käest ja küljest. Metsamehed võtsid haavatu
    kaasa, võtsid külast hobuse ja kihutasid Lätimaale. Jõudes Hopa
    <i>/Ape/</i>
    ligidale, nad sattusid metsameestele, kes parajasti „karistasid“ miilitsajaoskonda, seda tulistades. (See saadi
    pärast teada). Momendil metsamehed arvasid, et on haarang Lätis ja kihutasid oma haavatuga edasi, viibides mõned
    päevad talus lamba laudas, kuni haavatu toibus ja võidi punkrisse elama minna.
  </div>

  <h3>METSAELU 1946</h3>

  <div class="p">
    Saabus uusaasta 1946. Otsisin oma punkrikaaslase üles ja 2. jaanuari õhtul astusime suuskadele ja sõitsime minu
    punkri juure, jäädes sinna talvituma. Vahetevahel astusin suuskadele ja käisin külastamas sõpru. Saabus märts 1946.
    Märtsi esimesel poolel, kuupäeva ei mäleta, tulid inimesed linnast rääkides, et raadio (valjuhääldaja) turuplatsil
    olla rääkinud, et Churchill tatitab ja õhutab uut sõda. Ajalehtedes ilmus sellejärele Stalini intervjuu, mis oli
    antud vastulöögiks Church. kõnele, kus Church. oli öelnud, et idaeuroopa on suletud raudse eesriide taha ja et
    N-Liit on jäänud puhkama loorberitele? See viiski Stalini rööpast välja ja ütles intervjuus, et Church. kõne olnud
    taktitu (sellest tuleneski Church. „tatistamine“, st kuulajad ei saanud hästi aru, ja et Church. on sõja õhutaja.
    Õhus oli tunda elektrit. Sarnane jutt meeldis kõigile metsameestele ja üldse kommunismivastastele. Küllap selle
    järelduseks oligi, et Sõmerpalu valda saabusid tosinal hobusel metsamehed ja võttes selle oma võimu alla, tapsid 13
    inimest, so kommuniste ja nende perekonnaliikmeid. Võru NKVD sõdurid hakkasid metsamehi jälitama. Kaudsetel andmeil
    sai metsamehi algul 11 surma ja vangi ja majas, kus mehi oli ca 6
    <i>/Hindriku talu/</i>, selle ründamisel venelaste poolt said kõik mehed surma ja põlesid sisse
    <i>/nö Määritsa lahing/</i>, venelaste kaotusi tulevahetuses ei ole teada, räägiti, et neid olla langenud kokku
    umbes 40 ümber. Mõni päev hiljem tegid mehed „landi“ Kõrgepalu valda, võttes kangakudumise artellilt kangad, samal
    ööl tapeti metsameeste poolt 3 hävituspataljoni meest ühes hobusega teel. Kuuldavasti olla hävitajad nõudnud
    metsameestelt, kes tulid teel vastu, dokumente. Üks surnutest oli Hallist Rõuge vallast.
  </div>
  <div class="p">
    Mõni päev hiljem (märtsi lõpupäevil) vangistati metsameeste poolt Varstu vallas hävitajad Rumpe ja Sergei, kes lasti
    metsas maha. Aprilli esimestel päevadel metsamehed tulistasid Haanja vallamaja, haavates ühte hävitajat ja rüüstasid
    kooperatiivi, sellejuures langes teel ootamatu kokkupõrkel venelastega Raagi kohal Ruusmäe vallas Vold. Teas,
    metsamees, saades kuuli pähe ja tõenäoselt silmapilkselt surma. Teised mehed, 11 meest ja 3 hobust, pääsesid ühes
    kooperatiivi-kaubaga tervelt. Sarnaseid röövimisi ja kommunistide tapmisi toimus üle Võrumaa kuuldavasti. Metsamehed
    kihutasid hobustel ringi ja tegid tükka? Nii ei julgenud täitevkomiteede tegelased enam vallamajas viibida mõnda
    aega, näit. Rõuges. T. komiteede juurde pandi hävitajad, u 5 meest valvele. Majas üks naljahammas oli lõiganud
    telefonijuhtmed öösel katki. Sellest aitas, et komiteemehed põgenesid vallamajast minema. / .../im veel
    parteiorganisaator, põgenes, roomates käpuli lumes, laadalisi, pidades neid bandiitideks. Kuna metsameeste aktsioon
    oli toimunud, kuigi juhuslikku laadi nii siin kui seal, saabus ka vastuaktsioon. Venelaste, NKVD/ .../ saadeti
    venelased gruppidena laiali, 10 – 20 meest (näiteks Sõmerpalus) haaranguid tegema. Haanja landi tegijad olid ka
    osaliselt sarnased põgenejad metsamehed, kes oma punkrist venelaste haarangu kartusel olid lahkunud, see ei
    takistanud neid uues redupaigas uuesti pihta andmast. Esiti oli kuulda haarangust Sõmerpalus, siis Mõniste, Varstu
    ja VRoosa kandis. Venelased näit ajasid taga Hinnimäe Kasaka poega, kes põgenes jalgsi, relvata ja venelased
    jälitasid teda hobustel. Poiss jooksis ligi 3 km, venelased kannul, kuni Kogrele, kus ta saadi kätte. Räägiti, et
    kui poiss oli ära väsinud, oli joosnud veel neljakäpukil edasi. Koomiline oli veel asjaolu, et poiss ei olevat
    olnudki metsamees tõsises mõttes, vaid oli põgenenud nii omal käel. Hiljem ta vabastati.
  </div>

  <h4 id="kokkuporge-latis">Kokkupõrge Lätis</h4>
  <div class="p">
    Olid sulailmad aprilli 6-7 paiku, kui ca 14 metsameest sõitsid oma punkri juure, 3 hobusel koormatega, ajutiselt
    redupaigast tagasi, Lätisse. Enne seda oli saadet 2 meest maakuulajatena ette. Ent üks maakuulajatest, nagu hiljem
    selgus, oli äraandja, NKVD agent Martin, lätlane rahvuselt, kes saatis metsameeste saabumisel nendele venelased
    kaela. Ent õnneks ei läinud mehed lätlasega kokkulepitud kohta, tühja majja, vaid oma punkri juure. Punkri juures
    nad kuulsid, kui vast 1 km kaugusel tulistati tühja maja, kus nad arvati olevat. Mehed jätsid hobused koormatega ja
    hakkasid põgenema Eestimaa suunas, venelased, u 10 kordses ülekaalus, nende järel. Metsamehed, olles surmani väsinud
    ja kurnatud, vahetevahel peatusid ja tulistasid vastu. Kuuldavasti olla saanud mõned venelastest kergemalt haavata
    ja Marienburgi
    <i>/Aluksne/</i>
    miilitsaülem surma, oma granaadist, mille ta heitnud punkri korstnasse ja mis, lõhkedes enneaegu, tabas meest ennast
    ja vigastas mõnda kaaslastest. Metsamehed, tosina mehe ümber, pääsesid tervetena Eestisse. Sealjuures olnud ka oma
    koomiline moment. Põgenedes üle veskitammi, hüüdnud Arandu Paul veskilistele, et sõbra’, viimnepäev um käen. Mehed
    magasid järgmisel päeval talus, kui nendest möödusid haarangu venelased, kes läksid Luhasoole, ja lasid seal suure,
    (10x4x2,5) punkri õhku. Punker oli tühi.
  </div>

  <h4 id="ruusmae-meeste-lahing-pillardi-juures">Ruusmäe meeste lahing Pillardi juures</h4>
  <div class="p">
    Just eelmisel päeval oli Ruusmäel, Pillardi küla lähedal, järgmine kurbmäng: küla lähedal, soo saarel, oli
    metsameeste punker. Punkris olid parajasti järgmised mehed: Aug. Eliason (Eelsoo), Rein Kask, Ants (Hans?) Look (?)
    ja Elm. Pärli, kui umbes kella 10 paiku saabusid sinna haaranguvenelased ja piirasid punkri sisse. Meestel ei olnud
    valvet väljas ja nad ei märganud alguses olukorda. Kui üks mees tahtis punkrist väljuda ja kergitas luuki, tulistati
    teda väljast konepüstoliga, mees sai käest haavata. Samas heideti punkri eeskotta (kust luuk viis välja) käsigranaat
    ja üks mees sai puusast vigastada. Mehi kutsuti alla andma, ent A. Eelsoo võttis kuulipilduja, pistis otsa
    punkriluugi vahelt välja ja hakkas tulistama. Venelased vastasid sellele. Heideti hulga käsigranaate metsameeste
    poolt, ca 20 ümber. Lahing vältas 3 tundi, kuni metsameeste laskemoon hakkas lõppema. Tehti katset punkrist lahkuda.
    A. Eelsoo läks esimesena välja ja sai pihta. 2 meest (teine nendest haavatud) jäid momendil punkrisse, kuid Elm.
    Pärlil õnnestus pääseda piiramisahelikust tervena. Teised 3 said surma, kuidas just, seda ei tea. Venelasi olla
    langenud kohapeal 8 meest ja 3 olla surnud teel haavadesse, niisiis kokku 11 meest. Oletatavasti olid äraandjateks
    lätlane Martin ja Taru, kes vast 2 nädalat oli metsameestega ühes ja andis ennast „vabatahtlikult“ vangi (ei
    kasutanud põgenemisvõimalusi). Kuna ka minu ja minu sõprade punkrid olid hädaohus avastatud saada, siis lahkusime
    punkritest ja asusime elama metsa alla. See oli 10. aprilli paiku. Lumi oli suuremalt jaolt sulanud, ent ilmad olid
    viludad, vahetevahel sadas lund ja ööseti külmetas päris tublisti. Need olid viletsad päevad aprillis. Saabus vaikus
    nii otsijate kui otsitavate vahel, „vaherahu“. Metsamehed valgusid laiali.
  </div>
  <div class="p">
    9. mail hakkasin endale tegema onni, kuid leidsin üllatuseks, et maa oli veel alt külmanud (kaevasin veidi maasse).
    Mai lõpupoole asusin oma onni, mis oli tehtud varbadest ja okstest. Ka sõbrad elunesid telkides. Peagi saabus juuni.
    Juunis ootasin põnevusega iga päev vihjeid, mis osutaksid sõjale, ent asjata. Enne jaanipäeva tegin metsas viina.
    Sinna sattus juhuslikult Punases kaardiväes teeniv polkovnik. Kuna ta meie „seisust“ ei tunnud, siis hakkasime
    napsitama. /.../ jäime polkovnikuga „6 silma alla“, tah/.../ mina oma m-mehest sõbraga. Järsku polkovnik küsis
    minult, mis mees te olete? Mina: „metsamees“. Sõbralt samuti sama vastus. „Miks te mind ära ei tapa?“ küsis
    polkovnik. Vastasin, et pean teda siiski eestlaseks, ja et me ei ole sarnased mehed, kes tapavad. Polkovnik küsis
    mult ka relva, andsin oma talle püstoli vaadata, täheldades, et kannan relva vaid enda jaoks, et vältida vangistust.
    Polkovnik patsutas õlale, öeldes, et olete lollikesed. Ta näitas meile ka oma püstolit, 7.65 tuliuut Waltherit,
    kutsus meid metsast välja, andis kätt – ja justkui vannutades andis lootusi, et meil läheb hästi ja isegi ütles
    mulle, et minust saavat mees, kes hakkab teisi metsamehi välja tooma. Kõige selle „selgitustöö“ pääle ta küsis:
    „Noh, kuidas on, kas tulete?“ Vaikisin, vaadates kõrvale. Samuti ka sõber. „Ei taha?“ küsis edasi. Vabandasin, et
    puudub selleks julgus. Sellegipärast ajasime oma sooja peaga juttu edasi, ent polkovnik korduvalt rõhutas, et juhul
    kui meie (või üldse m-mehed) ta tapaksid, siis tulevat hirmus kättemaks. Nähtavasti tema siiski veidi sellega
    arvestas. Kuigi südames uskusin, et kuuli polnuks talle palju, kui vanale (20a) parteilasele, sõprade pärast ei
    tulnud seda siiski mõttesse, eriti pärast seda, kui koos olime napsu võtnud. Hiljem veendusin, et polkovnik oli üsna
    labasevõitu seltsimees, kes minu mõiste järgi ei andnud polkovniku (koloneli) mõõtu välja. Juhuslikult oli viin,
    mida jõime, talumehe oma, hiljem, kui mina viina tegin, polkovnikuga enam kokku ei saanud ega olnud mitte
    huvitatudki sellest.
  </div>
  <div class="p">
    Pärast jaanipäeva saabusid ilusad soojad ilmad. Tuli suvi – heinategu – supelused ja mõnulemised päikesepaistel.
    Ilus, päikseküllane suvi, ent see läks nii ruttu. Ja loota mingisugusele pääsemisele või õieti sõja võimalusele
    vähenesid päev-päevalt. Muide, ma pole kunagi uskunud, et konverentsid võiksid meid venelastest päästa või et
    oleksid võimalikud sisemised muutused riigis, ei, uskusin ja usun tänapäev, et ainus pääs on sõda. Kuna inimesed
    suuremalt osalt (julgesti /.../) soovivad kommunismist vabaneda, liigub alatasa jutte sellest, et nendel
    (bolševikel) tuleb lahkuda eestist sel ja sel kuupäeval. Need jutud olid nii naiivsed, et ma vaevalt kuulasin nad
    ära ilma vastuvaidlemata (on ju teisipidi hea, kui inimene loodab, kuigi tal seks pole vähimatki alust).
  </div>
  <div class="p">
    Saabus august. Ööd läksid pikemaks. Tegevuseta olek hakkas tüütama. Saime kuulda, et Pähni metskonna kaupluses on
    midagi. Läksimegi vaatama. Võtsime tunnimehe ja kaupmehe kinni ja laadisime seljakotid täis. Kompvekke päris
    rohkesti, pisut riiet ja mitmesugust pudi-padi, ca 1000 rbl väärtuses mehe peale. Odav lant. Kompvekke ma süüa ei
    saanud, hambad ei lubanud. Viina jõime samal hommikul (1 pudel mehe peale) ja kalakonservid suupisteks peale. Pääle
    lõunat käisin suplemas. Septembri algul läksime Kikkaoja meierei võid at/.../. Esimene kord see ei õnnestunud ja
    pimedas „kadusid“ (eksisid) mehed teineteisest lahku. Vast nädala pärast läksime uuesti, kahel hobusel tõime 10
    kasti võid ja mehele 4 kasti kohupiima (mis läks rikki, kuna me ei teadnud, et kastis oli kohupiim). Võitoomine läks
    iseenesest väga ladusalt: sõitsime hobustega kohale, lõime akna sisse, samuti kerged uksetahvlid ja ladusime koormad
    pääle. Tagasiteel meie ei kohtanud ühtki elavat hinge. Ka hiljem ei tulnud sest pahandust. Mehe kohta tuli ca 40 kg
    võid (a’. 80-90-100 rbl kg). (3. septembril käisin viimast korda suplemas).
  </div>

  <h4 id="haarang-kuklase-kulas">Haarang Kuklase külas</h4>
  <div class="p">
    Mõni päev pärast meie võilanti korraldasid venelased haarangu (20. sept. paiku) ühes Lepistu (Kõrgepalu)
    hävitajatega Kuklase külla Kattai tallu. Haarang toimus pääle lõunat k. 16.00 paiku. Talus oli sõnnikuvedu, kus oli
    ka 2 metsameest, teine nendest Luik (pärit Lepistu v. „Viru“ talust. Olukord oli haarajatel nähtavasti hästi teada.
    Ent viimasel silmapilgul jooksis üks metsamees, kui sai teada, et venelased sõitsid autoga Roobi metsa, tallu ja
    hoiatas. Mõni minut pärast seda panid metsamehed juba igaüks eri suunas, kusjuures Luik sai ühe kuuliga rinnust
    haavata, teised 2 pääsesid. Luik paigutati haiglasse, kust ta hiljem, paranenult, lasti vabaks. Ja on seda tänaseni
    (Luik oli relvatu). Kuni septembri lõpuni ei olnud isegi öökülmi (halla), siis 1. oktoobril üllatas taevataat
    sellega, et saatis põhja tuule ja lume. Lumi küll sulas, püsimata öödpäeva. Ent ilmad läksid ja jäidki jahedaks.
    Septembri teisel poolel kannatasin tugevat hambavalu, 2hel hambal oli juurepõletik. Paari nädala järel küll tõbi ja
    valu kadus, ent tänapäev on veel need hambad tüütavalt vigased. Oktoobri alul sain omale priimuse, mis oli jahedate
    ilmade puhul väga hea piima soojendamiseks. Et okt. varastasime /.../ga, kellega olime otsustanud hakata punkrit
    ehitama, laudu saeveski juurest. 6. okt. paiku hakkasime kaevama. 13dal okt. sadas hommikul jällegi tublisti lund,
    ent teerajad sula maa tõttu jättis siiski vabaks. 13.X. so. pühapäeval, oli punker niikaugel, et kolisime sisse.
    15dal teisip. tegime pliidi. 14 öösel vastu 15. sadas ka lund, mis ka peatselt sulas. Ah ja – punkrilaudu tuues
    pidime osa laudu panema maha mäe alla, seda juhtus nägema Al. E. kes seda järgmisel päeval rääkis G. Raag’ile, kes
    seda rääkis edasi saeveski öövahile J. S.ile, kelle poeg oli tähendanud, et tean küll, nood lauad läksid maa sisse.“
    Laudade järele võis isegi aimata punkri asukohta. J.S tütre E. koolis käis miilits Seeme ja sealtkaudu võinuks asi
    läbi tilkuda. Alul, punkri ehitamise ajal, tegi see vahejuhtum südame täis, ent asukohta me sellepärast ei muutnud.
    Praegu on juba elatud 3 kuud ära ja hea õnne peale elame edasi. Laua-asja ma katsusin „diplomaatilisel“ teel
    lahendada, mis ka õnnestus. Peab imestama inimeste sõbralikkust ja vaikimisvannet, ka nendel, kes võiksid olla
    kommunistid. Peab ütlema, et see elu metsas polnuks tänasel kujul üldse mõeldav, kui inimesed – kas või mõni üksik
    siinkandis oleks tahtnud meid reeta. Kuid miks nad ei teinud seda? Selleks võis olla mitu põhjust: 1. Suuremal osal
    perekondadest on bolševike ajal olnud lähemaid sugulasi, poegi ja vendi redus, samuti metsameestena. 2) inimesed on
    valitsusega väga halvas vahekorras, 3) hirm, et reetmine võib avalikuks tulla ja saada reetjale endale saatuslikuks.
  </div>
  <div class="p">
    Nii, asusime punkrisse. Milline mugavus! Saame korralikult süüa sooje toite, eluruum on soe, avar ja mõnus, voodil
    ei puudu isegi lina ja padi. Õhk on hea. 2 mehe punker on ca 4 m pikk, 2,5 lai, 1.90 kõrge, laudpõrand ja seinad ja
    lagi, 1 uks ja aken. Valgust kipub ainult kasinavõitu olema. Hiljem mineerisin ka /.../ 1 tankimiini ja 2
    miiniheitja miiniga, elektrisütikutega, juhuks, kui peaks võitlus tulema. Relvadest omasime kumbki /.../ püstoli ja
    püstoli, ja 2 saksa raskepritsi ka, /.../ padruniga. Hääl juhul võiksime bolš. jõudu katsuda. Meil oli ka mõeldud
    ruumi 3ndale mehele, kuid üllatuseks mees läks välja, veel esimese lume tulekul, kuigi mitmekordse pärimise pääle
    tema seisukoha suhtes ta veel 1 päev enne väljaminekut kinnitas, et ta seda ei tee. Muidu pidasin meest täitsa ja
    kindlaks meheks. Niisugune pettus tuli ka siis täitsa üllatuseks. Imestamisväärt on näha, kuidas mehed, kes
    metsameestena on toime pannud röövretki kooperatiividele jne., käesoleval aastal püüdsid „välja“ minna ja mis
    näiliselt on ka senini nendel õnnestunud. Sama imestamisväärt on näha, kuivõrd hästi parteilased seda võimaldavad.
    Korduvalt on teatatud: „Tulge välja, ega midagi ei tehta!“ Ja seni pole tehtud ka midagi. Omaltpoolt leian, et see
    väljamineku asi on mitmes suhtes kahtlane. 1. oled välja minnes kohaga seotud 2. oled kättesaadav. Kogemused
    näitavad, et ka varandus konfiskeeritakse või röövitakse alles siis, kui mees on kätte saadud. Praegu elavad mitu
    suurimat ražbonikut metsas, kelle varanduse külge pole juletud veel kätt panna. Kuna see kodude lagastamine on
    suurel määral valla täitevk. kätes, siis paistab, et nad teatud määral tunnevad metsameeste perekondade vastu
    respekti, niikaua kui nad (m-mehed) on vabaduses. On ka põhjust.
  </div>
  <div class="p">
    Nüüd metsa jäänute ja välja läinute vahekorrast. Pole asjata märkida, et suuremalt osalt välja läinud suhtuvad
    metsajäänutesse jahedamalt ja ükskõiksemalt kui tsivilistid, kes ise sugugi pole tundnud metsaelu raskusi.
    Kohtumistel ei tihata näidata, et oled soovimatu külaline, ent külla ka just ei kutsuta. Võib arvata, et
    südamepõhjas mõnigi väljaläinu mõtleb, et oleks kena, kui metsameeste käsi käiks halvasti, mis oleks tõenduseks, et
    „vaadake, ma tegin hästi, et läksin välja“./ .... ..../ . Väljaläinud metsamees/ ..../gi meid hädaohu korral
    kindlasti hoiatada. Juhtus nii, et venelased sõitsid haarangule naabermetsa. Väljaläinud metsamees tegi parajasti
    viina parteimeestele, kui temale viidi teade lähenevast hädaohust. Mees katkestas küll viinategemise, minnes ise
    T.K. esimehe poole rettu, ent meile hädaohust ei teatanud, ehkki selles polnuks nimetamisväärset riski. Hiljem sama
    mees, olles raskustes dokumentide saamisega sõjakomissariaadist, kavatses tarvitada tütarlapse abi, kes varem oli
    „tähelepanuta“ jäetud, ja kes tõenäolikult ei näinud väljaminekus mingit sangarlust. Haletsemisväärne rabelemine oma
    näruse elu pärast, kus unustatakse igasugune väärikus. Teine väljaläinu „poeb“ sellega, et võtab
    seltskonnategevusest aktiivselt osa, näidendis ja laulukooris. Varem, „kampas“ olles pidasin selliseid närususi
    nende meeste poolt küll võimatuks.
  </div>
  <div class="p">
    Kuna sügis oli pikk ja lumetu, siis juhtus veel mõndagi. Koomilisem oli lant Lätimaale, kommunisti tallu, kust võeti
    mõnevõrra majakraami. Mees ise pääses nahatäiega. Talu hõivamisel, mis nagu tavaliselt läks pauguta, juhtus, et
    majaelanikud kippusid käest ära põgenema, küll pööningule, küll keldrisse, kust nende väljatoomisega oli igavene
    „hiirejaht“, nagu ütlesime. Süüdi oli nõrk valgustus. Siis rööviti Ruusmäe miilitsa naist (Noortoots). Pähni
    metskonda. Sügis oli sarnasteks asjuks pikk ja väga soodus. Väike lumekirme püsis kuni 13. jaanuarini 1947. Jõulu ja
    uus-aasta vahel juhtus jälle midagi. Kõrgepalu vallas Piirikolgas elava Kallase tallu ilmusid 2 erariides meest,
    lasid võtta 3 punaarmeelased püssilukud välja ja lasid Kallase (hävituspat. M,3 ees) maha. Asi toimus päeval.
    Haarang ei andnud tulemusi. Inimesed, kellega sellest tehti juttu, ütlesid vaid, et Kallas oli surma täitsa ära
    teeninud.
  </div>
  <div class="p">
    Saabusid jõulud. Veetsin need väga hästi. Kuigi jõulukuu oli külm, lund ei olnud veel, nagu oleks vanajumal meiega.
    Jõulu paiku sain omale ka mänguriista, millega /../ aega viita. Vahepeal oli väike uudis raadios: Truman nimetas
    Byrnes’i asemele välisministriks kindral Marschalise
    <i>/Marshall/</i>
    ja teised uudised, kuigi väiksed, ent kõik, mis vihjavad sõjale tulevikus, on meile väga rõõmustavaks uudiseks.
    Kuigi polnud konkreetseid märke sõjast kõige lähemas tulevikus, katsusime endid ikkagi uskuma panna selle
    võimalustes.
  </div>
  <div class="p">
    Detsembris oli meie asupaiga lähemas naabruses rida vargusi, mis mõnevõrra häirisid. Tegelikult meie, metsamehed,
    vähemalt minu tutvusringkonnas, niisugust „musta tööd“ ei tee.
  </div>

  <h3>METSAELU 1947</h3>

  <div class="p">
    13. jaan. tuli korralik talv lumega. Ent täna, 16. jaan tuli sulailm ühes lõunatuulega. Tibab vihma. Sulailm ühes
    lõunatuule ja harvade vihmahoogudega kestis kuni hilisõhtuni, so. 18. õhtuni, sulatades lume peaaegu täiesti. Nurmed
    on täitsa mustad, ainult metsa all ja s/..../ laiguti pisut, ojad aina vulisevad. Ent pühapäeva hommikul pöördus
    tuul põhja ja loodesse, kahutas ja viskas /..../
  </div>
  <div class="p">
    Esmaspäeval, 20. I. tuli ja tegi k...
  </div>
  <div class="p">
    Laupäeval, 18.. õhtul välja minnes /.../ keegi oli luusinud metsas, meie punkrist ca 150 m kauguselt. Jälgede järgi
    otsustades võis olla see ainult kas metsavaht ehk nuuskur, tõenäolikult esimene.
  </div>
  <div class="p">
    Jaanuaris sain täiendavalt kuulda hävituspat. mehe Kallase tapmislugu. Nimelt olid talus 3 venelast, relvastatud
    konepüstolitega, nendest kodus 2 meest, kui keskpäeva paiku saabusid tallu 2 korralikult riietatud meest, näiliselt
    relvata, ja tutvustasid end kui NKVD agendid. Kallas, kes saagis kuuri all puid, uskus seda. /..../ jäi K juure
    juttu ajama . /..../ läks tuppa. Toas olid 2 /... ..../ käsutas partisan käed /.../ relvadel (rattaga /..../aknast
    välja ja kasetid alt. /..../ saabus ka Kallas ja teine /..../ Kallaselt hakati omakorda /.../. See ütles esiti, et
    relv olla /.../ naabrite pool. Üks ban/....// ...../ks. Kaasa ühes välja, - relva /.../ Minnes üle muru, pani Kallas
    jooksu, hüüdis teine bandiit ukse lävelt; “Pane!“ K-d saatev bandiit tulistas, tabades K-d jalgadest esiti.
    Teistkordsel tulistamisel rindu. Mees langes. Bandiidid võtsid venelaste 2 konepüstolit ja lahkusid. Huvitav, et
    bandiidid, eksinud metsas ja teinud ringi, saabusid uuesti tapetud K. talu juurde. Sealt nad läksid uuesti minema ja
    jõudsid nüüd sekeldusteta oma asukohta.
  </div>
</div>