<h1>Rõuge ja Viitina</h1>

<div id="region-map" data-region-map="rouge" class="image-left" style="height: 200px; width: 300px; z-index: 0"></div>
<p>
  Sellel lehel on kokku võetud Rõuge ja Viitina piirkonna metsavenna Auleid Toomsaluga seostatud inimesed ja sündmused.
  <br />
  Andmed pärinevad peamiselt RJM (Riikliku Julgeolekuministeeriumi) uurimistel saadud tunnistustest. Tõeväärtuse
  hindamisel võiks arvesse võtta mitut asjaolu. Nii eeluurimine kui sõjatribunali kohtupidamine ei toimunud õiguse-,
  vaid süüdimõistmiseks. Seetõttu süüalustele ei lubatud kaitsjat ja toimikutes leiduvate tõendite saamiseks kasutati
  eeluurimisel vägivalda ja piinamist. Ka süüaluste endi ütlusel on ülekuulajad lisanud tunnistusi, mida nad pole
  väitnud.
  <br />
  Tunnistuste kokkulangevusel kujuneb siiski üldpilt, mida on võimalik kirjeldada. Inimeste loomulik ja elurõõmsam pool
  selles pildis peaaegu puudub. Ometi oli seegi oma ilus olemas.
</p>
<p>Andmed on jaotatud järgmiselt:</p>

<b>OLUD</b>
<ul>
  <li>metsavendadesse puutuvalt</li>
  <li>parteilastesse puutuvalt</li>
</ul>
<b>ELUD JA SÜNDMUSED</b>
<ul>
  <li>metsavendade elukäigud kuni metsa jõudmiseni</li>
  <li>julgeoleku uurimistoimikutes käsitletud metsavendade tegevus</li>
  <li>metsavendade elukäigud kuni metsaelu lõpuni</li>
</ul>
<b>RJM JA PROPAGANDA</b>
<ul>
  <li>värbamine, operatiivettekanded</li>
  <li>nõukogude ajal avaldatud kirjutiste võrdlus toimikuandmetega</li>
</ul>

<p>Lisatud on kaardid, nimekiri metsas olnud isikutest ning leidunud fotod. Punkrikohad kaardil on ligikaudsed.</p>
<p>
  Kasutatud materjalid:
  <br />
  Auleid Toomsalu, tema salga liikmete ning abiliste uurimistoimikud Riigiarhiivis, RJM eriinspektsiooni
  uurimistoimikud, EK(b)P KK büroo otsused ja partei algorganisatsioonide infotoimikuid fondides ERAF.129SM; ERAF.130SM,
  ERAF.1.4.834, ERAF.134SM, ERAF.401; ERAF.18.7.41; ERAF.65., ERAF.131SM
  <br />
  Meelis Saueauk „Nõukogude julgeolekuorganite ja Eestimaa Kommunistliku Partei koostöö Eesti sovetiseerimisel aastatel
  1944-1953“
  <br />
  Martin Mark „Saarlasõ küla läbi sajandite“
  <br />
  Aksel Sprenki päevik
  <br />
  Malev Kits „Haanjamaa monumendid“, Tallinn: Kirjastus "Eesti raamat" 1968
  <br />
  Hans Salm „Mõrv metsateel“, Ajaleht „Kodumaa“, 10.04.1985, lk 6 - 18.02.1987, lk 7
</p>
<p>
  Tänu abi eest: Ave ja Mart Madistele, Mati Kalkunile, Ahto Kevvaile, Arnold Untile, Tiit Noormetsale ja Siiri
  Kaharile. Kodulehe teostas Madis Pukkonen ja kaardid tegi Eduard Pukkonen.
</p>
<p>Lehte on võimalik täiendada.</p>
<p><b>Mari Pukkonen, mai 2014</b></p>
<p>
  e-kiri:
  <a href="mailto:maripukkonen@gmail.com">maripukkonen@gmail.com</a>
</p>
<p>
  <i>
    NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe
    autori nõusolekul.
  </i>
</p>
