<div class="content">

	<h1>Metsavend Toomase (ehk Simo Pihlapuu) rahatasku sisu.</h1>

	<div class="p">
		Aaro Pihlapuu andis selle rahatasku pärast venna Simo surma tema kallimale.
	</div>

	<a class="magnific-popup-image" href="/images/rouge/rahatasku_1.jpg">
		<img class="image_left p200" src="/images/rouge/rahatasku_1.jpg">
	</a>

	<div class="p">
		Viimase kallima portree, austajannade kirjad, rohupulbrite voldikud, "Nõnda kõneles Zarathustra" ümberjutustus jms.
	</div>

	<div class="br"></div>
	<div class="p"></div>

	<a class="magnific-popup-image" href="/images/rouge/rahatasku_2.jpg">
		<img class="image_left p150" src="/images/rouge/rahatasku_2.jpg">
	</a>

	<div class="p">
		Viimase kallima juuksekihar koos langemiskohast korjatud taimedega ja riba "Toomase" riietest. 63 ja pool aastat hiljem, kui hoidja lokid on juba ammu valged.
	</div>
	<div class="br"></div>

	<div class="magnific-popup-gallery">
		<a href="/images/rouge/rahatasku_3.jpg"><img src="/images/rouge/rahatasku_3.jpg" title="Pilt metsast."></a>
		<a href="/images/rouge/rahatasku_4.jpg"><img src="/images/rouge/rahatasku_4.jpg" title="Südamedaamile kingitud akordioni 'õpik'."></a>
		<a href="/images/rouge/rahatasku_5.jpg"><img src="/images/rouge/rahatasku_5.jpg" title="Skeem tundmatust kohast."></a>
	</div>

	<div class="br"></div>
	<div class="p"></div>

	<a class="magnific-popup-image" href="/images/rouge/rahatasku_6.jpg">
		<img class="image_right" src="/images/rouge/rahatasku_6.jpg">
	</a>

	<div class="p">
		Lugesin närviliselt neid ridu kus kirjutad,
		<br>
		et oled haige. Kuidas võin seda omale ette
		<br>
		kujutada et inimene on aastaid kandnud
		<br>
		suurt koormat, lisaks sellele lamab nüüd haigena
		<br>
		voodis. Tundub, et oled ehk kaunis raskesti
		<br>
		haige siis oleks arst ja haigla hädavajalik.
		<br>
		Loodan, et arstki on Sulle midagi kirjutanud
		<br>
		ja kui see ei aita peaksid tõesti leidma tee
		<br>
		haiglani. Muuseas on minul tutvusi Tallinna
		<br>
		haiglas aga mina ise ole sama......, et
		<br>
		saaksin Sind kuidagi aidata. Et oled haige
		<br>
		ei olnud minule enam uudiseks, kuna
		<br>
		veebruarikuu päevadel ulatusid minunigi
		<br>
		teated Sinust ja esialgu palju halvemad
		<br>
		nimelt võis oletada Sinu kaotust. Kuid
		<br>
		hiljem kujunes asi teisiti. On ju kahju igast
		<br>
		eestlasest. See kes jäi sinna lumisele väljale
		<br>
		on mulle võõras-tundmatu. Aga Sina...
		<br>
		Kiri 11.06.1949, Allkiri: Külmpühapäev
	</div>

	<div class="p">
		Materjal: <b>Arnold Unt</b>
	</div>

</div>
