---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/elukaigud_enne_1944/
---
<h1>Elukäigud metsaminekuni</h1>

<div class="toc-container">
  <p class="font-semibold text-center">Sisukord</p>
  <ul class="p-0">
    <li><a href="#ants-aunver">Ants Aunver</a></li>
    <li><a href="#johannes-heeska">Johannes Heeska</a></li>
    <li><a href="#robert-heeska">Robert Heeska</a></li>
  </ul>
</div>

<h3 id="ants-aunver">Ants Aunver</h3>

<img class="lg-img image-left w-[30%]" src="/images/sangaste/fotod/ants_aunver1.jpg">
<img class="lg-img image-right w-[30%]" src="/images/sangaste/fotod/ants_aunver_perekond.jpg">

<p>
  Ants Aunver (enne eestistamist Jaan-Ants Albrecht) sündis Urvaste kihelkonnas Keema-Mihkli talus 13.01.1910. Peres
  kasvas ees 3 vanemat õde. Talu oli suur - 30 ha põllumaad, 4 hobust, 12-14 lehma, viljapuuaed, mesilased, vajalikud
  põllutöömasinad. Töödeks palgati sulane ja hooajatöölisi. Põllupidajate seas oli väga lugupeetud ka Ants Aunveri lell,
  Kuldi talu peremees Peeter Albrecht. Teine lell, Jakob Albrecht, oli kirikuõpetaja Jüris, pärast sõda paguluses
  Uppsala eesti koguduse hingekarjane.
  <img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/aunver_voistlustel.png">
</p>

<p>
  Pärast gümnaasiumi lõpetamist Võrus 1926. a õppis ta edasi Olustvere põllumajanduskoolis ja praktikal. Järgnes
  ajateenistus Eesti Kaitseväes, kus sai vanem allohvitseriks. 1931-1940 kuulus Kaitseliitu ja oli jaokomandöri abi
  Vaabinas. Ta oli täpne laskur (patrullvõistlustel esikoht) ja Kaitseliidu kolmevõistluses esikohal.
</p>

<div class="br"></div>

<p>
  <b>Okupatsioonide tulek</b>
</p>

<p>
  Juuniküüditamise käigus 14. 06.1941 veeti küüdiešelonidesse kokku ka Kaitseliidu juhid koos naiste-lastega.
  Kaitseliidu jaokomandör Julius Kets, kelle alluvuses Ants Aunver oli, saatis talle Antsla jaamas seisvast ešelonist
  teate. Kirjas soovitas ta Aunveril varjuda, sest oli näinud teda küüditatavate nimekirjas. Ants Aunver varjuski koos
  õemehe August Püvi ja Antsla linapunkti juhataja Jamaroviga metsa. Ants Aunveri relvaks oli Linnamäe mõisnikult
  Maydellilt ostetud püstol Parabellum, mille see müüs enne lahkumist Saksamaale 1939. a. Püvil oli püstol, Jamarovil
  vintpüss.
</p>

<blockquote>
  AA: Ehitasime elamiseks onni. Aja viitmiseks lugesime raamatuid, mängisime kaarte. Toitu tõime salaja kodust. Vahel
  külastasin Johannes Heeskat, kes varjas end oma talu lähedal Laura küla juures Linnamäel. Heeskat tundsin juba enne
  Kaitseliitu astumist. Pärast sõja algust rinde liginedes kogunesime Heeska Johannese talu juurde, et arutada kujunenud
  olukorda. Sinna tuli veel mehi. Otsustasime kaitsta talusid ja muud inventari hävituspataljonide süütamiskatsete eest,
  vajadusel relvajõul. Otsustasime pidada silmas nõukogude sõdurite ilmumist ja vajaduse korral talupidajaid relvaga
  kaitsta. Ümbruse jälgimiseks kasutasime kohalike talupidajate abi. Otsustasime, et Püvi August juhib valvet Antslas ja
  selle ümbruses, Heeska Johannes Linnamäe vallas ja mina Kurenurme jaama ümbruses. Kurenurme raudtee ümbrusse metsa
  kogunesid koos minuga metsavennad Heeska Robert, Luksepp August, Sarapuu Jaan ja Valla Jaan. Ümbruskonna talunikele
  teatasime, et kui peaksid ilmuma vägivalda tarvitavad nõukogude sõdurid, tuleb mulle teada anda. Otsustasime
  repressioonide esilekutsumist vältida ja ise aktiivselt mitte tegutseda, kuna metsavendade rühm oli väike ja napi
  relvastusega.
</blockquote>

<p>
  Linnamäel relvakokkupõrkeid taganevate punastega ei toimunud. Urvaste vallas heiskasid Veikoni ja Linnumäe talud 4.
  juulil rahvuslipud, Soome ja Saksa raadiojaamade ennatlike teadete peale Valga langemisest Saksa vägede kätte. 5.
  juulil mõrvas Saksa vägede ees taganev hävituspataljonlaste salk seal täägilöökidega 16 aastase Linnumäe talu perepoja
  Tullio Lindsaare, kes karjatas loomi.
</p>

<blockquote>
  AA: Me võitlesime venelaste vastu, sest nad põletasid külasid. Meie plaan ei näinud ette hävitada taganevat Vene
  sõjaväge, vaid need isikud, kes jäid meie taludesse röövimise eesmärgil. Pärast vägede taganemist kavatsesime võtta
  võimu enda kätte ja kehtestada, õigemini taastada, kodanlik riigikord Eestis. See kavatsus ei teostunud, kuna
  sakslased tulid kohe peale. Taganemise ja sissetungi vahe oli äärmiselt lühike.
</blockquote>

<p>
  Mõne päeva vältel pärast sakslaste saabumist hoidsid metsavennad veel korda teeristidel, ülesõitudel jm. Pärast
  eestiaegse politseiülema Ennoki taastamist teenistusse sai Ants Aunver temalt ülesande luua metsavennagruppide põhjal
  valveteenistus, millest moodustus Omakaitse. Ants Aunver määrati Vaabinasse Omakaitse jaoülemaks.
</p>

<blockquote>
  Ülesandeks oli hoida korda sakslaste tagalas, organisatsioon tegutses koostöös politseiga. Omakaitsesse astumine oli
  vabatahtlik. Liikmed osutasid valveteenust ja võtsid kinni kohalikke nõukogude aktiviste. Mina sain politseiülemalt
  Ennokilt korralduse koostada nimekiri kohalikest nõukogude aktivistidest, kuhu kandsin umbes 10 nime. Mingeid
  süüdistusmaterjale ma nende kohta ei koostanud, kuna arvasin, et selle põhjal võidakse neid karistada liiga rangelt,
  kuni mahalaskmiseni välja. Tellisin Antslast veoauto ja arreteerisin koos kohalike omakaitsetöötajatega need
  aktivistid ja saatsin nad valve all politsei käsutusse Võrru. Vaabina vallas, sel ajal kui ma Omakaitse jaoülem olin,
  mahalaskmisi ei esinenud.
</blockquote>

<p>
  Kinni peetud isikute käekäik: 1. Voitka Elmar (nõukogude aktivist, esines miitingul kõnega „kulakute“ vastu, oli
  uusmaasaaja Aunveri talu maadest - vabanes Võrust kahe nädala pärast), 2. Kants Leeni (kommunist, nõudis
  maareformikomisjonilt endale juurdelõiget ja kui ei saanud, kaebas komisjoniliikmete kui Kaitseliitu ja Isamaaliitu
  kuulunute peale) - sai 3 kuud töö- ja kasvatuslaagrit ja siis vabastati. 3. Siska August (Rõuge vallast, bolševike
  pooldaja 1926, Isamaaliidu revisjonikomisjoni liige Eesti ajal, Vene punavõimu ajal töötas täitevkomitees, Saksa ajal
  Rõuge Omakaitses) - karistus 4 kuud koonduslaagrit, 4. Ragul Aleksander (1926. a Tšeljabinskist Eestisse tulnud
  optant) - tehti politseiline hoiatus ja vabastati 5. Teder Karl - vabastati kohe pärast küsitlemist Linnamäel, 6.
  Hõrak Rudolf (kuulus maakomisjoni) - vabastati Võrust kahe nädala pärast 7. Saar Juhan, 8. Ader Amalia (küsitleti
  vabaabielumehe, end varjava maakomisjoni esimehe Mikkelsaare kohta) - pärast küsitlemist vabanes, 9. Kerge Elmar
  (uusmaasaajana võttis Heeska Roberti talust maad) - anti 1 tund talust väljakolimiseks, pärast küsitlemist vabanes,
  10. Mägi Johannes (ärandas talupidajatelt hobuseid „nõukogude patriootide tarvis“) - vabastati Võrust 10 päeva pärast.
</p>

<p>1941. a augustis asus Ants Aunver tööle Võru vanglas valvurina.</p>

<blockquote>
  AA: Vanglasse läksin tööle, kuna vangla ülem Jaan Luik oli tuttav, temaga elasime varem Kurenurmes lähestikku. Pärast
  Eesti okupeerimist sakslaste poolt teadsin, et varsti toimub mobilisatsioon Saksa armeesse. Ma ei tahtnud Saksa armees
  teenida ja seetõttu astusin vangla teenistusse, kust ei pidanud armeesse minema. Leppisime Jaan Luigega kokku ja ta
  võttis mu vangivalvuriks. Sügisel 1942 nimetati mind vanem vangivalvuriks, sellel tööpostil olin kuni sakslaste
  taganemiseni. Nõudsin vangidelt vangla korrast kinni pidamist ja olin kohustatud korrarikkumistest vangla ülemale ette
  kandma, temal oli õigus karistada vangi kartseriga. Minul valvurina mingit õigust vange karistada ei olnud.
  Vanglateenistujad surmanuhtlusi ei toimetanud. Mahalaskmisele määratud pandi eraldi kambrissse. Öösel viisid Saksa
  sõdurid või kohalikud omakaitselased nad kuhugi mahalaskmisele. Kus kinnipeetuid maha lasti, ma ei tea. Samuti ei tea
  ma ühtegi isikut, kes mahalaskmistest osa võttis.
</blockquote>

<blockquote>
  Salme Ruud (Kuldre postiülem): 1942 ja 1943 töötas Aunver Võrus vangimajas. Tihtipeale tõi ta oma tallu tööle
  vangisid. Mäletan, et kord kartulivõtmise aegu oli tal üle 10 vangi tööl. Mitmel korral tõi ta oma tallu grupi
  kinnipeetavaid, u 10 inimest, kes tegid erinevaid põllumajandustöid. Mingeid fakte ebaseadusliku käitumise kohta
  vangide suhtes Aunveri poolt ma ei tea.
  <br>
  Vang Johannes Mägi iseloomustab Aunverit: Suhtumises kinnipeetavatesse oli Aunver range. Kuid mingeid fakte
  vägivallast, mõnitamisest või muust ebaseaduslikust tegevusest Aunveri poolt kinnipeetavate suhtes ma ei tea. 1942.
  või 1943. a töötasid 3-4 mehelised kinnipeetavate grupid peaaegu nädal aega Aunveri talus Antsla rajoonis. Kaevasime
  auke viljapuude istutamiseks ja tegime aeda viljapuuaia ümber. Valvas meid Aunver ise. Midagi halba Aunveri suhtumises
  kinnipeetavatesse tema talus töötades ei olnud.
  <br>
  Vidrik Pärgmäe: Midagi halba ma tema kohta ei kuulnud ei kinnipeetavatelt ega valvuritelt. Mul tuli sageli saata
  kinnipeetavaid erinevatele töödele väljapoole vangla piire. Mõned kinnipeetavad rääkisid minu kuuldes temast väga
  positiivselt. Mäletan, et esimestel teenistuskuudel sõitis Ants Aunver arreteeritutega Kurenurme Sõmerpalu rajoonis.
  Kord saatis ta minu juurde metsa ühe rühma arreteerituid. Jutuajamisel kinnipeetavad rääkisid, et neil oli Aunveri
  juures hea olla.
</blockquote>

<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/aunveri_tunnistus1.JPG">
<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/aunveri_tunnistus2.JPG">

<p>
  Saksa okupatsiooni ajal oma õemehe August Püviga kohtudes rääkis viimane talle organisatsioonist Suur-Soome, mis
  organiseeris võitlust nõukogude okupatsiooni vastu Eestis ja mis sakslaste taganemisel pidi taas välja kuulutama
  iseseisva Eesti kodanliku vabariigi. Püvi käis Saksa ajal korduvalt salaja üle lahe Soome, pidas sidet admiral Pitka,
  A. Warma jt-ga. Püvi kaudu teadis Aunver inglaste huvist organisatsiooni vastu. Sellest organisatsioonist rääkis ka
  Omakaitse roodukomandör Endel Saarna. Organisatsiooni eesmärgid ja ülesanded ühtisid Aunveri vaadetega ja ta nõustus
  Saarna ülesandel kindlaks määrama kohad, kuhu lennukid saaksid maha panna liitlasvägede sõdureid okupatsiooniarmeele
  vastuhakuks. Dessanti oodati Rootsist. Ants Aunver koos Johannes Heeskaga sõitsid sobivaid kohti otsides saaniga
  ringi, sõelale jäi üks põld Pulli küla lähedal Sõmerpalus ja pika Lõõdla järve talvine jääkate. Saarnalt sai Aunver
  ülesande hankida põrandaalusele organisatsioonile relvi. Sellel eesmärgil omastas Aunver 1943. a Võrust koju Kurenurme
  sõites Saksa platvormvagunilt 10-15 saksa vintpüssi ja ligi 2 kasti laskemoona, peites kraami oma tallu tuleviku
  tarbeks.
</p>

<blockquote>
  AA: Saksa okupatsiooni ajal osalesid rahvuslikus liikumises veel Keem Richard, Pruus Avo, Lukk ja Must. Pruus Avo
  arreteeriti Saksa ajal ja teda peeti kaks nädalat kinni Võru vanglas. Pärast Pruusi vabastamist rääkisin ka Saarnaga.
  Ta ütles, et Pruusi oleks pidanud varem vanglast vabastama. Sellest järeldasin, et Pruus kuulus nende organisatsiooni.
  Kord Saksa okupatsiooni ajal Võrust koju Kurenurme sõites kohtasin rongis juhuslikult Pruusi, Keemi, Lukku ja Musta.
  Nende jutust ilmnes, et neil oli kaasaskantav raadiojaam ja ja nad sõitsid Tallinna. Mis eesmärgil, ei tea, ei mäleta,
  et me oleks sellest rääkinud. Jutus nimetasid nad Püvi Augustit, järeldasin sellest, et Püvil oli nendega side
  põrandaaluses rahvuslikus organisatsioonis. Arvan, et raadiosidet peeti Soomega.
</blockquote>
<a
  class="lg-img"
  href="/images/sangaste/fotod/ants_aunver_kaardimang.jpg"
  title="Vasakult: Aliide Samarüütel, Luule Puussaar, Ants Aunver"
>
  <img
    alt="Vasakult: Aliide Samarüütel, Luule Puussaar, Ants Aunver"
    class="image-right w-[30%]"
    src="/images/sangaste/fotod/ants_aunver_kaardimang.jpg"
  >
</a>
<p>
  Rinne lähenes ja 1944. a läks Ants Aunver rinde ülemineku ajaks Johannes Heeska tallu Linnamäel, koos oma naise Aliide
  Samarüütliga, kellega ta oli Võrus 1942. a. abiellunud. Rinde lõunasse liikudes jäi Ants Aunver Johannes Heeska tallu
  metsavennaks. Naine lahkus Võrumaalt Tallinna raamatupidajaks.
</p>

<blockquote>
  Heeska Johannese juures viibisin mõned päevad, seejärel varjasin Sõmerpalus Rummi külas Kõuhkna talus Johannes Heeska
  naise vanemate (August Kivi) juures. Küüni heinte alla oli tehtud laudadest peidik, kus Saksa okupatsiooni ajal oli
  Johannes Heeska end Saksa mobilisatsiooni eest mõnda aega varjanud. Ta pakkus oma peidikut mulle nõukogude võimu eest
  varjamiseks. August Kivi teadmisel jäin sinna. Päeval olin majas, ööseks läksin oma varjupaika. August Kivi poole
  käisid ka Aksel Pallav, Avo Pruus, Keem, Lukk ja „Timo“. 1944 a detsembris ehitasime koos Johannes Heeska, Aksel
  Pallavi ja „Timoga“ Võhandu jõekääru Pulli küla lähedale Linnamäel endale punkri, kus varjasime peaaegu märtsini 1945.
  Jõekalda alla tehtud punkri kohas ei külmu vesi 600m jõekäänaku ulatuses ja aasta läbi pääses sinna paadiga, paat
  peideti punkri ette voolu poolt uuristatud koopasse.
</blockquote>

<p>
  Nii naabervallas Sõmerpalus kui Linnamäel oli punavõimu vägivald jõhker ja röövellik ning vastupanu sellele verine.
</p>

<h3 id="johannes-heeska">Johannes Heeska</h3>

<p>
  Johannes Heeska sündis 17. 06.1910 Urvaste kihelkonnas Heeska talus (talu suurus 21 ha). Linnamäel lõpetas ta 4 kl
  algkooli ja pidi hakkama isatalus tööle. Isa surma tõttu sai Johannes Heeskast 15 aastaselt talu ülalpidaja. 1931-1932
  teenis ta Eesti sõjaväes, väljaõppe sai telegrafistiks. 1928-1940 kuulus Kaitseliitu. 1935. a abiellus Alma Kiviga,
  sündis tütar.
</p>

<p>
  Nõukogude vene okupatsiooni ajal hakkas Johannes Heeska end varjama juunis 1941 koos eestiaegse politseiniku Johannes
  Ülenurmega (Aunveri tädipoeg).
</p>

<blockquote>
  Johannes Ülenurmel oli metsas raadioaparaat ja kuulasime pidevat saateid rahvusvahelisest olukorrast, sealhulgas ka
  saateid Soomest. Paiknesime metsas Pulli ja Heeska küla lähistel, magamas käisin oma talus. Sõja alguses hakkasid end
  varjama ka nõukogude armeest hoiduvad noored.
</blockquote>

<p>
  Kõik metsasolijad varjasid oma talude lähedal, päevasel ajal koguneti ja arutati päevakajalisi poliitilisi probleeme
  (vene toimikukantseliidis: organiseerusid kodanlik-natsionalistlikud banded ehk „metsavennad“, kuulati fašistlikke
  raadiosaateid Soomest ja Saksamaalt eesti keeles.)
</p>

<blockquote>
  Kõigi metsavendade sooviks oli Nõukogude võimu kaotamine Eestis. Relvadest sain ma Ants Aunverilt Jaapani vintpüssi
  (karabiini), teistel oli erinevat relvastust, vintpüsse ja püstoleid, mõnedel olid vaid jahirelvad.
</blockquote>

<p>
  Nuhk kui nuhtlus:
  <br>
</p>

<blockquote>
  Ühel õhtul juunis 1941 läksin oma talust metsavendade kogunemiskohta ja kohtasin teel ootamatult Pulli küla elanikku
  Jaan Ketsi. Märkasin teda ja hüppasin põõsastesse, kuna metsavendade hulgas levis kuuldus, et NKVD on pannud Jaan
  Ketsi metsavendi jälitama. Nähtavasti ta oli mind märganud ja tuli samuti põõsastesse, et vaadata, kuhu ma kadusin. Ma
  vihastasin ja virutasin talle püssipäraga. Mu vintpüss läks pooleks ja pihku jäi ainult püssiraud. Ta kukkus, tõusis
  püsti ja pani jooksu. Mina samal ajal hüüdsin abi ja ähvardasin, et pole vaja meid jälitada. Pärast seda jätsin ta
  rahule ja pöördusin metsavendade juurde tagasi, andsin ka neile juhtunust teada.
</blockquote>

<p>
  Juuli algul 1941, kui sakslased olid Valgas sees ja kohe-kohe jõudmas Linnamäe valda, moodustus Antsla ja Linnamäe
  vallas kaks metsavennagruppi. Ühte juhtis August Püvi ja sinna kuulusid peamiselt Antsla linna elanikud, teist juhtis
  Ants Aunver ja sinna kuulusid Linnamäe metsavennad. Johannes Heeska kuulus teise rühma koos Johannes Ülenurme, Eduard
  Brikkeri, Rein Märdimäe, Eduard Värtoni, Gustav Pallavi (arr 1945), Andres Voltini ja Voldemar Rohtiga. Rühma eesotsas
  olid Ants Aunver ja keegi Kalk Tallinnast.
</p>

<blockquote>
  HJ: Saksa vägede lähenedes kogunesid kõik metsavennad ühisesse laagrisse Mustajõe metsas, soos. Sain sellest teada oma
  tuttavalt Ants Aunverilt, kes koos August Püviga olid Mustajõe laagris metsavendade juhtideks. Meie Johannes
  Ülenurmega varjasime endiselt oma talude lähedal, kuid pidasime Ants Aunveri jt metsavendadega pidevalt sidet. Juuli
  alguses 1941 kuulsime, et sakslased on Valga ära võtnud. Ühel õhtul sain Ants Aunverilt kirja, et tulgu kõik
  metsavennad õhtul Utita veskisse. Veskiomanik Voldemar Roht oli ka metsas. Ants Aunveriga olime varem mitu korda
  kohtunud ja arutanud, kuidas nõukogude hävituspataljonidele vastu hakata. Ants Aunver ütles, et kui nad püüavad meie
  talusid maha põletada, tuleb neile relvastatud vastupanu osutada. Relvade saamiseks plaanis Ants Aunver rünnata
  nõukogude sõjaväeosa, mis dislotseerus Kurenurme jaama lähedal, kuid millegipärast rünnakust asja ei saanud. Kui me
  Utita veskisse jõudsime, oli seal lähedal metsas u 25-30 meest. Veskiomanik Roht helistas veskist vallamajja. Sealt
  keegi ei vastanud ja otsustasime vallamaja üle võtta. Siirdusime läbi küla Linnamäe vallamajja (u 3 km Linnamäe
  külast). Rünnakut juhtis Tallinnast keegi Kalk, kes varjas end oma venna juures Sõmerpalu vallas. Kalki abiline
  kohalikest olin mina. Linnamäele jõudes osa meist eraldus ja ühines Ants Aunveri grupiga, kes võtsid samal õhtul üle
  Kurenurme raudteejaama. Meie grupp suundus vallamajja, kui oli juba pime.
</blockquote>

<p>Omakaitse ülevaade “Punavõimu lõppevad päevad ja uue võimu kujunemine maakonnas“:</p>

<blockquote>
  Linnamäe vallas teotses 2 metsavendade gruppi. Heeska grupp nr24 juht endine kaitseliitlane Johan Heeska. Koosseis 10
  meest, 2 sõjapüssi ja 2 püstolit. Asukoht metsas, Linnamäe vallamajast 0,5 km põhjas. Kuni 8. juulini vooris
  Linnamäelt läbi Punaarmee riismeid ja metsavendadel ei olnud võimalik tegevusse astuda viletsa relvastuse tõttu. 8.
  juuli öösel tungis Heeska metsavendade grupi juht Johannes Heeska ühes 3 metsavennaga vallamajja, tõi sealt välja
  punase lipu, punase nurga sisustuse, seintel asunud pidid ja loosungid ja panid keset maanteed põlema.
</blockquote>

<blockquote>
  Linnamäe külavolinik AE: Vallamaja juurde minnes ütles keegi metsavendadest, et kommud on läinud, võim on meie käes ja
  mul kästi kaasa minna. Küsisid, kus on Richard Vilson ja selle vend Herbert. Peale minu ja Vilsonite pidasid nad kinni
  külavoliniku abi August Halleri (hukkus nõukogude armeees 1944). Meid konvoeeris Rein Märdimäe. Metsavendade juhid
  olid Johannes Heeska ja üks tundmatu hallis ülikonnas (so. Kalk). Vilsoni arreteerimisel tahtis mees hallis ülikonnas
  teda maha lasta, aga Karl Kuus keelas, et pole vaja tappa. Mees hallis ülikonnas pidas Johannes Heeskaga korduvalt
  nõu.
</blockquote>

<blockquote>
  HJ: Kalk ja Pallav Gustav lõhkusid vallamaja akna ja sisenesid ruumidesse. TK punanurgast visati välja kõik loosungid,
  portreed ja raamatud ja pandi need vallamaja ees tee peal põlema. Mina läksin ka läbi akna hoonesse ja helistasin
  Antslasse. Küsisin, mis seal tehakse, naishääl vastas, et Antslas on kõik korras ja nii ma ei saanudki aru, kas
  Antslas on nõukogude võim veel sees või mitte. Ööseks läksin koju. Järgmisel hommikul kohtusin Kurenurme jaamas Ants
  Aunveriga. Ta ütles, et Kalk jt sõitsid Valka, lootuses sakslaste käest relvi hankida. Seniks organiseerisime koos
  Johannes Ülenurmega Utita veski kaitse ja valvasime seda kuni sakslaste saabumiseni. Metsavendade juhtimise võttis üle
  varasem Kaitseliidu jaokomandör Linnamäel – Voldemar Saar. Saksa okupatsioonivõimu tulekul asus Voldemar Saar
  moodustama metsavennarühmast Omakaitset, mille liikmeks minagi sain. Linnamäe vallamaja ülevõtmisel metsavennad kedagi
  kohalikest nõukogude aktivistidest ei arreteerinud.
</blockquote>

<p>
  Juuniküüditamist ja maareformi juhtinud täitevkomitee (TK) esimees Richard Vilson arreteeriti umbes nädal hiljem ja
  vabastati ööpäeva möödudes. Nädala pärast arreteeriti taas ja viidi 2-3 päevaks Antslasse, misjärel vabastati uuesti.
  Detsembris 1941 kutsuti ta taas Võrru, kust tagasi ta ei tulnud. 1944 jäi ta kadunuks Tallinna vanglas.
</p>

<p>
  Venemaalt opteerunud August Tiitus, kes 1919 oli võidelnud Punaarmees, Lümatu külla kolinud 1939. a, pidas Linnamäe
  TK-s 1940. a punanurka.
</p>

<blockquote>
  1940. a ja kuni 1941. a pitasin oma ruumites punast nurka ja lukemis lauta, mille pärast mind ka areteriti. See oli 11
  juulil 1941. a. ja paigutati Võru vankla, kus olin Punaarmee tulekuni.
</blockquote>

<p>
  13.07. 1941 tuli Omakaitse Tiitust arreteerima. Talle anti aega riidesse panemiseks ja söömiseks ning viidi
  vallamajja.
</p>

<blockquote>
  Arreteerija: Tiitus magas heinaküünis, kus Saar ta üles äratas ja ütles, et ta peab vallamajja kaasa tulema. Saar ja
  Heeska tegid tema majas läbiotsimise, mida nad otsisid, ma ei tea. Järve äärde jõudes ütles Saar mulle, et ma viiksin
  Tiituse vallamajja, nad ise lähevad ujuma. Tiitus palus, et laseksin tal üksi minna. Täitsin ta soovi ja läksin ära
  koju.
</blockquote>

<p>
  Johannes Heeska varjas end ka Saksa ajal, sest sügisel 1943 keeldus ta tasumast Saksa riiginorme põhjendusega, et tal
  ei ole midagi anda.
</p>

<p>
  Nõukogude võimu tulekul 1944. a hoidis Johannes Heeska kõrvale mobilisatsiooni eest, varjates end naiseisa August Kivi
  pool või kodus. 1944. a detsembris haarangud sagenesid ja Johannes Heeska läks metsa, sooviga jääda kodumaale vähemalt
  sõja lõpuni.
</p>

<h3 id="robert-heeska">Robert Heeska</h3>

<p>
  Robert Heeska sündis 23.12.1912 (vana kalender) Heeska talus. Kaotanud varakult isa, hakkas ta pärast 4 klassi
  haridust isakodus tööle ja lisaks õppis rätsepaks. 1934-1935 teenis Eesti kaitseväes. 1937. a abiellus, 1939. a sündis
  tütar. Et kodutalu jäi vanemale vennale Johannesele, rentis ta naiseisa talu kokkuleppel, et kasvatab vilja, korrastab
  kõik ehitised ja peab naise isa ja ema vanaduspõlves üleval. Kulli talul oli maad 49 ha, 2 tööhobust, varss, 6 lehma,
  10 siga, 6 lammast, 20 kana, erinevat põllumajandusinventari. Robert Heeska kuulus Kaitseliitu ja Omakaitsesse.
</p>

<p>
  Sõja alguses valvas ta talusid hävituspataljonide hävitustöö eest koos Ants Aunveriga (Kulli ja Keema-Mihkli talude
  vahe oli umbes 1 km.) Punavõimu põgenemise järel liitus ta Omakaitsega.
</p>

<p>
  1944. a mobilisatsioon sundis Robert Heeska nõukogude armeesse. Kohalikuks võimumeheks pandud Aleksander Ragul
  (kunagine Venemaalt tulnud optant) kolis sisse Robert Heeska koju ja kohtles seal tema koduseid toorelt. Robert Heeska
  abikaasale teatas Võru raj TK 1945. a, et ta on kulak, talle on oma majast jäetud vaid 1 tuba, 1 lehm ja 1 lammas ning
  5 ha maad. Majja sisse kolinud Aleksander Ragul tegi Robert Heeska abikaasa elu sedavõrd kibedaks, et naine koos
  lapsega olid sunnitud oma kodu maha jätma.
</p>

<blockquote>
  HH: 1945. a aprillis võeti meilt talu ära, meie tallu pandi sisse võõrad inimesed, ma olin sunnitud elama laudas.
  Minult võeti ära kõik, isegi aida võtit ei jäetud ja jäin ilma soola ja leivata. Olin sunnitud ümbruskonnast almust
  paluma. See meesterahvas (Aleksander Ragul) korraldas mulle teisigi ebameeldivusi, näiteks ähvardas mu keeva veega üle
  valada, kui ma veel sauna peaksin minema. Kõige selle tulemusel lahkusin ära ema juurde.
</blockquote>

<blockquote>
  HR: Väeosas räägiti meile igal õhtul, kuidas nõukogude sõjaväelaste peredele on ette nähtud erinevad privileegid, aga
  kui mu naine mind Tallinnas külastas, siis rääkis ta mulle, et mingeid soodustusi tal ei ole, samas tuli
  vallavõimuriks mingi hullumeelne, kes käsutas ta elama sealauta, viskas ta kodust välja võttis temalt ära kõik mis
  talle kuulus.
</blockquote>

<p>
  1945. a augustis deserteerus Robert Heeska väeosast Tallinnas ja alustas metsavennaelu, algul isakodus venna Johannese
  juures, hiljem koduümbruse metsades.
</p>
