---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/elukaigud_1949_1953/
---
<h1>Elukäigud 1949-1953</h1>

<div class="toc-container">
  <p class="font-semibold text-center">Sisukord</p>
  <ul class="p-0">
    <li><a href="#ants-aunver">Ants Aunver</a></li>
    <li><a href="#aino-reinumae">Aino Reinumäe</a></li>
    <li><a href="#johannes-heeska">Johannes Heeska</a></li>
    <li><a href="#robert-heeska">Robert Heeska</a></li>
    <li><a href="#valter-jeeger">Valter Jeeger</a></li>
    <li><a href="#feliks-hobe">Feliks Hõbe</a></li>
  </ul>
</div>

<p>
  Lauküla haarangust pääsenud metsavendade ellujäämine alanud talvel sõltus uutest abilistest. Senine abiliste võrgustik
  oli arreteerimistelaine, piinamiste ja salajaste sundvärbamiste tõttu äärmiselt hõre ja murdumisohtlik. Metsavendade
  sugulasi arreteeriti ja piinati massiliselt kõigi järgnevate kuude vältel. 40 inimest metsavendade lähedastest
  mõisteti Venemaa vangilaagritesse 1949. a alguskuudel. Ülejäänud veeti Venemaale suurküüditamisega 1949. a märtsis.
  Inimkaotused metsavendade ümber olid koletud. Kodukoha elanikke varitses ja terroriseeris Julgeolek järjepidevalt.
  Külaelanikelt võeti riigisaladuse kattevarjus allkirjad kohustusele metsavendi kohates nad üles anda. Julmust kasutas
  nõukogude võim käsikäes kiusatusega: äraandmise eest pakuti rahule jätmist. Reetmiskiusatuse suunas kallutamiseks
  kasutati võigast julmust. Kummatigi oli ligimese aitamise tava Eesti külas visa hävima isegi toore terrori
  tingimustes. Hädasolijale anti abi, sellega end ja oma peret ohtu seades.
</p>

<h3 id="ants-aunver">Ants Aunver</h3>

<p>
  Ants Aunver saabus Sangaste kandist tagasi kodukohta Linnamäele 1948. a jõulude järel. Talv piiras liikumist, puudus
  peavari ja toit. Sugulasi ja sõpru vangistati üksteise järel. Lähedased olid jälgimise all. Meeleheitlikus olukorras
  otsis Ants Aunver üles oma sõbra Rein Märdimäe. Ka Märdimäe perekond oli teravdatud valve all. Rein Märdimäe oli
  Julgeolek 1948. a sundvärvanud "agendiks" "Ivan", ja ta laveeris oma sõpra aidates noateral.
</p>

<blockquote>
  MR: Jaanuari algul 1949 tuli öösel mu tallu Heeska salga liige Jaan Aunver, u 35a, koputas aknale. Ma ei maganud veel
  ja läksin akna juurde. Küsisin, kes seal on, akna tagant vastati, et mina, Aunver. Ta tuli ukse juurde, ma avasin
  selle ja lasin ta tuppa. Ta rääkis, et punker on purustatud ja temal ja Johannes Heeskal õnnestus põgeneda. Ta palus
  mult luba varjata end minu talus või soovitada kedagi oma sugulastest või tuttavatest, kus ta võiks varjata. Ütlesin,
  et minu juures ei saa, siin käib liiga palju kohalikke inimesi. Soovitada ei osanud, sest nii usaldusväärseid inimesi
  mu sugulaste või tuttavate hulgas ei olnud. Umbes kahe tunni pärast läks Aunver minu juurest Brikkeri poole. Nädala
  pärast tuli Brikker minu juurde. Küsisin, kus Aunver on. Brikker ütles, et Aunver on heas kohas.
</blockquote>

<p>
  Rein Märdimäe naaber Eduard Brikker (s 1898) Koidu talust Linnamäelt sai järgnevatel aastatel eraldi varjuvate
  metsavendade ühenduslüliks. Brikker tundis Ants Aunverit juba Saksa ajast, kui ta istus Võru vanglas jahirelva omamise
  pärast ja Ants Aunver oli samas vangivalvuriks.
</p>

<p>
  Järgmised 15 päeva varjas Ants Aunver end Koidu talu heinaküünis. Eduard Brikkeriga kahasse ehitasid nad maa-aluse
  punkri 1 km kaugusele talust, viimasesse väiksesse kuusetukka. Külmunud maasse kaevati auk 2x1,5 m ja vooderdati seest
  laudadega. Pealt maskeeriti sambla ja kuuskedega. Punkrit sisustas üksnes ühele inimesele mõeldud 71 cm kõrgune
  lavats. Muud sisustust, isegi mitte ahju, punkris ei olnud. Punkri sissepääsuava oli kõigest 31x31 cm. Talvine peidik
  sai Ants Aunveri varjupaigaks kuni 1949. a aprillini. Selle aja sisse jäi märtsiküüditamine, kui kodust Siberisse
  veeti tema ema ja õde koos õepojaga ja kodutalu jäi tühjaks. Sügisepoole 1949 kolis suurde majja sisse üksik
  kolhoosnikust naispensionär. Järgmisel, 1949/1950 a talvel, asus kolhoos Keema-Mihkli talu kõrvalhoonet lammutama.
  <br>
  Toitu sai Ants Aunver nii Brikkeri kui Märdimäe perelt.
</p>

<blockquote>
  BS: Esimesel kohtumisel 1948. a detsembris tutvustati teda (Aunverit) mulle kui Kuusik Villit, koos temaga tuli meile
  naaber Märdimäe Rein. Hiljem tuli ta veel mitmel korral meile, enamasti koos Märdimäega, kes oli tema sõber. 1949. a
  jõulude ajal valmistasime laua, kuhu kutsusime ka Aunvere ja Märdimäe koos naisega. Pärast seda käis Ants Aunver meil
  jaanuaris 1950. a õhtul ja lahkus kell 24 öösel, nad olid mu isaga eraldi toas. Millest nad vestlesid, ma ei tea.
  Viimast korda nägin Aunverit aprillis 1950. Ta tuli õhtul meile ja küsis isa järele, nad läksid kohe koos teise tuppa
  ja vestlesid seal hilise õhtuni, millest, ma ei tea. Siis läksid nad kahekesi toast välja, kuhu, ma ei tea. Kui isa
  tagasi tuli, küsis ema: „Kas läks ära?“ Isa vastas: „Jah“.
</blockquote>

<blockquote>
  BM: Isa viis toitu metsa, mis asus u 100-150 m meie talust. Kui küsisin, kellele, vastas ta, et Aunvere Jaanile,
  millest tegin järelduse, et Ants Aunver varjab end meie metsas. Toitu viis ta sinna 3-4 kuud, kuni aprilli alguseni
  1949. Toitu valmistasime me alati rohkem kui meie endi perele vaja oli. Aprilli algusest 1949 lõpetas isa toiduviimise
  ning me ema ja õdede Salme ja Silviga mõistsime, et Aunver on meie talust lahkunud. Kuhu, seda isa ei öelnud.
</blockquote>

<p>Märtsis 1949 toimunud massiküüditamine lõi paljukogenud meestelgi meelekindluse vankuma.</p>

Agent "Ott" kandis Julgeolekule ette:
<blockquote>
  Aunver varjas üksi ja oli sedavõrd närvivapustuse mõju all, et kavatses lõpetada oma elu enesetapuga. Aprillis k.a.
  tuli Märdimäe juurde Johannes Heeska ja teatas, et võtab Aunveri endaga kaasa, kuna üksi ta oma närvidega enam varjata
  ei tohi.
</blockquote>

<blockquote>
  BE: Aprillis 1949 ühel hilisõhtul tuli minu juurde Heeska ja küsis, kuidas Ants Aunveri tervis on. Vastasin, et elus
  ja terve, siis läksin koos Heeskaga punkrisse, kus nad said kokku. Nad ööbisid punkris ja hommikul teatasid mulle, et
  jätavad punkri maha ja külastavad mind edaspidi harva. Punkri jätsid nad maha seetõttu, et Kurenurme k/n hakkasid
  sageli ilmuma Vene sõdurid, kes tapsid seal ka metsavend Kängsepa (Arnold Kängsepp).
</blockquote>

<p>
  Aunver koos Heeskaga lahkusid 1949 kevadel Brikkeri juurest Pätsimäe peretütre Aino Reinumäe (s 1921) juurde, kes
  varjas end kodutalus. Kogu Reinumäe pere oli küüditatud või arreteeritud.
</p>

<blockquote>
  AA: Aino Reinumäega tutvusin Johannes Heeska kaudu Urvaste vallas. Nende perest oli 1945. a arreteeritud Aino vend ja
  ta suhtus metsades varjavatesse metsavendadessse kaastundega. 1949. a küüditati Aino ema, isa ja vennanaine. Ta ise
  põgenes väljasaatmise eest ja varjas metsas oma talu lähedal. Kohtasin teda metsas ja sellest ajast peale varjame koos
  ja aitame üksteist. Kuni 1953 talveni varjasime koos metsapunkrites, varusime talveks toitu, võtsime kolhoosi põllult
  kartuleid ja juurvilja. Üldiselt teadis Reinumägi kõigist minu tegudest peale tapmiste. Neist ei rääkinud ma lihtsalt
  seetõttu, et arvasin, et neist, kui halbadest asjadest, on raske rääkida.
</blockquote>

<h3 id="aino-reinumae">Aino Reinumägi</h3>

<blockquote>
  RA: Ükskord veel enne mu vanemate äraviimist (st küüditamist) tulid vara hommikul laudalakka, kus ma tavaliselt
  magasin, kaks meest. Üks neist oli Heeska Johannes, teine oli mulle tundmatu. Kui mina läksin tööle, jäid nad mõlemad
  minu asemele puhkama. Hiljem tuli see võõras mees veel mitmel korral minu tallu, nii üksi kui koos metsavendadega.
  Jutust sain teada, et ta on Ants Aunver. Kui ma 1949. a kolhoosis töötasin, külastas Ants Aunver jätkuvalt minu talu
  ja meil tekkisid lähedased suhted.
</blockquote>

<p>
  Aino vend oli vangistatud 1944. a, vennanaine Leida Reinumägi 1948. a lõpus. Aino ema ja isa (78a) küüditati märtsis
  1949 Irkutskisse. Ainogi oli koos vanematega väljasaatmisele mõistetud, kuid oli küüditamise päeval ära, viimas
  toidupakki oma vennanaisele Tallinna vanglas. Koju jõudes varjus ta ära viimise eest kodu lähedale metsa. Tühjaks
  jäänud kodutallu tuli hoidjaks Aino õde Vastseliina kandist. Varjamispaine osutus liiga rängaks ja Aino tegi katse
  legaliseeruda.
</p>

<blockquote>
  Aino õde SL: Läksin temaga koos Võru linna, kus ta ilmus julgeolekuosakonda. Kui Reinumägi Aino lahti lasti, rääkis
  ta, et tal lubati minna koju oma tallu „kuni erikorralduseni“. Mida see tähendas, ma ei tea. Kodus elas Reinumägi Aino
  mõned kuud minuga koos isatalus ja töötas kolhoosis. Sel ajal rääkis Aino mulle, et teda ähvardatakse Eestist välja
  saata. Mõne aja pärast lahkus ta kodust ja kadus. Rohkem ma teda ei näinud ja pole temast midagi kuulnud. Samuti ei
  tea ma tema kadumise põhjust.
</blockquote>

<p>
  Agent „Tihhomirov“, varasem kohalik politseinik, kes oli värvatud Julgeolekusse, korraldas Aino kohtumise
  julgeolekutöötajatega. "Tihhomirovilt" saadud andmed võimaldasid Julgeolekul sundida Ainot omaks võtma kohtumised
  Johannes Heeska, Robert Heeska, Feliks Hõbe, Kalju Visnapuu, Artur Tellingu ja Karl Kuusiga ja nende aitamist söögi ja
  peavarjuga.
</p>

<blockquote>
  RA: Kui metsavennad käisid minu juures, siis nad peatusid u mõni tund. Millest nad rääkisid, ma ei mäleta. Nad olid
  alati lõbusad ega kurtnud millegi üle. Tean, et üks olevat töötanud Saksa politseis ja teised vist hoidsid sõjaväest
  kõrvale.
</blockquote>

<p>
  Julgeolekuministri asetäitja Pastelnjaki sanktsiooniga sundvärbas Julgeolek Aino Reinumägi oma agendiks ja suunas
  „Heeska salga“ otsingutele.
</p>

<blockquote>
  RA: Pärast kojutulekut ja tööleasumist pidasin sidet varjaja Ants Aunveriga. Ants Aunverist ma julgeolekuorganitele ei
  teatanud ega kavatsenudki seda teha.
</blockquote>

<p>
  Talve 1949/1950 elas Aino Reinumägi kodus ja käis kolhoosis tööl. 1950. a kevadel suurendas Julgeolek survet reetmise
  saavutamiseks. Jõhkrate ähvarduste tõttu jättis naine oma kodu ja ta läks metsa Ants Aunveri kaaslaseks. Ants Aunver
  oli ehitanud uue maa-aluse punkri kõrgele Puumiskaldale (kirjakeeli Poomisjärsak), kust veidi eemal üle põldude oli
  näha tema tühi kodutalu. Teineteise eest hoolt kandmine andis mõlema varjaja elule uue mõtte ja tasakaalu. See punker
  sai neile koduks olla umbes aasta, kui Julgeoleku nuhid olid taas neil kannul.
</p>

<blockquote>
  RA: Umbes 1951. a sügisel, olles Ants Aunveriga punkris, kuulsime oma pea kohal samme ja hääli. Need inimesed rääkisid
  midagi meie punkrist ja lahkusid siis. Meie punker asus maa sees ja oli väljast väga hästi maskeeritud. Meile oli
  selge, et punker on avastatud ja sinna edasi jääda ei tohi. Veel samal päeval läksin koos Ants Aunveriga Kooraste
  valda suurde metsa, kus me juba varem olime alustanud tagavarapunkri ehitamist. Ehitasime punkri lõpuni ja asusime end
  seal varjama. Punker asus soosaarel, ümberringi laius soo.
</blockquote>

<img class="lg-img image-left w-[30%]" src="/images/sangaste/kaardid/punker_puumiskaldal.jpg">

<blockquote>
  AA: Koos Reinumägi Ainoga läksime Vaabina valda, kuhu ehitasime Keema küla lähedale (Puumiskaldale) metsa maa-aluse
  punkri. See asus mu isakodust umbes 800 m kaugusel. Seal hakkasime end varjama. 1951. a sügisel juhtus selline lugu.
  Kord õhtupoolikul olime Reinumäega punkris, mis oli hästi maskeeritud. Kuulsime, kui katusele, mis oli maapinnaga
  tasa, tulid mingid inimesed. Kuulsime kaht meest omavahel rääkimas. Nad ütlesid, et punker peab asuma selles kohas,
  kus nad seisavad. Mõistsime, et jutt käib meie punkrist. Kes need olid, seda me ei tea ja ei näinud. Me saime aru, et
  meie punker on teada, ehkki need inimesed ei püüdnud sisse tungida ja lahkusid. Seoses sellega lahkusime koos
  Reinumägi Ainoga Kooraste valla maadele punkrisse, mille ehitasime endale igaks juhuks 1950-1951. a. Ehitasime selle
  tagavaraks, juhuks kui kodulähedane punker tuleb maha jätta.
</blockquote>

<img class="lg-img image-left w-[30%]" src="/images/sangaste/kaardid/kulli_talu_punker_aunver.jpg">

<blockquote>
  AA: Teine punker, kus varjasin end Reinumäega kuni asumiseni Kose rajooni 1953. a, asus vanal sooalal Koorastes.
  Punker asus u 300 m Kulli talust soometsas sooseljandikul. Mis külla talu kuulus ja kes seal elas, ma ei tea. Selle
  talu elanikud ei teadnud meie punkri olemasolust midagi. Punker oli u 2x2 m suur, seest puitplaatidega kaetud. Ka
  Kooraste punker oli maa-alune ja hoolikalt maskeeritud. Seal punkris elasime Reinumägi Ainoga kuni 1953. a sügiseni.
  Okt. 1953, pärast endale passi tegemist, sõitsin Kose rajooni, kus hakkasin teedeehitusel tööle. Umbes kolme nädala
  pärast tõin enda juurde ka Reinumägi Aino, kes seni elas edasi punkris Kooraste vallas. Sellest ajast peale olen
  elanud Kariste nime all.
</blockquote>

<p>
  Kooraste valla punkri kirjeldus aastast 1958, ehk 5a pärast selle mahajätmist: Maapinnaga maskeeritud puust punkriluuk
  on suurusega 70x63 cm. Punker ise kujutab maa-alust auku pikkusega 2.20 cm laiusega 2m. Punkri seinad ja lagi on
  valmistatud ümarpalgist. Punkris on väike telliskivipliit ümara raudtoruga, mille ava lõpeb maapinnal
  sissepääsuluugiga samal kõrgusel. Punkris on puudevaru, vana roostetanud petrooleumlamp ja 3 kuiva elektripatareid.
  Seina- ja laepalgid, samuti luugilauad, on mädanenud. Hinnalisi esemeid punkrist ei leitud ja midagi kaasa ei võetud.
</p>

<blockquote>
  RA: Ma kartsin vangistamist ja see oli minu metsa mineku põhjus. Teadsin, et Aunver oli olnud Omakaitses,
  Kaitseliidus, kuid et ta oleks röövinud ja tapnud, ma ei teadnud. Kui ta seda tegigi, siis selle peaks unustama. Elus
  oli ta asendamatu kaaslane. Aunver andis mulle raha, kuid ma ei teadnud, et see oli riisutud. Käisin kolhoosipõldudelt
  juurikaid toomas ja ma ei pidanud seda varguseks, sest et ma elasin täpselt nagu metsloom – jänes, kits või mõni
  teine, kes hangib endale eluks vajalikku ja ise ei saa vastutada. Minu passi muutis ära Aunver, nägin seda ise pealt.
  Mina seda tööd ei tunne. Minu passi tegi ta ümber „Kaljumägi“ nimele. Vanglas olles sain teada, et mu vanemad on
  surnud. Ajakirjandust ma lugenud ei ole. Amnestiast ma ei ole teadlik olnud, isegi kui lugesin, siis ei mäleta.
  <br>
  Metsapunkrites elades käisin koos Ants Aunveriga poes sisseoste tegemas kohtades, kus meid nägupidi ei tuntud. Mina
  käisin Osulas või Sulbi külas. Püüdsin võimalikult vähe inimestega kokku puutuda, et keegi mind ära ei tunneks. Ühtegi
  tuttavat ma seal ei kohanud. Vahel käis poes sisseoste tegemas Ants Aunver. Kas ta kedagi tuttavat kohtas, sellest ta
  ei rääkinud. Poes käisime enamasti jalgsi, vahel ka Ants Aunveri jalgrattaga. Ostsime hädavajalikku: süüa, riideid,
  jalatseid. Mitmel korral ostis Ants Aunver patareisid punkris olnud raadiole „Rodina“. Raadiost kuulas Ants Aunver
  põhiliselt muusikasaateid, et ei oleks nii igav. Vahel kuulasime ka piiritaguseid saateid, Ameerika Häält.
  <br>
  Ants Aunveriga koos punkris varjates kogusime talvetagavaraks kartuleid ja juurvilja kolhoosi põldudelt. Samuti
  püüdsime järvedel kala.
</blockquote>

<p>Kooraste ja Vaabina valla kolhooside tõendite kohaselt pole mingit juurvilja kadumist täheldatud.</p>

<img
  class="lg-img image-left w-[30%]"
  src="/images/sangaste/fotod/aunveri_pystolkuulipilduja_MP40_kotiga.jpg"
  alt="Ants Aunveri püstolkuulipilduja MP40"
>

<p>
  Relvadest oli Ants Aunveril püstol kaliibriga 7,65 ja püstolkuulipilduja, mille ta ostis enda sõnul Pihkvas ühelt
  Saksa sõdurilt. Metsavend Lindsaar Juhani püstoli TT oli ta varem andnud Avo Pruusile. Enne Kose valda lahkumist
  plaanis Aunver oma püstolkuulipilduja Uhtjärve visata, kuid peitis selle lõpuks hoopis Verevasaare talu teeäärsesse
  sauna, u 3 km Urvaste koolimajast Uhtjärve poole.
</p>

<blockquote>
  AA: Püstoli jätsin enesekaitseks alles selleks puhuks, kui mind püütakse kinni pidada või äärmisel juhul enesetapuks,
  kuna ei kavatsenud elavana julgeolekuorganite kätte sattuda.
</blockquote>

<p>
  1953. a väga vihmasel suvel kinnistus punkrielu lõpetamise otsus. Ants Aunver valmistas punkris valepassid (Julgeolek
  tunnistas käsitöö erakordselt oskuslikuks ja nõudis passide säilitamist õppeotstarbel). Ühe võimalusena oli arutluse
  all liikuda üle piiri Venemaale. Sellest loobuti, kuna nad ei osanud vene keelt. Aunver võttis ajalehekuulutuse peale
  ette sõidu Kose valda Aino Reinumägi lapsepõlvekaaslase, naabripoisi Ernst Kärblase juurde, et töö osas maad kuulata.
  Ernst Kärblane oli rinde taganemisel langenud Tudu kandis sõjavangi ja saadetud Venemaale sunnitööle Novosibirski
  kaevandusse, kust oli 1946. a. põgenenud. Põgenemise eest sai 7 lisa-aastat sunnitöölaagrit. Pärast vabanemist töötas
  ta Kosel teemeistrina. Novembris 1953. a võttis ta Ants Aunveri kui Aino elukaaslase enda juurde tööle Reinhold
  Kariste nime all. Aino Reinumägi järgnes Aunverile 1953. a lõpus Anna Kaljumägi nime all.
</p>
<img
  class="lg-img image-right w-[30%]"
  src="/images/sangaste/fotod/kuldi_soodla.jpg"
  alt="Lahkumine Võrumaa punkrist Soodlasse"
>
<blockquote>
  RA: Teadsin, et kuskil Kose rajoonis elab minu ühekülamees Ernst Kärblane ja lootsin võimalusel kasutada
  legaliseerumiseks tema abi. Sügisel 1953 sõitis Aunver Ants jalgrattaga Kose rajooni (linnulennult u 180km!) ja asus
  seal tööle. 2-3 nädala pärast tuli ta mulle punkrisse järele. Lahkusin koos Ants Aunveriga Kose rajooni, kus hakkasin
  tema tehtud valepassiga Anna Kaljumägi nime all illegaalselt elama.
</blockquote>

<p>
  Pärast Ants Aunveri 8 aasta ja Aino Reinumäe 4 aasta pikkust elamist maa-alustes punkrites oli neil taas inimesele
  kohane elukoht majas ja töö inimeste hulgas. Tagaaetavateks jäid nad aga endiselt.
</p>

<h3 id="johannes-heeska">Johannes Heeska</h3>

<p>
  Johannes Heeska suundus Lauküla haarangu järel esialgu Osulasse Valter Jeegeri punkrisse. Märtsiküüditamisel veeti
  Venemaale tema ema koos tütrega, abikaasa oli juba varem vangistatud. Kevadest 1949 liikus Johannes Heeska end varjama
  oma sõbra lese Salme Sari juurde Loosu-Navi k/n. Kevadel 1949. a ehitas ta sinna Mihkli talu lambalauta maa-aluse
  punkri.
</p>

<blockquote>
  HJ: Minu varjamise ajal kutsuti Salme Sari korduvalt minu asjus ülekuulamistele ja ühel korral korraldati talule
  haarang, kuid asusin punkris ja mind ei avastatud. Kui Salme Sari sai kutse ilmuda julgeolekusse, rääkisin temaga enne
  igat korda ja õpetasin, kuidas vastata uurija küsimustele. Keelasin tal kategooriliselt rääkida sellest, et varjan end
  tema talus. Hoiatasin, et kui ta ütleb, kus ma asun, siis minu saatus saab olema väga halb ja tema saatus saab olema
  samasugune. Ta ei rääkinud minust ülekuulamistel kunagi midagi.
</blockquote>

<p>
  Pärast seda, kui 1949. a aprillis oli Johannes Heeska viinud Eduard Brikkeri juurest endaga Pätsimäele kaasa
  hingeliselt raskes seisus ja enesetapumõtetega Ants Aunveri, külastasid Johannes Heeska, Ants Aunver ja Valter Jeeger
  Brikkerit 1949. a suvel veel paaril korral pisteliselt. Peremehe toidupakkumisele vastas Aunver tänades, et süüa on
  tal nüüd piisavalt.
</p>

<blockquote>
  BE: 1949 juulis kutsuti mind vilega metsa, nägin seal Aunverit, Heeska Robertit ja Jeeger Valterit. Nad küsisid, kas
  läheduses on sõjaväelasi, vastasin, et ei. Siis küsisid, kas kõik on vaikne, vastasin jah. Rohkem nad ei küsinud ja
  lahkusid, kuhu, ei tea. Suvel 1949 tulid minu juurde Aunver ja Jeeger koos Märdimäe Reinu ja tema naise Maiega, nad
  tõid viina ja olid minu juures 2 tundi.
</blockquote>

<p>
  Paraku hoidis Julgeolek mõnede nuhkide abil terve 1949. a suve metsavendadel silma peal, punudes sobivat
  sündmusteahelat nende ühekorraga hävitamiseks. Ometi kukkus plaan läbi, nagu ka 3 ööd-päeva kestnud sõjaline
  operatsioon koos haaranguga Brikkeri talule 19. augustil 1949. Ümber piiratud talus viibinud metsavennad olid sealt
  justkui õhku haihtunud.
</p>

<p>
  End Ants Aunverist eraldi varjav Johannes Heeska kaalus 1949. a septembris ühinemist Kooraste metsavendadega. Üksteise
  punkrite asukohti ei teatud, kohtuti väljaspool punkreid. Septembris 1949. a olid Johannes Heeska, Ants Aunver jt
  metsavennad Ants Taalfeldi ja viimase õe Linda Allpõderi pool Sõmerpalu vallas. Johannes Heeska pidas sidet Eduard
  Apleinega (Arumägi) ja viimase naise Nataliaga, kes oli talle sugulane. Vennad Heeskad olid end seal ka varem
  ajutiselt varjanud. Vaid veidi hiljem olid nii Taalfeld kui Apleine Julgeoleku poolt salaja kinni võetud ja
  töödeldavad.
</p>

<p>
  Mitmel korral kohtusid metsavennad Tartus. 20. okt 1949. a põrkas üks nende tuttav linnas juhuslikult kokku Valter
  Jeegeri, Ants Aunveri ja Feliks Hõbega, kellele mehed lubasid olla tagasi koduvallas 7. või 8. novembril ja võimaluse
  korral võtta oktoobripidustuste ajal kolhoosist mõni veis lihaks.
</p>

<p>
  1950. a juulis kohtas Eduard Brikker taas Ants Aunverit oma talu juures metsatukas. Aunver andis teada, et kõik sõbrad
  on elus ja nõukogude võimuesindajad pole neist ühtegi kätte saanud. Kuu aega hiljem kutsus Aunver uuesti Brikkerit
  metsaserva. Sel korral oli ta üksi ja ütles, et astus lihtsalt möödaminnes läbi. Brikker teatas sõbrale, et Julgeolek
  tegi tema talus läbiotsimise ja ta ise viidi Võrru ülekuulamisele. Ants Aunver lubas tema juurde rohkem mitte tulla ja
  avaldas lootust kommunistide peatse väljaajamise kohta Eestist. Sama aasta sügisel külastas Brikkeri talu ka Robert
  Heeska oma naisega. Oktoobris 1950. a. vangistas Julgeolek Eduard Brikkeri.
</p>

<p>
  Kuni suveni 1951 hoidis Johannes Heeska kõigi kaaslastega püsivat sidet. Venna Robert Heeska ja Ants Aunveriga pidas
  ta sidet Valter Jeegeri kaudu. Ta kohtus ka Valteri venna Edgar Jeegeriga augustis 1949 või 1950.
</p>

<p>
  Põhiline varjamispaik 1949. a alates oli Johannes Heeskal Sari Salme juures, kus ta varjas end kuni kinnivõtmiseni
  1953. a märtsis. Seda varjamiskohta ei teadnud ei tema vend Robert Heeska ega Ants Aunver, kõik nad kohtusid
  väljaspool üksteise varjamiskohti.
</p>

<blockquote>SS: Tahtsin Johannes Heeskat aidata kui oma mehe sõpra.</blockquote>

<p>
  Johannes Heeska võeti kinni 26. märtsil 1953. a. Salme Sari talus. Temalt saadi: 2 püstolit: Parabellum kal 9mm ja 29
  selle padrunit ning „Brauning“ kal 7,65 ja 3 selle padrunit; 10 üherublalist tsaari hõberaha ja 3 hõbe 50-kopikalist,
  nõukogude raha 175 rbl ning isetehtud metsavendade embleem pealuu, kolme lõvi ja kuuse kujutisega.
</p>

<blockquote>
  HJ: Märki, mis mult ära võeti, (kodanliku eesti vapp ja pealuu selle peal ), säilitasin kui mälestuseset Ants
  Aunverilt, kes kinkis selle märgi mulle. Ants Aunver pidas seda märki "Eesti partisanide märgiks“, nagu ta väljendas,
  ja ütles, et teeb sellise märgi kõigile metsavendadele ja peame seda märki kandma.
</blockquote>

<p>
  Juulis 1953 mõisteti kinnisel sõjatribunali istungil Tartus (justiitsmajor Moskvenkov, kaasistujad major Kožakin,
  miilitsa nltn Pihla) Johannes Heeskale 25a sunnitöölaagreid. Kandis karistust Karaganda obl. Kamõšlagis; Irkutski obl.
  Ozjorlagis; Mordva ANSV Dubravlagis, vabanes 10.12.71.
</p>

<p>
  Vangla juhtkond on kirjeldanud teda suhtlemisel viisaka, samas loomult kergesti ägestuvana. 1958. a on ta tööst
  keeldumise eest pandud kartsa ja 1968. a algatanud mitmeid kaklusi kinnipeetavate ja vabade töötajate vahel.
</p>

<p>Johannes Heeska vabanes II grupi invaliidina 10.12.71, suri 7.06.91.</p>

<h3 id="robert-heeska">Robert Heeska</h3>

<p>
  Robert Heeska oli lahkunud Laukülast juba enne suurhaarangut ja varjas end Lanna metsas punkris. Ülekuulamistele
  viidud omaste jõhkra piinamise ja vangistmise eest varjus 3.01.49 metsapunkrisse ka tema naine. Naise ema koos nende
  tollal 10 aastase tütrega küüditati 25. märtsil Siberisse. Helmi (Julie) Heeska talu kuulutas Võru TK kulaklikuks
  oktoobris 1949. a. Naine lapsega oli oma kodust sunnitud lahkuma juba 1945. a, kui sinna tungis elama jõhkardist
  hilisem TK esimees Aleksander Ragul, kes ajas lapsega naise elama sealauta.
</p>

<blockquote>
  HR: Luksepp Jaani talus varjasime end kuni haaranguni. Mind seal ei olnud, olin juba mõnda aega varem sealt lahkunud.
  Selle haarangu järel läksime lahku ja ei kohtunud tükk aega. Uuesti saime kokku Linnamäe vallas Eduard Brikkeri
  juures. Läksin sinna koos naisega sellest punkrist, kus mind kinni võeti (Lanna metsa punker). Brikkeri juurde jõudes
  ootas mind ees Ants Aunver. Kelle juures Ants Aunver end varjas, seda ta ei öelnud, ta pidas end alati ülal kinniselt,
  ei rääkinud kunagi, kellega ja missuguses sidemetes oli.
</blockquote>

<h3 id="valter-jeeger">Valter Jeeger</h3>

<p>
  Valter Jeeger, s 1921, hdn „Bevin". Tema isataluks oli Kodassaare talu Sõmerpalu vallas, elukoht Vaabina vallas Lümatü
  mõisa lähedal. Kirjelduse järgi keskmist kasvu, tugeva kehaehitusega, blond, ovaalse näoga, sirge ninaga. Riietus:
  kõrged kroomnahast saapad, hall pintsak ja püksid, hall palitu, vasakus käes peenike kuldsõrmus. Valter Jeegeri isa
  küüditasid kommunistid 1949. a märtsis Venemaale. Ema, kes küüditamise ajal kodus ei viibinud, varjas end hiljem
  võimude eest Vaabinas erinevates taludes.
  <br>
  Valter Jeeger oli Saksa ajal olnud Kollino mõisa haldaja. 1944. a mobiliseeriti ta Saksa armeesse. Metsavennaks läks
  ta pärast Saksa sõjaväest koju naasmist, kui võimuesindajad olid käinud teda kodus taga otsimas, et arreteerida.
  Hävituspataljonlane Daniel Kängsepp pidas kinni ja pinnis Valter Jeegeri naistuttavaid, püüdes neilt välja nuhkida
  tema varjamiskohti. Metsavennad, kellele sellest kohe ette kanti, hoidsid omakorda meest kirbul, nii et see pideva
  hirmu all ei julgenud kodus eladagi.
</p>

<p>
  Valteri vend Edgar Jeeger (s 1922) asus varjama märtsiküüditamise tõttu ja sügisel 1949. a varjas ta end Sõmerpalu
  mõisa lähedases metsapunkris. Enne küüditamist elas ja töötas Edgar Jeeger legaalseid dokumente omades Harjumaal Saida
  sovhoosis. (HJ andmetel hakkas varjama 1950.a)
</p>

<p>Nii Valter kui Edgar Jeeger on koolipoistena olnud usinad Urvaste kohapärimuse kogujad.</p>

<p>
  Valter Jeegeril oli metsamehena palju toetuspunkte Sõmerpalu ja Urvaste ümbruses. Üks punkritest asus kodutalu mail,
  kodust u 1 km kaugusel. Sügisel 1948 oli tal punker Tammesilla metsas, kus ta varjas end koos Lepistu vallast pärit
  Daniel Petersoniga. 1949. a varjas ta end oma kodus Kodasaares, majaelaniku Leida Saariku teadmisel ehitatud punkris.
  Algul varjas ta end seal üksi, hiljem koos kahe kaaslasega. Osulas Hilda Laugasoni (s 1900) ja selle tütre, Sõmerpalu
  kooliõpetaja Rolaine Laugasoni (1926) talus sauna all oli tal punker, mille mullaga hoolikalt varjatud sissepääs jäi
  sauna eesruumi. 3 inimesele sobivat punkri ehitas Valter Jeeger endale 3-4 ööpäevaga septembris 1950. a. Valter Jeeger
  elas selles talus ajutiselt paari nädala kaupa, lahkus sealt enamasti Mällipalu punkrisse. Edgar Jeeger pidas 1950. a
  sügisel sidet Laugasonide naabri Elfriede Värega. Aunveri ja vendade Heeskatega pidas Valter Jeeger ühendust Eduard
  Brikkeri vahendusel.
</p>

<blockquote>
  <p>
    BS: Töötasin oma ema Brikker Anna ja õe Meetaga aias, kui nägime üht tundmatut minemas maja poole. Meie juurde
    jõudes tutvustas ta end kui „Bevin“ ja küsis, kas siin elab Eduard Brikker. Me ütlesime et jah, minge sisse, ta on
    kodus. „Bevin“ oli meil 2-3 tundi, siis väljus ja läks Kurenurme suunas. Järgmine kord tuli ta meile maikuus 1950.
    Me isaga töötasime põllul, ta tuli metsast, läks isa juurde ja hakkas temaga juttu ajama ja naerma. Pool tundi
    vestelnud, läks „Bevin“ koos isaga metsa, kust isa tuli tagasi alles hilja õhtul. Kus ta käis, ma ei tea. Mind
    hakkas see võõras huvitama ja ma otsustasin ema kaudu teada saada, kes ta selline on, kuid ema ütles: „Uuri ise isa
    käest“. Aga mina ei julgenud küsida ja siis ema küsis ise. Isa vastas vaid: „Pole sinu asi, kes ta on.“ Kuulujuttude
    järgi ja vestlusest kohalike tüdrukute ja õe Meetaga uurisime välja, et Sõmerpalu vallas otsitakse taga metsavend
    Jäägerit ja jõudsime järeldusele, et tundmatu mees „Bevin“ ongi tagaotsitav Jääger.
  </p>
</blockquote>
<p>
  Novembri lõpus 1949. a astus Valter Jeeger päise päeva ajal läbi Vaabina koolimajast ja soovis kohtuda oma koolivenna,
  õpetaja Otsaga. Rahanappuses Valter Jeeger küsis palgarahade saabumise kohta koolimajja. Kuna õpetaja Ots ja
  koolidirektor Lino olid värvatud julgeolekuagentideks (vastavalt agent „Peter“ ja „Lunatik“), jõudis info sellest kohe
  Julgeolekusse. Juba järgmisel õhtul varitsesid Vaabina raudteepeatuse juures direktorit metsavennad, et võtta
  palgaraha endale. Mõned sajad meetrid eemal koolimaja juures asus samal ajal Julgeoleku varitsus, et tabada raha
  järele saabuvaid metsavendi. Mõlemad varitsused läksid tulemusteta laiali, omavahel kohtumata.
</p>

<p>
  22. detsembri 1949 täiendasid Ants Aunver, Valter Jeeger ja Edgar Jeeger oma varusid Navi kaupluses. Ants Aunver
  külastas Sõmerpalu mõisa lähedases punkris asunud vendi Jeegereid, kes plaanisid hankida endale varustust Võru
  lähedasest Navi kauplusest. Aunver ise vajas saapaid või kummikuid ning nõustus kaasa minema. Võrus peeti sel päeval
  laata ja poes, mis asus 6 km Võrust, oli seetõttu olnud hea läbimüük.
</p>
<blockquote>
  <p>
    Kaupluse juhataja TP: Kell hakkas 6 saama ja ma pidin poe kinni panema, et rohkem ostjaid mitte sisse lasta. Kui
    avasin kaupluse sisemise ukse, et välisust kinni keerata, ilmus pimedusest äkki mees, sihtis mulle püstoliga rinda
    ja ütles: „Me tegutseme partisanidena, käed üles ja ärge vastu hakake“. Samal ajal asus lähedal veel 2 meest, ühel
    oli Saksa automaat ja teisel püstol. Esimesel oli Saksa püstol „Walter“. Nad lükkasid mu ukse pealt poodi sisse.
    Mina, mu naine, Kattai August, Haavistu Kalju ja temaga koos olnud mees ja naine pandi seina äärde, üks meestest
    küsis, kellel meist on relv ja otsis meid kõiki läbi. Mulle liginedes küsis ta, kas mina olen kaupluse juhataja ja
    kui vastasin jaatavalt, küsis ta minult kus on raha. Vastasin, et raha on kassas. Pärast seda küsis ta, kus on eilne
    kassa sissetulek, vastasin, et samuti kassas. Üks automaadiga mees jäi uksele valvele, kaks ülejäänut hakkasid kaupa
    pakkima. Alguses üks võttis riiulilt kohvri ja viskas sinna raha, teistesse riiulist võetud kohvritesse pakkisid nad
    kauba. Ei mäleta, mitu kotti neil endil kaasas oli, sinna laadisid nad samuti kaubad. Nad võtsid kangast, pesu,
    jalatseid, kalosse, kallemaid paberosse ja igasuguseid kallemaid kaupu. Samuti viisid nad kaasa kogu kaupluse viina
    ja likööri. Mingi aja pärast oli õuest kosta vankrirataste kolinat, uksel seisnud mees läks õue, tema asemele astus
    see, kes oli mu uksel kinni pidanud. Kolmas pakkis kogu aeg asju. Esimene mees püstoliga „Walter“ paistis olema
    vanem ja ütles, milliseid kaupu võtta ja milliseid mitte. Tema küsis minu käest, kas kaupluses patareisid ja
    taskulampe ka on. Ütlesin, et pole, läbi on müüdud. Ma ei tea, kuidas mul oli leti alla jäänud 6 patareid, mille ta
    üles leidis. Ta rõõmustas väga ja ütles, et just neid tal vaja oligi, võttis kohe sealsamas oma taskulambist vanad
    patareid välja ja jättis leti peale, asendades need uutega. Röövi ajal palus invaliidi naine, et teda lastaks uksele
    oma hobust vaatama. Mehed vastasid, et hobuse juures on nad ise ja pärast sõidab ta niikuinii nendega kaasa, tee on
    ühine. Lubas nad kuhugi sauna kinni panna, et nad kohe pärast röövi kellelegi teatama ei saaks minna.
    <br>
    Lõpetanud pakkimise, läks automaadiga mees õue, jättes ukse praokile, ja esimene hakkas talle ulatama kohvreid ja
    kotte kaupadega. Ulatanud kõik kaubad kohvrite ja kottidega õue, ütlesid mehed, et kellelgi meist ei ole kuni
    hommikuni õigust õuele minna ega kellelegi röövist rääkida. Neil olevat maja ümber valve välja pandud ja väljuja
    lastakse maha. Lahkudes küsisid nad minult, kus on luku võti, mis rippus välisukse ees, selgitades, et nad ei võta
    seda kaasa, vaid sulgevad meid sellega kauplusse kinni ning viskavad siis võtme ukse kõrvale maha. Andsin neile
    võtme, mehed läksid välja ja lukustasid meid kauplusse. Mõne aja pärast oli kuulda vankrirataste loginat, mis
    eemaldus Antsla suunas.
  </p>
</blockquote>
<blockquote>
  <p>
    KA: Tulin Võrust laadalt, astusin mööda minnes sisse Navi kauplusse, mille valvurina ma tollal töötasin. Valvesse
    pidin tulema kell 19, tulin poodi 2 tundi varem. Poes olid juhataja (töötas ka müüjana) Torop Paul, tema naine ja
    mulle tundmatud mees ja naine. Umbes kell 17 läks Torop välja, et ust sulgeda. Kuulsin, kuidas keegi käsutas tal
    käed üles. Ukse poole pöördudes nägin tema lähedal relvastatud mehi. Sealsamas tõukasid nad juhataja sisse ja
    sisenesid ka ise. Neid oli 3: Üks pikka kasvu mustas jakis, teised kaks hallis. Pikk automaadiga asus valvama
    kaupluses olijaid, hallid püstoliga käes asusid poodi röövima.
    <br>
    Meiega rääkisid nad vähe. Enda kohta ütlesid nad, et on „partisanid“. Kui ma ütlesin neile, et mis te, seltsimehed,
    kõik ära võtate, jätke meile ka midagi, siis üks nendest ütles: Mis seltsimehed me sulle oleme, meil seltsimehi
    pole, ja andis mulle 2 pudelit likööri, mille panin letile.
    <br>
    Lahkudes võeti kaupluses olnud mees ja naine kaasa. Mulle tundus tookord, et mees ja naine olid röövijatega koos.
    Koos kaubaga võeti u 20 tuhat ja rohkem. Toropi sõnadest tean, et osa raha jäi tal kuhugi sahtlisse ja seda röövlid
    üles ei leidnud. Mäletan, et pikal oli suur nina ja piklik nägu. Võtme võtsid metsavennad lahkudes kaasa.
  </p>
</blockquote>
<blockquote>
  <p>
    AA: Kaupluses olid kaupmees, tema naine ja veel mitu inimest, nende hulgas 2 ostjat (mees ja naine), kes elavad
    kuskil Osula kandis. Mina valvasin seina äärde pandud inimesi, seistes automaadiga uksel. Jeeger Valter ja Edgar
    võtsid algul kaupluse kassast raha ja siis riiulitelt kaupa, mille pakkisid nii, et oleks mugav minema kanda. Mina
    pakkisin oma seljakotti viina- jm alkoholipudelid. Asetasime kauba vankrisse, mis kuulus kahele ostjale. Need kaks
    ostjat viisime endaga kaasa. Ülejäänud jäid kauplusse luku taha. Viisime kauba kahe ostja vankris varasema „Soe“
    kõrtsini, seal lasime ostjatel minna ja ise võtsime poest saadud asjad kaasa.
  </p>
</blockquote>
<p>
  1950-1951. a jätkas Valter Jeeger suhtlemist ümbruskonna usaldusväärsete eakaaslastega: Meeta Laurits, Rolaine
  Laugason, Leida Saarik jt. Ülekuulatavad on hiljem Valter Jeegerit kirjeldanud väga armastusväärse inimesena. Meeta
  Lauritsaga tegi Valter Jeeger tutvust 1949. a. suvel.
</p>

<blockquote>
  LM: Andsin talle kaasa leiba ja võid ja ta lahkus, öeldes, et varsti tuleb talv ja liikumine läheb raskeks, ja lubas
  järgmise aasta kevadel läbi astuda. Seejärel tuli ta minu juurde kahel korral kevadel, aprillis ja mais 1950. Iga kord
  andsin talle süüa ja panin ka teele sööki kaasa. Suvel ja sügisel 1950. a ta mingil põhjusel ei tulnud, aga juba 1951.
  a aprillikuus külastas ta jälle mind kahel korral. Ta tuli päeval ja oli iga kord mõned tunnid, siis lahkus ega
  öelnud, kuhu. Viimane kord tuli Valter Jeeger minu tallu pühapäeval, 6. mail 1951. Ta tuli umbes kl 1 päeval ja jäi
  kuni hilisõhtuni. Seekord ta magas natuke, jälle andsin talle süüa ja ka teemoona kaasa, kui ta õhtul ära läks.
</blockquote>

<p>
  Üks pelgupaik oli Valter Jeegeril Liivamäe talus Hilda (s 1900) ja Rolaine Laugasoni (s 1926) juures, viimane oli ta
  kooliõde. Talust teisele poole Võhandu jõge, pooleteise kilomeetri kaugusele jäi metsavendade punker Mällipalus.
  Selles varjasid end kolmekesi Valter Jeeger, Edgar Jeeger ja „Paul“ ehk Johannes Heeska.
</p>

<blockquote>
  LR: Sain postist kirja Võru pitsatiga, saatjaks osutus Valter Jeeger ja ta kasutas hüüdnime Juhan. Ta palus kohtumist
  sama nädala neljapäeval Sõmerpalu surnuaia juures tee peal. Õhtul kohtusime kokkulepitud kohas ja pärast lühikest
  vestlust kutsusin ta enda poole. Ta uuris alati, kas Osulas on julgeolekumehi ja kes on arreteeritud. Vastasin talle,
  et sõdureid pole ja ta võib end vabalt tunda. Venna Edgar Jeegeri ütles ta asuvat Vagula k/n Navi külas. Enda kohta
  ütles ta, et asub Vaabinas, kuid kelle juures, seda ei öelnud. Tundsin huvi, kes võis röövida (loetamatu nimi)
  majapidamist Sõmerpalus 1948. a. Valter Jeeger vastas, et nende töö see ei olnud ja ta ei tea kes seda tegi. Küsisin
  ka, kes neist tappis Sõmerpalu sovhoosi esimehe novembris 1950. a. Valter vastas, et tema ja ta sõbrad olid sel ajal
  Vaabinas, ainult Edgar Jeeger ei olnud, ja ta ei tea, kes seda tegi. 2 ööpäeva järel varahommikul võttis Valter Jeeger
  sööki kaasa ja lahkus meie talust. Saatsin teda ja leppisime kokku edaspidise sidepidamise osas.
</blockquote>

<blockquote>
  LM: Esimest korda tuli Ants Aunver koos Valter Jeegeriga 1950. a suvel, nad olid talus lõunast kuni õhtuni ja lahkusid
  siis, kuhu, ei öelnud. Selle aja sees sõid nad kaks korda, lõunat ja õhtust. Ka 1951 tuli Ants Anver kahel korral koos
  Valter Jeegeriga, esimest korda veebruaris, teist korda aprillis. Rohkem Aunver minu talus ei käinud. Valter Jeeger
  külastas alates 1949. a kevadest mu talu korrapäraselt, algul kuu või kauema tagant, alates jaanuarist 1951 umbes iga
  nädala tagant. Ta ööbis korduvalt minu toas, iga kord tegin talle süüa ja andsin ka sööki kaasa. Aprillis 1951, kui
  Valter Jeeger minu talu külastas, siis ta rääkis, et varjab end punkris 7 km kaugusel minu talust lõunas, täpset
  asukohta ma ei tea, kuna ta seda mulle ei selgitanud. Selles punkris pidi varjama 7 metsavenda: Valter Jeeger, Edgar
  Jeeger, Ants Aunver, Feliks Hõbe ja üks, kelle nime ma ei tea. Punker asub Pätsimäe lähedal Urvaste k/n. Jaanuaris
  1951. a Sööde Ella rääkis, et tal on juba villand, et metsavennad talu külastavad, et see on väga ohtlik ja teda
  võidakse arreteerida. Ta ütles, et punker, kus nad varjavad, asub Pätsimäe talu territooriumil. Kas Valter Jeegeri või
  Ella Sööde sõnadest tean, et nad varjavad end seal juba mitu aastat. Kas ka Aino Reinumägi end preaegu selles punkris
  varjab, ma ei tea, kuid talvel varjas ta end seal koos Valter Jeegeriga.
</blockquote>

<blockquote>
  OE (s 1932), märtsis 1951: Kohtasin, täpsemalt nägin Valter Visnapuud (st Valter Jeegerit) viimati kaks nädalat
  tagasi. Ta sõitis suuskadega meie talu lähedalt mööda. Mul ei olnud temaga mingit juttu kust või kuhu ta läks, ta
  liikus Urvastest Linnamäe suunas.
</blockquote>

<blockquote>
  LM: 1950 kevadel rääkis Valter Jeeger juhtumist, kus ta koos Artur Tellinguga astus mööda teed Sõmerpalu poole. Neile
  tuli vastu vanker 2 mehega, üks neist relvastatud. Relvastatud mees tahtis neid nähes tule avada, kuid Jeeger ja
  Telling märkasid seda ja relva konfiskeerimisel tapsid relvastatud mehe. Teise vankris olija jätsid nad ellu, sest see
  oli relvitu. Kes see nimeliselt oli, ta ei öelnud. Arvan, et ta ei teadnud seda isegi, aga kuna mehel oli relv, pidi
  ta olema nõukogude võimuesindaja.
</blockquote>

<p>Valter Jeeger rääkis 1950. a Sulbi kaupluse röövist, kuhu sõideti autoga.</p>

<blockquote>
  Ettekanne: 17. okt 1950 kl 17 pidasid 4 bandiiti Sulbi külas kinni kaupluse juhataja Oja Roberti, kelle nad viisid
  metsa ja võtsid ähvardusega endale kaupluse võtmed. Kl 19.30 tulid nad koos Ojaga kaupluse juurde, relvitustasid
  kaupluse valvuri, hävituspataljonlase Kangpuu Paul Gustavi p 1892, sulgesid Oja ja Kangpuu lattu, tungisid kauplusse
  ja röövisid sealt kaupu 25000 rbl eest, võttes ära ka vahi vintpüssi. Bandiite otsitakse.
</blockquote>

<p>
  Suhted ja sidemed olid metsavendadel Urvaste või Antsla militsionääri Veskega (u 30a), kuni 1948 suveni
  militsionäärina tegutsenud Mekk Eduardiga (u 23a), Kanepi arsti Aarmaga, Tallinna Gloria restorani kelneri Vare
  Viidoga, jpt.
</p>

<p>
  <b>Valter Jeeger</b>
  langes 6.09.1951 Osula lähedal, Antsla julgeolekuosakonna poolt metsateele seatud varitsuses. Andmed selleks saadi
  agendilt „Andrei“ (Ants Taalfelt), kel oli otse juurdepääs nii Jeegerile kui Aunverile. Langenult võeti ära 2 püstolit
  lahingpadrunitega, nõukogude armee vorm ohvitseripagunitega, auto peatamise märk ja käärid juhtmete läbilõikamiseks.
</p>

<p>
  Valteri vend
  <b>Edgar Jeeger</b>
  langes Julgeoleku käe läbi aasta hiljem, 24.10.1952, olles meelitatud varitsusse kohtumisele naistuttava, agent
  "Ausus" poolt.
</p>

<h3 id="feliks-hobe">Feliks Hõbe</h3>

<p>
  Feliks Hõbe s 1919, hdn „Jokker" oli pärit Ako talust Kuldres. Oli olnud Omakaitses ja vabatahtlikuna Saksa armees.
  Kirjeldus: lühikest kasvu, kõhn, tumedapäine.
</p>

<blockquote>
  TR: Minu naise sugulane Hõbe Feliks küsis minult nõu legaliseerumise kohta. Soovitasin tal legaliseeruda. Hõbe Feliksi
  isa, kes töötas hobulaenutuspunkti juhatajana, ütles, et hobulaenutuspunktis tehti läbiotsimine ja ta poeg varjus. Kus
  ta asub, ma ei tea. Sügisel 1946 tuli Feliks Hõbe ja palus, et lubaksin tal minu talus varjata. Lubasin, ta oli 2
  päeva ja lahkus siis. 1947. a alguses tuli ta jälle, koos Robert Heeska või Kalju Visnapuuga. Seekord ta rääkis, et
  nad varjavad end punkris Rauskapalus või Piirivarikus ja et neil on toiduga väga raske. Ta tunnistas, et neil tuleb
  tegeleda vargustega. Suvel 1946 andsin nõusoleku aidata neid toiduga. Leppisime kokku, et jätan talle toidu küüni
  (holodilnik? ’usse). 3 kuu jooksul sai ta minult kord nädalas toitu. Feliks Hõbe tahtis legaliseeruda ja tahtis saata
  mind jalgrattal TK-sse, kuid ma keeldusin, sest ma ei tunne seal kedagi. Paari päeva pärast kohtudes polnud ta siiski
  legaliseeruma läinud, kuna vahepeal talle korraldati haarang, mille eest tal õnnestus varjuda. Järgmisel korral
  kohtudes ütles ta, et ei legaliseerugi ja liitub hoopis metsavendadega. Juulis 1948 läksin metsa hobuse järele, kui
  nägin metsaserval Feliks Hõbe. Läksin tema juurde, me ajasime juttu ja ta ütles, et varjab end koos Johannes ja Robert
  Heeska, Kalju Visnapuu ja Artur Tellinguga ning nad kohtuvad Uhtjärve ääres, kus püüavad kala. Et nad just kavatsesid
  seal kokku saada.
  <br>
  MA: Tõepoolest, Feliks Hõbe on minu naaber. Bandiit „Jokker“ (F. Hõbe) tuli minu tallu koos „Vanaga“. Ta on lühikeset
  kasvu, keskmise kehaehitusega, kannab Saksa mundrit. Relvaks on tal sarvega automaat. „Vana“ teatas, et tal on üks hea
  kohake, kust teda kunagi kätte ei saada, kellegi juures, kes töötab TK-s. Missuguses, ta ei öelnud. Kus „Jokker“ võib
  varjata, seda ma ei tea.
</blockquote>

<p>
  Mõrvaragent „Jüri“ tappis
  <b>Feliks Hõbe</b>
  17.03.1953 une pealt kirvega. Agent "Jüri" oli Julgeoleku värvatud endine jurist Edgar Henning, Saksa aegne Võru
  linnapea.
</p>

<p>
  Ajavahemiku 1949-1953 lõpuks olid metsavendade ühised väljaastumised lõppenud. Langenud olid Artur Telling, Kalju
  Visnapuu, Valter Jeeger, Edgar Jeeger ja Feliks Hõbe. Ants Aunver koos Aino Reinumäega olid asunud valepassiga tööle
  Harjumaale Kose valda. Võrumaale oma punkrisse Lanna metsas oli jäänud vaid rasket parandamatut haigust põdev Robert
  Heeska, kes elas oma abikaasa toel. Johannes Heeska oli arreteeritud 26.03.1953. a Salme Sari talus Loosu-Navi
  külanõukogus ja mõistetud juulis 1953. a 25+5 aastaks Venemaale vangilaagritesse.
</p>
