---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/kiri-hrustsovile/
---
<h1>Kiri Hruštšovile</h1>

<p class="p"><a href="/sangaste/kiri-hrustsovile-kirjutis">Ümberkirjutatud kujul lugemiseks vajuta siia</a></p>

<div class="lg-gallery">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile1.jpg">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile2.jpg">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile3.jpg">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile4.jpg">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile5.jpg">
  <img src="/images/sangaste/dokumendid/kiri_hrustsovile6.jpg">
</div>
