---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/kiri-hrustsovile-kirjutis/
---
<h1>Aunveri kiri Hruštšovile</h1>

<p><b>Sigulis 22. märts 1958</b></p>

<p>Lp Sm. Hruštšov!</p>

<p>
  Palun mind vabandada tülitades alljärgnevate ridadega, viites Teie kallist aega ning ette tänades valmisolekut nende
  läbilugemiseks.
</p>

<p>
  See oli aastal 1939-1940 ja 1941, kui okupeerisid Stalin ja Berialased Balti riigid. Kõige esimesena Eesti. Kohe peale
  selle hakati Eesti rahva kallal vanu arveid õiendama, ülekuulamised, tagakiusamised, vangistamised, kuni 14. juunini
  1941, millal toimus kõige alatum ja toorem võte, süütu kaitsetu rahva küüditamine Venemaa sügavusse, kust tulid tagasi
  kahjuks ainult sandid ja surmateated. Peale selle Saksa okupatsioon, mis lõppes 12. august 1944. a. Tulid tagasi jälle
  Stalin ja Berialased, ainult selle eelteatega, et nad enam nii hullud pole. Kuid esimesel silmapilgul pandi meil valla
  täitevkomitee esimeheks endine hobusevaras, oma maja põletaja kindlustusraha saamise eesmärgil, joomar ning tööpõlgur.
  Sarnased esimehed olid nad peaaegu kõikjal valdades üle Eestimaa, kes tunnistasid keskmisi ja suuremaid majapidamisi
  saksa käsilasteks põhjendusel, et nad olevat sakslaste seadusi täitnud – norme nendele viinud okupatsiooni ajal.
  Hakkasid nimetatud majapidamiste varandusi konfiskeerima ning laiali vedama hobulaenutuspunktidesse, millise toimingu
  juures varastades kõike mida süda soovis ja milline toiming ahvatles neid uute majapidamiste Saksa käsilasteks
  tunnistamisele. Selle raske süüdistuse põhjal omanikke endid ähvardas vangla tee, olid sunnitud metsadesse põgenema.
  Hiljem hakati neid talumehi taga ajama oma metsadest ja kodudest, juhuslikult kohates põgenemisel lasti maha N.N.
  Hävituspataljoni liigete poolt. Tean mitmeid juhuseid, kus lasti tagant maha põgenemisel talumees, kes ei ole teinud
  elus muud, kui varahommikust hilja õhtuni ausat loovat tööd, korrastades oma talu hääperemehelikult, andes normi
  sääduspäraselt kõigile valitsustele. See talumees lasti maha kui koer. Paljud saadi kätte, viidi vangilaagritesse, kus
  ei pandnud nende elatanud tervis vastu ja nad surid. Sest saadik ei kutsutud neid Stalin Beria käsilasi enam rahva
  omakaitselasteks, nagu nad endid hiljem kõlavalt nimetasid, vaid kutsuti neid röövli ja mõrtsukate bandeks.
  Mitmekordsete kaebduste peale maakonna täitevkomiteesse järgnesid ikka teised ja kolmandad majapidamised nende Stalin
  ja Beria-laste ohvriks, kuni tuli lõpp sellega, kui Stalin ja Beria käsilaste poolt metsadesse sunnitud talumehed täis
  vereviha dimukate vastu, tulid ja lasid Stalin Beria käsilaste bande juhid paljudes valdades maha. Tähendab nad tapsid
  tapjaid – sellega võtsid ka metsamehed endile vere süü. Üldiselt oli see võitlus kaitsetu Eesti rahval Stalin Beria
  mõrvarite vastu. Nendesamade mõrvarite vastu, kelle mõrvatöösid olite Teie isiklikult avalikult kogu maailmale
  tunnistanud. Ka partei, ülemnõukogu ja presiidium samuti, ning peamõrvari Beria isegi hävitanud. Kuid paljud eestlased
  kui ka teised Balti rahvad, kes hävitasid samu Stalin Beria käsilasi, seisavad veel mõrvarite nimekirjas, nii
  vanglates kui ka vabaduses metsades ja varjupaikades ning paljudest töötavad Stalin Beria surmast saadik avalikult
  ausal looval üldkasulikkudel töödel vale nime all. Just sellepärast sellistes tingimustes, et seadus ei näe ette
  nendele amnestiat kes on teinud vere tööd.
</p>

<p>
  Ülal lühidalt kokku võetud põhjustel, milliseid analoogilisi põhjusi on veel palju ja palju julgen Teie poole pöörduda
  ettepanekuga ja lootusega. Kas teie ei leiaks nendele Stalin Beria käsilaste vastu võitlejatele kellel on vere süü ja
  kes istuvad vanglates, varjavad metsades ja elavad vale nime all ausat tööd tehes – mingisugune amnestia moodus, et
  nad kõik saaks oma õige nime ja ja ausa õiglase loova töö juure tagasi oma sünnikohtadesse ja elada nii nagu üks aus
  inimene võib ja peab elama. Tuleb välja, et nad on samal poolel võidelnud nagu Teiegi Stalin Beria ja nende käsilaste
  vastu. Kahjuks nad ei saa avalikkuse ette tulla sel lihtsal põhjusel, et nad on ilma Teie poolt võitlejate nimekirjas
  registreerimata.
</p>

<p>
  Mina isiklikult töötan peale Stalini surma 1953. a 25 XII-rist üldkasulikul looval tööl Teie riigis kodukoha
  naabervabariigis Läti N.S.V vale nime all. Näeks heal meelel säädust mis lõpetaks kõik poliitilised vere süüd
  ajavahemikus kuni Stal Beria surmani. Tühistaks kohtu menetlused ja lõpetaks juurdlused nende kohta. Lõpetaks
  vanglakaristuse vangisolijatelt ja ka ka karistuse passirešiimi rikkumise eest, sest nad olid sunnitud seda tegema oma
  ausa võitluse eest Stalin Beria käsilaste vastu elu alalhoiu mõttes. St. nagu süüdistustes on öeldud bandiitliku
  tegevuse Stalin Beria rešiimi vastu.
</p>

<p>
  Mis peale Stalin Beria surma on tehtud ja sündinud bandiitlik tegevus, seda tuleb tõesti selleks lugeda, sest praegune
  kord Teie riigis ei anna selleks kuskil pool pinda. On olemas sõnavabadus, eraomanduse kaitstus, majaehitamise
  võimalused, põhjuseta arreteerimisi ei ole kuskil esinenud ega massilist rahva küüditamist. On paljud tuhanded
  vanglatest vabastatud, leides neid süüdi mitte olevat jne. Jne. Kui keegi selle riigi seaduse juures peaks soovima
  mässata, siis see mässab tõesti iseenda vastu. Teen ettepaneku, mida palun tõesti mitte võtta käsuna, et tehke nii,
  vaid ainult heatahte märguandena. Olgu ta Teile selles suunas üheks väikeseks sädemeks.
</p>

<ol>
  <li>
    Lasta vabaks ehk vähendada aastaid vanglas Stalin Beria käsilaste vastu tegutsenud kodanikel kellel on vere süü
    võitluskeerises mainitud resiimi vastu.
  </li>
  <li>
    Anda amnestia nendele kodanikele kellel on vere süü võideldes Stalin Beria käsilaste vastu ja varjavad end metsades
    ja varjupaikades. Välja tulla hakata ausat loovat tööd tegema, kui nad saavad tõestada et nad ei ole peale Stalin
    Beria surma mingisuguseid röövimisi ega vargusi ega muu veretööga hakkama saanud. Anda ülesse kellel on ka vere süü
    Stalin Beria käsilaste vastu võideldes (bandiitlik tegevus) kes töötavad pääle Stalin Beria surma (loetamatu) nimel
    ausal looval tööl seda kõike(loetamatu) reaalselt ja faktiliselt tõestades (loetamatu) organitele.
  </li>
  <li>
    Lõpetada nende kohta juurdlused süüdistusmaterjalid ning kohtumenetlused sest Stalin Beria aegsed juurdlused on
    tehtud inimeste peksmise, piinamiste, näljutamise janutamise ning mitmesuguste mitteinimlikkude võtetega, kus
    inimene oli sunnitud seda rääkima mida taheti. See on selgunud piinakambritest läbi käinud inimeste
    ülestunnistustest. Nende faktide põhjal ei või varjajate süüdistusi ja juurdlusmaterjale puhta õigena võtta,
    milliseid toimikuid on alustatud Stalin Beria ajast ning on lõpetamata.
  </li>
  <li>
    Mitte lugeda Stalin Beria käsilaste vastu võitlejate passirešiimi rikkumist kohtu poolt karistatavaks, kui
    pealesunnitud paratamatust ausa elu edasielamise vahendit.
  </li>
</ol>

<p>
  Arvan isiklikult, et sellega tooksite palju ausaid inimesi ausale loovale tööle metsadest, peidupaikadest ning tõstaks
  oma prestiisi kodumaal ja eriti välismaal kus nähtavasti ei usuta Teid Stalin Beria jälgedest mitte palju kõrvale
  kaldunud olevat.
</p>

<p>
  Kõike ülal-toodud, kui see leiab teie poolt vastukaja, palun avaldada ajalehes Pravda, kust liiduvabariigid teevad oma
  lehtedesse väljavõtteid, samuti Läti ja Eesti. Et oleks lootus nendel kodanikel edasi elamiseks kuni väljapääsuni
  ummikust.
</p>

<p>
  5) Endast mõista amnestia alla ei kuulu ega vanglast vabastamisele need kodanikud kes ei ole Stalin Beria käsilaste
  poolt tagakiusatavad olnud. On oma ausa ja loova töö vabatahtlikult maha jättes hakanud varastama, röövima ja lõpuks
  mõrvanud süütuid inimesi, elatades end mõrvatud isiku mahajäänud varandusest. Ei kuulu sellepärast, sest sellised
  isikud on maanias, paranematta. Vabaduses elades võivad nad jälle mõne süütu inimese mõrvata ning ühiskonnale
  asendamata kahju teha.
</p>

<p>
  6) Palun võtta seda kirja kui mõtte alguseks teatavaid ausaid inimesi sõjakeerises veresüü paragrafi alla sattuvaid
  välja tuua ausa ja õiglase loova töö juurde.
</p>

<p>Austusega</p>

<p><b>August Märdimägi</b></p>
<p><i>Sigulis 22. märts 1958</i></p>
