---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/lingid/
---
<h1>Lingid</h1>

<ul class="mt-6 space-y-3 list-none pl-0">
  <li>
    <a href="/sangaste/kiri-hrustsovile">Kiri Hruštšovile</a>
  </li>
  <li>
    <a href="/sangaste/igor-gaspl">Igor Gaspl (jätis)</a>
  </li>
</ul>
