---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/pildid/
---
<h1>Pildid</h1>

<div class="lg-gallery">
  <img src="/images/sangaste/fotod/ants_aunver1.jpg" alt="Ants Aunver.">
  <img
    src="/images/sangaste/fotod/ants_aunver_perekond.jpg"
    alt="Ants Aunver istub ees, tema taga vasakult isa, ema, õemees Karl Parts ja õde Helmi, taga seisavad õed Ena ja Aliide."
  >
  <img src="/images/sangaste/fotod/ants_aunver2.jpg" alt="Ants Aunver.">
  <img src="/images/sangaste/fotod/aunver_linnamae_mehed.jpg" alt="Linnamäe mehed. Ants Aunver ees vasakult teine.">
  <img src="/images/sangaste/fotod/aunver_suusad.jpg" alt="Suuskadega. Ants Aunver vasakult teine. Foto: Erakogu">
  <img src="/images/sangaste/fotod/aunver_ees_paremal_kaabuga.jpg" alt="Ants Aunver istub ees paremal kaabuga.">
  <img
    src="/images/sangaste/fotod/aunver_pulmas2_trykiks.jpg"
    alt="Ants Aunver pulmas, ülevalt teises reas paremalt teine."
  >
  <img
    src="/images/sangaste/fotod/ants_aunver_kaardimäng.jpg"
    alt="Perekondlik kaardimäng Saksa ajal. Vasakul Ants Aunveri abikaasa, keskel õe Aliide kasutütar Luule Puussaar, paremal Ants Aunver."
  >
  <img src="/images/sangaste/fotod/jaan_heljuste_perega.jpg" alt="Jaan Heljuste perega">
  <img src="/images/sangaste/fotod/felix_hobe.jpg" alt="Feliks Hõbe Antsla kaitseliitlasena. Foto: erakogu">
  <img
    src="/images/sangaste/fotod/ants_aunver4.jpg"
    alt="Ants Aunveri foto Julgeoleku poolt tagaotsitavate albumist."
  >
  <img src="/images/sangaste/fotod/tagaotsimisalbum.jpg" alt="Lehekülg Julgeoleku tagaotsitavate albumist.">
  <img
    src="/images/sangaste/fotod/luksepa_talu_maluoti.jpg"
    alt="Ants Aunveri onu Jaan Luksepa Mäluoti talu Laukülas Sangaste vallas, kus puukuuris asus punker. "
  >
  <img src="/images/sangaste/fotod/punkrisuu_varjatud2.jpg" alt="Puudega varjatud punkriluuk. Foto:Rahvusarhiiv">
  <img src="/images/sangaste/fotod/punkrisuu_kinni2.jpg" alt="Kinnine punkriluuk. Foto:Rahvusarhiiv">
  <img src="/images/sangaste/fotod/punkrisuu_lahti2.jpg" alt="Lahtine punkriluuk. Foto:Rahvusarhiiv ">
  <img src="/images/sangaste/fotod/punkrisuu3.jpg" alt="Punkri sissepääs. Foto:Rahvusarhiiv">
  <img src="/images/sangaste/fotod/punkrisuu_yles2.jpg" alt="Punkri sissepääs. Foto:Rahvusarhiiv">
  <img src="/images/sangaste/fotod/punker_seest2.jpg" alt="Punker seest. Foto:Rahvusarhiiv">
  <img src="/images/sangaste/fotod/punkriahi2.jpg" alt="Punkriahi. Foto:Rahvusarhiiv ">
  <img src="/images/sangaste/fotod/punkri_ukseavaja2.jpg" alt="Luugiavaja. Foto:Rahvusarhiiv ">
  <img src="/images/sangaste/fotod/relvatagavara.jpg" alt="Mäluoti talu punkrisse kogutud relvatagavara.">
  <img src="/images/sangaste/fotod/keema_mihkli.jpg" alt="Ants Aunveri pererahvata kodutalu Keema-Mihkli 1956. a.">
  <img
    src="/images/sangaste/fotod/keemamihkli_saun2.jpg"
    alt="Keema-Mihkli talu saun 1956. a, ristiga märgitud Ida Muruoja tapmiskoht."
  >
  <img
    src="/images/sangaste/fotod/virve_tamme_aino_niklus.jpg"
    alt="Artur Tellingu kooliõed Virve Tamme, Aino Niklus ja Ursula Sisask. Tapetult võetud foto."
  >
  <img src="/images/sangaste/fotod/virve_tamme_tagakylg.jpg" alt="Tapetud Artur Tellingult ära võetud foto tagakülg.">
  <img src="/images/sangaste/fotod/kval_artur_telling_surn.jpg" alt="Tapetud Artur Telling, 20 a, 28.12.1948">
  <img src="/images/sangaste/fotod/heeska_johannes_mustvalge.jpg" alt="Johannes Heeska arreteerituna 1953. a.">
  <img src="/images/sangaste/fotod/robert_heeska_arr.jpg" alt="Robert Heeska arreteerituna 1956. a.">
  <img src="/images/sangaste/fotod/ants_aunver_arr_mustvalge.jpg" alt="Ants Aunver arreteerituna 1958. a.">
  <img src="/images/sangaste/fotod/aino_reinumägi_arr.jpg" alt="Aino Reinumägi.">
  <img src="/images/sangaste/fotod/aunveri_bajard_syst_pystol.jpg" alt="Ants Aunveri püstol Bayard.">
  <img src="/images/sangaste/fotod/verevasaares.jpg" alt="Ants Aunveri Saksa püstolkuulipilduja MP40">
  <img
    src="/images/sangaste/fotod/robert_heeska_kaarman_surmavaenlase_vastu.jpg"
    alt="Robert Heeska vangistuses. Foto: A. Käärman. Surmavaenlase vastu"
  >
  <img
    src="/images/sangaste/fotod/Johannes_Heeska_1960ndate_algus_hall.jpg"
    alt="Johannes Heeska vangistuses 1960-ndate alguses. Foto: erakogu"
  >
  <img
    src="/images/sangaste/fotod/Johannes_Heeska_enda_tehtud_kandlega_1960ndate_algus_hall.jpg"
    alt="Johannes Heeska vangistuses enda tehtud kandlega 1960-ndate alguses. Foto: erakogu"
  >
</div>

<h3>Tänapäevased fotod</h3>

<div class="lg-gallery">
  <img
    src="/images/sangaste/fotod/kunagine_keemamihkli.jpg"
    alt="Kunagine Ants Aunveri kodu Keema-Mihkli talu aastal 2017."
  >
  <img
    src="/images/sangaste/fotod/kunagine_keemamihkli2.jpg"
    alt="Kunagine Ants Aunveri kodu Keema-Mihkli talu aastal 2017."
  >
  <img
    src="/images/sangaste/fotod/puumiskallas2.jpg"
    alt="Ants Aunveri ja Aino Reinumäe punkrikoht Puumiskaldal 1950-1951 jääb fotol paremale."
  >
  <img
    src="/images/sangaste/fotod/kuldisuu.jpg"
    alt="Ants Aunveri ja Aino Reinumäe punkrikoht 1951-1953 Kooraste vallas Kuldi soo serval."
  >
  <img src="/images/sangaste/fotod/kuldi soo.jpg" alt="Punkri (elukohaks 1951-1953. a) asukoht">
  <img src="/images/sangaste/fotod/kulli talu.jpg" alt="Robert Heeska elupaiga Kulli talu varemed.">
  <img src="/images/sangaste/fotod/rauskapalu.jpg" alt="Punkriase Rauskapalus.">
  <img src="/images/sangaste/fotod/rheeska_lannamets.jpg" alt="Robert Heeska punkriase Lanna metsas.">
</div>
