---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/rjm/
---
<h1>RJM</h1>

<div class="toc-container">
  <p class="font-semibold text-center">Sisukord</p>
  <ul class="p-0">
    <li><a href="#julgeolek-otsib-jalge">Julgeolek otsib jälge</a></li>
    <li><a href="#agentuur">Agentuur</a></li>
    <li>
      <a href="#rjm-ettekanded">RJM 2-N osakonna jälitustegevuse ettekanded Aunveri-Heeska salga hävitamiseks</a>
    </li>
  </ul>
</div>

<p>Metsavendade pikaaegne tabamatus osutab elanikkonna toetusele, mida rõhutas ka Julgeolek:</p>

<blockquote>
  Materjalidest nähtub, et bandiitidel oli palju abistajaid ja informaatoreid, kellelt said ainelist abi ja teateid
  sõjaväelaste gruppide ilmumise kohta. ENSV KGB Jälitusosakonna vanemuurija Levtšenko.
</blockquote>

<p>
  Anastamise jätkudes asendusid massilised haarangud agentuurandmetel põhinenevate operatiivlöökidega. See tähendas
  võimu suunatud, salastatud ja ränka survet legaalselt elavatele inimestele. Inimesed võeti salaja kinni ja toimetati
  Julgeoleku osakonda, kus neid peksti, ähvardati ja piinati. Vaheldumisi kiusatusse viivate lubadustega nad rahule
  jätta, kui nõustuvad reetma. Elanikkonnalt võeti lubadus metsavennad üles anda ja allkiri vaikimiskohustusele
  Julgeolekus kogetu osas, riigireeturiks kuulutamise ähvardusel.
</p>

<blockquote>
  Mina, Laurits Ella Juhani t annan käesoleva allkirja ENSV Riikliku Julgeoleku organile selle üle et mina kohustun
  pidama tulevikus täielikus saladuses kõike seda mida on minu käest ülekuulamisel päritud ja mida olen mina näinud
  Võrumaa Julgeoleku osakonna ruumides. Juhul kui mina eksin antud allkirja vastu kannan karistust vastavalt seaduse ees
  kui riigisaladuse reetja. Võrus 13. jaan 1949 E Laurits
</blockquote>

<p>
  Metsavennad sõltusid täielikult kohaliku rahva suhtumisest. Julgeoleku julmust ja röövimisi elanikkonna suhtumine ei
  kammitsenud.
</p>

<p>
  "Kulakuks" märgistatud pered oli ülekohtu ees kaitsetud. „Kulaklikest" taludest käis enda söötmist nõudmas ja vara
  endale kahmamas igasuguseid kommunistlikke tegelasi: kohalikke punaseid, Julgeoleku tegelinskeid, sõdureid.
  Metsavennad pidurdasid punaste röövimisindu hoiatuste, ähvarduskirjade ja ülbemate kokkukahmajate hukkamisega. See
  saatus tabas ka Sangaste partorgi Talvikut, kes sundis talunikke ähvardustega tasuma makse rohkem kui norm ette nägi,
  koostas „kulakute“ nimekirju, sundis inimesi kolhoosi ja jälitas varjajaid.
</p>

<p>
  <b>1948. a detsembris</b>
  käis Sangaste TK esimees
  <b>Vainola</b>
  koos finantsinspektor <b>Käis</b>iga valla majapidamisi „kulaklikuks“ tegemas, kirjutades kohapeal üles talude vara.
  Partorg
  <b>Kollo</b>
  ametiruumides otsustati koos
  <b>Vorobjov</b>i, kpt <b>Astahhov</b>i ja tõlk <b>Bõstrov</b>iga Valga Julgeolekust kohalike vara röövima minna.
  Eelnevalt pakkus Ivan Käis julgeolekumeestele näha vara üleskirjutamise akte:
</p>

<blockquote>
  See käib väga lihtsalt, lähete kohale ja vaatate, mis meeldib, raha maksate hiljem isiklikult minule.
</blockquote>

<p>
  Järgmisel päeval sõitsid Vorobjov ja Bõstrov Julgeolekust koos Sangaste TK finantsinspektor Käisiga Leena Säinase
  tallu. Vorobjov ja Bõstrov röövisid kumbki 25 kg kaaluva põrsa ja sõitsid saagiga minema. Päev hiljem olid loomad
  tapetud. Boris Astahhov Valga Julgeolekust, kes osales märtsiküüditamisel ehk tema enda sõnul „teenistuslikus
  komandeeringus Helme vallas kulakute ja bandiitliku elemendi väljasaatmisel“, parseldas hiljem avalikult Valgas
  küüditatute vara. Hiljem, 1950. a, oli Astahhov seotud äärmiselt jõhkrate peksmistega Tõrvas.
</p>

<p>
  <b>Käis Ivan</b>
  Samueli p sünd 1922 Altai krais, töötas Valgamaa TK rahandusosakonnas al 24.09.1947. Lahkus 1949 omal soovil Tuula
  linna.
  <br>
  <b>Astahhov, Boris</b>
  Pavlovitš 1916, organites al 1940, VK(b)P liige al 1942
  <br>
  <b>Vorobjov Mihhail</b>
  Petrovitš 1918, organites al 1940, VK(b)P liige al 1944
  <br>
  <b>Bõstrov Ivan</b>
  Pauli p 1923, organites al 1945, VK(b)P liige al 1944
</p>

<p>
  Talupidajate röövimise taustal saatis Ants Aunver 1948. a ähvarduskirja ka tapetud Talviku järel pukki pandud partorg
  Kollole:
</p>

<blockquote>
  Lp. kod. Kollo
  <br>
  Teie eelkäia mõisteti surma süütute inimeste Siberisse nälja ja külmasurma saatmise, vägivaldselt kolhoositeele
  sundimise ja õigustamatult põhjuseta inimesi juutide poolt väljamõeldud kurnamismeetodi elajaliku väljapressimise
  teele tõukamise nn. kulakuks tegemise eest. Juba kuuleme ka Teist eelpoolmainitud elajalikke tegusid Sangastes. Olge
  tänatud, et teeme Teile hoiatuse kättesaamise kuupäevast - kui kuuleme ühtegi kulakuks tegemist või selle tegemisega
  inimeste hirmutamist, Siberisse saatmist või vägivaldselt (hirmutuste ja ähvardustega) kolhoosi sundimist Teie või Te
  alluvate juudi käsilaste poolt - vastutate oma eluga. Teile elu lõpp, kuid teistele teiesarnastele Eesti rahva
  inimjätistele hoiatuseks ja teadmiseks, et vägivallale vastatakse vägivallaga. Olge tänatud (tänulikud), et teeme
  teile hoiatuse enne karistusaktsiooni. Ja teadke, et me ei ole huvitatud Te elust, vaid inimlikkudest tegudest Eesti
  rahva teenimisel.
</blockquote>

<h3 id="julgeolek-otsib-jalge">Julgeolek otsib jälge</h3>

<p>
  Partorg Talviku surmamine 1948. a suvel oli võimudele ärritav. Julgeoleku operatiivtöö ülemaks pandi kogemustega
  alampolkovnik Vassili Beljajev.
</p>

<p>Julgeolek uuris oma nuhkide kaudu rahva suhtumist partorg Talvikusse:</p>

<blockquote>
  Agendi "Jablotškin"ettekanne: Erna Makke ütles: "Hea, et Talvik otsa leidis ja kahju, et Sirel pääses. Poleks paha,
  kui ka Sangaste TK esimees Vainola kuskil kuuli ette jääks." Nuhk "Son" teatas, et Heino Väljaots Sangaste veskist oli
  küsinud tuttava tüdruku käest Pühajärvelt Kotre talust: "Kust saada padruneid, tapaks partorg Talviku ja Sangaste TK
  esimehe Sireli".
</blockquote>

<p>Kahtluse alla jäi Lembit Reiljan Tagulast.</p>

<blockquote>
  Agent „Jablotškin“: „16. augustil 1948 hommikul tuli Sangaste TK-sse Tagula küla elanik Reiljan Lembit, kes nõudis
  tõendit, st luba sõiduks Tagulast Tartusse. Allikal polnud kavatsust Reiljanile sellist tõendit anda, kuid viimane
  tuli päeva jooksul korduvalt ja nõudis tõendit, mis võimaldaks tal asuda tööle Tartu tuletõrjekomandosse. Lahkudes
  kohtus Reiljan ukselävel Sangaste TK esimehe Sireliga, kes tormas pärast Reiljani lahkumist allika juurde ja küsis:
  “Kes see oli? See on üks neist kahest tundmatust, kes tapsid partorg Talviku ja haavasid mind 27. juuni öösel
  Kakulaane küla juures. See hoidis hobust valjastest, aga teine läks vankri juure ja hakkas tulistama mind ja
  Talvikut“.
</blockquote>

<p>
  Samaaegselt suunas nuhi teade Julgeoleku kahe noore naise jälile Valgas, kellel oli side "kahtlaste isikutega Urvaste
  vallast". Üks naistest võeti 24.11.48 salaja kinni ja allutati ülekuulamisele.
</p>

<p>
  Novembri lõpus 1948 oli nooruke õmblejanna Regina Kikas Julgeoleku pihtide vahel katki murtud ja Julgeolek
  metsavendade jälgedel. Detsembris-jaanuaris järgnes suur arreteerimiste laine Linnamäe ja Urvaste ümbruses. Võru valda
  koondati selleks operatsiooniks juurde lisajõude teistest Julgeolekuosakondadest.
</p>

<p>
  Detsembri algusse jäi metsavendade viimane suur ühisoperatsioon 1.12.1948, milleks oli stiilselt ellu viidud riigiraha
  rööv reisirongi postivagunist Võru ja Valga vahel, Sõmerpalu jaama lähedal.
</p>

<p>
  Kaks nädalat hiljem, 14.12.48, toimus haarang Ants Aunveri ja Johannes Heeska asupaigas, Jaan Luksepa talus Sangaste
  vallas. Johannes Heeska pääses koidikul pahaaaimamatult talule lähenedes napilt varitsusse kukkumast, sattudes
  sealjuures tulevahetusse. Ants Aunver suutis oma punkrist puukuuri all vastu õhtut märkamatult lahkuda, ehkki talu oli
  valve all ja selle elanikud vahistatud. Varahommikust keskpäevani toimunud läbiotsimisel punkrit ei leitud, kuid
  õhtuks suudeti punker metsavendade esemete ja relvatagavaraga avastada. Nädal hiljem liikusid veoautokoormad
  julgeolekusõduritega Ants Aunverit jälitades Kuigatsi valla taludesse. Ants Aunver sai tänu oma abistaja Hilda Kallise
  õigeaegsele hoiatusele napilt põgenema ja raputas taaskord Julgeoleku oma kandadelt.
</p>

<p>Sõmerpalu vallas tegi Julgeolek haarangu Valter Jeegeri punkrile.</p>

<blockquote>
  20. dets 1948 kl 10.00 toimus haarang Valter Jeegeri punkrile Sõmerpalu valla metsamassiivis. ENSV RJM Võru
  maakonnaosakonna vanem operatiivvolinik ltn Staršii ja RJM vägede roodukomandör ltn Stepura koos RJM 1 jao sõduritega
  (voisk MGB 1. vzvoda) avastasid punkri, kättesaaduid ega kinnipeetuid pole, haavatuid pole, vastupanu osutanuid pole.
  Relvadest saadi 1 Saksa vintpüss ja selle 23 padrunit. Lisaks 2 jalgratta pedaali, 1 tekk, 1 raudahi, 1 kruus, saag,
  kirves, labidas, haamer ja meeste vanad püksid.
</blockquote>

<p>
  Võimetu tabama mehi, asus Julgeolek toore jõhkrusega hävitama nende lähiringkonda. 1948. a lõpus ja 1949. a alguses
  võeti salaja kinni, nii ükshaaval kui perekonniti, ligi 100 inimest ja toimetati Võru Julgeolekuosakonda.
</p>

<blockquote>
  ENSV RJM 2-N osakonna ülema asetäitja Beljajevi operatiivgrupp arreteeris 7.12.48- 21.01.49 umbes 20-30 bande
  kaasosalist-liiget ja u 60 aktiivset bandeabilist.
</blockquote>

<p>
  Märtsis mõisteti neist 40 inimest ühekorraga süüdi ja saadeti Siberi vangilaagritesse, pidevalt täienesid tapivoorid
  järgmiste süüdimõistetutega.
</p>

<p>Kinnivõetuid on Võru Julgeolekuosakonnas veetud vägistada ja pekstud kumminuiade-nuutidega.</p>

<p>Metsavenna abikaasa, kes võeti kinni 3.01.1949:</p>

<blockquote>
  ENSV prokurörile Tallinn
  <br>
  Vahialune ..... paragr. 17-59-3 Vangla nr.1 Tallinn
  <br>
  Avaldus
  <br>
  Pöördun Teie poole palvega koos abi saamiseks minu mitte õiglase kohtlemise kohta Võru Julgeolekus. Siin (Tallinnas)
  selgus minule, et Nõukogude seadus ei luba peksa ega piinata, kuna seal (Võrus) tehti minuga seda. Algul, pärisnime ei
  tea, öeldi et soomlane, peksis mind käega pähe ja kaela, rebis kleidil nööbid eest, siis viis mind eeskotta kiskus
  pükse jalast, arvatavasti vägistamise eesmärgil, hakkasin kisama, pärast viis mind tõlgi, nime ei tea, kaasabil
  mingisuguse kuuri alla, kus toimus samasugune töö – kuid minu kisa pääle tuli keegi välja ja kutsus nemad ära, sellega
  pääsin ka mina. Siis viidi mind tuppa, tõmmati põrandale mitmed korrad ja peksti kummi nuudiga, seda tegevust vaatasid
  päält ja aitasid kaasa major Sisupenko (Zjubenko) ja teised kellede nimesid ei tea, need olid umbes 6 isikut ning
  minul oli sel juhul jalad ja käed seotud rihmaga ja suu rättikuga. Seda võivad tõendada järgmised isikud: 1) Reinumäe
  Leida – kes viibis sel ajal Julgeolekus ja Julgeoleku masinakirjutaja ja temaga kaasas keegi teine naesterahvas
  kelledel lasti mind kahel korral üle vaadata. Kes esimesel korral ehmusid ja teisel korral midagi rääkisid vene keeles
  mida aru ei saanud. Pääle selle viidi mind Võru vangla, kus arst andis mulle rohtu valude vastu ja ütles, et seda ei
  tohi teha. Palun teatada minule kas see on seaduspärane või ei.
  <br>
  Tallinnas 30.1.1949
</blockquote>

<p>Reinumäe Leida meenutus:</p>

<blockquote>
  Üle kuulati mind öösel. Enne oli samas ruumis pekstud üht naist – vaata, kuidas see närvidele mõjub! Selg oli tal
  lõhki löödud, too oigas maas, veri oli välja tulnud siniste vorpide seest, ta ainult oigas; pandi mind keset ruumi
  seisma, viis-kuus meest, nahknuudid käes, seisid ratasringi ümber minu, mõtlesin, jumal, nüüd hakkavad mind peksma,
  peksavad niisama nagu toda naist – pärast sain teada, et too oli HA – ta ei saanud üldse rääkida, hiljem sain patareis
  temaga kokku. Hakkasin hirmsasti kartma ja kui nad küsisid, kas tundsin Telling Arturit, ütlesin: „Tundsin jah.“
  „Leiba talle andsid?“ „Andsin jah.“
  <br>
  (Jaan Ellen, Võrumaa saaga)
</blockquote>

<p>Tunnistusi peksmisest leidub mitmeid, peksjatena mainivad kõik 5-6 meest kaigaste-nuutidega:</p>

<div style="clear: both"></div>

<blockquote>
  Tamm Richard: Nägin Arturi õde (Artur Tellingu 20 aastane kaksikõde Alli) Võrus Julgeolekus, ta oli läbi pekstud,
  pingi all, sosistas:“Ma ütli su pääle halva sõna“.
  <br>
  (Jaan Ellen, Võrumaa saaga)
</blockquote>

<img alt="Erich Jeegeri kaebus" class="lg-img image-left" src="/images/sangaste/dokumendid/erich_jeeger_kaebus.JPG">

<blockquote>
  LH kaebus: Minu asja juurdlemisel eeluurimisel tarvitatati vägivalda ja ähvardusi, et ma tunnistaksin end süüdi, nagu
  Võru SM ülekuulamisel mind ähvardati „tümaks teha“ ja löödi üle kühma kumminuiaga. Selleks et ähvardus hästi mõjuks,
  toodi uurija ruumi 6 sõjaväelast ohvitseri, kusjuures 4 mehel olid käes kumminuiad, aga kahel mehel puukepid, alles
  siis algas ülekuulamine. Kes need sõjaväelased olid, ma ei tea, ükski end ei nimetanud. Üks neist meestest virutas
  mulle kumminuiaga selga ja ütles, et ma räägiksin tõtt. Kes ta oli, ma ei tea, ta rääkis vene keeles.
</blockquote>

<p>Kambana nuuditajad-peksjad olid:</p>

<p class="clear-both">
  <img
    alt="Andrei Zjubenko"
    class="lg-img image-left w-[30%]"
    src="/images/sangaste/fotod/andrei_zjubenko_ivanovitš.jpeg"
  >
  <b>Zjubenko</b>
  Andrei Ivanovitš, s 1905, VKP(b) liige al 1939, organites al 1928
  <br>
  ENSV RJM Võru maakonnaosakonna ülema asetäitja, major
</p>

<p class="clear-both">
  <img
    alt="Vassili Beljajev"
    class="lg-img image-left w-[30%]"
    src="/images/sangaste/fotod/vassili_beljajev_nikititš.jpg"
  >
  <b>Beljajev</b>
  Vassili Nikititš, s 1910, venelane, VK(b)P liige 1939, organites al 1939
  <br>
  ENSV RJM 2-N osakonna ülema asetäitja, al polkovnik
  <br>
  ENSV Riikliku Julgeoleku Rahvakomissariaadi Võru maakonnaosakonna ülem kuni 1946, hiljem RJM 2-N osakonna ülema
  asetäitja
</p>

<p class="clear-both">
  <img
    alt="Vassili Nosatšenko"
    class="lg-img image-left w-[30%]"
    src="/images/sangaste/fotod/vassili_nosatšenko_anastasjevitš.jpg"
  >
  <b>Nosatšenko</b>
  Vassili Anastasjevitš s 1907 ukrainlane, VK(b)P liige 1932, organites al 1932
  <br>
  ENSV RJM 2-N osakonna 2 jaoskonna van oper volinik, kpt
</p>

<p class="clear-both">
  <img
    alt="Igor Andrejev"
    class="lg-img image-left w-[30%]"
    src="/images/sangaste/fotod/igor_andrejev_mihhailovitš.jpg"
  >
  <b>Andrejev</b>
  Igor Mihhailovitš s 1914, venelane, VK(b)P liige 1943, organites al 1940
  <br>
  ENSV RJM 2-N osakonna 3. jaoskonna ülem, kpt
</p>

<p class="clear-both">
  <img
    alt="Konstantin Mihhaljov"
    class="lg-img image-left w-[30%]"
    src="/images/sangaste/fotod/konstantin_mihhaljov_jakovlevitš.jpg"
  >
  <b>Mihhaljov</b>
  Konstantin Jakovlevitš s 1919, venelane, VK(b)P liige 1941, organites al 1943
  <br>
  ENSV RJM Võru maakonnaosakonna 2-N osakonna ülema asetäitja, ltn
</p>

<p class="clear-both">
  <b>Leoke</b>
  Anatoli Jakobovitš s 1924, eestlane Leningradi oblastist, VKP(b) kandidaat al 1947, RJM organites al 1943
  <br>
  ENSV RJM 2-N osakonna vanem oper volinik, ltn
</p>

<p>
  Soomlasena nimetatu oli Võrru komandeeritud karjalasoomlane
  <b>Teppojev</b>
  Grigori Fjodorovitš s 1913, VK(b)P liige al 1932, organites al 1945
  <br>
  Valga RJM osakonna ülema asetäitja
</p>

<p>Naisjulgeolekutöötajad, kes pekstut üle vaatasid:</p>

<p>
  <b>Kuzmina</b>
  Jevdokia Grigorjevna s 1922, parteitu, organites al 1948
  <br>
  ENSV RJM Võru maakonnaosakonna masinakirjutaja
  <br>
  <b>Maasik</b>
  Terese Feodori t s 1926, (vene kirjapildis Мазик Терезе Федоровна), VLKSM liige al 1943, organites al 1944
  <br>
  ENSV RJM Võru maakonnaosakonna sekretär, n ltn
</p>

<p>
  Vormitäiteks algatatud julgeolekusisene uurimine HA peksmise asjus alustati ja ka lõpetati samal päeval, 16.05.1949.
  See on 5 kuud pärast peksmist ja pärast märtsikuist Eriosakonna meeldetuletust. Tulemuseks oli tavapärane eitamine:
</p>

<blockquote>
  ENSV RJM Võru maakonnaosakonna kaastöötjad eitasid kategooriliselt ülekuulamisel füüsilise mõjutamise fakti HA suhtes.
  Edasine uurimine selles asjas lõpetada.
</blockquote>
<p>
  Oma seletuskirjades valetasid Julgeoleku tegelased ühel häälel, et uurija Nosatšenko kabinetti külastasid nad "üksnes
  vahetevahel“ ja „mitte kunagi mitte mingisugust peksmist RJM Võru maakonnaosakonna kaastöötajate poolt pole toimunud“.
  Sama hingetõmbega süüdistasid nad ohvrit "jultunud provokatsioonilises arveteõienduses RJM organitega“. Tunnistajatelt
  Leida Reinumäelt ega Võru vangla arstilt seletuskirju pole võetud. Pekstu ise oli juba mitu kuud varem saadetud
  kaugpõhja Vorkuta erilaagrisse nr 6 ja temale üldse ei vastatudki. Nagu ei vastatud ka teiste pekstute avaldustele.
</p>

<h3 id="agentuur">Agentuur</h3>

<p>
  Metsavendluse aegsed Julgeoleku värvatud agendid moodustasid päris suure inimhulga. Valdav osa neist oli värvatud
  "kompromiteerivate tunnuste alusel" ja püüdis pigem äraandmist vältida. Värbamised toimusid ähvardava sunni all.
  Inimesi arreteeriti ka nõutud koostöö vältimise pärast. Paljude värvatute tunnistustest on näha, mida nad rääkisid,
  kuid pole näha, mida jätsid rääkimata või kas edastatu oli tõepärane. Salajase kinnivõtmise järel nõuti ähvarduste ja
  meelitamisega keelekandmist ja käskude täitmist. Vastutasuks pakuti süüdistuse kergendamist või pääsemist Vene
  vangilaagrist. Käsutäitmist kontrolliti teiste agentide ettekannete kaudu. Surve alla sattunud kohalikud andsid
  igasuguseid katteta lubadusi. Mitmed agendiks värvatud põgenesid rõhumise eest ise metsavendade juurde või proovisid
  vahetada elupaika, mitmed andsid moel või teisel metsavendadele oma värvatusest märku. Mõned mängisid metsavendadega
  kokku ja vahendasid valeteateid. Julgeolek kurtis, et värbamised olid paljastanud metsavendadele nende töömeetodi ja
  metsavennad oskasid seda ära kasutada.
</p>

<p>
  Paraku läks Julgeolekul korda mõnede inimeste senine minapilt hävitada. Nende tahe kukkus kokku ja nad hakkasid ellu
  viima Julgeoleku tahet ja käske, külvates senistele sõpradele vastutasuks enda usaldamise eest surma ja hävingut.
  Nendest said äraandjad, surmatoojad.
</p>

<p>
  Alltoodud ettekanded osutavad, kui laialdaselt ja samas üksikisiku põhiselt püüdis Julgeolek metsavendade ümbruskonda
  reetmisele sundida. Kuidas kasutati ära inimeste muret enda, oma kodu ja ülalpeetavate saatuse pärast, kuidas õhutati
  reetjat endale sisemist õigustust leidma. Kiusatuseks pakkus Julgeolek reetmisjärgset rahule jätmist.
  <br>
  Sellele vaatamata kordus aastast aastasse Julgeoleku kurtmine – puudub usaldusväärne agentuur.
</p>

<p>AUNVERI-HEESKA SALGA OTSIMISEKS VÄRVATUD AGENDID. VÄRVATUTE ÄÄRMISELT ERINEV KÄITUMINE.</p>

<p>
  <b>“Ott”</b>
  -
  <b>Elsa (Elisabet) Orasmäe</b>
  37 a. Värvati 1948. a lõpus Julgeoleku ülekuulamiste käigus, kus 5-6 meheline jõuk peksis vahistatuid nuutide ja
  kaigastega. Vahistatu lasti vabaks ja suunati Heeska otsingutele. Naise abikaasa oli taganevate vägedega Eestist
  lahkunud, ta ise elas Horma talus koos kahe teismelise lapsega. Enne vahistamist oli ta Johannes Heeska abistaja.
  Naine meelitas kohtumisele Arnold Kängsepa, kelle Julgeolek varitsuses tappis. Naiselt saadud andmed tõid kaasa
  mitmete inimeste vahistamisi ja langemist värbamissurve alla (Hans Taalfeld, Eduard Aplein jt).
</p>

<img class="lg-img image-right w-[30%]" src="/images/sangaste/dokumendid/mardimae_varjumine_1950_vk.jpg">

<p>
  <b>“Ivan”</b>
  -
  <b>Rein Märdimäe</b>
  48 a. Värvati 1948. a. Aitas metsavendi nii enne kui pärast värbamist. Ei jätnud Ants Aunverit raskel hetkel hätta,
  vaid aitas tal talvel leida pelgupaik ja peavari oma naabri Brikkeri juures Koidu talus. Hoiatas Aunverit, et ta on
  Julgeoleku valve all. Julgeolek kaasas ta Ants Aunveri meelitamiseks varitsusse Brikkeri juures Koidu talus, kuid
  tabamata jäid seal nii Aunver kui sissepiiratud talus nähtud kaks metsavenda. 1950. a teatas Julgeolek, et Märdimäe on
  kodust koos perega lahkunud teadmata suunas.
</p>

<p>
  <b>“Virve”</b>
  -
  <b>Rolaine (Laine) Laugason</b>
  25 a. Värvati 1950. a. Oli võõrkeelte õpetaja Osula koolis. Andis oma värvatusest teada Valter Jeegerile, kelle jälile
  ta saadeti. Võimaldas Jeegerile punkri ehitamise oma sauna eesruumi alla. Avaldas Jeegerile Julgeolekult saadud käsud
  ja edastas Julgeolekule metsavendade desinformatsiooni. Arreteeriti 1951. a. Tema ema Hilda Laugason kaotas ränkade
  piinamiste tagajärjel meelemõistuse. Paigutati vangistatuna algul Kaasani psühhiaatriahaiglasse ja hiljem Seewaldisse.
  Oma koju, Liivamäe tallu Osulas, ei saanud ta enam kunagi tagasi.
</p>

<img alt="Grigori Meltšakov" class="lg-img image-right w-[30%]" src="/images/sangaste/fotod/grigori_meltšakov.jpg">

<p>
  Lesknaise Hilda Laugasoni ülekuulajaks-piinajaks oli van ltn
  <b>Meltšakov</b>, tõlkideks n ltn
  <b>Peterson</b>
  ja
  <b>Suvi</b>. Ülekuulamisest võttis osa ka Antsla rajooni prokurör.
</p>

<p class="clear-both">
  <b>“Andrei”</b>
  -
  <b>Hans (Ants) Taalfelt</b>
  26 a. Võeti kinni ja värvati 1951. a kui Heeska-Aunveri salga abiline, agendilt “Ott” saadud andmetel. Murti
  ülekuulamisel ja saadeti Julgeoleku poolt libametsavennana äraandjaks. Kasutas pika aja vältel kurjalt ära seniste
  sõprade usaldust, tuues surma Valter Jeegerile. Pärast seda jätkas edasi libametsavendade salgas. Tema abikaasa toimis
  sidepidajana, agendina “Lidia”.
  <br>
  2-N osakonna iseloomustus: Agent “Andrei”- Taalfeld Hans Pauli p s 1925, varasem Sõmerpalu valla elanik Võru vallas,
  parteitu, eestlane, NSVL kodanik, värvati veebruaris 1951 RJM Antsla osakonnas kompromiteerivate materjalide alusel,
  mis kinnitasid tema seotust Jeeger Valteri, Aunver Antsu ja Jeeger Edgariga. Agendilt “Andrei” saadud andmete alusel
  likvideeriti bandiit Jeeger Valter. Praegu asub agent “Andrei” meie korraldusel illegaalina spetsgrupis (e
  libametsavendade salgas), mida juhib ENSV RJM 2-N osakonna agent “Raba” ja teda kasutatakse Heeska bande liikmete
  likvideerimiseks. Töösse suhtub “Andrei”vastutustundlikult, distsiplineeritult, energiliselt, konspiratiivselt,
  orienteerub hästi olukordades, on ühenduses RJM Antsla osakonna ülema julgeoleku v. ltn. Tulp'iga.
  <br>
  <b>“Liidia”</b>
  -
  <b>Virve Taalfeld</b>, sidepidaja oma mehe Taalfeld Hansu ja Julgeoleku vahel
</p>

<img
  alt="Linda Paeglis ja Elly Ruuder"
  class="lg-img image-right"
  src="/images/sangaste/fotod/linda_paeglis_elly_ruuder.jpg"
>

<p>
  <b>“Maret”</b>
  -
  <b>Elly (Ella) Ruuder</b>
  s 24.07.1926 Pärit Lüütsepalt Varstu vallast. Sõbrannad Linda Paeglis ja Elly Ruuder käisid 1946. a kohtamas
  metsavendadega Paul Antsovi salgast: Elly - Julius Felderiga, Linda - Tullio Niit'iga. Mõlemad neiud arreteeriti ja
  neile mõisteti 3 aastat vangistust. Elly Ruuder vabanes 1949. a. 1950. a ilmus ta Julgeoleku teadaande kohaselt Antsla
  operatiivgrupi juurde ja kandis ette metsavendade salgast ühes metsas Antsla vallas. Julgeolek korraldas sinna
  haarangu ja teadaande kohaselt tapeti seal “Paul Antsovi salga järele jäänud liikmed” (sellise operatsiooni kohta ei
  leidu paraku mingit teavet). Edasi rakendas Julgeolek Elly Ruuderit Feliks Hõbe leidmiseks. Selleks saatis Julgeolek
  ta Irkutskisse Tuluni rajooni, kuhu olid küüditatud nii tema enda kui Feliks Hõbe vanemad. Viimastelt pidi ta hankima
  kirja, millega hiljem Eestis ligineda Feliks Hõbele. Küüditatud inimeste avameelse jutu, varjajate pelgupaikadest
  kodumaal ja nende sidepidamisviiside kohta küüditatud omastega Siberis, kandis ta Julgeolekule ette. Felix Hõbe õde
  säilitas ettevaatuse ja umbusu, väites vennast mitte midagi teadvat. 1989. a rehabiliteerimist taotledes osutas Ruuder
  enda metsikule piinamisele Julgeolekus 1946. a ülekuulamistel. Tõlgina osales neil ülekuulamistel hilisem pikaaegne
  "Viru" hotelli direktor Albert
  <b>Šokman</b>, tollane NKVD banditismivastase võitluse osakonna operatiivvolinik. Ülekuulajateks olid:
  <b>Bahvalov</b>
  Valerian Aleksandrovitš s 1920 ja
  <b>Marketov</b>
  Vladimir Matvejevitš s 1924.
</p>

<p>
  Fotol koos Elly Ruuderiga olev Linda Paeglis suri 20 aastasena vangistuses, 4.03.1948. Linda Paeglise kiri vennale
  mõni nädal enne arreteerimist:
</p>

<div class="lg-gallery">
  <img src="/images/sangaste/fotod/kiri1_paeglis.jpg">
  <img src="/images/sangaste/fotod/kiri2_paeglis.jpg">
  <img src="/images/sangaste/fotod/kiri3_paeglis.jpg">
  <img src="/images/sangaste/fotod/kiri4_paeglis.jpg">
</div>

<p>
  <b>“Jakob”</b>
  -
  <b>Georg Kalgan</b>
  Jakobi p s 1912. 2-N osakonna iseloomustus: Varasem Taheva valla elanik Valga maakonnast, eestlane, ENSV kodanik,
  haridus 10 kl. Värvati Tartu oblasti RJM Valga osakonna poolt 1950. a. “Jakob” oli 1949 kuulutatud kulakuks ja
  määratud väljasaatmisele NSVL kaugpiirkondadesse, kuid ta varjus illegaaliks. Kinnivõetuna võttis omaks oma
  kuritegevusliku käitumise, nimetas rea illegaale ja nende kompromiteerivate tunnistuste baasil värvati bandiite
  otsima. Alates 1952. a septembrist asub spetsgrupis, mida juhib ENSV RJM 2-N osakonna agent “Raba” ja kasutatakse
  Heeska bande liikmete likvideerimiseks. Agent “Jakob” on julge, konspiratiivne, aus, ülesande täidab täpselt, on
  ühenduses Tartu oblasti RJM Antsla osakonna ülema julgeoleku v. ltn. Tulp'iga.
</p>

<p>
  <b>“Valge”</b>
  -
  <b>Ahti Jaanimägi</b>
  Kristjani p s 1920, kes saadeti 1950. a Heeska salka. Agent kaldus vältima koostööd ja kavatses varjuda.
  Desinformeeris Julgeolekut, soovimata metsavendi välja anda, mistõttu arreteeriti. 1946. a oli ta seotud Kalju
  Toropiga.
</p>

<p>
  <b>“Liia”</b>
  -
  <b>Helmi Orav</b>
  Tartust, elukohaga Võru mnt, valmistas mitmetele metsavendadele raha eest valedokumendid.
</p>

<p>
  <b>“Tihhomirov”</b>
  - värvatud 12.04.1945 ltn Lukjanovi poolt Petseris, varasem politseinik. 2-N osakonna ettekanne: Kasutatav, kuid oma
  ringkonnas (Urvastes) äratuntav, dešifreeris end 1946. Otstarbekas viia “Tihhomirov” teise maakonda püsielanikuks ja
  kasutada seal. (agendina tegutses Urvaste ja Rõuge vallas)
</p>

<p>
  <b>“Salme”</b>
  - Värvatud 12.08.1947 ltn Panikovski poolt patriootlike tunnete alusel (ehk vabatahtlikult agendiks hakanu), pärit
  Linnamäe vallast, (oli Saarniit Tamara sõbranna). Kasutati Koorastes Haljand Kooviku salga otsingutel, hiljem Heeska
  salga otsingutel.
</p>

<p>
  <b>“Kolhonen”</b>
  - omas otse juurdepääsu bandele, kuid väärtuslikke andmeid ei andnud, mispeale arreteeriti jaanuaris 1949.
</p>

<p>
  <b>“Maret”</b>
  (2)- Värvatud 08.1947 ltn Mürgi poolt otsima Kalju Toropi salka. 1949. a õppis Tartus metsnike kursustel, alates
  13.08.1948 puudus Julgeolekul temaga side (1949. a teade).
</p>

<p>
  <b>“Rebane”</b>
  - naisterahvas, otsib Heeska sidepidajaid
</p>

<p>
  <b>“Rebane“</b>
  (2) - Julius Vuks
</p>

<p>
  <b>„Sarapuu“</b>
  -
  <b>Alfred Anok</b>
</p>

<p>
  <b>„Ants“</b>
  -
  <b>August Norman</b>
</p>

<p>
  <b>„Jaan Toona“</b>
</p>

<p>
  <b>„Popov“</b>
</p>

<p>
  <b>„Grosberg“</b>
</p>

<p>
  <b>„Marta“</b>
  - naine Sõmerpalust, Valter Jeegeri kodu Kodasaare talu naabrusest. Tekitas Julgeolekus usaldamatuse enda vastu
  vahetult enne Julgeoleku operatsiooni, milles ta pidi metsavendi mürgitatud viinaga jootma. Üritus jäeti seetõttu ära.
</p>

<p>
  <b>„Lunaatik“</b>
  - Vaabina kooli direktor
  <b>Lino</b>
  (Osvald Lino? seisuga 21.11.1949)
</p>

<p>
  <b>“Kaasik”</b>
  -
  <b>Lulli Harju</b>, miskipärast Heeska salga liikmeks peetud Alfred Harju õde
</p>

<p>
  <b>„Mets“</b>
  -
  <b>Karl Turvas</b>, 1945. a värvatud metsnik, Leida Saariku onu
</p>

<p>
  <b>„Peter“</b>
  - õpetaja
  <b>Voldemar Ots</b>
  Vaabina MTK.
</p>

<p>
  <b>„Täht“</b>, varasemalt
  <b>"Välk"</b>
  - (
  <b>Adolf Lõhmus</b>
  s. 1908, kes osales Edgar Saaliste kinnivõtmisel viimase uimastamises mürgitatud viinaga 1954. a, samuti üritas ta
  ligineda Otto Tiefile.) Saadeti libametsavennaks Antsla ümbrusse, võtmaks Viiroki talu elanike kaudu ühendust Johannes
  Heeskaga.
</p>

<p>
  <b>„Paul“</b>
  -
  <b>Juhan Krüüner</b>, agendi "Ott" onu, kes varjas end küüditamise eest
</p>

<p>
  <b>„Buhov“</b>
</p>

<p>
  <b>“Laud”</b>
</p>

<p>
  <b>“Eva”</b>
  Helmi Heeska lähedane sugulane, elas Antslas.
</p>

<p>
  <b>“Mihhailova”</b>
</p>

<p>
  <b>"Anna Petrova"</b>
</p>

<p>
  <b>“Kulinaar”</b>
  -
  <b>August Püvi</b>, kes minevikus oli seotud Inglise luurega ja töötas Eesti Rahvuskomitee juures, selle eest oli
  süüdi mõistetud ja 1957. a Irkutski oblastist tagasi Eestisse saabunud.
</p>

<p>
  <b>“Kuurits”</b>
  - 1957. a värvatud Siberi vangistusest Eestisse tagasi saabunud Aunveri nõbu
</p>

<p>
  <b>“Lennuk”</b>
  - värvatud Aunveri nõbu,kes saadeti marsruutagendina teavet otsima.
</p>

<p>
  <b>“Novikov”</b>
  - 1952. a, omas lähedast juurdepääsu Heeska salgale
</p>

<p>
  <b>“Ausus”</b>
  - naisterahvas, kes juhtis Edgar Jeegeri 1952. a varitsusse, kus viimane tapeti.
</p>

<p>
  <b>“Aksel”</b>
  - värvatud 1957. a
</p>

<p>
  <b>“Pauliine”</b>
  - värvatud 1957. a
</p>

<p>
  <b>“Miralda”</b>
  -
  <b>Õie Pannel</b>
  s 1921, suunati Feliks Hõbe otsima.
</p>

<p>
  <b>"Õunapuu"</b>
  -
  <b>Salme Brikker</b>
  Ants Aunveri abistaja Brikkeri perekonnast, kes jäeti arreteerimata.
</p>

<h3 id="rjm-ettekanded">
  RJM 2-N osakonna jälitustegevuse ettekanded Aunveri-Heeska salga hävitamiseks. Sündmuste aegrida.
</h3>

<p>Järgnevaid ettekandeid lugedes tasuks meeles pidada, et see on Julgeoleku sõnavara ja vaatepunkt.</p>

<blockquote>
  <b>05.1949</b>
  saadi agendilt
  <b>"Ott“</b>
  ettekanne, milles ta teatab, et teda külastas Linnamäe elanik Märdimäe Rein Antsu p s 1900, Sõmerpalu valla elanik
  Võrumaalt, parteitu, 10 kl haridust, NSVL kodanik, töötab arveametnikuna kolhoosis. Märdimäe Rein oli varem
  kontrrevolutsioonilistes organisatsioonides Kaitseliit ja Isamaaliit. 1935. a reetis ta nõukogude luuraja Vilsal’i,
  kes visati Eestisse Pihkva juhtkonna poolt. Meie allikale rääkis Märdimäe, et pärast Heeska bande punkri purustamist
  tuli Aunvere Ants tema tallu ja varjas end tema talus pikka aega. Hiljem tuli tema juurde Heeska ja teatas, et viib
  Aunvere endaga kaasa, kuna viimasel on närvid haiged ja ta ei tohiks end üksi varjata.
</blockquote>

<blockquote>
  <b>24.05.1949</b>
  saadi allikalt
  <b>„Buhov“</b>
  ettekanne, milles ta teatas, et Märdimäe Rein on Heeska hea sõber, kuna ta koos Heeskaga võttis nõukogude vägede
  taganemisel (so 1941) osa punalipu ja Nõukogude liidu juhtide portreede purustamisest Linnamäe TK hoone lähedal,
  samuti võtsid nad osa Sõmerpalu TK esimehe Vilsoni arreteerimisest. Kavatseme kokku koguda kõik kompromiteerivad
  andmed, misjärel võtta Märdimäe salaja kinni, üksikasjaliselt üle kuulata ja otsustada küsimus Märdimäe
  arreteerimisest või värbamisest Heeska bande töötlemiseks ja otsimiseks.
</blockquote>

<blockquote>
  6.06.1949 saime agendilt
  <b>„Ott“</b>
  ettekande, milles teatab, et tema onu
  <b>Krüüner Juhan</b>
  varjab end väljasaatmise eest. Krüüner on meie arvestuses Heeska bande abiline, käesoleval hetkel varjab end koos
  illegaal
  <b>Kängsepp Arnoldiga</b>.
  <br>
  „Ott“ kohtus mõlemaga ja Kängsepp rääkis talle, et ta varem kohtas Heeskat, kuid Heeska praegust asukohta ta täpselt
  ei tea.
  <br>
  Krüüner kaebas illegaalielu vaevade üle, kuid Kängsepp hoidis teda legaliseerumast. Neid asjaolusid arvesse võttes
  kavatseme Krüüneri salaja kinni võtta ja pärast ülekuulamist otsustada küsimus tema värbamisest Heeska bande
  otsingutele. Lisaks kavatseme taasilmutanud bande sidemete abil seada üles varitsused ja saata välja
  hävituspataljonlastest otsingugrupid, samuti salaja kinnivõetutest värvatud isikud.
</blockquote>

<blockquote>
  Saanud andmeid Heeska sidemetest
  <b>Reinumägi Ainoga</b>, kutsusime ta agent
  <b>“Tihhomirovi”</b>
  kaudu kohtumisele meie töötajatega, kuna ta soovis legaliseeruda. Reinumägi tunnistas sidemeid Heeska salga liikmetega
  alates 1946. a. Ühe bandiidi kaudu tutvus ta teiste Heeska salga liikmetega, Heeska Johannese, Heeska Roberti, Hõbe
  Feliksi, Visnapuu Kalju, Telling Arturi ja Kuus Karliga, ning sai teada, et nad kõik tegelevad röövide ja tapmistega.
  Sellest teades varustas Reinumägi bandiite pidevalt söögiga ja varjas neid oma talus. Ministri asetäitja Pastelnjaki
  sanktsiooniga värvati Reinumägi agendiks ja suunati Heeska bandet otsima. Agentuurtoimiku „Obretšonnõje“ andmetel on
  bandeabiliseks
  <b>Juhan Krüüner</b>
  , kes määrati kulakuna väljasaatmisele NSVL kaugrajoonidesse, kes põgenes väljasaatmise eest kodust ja hakkas varjama
  koos illegaal Kängsepaga, kes on seotud Heeska salgaga. Käesoleval kuul (so juuni) võeti Krüüner salaja kinni ja
  värvati pseudonüümi all „Paul“. Kui „Pauli“ töö käigus ilmneb, et et ta ei suuda tagada täielikku plaani elluviimist,
  kavatseme salaja kinni võtta Kängsepa, et ta üle kuulata ja otsustada tema värbamine Heeska salga liikmete otsimiseks.
  Heeska abiliste välja selgitamiseks värvati lisaks
  <b>Anok Alfred</b>
  hüüdnime all
  <b>„Sarapuu“</b>
  ja
  <b>Norman August</b>
  hüüdnime all
  <b>„Ants“</b>.
</blockquote>

<blockquote>
  <b>27.06.1949</b>
  korralisel kohtumisel teatas agent
  <b>„Ott“</b>, et kohtus illegaal Kängsepp Arnoldiga.
  <br>
  Kängsepp küsis allikalt, mida ta Heeska Johannesest teab, allikas vastas, et mitte midagi. Kängsepp ütles: „Heeska
  tuleb varsti minu juurde, kui tahad temaga kohtuda, tulen koos temaga öösel sinu juurde.“ Allikas oma nõusolekut ei
  andnud, teatades, et elab koolimajas ja tema juurde pregu tulla ei tohi, sest teda võidakse kahtlustada sidemetes
  metsavendadega. Kängsepp nõustus ja lubas allikale teada anda, kui Heeska tema juurde tuleb.
  <br>
  Allikale „Ott“ anti ülesanne pidada regulaarselt sidet Kängsepaga, tema kaudu ka Heeskaga, pärast mida kavandada
  Heeska jt bandeliikmete kinnipidamine.
</blockquote>

<blockquote>
  <b>11.06.1949</b>
  Agent
  <b>“Ott”</b>
  kandis ette: Allikal oli vestlus Märdimäega – allika õe lapsepõlvesõbraga. Viimane ütles, et pärast Heeska punkri
  purustamist Sangastes varjas tema sõber Aunver end mõnda aega tema juures. Aunver varjas üksi ja oli sedavõrd
  närvivapustuse mõju all, et kavatses lõpetada elu enesetapuga. Aprillis 1949 tuli tema, so Märdimäe juurde Heeska ise
  ja teatas, et viib Aunveri endaga kaasa, kuna Aunver oma närvidega üksi edasi varjata ei saa.
</blockquote>

<blockquote>
  <b>2.07.1949</b>
  võtsime Märdimäe salaja kinni ja kuulasime üle lähtuvalt olevatest materjalidest. Märdimäe tunnistas oma süüd
  nõukogude rahva ees toime pandud kuritegudes Eesti kodanlikul perioodil ja Saksa okupatsiooni ajal ja rääkis, et
  tõepoolest tuli tema juurde ühel öösel jaanuaris 1949, pärast Heeska punkri purustamist Sangastes Valgamaal, Heeska
  terroristliku bande liige Aunver Ants. Soovimata saada nõukogude võimuorganite poolt süüdistust seotustes
  bandiitidega, soovitas ta Aunveril varjata end oma naabri Brikkeri juures, kuhu Aunver 2 tundi hiljem Märdimäe juurest
  ka lahkus. Hoides Brikkeriga tihedalt sidet, teadis Märdimäe, et Aunver varjas end kuni aprillini k.a. Brikkeri talus.
  Aprillis tuli Brikkeri tallu bande juht Heeska Johannes ja viis Aunveri teadmata suunas. Tulenevalt sellest
  tunnistusest värbasime
  <b>Rein Märdimäe</b>
  pseudonüümi all
  <b>„Ivan“</b>
  ja suunasime Heeska bandet otsima.
</blockquote>

<blockquote>
  <b>14.07.1949</b>
  Täites ülesannet teatas informaator
  <b>“Ivan”</b>: Allikas vastavalt teie ülesandele kohtus 8. juulil Brikker Eduardiga. Vesteldes toas Brikkeriga
  kahekesi, huvitus allikas bandiit Aunverist ja küsis Brikkerilt, kas ta on Aunverit näinud või kus ta elab. Brikker
  vastas, et Aunver koos ühe metsavennaga (nime ei nimetanud) külastas hiljuti tema talu ja veenis allikat, et viimane
  ei muretseks, kuna nad varjavad usaldusväärses kohas ja neil on punker. Allikas küsis, kas see teine metsavend ei ole
  Heeska Johannes, mille peale Brikker vastas, et Heeska Johannes varjab Võru vallas, kus täpsemalt ja kelle juures, ei
  öelnud. Tahtmata kahtlust äratada, allikas Brikkerilt rohkem bandiitide kohta ei küsinud ja sellega jutt lõppes.
</blockquote>

<blockquote>
  <b>21.07.1949</b>
  Allika
  <b>“Ivan”</b>
  ettekanne: Täites teie käsku läks allikas 17. juulil k.a. Brikkeri tallu, kus vestles temaga
  <b>Aunver</b>iga kokku saamisest. Brikker oli juba nädal aega voodis haige. Brikker kutsus allika enda juurde tagasi
  20. juuli õhtuks k.a. , lubades organiseerida kohtumise Aunveriga. 20. juulil k.a. kell 23 läks allikas Brikkeri
  tallu. Sisse astudes nägi ta Brikkerit istumas kolme bandiidiga, kellest allikas tundis ära ainult ühe – Aunveri.
  Kahte ülejäänut ta ei tundnud, kuna toas puudus valgus.
  <br>
  Allikas tervitas bandiite ja tegi juttu, mille käigus tegi selgeks, et need 2 bandiiti on vanuses 25-28 a, üks neist
  rääkis kohalikku murrakut, teine kirjakeelt. Toanurgas märkas allikas automaati.
  <br>
  Mõne aja pärast palus allikas Aunverit õue tulla, millega see nõustus. Õues küsis allikas Aunverilt, kus asub Heeska
  Johannes, tal on teda väga vaja. Aunver vastas, et Heeska olevat teises kohas, Võru maakonnas, kuid kelle juures, ei
  öelnud. Allikas uuris seejärel bandiitide vajaduste kohta ja pakkus Aunverile toiduaineid, millele Aunver vastas, et
  praegu toitu jagub, aga kui tuleb vajadus, tuleb ta ise allika juurde.
  <br>
  Relvaks oli Aunveril püstol, kõigil bandiitidel olid endaga kaasas väikesed kohvrid. Allikas küsis edasi, kuna ta saab
  jälle Aunveri ja tema teiste sõpradega kohtuda. Aunver vastas, et kohtumine tuleb augusti alguses siinsamas Brikkeri
  pool.
  <br>
  Võtsime Brikkeri aktiivseks läbitöötamiseks.
</blockquote>

<blockquote>
  Samaaegselt võtsime aktiivseks agentuurseks läbitöötamiseks Kängsepp Arnoldi Gustavi p 1910, kes varjab nõukogude
  võimu eest alates 1944.
  <br>
  On teada, et Kängsepp A. G., soovimata teenida nõukogude armees, deserteerus sealt 1944. a ja varjab end praeguse
  ajani nõukogude võimu eest oma kodu pööningul. Aastast 1945 kuni detsembrini 1948 pidas sidet bande juhi Heeskaga jt
  liikmetega. (agentuurmaterjal agendilt “Ott” ja illegaal Krüüneri tunnistused.)
</blockquote>

<blockquote>
  <b>11.07.1949</b>
  Agent
  <b>“Ott”</b>
  teatas, et vestluses illegaal Kängsepaga, mis toimus 10.07.1949 metsaserval Kängsepa maja lähedal, lubas viimane
  korraldada talle kohtumise
  <b>Johannes Heeska</b>ga, teades, et allikas oli varasemalt Heeska armuke.
</blockquote>

<blockquote>
  Kavandatavad agentuur-operatiivsed meetmed agentuurtoimiku “Obretšjonnõje” likvideerimiseks:
  <br>
  1. Informaator “Ivani” andmete kontrollimiseks ja paralleelselt Heeska bande läbitöötamiseks kavandame illegaal
  Kängsepa salajast kinnivõtmist, keda kavatseme sõltuvalt tema tunnistustest värvata ja viia siseagendina Heeska
  bandesse. Läbi tema ja informaator “Ivani” tahame teha kindlaks kogu bande täpse asukoha ja viia bande operatiivlöögi
  alla. Vastutavad Burakov ja Barõšnikov.
  <br>
  2. Informaator “Ivani” kaudu viia läbi järgmine agentuur-operatiivne kombinatsioon: Seoses sellega, et “Ivanil” on
  bande juhi Heeska ja selle abilise Aunveri silmis piisav autoriteet, peab ta viimasega kohtumisel veenma viimast
  allika vajadusest kohtuda Heeskaga. Heeskaga kohtumisel selgitada välja üksikasjad oma sugulase Märdimäe Augusti kohta
  (Märdimäe August on Heeska bande liige). Kui Heeska teatab, et August on tapetud, siis selgitada välja, kuna ja kelle
  poolt tapetud ja kuhu maetud. Pärast seda püüda korraldada Heeska ja teiste bande liikmete õhtune kohtumine Brikkeri
  talus, millest teatada oma poja kaudu, kokkulepitud parooliga, meie kaastöötaja Turupanovile, kuhu me saadame
  sõjalis-operatiivse grupi ja allika poega sidepidajana kasutades (tema on meie informaator “Mart”), viiakse läbi
  operatiivrünnak Heeska bande pihta Brikkeri talus.
</blockquote>

<blockquote>
  Brikkeri läbitöötamisel taotles “Ivan” viimaselt kohtumist Heeska bande aktiivsete liikmete
  <b>Aunver</b>i,
  <b>Hõbe</b>
  ja
  <b>Jeeger</b>
  iga Brikkeri elamises 20. juulil k.a. kl 23.00.
  <br>
  Pärast lühikest vestlust bandiit Aunveriga Brikkeri talu õuel läks “Ivan” koju, aga Aunver tagasi Brikkeri juurde
  tuppa. Järgnevatel informaatori “Ivan” kohtumistel Brikkeriga vastas viimane allika küsimustele, et tema sõbrad
  tulevad vahel tema juurde öösiti lühikeseks ajaks ja lahkuvad kohe Kõrgepalu metsa ja tuttavate juurde Sõmerpalu valda
  (Bandiit Jeeger on pärit Sõmerpalu vallast).
</blockquote>

<blockquote>
  <b>12.08.1949</b>
  ja
  <b>16.08.1949</b>
  teatas
  <b>„Ivan“</b>, et Brikkeri poole peaksid nimetatud bandiidid tulema kas 19. või 20. augusti õhtul. „Ivani“ andmetele
  toetudes koostasime plaani bandiitide kinnivõtmiseks. 16. augustil k.a. saadeti Brikkeri talu piirkonda
  operatiiv-sõjaline grupp.
</blockquote>

<blockquote>
  <b>17.8.49</b>
  Nimetatud grupp nihkus 17. augusti öösel Brikkeri maja juurde, kuid majaga piirnev mets oli põõsastikust puhastatud,
  mistõttu oli oht varitsuse avastamiseks Brikkeri maja ümbrusest. Soovimata varitsuse enneaegset avastamist Brikkeri
  või selle naabrite poolt, taganes operatiiv-sõjaline grupp päeva ajaks sügavamale metsa. Kl 13 päeval 17. augustil
  k.a., oma metsavahipiirkonna üle andmisel teisele metsnikule, sattus metsnik Treial koos teisega operatiiv-sõjalisele
  grupile peale ja avastas selle. Nimetatud isikud me pidasime kinni ja viisime öösel teise kohta. Kuid operatiivgrupp
  liikus ööl vastu 18. augustit k.a. Kõrgepalu metsast väiksesse 4 ha suurusesse metsa Brikkeri talu vastas. Jälgides
  männi otsast Brikkeri talu, kandis valvesõdur ette, et Brikkeri talu küünist väljusid kl 11.30 kaks tundmatut meest ja
  sisenesid Brikkeri tallu, kust 15 min hiljem pöördusid tagasi küüni. Agendi „Ott“ kaudu tehti välise kirjelduse järgi
  kindlaks, et kaks tundmatut Brikkeri talus viibinut võivad olla bandiidid Jeeger ja Hõbe, kuid Aunver peaks Brikkeri
  tallu saabuma õhtul.
  <br>
  Võeti vastu otsus oodata pimenemist, piirata Brikkeri talu salaja ümber, lasta varitsusest läbi või võtta kinni
  bandiit Aunver ja samas või koidikul viia talus läbi bandiitide Jeegeri ja Hõbe kinnivõtmise operatsioon.
</blockquote>

<blockquote>
  <b>19.8.49</b>
  kl 20.00 teatas usaldusisik „Ivan“, et samal kuupäeval Brikkeri talu külastades rääkis viimane allikale, et metsas
  asuvad julgeolekusõdurid, kes võtsid kinni kaks metsnikku. Allikale sõduritest rääkides oli Brikker väga ärevil ja
  laskus allikaga jutuajamisse vastumeelselt. Vaatlus fikseeris samuti, et kogu Brikkeri perekond jälgis sageli ümbrust
  teravdatud tähelepanuga oma talu ukselt. Pärast „Ivanilt“ saadud andmeid kerkis kl 20.00 küsimus kohesest Brikkeri
  talu ümberpiiramisest, et takistada tundmatutel Brikkeri talust lahkumast, st jäämata ootama bandiit Aunveri tulekut
  võtta kinni bandiidid Jeeger ja Hõbe või fikseerida nende füüsiline hävitamine.
  <br>
  Kl. 20.30 oli Brikkeri talu ümber piiratud ja talu otsiti läbi, kuid bandiite Jeegerit ja Hõbe ei avastatud. Brikkeri
  pidasime kinni, kuid ülekuulamisel ta midagi üles ei tunnistanud, misjärel lasime ta lahti. Brikkeri kinnipidamisel ja
  ülekuulamisel tegime näo, et sõjalist gruppi huvitab mitte niivõrd tema talu, vaid ümbruskond tervikuna.
</blockquote>

<blockquote>
  <b>6.09.1949</b>
  Spetsteade ENSV julgeolekuminister Kummile
  <br>
  Agentuur- ja uurimistegevusega on kindlaks tehtud, et Linnamäe vallas varjab end bandiit Kängsepp Arnold Gustavi p
  1910, Linnamäe valla elanik, varjaja alates 1944
  <br>
  Kängsepp Arnold oli Eesti vabastamise järel Saksa okupantidest värvatud nõukogude armee ridadesse ja saadetud
  Saaremaale rindele. Kuid Kängsepp ei soovinud teenida nõukogude armee ridades ja deserteerus, läks Linnamäele ja asus
  end varjama, varjates end nõukogude võimuorganite eest kuni 2.09.1949.
  <br>
  Illegaalina oli Kängsepp kuni 1948. a lõpuni, so kuni rajatud punkrite ja abiliste baasi purustamiseni Heeska bande
  liige, hoidis pidevalt sidet terroristliku bande juhi Heeska Johannesega ja omas püstolit Parabellum. 1948. a kavatses
  tappa Urvaste põllumajandusvolinikku Mõttust /agentuurettekanne agent „Ott“, informaator „Paul“ ja talupoeg Tsvetkovi
  avaldus./
  <br>
  Edasise agentuur-operatiivse tegevusega tehti kindlaks, et Heeska bande läks 1949 a alguses laiali, üksi varjavad
  liikmed proovivad luua uut toetusbaasi Linnamäe, Sõmerpalu, Urvaste ja Antsla vallas Võrumaal.
</blockquote>

<blockquote>
  <b>31.8.49</b>
  Agendi
  <b>„Ott“</b>
  ettekanne: Kängsepa edasise töötlemise käigus tehti agendi „Ott“ ja „Paul“ kaudu kindlaks, et Kängsepal on 500m
  kaugusel oma talust üksik punker, kuid varjab ta end mitte seal, vaid oma kodu pööningul, kus agent „Ott“ temaga
  aeg-ajalt kohtus. Alates 15. aug k.a. hakkas Kängsepp agendiga „Ott“ kohtuma metsaservas 150 m Linnamäe TK-st ja
  järgmine kohtumine „Otiga“ on määratud 2.09.1949
  <br>
  Otsustasime nendest andmetest lähtuvalt agendi „Ott“ ja Kängsepa kohtumisele seada üles varitsus ülesandega ta kinni
  pidada ja otsustada hiljem küsimus tema otstarbekohasest värbamisest Heeska bande liikmete otsimiseks. Seejuures võeti
  arvesse andmeid, et ta mingil juhul legaliseerumisele välja ei lähe ja tal oli terroriplaan, et ta kinnipidamisel
  värbamisele ei allu, vaid püüab kinnivõtmisel osutada relvastatud vastupanu ja üritab põgeneda.
  <br>
  Nende andmete põhjal koostati operatiiv-sõjaline plaan Kängsepa kinnivõtmiseks. Relvastatud vastupanu korral või
  põgenemiskatsel, juhul kui teda pole võimalik tabada elusalt, hävitada ta füüsiliselt.
</blockquote>

<blockquote>
  <b>2.09.1949</b>
  Vastavalt plaanile pandi 2.09.1949 meie agendi ja Kängsepa kohtumispaigale välja varitsus, kusjuures agendile
  <b>„Ott“</b>
  anti käsk kohtumisele mitte ilmuda. Umbes kell 22.30, 2. 09.1949 lähenes bandiit
  <b>Kängsepp</b>
  kohtumispaigale. Kinnivõtmiskatsel sööstis Kängsepp põõsaste poole jooksu. Nähes, et Kängseppa elavana kinni võtta ei
  õnnestu (viimane jõudis haarangupaigast joosta 150-200m ja ligines metsaäärsele põõsastikule), ei soovinud me
  Kängseppa minema lasta ja sellega oma agenti paljastada. Oli vajadus avada jälitades tema pihta tuli, millega Kängsepp
  tapeti.
  <br>
  RJM Võru maakonnaosakonna ülem Puškarjov
</blockquote>

<blockquote>
  <b>8.9.49</b>
  Agendi
  <b>„Peter“</b>
  ettekanne:
  <br>
  Sõmerpalu vallas, u 2 km Sõmerpalu sovhoosist elab kodanik Saarik Leida, u 30 a. Kohalike jutu järgi ja ka isiklikult
  on allikale teada, et Saarik Leida nii Saksa okupatsiooni ajal kui ka hiljem, on Jeeger Valteri armuke. Jeegeri
  hüüdnimi on „Bevin“ või ka „Kuprijanov“ („Kuperjanov“) ja võimalik, et Jeeger varjab end praegu seal.
  <br>
  Saarik Leidast on allikale teada, et kui Jeeger hakkas end varjama ja tema isalt taheti kariloomi ära võtta, tõi
  Jeegeri isa öösel lehma ja lambad Saarik Leida poole, kelle juures need loomad asusid pikka aega.
  <br>
  25. 03.1949 kulakute väljasaatmisel Jeeger Valteri isa saadeti välja, aga tema ema põgenes kodust ja varjab end praegu
  kusagil Linnamäe vallas Vaabina k/n ja külastab Saarik Leida talu.
  <br>
  Saarik Leida kohta teatab allikas, et 1945. a tegeles ta samagonniajamisega ja pole välistatud, et ta praegu elab
  kokku bandiit Jeegeriga ning varustab viimast samagonniga.
  <br>
  Koos Saarik Leidaga elab tema ema Saarik, u 50a, ja alates 1947. a ka üks soomlane, kelle nime allikas ei tea, kuid
  talle on teada, et see soomlane elab koos Saarik Leida emaga ja hiljuti sõitis kuhugi Venemaale Jeeger Valteri isale
  toitu viima.
  <br>
  See soomlane valdab hästi vene keelt, sellepärast sõitiski Venemaale Jeeger Valteri isa juurde. Saarik Leida elab
  metsa servas.
  <br>
  Pärast soomlase isiku kindlakstegemist otsustatakse küsimus tema värbamisest ja kasutamisest Jeeger Valteri
  otsimiseks.
</blockquote>

<blockquote>
  <b>10.09.1949</b>
  Agent
  <b>„Ott“</b>: Mõned päevad tagasi kohtus allikas Linnamäe valla elaniku Allpõder Lindaga. Viimane teatas jutu sees
  allikale, et ta sõitis kaks nädalat varem oma venna <b>Taalfeld Ants</b>u juurde Sõmerpalu vallas, kuhu tulid õhtul
  „metsavennad“ – Heeska Johannes, Aunver Ants jt. Vend Ants tõi meile juua ja süüa. Heeska avaldas jutu sees arvamust,
  et peaks ühinema Kooviku bandega. Kuidas see ühinemiskavatsus teoks võiks saada, seda Allpõder allikale ei öelnud.
  <br>
  Allikale anti ülesanne võita Allpõderi sümpaatia ja jõuda tema kaudu Heeskani, kuna allikas oli tema varasem
  elukaaslane. Uurime võimalusi Taalfeld Antsu värbamiseks.
</blockquote>

<blockquote>
  15.08.1949, 30.08.1949 ja
  <b>10.09.1949</b>
  allikas
  <b>“Ott”</b>: Urvaste vallas Urvaste k/n elab kodanik Aplein Eduard oma naise Nataliaga. Allikale on teada, et tema
  naine Natalia on Heeskale sugulane. Allikale on see teada Johannese enda sõnadest, kuna ta 1948. a lõpuni elas temaga
  kokku. Heeska sõnadest on allikal ka teada, et Eduard ja Natalia on seotud Heeska Johannese ja Heeska Robertiga. Nende
  juures on nad perioodiliselt end varjanud ja kohtunud oma naistega.
  <br>
  1948. a õmbles Aplein Eduardi talus Heeska Roberti naine koos ühe Antslast pärit rätsepaga endale kostüümi ja palitu.
  Nimetatud faktid kattuvad agendillt „Jaan Toona“ ja informaatorilt „Popov“ saadud andmetega. Meil on kavas Aplein
  Eduard salaja kinni võtta, pärast mida, sõltuvalt tema tunnistustest, otsustada tema kasutamine Heeska bande
  otsimiseks.
</blockquote>

<blockquote>
  <b>13.09.1949</b>
  Allikas „Ivan“ külastas kahel korral Brikker Eduardi talu. Vestluses Brikkeriga rääkis viimane, et ta kahtlustab
  Kurenurme k/n sekretäri Issakut julgeolekuorganitele keelekandmises. Naine oli kord Brikkeri juures talus, kui Brikker
  ütles Issaku juuresolekul: „bandiit tuleb“. Issak põgenes ära ning veidi hiljem saabusid sõdurid talu kontrollima.
  <br>
  Brikker rääkis „Ivanile“ ka, et bandiidid käivad nüüd ettevaatlikumalt. “Ivan“ teatas, et Linnamäe elanik Haller
  Aleksander on samuti metsavendadega seotud ja sõbrustab Brikkeriga.
  <br>
  Hallerit uurime värbamise eesmärgil.
</blockquote>

<blockquote>
  <b>16.09.1949</b>
  agent
  <b>„Ott“</b>
  teatas:
  <br>
  Sel nädalal kohtas allikas Linnamäe vallas kodanik Allpõder Lindat, kes teatas, et Heeska Johannes võttis nüüd juba
  oma sõpradega sidet. Ta teab seda Johannese jutu järgi, kuna kohtus temaga oma venna Taalfeld Hansu juures, kes on
  Sõmerpalu elanik.
  <br>
  Allikale anti ülesanne Heeska varasema elukaaslasena saavutada Allpõderi kaudu Heeskaga kohtumine sidemete
  taastamiseks ja järgnevate ülesannete täitmiseks.
  <br>
  Jätkame ka Taalfeldt Antsu läbitöötamist, agendi
  <b>„Grosberg“</b>
  kaudu, et saavutada Taalfeldi kaudu allika kohtumine bandeliikmetega ja edasiste kontaktide loomiseks nendega.
  <br>
  Meil on kindlaks tehtud, et arreteeritud Org Akseli vend
  <b>Org Voldemar</b>, kes varjus 24. märtsil küüditamise eest ja hakkas illegaaliks, varjab end praegu oma sugulase
  juures Põlva vallas. Kavatseme lähipäevil Org Voldemari salaja kinni võtta ja saada talt kätte tunnistus Heeska
  bandesse kuulumise kohta. Õnnestumise korral kavatseme ta värvata ja lasta tal Orgi sugulase Brikker Eduardi kaudu
  imbuda bandesse, et seada bande operatiivlöögi alla.
</blockquote>

<blockquote>
  <b>20.9.49</b>
  „Peteri“ andmete kontrollimiseks kasutasime informaatorit
  <b>„Marta“</b>, kes elab Saarik Leidast 1 km kaugusel. “Marta” teatas korralisel kohtumisel, et Saarik Leida Karli t s
  1921, kes elab Kodasaare talus Sõmerpalu vallas, oli tõepoolest Saksa okupatsiooni ajal ja on ka praegu Jeeger Valteri
  armuke.
  <br>
  Meie ülesandel tegi „Marta“ oma naabri Piirman Matilda kaudu kindlaks, et praegu varjab end Saarik Leida talus 3
  bandiiti, teiste hulgas Jeeger, teiste isikuid Piirman ei öelnud.
  <br>
  Piirman ütles allikale, et varem varjas Saarik Leida juures õues hästi maskeeritud punkris end vaid
  <b>Jeeger Valter</b>, aga hetkel varjab end seal 3 bandiiti. Viimane kord nägi Piirman neid kaks nädalat tagasi metsas
  seenel olles Saarik Leida talu juures. Piirman Matilda ütluse peale leidsid maamõõtjad mõni päev tagasi Saariku talu
  lähedalt punkri. See ei muutnud bandiite rahutuks, viimased jätkavad varjamist Saariku juures. Saarik Leida on
  detsembris 1948 tapetud Heeska grupi bandiidi Telling Arturi sugulane.
  <br>
  Allikas „Martale“ anti ülesanne kasutada ära Piirmani usaldust ja korraldada tema kaudu kohtumine bandiit Heeskaga,
  millest meile kohe teada anda sõjalise operatsiooni läbiviimiseks ja bandiitide kinnipidamiseks.
  <br>
  Välja on töötatud side „Martaga“. Ootame Piirman Matilda värbamisega ja kasutamisega Heeska bande otsimiseks, sest
  meil pole veel teada tema võimalikku seost bandega. Kas ta on vanatüdruk, oma talus elab ta üksi.
</blockquote>

<blockquote>
  <b>28.10.1949</b>
  Informaator
  <b>“Marta”</b>:
  <br>
  22. okt k.a. asus allikas „Marta“ oma vanemate juures Sõmerpalus ja külastas Kodasaare talu, kus elab bandeabiline
  Saarik Ida oma tütre tütar
  <b>Saarik Leida</b>
  ga (ka Ivani Leida), kes on Jeeger Valteri armastatu.
  <br>
  Kui allikas palus Kodasaare talus Leidat jalutada koos Sõmerpalu sovhoosini, jalutasid nad mööda külavaheteed ja Leida
  rääkis allikale, et neljapäeval, so 20. okt, sõitis ta Tartusse, kus tänaval kohtas üht naist, kes viis ta „poiste
  juurde“ (so
  <b>Jeeger Valter</b>, <b>Aunver Ants</b> ja <b>Hõbe Feliks</b>).
  <br>
  Ta ööbis seal korteris ja hommikul sõitis koju. Sama päeva õhtul oli tal „poistega“ vestlus, kus “poisid” ütlesid, et
  nad tulevad tema, so Saarik Leida juurde novembris ja jäävad sinna kuni 8. novembrini. Nad arutasid härjavärsi võtmist
  „Johannes Varese“ kolhoosist. Allikas tundis huvi, kuidas nad seda saavad. Leida vastas: „Oktoobri päevadel
  kolhoosnikud joovad, mistõttu pole valvet. Poisid tulevad lauta, võtavad härjavärsi, viivad metsa, veristavad ja
  peidavad ära. Kolme päeva pärast tuleb Tartu linnast auto, millega kere viiakse linna. Juhul kui poisid selleks autot
  ei leia, viiakse kere koormana Sõmerpalu jaamast.
  <br>
  Allikas märkuse peale, et see on ju ohtlik, vastas Leida: “Jaamas on meil omainimene
  <b>Meieorg</b>, kelle kaudu me kõik korraldame. Meieorg aitas meid ka 1948. a, kui saatis pagasina edasi võikastid,
  liha saadab ta sama kiiresti. (Meieorg on Sõmerpalu jaama ülema asetäitja.)
  <br>
  Allika kodust möödudes lausus Leida: „Kas mäletad seda pikka noormeest Aunveret, ta saatis sulle tervisi“.
  <br>
  Koduteede lahknedes kutsus Leida allikat pühadeks endale külla, kuna sinna tulevad selleks ajaks ka bandiidid.
  <br>
  Plaan Aunveri, Jeegeri ja Hõbe kinnipidamiseks on tehtud. Heeska bande aktiivseks töötlemiseks ja sellese siseagendi
  saatmiseks valmistame ette Org Voldemari Juhani p 1928 salajast kinnivõtmist, kes on varasem Linnamäe valla elanik.
  <br>
  Org Voldemar on arreteeritud bande juhi Org Akseli vend, kes oli seotud Heeska Johannesega ja võttis koos temaga
  röövidest osa. Vend Org Voldemar oli sellest teadlik ja hoidus väljasaatmise eest kõrvale, võttis oma mootorratta,
  hobuse ja lehma ning läks illegaaliks. Hetkel töötab ta ühes maakonna asutuses. Ta on bandiitide konspiratiivtalu
  pidaja Brikker Eduardi sugulane, kes elab Linnamäel.
</blockquote>

<blockquote>
  Informaator „Marta“ teatas, et lõi kontakti Saarik Leidaga, kes palus ta oktoobris 1949 enda tallu, kus viibisid kaks
  meest. Ühes tundis ta ära Jeeger Valteri, Heeska bande liikme.
  <br>
  Jutuajamisel huvitas Jeeger Valterit, kuna tuuakse allika töökohas tellisetehases töölistele pangast palgarahad, mis
  summas, kas kassiiril on relvastatud saatjaid. Allikas mõistis, et nad kavatsevad tellisetehase kassiiri röövida ja
  vajavad selleks allika abi.
  <br>
  Allikas „Marta“ tegi kindlaks, et Heeska bande liikmed külastavad perioodiliselt Kodasaare talu ja peaksid taas sinna
  ilmuna 7. või 8. novembril 1949. Sinna oli kutsutud ka allikas.
  <br>
  Saanud sellised andmed, koostasime plaani Heeska bande liikmete kinnivõtmiseks Saarik Leida majas. Kavatseme allikat
  „Marta“ kasutada Saarik Leida talus viibibvate bandiitide jootmiseks uinutava viinaga. Pärast seda pidi ta sellest
  hoiatama spetsiaalset selleks moodustatud operatiivgruppi.
  <br>
  Operatsiooni tähtaja lähenedes hakkas „Marta“ kohtumistelt ja ülesande täitmisest eemale hoidma. Nähes, et allikas
  „Marta“ käitub ebasiiralt, muudeti Heeska grupi liikmete kinnivõtmise plaan Koodasaare talus ära.
  <br>
  Sellest, et Heeska bande liikmed, eriti Jeeger Valter, Hõbe Feliks ja Aunver Ants käivad läbi Saarik Leidaga, oli
  meile teada ka ülejäänud agentuurilt, nagu
  <b>„Mets“</b>
  ja
  <b>„Peter“</b>.
  <br>
  Meil oli eelnevalt kindlaks tehtud, et allikas „Marta“ elab koos Kivi Gustaviga, kes töötab Sõmerpalu raudteejaamas,
  on bande juhi Heeska sugulane ja praegusel ajal peab sidet Heeska bande liikme Jeeger Valteriga. Seda aga on
  informaator „Marta“ meie eest varjanud.
  <br>
  Seoses sellega kontrollime informaator „Marta“ poolt meile antud andmeid väga hoolikalt ülejäänud agentuuri kaudu,
  vaatamata tema lubadusele bande meile välja anda.
  <br>
  Oleme kasutusele võtnud profülaktilised meetmed tellisetehase kassiiri röövimise vastu.
  <br>
  Seoses sellega, et informaator „Marta“ peab end ülal ebasiiralt ja on meie poolt kahekeelsuses kahtlustatav, saadeti
  Heeska bande liikmete sidemete töötlemiseks teine agentuur, täpsemalt informaator
  <b>„Lunatik“</b>
  ja
  <b>„Petr“</b>.
</blockquote>

<blockquote>
  <b>21.11.1949</b>
  informaator
  <b>„Lunatik“</b>
  teatas oma ettekandes, et kell 12 sel kuupäeval, väljudes oma kabinetist klassi, (informaator on Vaabina MTK
  direktor), kohtas ta koridoris tundmatut inimest, kes küsis temalt, kas koolis viibib hetkel Vaabina rahvamaja
  juhataja Veedler Ants või õpetaja Ots. „Lunatik“ vastas talle, et Veedlerit koolis ei ole, kuid õpetaja Ots on kohal
  ning kui on kiire, ta võib saata tema juurde,.
  <br>
  Mõne aja pärast Ots (meie allikas
  <b>„Peter“</b>
  ) kohtus tundmatuga, ja pärast omavahelist vestlust läksid nad lahku. Samal õhtul teatas allikas „Peter“, et 21.11.49
  kohtus temaga endine koolivend, praegune bandiit
  <b>Jeeger Valter</b>.
  <br>
  Jeeger Valter oli jutu sees küsinud allikalt, kuna kooli raha tuuakse, milline summa ja kes konkreetselt toob pangast
  raha kooliõpetajatele väljamaksmiseks. Ta lubas summast 10%, kui allikas teeb bandiititega koostööd.
  <br>
  Allika märkuse peale, et summa õpetajatele väljamaksmiseks on väga väike, vaid umbes 3000-4000 rbl, vastas Jeeger, et
  neil pole hetkel üldse raha, mistõttu on neil ükskõik, kui suur summa on. Jeeger palus endale teatada, kuna raha
  saabub. Pühapäeval, täpsustamata mis ajal, palus olla õhtul oma kodus Sõmerpalu vallas, et Jeegeriga kohtuda ja
  täpselt läbi rääkida. Pühapäeva õhtul 20.11.49 Jeeger allika juurde ei ilmunud.
</blockquote>

<blockquote>
  <b>22.11.1949</b>
  sai Vaabina kooli direktor rahad kätte. Seoses sellega paigutati koolimaja juurde välja varitsus, eesmärgiga Heeska
  bande liikmed kinni võtta, kui nad peaksid püüdma koolist raha röövida.
  <br>
  Varitsus tulemust ei andnud, kuna 22. vastu 23. nov 1949 Heeska bande liikmed raha röövimiseks koolimajja ei saabunud.
  <br>
  Heeska bande liikmete edasise otsimise käigus tehti kindlaks, et Vaabina kooli juurde pandud varitsusega samaaegselt
  panid bandiidid üles oma varitsuse raudtee ootepaviljoni juures, mis asub koolist u 1 km kaugusel. Bandiite oli
  varitsuses 4-5 inimest(“Lunatiku“ ettekanne), kes oletasid, et direktor tuleb oma tavalist teed rahadega rongile.
  <br>
  Kohtamata direktorit teelahkmest raudteeni, nad koolimaja juurde minema ei hakanud.
</blockquote>

<blockquote>
  Oleme kindlaks teinud, et Vaabina rahvamaja juhataja Veedler on aktiivne bandeabiline ja peab süstemaatiliselt sidet
  Heeska Johannese bande liikmetega, peale selle omab ta illegaalselt tulirelva (püstolit).
  <br>
  Kasutades neid andmeid, kavatseme Veedleri salaja kinni võtta, allutada üksikasjalikule ülekuulamisele ja pärast
  otsustada, kas ta värvata või attereerida.
  <br>
  Heeska bande otsimiseks kasutame praegu agentuuri, agente „Ott“, informaatorit „Ivan“, „Marta“, „Lunatik“, „Peter“, ja
  „Mets“
</blockquote>

<blockquote>
  Bande liikmete kiiremaks leidmiseks kavandati plaan sihipäraseks värbamiseks bandeabiliste hulgast.
  <br>
  Varasemast oli teada, et aktiivseks Heeska bande abiliseks on Urvaste elanik
  <b>Arumägi Eduard</b>, kes varem kandis nime Aplebi ja kelle talu külastasid Heeska Johannes ja Heeska Robert koos oma
  naisega.
  <br>
  Nende andmete põhjal ja tunnistajate ütluste alusel tema abistamistegevuse kohta võeti Arumägi salaja kinni ja
  allutati ülekuulamisele.
  <br>
  Ülekuulamisel tunnistas Arumägi oma abistamistegevust ja teatas, et juhul kui ta vabastatakse, annab ta 15 päeva
  jooksul üles mõlemad vennad: Heeska Johannese ja Heeska Roberti.
  <br>
  Saanud tunnistuse ja avalduse selle kohta, et ta teatab lähiajal Heeska Johannese ja tema venna Roberti asukoha,
  värvati Arumägi ja suunati Heeska bande liikmeid otsima.
  <br>
  Samuti tehti kindlaks, et üheks Heeska sõbraks on varem Rõuge vallas elanud nõukogudevastases vastuhakus Linnamäe TL
  ülevõtmisel osalenud Saar (<b>Saar Voldemar</b>
  Karli p s. 1902 Linnamäe vald Horma talu). Kasutades andmeid Saare osavõtust 1941 relvastatud vastuhakus nõukogude
  võimule, võtsime viimase salaja kinni ja allutasime ülekuulamisele.
  <br>
  Ülekuulamisel Saar tunnistas oma kuritegelikku sidet Heeska Johannesega ja teatas, et kasutades oma sõprussidemeid
  Heeska Johannesega, kasutab ta kõiki vahendeid Heeska Johannese bande ülesotsimiseks ja operaatiivlöögi alla
  suunamiseks.
  <br>
  Heeska Johannese kiiremaks leidmiseks anti Saarele ülesanne asuda legendiga illegaaliks Heeska bande tegevuspiirkonnas
  ja imbuda bandesse. Ta andis oma nõusoleku. Sel alusel Saar värvati ja ta valmistub minema illegaaliks.
  <br>
  Kanepi vallas Erastveres töötab
  <b>Org Voldemar</b>, endise bandejuhi Org Akseli vend,kes tegutses koos Heeska bandega Sõmerpalu, Linnamäe, Antsla
  vallas. Org Voldemar tunneb Heeskat ja bande liikmeid hästi. Küüditamise ajal varjus ta 1,5 kuuks, seejärel
  legaliseeus.
  <br>
  Nende andmete põhjal kavatseme Org Voldemari salaja kinni võtta, allutada ülekuulamisele ja seejärel otsustada, kas
  teda saab värvata ja viia illegaaliks, eesmärgiga imbuda Heeska Johannese bandesse.
  <br>
  Antsla RJM osakond värbas agent
  <b>“Valge”</b>,
  <b>Jaanimägi Ahti</b>
  Kristjani p s 1920, kes saadeti Heeska salka. Agent kaldus vältima meiega koostööd ja kavatses varjuda. Desinformeeris
  meid, soovimata metsavendi välja anda, mistõttu arreteerisime ta. 1946. a oli ta seotud Torop Kaljuga. 1947 leiti
  Jaanimägi talust punker röövitud kaubaga, kuid kinni ei teda võetud, kuna varjus illegaaliks.
  <br>
  Sidemete tõttu Heeska bandega võeti kinni Urvaste elanik
  <b>Raamat Juhan</b>
  Märdi p.
</blockquote>

<blockquote>
  <b>27.01.1951</b>
  võttis Antsla RJM kinni Heeska bande liikme Harju Alfredi õe
  <b>Harju Lulli</b>, Antsla elaniku. Harju Lulli värvati agendiks <b>“Kaasik”</b>, et ta tooks venna salajasele
  kohtumisele RJM-ga. Õnnestumise korral kasutatakse Harju Alfredit Heeska bande likvideerimisel.
</blockquote>

<blockquote>
  <b>27.02.1951</b>
  Vastavalt agentuur-operatiivtöö plaanile saadeti 27.02.1951 Tuluni rajooni Irkutski oblastisse Antsla osakonna agent
  <b>“Maret” Ruuder Ella</b>
  (Elly) Jakobi t s 1926.
  <br>
  Ruuder ilmus 1950. a salaja julgeoleku operatiivgruppi ja teatas bandiitide laagri asukohast ühes Antsla valla
  metsamassiivis, mille tulemusel tapeti mitu varem Paul Antsovi salka kuulunud metsavenda. Tulenevalt olemasolevatest
  edasistest võimalustest, kasutada Ruuder Ellat bandiitliku elemendi väljaselgitamises ja otsimisel. Arvesse võttes
  tema isiklikku soovi meiega koostööd teha, värbasime ta pseudonüümiga “Maret”. Näitas end võimekana, ausana, ja jagab
  konspiratsiooni.
  <br>
  Märtsis 1949 saadeti “Mareti” vanemad kodanlike natsionalistena välja Tuluni rajooni Irkutski oblastisse. “Maret” oli
  sel ajal kinnipeetav ja jäi välja saatmata.
  <br>
  On kindlaks tehtud, et “Mareti” vanemad elavad praegusel ajal koos samasse kohta välja saadetud Heeska bande liikme
  <b>Hõbe Feliks</b>i vanematega. Olukorda arvesse võttes komandeerisime “Mareti” Irkutski oblastisse, ettekäändeks
  kohtumine oma vanematega, ülesandega: läheneda bandiit Hõbe vanematele, võita nende usaldus ja enne ärasõitu saada
  soovituskiri vanematelt Hõbe Feliksile. Õnnestumise korral Eesti NSVsse tagasi tulles võtab agent “Maret” tarvitusele
  meetmed, saavutamaks kirja abil isiklik kontakt Hõbe Feliksiga, mida motiveerib soov kiri ise üle anda.
  <br>
  Juhul kui soovituskiri jääb saamata, räägib “Maret”oma Heeska bande sidemetele pärast Irkutskist naasmist oma
  kohtumisest Hõbe Feliksi vanematega, jälgides sama eesmärki- saavutada isiklik kohtumine Hõbe Feliksiga.
  <br>
  Sõltuvalt “Mareti” kohtumise tulemusest Hõbe Feliksiga võetakse kasutusele järgmised vahendid Heeska bande
  likvideerimiseks “Mareti” kaudu. Või tema kaudu Hõbe Feliksi kui bandeni juhtija kinnivõtmine.
</blockquote>

<blockquote>
  <b>25.02.1951</b>
  Vastavalt agendilt
  <b>“Ott”</b>
  saadud andmetele võeti kinni Heeska bande sideisik
  <b>Taalfeld Hans</b>
  Pauli p s 1925, Sõmerpalu valla elanik. Küsitlemisel osutus, et ta pidas 1950. a sidet Heeska Johannese, Jeeger
  Valteri ja Jeeger Edgariga, kellega kohtus süstemaatiliselt kuni novembrini 1950 kokkulepitud kohas metsas, 2 km Osula
  alevist. Kohtumisel informeeris ta viimaseid oeratiivgruppide ja RJM kaastööliste ilmumisest Rõugesse ja Osulasse,
  mille eest sai neilt röövitud kraami. Taalfeld nimetas rea Heeska sidepidajaid, mitmeid tõenäoseid varjamiskohti ja
  ütles, et kui ta jäetakse vabadusse, kasutab ta kõiki oma võimalusi side uuendamiseks bandiitidega ja nende
  väljaandmiseks RJM organitele. Tulenevalt Taalfeldi võimalustest värbasime ta varjunimega “Andrei” ja suunasime Heeska
  bandet otsima.
</blockquote>

<blockquote>
  <b>28.02.1951</b>
  võeti agent
  <b>“Andrei”</b>
  andmete alusel kinni bandeabiline
  <b>Laugason Laine</b>, kelle talust leiti röövitud esemeid. Viimase arreteerimist valmistatakse ette.
  <br>
  Lisaks võeti käesoleval kuul salajaseks informaatoriks
  <b>Anton Johanna</b>
  Johani t s 1909, Kurenurme elanik Antsla rajoonis. Anton Johanna andis Heeska bande abilise
  <b>Adel Ermilda</b>
  palvel nõusoleku sõita koos Adeliga Leningradi, realiseerima Heeska bandele kuuluvat liha. Töötame välja viisi Antoni
  viimiseks Heeska salka Adel Ermilda kaudu.
</blockquote>

<blockquote>
  <b>23.02.1951</b>
  jaanuaris värvatud
  <b>Brikker Salme</b>
  (agent
  <b>“Õunapuu”</b>) teatas korralisel kohtumisel, et teda külastas Heeska bande liige Aunver Ants, kes tundis huvi tema
  arreteeritud ema, isa ja õe kohtuotsuse vastu, samuti agendi elutingimuste vastu. Agent “Õunapuu”, vastavalt saadud
  ülesandele, rääkis Aunverile, et pärast vanemate arreteerimist on tema olukord järsult halvenenud. Aunver väljendas
  seoses sellega oma süütunnet, et nemad, metsavennad olid süüdi selles, et tüdruku vanemad arreteeriti, et tüdrukul
  tulid rasked ajad ja pole kellelegi toetuda. Et nüüd, kui tüdruku ainuke lootus on metsavendadel, ei tule tema juurde
  keegi. Aunver suhtus “Õunapuusse” kaastundega ja lubas varsti taas tema talu külastada. Selle teate peale kavandame
  viisi bandiit Aunveri kinnipidamiseks agent “Õunapuu” kaudu.
</blockquote>

<blockquote>
  <b>02.1951</b>
  teatasime, et saatsime agendi
  <b>“Maret”</b>
  Tuluni rajooni Irkutski oblastisse, et ta looks side 1949. a märtsis küüditatud Hõbe Feliksi sugulastega, isa Hõbe
  Aleksandri ja õe Hõbe Ehaga. Agent “Maret” jõudis 11.03.1951 Tuluni linna, võttis ühendust Tuluni RJM RO-ga ning
  saades sealt lisaandmeid, sõitis oma vanemate elukohta Petrovski külla, kus teda kõigi väljasaadetud eestlaste poolt
  hästi vastu võeti. Kohtumisel Pilv Üloga, kes on Vastseliinas varjava bandiidi Pilve poeg, rääkis viimane, et hoiab
  oma isaga sidet. Lisaks ütles ta meie allikale, et tema isa varjab end praegu Vastseliina rajoonis Kõokülas Raudsepp
  Eduardi pool, aga lähiajal kavatseb elukohta vahetada. Järgmistel kohtumistel tegi “Maret” kindlaks, et bandiit Pilv
  on elukohta vahetanud ja asus varjama Raup Eduardi juurde samas külas Vastseliina rajoonis.
</blockquote>

<blockquote>
  <b>04.1951</b>
  külastas
  <b>“Maret”</b>
  Hõbe Feliksi vanemaid. Hõbe Feliksi õde Hõbe Eha suhtus meie agenti harukordse ettevaatlikkusega, rääkis üksnes, et
  hoidis oma venna Hõbe Feliksiga sidet vaid esimesel kahel aastal, kuid tagasiaadressi ei kirjutanud vend talle kunagi,
  mistõttu ta üldse ei tea, kus ta praegu võiks asuda.
  <br>
  Jätkates meie ülesande täitmist, lõi “Maret” side Antsla RJM osakonna poolt tagaotsitava
  <b>Kokk Karl</b>i õe ja vennaga, kes varjavad praegusel ajal Vastse Roosa metsas Varstu vallas Antsla rajoonis, kus
  neil on punker Trooda talu lähedal. Kokk peab nendega regulaarset kirjavahetust väljamõeldud nimega “Tädi. Kola” ning
  omab teise nimega passi, mille sai Varstu maksuülema Jallai kaudu. Agent “Maret” sai bandiit Kokk'a õelt ja vennalt
  viimasele soovituskirja.
  <br>
  Tuluni RJM RO ülema kaudu on agent “Maretile” antud teda – jätkaku tööd bandiitide sidemete ja asukohtade
  ülesotsimiseks nende sugulaste kaudu.
  <br>
  Kõrvuti selle ettevõtmisega oleme Heeska bande lähedaste sidemete hulgast värvanud 7 salajast informaatorit, kes on
  suunatud bandiitide asukohta ja abiliste baasi üles otsima.
</blockquote>

<blockquote>
  “Maret” oli saadetud Tuluni rajooni küüditatute sugulasi läbi töötama. Samal ajal püüti viia bandesse siseagenti ja
  valiti värbamiseks objekte kvalifitseeritud agentuurist.
  <br>
  Selleks viidi agent
  <b>“Andrei”</b>
  illegaalsesse olekusse ülesandega talle teadaolevate sidemete kaudu luua otsekontakt bandega ja imbuda sinna sisse, et
  viia salk operatiivlöögi alla.
  <br>
  Sidepidamiseks agent “Andreiga” värbasime tema naise
  <b>Taalfeld Virve</b>
  pseudonüümiga
  <b>“Liidia”</b>.
  <br>
  18. 05.1951 teatas “Liidia”, et “Andrei” lõi side kahe Heeska bande liikmega ja tal oli nendega 2 kohtumist. “Lidia”
  kaudu korraldati “Andrei” kohtumine meiega, kus “Andrei” teatas, et 7. mail kohtus ta Kurenurme rajoonis metsas
  <b>Jeeger Valter</b>iga. Viimane, nagu jutust selgus, oli juba teadlik tema illegaaliks hakkamisest. Jeeger avaldas
  allika otsuse üle rahulolu ja uuris põhjalikult, kuidas allikal õnnestus miilitsaorganite eest varjuda, kui nad
  alliakat arreteerida püüdsid. Saanud rahuldava vastuse, huvitus Jeeger allika elust illegaalina ja tema materjaalsest
  varustatusest. Sellele vastates kaebas allikas üksivarjamise raskuste üle ja väljendas muret oma sugulaste külastamise
  ohtlikkuse üle, pidades silmas, et RJM teda aktiivselt taga otsib. Jeeger Valter lubas allikale temaga sidet pidada ja
  võimaluste kohaselt kaasabi osutada. Jeeger määras järgmise kohtumise allikaga 13. maiks.
</blockquote>

<blockquote>
  <b>13.05.1951</b>
  tuli sellele kokkulepitud kohtumisele
  <b>Valter Jeeger</b>
  koos
  <b>Ants Aunver</b>iga. Jutu käigus huvitusid mõlemad allika olukorrast, milliseid talusid on ta oma varjamise ajal
  külastanud ja mis on allikale teada Julgeoleku kaastööliste kohta. Järgnenud vestluses Jeeger ja Aunver lubasid allika
  palvel anda talle püstoli, väljendasid allikale oma usaldust, rääkides allikale, kuidas on vaja varjata, kuidas
  käituda ümbritsevatega, et mitte kinni kukkuda ja juhtisid veelkord allika tähelepanu sellele, et tuleb olla
  ettevaatlik. Lisaks väljendasid nad soovi aidata allikal valida kohta punkri ehitamiseks, teatades, et nad võiksid
  võtta allika ka enda juurde, kuid ei tea taluperenaise, kelle juures nad varjavad, suhtumist sellesse. Pärast seda
  bandiidid Jeeger ja Aunver lahkusid allika juurest, teatades, et kohtuvad temaga varsti samas rajoonis, kuid kohtumise
  aega ei määranud.
</blockquote>

<blockquote>
  <b>16.05.1951</b>
  tuli bandiit
  <b>Jeeger</b>
  kolmandat korda allikaga kohtumisele ja pakkus talle teistkordselt abi punkri ehitamisel ning lahkus allika juurest,
  määramata järgmise kohtumise aega. Võimalik, et bandiidid panevad agenti proovile. Meie andsime agent “
  <b>Andrei</b>le” ülesande kasutada bandiitide teeneid ja asuda punkri ehitamisele, hoida nendega jätkuvalt sidet,
  võita nende usaldus ja punkriehituse lõpetamisel kutsuda neid sageli endale külla, kus saab bandiite meie
  operatiivlöögi alla suunata, juhul kui siseagendi suunamine bandesse peaks ebaõnnestuma.
</blockquote>

<img class="lg-img image-left w-[30%]" src="/images/sangaste/dokumendid/meeta_laurits_allkiri.jpg">

<blockquote>
  <b>12.05.1951</b>
  arreteeriti bandeabiline
  <b>Laurits Meeta</b>
  Jüri t. 1925, Urvaste valla elanik. Ta tunnistas, et peab alates 1948. a sidet Heeska bande juhi ja bandiitide
  <b>Jeeger Valter</b>i, <b>Aunvere Ants</b>u ja teistega, kuid bandiitide asukohta ei näidanud. Nähes, et Laurits Meeta
  on operatiivkasutuseks sobimatu, arreteeriti ta. Ülekuulamisel nimetas Laurits rea bande sidemeid, nende hulgas Sööde
  Ella, 50 a, eluk Urvaste vallas, kelle talu külastavad pidevalt Jeeger Valter,
  <b>Jeeger Edgar</b>
  ja Aunver Ants, kust nad saavad süüa ja varjamiskohta. Tema talus kohtus bandiitide näpunäidetel ka Meeta Laurits.
  Sööde Ella 18 aastane poeg Sööde Richard osaleb bandiitidega süstemaatiliselt joomingutel ja teab bandiitide punkrite
  asukohta. Nendel andmetel plaanime Sööde Ella ja Sööde Richardi salajast kinnivõtmist. Ülekuulamise tulemusest
  sõltuvalt otsustatakse nende värbamine ja otsingutel kasutamine või arreteerimine.
  <br>
  Urvaste elanik Sibul Maimal on Lauritsa tunnistusel bandega side. Tema talu ümbruses asub bande punker. Sibula
  sugulane, Reinumägi Aino, asub Aunver Antsu elukaaslasena illegaalina bande koosseisus. Sibul Maima kaudu kavatseme
  korralda otsekohtumise
  <b>Reinumägi Aino</b>ga, koos Reinumägi kasutamisega teejuhina bande likvideerimisel.
</blockquote>

<blockquote>
  <b>17.06.1951</b>
  Agent
  <b>“Andrei”</b>
  teatas 18. juunil k.a., et pühapäeval, 17. juunil, viibis ta Kurenurme k/n metsas Allpõder Linda maja lähedal, kus
  ootas
  <b>Jeeger Valter</b>it. Viimane tuli kl 10 hommikul koos bandeliikme <b>Aunver</b>iga. Relvadeks olid neil püstolid.
  <br>
  Sel päeval veetsid nad koos “Andreiga” 4 tundi. Nende käitumisest ja pöördumisest allika poole oli näha, et nad
  usaldavad teda. Jutu käigus rõhutasid Aunver ja Jeeger allikale vajadust osutada erilist ettevaatlikkust tutvustele
  kohaliku elanikkonna hulgas ja palusid tal endid informeerida kõigist isikutest, kellega ta on side loonud.
  <br>
  Punkriehitamise küsimuses kinnitasid Aunver ja Jeeger uuesti kavatsust allikale abi osutada, rõhutades, et punkri
  puhul pole peamine ehitus, vaid sobiva asukoha valik. Aunver ja Jeeger soovitasid ehitada punkri väiksesse ja
  hõredasse metsa, kust oleks hea võimalus juurdepääse jälgida ja ei tõmbaks endale Julgeolekuorganite tähelepanu. Nende
  meelest peaks punker asuma mõne usaldatava elaniku talu läheduses, kes suudaks abi osutada, olukorrast informeerida ja
  vajadusel Julgeoleku ohu ähvarduse korral hoiatada. Vestluse lõpus hoiatasid Aunver ja Jeeger allikat, et see
  kohtumistest nendega kellelegi ei räägiks ja kinnivõtmisel nende kohta tunnistusi ei annaks. Lahkumisel bandiidid,
  nagu alati, uut kohtumist ei määranud, teatades, et leiavad ta vajadusel ise üles.
  <br>
  Plaanitseme edaspidi tihendada agendi sidet bandiit Aunveri ja Jeegeriga, eesmärgiga, et agent “Andrei” imbuks Heeska
  salka ja meil oleks võimalik Aunver ja Jeeger kinni võtta ning kasutada neid hiljem teejuhina punkrisse.
  <br>
  Seoses sellega, et Urvaste rajoonis praegusel hetkel tegutseb agent “Andrei” ja kohtub seal Jeegeri ja Aunveriga,
  lükkame Sööde kinnivõtmise ja värbamise edasi.
  <br>
  Heeska bande otsimiseks värbasime käesoleval kuul hüüdnime all
  <b>“Miralda”</b>
  <b>Pannel Õie</b>
  Voldemari t s 1921, kes elab oma isa Kolk Voldemari talus (arreteeritud). Ta kohtus kuni 1948. a perioodiliselt Hõbe
  Feliksi ja Heeska Helmiga. “Miraldale” on antud käsk taastada varasemad suhted bandiit Hõbe Feliksiga ja viia ta
  operatiivlöögi alla.
</blockquote>

<blockquote>
  <b>4.09.1951</b>
  Konspiratiivkohtumisel 4.09.1951.a teatas agent
  <b>“Andrei”</b>, et veetis mitu päeva koos bandiit <b>Jeeger Valter</b>iga. Viimane rääkis kavatsusest röövida
  kooperatiivi, talvevarude kogumise eesmärgil. Kaupluste seas märgiti Ridala kauplust Võru raj, Toki küla Elva raj ja
  Restu kauplust Antsla raj.
</blockquote>

<blockquote>
  <b>3.09.1951</b>
  tulid
  <b>Jeeger Valter</b>i juurde bandiit
  <b>Ants Aunver</b>
  ja
  <b>Jeeger Edgar</b>, viimase initsiatiivil kavatseti 7. või 8. sept. 1951 röövida üht Antsla rajooni kooperatiividest.
  Nad tegid ka agent “Andreile”ettepaneku röövist osa võtta. Bandiidid leppisid kokku kohtuda kindlaksmääratud kohas
  6.09.1951 kl 10 hommikul. Et võtta kinni bandiidid Jeeger Valter ja Ants Aunver ning nurjata poerööv, paigutas Antsla
  RJM RO ööl vastu 6.09.1951 kohtumispaika varitsuse.
</blockquote>

<blockquote>
  <b>6.09.1951</b>
  Saabus kohtumispaika
  <b>Jeeger Valter</b>
  jalgrattal ja mitte kl 10 nagu oli kokku lepitud, vaid kl 6.30. Jätnud ratta metsateele, astus Jeeger metsaserva, kus
  põrkas kokku meie varitsusega. Varitsus, nähes, et on avastatud, võttis tarvitusele meetmed Jeegeri kinnivõtmiseks,
  kuid viimane püüdis püstolist tulistades põgenema pääseda ja tapeti jälitajate poolt. Läbiotsimisel võeti temalt ära 2
  püstolit. Ülejäänud bandiidid kohtumispaika ei ilmunud.
</blockquote>

<blockquote>
  <b>Jeeger Valter</b>
  Augusti p s 1922 Osula k/n, keskharidusega, kulakuperekonnast. Saksa okupatsiooni ajal teenis “Jahtkomandos”, sügisel
  1944 läks illegaaliks ja liitus Johannes Heeska salgaga. Salgas võttis osa paljudest terroriaktidest nõukogude
  parteiaktivistide vastu ja relvastatud kaupluseröövidest ning elanike röövimisest, sealhulgas /tõele vastab loetelust
  vaid rongirööv/:
  <br>
  1945 Linnamäe TK esimehe Tiituse tapmisest
  <br>
  1947 perek Muruoja tapmisest
  <br>
  Nõukogude armee alampolkovniku Jalakase /peaks olema Jalajase/ tapmisest Võru vallas
  <br>
  Suvel 1948 varasema Sangaste partorgi tapmisest
  <br>
  Samal aastal postivaguni röövist Valga ja Võru vahel, kust bandiidid röövisid 150 000 rbl riigiraha.
</blockquote>

<blockquote>
  <b>1.02.1952</b>
  võttis RJM Antsla osakonna operatiivgrupp Antsla valla territooriumil spetsiaalselt varustatud punkris kinni
  <b>Viirok Arnold</b>
  Karli p s 1908, kõrgharidusega. Viirok mõisteti 1947. a 17 aastaks vangilaagrisse. 1951. a põgenes Kraslag'ist ja
  varjas end Antsla rajoonis. Oli seotud Heeska salgaga.
</blockquote>

<img
  class="lg-img image-right w-[30%]"
  src="/images/sangaste/fotod/august_ottan_geni.jpg"
  alt="August Ottan. Foto: Geni"
>

<blockquote>
  <b>8.04.1952</b>
  tegi RJM Antsla rajooniosakond tšekistliku operatsiooni bandiitlikule punkrile metsas. Punkrisse tungides leiti sealt
  surnud illegaal
  <b>Ottan August</b>
  Peetri p s 1887 Vaabina k/n elanik Antsla raj, illegaal alates 1949. a. Ottan astus Saksa okupatsiooni esimestel
  päevadel “Omakaitsesse”, kus valvas raudteed ja lasi maha kaks punaarmeelast. 1949 varjus väljasaatmise eest ja läks
  illegaaliks. On oletus, et Ottan võttis punkri ümberpiiramise alguses mürki. Ottani laipa uuritakse.
</blockquote>

<blockquote>
  <b>1952</b>
  . a teadaanne:
  <br>
  Heeska salk tegutseb siiani, viimasel kahel aastal pole end ilmutanud, täpset varjamiskohta pole kindlaks tehtud.
  Salga liikmeteks loetakse
  <b>Juhan Heeska</b>, <b>Robert Heeska</b>, <b>Ants Aunver</b>,
  <b>Feliks Hõbe</b>
  ja
  <b>Edgar Jeeger</b>.
  <br>
  Heeska bande otsimise ja likvideerimise ebaedu on tingitud peamiselt usaldusväärse agentuuri puudumisest, kes oleks
  võimeline bandiitidega kontakti looma ja juhtima nad likvideerimisele. Agenti „Andrei“, kellel on võimalus luua mõnede
  bande liikmetega kontakt, ei kasutatud lõpuni ja tema kaudu likvideeriti vaid üks bandiit (Valter Jeeger). Agendid
  <b>„Ott“</b>, <b>„Rebane“</b>, <b>„Elmar“</b>, <b>„Južnõi“</b>,
  <b>„Mari“</b>
  jt lähemat juurdepääsu bandele ei oma. Bande otsimiseks ja likvideerimiseks on välja töötatud spetsiaalsed meetmed,
  kasutades agenti
  <b>„Novikov“</b>, kellel on lähedane juurdepääs bandele. Agente
  <b>„Jakob“</b>
  ja
  <b>„Andrei“</b>
  kasutatakse eesmärgiga likvideerida aktiivseid bandeliikmeid Aunveret ja Jeegerit, kellega „Andrei“ on illegaalses
  olekus korduvalt kohtunud ja kellega tal on võimalus sidet luua ka praegu.
  <br>
  Kolmest mõrvaragendist (agent-bojevikust),
  <b>„Raba“</b>,
  <b>„Andrei“</b>
  ja
  <b>„Jakob“</b>, koostati legendijärgne „natsionalistlik“ grupp. Grupp lõi usaldusliku side Heeska bande aktiivsete
  abilistega ja on lähenemas bandiitidele. Ülejäänud osa selle kategooria agentuurist on kasutusel aktiivsete
  üksikbandiitide ja illegaalide otsimisel.
  <br>
  Aprillis-mais 1952 suunati Antsla rajoonis marsruudile Heeska bandet otsima agent
  <b>„Oberst“</b>.
</blockquote>

<img
  alt="Tagaotsitavate fotoalbum. Aunver all vasakul 2 fotot."
  class="lg-img image-left w-[30%]"
  src="/images/sangaste/fotod/tagaotsimisalbum.jpg"
>

<p>
  Korraldused varjajate tabamiseks puudutasid 1952. a ka raudteed:
  <br>
</p>

<blockquote>
  Tšekistlik-sõjaliste operatsioonide läbiviimise piirkonnas territoriaalsete organite poolt saata raudteejaamadesse ja
  sõlmedesse otsimisagendid
  <b>„Petrova“</b>,
  <b>„Sibirjakova“</b>
  jt...(7), eesmärgiga tunda ära illegaale ja bandiite, kes püüavad varjumiseks ära kasutada raudteed. Otsimist viivad
  nad läbi fotode alusel. Eesti Raudtee lõpp-punktides Valgas, Petseris, Narvas ja Iklas luua püsivalt tegutsevad
  operatiivkoosseisud 3 inimesest, kes varustatakse fotodega tagaotsitavatest. Mitte lubada ebaseaduslikku sõitu
  kaubavagunitel.
  <br>
  Praktilist abi osutama bandiitiderohkemasse rajooni saata Võru rajooni ENSV RJM 2-N osakonna ülema asetäitja kpt
  Andrejev ja 3. osakonna ülema asetäitja van ltn Mürk, Vastseliina rajooni ENSV RJM 2-N osakonna ülema asetäitja major
  Zagrebalov, 2-N osak 3. osajaoskonna van oper vol n ltn Tillo ja ENSV RJM 2-N osak van oper vol Ütt (Jutt).
</blockquote>

<p>
  <b>8.05.1952</b>
  kinnitas Julgeolekuminister Moskalenko plaani "natsionalistlike gruppide, üksikbandiitide jt illegaalide
  likvideerimiseks ENSV territooriumil". Selleks loodi 3 eri-operatiivharu, millest 3. hakkas tegelema Antsla rajoonis 2
  metsavennasalgaga: Heeska (5 liiget) ja Luhtmaa (7 liiget), samuti 7 üksikvarjaja ja 34 illegaali jahtimisega. 3.
  operatiivharu ülemaks nimetati RJM Antsla rajooniosakonna ülem Mihhaljov. Metsavendade otsimiseks loodi 3
  operatiivgruppi: 1. Heeska salga otsimiseks ja likvideerimiseks: Operatiivgrupi vanem: RJM Haapsalu osak. ülema aset.
  kpt Pertsev. Operatiivkoosseis: 1. RJM Antsla osak. van. oper vol kpt Vorobjov 2. RJM Loksa osakonna oper volinik ltn
  Fedotov 3. RJM Hiiu osak oper vol ltn Tijev. Üksikvarjajate jt illegaalide otsimiseks: Operatiivgrupi vanem: RJM Jõhvi
  osak ülema aset ltn Stepanov. Operatiivkoossseis: RJM Valga osak detektiiv ltn Vainula. 2. RJM Antsla osak opervol ltn
  Vjalov 3. RJM Antsla osakonna opervol vanem (staršina) Übar (vk jubar). Heeska salga aktiivseks otsinguks pikendas
  Gavrilov ENSV RJM 2 osak ülema alampolk Peri komandeeringut.
  <br>
  Aunveri-Heeska salka nuhkisid 1952. a agendid
  <b>„Kübar“</b>, <b>„Andrei“</b>, <b>„Raba“</b>, <b>„Novikov“</b>, <b>„Ott“</b>, <b>„Maret“</b>, <b>„Rebane“</b>,
  <b>„Jakob“</b>.
</p>

<blockquote>
  Antsla rajoonis loodi spetsgrupp /libametsavendade salk/ agentidest „Raba“, „Andrei“ ja „Jakob“, et likvideerida
  Heeska Johannese bande liikmeid. Spetsgrupp tegutseb praeguseni legendi kohaselt bandena. Oma töö jooksul on
  spetsgrupp kindlaks teinud bandiitide elupunkri. Bandiitide kinnivõtmisoperatsioonil selgus, et nad olid punkrist
  lahkunud, sinna oli jäetud isiklikke asju ja varem röövitud vara. Punker lõhuti, kraam ja isiklikud asjad anti
  omanikele. Praegusel hetkel koosneb spetsgrupp kahest agendist,
  <b>„Raba“</b>
  ja
  <b>„Andrei“</b>, kellel on metsas oma hästivarjatud punker. Spetsgrupp on loonud usalduslikud suhted Heeska bande
  abilistega. Bandiidid aga ettevaatuse mõttes praegu spetsgrupiga ühendusele välja ei lähe, põhjendavad sellega, et
  spetsgrupi liikmetest ei ole nad isiklikult kellegagi tuttavad.
  <br>
  Heeska bande otsimine on näidanud, et selle liikmed varjavad end kas väikestes salkades või üksikuna. Seda arvesse
  võttes kasutame nende leidmiseks ja füüsiliseks likvideerimiseks legendiga metsasaadetud spetsgruppi, kuhu kuuluvad
  praktilises tegevuses läbiproovitud mõrvargendid
  <b>“Juri”</b>, <b>“Suvi”</b>,
  <b>“Jakob”</b>
  ja lisasime nende salka ka
  <b>“Andrei”</b>, kes tunneb näo järgi bandiite ja nende liikumise marsruute.
</blockquote>

<blockquote>
  Jätkates Heeska bande liikmete otsimist, saime agendilt
  <b>“Andrei”</b>
  andmeid selle kohta, et
  <b>Ants Aunver</b>
  tuli allika õe juurdeja tundis huvi, kuidas allikas elab ja kas ta ka õde külastab. Eesmärgiga Ants Aunver ja Heeska
  bande liikmed arreteerida või füüsiliselt hävitada, tegelevad illegaalsesse olekusse viidud agendid
  <b>“Andrei”</b>
  ja
  <b>“Jakob”</b>. Lisaks sellele saime käesoleval kuul informaator
  <b>“Jaan-Toona”</b>
  andmeid selle kohta, et illegaalselt elav bandiit
  <b>Robert Heeska</b>
  naine
  <b>Heeska Helmi</b>
  Peetri t on pöördunud Punde Natalia poole Kurenurme k/n endale passi saamise eesmärgil. Punde Natalia rääkis sellest
  meie allikale “Andrei”, viimane peale meiega kokku leppimist andis oma nõusoleku aidata Heeska Helmit passi
  muretsemisel. Kavandame Heeska Helmi ja tema kaudu teiste Heeska salga liikmete kinni võtmist.
</blockquote>

<p>
  Alates 1951 oli Johannes Heeska põhiliseks varjamiskohaks maa-alune punker Võru vallas Loosu-Navil Tupitsa talus. Ants
  Aunver lahkus koos Aino Reinumäega kaugemale maa-alusesse punkrisse soosaarele Kooraste vallas. Robert Heeska elas
  Lanna metsas maa-aluses punkris. Edgar Jeeger varjas end Jaan Saare juures Vagula külas Navi k/n. Vahel käis ta külas
  Elviira Laugasonil, lubas tema edasiõppimist rahaliselt toetada, kinnitades, et 10 000 aastas suudab ta tüdrukule
  õppimiseks anda küll. Vahel elas Edgar Jeeger Tartus sugulaste juures ja helistas sealt telefoniga Võru keskkooli
  õpetajate tuppa, kutsudes tüdrukut endale Tartusse külla ja lubades Tartu bussijaama vastu tulla. Edgar Jeegeriga
  suhtles ka Laugasonide naaber Elfriede Väre.
</p>

<blockquote>
  <b>24.10.1952</b>
  Oktoobris 1952 saadi andmed agendilt
  <b>“Ausus”</b>
  (naisterahvas) tema eelseisvast kohtumisest bande liikme
  <b>Jeeger Edgariga</b>
  ühes rajooni metsamassiivis. Nimetatud kohta pandi üles tšekistlik-sõjaline varitsus, kuhu 24.10.1952 ilmus bandiit
  Jeeger Edgar, s 1922, varasem Sõmerpalu valla elanik, kulak, illegaal alates 1949. aastast. Kinnipidamiskatsel osutas
  ta relvastatud vastupanu ja tapeti tulevahetuses. Tapetud bandiidilt võeti: automaat PPŠ, püstol TT, püstol Parabellum
  ja 132 lahingpadrunit.
</blockquote>

<blockquote>
  Töötame agent-bojevikkude (mõrvaragentide) tegevuse aktiviseerimisega bandiitlike gruppide jäänuste ja üksikbandiitide
  likvideerimisel, kes jätkavad tegutsemist ENSV territooriumil. Agent
  <b>“Raba”</b>
  juhib legendijärgset rahvuslikku salka Antsla rajoonis, kuhu kuuluvad agent-bojevikud
  <b>“Andrei”</b>
  ja
  <b>“Jakob”</b>. See grupp asus elama ühte nende poolt leitud hästi maskeeeritud talvepunkrisse metsas. “Raba” on
  loonud usalduslikud suhted Heeska salga aktiivsete abistajate (agentuurtoimik “Obretšonnõje”) Kurenurme jaama
  raudteevahtide Laan Elmari ja Rehkli Mihkiga, kes varustavad Heeska salka toiduga. Agent bojevikud töötavad läbi
  bandeabiliste sidemeid eesmärgiga siseneda nende kaudu salka. Agent-bojevik “Raba” allub 2-N liinis 1. osakonna
  ülemale Oneginile.
</blockquote>

<blockquote>
  <b>14.11.1952</b>
  Teade 2-N osakonna ülemalt Zagrebalovilt: RJM Antsla osakonnas on metsnik Saron Eduardi andmetel avastatud maa-alune
  punker Antsla metskonnas 186. kvartalis Perajärve vahtkonnas, kohti 3-4 inimesele, jälgima hakkab seda Saron ise.
  <br>
  Sama RJM osakonna agent
  <b>“Kübar”</b>
  selgitas välja maa-aluse punkri 5-6 inimesele Haller Aleksandri talu territooriumil metsamassiivis Kurenurmes, Antsla
  rajoonis. Punkri ehitasid tõenäoselt Heeska Johannese salga liikmed. Punkril hoiab silma peal spetsgrupp (ehk
  libametsavendade salk), mis koosneb agentidest “Raba” ja “Jakob”, samuti agent “Kübar”.
</blockquote>

<p>
  <b>26.03.1953</b>
  langes Loosu-Navil Mihkli talus tšekistlik-sõjalise operatsiooni käigus vangi metsavend
  <b>Johannes Heeska</b>.
</p>

<img
  alt="Edgar Henning. Foto: Geni"
  class="lg-img image-left w-[30%]"
  src="/images/sangaste/fotod/edgar_henning_geni_hall.jpg"
>

<p>
  <b>17.08.1953</b>
  tappis Julgeoleku mõrvaragent magamise pealt kirvega selga metsavend Feliks Hõbe. Tapja oli
  <b>Edgar Henning</b>, advokaat ja Saksa aegne Võru linnapea, agendinimega <b>„Jüri“</b>.
</p>

<img
  alt="Adolf Lõhmus. Foto: Geni"
  class="lg-img image-right w-[30%]"
  src="/images/sangaste/fotod/adolph_lohmus_geni.jpg"
>

<p>
  <b>1954</b>. a lõpus saatis Julgeolek Võrumaale "Heeska salga" jälgedele ENSV MN juures asuva RJK kvalifitseeritud
  agendi <b>„Täht“</b>, varasema agendinimega
  <b>"Välk"</b>

  <b>Adolf Lõhmus</b>
  s. 1908, kes osales vendade Saalistete salga likvideerimise operatsioonides 1949. a Pärnumaal, (kus Lõhmus mürgitas
  Edgar Saaliste unerohuga segatud viinaga). Võrumaale saadetuna oli ta legendi järgi illegaal ning ta seadis end sisse
  Kuldres Viiroki talus. Viirok ütles vestluses „Tähele“, et tal on sidemed
  <b>Aunver</b>i ja <b>Heeska</b>ga ning lubas agent „Tähele“ korraldada nendega kohtumise.
</p>
<blockquote>
  <b>1957</b>
  Saadi andmeid, et Aunver külastas 1957 aprillis Pärnus oma õde Puusaar Aliidet. Puusaare juurde saadeti 1957. a
  värvatud nõbu, vangistusest saabunud agent
  <b>“Kuurits”</b>. Puusaarega ja tema poegadega vesteldes selgitas „Kuurits“, et Puusaar teab Ants Aunveri asukohta,
  kuid Puusaar ei öelnud agendile, kus ta end varjab. Jätkub Puusaare läbitöötamine eesmärgil, et teha tema kaudu
  kindlaks Aunveri asukoht. 1957. a dets võttis RJK organitega ühendust Irkutski oblastist saabunud agent
  <b>„Kulinaar“</b>
  – Püvi August, kes minevikus oli seotud Inglise luureorganitega ja töötas nn Eesti Rahvuskomitee juures, selle eest
  oli süüdi mõistetud ja karistuse ära kandnud. Agendile „Kulinaar“ on antud ülesanne astuda ühendusse Ants Aunveriga,
  eesmärgiks viimane kinni pidada. Peale selle on Aunveri tagaotsimiseks 1957. a värvatud agendid
  <b>„Aksel“</b>
  ja
  <b>„Pauliine“</b>, kes on suunatud tagaotsitava sugulus- ja muid sidemeid läbi töötama. Püvi August vahistati 1945. a,
  sai 10a, laagrist vabanes 25.11.54 ja asumiselt 4.9.57. Äsjavärvatud agentide seas on kõige väärtuslikum agent
  „Kuurits“, keda aktiivselt kasutatakse relvastatud illegaali Aunveri taagaotsimiseks. Töös meiega on teda
  operatiivtehnika abil kontrollitud.
</blockquote>
<blockquote>
  Ettekanne: ENSV MN RJK 4. osakond otsis taga
  <br>
  <b>Heeska Robert</b>
  Reinholdi p s 1913, Kurenurme k/n Antsla rajoon, kulak, illegaal al 1945
  <br>
  ja
  <b>Heeska Julia</b>
  Peetri t s 1917, illegaal al 1949
  <br>
  Heeska tabamise tagas agentuur-kombinatsioon, kus kasutati meie agenti
  <b>“Eva”</b>. Agent “Eva” kaudu sai teatavaks, et Heeska ja tema naine kavatsevad tuua oma tütre Heeska Heli tagasi
  Eesti NSV-sse eriasumiselt Irkutski oblastis ja nad otsisid inimest, kes saaks tütre tagasi tuua ja enda juurde võtta.
  “Eva” on Heeska naise sugulane, mistõttu otsustati tuua Heeska Heli Eesti NSV-sse ja paigutada “Eva” korterisse, et
  agendil oleksid reaalsed tingimused tagaotsitavatega ühenduse võtmiseks. Sel eesmärgil võtsime “Evalt” kirja Heeska
  sugulastele (Siberis), milles ta andis nõusoleku võtta Heeska tütar enda juurde elama. Selle kirjaga saadeti Irkutski
  oblastisse 4. osakonna agent <b>“Mihhailova”</b>. Heeska tütar toodi Antslasse ja anti “Evale” üle. 1956. a juulis
  astus Heeska Julia oma tütrega ühendusse ja tütar hakkas “Eva” teadmata külastama oma vanemate punkrit. Samal ajal
  alustas Heeska Julia oma abistaja Punde Natalia kaudu “Evaga” kirjavahetust, milles tänas agenti hea suhtumise eest
  oma tütresse. “Eva” tegutses vastavalt meie ülesandele ja võitis Heeska Julia usalduse. Heeska Julia külastas
  22.10.1956 agenti ja viibis tema juures ööpäeva.
  <br>
  <b>24.11.1956</b>
  tuli Heeska Julia jälle “Eva” juurde ja peeti varem väljatöötatud plaani järgi agent “Eva” abil kinni. Ülekuulamisel
  tunnistas Heeska Julia, et varjas end koos mehega maa-aluses punkris Antsla rajooni metsamassiivis. Samal päeval peeti
  tšekistliku operatsiooni käigus kinni
  <b>Heeska Robert</b>. Ära võeti püstol Parabellum kaliibriga 9 mm ja välismaist marki püstol kaliibriga 7,65 mm koos
  padrunitega ning jahipüss.
</blockquote>

<blockquote>
  Aunveri ja Reinumäe tabamiseks värbas ENSV SM (vene tähed) KGB 4. osakond agendiks
  <b>“Lennuk”</b>, Aunveri nõbu.
  <br>
  13.05.1958 saabudes marsruudilt Antsla rajooni, teatas, et Reinumäe sugulane Jõõras Minna rääkis agendile, et 1954. a
  sügisel Aunver ja Reinumägi külastasid teda ning rääkisid, et neil on fiktiivsed dokumendid, millega saavad vabalt
  elada.
  <br>
  Agent
  <b>“Maret”</b>
  teatas, et kohalikud räägivad, et Aunver ja Reinumägi varjavad Tallinna lähedal Aino kunagise naabri Ernst Kärblase
  ligiduses. Agendi “Maret” andmeid kinnitas usaldusisik
  <b>“Laud”</b>.
  <br>
  Tehti kindlaks, et 40 km Tallinnast Kose rajoonis elab Kärblane Ernst Otto p s 1906, Urvaste elanik, kes töötab
  teemeistrina ja kelle abikaasa Neem Elisa on Reinumägi Aino onupoja Neem Voldemari naine.
  <br>
  Kärblase töötlemiseks saadeti agent
  <b>“Ab”</b>. Aunveri ja Reinumäe fotosid näidati samal ajal Kärblase lähedal elavale konspiratiivkorteri pidajale
  <b>“Leht”</b>, kes ütles, et fotol olev mees sarnaneb väga Kärblase juures töötavale mehele. Otsitavate täpsustamiseks
  näidati fotosid ära tundmiseks ka sotsialistliku töö kangelasele, “Edu” kolhoosi esimehele <b>Võrro</b>le, NLKP
  liikme, kelle territooriumile Kärblase teeosa jääb. Võrro teatas, et fotol olev naine töötab kolhoosi “Edu” sigalas
  nime all Kaljumägi Anna Peetri t., aga meest kohtas ta teemeister Kärblase saeraami juures. Aadressbüroost tehti
  kindlaks, et et Kaljumägil on muudetud perekonnanime algust ja eesnime, muus osas langevad andmed kokku tagaotsitava
  Reinumägi Aino Peetri t.
</blockquote>

<p>
  <b>18.08.1958</b>
  viis KGB 4. osakond läbi operatsiooni ja nad peeti kinni. Operatsiooni viisid läbi päevasel ajal 4 operatiivtöötajat,
  kes läksid saeraami juurde isikliku puidu töötlemise ettekäändel. Teinud lühikese jutu jooksul saeraami töötajatega
  kindlaks, et Aunver on kohal, võeti ta varem kokkulepitud signaali peale kinni ja toimetati KGB-sse.
</p>

<p>
  Käsk korraldada Ants Aunveri avalik kohtufarss koos järgneva mustamisega tuli NSVL MN j.a. RJK (ehk NLiidu KGB) 4.
  valitsuse ülemalt kindralleitnant <b>Pitovranov</b>ilt. Eelnevalt oli ENSV KGB ülem Karpov ja KGB 4. osakonna ülem
  Burdin kandnud Pitovranovile ette, et Ants Aunver saatis kevadel 1958 Ministrite nõukogule anonüümkirja, milles
  “väljendas laimavaid mõtteid partei ja nõukogude valitsuse kohta” (A. Aunveri kiri Hruštšovile). Samas korrati valet,
  et vangivalvurina töötades peksis Aunver julmalt kinni peetud “parteilasi ja nõukogude töölisi”.
</p>

<img alt="Jevgeni Pitovranov" class="lg-img image-left w-[30%]" src="/images/sangaste/fotod/jevgeni_pitovranov.jpg">

<p>
  <b>19.11.1958</b>
  ENSV MN j.a. RJK (ehk Eesti KGB) esimees polkovnik Karpov, ENSV MN j.a. RJK 4. osakonna ülem Burdin kandsid ette NSVL
  MN j.a. RJK (ehk NLiidu KGB) 4. valitsuse ülemale kindral ltn Pitovranovile:
</p>

<blockquote>
  Vastavalt teie käsule peetakse Aunveri asjus nõukogude parteiorganite nõusolekul avalik kohtuprotsess koos selle
  avaldamisega vabariiklikus trükis.
</blockquote>

<p>
  Näidismustamiseks valiti inimene, kelle perekonnal oli Eestiaegses ühiskonnas kõrge lugupidamine. Kohtupidamise kohaks
  sai Ants Aunveri elukoha lähim linn Antsla.
  <br>
  Avaliku kohtuistungi käigus lasi Julgeolek liikvele laimavaid valesid: et Aunver peksis vangivalvurina “loomalikult”
  kinnipeetavaid (eeluurimisel on kõik küsitletud eitanud svägivalda Aunveri poolt), et metsavennad vägistasid Pärnu
  linavabriku auto röövil naise (väidetut pole eeluurimisel mitte keegi maininud, ka mitte see isik ise, kes istungi
  protokolli kohaselt seda väidab), et Aunver tappis Nõukogude inimesi “loomalikult” jne. Lõppes see 2 päeva kestnud
  näidisüritus avaliku surmaotsuse välja kuulutamisega. Millele vaid 3 nädalat hiljem prooviti vaikselt saada NSVL
  ülemnõukogult erandit, kuna surmaotsus oli seadusevastane (teod olid toime pandud ajal, mil NLiidus surmanuhtlus
  puudus). Erandit tagantjärele saamata muudeti – endiselt salaja – otsus ära. Surnule määrati lõplik karistus: 25
  aastat töö- ja paranduslikus laagris.
  <br>
  NSVL KGB käsul avaldati vabariiklikus trükis EKP Keila rajoonikomitee ja Keila Rajooni TSN häälekandjas “Kollektiivne
  töö” kellegi Voronežist pärit Igor Gaspl'i sulest paskvill -
  <a href="/sangaste/igor-gaspl">järjejutt pealkirjaga “Jätis”</a>, 8 osas (algus 1.08.59). Sama paskvill avaldati 1960.
  a ka eraldi trükisena, nime all “Tõestisündinud lood”.
</p>
