---
layout: layouts/sangaste-layout.liquid
permalink: /sangaste/
---
<h1>Linnamäe, Urvaste ja Sangaste</h1>

<div
  id="region-map"
  data-region-map="sangaste"
  class="image-left"
  style="height: 200px; width: 300px; z-index: 0"
></div>

<p>
  Käesolev kokkuvõte vaatleb metsavendade sõjajärgset vastupanu Võrumaal läbi Ants Aunveri ja teda ümbritsenud inimeste
  käekäigu. Talupidaja Ants Aunver suutis 14 aastat vältida kõiki Julgeoleku hävitamiskatseid. Tegevuspaigaks on
  peamiselt Linnamäe, Urvaste, Sangaste ümbrus, osaliselt ka Sõmerpalu vald.
</p>

<p>
  Vaatevälja jäävad Ants Aunveri lähemad kaaslased Johannes ja Robert Heeska, Valter ja Edgar Jeeger, Artur Telling,
  Feliks Hõbe ja Kalju Visnapuu ning Aunveri elu- ja punkrikaaslane Aino Reinumägi.
</p>

<p>
  14 aasta jooksul jõudsid ootused-lootused kõvasti kõikuda ja olud muutuda tundmatuseni, vastavalt sellele ka vastupanu
  vorm. Inimsaatusi on vaadeldud ajalise jaotuse taustal:
</p>
<ul>
  <li>kuni 1944 – vastupanu vahelduvatele okupatsioonidele Vene-Saksa-Vene</li>

  <li>1945-1948 – relvastatud vastupanu kommunistlikule vägivallale</li>

  <li>1949-1952 – relvavõitluse taandumine</li>

  <li>1953-1959 – tavaellu naasmine varjunime all, tagaotsitavana</li>
</ul>
<p>
  Teave on pärit peamiselt Rahvusarhiivis leidunud Riikliku Julgeoleku arhiivitoimikutest fondidest ERAF.129SM;
  ERAF.130SM, ERAF.1.4.834, ERAF.134SM, ERAF.401; ERAF.131SM . Kasutatud on andmeid Eesti kommunismiohvrite memoriaali
  andmebaasist.
</p>

<p>
  Lisatud on kaardid, nimekiri metsas olnud isikutest ning fotod. Punkrikohad kaardil on enamasti ligikaudsed.
  Alajaotusse Isikud on märgitud metsavennad, kes on tegutsenud või varjanud koos Ants Aunveri või Johannes Heeskaga.
</p>

<p>Tänu abi eest oma perele, Aino Mustimetsale ja Endla Allasele, Eerik-Niiles Krossile jt.</p>

<p><b>Mari Pukkonen, jaanuar 2026</b></p>

<p>
  e-kiri:
  <a href="mailto:maripukkonen@gmail.com">maripukkonen@gmail.com</a>
</p>

<p>
  <i>
    NB! Kodulehel leiduva materjali (tekstide, tõlgete, kaartide ja fotode) publitseerimine on lubatud vaid kodulehe
    autori nõusolekul.
  </i>
</p>

<br>
