<h1>Isikud</h1>

<div class="space-y-1">
  {{#each people}}
  <div>
    <a href="/{{@root.region}}/isik/{{this.id_name}}">
      {{this.first_name}} {{this.last_name}}
      <br />
    </a>
  </div>
  {{/each}}
</div>
