---
layout: false
permalink: /misso/lingid/
---
<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/misso/lisad/">
  <link rel="canonical" href="/misso/lisad/">
  <title>Suunamine...</title>
</head>
<body>
  <p>Suunan lehele <a href="/misso/lisad/">/misso/lisad/</a></p>
</body>
</html>
