---
layout: layouts/misso-layout.liquid
permalink: /misso/lingid/
---
<h1>Lingid</h1>

<ul class="mt-6 space-y-3 list-none pl-0">
  <li>
    <a href="http://www.spordilinn.ee/metsavennad/" target="_blank">
      Elvira Jukk. Minu pere lugu keerukatest aastatest 1940-1951
    </a>
  </li>
  <li>
    <a href="http://www.spordilinn.ee/metsavennad2/" target="_blank">Edgar Pilt. Julgeolekumehe meenutus</a>
  </li>
  <li>
    <a href="/misso/raudvassar">Valdur Raudvassari meenutus jutuajamisest Alfred Erikuga</a>
  </li>
  <li>
    <a href="/misso/arvo-pilt">Arvo Pilt. Mälestused. III osa. 1950-1976.</a>
  </li>
</ul>
