---
layout: layouts/misso-layout.liquid
permalink: /misso/pildid/
---
<h1>Pildid</h1>

<div class="lg-gallery">
  <img
    src="/images/misso/joulud_punkris.jpg"
    alt="1951. a jõulud punkris Käbli küla lähedal. Vasakult: Endel Tikerpuu, Taisto Praks, Juhan Tikerpuu. Märkus: Lumeolud fotode seerial osutavad 1952. a jõuludele."
  >
  <img
    src="/images/misso/kalal.jpg"
    alt="1951. a suvel kalal Vaidava jõe ääres. Vasakult: Milbert Pilv, Endel Tikerpuu, Taisto Praks. Pildistas Arthur Pilv umbes pool km Laisi külast lõunas."
  >
  <img
    src="/images/misso/lootsamehed_pilve_punkrist.jpg"
    alt="Aastavahetusel 1951/1952 lõõtsa mängimas.Vasakult: Endel Tikerpuu, Taisto Praks ja Milbert Pilv. Märkus: aastalõpp 1951 oli lumeta, väga lumerohke oli aga 1952. a lõpp."
  >
  <img
    src="/images/misso/maletamas.jpg"
    alt="1950. a kevadel Parmu metsas. Vasakult: August Kuus, Karl Kaur, Raimond Pild, Voldemar Visk, Alfred Erik."
  >
  <img
    src="/images/misso/mehed_metsas_1.jpg"
    alt="Ees vasakult: Karl Kaur, Raimond Pild, taga: Alfred Erik, Voldemar Visk, August Kuus"
  >
  <img
    src="/images/misso/mehed_metsas_2.jpg"
    alt="Parmu metsas 1950. a. Vasakult: August Kuus, Karl Kaur, Raimond Pild, Voldemar Visk, Alfred Erik."
  >
  <img
    src="/images/misso/mehed_metsas_pilv.jpg"
    alt="1951. a. Vasakult: Taisto Praks ja Arthur Pilv istuvad, taga: Juhan Tikerpuu, Milbert Pilv, Endel Tikerpuu. Pildistas Mahti Saarniit punkri juures, mis asus 1, 5 km Laisi külast põhjas."
  >
  <img src="/images/misso/melanie_kaur_suurem.jpg" alt="Melanie Kaur Parmu metsas 1950. a.">
  <img
    src="/images/misso/milbert_pilv_mahti_saarniit_endel_tikerpuu.jpg"
    alt="Vasakult: Milbert Pilv, Mahti-Maimu Saarniit, Endel Tikerpuu"
  >
  <img
    src="/images/misso/relvadega_800.jpg"
    alt="Ees Endel Tikerpuu ja Mahti-Maimu Saarniit, taga Milbert Pilv. Foto: Riigiarhiiv"
  >
  <img
    src="/images/misso/punkri_ees.jpg"
    alt="Vasakult: Taisto Praks vintpüssi ja padrunilindiga, Endel Tikerpuu Degtjarjovi kergekuulipildujaga, Mahti-Maimu Saarniit, Milbert Pilv vintpüssiga. Pildistas Arthur Pilv punkri ees Käbli külast u 1km soos."
  >
  <img
    src="/images/misso/suvine_soomaaeg_pilved.jpg"
    alt="Milbert Pilve sünnipäev suvel 1951. Vasakult: Arthur Pilv, August Niilo (mängib kannelt), Mahti Saarniit, Juhan Tikerpuu, Milbert Pilv, Taisto Praks. Pildistas Endel Tikerpuu."
  >
  <img
    src="/images/misso/richard_vahi_pikutab.jpg"
    alt="Parmu metsas 1950. Richard Vähi pikutab, naiseriietes ja püstoliga Raimond Pild."
  >
  <img src="/images/misso/nali_800.jpg" alt="Naiseks maskeerunud Raimond Pild (vasakul)ja Melanie Kaur.">
  <img
    src="/images/misso/samagonniaparaat_600.jpg"
    alt="Puskariajamine metsas. Vasakult: Endel Tikerpuu, Juhan Tikerpuu, Taisto Praks. Foto: Riigiarhiiv"
  >
  <img
    src="/images/misso/mehed_karraga_800.jpg"
    alt="Puskarit säilitati piimakarras. Vasakult: Milbert Pilv, Endel Tikerpuu, Taisto Praks, Arthur Pilv. Foto: Riigiarhiiv"
  >
  <img src="/images/misso/leida_grunthal_500.jpg" alt="Leida Grünthal. Foto: Erakogu">
  <img
    src="/images/misso/richard_vahi_tytrega.jpg"
    alt="Richard Vähi koos tütre Üviga. Foto tegemise ajal elab ta metsavennana."
  >
  <img src="/images/misso/richard_vahi_elsa_vahi.jpg" alt="Richard ja Elsa Vähi">
  <img src="/images/misso/rafael_vahi_700.jpg" alt="Rafael Vähi">
  <img src="/images/misso/alfred_erik_noor_korgus_700.jpg" alt="Alfred Erik enne metsaelu. Foto: Erakogu">
  <img src="/images/misso/alfred_erik_h.jpg" alt="Alfred Erik metsavennana. Foto: Pärnu muuseum">
  <img src="/images/misso/alfred_erik_1958_700.jpg" alt="Alfred Erik vangina 1958. a. Foto: Erakogu">
  <img src="/images/misso/vilbert_erik_naise_adeelega.jpg" alt="Vilbert Erik naise Adeelega. Foto: Erakogu">
  <img src="/images/misso/arnold_lang_500.jpg" alt="Arnold Lang. Foto: Erakogu">
  <img src="/images/misso/roland_lang_suurem.jpg" alt="Roland Lang">
  <img src="/images/misso/evald_keir_suurem.jpg" alt="Evald Keir">
  <img src="/images/misso/roland_uibo_suurem.jpg" alt="Roland Uibo">
  <img src="/images/misso/rudolf_tomba_suurem.jpg" alt="Rudolf Tomba">
  <img src="/images/misso/voldemar_visk_500.jpg" alt="Voldemar Visk. Foto: Riigiarhiiv">
  <img
    src="/images/misso/rudolf_koemets_500.jpg"
    alt="Rudolf Koemets, Läti eestlasest metsavendade salga juht Aluksnest. Foto: Erakogu"
  >
  <img
    src="/images/misso/leonhard_raabis_500.jpg"
    alt="Leonhard (Leo) Rääbis (Rabuzis), Läti eestlane Rudolf Koemetsa salgast. Foto: Erakogu"
  >
  <img
    src="/images/misso/velta_kromule_500.jpg"
    alt="Velta Kromule varjunimega Aina, lätlanna Bejast, Rudolf Koemetsa salgast. Foto: Erakogu"
  >
  <img src="/images/misso/mahti_maimu_saarniit_800.jpg" alt="Mahti-Maimu Saarniit u. 25 aastasena. Foto: Erakogu">
  <img src="/images/misso/artur_pilv_700.jpg" alt="Arthur Pilv. Foto: Erakogu">
  <img
    src="/images/misso/artur_pilve_foto_Mahti3.jpg"
    alt="Mahti-Maimu Saarniit. Klaasnegatiivile pildistas Arthur Pilv. Foto: Võrumaa muuseum"
  >
  <img
    src="/images/misso/artur_pilve_foto_milbert4.jpg"
    alt="Milbert Pilv. Klaasnegatiivile pildistas Arthur Pilv. Foto: Võrumaa muuseum"
  >
  <img
    src="/images/misso/pilv_saarniit_pilt.jpg"
    alt="Milbert Pilv, Mahti-Maimu Saarniit ja Arvo Pilt 1950. a Saviojal."
  >
  <img src="/images/misso/arnold_kallaste_poeg_kaljuga.jpg" alt="Arnold Kallaste poeg Kaljuga 1935. aastal">
  <img
    src="/images/misso/kiudsoo_pilti_viimane_punker_1953_500.jpg"
    alt="O. Kiudsoo ja A. Pilti viimane punker 1953. a. Foto: Erakogu"
  >
  <img
    src="/images/misso/kiudsoo_vangilaagri_foto.jpg"
    alt="Vangilaagris viiekümnendate keskel. Oskar Kiudsoo teises reas äärmine parempoolne. Alfred Erik tema kõrval, istuva habemiku taga. Fotol peaks olema teisigi Võrumaa metsavendi."
  >
  <img
    src="/images/misso/august_kuus_arvo_pilt_meierei.jpg"
    alt="Misso piimaühingu töötajad. Arvo Pilt istub ees keskel, August Kuus teises reas paremalt teine."
  >
  <img
    src="/images/misso/punkri_ees_viiekesi_800.jpg"
    alt="Vasakult istuvad Taisto Praks, Juhan Tikerpuu, Endel Tikerpuu, Arthur Pilv, seisab Mahti-Maimu Saarniit. Foto: Riigiarhiiv"
  >
</div>
